
//- =========================================================================
//- Svelto - Dropdown v0.2.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- TODO: automatically recognize if we are passing a title or an icon (if the icon is in the allowed arrays then ok, if not print it as a title)

//- Options
  {
    id: '', // Dropdown id
    title: '', // Button title
    icon: '' // Button icon
  }

mixin dropdown-btn(options)
  - options.icon = options.icon || "expand_more";
  +button(data-dropdown=options.id)&attributes(attributes).dropdown-trigger
    if options.title
      span= options.title
    if options.icon
      +icon(options.icon)

mixin dropdown(id)
  .container(id=id)&attributes(attributes).dropdown
    block
