
//- =========================================================================
//- Svelto - Stepper v0.1.1
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    name: '', // Input name
    min: '', // Min value
    value: '', // Value
    max: '' // Max value
  }

mixin stepper(options)
  - options = options || {};
  - options.min = options.min || 0;
  - options.value = options.value || options.min;
  - options.max = options.max || 100;
  +multiple(data-min=options.min data-max=options.max)&attributes(attributes).stepper.joined
    +button-icon("remove").compact.stepper-decreaser
    if options.name
      +input({ name: name, value: value }).no-initial-bar.autogrow.compact.stepper-input
    else
      +input({ value: value }).stepper-input.autogrow.compact
    +button-icon("add").compact.stepper-increaser
