
//- =========================================================================
//- Svelto - Stepper
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    name: '', // Input name
    min: '', // Min value
    value: '', // Value
    max: '', // Max value
    step: '' // Decreasing step
  }

mixin stepper(options)
  - options = options || {};
  - options.min = options.min || 0;
  - options.value = options.value === undefined ? options.min : options.value;
  - options.max = options.max || 100;
  - options.step = options.step || 1;
  +multiple(data-min=options.min data-max=options.max data-step=options.step)&attributes(attributes).stepper.joined
    +button-icon("remove").compact.stepper-decreaser
    if options.name
      +input({ name: options.name, value: options.value }).no-initial-bar.autogrow.compact
    else
      +input({ value: options.value }).stepper-input.autogrow.compact
    +button-icon("add").compact.stepper-increaser
