
// @require core/animations/variables.scss
// @require core/colors/variables.scss
// @require widgets/container/variables.scss

/* RAILS */

$rails-extra-padding: 30px !default; // Ensuring that even if are using overlay scrollbars we have an extra margin to be confident enough that they won't be visible
$rails-scrollbar-sizes: 0, 12px, 15px, 16px, 17px !default; // Possible scrollbars' sizes that we are supporting

/* SHADOW */

$rails-shadow-width: 5em !default;
$rails-shadow-color: nth( map-get( $colors, $container-color ), 1 ) !default;

/* ANIMATION */

$rails-animation-duration: $animation-fast !default;
