
// @require widgets/icon/variables.scss

/* SORTABLE HEADER */

$table-sortable-th-padding-right: 1.75em !default;

$table-sortable-th-hover-bg-color: rgba( 255, 255, 255, .1 ) !default;
$table-sortable-th-active-bg-color: rgba( 0, 0, 0, .025 ) !default;

/* SORTABLE HEADER ICON */

$table-sortable-th-icon-opacity: .35 !default;
$table-sortable-th-icon-active-opacity: 1 !default;

$table-sortable-th-icon-right: .125em !default;
$soratable-table-th-icon-gutter: .3125em !default;

$sortable-asc-icon: icon( 'triangle-up' ) !default;
$sortable-desc-icon: icon( 'triangle-down' ) !default;
