
//- =========================================================================
//- Svelto - Notification v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    title: '', // Notification title
    body: '', // Notification body
    img: '' // Notification image
  }

mixin notification(options)
  +script&attributes(attributes) $(function () { $.notification ( !{JSON.stringify(options)} ); });
