
// @require core/animations/variables.scss

/* PANEL */

$panel-z-index: 1200 !default;

$panel-z-depth: 5 !default;
$panel-z-depth-force: true !default;
$panel-z-depth-basic: true !default;

/* ANIMATION */

$panel-animation-duration: $animation-normal !default;
