
// @require ../label.scss

/* CORNER */

.label.corner {

  @include dimension ( $label-corner-size );
  z-index: $label-corner-z-index !important;
  margin: 0 !important;
  border-width: 0 !important;
  background-color: transparent !important;
  border-radius: 0;
  display: block;
  overflow: hidden;

  /* BEFORE */

  &:before {
    content: '';
    position: absolute;
    border-color: inherit;
  }

}
