
// @require ../highlighted.scss

/* BOTTOM */

.highlight-bottom {

  border-bottom-color: $highlight-color !important;
  box-shadow: inset 0 #{-$highlight-width} 0 0 $highlight-color !important;

  &.bordered {
    box-shadow: inset 0 #{-$highlight-bordered-width} 0 0 $highlight-color !important;
  }

}
