
//- =========================================================================
//- Svelto - Syntax
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin syntax(language)
  code(class="language-" + language)&attributes(attributes)
    block
