
/* DIMENSION */

@mixin dimension ( $width, $height: $width ) {
  width: $width;
  height: $height;
}

@mixin dimension-force ( $width, $height: $width ) {
  width: $width;
  min-width: $width;
  max-width: $width;
  height: $height;
  min-height: $height;
  max-height: $height;
}
