
// @require ../../panel.scss
// @require core/layout/layout.scss

/* TOP */

.panel.top {

  height: $panel-default-y-height;

  /* CLOSED */

  &:not(.open) {
    transform: translateY(- $panel-default-y-height);
  }

}

/* LAYOUT */

.panel-layout.panel-default-pinned-top {

  padding-top: $panel-default-y-height;

  /* STICKY HEADER */

  &.layout.vertical > .layout-header.sticky {
    top: $panel-default-y-height;
  }

}
