
/* SELECTOR */

@function colors-link-get-undefined-selector () {

  $selector: '';

  @each $class in colors-link-get-classes() {

    $selector: $selector + ':not(.#{$class})';

  }

  @return $selector;

}

/* CLASSES */

@function colors-link-get-classes () {

  $classes: ();

  @each $name, $datas in $colors {

    @if index( $link-colors, $name ) {

      $classes: append( $classes, color-link-get-class( $name ) );

    }

  }

  @return $classes;

}

@function color-link-get-class ( $color ) {

  @return 'link-' + $color;

}
