
//- Radio

mixin radio(name, title, value, checked)
  if checked
    +button&attributes(attributes).radio.checked
      input(type="radio" name=name value=value checked)
      +button-center
        span title
        +icon("radio_button_checked").icon-on
        +icon("radio_button_unchecked").icon-off
  else
    +button&attributes(attributes).radio
      input(type="radio" name=name value=value)
      +button-center
        span title
        +icon("radio_button_checked").icon-on
        +icon("radio_button_unchecked").icon-off
