
// @require ../widget/variables.scss
// @require widgets/popover/variables.scss

/* REMOTE POPOVER */

$remote-popover-width: 5rem !default;
$remote-popover-height: 5rem !default;

/* ANIMATION */

$remote-popover-animation-duration: $popover-animation-duration !default;
