
/* INPUT WRAPPER */

$input-wrp-color: 'white';
$input-wrp-color-basic: true;

$input-wrp-border-radius: $border-radius-medium;

/* INPUT */

$input-color: 'inherit';
$input-color-basic: true;

$input-horizontal-padding: $label-horizontal-padding !default;
$input-vertical-padding: $label-vertical-padding !default;

$input-compact-horizontal-padding: $label-compact-horizontal-padding !default;
$input-compact-vertical-padding: $label-compact-vertical-padding !default;

/* LABEL */

$input-label-opacity: 0.75;
$input-label-font-size: 1em;
$input-label-height: $input-label-font-size * $line-height;

$input-label-active-opacity: 1;
$input-label-active-font-size: 0.8em;
$input-label-active-height: $input-label-active-font-size * $line-height;

/* BAR */

$input-bar-height: 2px;
$input-bar-z-index: 10;

/* STATES */

$input-active-color: $color-secondary;

/* OTHERS */

$input-transition-all-duration: 0.2s;

$input-disabled-opacity: 0.5;
