
//- =========================================================================
//- Svelto - Input v0.1.1
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    type: '', // Input type
    name: '', // Input name
    value: '', // Input value
    label: '' // Label
  }

mixin input(options)
  //- TODO: Make the markup lighter
  - options = options || {};
  - options.type = options.type || "text";
  - options.name = options.name || "";
  - options.value = options.value === undefined ? "" : options.value;
  .input-wrp(class=(options.label ? '' : 'no-floating'))&attributes(attributes)
    input(type=options.type value=options.value name=options.name required).text-field
    if options.label
      label= options.label
    .text-field-bar
