
//- =========================================================================
//- Svelto - Input
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    type: '', // Input type
    name: '', // Input name
    value: '', // Input value
    placeholder: '' // Placeholder
  }

mixin input(options)
  //- TODO: Make the markup lighter
  - options = options || {};
  - options.type = options.type || "text";
  - options.name = options.name || "";
  - options.placeholder = options.placeholder || "";
  - options.value = options.value === undefined ? "" : options.value;
  input(type=options.type value=options.value name=options.name placeholder=options.placeholder)&attributes(attributes)
