
//- Input

mixin input(options)
  - options = options || {};
  - options.type = options.type || "text";
  - options.value = options.value || "";
  - options.name = options.name || "";
  .input-wrp(class=(options.label ? '' : 'no-floating'))&attributes(attributes)
    input.text-field(type=options.type value=options.value name=options.name, required)
    if options.label
      label= options.label
    .text-field-bar
