//- input.jade

mixin input(options)
    if !options
        - options = {}
    .input-wrp(class=(!options.label ? 'no-floating' : ''))&attributes(attributes)
        input.text-field(type=(options.type || "text"), value=(options.value || ""), name=(options.name || ""), required)
        if options.label
            label= options.label
        .text-field-bar
