
// @require core/colors/variables.scss
// @require widgets/label/variables.scss

/* LIKER */

$liker-inner-gutter: $label-inner-gutter + .23em !default; //FIXME: A little hacky, done for having the same spacing that it would have if we used plain buttons

/* ICON */

$liker-icon-active-color: $color-secondary !default;
$liker-icon-opacity: .85 !default;
$liker-icon-hover-opacity: 1 !default;

/* COUNTER */

$liker-counter-opacity: $liker-icon-opacity !default;
$liker-counter-hover-opacity: $liker-icon-hover-opacity !default;

/* LABEL */

$liker-label-opacity: $liker-icon-opacity !default;
$liker-label-hover-opacity: $liker-icon-hover-opacity !default;

/* LIKE */

$liker-like-icon: icon( 'thumb-up' ) !default;
$liker-like-text-on: 'Like' !default;
$liker-like-text-off: 'Remove Like' !default;

/* DISLIKE */

$liker-dislike-icon: icon( 'thumb-down' ) !default;
$liker-dislike-text-on: 'Dislike' !default;
$liker-dislike-text-off: 'Remove Dislike' !default;
