
<!-- BROWSER -->

<template name="browser">

  {{{sw.divider "Browsers"}}}

  <div class="multiple fluid">
    <div class="container outlined chrome">Chrome</div>
    <div class="container outlined firefox">Firefox</div>
    <div class="container outlined edge">Edge</div>
    <div class="container outlined ie">IE</div>
    <div class="container outlined opera">Opera</div>
    <div class="container outlined safari">Safari</div>
    <div class="container outlined yandex">Yandex</div>
  </div>

  {{{sw.divider "OS"}}}

  <div class="multiple fluid">
    <div class="container outlined ios">iOS</div>
    <div class="container outlined android">Android</div>
    <div class="container outlined blackberry">Blackberry</div>
    <div class="container outlined linux">Linux</div>
    <div class="container outlined mac">Mac</div>
    <div class="container outlined windows">Windows</div>
  </div>

  {{{sw.divider "Mobile"}}}

  <div class="multiple fluid">
    <div class="container outlined mobile">Mobile</div>
    <div class="container outlined ipod">iPod</div>
    <div class="container outlined iphone">iPhone</div>
    <div class="container outlined androidPhone">Android phone</div>
    <div class="container outlined windowsPhone">Windows phone</div>
  </div>

  {{{sw.divider "Tablet"}}}

  <div class="multiple fluid">
    <div class="container outlined tablet">Tablet</div>
    <div class="container outlined ipad">iPad</div>
    <div class="container outlined androidTablet">Android tablet</div>
    <div class="container outlined windowsTablet">Windows tablet</div>
  </div>

  {{{sw.divider "Others"}}}

  <div class="multiple fluid">
    <div class="container outlined desktop">Desktop</div>
    <div class="container outlined touchDevice">Touch device</div>
  </div>

  {{{sw.divider "Connectivity"}}}

  <div class="multiple fluid">
    <div class="container outlined online">Online</div>
    <div class="container outlined offline">Offline</div>
  </div>

  {{> browser_init}}

</template>

<!-- INIT -->

<template name="browser_init">

  <script>
    for ( var prop in $.browser.is ) {
      $('.' + prop).toggleClass('green', (_.isFunction($.browser.is[prop]) ? $.browser.is[prop]() : $.browser.is[prop]));
    }
  </script>

</template>
