
<!-- BROWSER -->

<template name="browser">

  {{{sw.divider "Browsers"}}}

  <div class="multiple fluid">
    <div class="container bordered chrome">Chrome</div>
    <div class="container bordered firefox">Firefox</div>
    <div class="container bordered edge">Edge</div>
    <div class="container bordered ie">IE</div>
    <div class="container bordered opera">Opera</div>
    <div class="container bordered safari">Safari</div>
    <div class="container bordered uc">UCBrowser</div>
  </div>

  {{{sw.divider "OS"}}}

  <div class="multiple fluid">
    <div class="container bordered ios">iOS</div>
    <div class="container bordered android">Android</div>
    <div class="container bordered blackberry">Blackberry</div>
    <div class="container bordered linux">Linux</div>
    <div class="container bordered mac">Mac</div>
    <div class="container bordered windows">Windows</div>
  </div>

  {{{sw.divider "Mobile"}}}

  <div class="multiple fluid">
    <div class="container bordered mobile">Mobile</div>
    <div class="container bordered ipod">iPod</div>
    <div class="container bordered iphone">iPhone</div>
    <div class="container bordered androidPhone">Android phone</div>
    <div class="container bordered windowsPhone">Windows phone</div>
  </div>

  {{{sw.divider "Tablet"}}}

  <div class="multiple fluid">
    <div class="container bordered tablet">Tablet</div>
    <div class="container bordered ipad">iPad</div>
    <div class="container bordered androidTablet">Android tablet</div>
    <div class="container bordered windowsTablet">Windows tablet</div>
  </div>

  {{{sw.divider "Others"}}}

  <div class="multiple fluid">
    <div class="container bordered desktop">Desktop</div>
    <div class="container bordered touchDevice">Touch device</div>
  </div>

  {{{sw.divider "Connectivity"}}}

  <div class="multiple fluid">
    <div class="container bordered online">Online</div>
    <div class="container bordered offline">Offline</div>
  </div>

  {{> browser_init}}

</template>

<!-- INIT -->

<template name="browser_init">

  <script>
    var $html = $('html');
    lodash.forOwn ( Svelto.Browser.is, function ( value, key ) {
      var matched = lodash.isFunction ( value ) ? value () : value;
      $('.' + key).not ( $html ).toggleClass ( Svelto.Colors.green, matched );
    });
  </script>

</template>
