
<!-- COOKIE -->

<template name="cookie">

  {{{sw.divider "Cookie"}}}

  <div class="multiple equal joined">
    <input name="cookie_key" placeholder="Key..." class="bordered">
    <input name="cookie_value" placeholder="Value..." class="bordered">
    <input name="cookie_end" placeholder="End..." class="bordered">
    <input name="cookie_path" placeholder="Path..." class="bordered">
    <input name="cookie_domain" placeholder="Domain..." class="bordered">
    <input name="cookie_secure" placeholder="Secure..." class="bordered">
  </div>

  {{> cookie_actions}}

</template>

<!-- ACTIONS -->

<template name="cookie_actions">

  {{{sw.divider "API"}}}

  <div class="multiple">
    {{{sw.action "Get" "cookie_get ()"}}}
    {{{sw.action "Set" "cookie_set ()"}}}
    {{{sw.action "Remove" "cookie_remove ()"}}}
    {{{sw.action "Has" "cookie_has ()"}}}
    {{{sw.action "Keys" "cookie_keys ()"}}}
  </div>

  <script>
    function getValue ( name ) {
      return $('input[name="cookie_' + name + '"]').val ();
    }

    function cookie_get () {
      $.toast ( Svelto.Cookie.get ( getValue ( 'key' ) ) );
    }

    function cookie_set () {
      Svelto.Cookie.set ( getValue ( 'key' ), getValue ( 'value' ), Number ( getValue ( 'end' ) ), getValue ( 'path' ), getValue ( 'domain' ), getValue ( 'secure' ) );
    }

    function cookie_remove () {
      Svelto.Cookie.remove ( getValue ( 'key' ), getValue ( 'path' ), getValue ( 'domain' ) );
    }

    function cookie_has () {
      $.toast ( Svelto.Cookie.has ( getValue ( 'key' ) ) );
    }

    function cookie_keys () {
      $.toast ( Svelto.Cookie.keys ().join ( ' - ' ) );
    }
  </script>

</template>
