
<!-- GUTTER -->

<template name="gutter">

  {{{sw.divider "Gutter"}}}

  <div class="container outlined">{{{sample.text 35}}}</div>
  <div class="multiple equal">
    <div class="container outlined">{{{sample.text 15}}}</div>
    <div class="container outlined">{{{sample.text 15}}}</div>
    <div class="container outlined">{{{sample.text 15}}}</div>
  </div>
  <div class="container outlined">
    <div class="container outlined">{{{sample.text 35}}}</div>
    <div class="multiple equal">
      <div class="container outlined">{{{sample.text 15}}}</div>
      <div class="container outlined">{{{sample.text 15}}}</div>
      <div class="container outlined">{{{sample.text 15}}}</div>
    </div>
  </div>
  <script></script>
  <script></script>

</template>
