
<!-- LAYOUT -->

<template name="layout">

  {{{sw.divider "Layout"}}}

  <div class="layout bordered">
    <header class="layout-header">Header</header>
    <main class="layout-content">Content</main>
    <footer class="layout-footer">Footer</footer>
  </div>

  {{{sw.divider "Modal"}}}

  <div class="layout bordered">
    <header class="layout-header">Header</header>
    <main class="layout-content">{{> modal}}</main>
    <footer class="layout-footer">Footer</footer>
  </div>

  {{{sw.divider "Panel"}}}

  <div class="layout bordered">
    <header class="layout-header">Header</header>
    <main class="layout-content">{{> panel}}</main>
    <footer class="layout-footer">Footer</footer>
  </div>

  {{> layout_actions}}

</template>

<!-- ACTIONS -->

<template name="layout_actions">

  {{{sw.divider "Actions"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Sticky header" "toggle_sticky_header ()"}}}
    <div class="multiple joined">
      <div class="label bordered gray pointing-right">Remove</div>
      {{{sw.action "Header" "remove_element ( '.layout-header' )"}}}
      {{{sw.action "Footer" "remove_element ( '.layout-footer' )"}}}
    </div>
  </div>

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Horizontal" "toggle_class ( 'horizontal' )"}}}
    {{{sw.checkAction "Rounded" "toggle_class ( 'rounded' )"}}}
    {{{sw.checkAction "Fixed height " "toggle_fixed_height ()"}}}
  </div>

  <script>
    var $layouts = $('.layout .layout');

    function toggle_sticky_header () {
      $layouts.find ( '.layout-header' ).toggleClass ( 'sticky' );
    }

    function remove_element ( selector ) {
      $layouts.find ( selector ).remove ();
    }

    function toggle_class ( name ) {
      $layouts.toggleClass ( name );
    }

    function toggle_fixed_height () {
      $layouts.height ( $layouts.height () !== 200 ? 200 : 'auto' );
    }
  </script>

</template>
