
<!-- MULTIPLE -->

<template name="multiple">

  {{{sw.divider "Multiple"}}}

  <div class="multiple">
    <div class="container bordered">1</div>
    <div class="container bordered">2</div>
    <div class="container bordered">3</div>
    <div class="container bordered">4</div>
    <div class="container bordered">5</div>
    <div class="container bordered">6</div>
    <div class="container bordered">7</div>
    <div class="container bordered">8</div>
    <div class="container bordered">9</div>
    <div class="container bordered">10</div>
  </div>

  <div class="multiple">
    <div class="container bordered">Left</div>
    <div class="container bordered">Center</div>
    <div class="container bordered">Right</div>
  </div>

  <div class="multiple">
    <div class="button bordered">Left</div>
    <div class="button bordered">Center</div>
    <div class="button bordered">Right</div>
  </div>

  <div class="multiple">
    <div class="container bordered">
      <p class="truncate">{{sample.text 100}}</p>
    </div>
    <div class="container bordered">
      {{{sample.paragraph}}}
    </div>
    <div class="container bordered">Right</div>
  </div>

  {{> multiple_actions}}

  {{> multiple_tricky}}

</template>

<!-- ACTIONS -->

<template name="multiple_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    <div class="multiple actions joined">
      <div class="label bordered gray pointing-right">Center</div>
      {{{sw.checkAction "All" "toggle_class ( 'center' )"}}}
      {{{sw.checkAction "X" "toggle_class ( 'center-x' )"}}}
      {{{sw.checkAction "Y" "toggle_class ( 'center-y' )"}}}
    </div>
    {{{sw.checkAction "Equal" "toggle_class ( 'equal' )"}}}
    {{{sw.checkAction "Fluid" "toggle_class ( 'fluid' )"}}}
    {{{sw.checkAction "Joined" "toggle_class ( 'joined' )"}}}
    {{{sw.checkAction "No separators" "toggle_class ( 'no-separators' )"}}}
    {{{sw.checkAction "No wrap" "toggle_class ( 'no-wrap' )"}}}
    {{{sw.checkAction "Only separators" "toggle_class ( 'only-separators' )"}}}
    {{{sw.checkAction "Stretched" "toggle_class ( 'stretched' )"}}}
    {{{sw.checkAction "Vertical" "toggle_class ( 'vertical' )"}}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('.layout-content .multiple').not ( '.actions' ).not('.expander .multiple').toggleClass ( name );
    }
  </script>

</template>

<!-- TRICKY -->

<template name="multiple_tricky">

  {{{sw.divider "Tricky cases"}}}

  <div class="card bordered expander jtest">
    <div class="card-header bordered actionable primary expander-toggler">
      <div class="multiple center-y">
        <span>Joined</span>
        <div class="spacer"></div>
        <div class="button xsmall compact">
          <i class="icon">keyboard_arrow_down</i>
        </div>
      </div>
    </div>
    <div class="card-block expander-content">

      {{{sw.divider "Multi"}}}

      <div class="multiple joined vertical fluid">
        <div class="multiple joined equal">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="multiple joined equal">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple joined equal">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>

      {{{sw.divider "Multi vertical"}}}

      <div class="multiple joined fluid">
        <div class="multiple vertical fluid joined">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="multiple vertical fluid joined">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple vertical fluid joined">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>

      {{{sw.divider "Mixed"}}}

      <div class="multiple fluid joined stretched">
        <div class="multiple vertical joined">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="container bordered">2</div>
        <div class="container bordered">2</div>
        <div class="container bordered">2</div>
        <div class="multiple vertical joined">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>

      {{{sw.divider "Actions"}}}

      <div class="multiple actions">
        {{{sw.checkAction "No separators" "toggle_class_joined ( 'no-separators' )"}}}
        {{{sw.checkAction "Only separators" "toggle_class_joined ( 'only-separators' )"}}}
      </div>

      <script>
        function toggle_class_joined ( name ) {
          $('.jtest .multiple').toggleClass ( name );
        }
      </script>

    </div>
  </div>

  <div class="card bordered expander jntest">
    <div class="card-header bordered actionable red expander-toggler">
      <div class="multiple center-y">
        <span>Joined nested</span>
        <div class="spacer"></div>
        <div class="button xsmall compact">
          <i class="icon">keyboard_arrow_down</i>
        </div>
      </div>
    </div>
    <div class="card-block expander-content">

      {{{sw.divider "Multi"}}}

      <div class="multiple joined vertical fluid">
        <div class="multiple joined equal">
          <div class="multiple joined fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
          <div class="container bordered">1</div>
          <div class="multiple joined vertical fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
        </div>
        <div class="multiple joined equal">
          <div class="container bordered">2</div>
          <div class="multiple joined fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple joined equal">
          <div class="multiple joined vertical fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
          <div class="container bordered">3</div>
          <div class="multiple joined fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
        </div>
      </div>

      {{{sw.divider "Multi vertical"}}}

      <div class="multiple joined fluid stretched">
        <div class="multiple vertical fluid joined">
          <div class="multiple joined fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
          <div class="container bordered">1</div>
          <div class="multiple joined vertical fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
        </div>
        <div class="multiple vertical fluid stretched joined">
          <div class="container bordered">2</div>
          <div class="multiple joined fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple vertical fluid joined">
          <div class="multiple joined vertical fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
          <div class="container bordered">3</div>
          <div class="multiple joined fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
        </div>
      </div>

      {{{sw.divider "Mixed"}}}

      <div class="multiple fluid joined stretched">
        <div class="multiple vertical joined">
          <div class="multiple joined fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
          <div class="container bordered">1</div>
          <div class="multiple joined vertical fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
        </div>
        <div class="container bordered">2</div>
        <div class="container bordered">2</div>
        <div class="container bordered">2</div>
        <div class="multiple vertical joined">
          <div class="multiple joined vertical fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
          <div class="container bordered">3</div>
          <div class="multiple joined fluid">
            <div class="container bordered">X</div>
            <div class="container bordered">X</div>
          </div>
        </div>
      </div>

      {{{sw.divider "Actions"}}}

      <div class="multiple actions">
        {{{sw.checkAction "No separators" "toggle_class_njoined ( 'no-separators' )"}}}
        {{{sw.checkAction "Only separators" "toggle_class_njoined ( 'only-separators' )"}}}
      </div>

      <script>
        function toggle_class_njoined ( name ) {
          $('.jntest .multiple').toggleClass ( name );
        }
      </script>

    </div>
  </div>

  <div class="card bordered expander">
    <div class="card-header bordered actionable primary expander-toggler">
      <div class="multiple center-y">
        <span>Concat</span>
        <div class="spacer"></div>
        <div class="button xsmall compact">
          <i class="icon">keyboard_arrow_down</i>
        </div>
      </div>
    </div>
    <div class="card-block expander-content">

      {{{sw.divider "Normal"}}}

      <div class="multiple">
        <div class="multiple">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="multiple">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>

      {{{sw.divider "No wrap"}}}

      <div class="multiple">
        <div class="multiple no-wrap">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="multiple no-wrap">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple no-wrap">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>

      {{{sw.divider "Vertical"}}}

      <div class="multiple">
        <div class="multiple vertical fluid">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="multiple vertical fluid">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple vertical fluid">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>

      {{{sw.divider "Joined"}}}

      <div class="multiple">
        <div class="multiple joined">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="multiple joined">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple joined">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bordered expander">
    <div class="card-header bordered actionable primary expander-toggler">
      <div class="multiple center-y">
        <span>Concat fixed</span>
        <div class="spacer"></div>
        <div class="button xsmall compact">
          <i class="icon">keyboard_arrow_down</i>
        </div>
      </div>
    </div>
    <div class="card-block expander-content">

      {{{sw.divider "Normal"}}}

      <div class="multiple fluid">
        <div class="multiple xs-4">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="multiple xs-4">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple xs-4">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>

      {{{sw.divider "No wrap"}}}

      <div class="multiple fluid">
        <div class="multiple no-wrap xs-4">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="multiple no-wrap xs-4">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple no-wrap xs-4">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>

      {{{sw.divider "Vertical"}}}

      <div class="multiple fluid">
        <div class="multiple vertical fluid xs-4">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="multiple vertical fluid xs-4">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple vertical fluid xs-4">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>

      {{{sw.divider "Joined"}}}

      <div class="multiple fluid">
        <div class="multiple joined xs-4">
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
          <div class="container bordered">1</div>
        </div>
        <div class="multiple joined xs-4">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
        </div>
        <div class="multiple joined xs-4">
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
          <div class="container bordered">3</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bordered expander">
    <div class="card-header bordered actionable primary expander-toggler">
      <div class="multiple center-y">
        <span>Nested</span>
        <div class="spacer"></div>
        <div class="button xsmall compact">
          <i class="icon">keyboard_arrow_down</i>
        </div>
      </div>
    </div>
    <div class="card-block expander-content">

      {{{sw.divider "Normal"}}}

      <div class="multiple fluid">
        <div class="container bordered">1</div>
        <div class="container bordered">1</div>
        <div class="container bordered">1</div>
        <div class="multiple fluid">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="multiple fluid">
            <div class="container bordered">3</div>
            <div class="container bordered">3</div>
            <div class="container bordered">3</div>
          </div>
        </div>
      </div>

      {{{sw.divider "No wrap"}}}

      <div class="multiple no-wrap fluid">
        <div class="container bordered">1</div>
        <div class="container bordered">1</div>
        <div class="container bordered">1</div>
        <div class="multiple no-wrap fluid">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="multiple no-wrap fluid">
            <div class="container bordered">3</div>
            <div class="container bordered">3</div>
            <div class="container bordered">3</div>
          </div>
        </div>
      </div>

      {{{sw.divider "Vertical"}}}

      <div class="multiple vertical fluid">
        <div class="container bordered">1</div>
        <div class="container bordered">1</div>
        <div class="container bordered">1</div>
        <div class="multiple vertical fluid">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="multiple vertical fluid">
            <div class="container bordered">3</div>
            <div class="container bordered">3</div>
            <div class="container bordered">3</div>
          </div>
        </div>
      </div>

      {{{sw.divider "Joined"}}}

      <div class="multiple joined">
        <div class="container bordered">1</div>
        <div class="container bordered">1</div>
        <div class="container bordered">1</div>
        <div class="multiple joined">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="multiple joined">
            <div class="container bordered">3</div>
            <div class="container bordered">3</div>
            <div class="container bordered">3</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bordered expander">
    <div class="card-header bordered actionable primary expander-toggler">
      <div class="multiple center-y">
        <span>Nested fixed</span>
        <div class="spacer"></div>
        <div class="button xsmall compact">
          <i class="icon">keyboard_arrow_down</i>
        </div>
      </div>
    </div>
    <div class="card-block expander-content">

      {{{sw.divider "Nested"}}}

      <div class="multiple fluid">
        <div class="container bordered xs-1">1</div>
        <div class="container bordered xs-1">1</div>
        <div class="container bordered xs-1">1</div>
        <div class="multiple fluid xs-9">
          <div class="container bordered xs-1">2</div>
          <div class="container bordered xs-1">2</div>
          <div class="container bordered xs-1">2</div>
          <div class="multiple fluid xs-9">
            <div class="container bordered xs-3">3</div>
            <div class="container bordered xs-3">3</div>
            <div class="container bordered xs-3">3</div>
          </div>
        </div>
      </div>

      {{{sw.divider "Nested no wrap"}}}

      <div class="multiple no-wrap fluid">
        <div class="container bordered xs-1">1</div>
        <div class="container bordered xs-1">1</div>
        <div class="container bordered xs-1">1</div>
        <div class="multiple no-wrap fluid xs-9">
          <div class="container bordered xs-1">2</div>
          <div class="container bordered xs-1">2</div>
          <div class="container bordered xs-1">2</div>
          <div class="multiple no-wrap fluid xs-9">
            <div class="container bordered xs-3">3</div>
            <div class="container bordered xs-3">3</div>
            <div class="container bordered xs-3">3</div>
          </div>
        </div>
      </div>

      {{{sw.divider "Nested vertical"}}}

      <div class="multiple fluid">
        <div class="container bordered xs-1">1</div>
        <div class="container bordered xs-1">1</div>
        <div class="container bordered xs-1">1</div>
        <div class="multiple vertical fluid xs-9">
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="container bordered">2</div>
          <div class="multiple fluid">
            <div class="container bordered">3</div>
            <div class="container bordered">3</div>
            <div class="container bordered">3</div>
          </div>
          <div class="multiple fluid xs-9">
            <div class="container bordered xs-1">4</div>
            <div class="container bordered xs-1">4</div>
            <div class="container bordered xs-1">4</div>
            <div class="multiple vertical fluid xs-9">
              <div class="container bordered">5</div>
              <div class="container bordered">5</div>
              <div class="container bordered">5</div>
            </div>
          </div>
        </div>
      </div>

      {{{sw.divider "Nested joined"}}}

      <div class="multiple joined fluid">
        <div class="container bordered xs-3">1</div>
        <div class="container bordered xs-3">1</div>
        <div class="container bordered xs-3">1</div>
        <div class="multiple joined fluid xs-3">
          <div class="container bordered xs-3">2</div>
          <div class="container bordered xs-3">2</div>
          <div class="container bordered xs-3">2</div>
          <div class="multiple joined fluid xs-3">
            <div class="container bordered xs-4">3</div>
            <div class="container bordered xs-4">3</div>
            <div class="container bordered xs-4">3</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
