
<!-- POINTER -->

<template name="pointer">

  {{{sw.divider "Target"}}}

  <div class="square bordered centered target" style="height: 300px; width: 75%;"></div>

  {{{sw.divider "Triggered"}}}

  <div class="multiple">
    {{{sw.checkbox "Tap" "tap"}}}
    {{{sw.checkbox "Double tap" "dbltap"}}}
    {{{sw.checkbox "Down" "down"}}}
    {{{sw.checkbox "Move" "move"}}}
    {{{sw.checkbox "Up" "up"}}}
    {{{sw.checkbox "Cancel" "cancel"}}}
    {{{sw.checkbox "Over" "over"}}}
    {{{sw.checkbox "Enter" "enter"}}}
    {{{sw.checkbox "Out" "out"}}}
    {{{sw.checkbox "Leave" "leave"}}}
  </div>

  {{> pointer_init}}

  {{> pointer_actions}}

</template>

<!-- INIT -->

<template name="pointer_init">

  <script>
    function pointer_handler ( event, data ) {
      var name = event.data.name;
      if ( name === 'down' ) {
        pointer_uncheck_all ();
      }
      $('input[type="checkbox"][name="' + name + '"]').prop ( 'checked', true );
    }

    function pointer_uncheck_all () {
      $('input[type="checkbox"]').prop ( 'checked', false );
    }

    for ( var prop in Svelto.Pointer ) {
      if ( prop !== 'options' ) {
        $('.target').on ( Svelto.Pointer[prop], { name: prop }, pointer_handler );
      }
    }
  </script>

</template>

<!-- ACTIONS -->

<template name="pointer_actions">

  {{{sw.divider "Actions"}}}

  {{{sw.action "Reset" "pointer_uncheck_all ()"}}}

</template>
