
<!-- STORAGE -->

<template name="storage">

  {{{sw.divider "Storage"}}}

  <div class="multiple equal joined">
    <input name="storage_key_nr" placeholder="Key number..." class="bordered">
    <input name="storage_key" placeholder="Key..." class="bordered">
    <input name="storage_value" placeholder="Value..." class="bordered">
    <input name="storage_ttl" placeholder="Time To Live..." class="bordered">
  </div>

  {{> storage_actions}}

</template>

<!-- ACTIONS -->

<template name="storage_actions">

  {{{sw.divider "API"}}}

  <div class="multiple">
    {{{sw.action "Key" "storage_key ()"}}}
    {{{sw.action "Get" "storage_get ()"}}}
    {{{sw.action "Set" "storage_set ()"}}}
    {{{sw.action "Remove" "storage_remove ()"}}}
    {{{sw.action "Clear" "storage_clear ()"}}}
  </div>

  <script>
    function getValue ( name ) {
      return $('input[name="storage_' + name + '"]').val ();
    }

    function storage_key () {
      $.toast ( Svelto.Storage.key ( Number ( getValue ( 'key_nr' ) ) ) );
    }

    function storage_get () {
      $.toast ( Svelto.Storage.get ( getValue ( 'key' ) ) );
    }

    function storage_set () {
      var ttl = getValue ( 'ttl' );
      ttl = ttl.length ? Number ( ttl ) : undefined;
      Svelto.Storage.set ( getValue ( 'key' ), getValue ( 'value' ), ttl );
    }

    function storage_remove () {
      Svelto.Storage.remove ( getValue ( 'key' ) );
    }

    function storage_clear () {
      Svelto.Storage.clear ();
    }
  </script>

</template>
