
// @require core/animations/variables.scss
// @require core/colors/variables.scss

/* DAY */

$datepicker-day-width: 100% / 7 !default;
$datepicker-day-height: 2.5em !default;

/* DAY NAME */

$datepicker-day-name-font-weight: bold !default;

/* DAY CIRCLE */

$datepicker-day-circle-size: $datepicker-day-height * .95 !default;

/* DAY HOVER */

$datepicker-day-hover-color: $color-secondary-text !default;
$datepicker-day-hover-circle-color: transparentize( $color-secondary, .25 ) !default;

/* DAY TODAY */

$datepicker-day-today-color: $color-secondary !default;
$datepicker-day-today-circle-color: transparent !default;

/* DAY SELECTED */

$datepicker-day-selected-z-depth: 2 !default;
$datepicker-day-selected-z-depth-force: true !default;
$datepicker-day-selected-z-depth-basic: true !default;

$datepicker-day-selected-color: $color-secondary-text !default;
$datepicker-day-selected-circle-color: $color-secondary !default;

/* DAY PREV/NEXT */

$datepicker-day-prev-next-opacity: .25 !default;

/* DAY CLAMPED */

$datepicker-day-clamped-opacity: $datepicker-day-prev-next-opacity !default;

/* ANIMATION */

$datepicker-animation-duration: $animation-fast !default;
