
/* SPINNER OVERLAY */

.spinner-overlay {

  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity $spinner-overlay-animation-duration;

  /* CHILDREN */

  > * {
    margin-bottom: 0;
    transition: none; // Safari fix
    transition-property: opacity, transform;
    transition-duration: $spinner-overlay-animation-duration;
  }

  /* SPINNER */

  > svg.spinner {
    @include center-absolute-fill ();
  }

}
