
<!-- MASTER -->

<template name="master">
  {{> masterHeader}}
  <div class="layout-content">{{> yield "content"}}</div>
  {{> masterFooter}}
  {{> error_notifier}}
</template>

<!-- HEADER -->

<template name="masterHeader">
  <div class="layout-header sticky toolbar primary z-depth-4">
    <div class="multiple centered">
      <div class="button compact transparent">
        <i class="icon">menu</i>
      </div>
      <a href="/" class="large">Svelto</a>
      <div class="spacer"></div>
      <div class="button compact transparent">
        <i class="icon">refresh</i>
      </div>
      <div class="button compact transparent">
        <i class="icon">more_vert</i>
      </div>
    </div>
  </div>
</template>

<!-- FOOTER -->

<template name="masterFooter">
  <footer class="layout-footer">
    <p class="text-center">Svelto, the framework</p>
  </footer>
</template>

<!-- ERROR NOTIFIER -->

<template name="error_notifier">
  <script>
    var prevErrorId = '';
    window.onerror = function ( message, file, line ) {
      var errorId = message + file + line;
      if ( errorId !== prevErrorId ) {
        prevErrorId = errorId;
        try {
          $.noty ({
            body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message,
            ttl: 'forever',
            color: 'red'
          });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      }
    };
  </script>
</template>
