
<!-- MASTER -->

<template name="master">
  {{> masterHeader}}
  <main class="layout-content">{{> yield "content"}}</main>
  {{> masterFooter}}
  {{> error_notifier}}
</template>

<!-- HEADER -->

<template name="masterHeader">
  <header class="layout-header sticky toolbar primary z-depth-4">
    <div class="multiple center-y">
      <div class="label compact transparent">
        <i class="icon">code</i>
      </div>
      <a href="/" class="large">Svelto - Demo</a>
      <div class="spacer"></div>
      <a href="//getsvelto.com" title="Visit the website" class="button compact">WEBSITE</a><!-- //TODO: Link to the relative website page, not always the homepage-->
    </div>
  </header>
</template>

<!-- FOOTER -->

<template name="masterFooter">
  <footer class="layout-footer">
    <p class="text-center">Svelto, the framework</p>
  </footer>
</template>

<!-- ERROR NOTIFIER -->

<template name="error_notifier">
  <script>
    var prevErrorId = '';
    window.onerror = function ( message, file, line ) {
      var errorId = message + file + line;
      if ( errorId !== prevErrorId ) {
        prevErrorId = errorId;
        try {
          $.toast ({
            body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message,
            ttl: Infinity,
            color: Svelto.Colors.red
          });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      }
    };
  </script>
</template>
