//- javascript/accordion.jade

extends ../../layout.jade

append main
    +divider Accordion

    +accordion
        +expander
            +container-header("Section 1").actionable
                +container-header-right
                    +button-icon("hardware-keyboard-arrow-down").xxsmall
                +container-header-left
            +container-content Content of section 1
        +expander.opened
            +container-header("Section 2").actionable
                +container-header-right
                    +button-icon("hardware-keyboard-arrow-down").xxsmall
                +container-header-left
            +container-content Content of section 2
        +expander
            +container-header("Section 3").actionable
                +container-header-right
                    +button-icon("hardware-keyboard-arrow-down").xxsmall
                +container-header-left
            +container-content Content of section 3
