//- javascript/accordion.jade

extends ../../layout.jade

append main
    +divider Accordion

    +accordion
        +expander
            +container-header("Section 1").actionable
                +multiple-right
                    +button-icon("hardware-keyboard-arrow-down").xxsmall
            +container-content Content of section 1
        +expander.opened
            +container-header.actionable
                +multiple-left
                    p Section 2
                +multiple-right
                    +button-icon("hardware-keyboard-arrow-down").xxsmall
            +container-content Content of section 2
        +expander
            +container-header("Section 3").actionable
                +multiple-left
                    +button-icon("hardware-keyboard-arrow-down").xxsmall
            +container-content Content of section 3
        +expander
            +container-header("Section 4").actionable
                +multiple-right
                    +button-icon("hardware-keyboard-arrow-down").xxsmall
            +container-content Content of section 4
