//- javascript/accordion.jade

extends ../../layout.jade

append body
    +divider Accordion

    +accordion
        +expander
            +expander-header("Section 1")
                +expander-header-right
                    +multiple
                        +button.compact.transparent.no-padding.huge
                            +icon("hardware-keyboard-arrow-down")
            +expander-content Content of section 1
        +expander.opened
            +expander-header("Section 2")
                +expander-header-right
                    +multiple
                        +button.compact.transparent.no-padding.huge
                            +icon("hardware-keyboard-arrow-down")
            +expander-content Content of section 2
        +expander
            +expander-header("Section 3")
                +expander-header-right
                    +multiple
                        +button.compact.transparent.no-padding.huge
                            +icon("hardware-keyboard-arrow-down")
            +expander-content Content of section 3
