//- bootstrap/checkbox.jade

extends ../../layout.jade

append main
    +divider Checkbox

    form
        +multiple
            +checkbox("name1", "Base", 4)
            +checkbox("name2", "Checked", 8, true)
            +checkbox("name3", "Disabled", 32, true).checkbox-disabled
