//- bootstrap/checkbox.jade

extends ../../layout.jade

append body
    +divider Checkbox

    form
        +multiple
            +checkbox("name1", "Base", 4)
            +checkbox("name2", "Selected", 8, true)
            +checkbox("name3", "Disabled", 16, true).presto-checkbox-disabled
