//- bootstrap/dropdown.jade

extends ../../layout.jade

append main
    +divider Dropdown

    +multiple
        +dropdown-btn("Base", "base")
        +dropdown-btn-icon("action-settings", "base")
        +dropdown-btn-icon("action-settings", "base").rounded
        +dropdown-btn("Dividers", "dividers")
        +dropdown-btn("Advanced", "advanced")

append body
        +dropdown("base")
            +multiple.vertical
                +button-simple("#1").outlined.xsmall.sharp Action 1
                +divider-linear
                +button-simple("#2").outlined.xsmall.sharp Action 2
                +button-simple("#3").outlined.xsmall.sharp Action 3
        +dropdown("dividers")
            +multiple.vertical.fluid
                +button-simple("#1").outlined.xsmall.sharp Action 1
                +divider Divider
                +button-simple("#2").outlined.xsmall.sharp Action 2
                +divider-linear Divider
                +button-simple("#3").outlined.xsmall.sharp Action 3
                +divider-linear
                +button-simple("#4").outlined.xsmall.sharp Action 4
        +dropdown("advanced")
            +container-header("Header").transparent
            +container-content Content
            +container-footer Footer
