//- bootstrap/dropdown.jade

extends ../../layout.jade

append body
    +divider Dropdown

    +multiple
        +dropdown-btn("Base", "base")
        +dropdown-btn-icon("action-settings", "base")
        +dropdown-btn-icon("action-settings", "base").rounded
        +dropdown-btn("Advanced", "advanced")

append body-end
        +dropdown("base")
            +multiple.vertical
                +button("#1").outlined.tiny Action 1
                hr
                +button("#1").outlined.tiny Action 2
                +button("#1").outlined.tiny Action 3
        +dropdown("advanced")
            +container-header("Header").transparent
            +container-content Content
            +container-footer Footer
