//- javascript/expander.jade

extends ../../layout.jade

append main
    +divider Expander

    +expander
        +container-header("Base").actionable
            +container-header-right
                +button-icon("hardware-keyboard-arrow-down").xxsmall
            +container-header-left
        +container-content Content of base

    +expander
        +container-header("Icon to the left").actionable
            +container-header-left
                +button-icon("hardware-keyboard-arrow-down").xxsmall
            +container-header-right
        +container-content Content of icon to the left

    +expander.opened
        +container-header("Base - Active").actionable
            +container-header-right
                +button-icon("hardware-keyboard-arrow-down").xxsmall
            +container-header-left
        +container-content Content of base - Active


    +expander.opened
        +container-header("Base - Active").actionable
            +container-header-right
                +button-icon("hardware-keyboard-arrow-down").xxsmall
            +container-header-left
        +container-content Content of base - Active
