//- javascript/expander.jade

extends ../../layout.jade

append content
    +divider Expander

    +expander
        +expander-header("Base")
            +expander-header-right
                +multiple
                    +button.compact.transparent.no-padding.huge
                        +icon("hardware-keyboard-arrow-down")
        +expander-content Content of base

    +expander
        +expander-header("Icon to the left")
            +expander-header-left
                +multiple
                    +button.compact.transparent.no-padding.huge
                        +icon("hardware-keyboard-arrow-down")
        +expander-content Content of icon to the left

    +expander.opened
        +expander-header("Base - Active")
            +expander-header-right
                +multiple
                    +button.compact.transparent.no-padding.huge
                        +icon("hardware-keyboard-arrow-down")
        +expander-content Content of base - Active


    +expander.opened
        +expander-header("Base - Active")
            +expander-header-right
                +multiple
                    +button.compact.transparent.no-padding.huge
                        +icon("hardware-keyboard-arrow-down")
        +expander-content Content of base - Active
