//- javascript/loading.jade

extends ../../layout.jade

append main
    +divider Paragraph

    +simple-container
        p
            +lorem-ipsum

    +divider Action

    +button("loading_test()").outlined Toggle loading

append body-end
    +script.
        var loading = false;
        function loading_test () {
            loading = !loading;
            $("p").parent ( '.container' ).loading ( loading );
        }
