//- javascript/modal.jade

extends ../../layout.jade

append main
    +divider Modals

    +multiple
        +button-simple(data-modal-trigger="modal-1").outlined Normal
        +button-simple(data-modal-trigger="modal-2").outlined No footer
        +button-simple(data-modal-trigger="modal-3").outlined No title
        +button-simple(data-modal-trigger="modal-4").outlined Only content
        +button-simple(data-modal-trigger="modal-5").outlined With buttons

append body
    +modal("Normal")#modal-1
        +container-content
            +lorem-ipsum
        +container-footer The footer here

    +modal("No footer")#modal-2
        +container-content
            +lorem-ipsum

    +modal#modal-3
        +container-content
            +lorem-ipsum
        +container-footer The footer here

    +modal#modal-4
        +container-content
            +lorem-ipsum

    +modal("With buttons")#modal-5
        +container-content
            +lorem-ipsum
        +container-footer
            +multiple
                +button-simple.outlined.modal-closer Normal
                +button-simple.primary.modal-closer Primary
                +button-simple.secondary.modal-closer Secondary
