//- javascript/modal.jade

extends ../../layout.jade

append body
+divider Modals
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.outlined.modal_trigger(data-modal="modal-1") Normal
                    .button.actionable.outlined.modal_trigger(data-modal="modal-2") No footer
                    .button.actionable.outlined.modal_trigger(data-modal="modal-3") No title
                    .button.actionable.outlined.modal_trigger(data-modal="modal-4") Only content
                    .button.actionable.outlined.modal_trigger(data-modal="modal-5") With buttons

append body-end
    #modal-1.modal
        .background.closing
        .container
            .header
                .label Normal
                .sub.right
                    .multiple
                        .button.actionable.compact.mini.closing
                            .icon.icon-navigation-close
            .content
                +lorem-ipsum
            .footer The footer her
    #modal-2.modal
        .background.closing
        .container
            .header
                .label No footer
                .sub.right
                    .multiple
                        .button.actionable.compact.mini.closing
                            .icon.icon-navigation-close
            .content
                +lorem-ipsum
    #modal-3.modal
        .background.closing
        .container
            .content
                +lorem-ipsum
            .footer The footer her
    #modal-4.modal
        .background.closing
        .container
            .content
                +lorem-ipsum
    #modal-5.modal
        .background.closing
        .container
            .header
                .label With buttons
                .sub.right
                    .multiple
                        .button.actionable.compact.mini.closing
                            .icon.icon-navigation-close
            .content
                +lorem-ipsum
            .footer
                .multiple
                    button.button.actionable.outlined.closing Normal
                    button.button.actionable.primary.closing Primary
                    button.button.actionable.secondary.closing Secondary
