//- javascript/modal.jade

extends ../../layout.jade

append main
    +divider Modals

    +multiple
        +button.outlined(data-modal-trigger="modal-1") Normal
        +button.outlined(data-modal-trigger="modal-2") No footer
        +button.outlined(data-modal-trigger="modal-3") No title
        +button.outlined(data-modal-trigger="modal-4") Only content
        +button.outlined(data-modal-trigger="modal-5") With buttons

append body
    +modal("Normal")#modal-1
        +modal-content
            +lorem-ipsum
        +modal-footer The footer here

    +modal("No footer")#modal-2
        +modal-content
            +lorem-ipsum

    +modal#modal-3
        +modal-content
            +lorem-ipsum
        +modal-footer The footer here

    +modal#modal-4
        +modal-content
            +lorem-ipsum

    +modal("With buttons")#modal-5
        +modal-content
            +lorem-ipsum
        +modal-footer
            +multiple
                +button.outlined.modal-closer Normal
                +button.primary.modal-closer Primary
                +button.secondary.modal-closer Secondary
