<!DOCTYPE html><html lang="en" xml:lang="en" dir="ltr"><head><title>Presto</title><meta charset="UTF-8"><meta name="robots" content="NOYDIR"><meta name="robots" content="NOODP"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"><link rel="shortcut icon" href="/images/favicon.ico"><link rel="stylesheet" type="text/css" href="/dist/presto-min.css" media="all"><script type="text/javascript" src="/js/external/underbar.js"></script><script type="text/javascript" src="/js/external/lQuery.js"></script><script type="text/javascript" src="/dist/presto-min.js"></script></head><body><div id="navbar"><div class="content"><div id="menu_btn" class="navbar_btn actionable left"><div class="hamburger"><div class="layer_wrp"><div class="layer"></div></div></div></div><a id="logo" href="/" class="navbar_btn actionable left">Presto</a></div></div><div id="content"></div><script type="text/javascript">function noty_test_short () {
    noty ( "Short noty" );
}
function noty_test_medium () {
    noty ( "A medium noty, maybe some useful infos here" );
}
function noty_test_long () {
    noty ( "A very looooooooooong noty, maybe some tips here or whatever takes a long space, how does it fit?" );
}
function noty_test_btns_one () {
    noty ( "Noty with one button", "action", false, [{title:"Foo"}] );
}
function noty_test_btns_two () {
    noty ( "Noty with two buttons", "action", false, [{title:"Foo"},{title:"Bar"}] );
}
function noty_test_btns_three () {
    noty ( "Noty with three buttons", "action", false, [{title:"Foo"},{title:"Bar"},{title:"Baz"}] );
}
function noty_test_colored ( style ) {
    noty ( "Noty with custom color style", false, style );
}</script></body></html>