//- bootstrap/select.jade

extends ../../layout.jade

append body
    - var elo_options = { public: "Public", private: "Private", Elo: { 1200: "1200+", 1300: "1300+", 1400: "1400+", 1500: "1500+", 1600: "1600+", 1700: "1700+", 1800: "1800+", 1900: "1900+", 2000: "2000+", 2100: "2100+", } };

    +divider Select

    +multiple
        +select-btn(elo_options, "public", "base1").outlined
            | Base:
            .placeholder
        +select-btn(elo_options, "public", "base2", "action-settings").outlined
        +select-btn(elo_options, "public", "base3", "action-settings").outlined.rounded
