//- javascript/slider.jade

extends ../../layout.jade

append content
    +divider Slider

    +container
        +slider("name1", 0, 75, 100)
        +slider("name2", 0, 33, 100).presto-slider-disabled
