//- javascript/slider.jade

extends ../../layout.jade

append main
    +divider Slider

    +container-simple
        +slider("name1", 0, 23, 100)
        +slider("name2", -100, -20, 100)
        +slider("name3", 0, 60, 100, 5)
        +slider("name4", 0, 75, 100).slider-disabled
