//- javascript/slider.jade

extends ../../layout.jade

append main
    +divider Slider

    +container-simple
        +slider("name1", 0, 75, 100)
        +slider("name2", 0, 33, 100).slider-disabled
