//- javascript/switcher.jade

extends ../../layout.jade

append body
+divider Switcher
    .grid
        .grid_cols.limited
            .grid_col
                .container
                    .switcher
                        input(type="checkbox", value="Something", name="switcher_name")
                        .bar
                            .handler
                    .switcher.inactive
                        input(type="checkbox", value="Something", name="switcher_name", checked="checked")
                        .bar
                            .handler
                    .switcher
                        input(type="checkbox", value="Something", name="switcher_name")
                        .bar
                            .handler
                                .icon.icon-content-add
                    .switcher.inactive
                        input(type="checkbox", value="Something", name="switcher_name")
                        .bar
                            .handler
                                .icon.icon-content-add
                    .switcher(data-theme-on="green", data-theme-off="red")
                        input(type="checkbox", value="Something", name="switcher_name")
                        .bar
                            .handler
                    .switcher(data-theme-on="yellow", data-theme-off="teal", data-icon-on="icon-action-favorite", data-icon-off="icon-action-favorite-outline")
                        input(type="checkbox", value="Something", name="switcher_name")
                        .bar
                            .handler
                                .icon
