//- javascript/switcher.jade

extends ../../layout.jade

append body
    +divider Switcher

    +container
        +switcher("name", "Value")
        +switcher("name2", "Value2", true).presto-switcher-disabled
        +switcher({name:"name3", value:"Value3", icons:{on:"content-add"}})
        +switcher({name:"name4", value:"Value4", icons:{on:"content-add"}}).presto-switcher-disabled
        +switcher({name:"name5", value:"Value5", checked:true, colors:{on:"green",off:"red"}})
        +switcher({name:"name6", value:"Value6", colors:{on:"green",off:"red"}, icons:{on:"action-favorite", off:"action-favorite-outline"}})
