//- javascript/tabs.jade

extends ../../layout.jade

append main
    +divider Tabs

    +tabs
        +tabs-buttons
            +multiple.fluid.joined
                +button-icon("communication-chat")(title="Tab 1").outlined
                +button-icon("action-restore")(title="Tab 2").outlined
                +button-simple(title="Tab 3").outlined.active Text
                +button-icon("action-settings")(title="Tab 4").outlined
        +tabs-containers
            +tabs-buttons-indicator
            +container-simple
                +paragraph-sample.primary
            +container-simple
                +paragraph-sample.secondary
            +container-simple
                +paragraph-sample.tertiary
            +container-simple
                +paragraph-sample.quaternary

    +divider Tabs - Vertical

    +tabs.vertical
        +tabs-buttons
            +multiple.fluid.joined.vertical
                +button-icon("communication-chat")(title="Tab 1").outlined
                +button-icon("action-restore")(title="Tab 2").outlined
                +button-simple(title="Tab 3").outlined Text
                +button-icon("action-settings")(title="Tab 4").outlined
        +tabs-containers
            +tabs-buttons-indicator
            +container-simple
                +paragraph-sample.primary
            +container-simple
                +paragraph-sample.secondary
            +container-simple
                +paragraph-sample.tertiary
            +container-simple
                +paragraph-sample.quaternary
