//- javascript/tabs.jade

extends ../../layout.jade

append body
    +divider Tabs

    .tabs_wrp
        .tabs
            .tab.actionable.n4inrow.active.highlight(title="Tab 1")
                .icon.icon-communication-chat
            .tab.actionable.n4inrow.inactive(title="Tab 2")
                .icon.icon-action-restore
            .tab.actionable.n4inrow(title="Tab 3") Text
            .tab.actionable.n4inrow(title="Tab 4")
                .icon.icon-action-settings
        .contabs
            .contab.to_bottom.active [Content 1] #[+lorem-ipsum]
            .contab [Content 2] #[+lorem-ipsum]
            .contab [Content 3] #[+lorem-ipsum]
            .contab [Content 4] #[+lorem-ipsum]
