//- javascript/tabs.jade

extends ../../layout.jade

append main
    +divider Tabs

    +tabs
        +tabs-buttons
            +button-icon("communication-chat")(title="Tab 1")
            +button-icon("action-restore")(title="Tab 2")
            +button-simple(title="Tab 3") Text
            +button-icon("action-settings")(title="Tab 4")
        +tabs-contents
            +tabs-indicator.secondary
            +container-simple [Content 1] #[+lorem-ipsum]
            +container-simple [Content 2] #[+lorem-ipsum]
            +container-simple [Content 3] #[+lorem-ipsum]
            +container-simple [Content 4] #[+lorem-ipsum]
