//- javascript/tabs.jade

extends ../../layout.jade

append main
    +divider Tabs

    +tabs
        +tabs-buttons
            +tabs-button("communication-chat")(title="Tab 1")
            +tabs-button("action-restore")(title="Tab 2")
            +tabs-button(title="Tab 3") Text
            +tabs-button("action-settings")(title="Tab 4")
        +tabs-contents
            +tabs-indicator.secondary
            +tabs-content [Content 1] #[+lorem-ipsum]
            +tabs-content [Content 2] #[+lorem-ipsum]
            +tabs-content [Content 3] #[+lorem-ipsum]
            +tabs-content [Content 4] #[+lorem-ipsum]
