//- javascript/tagbox.jade

extends ../../layout.jade

append body
+divider Tagbox
    .grid
        .grid_cols.limited
            .grid_col
                .container
                    <input value="these,are,some,tags" class="tagbox" />
