//- bootstrap/advertisements.jade

extends ../layout.jade

append content
    .separator_wrp
        .separator Horizontals
    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container
                    .ad-728x90 728x90
                    .ad-320x100 320x100
                    .ad-970x250 970x250
                    .ad-970x90 970x90
                    .ad-468x60 468x60
                    .ad-320x50 320x50
                    .ad-234x60 234x60

    .separator_wrp
        .separator Verticals
    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container
                    .ad-300x600 300x600
                    .ad-300x1050 300x1050
                    .ad-160x600 160x600
                    .ad-120x600 120x600
                    .ad-120x240 120x240

    .separator_wrp
        .separator Rectangulars
    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container
                    .ad-336x280 336x280
                    .ad-300x250 300x250
                    .ad-250x250 250x250
                    .ad-200x200 200x200
                    .ad-180x150 180x150
                    .ad-125x125 125x125

    .separator_wrp
        .separator Rectangulars
    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container
                    .ad-728x15 728x15
                    .ad-468x15 468x15
                    .ad-200x90 200x90
                    .ad-180x90 180x90
                    .ad-160x90 160x90
                    .ad-120x90 120x90
