//- bootstrap/buttons.jade

extends ../layout.jade

append content
    .separator_wrp
        .separator Normal
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .multiple
                        .button.actionable Base
                        .button.actionable.rounded Rounded
                        .button.actionable.compact Compact
                        .button.actionable.active Active
                        .button.actionable.inactive Inactive

    .separator_wrp
        .separator Outlined
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .multiple
                        .button.actionable.outlined Outlined
                        .button.actionable.outlined
                            .sub.left
                                .icon.icon-action-settings
                            .label Outlined
                        .button.actionable.outlined
                            .label Outlined
                            .sub.right
                                .icon.icon-action-settings
                        .button.actionable.outlined.compact
                            .sub.left
                                .icon.icon-action-settings
                            .label Compact
                        .button.actionable.outlined.compact
                            .label Compact
                            .sub.right
                                .icon.icon-action-settings

    .separator_wrp
        .separator Conditional
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .multiple
                        .toolbar
                            .button.actionable.red Cancel
                            .conditional
                            .button.actionable.green Save

    .separator_wrp
        .separator Icon
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .multiple
                        .button.actionable
                            .icon.icon-action-settings
                        .button.actionable.compact
                            .icon.icon-action-settings
                        .button.actionable.compact.rounded
                            .icon.icon-action-settings
                        .button.actionable
                            .icon.icon-action-settings.left
                            | Settings
                        .button.actionable
                            .icon.icon-action-settings.right
                            | Settings
                        .button.actionable
                            .sub.left
                                .icon.icon-action-settings
                            .label Settings
                        .button.actionable
                            .label Settings
                            .sub.right
                                .icon.icon-action-settings
                        .button.actionable.compact
                            .sub.left
                                .icon.icon-action-settings
                            .label Settings
                        .button.actionable.compact
                            .label Settings
                            .sub.right
                                .icon.icon-action-settings

    .separator_wrp
        .separator Spinner
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .multiple
                        .button.spinner(data-min="0", data-max="100", data-start="50")
                            input(type="text", value="50", name="spinner_1")
                            .sub.left.actionable.decrease -
                            .label 50
                            .sub.right.actionable.increase +
                        .button.spinner.rounded(data-min="0", data-max="100", data-start="50")
                            input(type="text", value="50", name="spinner_1")
                            .sub.left.actionable.decrease -
                            .label 50
                            .sub.right.actionable.increase +

    .separator_wrp
        .separator Checkbox
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    form
                        .multiple
                            .button.actionable.checkbox
                                input(type="checkbox", name="check_name", value="4")
                                .label.left Base
                                .icon.on.right
                                .icon.off.right
                            .button.actionable.checkbox.selected
                                input(type="checkbox", name="check_name", value="9")
                                .label.left Selected
                                .icon.on.right
                                .icon.off.right

    .separator_wrp
        .separator Radio
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    form
                        .multiple
                            .button.actionable.radio
                                input(type="radio", name="radio_name", value="4")
                                .label.left Base
                                .icon.on.right
                                .icon.off.right
                            .button.actionable.radio.selected
                                input(type="radio", name="radio_name", value="9")
                                .label.left Selected
                                .icon.on.right
                                .icon.off.right

    .separator_wrp
        .separator Select
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                   .multiple
                        .button.actionable.select
                            .label.left
                                | Base:
                                .placeholder
                            .icon.right
                            select(placeholder="Select a value...", name="select_name1")
                                option(value="public", selected="selected") Public
                                option(value="private") Private
                                optgroup(label="Elo")
                                    option(value="1200") 1200+
                                    option(value="1300") 1300+
                                    option(value="1400") 1400+
                                    option(value="1500") 1500+
                                    option(value="1600") 1600+
                                    option(value="1700") 1700+
                                    option(value="1800") 1800+
                                    option(value="1900") 1900+
                                    option(value="2000") 2000+
                                    option(value="2100") 2100+

    .separator_wrp
        .separator Dropdown
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .multiple
                        .button.actionable.dropdown_trigger.dropdown_btn(data-dropdown="dropdown-test")
                            .label.left Base
                            .icon.right
                        .button.actionable.compact.dropdown_trigger(data-dropdown="dropdown-test")
                            .icon.icon-action-settings
                        .button.actionable.compact.rounded.dropdown_trigger(data-dropdown="dropdown-test")
                            .icon.icon-action-settings
                        .button.actionable.dropdown_trigger.dropdown_btn(data-dropdown="dropdown-test-advanced")
                            .label.left Advanced
                            .icon.right
                       #dropdown-test.dropdown
                            .top_tip
                            .left_tip
                            .right_tip
                            .container
                                .multiple.vertical
                                    a.button.actionable.outlined.tiny(href="#1") Action 1
                                    hr
                                    a.button.actionable.outlined.tiny(href="#2") Action 2
                                    a.button.actionable.outlined.tiny(href="#3") Action 3
                            .bottom_tip
                       #dropdown-test-advanced.dropdown
                            .top_tip
                            .left_tip
                            .right_tip
                            .container
                                .header.transparent Header
                                .content Content
                                .footer Footer
                            .bottom_tip

    .separator_wrp
        .separator Fluid
    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .multiple.fluid
                        .button.actionable Foo
                        .button.actionable Bar
                        .button.actionable Baz
                        .button.actionable Qux

    .separator_wrp
        .separator Vertical
    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .multiple.vertical
                        .button.actionable Foo
                        .button.actionable Bar
                        .button.actionable Baz
                        .button.actionable Qux

    .separator_wrp
        .separator Toolbar
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    form
                        .toolbar
                            .button.actionable Test
                            .button.actionable.compact
                                .icon.icon-action-settings
                            .button.spinner(data-min="0", data-max="100", data-start="50")
                                input(type="text", value="50", name="spinner_1")
                                .sub.left.actionable.decrease -
                                .label 50
                                .sub.right.actionable.increase +
                            .button.actionable.checkbox
                                input(type="checkbox", name="check_name", value="1")
                                .label.left Test
                                .icon.on.right
                                .icon.off.right
                            .button.actionable.radio
                                input(type="radio", name="radio_name", value="1")
                                .label.left Test
                                .icon.on.right
                                .icon.off.right
                            .button.actionable.select
                                .label.left
                                    | Test:
                                    .placeholder
                                .icon.right
                                select(placeholder="Select a value...", name="select_name1")
                                    option(value="public", selected="selected") Public
                                    option(value="private") Private
                                    optgroup(label="Elo")
                                        option(value="1200") 1200+
                                        option(value="1300") 1300+
                                        option(value="1400") 1400+
                                        option(value="1500") 1500+
                                        option(value="1600") 1600+
                                        option(value="1700") 1700+
                                        option(value="1800") 1800+
                                        option(value="1900") 1900+
                                        option(value="2000") 2000+
                                        option(value="2100") 2100+
                            .button.actionable.dropdown_trigger.dropdown_btn(data-dropdown="dropdown-test")
                                .label.left Test
                                .icon.right

    .separator_wrp
        .separator Toolbar - Fluid
    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    form
                        .toolbar.fluid
                            .button.actionable Test
                            .button.actionable.compact
                                .icon.icon-action-settings
                            .button.spinner(data-min="0", data-max="100", data-start="50")
                                input(type="text", value="50", name="spinner_1")
                                .sub.left.actionable.decrease -
                                .label 50
                                .sub.right.actionable.increase +
                            .button.actionable.checkbox
                                input(type="checkbox", name="check_name", value="1")
                                .label.left Test
                                .icon.on.right
                                .icon.off.right
                            .button.actionable.radio
                                input(type="radio", name="radio_name", value="1")
                                .label.left Test
                                .icon.on.right
                                .icon.off.right
                            .button.actionable.select
                                .label.left
                                    | Test:
                                    .placeholder
                                .icon.right
                                select(placeholder="Select a value...", name="select_name1")
                                    option(value="public", selected="selected") Public
                                    option(value="private") Private
                                    optgroup(label="Elo")
                                        option(value="1200") 1200+
                                        option(value="1300") 1300+
                                        option(value="1400") 1400+
                                        option(value="1500") 1500+
                                        option(value="1600") 1600+
                                        option(value="1700") 1700+
                                        option(value="1800") 1800+
                                        option(value="1900") 1900+
                                        option(value="2000") 2000+
                                        option(value="2100") 2100+
                            .button.actionable.dropdown_trigger.dropdown_btn(data-dropdown="dropdown-test")
                                .label.left Test
                                .icon.right

    .separator_wrp
        .separator Toolbar - Outlined
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .toolbar.outlined
                        .button.actionable.compact
                            .icon.icon-editor-format-align-left
                        .button.actionable.compact
                            .icon.icon-editor-format-align-center
                        .button.actionable.compact
                            .icon.icon-editor-format-align-right
                        .button.actionable.compact
                            .icon.icon-editor-format-align-justify

    .separator_wrp
        .separator Toolbars
    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .multiple
                        .toolbar
                            .button.actionable.compact
                                .icon.icon-editor-format-align-left
                            .button.actionable.compact
                                .icon.icon-editor-format-align-center
                            .button.actionable.compact
                                .icon.icon-editor-format-align-right
                            .button.actionable.compact
                                .icon.icon-editor-format-align-justify

                        .toolbar
                            .button.actionable.compact
                                .icon.icon-editor-format-bold
                            .button.actionable.compact
                                .icon.icon-editor-format-italic
                            .button.actionable.compact
                                .icon.icon-editor-format-strikethrough
                            .button.actionable.compact
                                .icon.icon-editor-format-underline
