//- bootstrap/colors.jade

extends ../layout.jade

append content
    .separator_wrp
        .separator Primary
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.primary Base
                    .button.actionable.primary.highlight Base (H)
                    .button.actionable.primary.gradient Base (G)
                    .button.actionable.primary.transparentize Base (T)
                    .button.actionable.primary.outlined Base (O)

    .separator_wrp
        .separator Secondary
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.secondary Base
                    .button.actionable.secondary.highlight Base (H)
                    .button.actionable.secondary.gradient Base (G)
                    .button.actionable.secondary.transparentize Base (T)
                    .button.actionable.secondary.outlined Base (O)

    .separator_wrp
        .separator White
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.white Base
                    .button.actionable.white.highlight Base (H)
                    .button.actionable.white.gradient Base (G)
                    .button.actionable.white.transparentize Base (T)
                    .button.actionable.white.outlined Base (O)

    .separator_wrp
        .separator Gray
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.gray Base
                    .button.actionable.gray.highlight Base (H)
                    .button.actionable.gray.gradient Base (G)
                    .button.actionable.gray.transparentize Base (T)
                    .button.actionable.gray.outlined Base (O)

    .separator_wrp
        .separator Black
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.black Base
                    .button.actionable.black.highlight Base (H)
                    .button.actionable.black.gradient Base (G)
                    .button.actionable.black.transparentize Base (T)
                    .button.actionable.black.outlined Base (O)

    .separator_wrp
        .separator Yellow
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.yellow Base
                    .button.actionable.yellow.highlight Base (H)
                    .button.actionable.yellow.gradient Base (G)
                    .button.actionable.yellow.transparentize Base (T)
                    .button.actionable.yellow.outlined Base (O)

    .separator_wrp
        .separator Green
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.green Base
                    .button.actionable.green.highlight Base (H)
                    .button.actionable.green.gradient Base (G)
                    .button.actionable.green.transparentize Base (T)
                    .button.actionable.green.outlined Base (O)

    .separator_wrp
        .separator Blue
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.blue Base
                    .button.actionable.blue.highlight Base (H)
                    .button.actionable.blue.gradient Base (G)
                    .button.actionable.blue.transparentize Base (T)
                    .button.actionable.blue.outlined Base (O)

    .separator_wrp
        .separator Orange
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.orange Base
                    .button.actionable.orange.highlight Base (H)
                    .button.actionable.orange.gradient Base (G)
                    .button.actionable.orange.transparentize Base (T)
                    .button.actionable.orange.outlined Base (O)

    .separator_wrp
        .separator Purple
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.purple Base
                    .button.actionable.purple.highlight Base (H)
                    .button.actionable.purple.gradient Base (G)
                    .button.actionable.purple.transparentize Base (T)
                    .button.actionable.purple.outlined Base (O)

    .separator_wrp
        .separator Red
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.red Base
                    .button.actionable.red.highlight Base (H)
                    .button.actionable.red.gradient Base (G)
                    .button.actionable.red.transparentize Base (T)
                    .button.actionable.red.outlined Base (O)

    .separator_wrp
        .separator Pink
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.pink Base
                    .button.actionable.pink.highlight Base (H)
                    .button.actionable.pink.gradient Base (G)
                    .button.actionable.pink.transparentize Base (T)
                    .button.actionable.pink.outlined Base (O)

    .separator_wrp
        .separator Teal
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.teal Base
                    .button.actionable.teal.highlight Base (H)
                    .button.actionable.teal.gradient Base (G)
                    .button.actionable.teal.transparentize Base (T)
                    .button.actionable.teal.outlined Base (O)

    .separator_wrp
        .separator Transparent
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.transparent Base

append body
    script(type="text/javascript").
        $.dom_ready ( function () {
            noty ( "", false, false, false, "<p>(H) Highlight <br/> (G) Gradient <br/> (T) Transparentized <br/> (O) Outlined</p>", "forever" );
        });
