//- bootstrap/expander.jade

extends ../layout.jade

append content
    .separator_wrp
        .separator Expander
    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container
                    .container.expander
                        .header.actionable
                            .label Base
                            .sub.right
                                .multiple
                                    .button.compact.transparent.no-padding.huge
                                        .icon.icon-navigation-arrow-drop-down
                        .content_wrp
                            .content Content of base
                    .container.expander
                        .header.actionable
                            .sub.left
                                .multiple
                                    .button.compact.transparent.no-padding.huge
                                        .icon.icon-navigation-arrow-drop-down
                            .label Icon to the left
                        .content_wrp
                            .content Content of icon to the left
                    .container.expander.active
                        .header.actionable.active
                            .label Base (Active)
                            .sub.right
                                .multiple
                                    .button.compact.transparent.no-padding.huge
                                        .icon.icon-navigation-arrow-drop-down
                        .content_wrp
                            .content Content of base (Active)
                    .container.expander.inactive
                        .header.actionable.inactive
                            .label Base (Inactive)
                            .sub.right
                                .multiple
                                    .button.compact.transparent.no-padding.huge
                                        .icon.icon-navigation-arrow-drop-down
                        .content_wrp
                            .content Content of base (Inactive)

