//- bootstrap/grid.jade

extends ../layout.jade

append navbar
    #sidebar_toggler.navbar_btn.actionable.right
        .icon.icon-navigation-more-vert

append content
    .separator_wrp
        .separator Limited - Fluid
    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12

    .separator_wrp
        .separator Fluid
    .grid
        .grid_cols.fluid
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
            .grid_col
                .container 20
        .grid_cols.fluid
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
            .grid_col
                .container 12
        .grid_cols.fluid
            .grid_col
                .container 7
            .grid_col
                .container 7
            .grid_col
                .container 7
            .grid_col
                .container 7
            .grid_col
                .container 7
            .grid_col
                .container 7
            .grid_col
                .container 7
        .grid_cols.fluid
            .grid_col
                .container 5
            .grid_col
                .container 5
            .grid_col
                .container 5
            .grid_col
                .container 5
            .grid_col
                .container 5
        .grid_cols.fluid
            .grid_col
                .container 3
            .grid_col
                .container 3
            .grid_col
                .container 3
        .grid_cols.fluid
            .grid_col
                .container 2
            .grid_col
                .container 2
        .grid_cols.fluid
            .grid_col
                .container 1

    .separator_wrp
        .separator Nested
    .grid
        .grid_cols.fluid
            .grid_col
                .container
                    p Outside
                    .container.teal
                        p Inside
                        .container.pink
                            p Insider

    .separator_wrp
        .separator Advanced
    .grid
        .grid_cols.fluid
            .grid_col
                .container
                    .header
                        .sub.left
                            .multiple
                                .button.actionable.compact.mini
                                    .icon.icon-action-thumb-down
                                .button.actionable.compact.mini
                                    .icon.icon-action-thumb-up
                        .label Header
                        .sub.right
                            .multiple
                                .button.actionable.compact.mini
                                    .icon.icon-navigation-apps
                                .button.actionable.compact.mini
                                    .icon.icon-navigation-menu
                                .button.actionable.compact.mini
                                    .icon.icon-navigation-more-vert
                                .button.actionable.compact.mini
                                    .icon.icon-navigation-refresh
                    .content Content
                    .footer Footer

    .separator_wrp
        .separator Vertical
    .grid
        .grid_cols.vertical
            .grid_col
                .container 3
            .grid_col
                .container 3
            .grid_col
                .container 3

    .separator_wrp
        .separator Vertical - Joined
    .grid
        .grid_cols.vertical.joined
            .grid_col
                .container 3
            .grid_col
                .container 3
            .grid_col
                .container 3

    .separator_wrp
        .separator Default
    .grid
        .grid_cols
            .grid_col.w25-100
                .container 25
            .grid_col.w50-100
                .container 50
            .grid_col.w25-100
                .container 25

    .separator_wrp
        .separator Joined
    .grid
        .grid_cols.joined
            .grid_col.w25-100
                .container 25
            .grid_col.w50-100
                .container 50
            .grid_col.w25-100
                .container 25

    .separator_wrp
        .separator Complex 1
    .grid
        .grid_cols
            .grid_col.w35-100
                .grid_cols.vertical
                    .grid_col
                        .container 3
                    .grid_col
                        .container 3
                    .grid_col
                        .container 3
            .grid_col.w65-100
                .container 1

    .separator_wrp
        .separator Complex 2
    .grid
        .grid_cols
            .grid_col.w65-100
                .grid_cols.vertical
                    .grid_col
                        .container 3
                    .grid_cols.fluid.joined
                        .grid_col
                            .container 1.5
                        .grid_col
                            .container 1.5
                    .grid_col
                        .container 3
            .grid_col.w35-100
                .container 1

    .separator_wrp
        .separator Complex 3
    .grid
        .grid_cols
            .grid_col.w80-100
                .grid_cols.vertical
                    .grid_col
                        .container 3
                    .grid_col
                        .grid_cols.fluid
                            .grid_col
                                .container 1.5
                            .grid_col
                                .grid_cols.vertical
                                    .grid_col
                                        .container 0.5
                                    .grid_col
                                        .container 0.5
                                    .grid_col
                                        .container 0.5
                    .grid_col
                        .container 3
            .grid_col.w20-100
                .container 1

    .separator_wrp
        .separator Full size
    .grid
        .grid_cols.full_size
            .grid_col.w100-100
                .container Full size

    .separator_wrp
        .separator Full size - Sidebar - Limited
    .grid
        .grid_cols.full_size.joined.has_sidebar.limited
            .grid_col.w65-100
                .container Main
            .grid_col.w35-100
                .container Sidebar
