//- bootstrap/icons.jade

extends ../layout.jade

append content
    .separator_wrp
        .separator Action
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-action-3d-rotation
                    .button.actionable.compact.outlined
                        .icon.icon-action-accessibility
                    .button.actionable.compact.outlined
                        .icon.icon-action-account-balance
                    .button.actionable.compact.outlined
                        .icon.icon-action-account-balance-wallet
                    .button.actionable.compact.outlined
                        .icon.icon-action-account-box
                    .button.actionable.compact.outlined
                        .icon.icon-action-account-child
                    .button.actionable.compact.outlined
                        .icon.icon-action-account-circle
                    .button.actionable.compact.outlined
                        .icon.icon-action-add-shopping-cart
                    .button.actionable.compact.outlined
                        .icon.icon-action-alarm
                    .button.actionable.compact.outlined
                        .icon.icon-action-alarm-add
                    .button.actionable.compact.outlined
                        .icon.icon-action-alarm-off
                    .button.actionable.compact.outlined
                        .icon.icon-action-alarm-on
                    .button.actionable.compact.outlined
                        .icon.icon-action-android
                    .button.actionable.compact.outlined
                        .icon.icon-action-announcement
                    .button.actionable.compact.outlined
                        .icon.icon-action-aspect-ratio
                    .button.actionable.compact.outlined
                        .icon.icon-action-assessment
                    .button.actionable.compact.outlined
                        .icon.icon-action-assignment
                    .button.actionable.compact.outlined
                        .icon.icon-action-assignment-ind
                    .button.actionable.compact.outlined
                        .icon.icon-action-assignment-late
                    .button.actionable.compact.outlined
                        .icon.icon-action-assignment-return
                    .button.actionable.compact.outlined
                        .icon.icon-action-assignment-returned
                    .button.actionable.compact.outlined
                        .icon.icon-action-assignment-turned-in
                    .button.actionable.compact.outlined
                        .icon.icon-action-autorenew
                    .button.actionable.compact.outlined
                        .icon.icon-action-backup
                    .button.actionable.compact.outlined
                        .icon.icon-action-book
                    .button.actionable.compact.outlined
                        .icon.icon-action-bookmark
                    .button.actionable.compact.outlined
                        .icon.icon-action-bookmark-outline
                    .button.actionable.compact.outlined
                        .icon.icon-action-bug-report
                    .button.actionable.compact.outlined
                        .icon.icon-action-cached
                    .button.actionable.compact.outlined
                        .icon.icon-action-class
                    .button.actionable.compact.outlined
                        .icon.icon-action-credit-card
                    .button.actionable.compact.outlined
                        .icon.icon-action-dashboard
                    .button.actionable.compact.outlined
                        .icon.icon-action-delete
                    .button.actionable.compact.outlined
                        .icon.icon-action-description
                    .button.actionable.compact.outlined
                        .icon.icon-action-dns
                    .button.actionable.compact.outlined
                        .icon.icon-action-done
                    .button.actionable.compact.outlined
                        .icon.icon-action-done-all
                    .button.actionable.compact.outlined
                        .icon.icon-action-event
                    .button.actionable.compact.outlined
                        .icon.icon-action-exit-to-app
                    .button.actionable.compact.outlined
                        .icon.icon-action-explore
                    .button.actionable.compact.outlined
                        .icon.icon-action-extension
                    .button.actionable.compact.outlined
                        .icon.icon-action-face-unlock
                    .button.actionable.compact.outlined
                        .icon.icon-action-favorite
                    .button.actionable.compact.outlined
                        .icon.icon-action-favorite-outline
                    .button.actionable.compact.outlined
                        .icon.icon-action-find-in-page
                    .button.actionable.compact.outlined
                        .icon.icon-action-find-replace
                    .button.actionable.compact.outlined
                        .icon.icon-action-flip-to-back
                    .button.actionable.compact.outlined
                        .icon.icon-action-flip-to-front
                    .button.actionable.compact.outlined
                        .icon.icon-action-get-app
                    .button.actionable.compact.outlined
                        .icon.icon-action-grade
                    .button.actionable.compact.outlined
                        .icon.icon-action-group-work
                    .button.actionable.compact.outlined
                        .icon.icon-action-help
                    .button.actionable.compact.outlined
                        .icon.icon-action-highlight-remove
                    .button.actionable.compact.outlined
                        .icon.icon-action-history
                    .button.actionable.compact.outlined
                        .icon.icon-action-home
                    .button.actionable.compact.outlined
                        .icon.icon-action-https
                    .button.actionable.compact.outlined
                        .icon.icon-action-info
                    .button.actionable.compact.outlined
                        .icon.icon-action-info-outline
                    .button.actionable.compact.outlined
                        .icon.icon-action-input
                    .button.actionable.compact.outlined
                        .icon.icon-action-invert-colors
                    .button.actionable.compact.outlined
                        .icon.icon-action-label
                    .button.actionable.compact.outlined
                        .icon.icon-action-label-outline
                    .button.actionable.compact.outlined
                        .icon.icon-action-language
                    .button.actionable.compact.outlined
                        .icon.icon-action-launch
                    .button.actionable.compact.outlined
                        .icon.icon-action-list
                    .button.actionable.compact.outlined
                        .icon.icon-action-lock
                    .button.actionable.compact.outlined
                        .icon.icon-action-lock-open
                    .button.actionable.compact.outlined
                        .icon.icon-action-lock-outline
                    .button.actionable.compact.outlined
                        .icon.icon-action-loyalty
                    .button.actionable.compact.outlined
                        .icon.icon-action-markunread-mailbox
                    .button.actionable.compact.outlined
                        .icon.icon-action-note-add
                    .button.actionable.compact.outlined
                        .icon.icon-action-open-in-browser
                    .button.actionable.compact.outlined
                        .icon.icon-action-open-in-new
                    .button.actionable.compact.outlined
                        .icon.icon-action-open-with
                    .button.actionable.compact.outlined
                        .icon.icon-action-pageview
                    .button.actionable.compact.outlined
                        .icon.icon-action-payment
                    .button.actionable.compact.outlined
                        .icon.icon-action-perm-camera-mic
                    .button.actionable.compact.outlined
                        .icon.icon-action-perm-contact-cal
                    .button.actionable.compact.outlined
                        .icon.icon-action-perm-data-setting
                    .button.actionable.compact.outlined
                        .icon.icon-action-perm-device-info
                    .button.actionable.compact.outlined
                        .icon.icon-action-perm-identity
                    .button.actionable.compact.outlined
                        .icon.icon-action-perm-media
                    .button.actionable.compact.outlined
                        .icon.icon-action-perm-phone-msg
                    .button.actionable.compact.outlined
                        .icon.icon-action-perm-scan-wifi
                    .button.actionable.compact.outlined
                        .icon.icon-action-picture-in-picture
                    .button.actionable.compact.outlined
                        .icon.icon-action-polymer
                    .button.actionable.compact.outlined
                        .icon.icon-action-print
                    .button.actionable.compact.outlined
                        .icon.icon-action-query-builder
                    .button.actionable.compact.outlined
                        .icon.icon-action-question-answer
                    .button.actionable.compact.outlined
                        .icon.icon-action-receipt
                    .button.actionable.compact.outlined
                        .icon.icon-action-redeem
                    .button.actionable.compact.outlined
                        .icon.icon-action-report-problem
                    .button.actionable.compact.outlined
                        .icon.icon-action-restore
                    .button.actionable.compact.outlined
                        .icon.icon-action-room
                    .button.actionable.compact.outlined
                        .icon.icon-action-schedule
                    .button.actionable.compact.outlined
                        .icon.icon-action-search
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-applications
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-backup-restore
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-bluetooth
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-cell
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-display
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-ethernet
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-input-antenna
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-input-component
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-input-composite
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-input-hdmi
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-input-svideo
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-overscan
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-phone
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-power
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-remote
                    .button.actionable.compact.outlined
                        .icon.icon-action-settings-voice
                    .button.actionable.compact.outlined
                        .icon.icon-action-shop
                    .button.actionable.compact.outlined
                        .icon.icon-action-shopping-basket
                    .button.actionable.compact.outlined
                        .icon.icon-action-shopping-cart
                    .button.actionable.compact.outlined
                        .icon.icon-action-shop-two
                    .button.actionable.compact.outlined
                        .icon.icon-action-speaker-notes
                    .button.actionable.compact.outlined
                        .icon.icon-action-spellcheck
                    .button.actionable.compact.outlined
                        .icon.icon-action-star-rate
                    .button.actionable.compact.outlined
                        .icon.icon-action-stars
                    .button.actionable.compact.outlined
                        .icon.icon-action-store
                    .button.actionable.compact.outlined
                        .icon.icon-action-subject
                    .button.actionable.compact.outlined
                        .icon.icon-action-swap-horiz
                    .button.actionable.compact.outlined
                        .icon.icon-action-swap-vert
                    .button.actionable.compact.outlined
                        .icon.icon-action-swap-vert-circle
                    .button.actionable.compact.outlined
                        .icon.icon-action-system-update-tv
                    .button.actionable.compact.outlined
                        .icon.icon-action-tab
                    .button.actionable.compact.outlined
                        .icon.icon-action-tab-unselected
                    .button.actionable.compact.outlined
                        .icon.icon-action-theaters
                    .button.actionable.compact.outlined
                        .icon.icon-action-thumb-down
                    .button.actionable.compact.outlined
                        .icon.icon-action-thumbs-up-down
                    .button.actionable.compact.outlined
                        .icon.icon-action-thumb-up
                    .button.actionable.compact.outlined
                        .icon.icon-action-toc
                    .button.actionable.compact.outlined
                        .icon.icon-action-today
                    .button.actionable.compact.outlined
                        .icon.icon-action-track-changes
                    .button.actionable.compact.outlined
                        .icon.icon-action-translate
                    .button.actionable.compact.outlined
                        .icon.icon-action-trending-down
                    .button.actionable.compact.outlined
                        .icon.icon-action-trending-neutral
                    .button.actionable.compact.outlined
                        .icon.icon-action-trending-up
                    .button.actionable.compact.outlined
                        .icon.icon-action-turned-in
                    .button.actionable.compact.outlined
                        .icon.icon-action-turned-in-not
                    .button.actionable.compact.outlined
                        .icon.icon-action-verified-user
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-agenda
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-array
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-carousel
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-column
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-day
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-headline
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-list
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-module
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-quilt
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-stream
                    .button.actionable.compact.outlined
                        .icon.icon-action-view-week
                    .button.actionable.compact.outlined
                        .icon.icon-action-visibility
                    .button.actionable.compact.outlined
                        .icon.icon-action-visibility-off
                    .button.actionable.compact.outlined
                        .icon.icon-action-wallet-giftcard
                    .button.actionable.compact.outlined
                        .icon.icon-action-wallet-membership
                    .button.actionable.compact.outlined
                        .icon.icon-action-wallet-travel
                    .button.actionable.compact.outlined
                        .icon.icon-action-work

    .separator_wrp
        .separator Alert
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-alert-error
                    .button.actionable.compact.outlined
                        .icon.icon-alert-warning

    .separator_wrp
        .separator Audio / Video
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-av-album
                    .button.actionable.compact.outlined
                        .icon.icon-av-timer
                    .button.actionable.compact.outlined
                        .icon.icon-av-closed-caption
                    .button.actionable.compact.outlined
                        .icon.icon-av-equalizer
                    .button.actionable.compact.outlined
                        .icon.icon-av-explicit
                    .button.actionable.compact.outlined
                        .icon.icon-av-fast-forward
                    .button.actionable.compact.outlined
                        .icon.icon-av-fast-rewind
                    .button.actionable.compact.outlined
                        .icon.icon-av-games
                    .button.actionable.compact.outlined
                        .icon.icon-av-hearing
                    .button.actionable.compact.outlined
                        .icon.icon-av-high-quality
                    .button.actionable.compact.outlined
                        .icon.icon-av-loop
                    .button.actionable.compact.outlined
                        .icon.icon-av-mic
                    .button.actionable.compact.outlined
                        .icon.icon-av-mic-none
                    .button.actionable.compact.outlined
                        .icon.icon-av-mic-off
                    .button.actionable.compact.outlined
                        .icon.icon-av-movie
                    .button.actionable.compact.outlined
                        .icon.icon-av-my-library-add
                    .button.actionable.compact.outlined
                        .icon.icon-av-my-library-books
                    .button.actionable.compact.outlined
                        .icon.icon-av-my-library-music
                    .button.actionable.compact.outlined
                        .icon.icon-av-new-releases
                    .button.actionable.compact.outlined
                        .icon.icon-av-not-interested
                    .button.actionable.compact.outlined
                        .icon.icon-av-pause
                    .button.actionable.compact.outlined
                        .icon.icon-av-pause-circle-fill
                    .button.actionable.compact.outlined
                        .icon.icon-av-pause-circle-outline
                    .button.actionable.compact.outlined
                        .icon.icon-av-play-arrow
                    .button.actionable.compact.outlined
                        .icon.icon-av-play-circle-fill
                    .button.actionable.compact.outlined
                        .icon.icon-av-play-circle-outline
                    .button.actionable.compact.outlined
                        .icon.icon-av-playlist-add
                    .button.actionable.compact.outlined
                        .icon.icon-av-play-shopping-bag
                    .button.actionable.compact.outlined
                        .icon.icon-av-queue
                    .button.actionable.compact.outlined
                        .icon.icon-av-queue-music
                    .button.actionable.compact.outlined
                        .icon.icon-av-radio
                    .button.actionable.compact.outlined
                        .icon.icon-av-recent-actors
                    .button.actionable.compact.outlined
                        .icon.icon-av-repeat
                    .button.actionable.compact.outlined
                        .icon.icon-av-repeat-one
                    .button.actionable.compact.outlined
                        .icon.icon-av-replay
                    .button.actionable.compact.outlined
                        .icon.icon-av-shuffle
                    .button.actionable.compact.outlined
                        .icon.icon-av-skip-next
                    .button.actionable.compact.outlined
                        .icon.icon-av-skip-previous
                    .button.actionable.compact.outlined
                        .icon.icon-av-snooze
                    .button.actionable.compact.outlined
                        .icon.icon-av-stop
                    .button.actionable.compact.outlined
                        .icon.icon-av-subtitles
                    .button.actionable.compact.outlined
                        .icon.icon-av-surround-sound
                    .button.actionable.compact.outlined
                        .icon.icon-av-videocam
                    .button.actionable.compact.outlined
                        .icon.icon-av-videocam-off
                    .button.actionable.compact.outlined
                        .icon.icon-av-video-collection
                    .button.actionable.compact.outlined
                        .icon.icon-av-volume-down
                    .button.actionable.compact.outlined
                        .icon.icon-av-volume-mute
                    .button.actionable.compact.outlined
                        .icon.icon-av-volume-off
                    .button.actionable.compact.outlined
                        .icon.icon-av-volume-up
                    .button.actionable.compact.outlined
                        .icon.icon-av-web

    .separator_wrp
        .separator Communication
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-communication-business
                    .button.actionable.compact.outlined
                        .icon.icon-communication-call
                    .button.actionable.compact.outlined
                        .icon.icon-communication-call-end
                    .button.actionable.compact.outlined
                        .icon.icon-communication-call-made
                    .button.actionable.compact.outlined
                        .icon.icon-communication-call-merge
                    .button.actionable.compact.outlined
                        .icon.icon-communication-call-missed
                    .button.actionable.compact.outlined
                        .icon.icon-communication-call-received
                    .button.actionable.compact.outlined
                        .icon.icon-communication-call-split
                    .button.actionable.compact.outlined
                        .icon.icon-communication-chat
                    .button.actionable.compact.outlined
                        .icon.icon-communication-clear-all
                    .button.actionable.compact.outlined
                        .icon.icon-communication-comment
                    .button.actionable.compact.outlined
                        .icon.icon-communication-contacts
                    .button.actionable.compact.outlined
                        .icon.icon-communication-dialer-sip
                    .button.actionable.compact.outlined
                        .icon.icon-communication-dialpad
                    .button.actionable.compact.outlined
                        .icon.icon-communication-dnd-on
                    .button.actionable.compact.outlined
                        .icon.icon-communication-email
                    .button.actionable.compact.outlined
                        .icon.icon-communication-forum
                    .button.actionable.compact.outlined
                        .icon.icon-communication-import-export
                    .button.actionable.compact.outlined
                        .icon.icon-communication-invert-colors-off
                    .button.actionable.compact.outlined
                        .icon.icon-communication-invert-colors-on
                    .button.actionable.compact.outlined
                        .icon.icon-communication-live-help
                    .button.actionable.compact.outlined
                        .icon.icon-communication-location-off
                    .button.actionable.compact.outlined
                        .icon.icon-communication-location-on
                    .button.actionable.compact.outlined
                        .icon.icon-communication-message
                    .button.actionable.compact.outlined
                        .icon.icon-communication-messenger
                    .button.actionable.compact.outlined
                        .icon.icon-communication-no-sim
                    .button.actionable.compact.outlined
                        .icon.icon-communication-phone
                    .button.actionable.compact.outlined
                        .icon.icon-communication-portable-wifi-off
                    .button.actionable.compact.outlined
                        .icon.icon-communication-quick-contacts-dialer
                    .button.actionable.compact.outlined
                        .icon.icon-communication-quick-contacts-mail
                    .button.actionable.compact.outlined
                        .icon.icon-communication-ring-volume
                    .button.actionable.compact.outlined
                        .icon.icon-communication-stay-current-landscape
                    .button.actionable.compact.outlined
                        .icon.icon-communication-stay-current-portrait
                    .button.actionable.compact.outlined
                        .icon.icon-communication-stay-primary-landscape
                    .button.actionable.compact.outlined
                        .icon.icon-communication-stay-primary-portrait
                    .button.actionable.compact.outlined
                        .icon.icon-communication-swap-calls
                    .button.actionable.compact.outlined
                        .icon.icon-communication-textsms
                    .button.actionable.compact.outlined
                        .icon.icon-communication-voicemail
                    .button.actionable.compact.outlined
                        .icon.icon-communication-vpn-key

    .separator_wrp
        .separator Content
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-content-add
                    .button.actionable.compact.outlined
                        .icon.icon-content-add-box
                    .button.actionable.compact.outlined
                        .icon.icon-content-add-circle
                    .button.actionable.compact.outlined
                        .icon.icon-content-add-circle-outline
                    .button.actionable.compact.outlined
                        .icon.icon-content-archive
                    .button.actionable.compact.outlined
                        .icon.icon-content-backspace
                    .button.actionable.compact.outlined
                        .icon.icon-content-block
                    .button.actionable.compact.outlined
                        .icon.icon-content-clear
                    .button.actionable.compact.outlined
                        .icon.icon-content-content-copy
                    .button.actionable.compact.outlined
                        .icon.icon-content-content-cut
                    .button.actionable.compact.outlined
                        .icon.icon-content-content-paste
                    .button.actionable.compact.outlined
                        .icon.icon-content-create
                    .button.actionable.compact.outlined
                        .icon.icon-content-drafts
                    .button.actionable.compact.outlined
                        .icon.icon-content-filter-list
                    .button.actionable.compact.outlined
                        .icon.icon-content-flag
                    .button.actionable.compact.outlined
                        .icon.icon-content-forward
                    .button.actionable.compact.outlined
                        .icon.icon-content-gesture
                    .button.actionable.compact.outlined
                        .icon.icon-content-inbox
                    .button.actionable.compact.outlined
                        .icon.icon-content-link
                    .button.actionable.compact.outlined
                        .icon.icon-content-mail
                    .button.actionable.compact.outlined
                        .icon.icon-content-markunread
                    .button.actionable.compact.outlined
                        .icon.icon-content-redo
                    .button.actionable.compact.outlined
                        .icon.icon-content-remove
                    .button.actionable.compact.outlined
                        .icon.icon-content-remove-circle
                    .button.actionable.compact.outlined
                        .icon.icon-content-remove-circle-outline
                    .button.actionable.compact.outlined
                        .icon.icon-content-reply
                    .button.actionable.compact.outlined
                        .icon.icon-content-reply-all
                    .button.actionable.compact.outlined
                        .icon.icon-content-report
                    .button.actionable.compact.outlined
                        .icon.icon-content-save
                    .button.actionable.compact.outlined
                        .icon.icon-content-select-all
                    .button.actionable.compact.outlined
                        .icon.icon-content-send
                    .button.actionable.compact.outlined
                        .icon.icon-content-sort
                    .button.actionable.compact.outlined
                        .icon.icon-content-text-format
                    .button.actionable.compact.outlined
                        .icon.icon-content-undo

    .separator_wrp
        .separator Device
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-device-access-alarm
                    .button.actionable.compact.outlined
                        .icon.icon-device-access-alarms
                    .button.actionable.compact.outlined
                        .icon.icon-device-access-time
                    .button.actionable.compact.outlined
                        .icon.icon-device-add-alarm
                    .button.actionable.compact.outlined
                        .icon.icon-device-airplanemode-off
                    .button.actionable.compact.outlined
                        .icon.icon-device-airplanemode-on
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-20
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-30
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-50
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-60
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-80
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-90
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-alert
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-charging-20
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-charging-30
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-charging-50
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-charging-60
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-charging-80
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-charging-90
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-charging-full
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-full
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-std
                    .button.actionable.compact.outlined
                        .icon.icon-device-battery-unknown
                    .button.actionable.compact.outlined
                        .icon.icon-device-bluetooth
                    .button.actionable.compact.outlined
                        .icon.icon-device-bluetooth-connected
                    .button.actionable.compact.outlined
                        .icon.icon-device-bluetooth-disabled
                    .button.actionable.compact.outlined
                        .icon.icon-device-bluetooth-searching
                    .button.actionable.compact.outlined
                        .icon.icon-device-brightness-auto
                    .button.actionable.compact.outlined
                        .icon.icon-device-brightness-high
                    .button.actionable.compact.outlined
                        .icon.icon-device-brightness-low
                    .button.actionable.compact.outlined
                        .icon.icon-device-brightness-medium
                    .button.actionable.compact.outlined
                        .icon.icon-device-data-usage
                    .button.actionable.compact.outlined
                        .icon.icon-device-developer-mode
                    .button.actionable.compact.outlined
                        .icon.icon-device-devices
                    .button.actionable.compact.outlined
                        .icon.icon-device-dvr
                    .button.actionable.compact.outlined
                        .icon.icon-device-gps-fixed
                    .button.actionable.compact.outlined
                        .icon.icon-device-gps-not-fixed
                    .button.actionable.compact.outlined
                        .icon.icon-device-gps-off
                    .button.actionable.compact.outlined
                        .icon.icon-device-location-disabled
                    .button.actionable.compact.outlined
                        .icon.icon-device-location-searching
                    .button.actionable.compact.outlined
                        .icon.icon-device-multitrack-audio
                    .button.actionable.compact.outlined
                        .icon.icon-device-network-cell
                    .button.actionable.compact.outlined
                        .icon.icon-device-network-wifi
                    .button.actionable.compact.outlined
                        .icon.icon-device-nfc
                    .button.actionable.compact.outlined
                        .icon.icon-device-now-wallpaper
                    .button.actionable.compact.outlined
                        .icon.icon-device-now-widgets
                    .button.actionable.compact.outlined
                        .icon.icon-device-screen-lock-landscape
                    .button.actionable.compact.outlined
                        .icon.icon-device-screen-lock-portrait
                    .button.actionable.compact.outlined
                        .icon.icon-device-screen-lock-rotation
                    .button.actionable.compact.outlined
                        .icon.icon-device-screen-rotation
                    .button.actionable.compact.outlined
                        .icon.icon-device-sd-storage
                    .button.actionable.compact.outlined
                        .icon.icon-device-settings-system-daydream
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-0-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-1-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-2-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-3-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-4-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-connected-no-internet-0-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-connected-no-internet-1-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-connected-no-internet-2-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-connected-no-internet-3-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-connected-no-internet-4-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-no-sim
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-null
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-cellular-off
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-wifi-0-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-wifi-1-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-wifi-2-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-wifi-3-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-wifi-4-bar
                    .button.actionable.compact.outlined
                        .icon.icon-device-signal-wifi-off
                    .button.actionable.compact.outlined
                        .icon.icon-device-storage
                    .button.actionable.compact.outlined
                        .icon.icon-device-usb
                    .button.actionable.compact.outlined
                        .icon.icon-device-wifi-lock
                    .button.actionable.compact.outlined
                        .icon.icon-device-wifi-tethering

    .separator_wrp
        .separator Editor
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-editor-attach-file
                    .button.actionable.compact.outlined
                        .icon.icon-editor-attach-money
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-all
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-bottom
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-clear
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-color
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-horizontal
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-inner
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-left
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-outer
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-right
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-style
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-top
                    .button.actionable.compact.outlined
                        .icon.icon-editor-border-vertical
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-align-center
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-align-justify
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-align-left
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-align-right
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-bold
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-clear
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-color-fill
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-color-reset
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-color-text
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-indent-decrease
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-indent-increase
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-italic
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-line-spacing
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-list-bulleted
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-list-numbered
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-paint
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-quote
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-size
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-strikethrough
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-textdirection-l-to-r
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-textdirection-r-to-l
                    .button.actionable.compact.outlined
                        .icon.icon-editor-format-underline
                    .button.actionable.compact.outlined
                        .icon.icon-editor-functions
                    .button.actionable.compact.outlined
                        .icon.icon-editor-insert-chart
                    .button.actionable.compact.outlined
                        .icon.icon-editor-insert-comment
                    .button.actionable.compact.outlined
                        .icon.icon-editor-insert-drive-file
                    .button.actionable.compact.outlined
                        .icon.icon-editor-insert-emoticon
                    .button.actionable.compact.outlined
                        .icon.icon-editor-insert-invitation
                    .button.actionable.compact.outlined
                        .icon.icon-editor-insert-link
                    .button.actionable.compact.outlined
                        .icon.icon-editor-insert-photo
                    .button.actionable.compact.outlined
                        .icon.icon-editor-merge-type
                    .button.actionable.compact.outlined
                        .icon.icon-editor-mode-comment
                    .button.actionable.compact.outlined
                        .icon.icon-editor-mode-edit
                    .button.actionable.compact.outlined
                        .icon.icon-editor-publish
                    .button.actionable.compact.outlined
                        .icon.icon-editor-vertical-align-bottom
                    .button.actionable.compact.outlined
                        .icon.icon-editor-vertical-align-center
                    .button.actionable.compact.outlined
                        .icon.icon-editor-vertical-align-top
                    .button.actionable.compact.outlined
                        .icon.icon-editor-wrap-text

    .separator_wrp
        .separator File
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-file-attachment
                    .button.actionable.compact.outlined
                        .icon.icon-file-cloud
                    .button.actionable.compact.outlined
                        .icon.icon-file-cloud-circle
                    .button.actionable.compact.outlined
                        .icon.icon-file-cloud-done
                    .button.actionable.compact.outlined
                        .icon.icon-file-cloud-download
                    .button.actionable.compact.outlined
                        .icon.icon-file-cloud-off
                    .button.actionable.compact.outlined
                        .icon.icon-file-cloud-queue
                    .button.actionable.compact.outlined
                        .icon.icon-file-cloud-upload
                    .button.actionable.compact.outlined
                        .icon.icon-file-file-download
                    .button.actionable.compact.outlined
                        .icon.icon-file-file-upload
                    .button.actionable.compact.outlined
                        .icon.icon-file-folder
                    .button.actionable.compact.outlined
                        .icon.icon-file-folder-open
                    .button.actionable.compact.outlined
                        .icon.icon-file-folder-shared

    .separator_wrp
        .separator Hardware
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-cast
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-cast-connected
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-computer
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-desktop-mac
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-desktop-windows
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-dock
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-gamepad
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-headset
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-headset-mic
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-alt
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-arrow-down
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-arrow-left
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-arrow-right
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-arrow-up
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-backspace
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-capslock
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-control
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-hide
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-return
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-tab
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-keyboard-voice
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-laptop
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-laptop-chromebook
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-laptop-mac
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-laptop-windows
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-memory
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-mouse
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-phone-android
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-phone-iphone
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-phonelink
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-phonelink-off
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-security
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-sim-card
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-smartphone
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-speaker
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-tablet
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-tablet-android
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-tablet-mac
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-tv
                    .button.actionable.compact.outlined
                        .icon.icon-hardware-watch

    .separator_wrp
        .separator Image
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-image-add-to-photos
                    .button.actionable.compact.outlined
                        .icon.icon-image-adjust
                    .button.actionable.compact.outlined
                        .icon.icon-image-assistant-photo
                    .button.actionable.compact.outlined
                        .icon.icon-image-audiotrack
                    .button.actionable.compact.outlined
                        .icon.icon-image-blur-circular
                    .button.actionable.compact.outlined
                        .icon.icon-image-blur-linear
                    .button.actionable.compact.outlined
                        .icon.icon-image-blur-off
                    .button.actionable.compact.outlined
                        .icon.icon-image-blur-on
                    .button.actionable.compact.outlined
                        .icon.icon-image-brightness-1
                    .button.actionable.compact.outlined
                        .icon.icon-image-brightness-2
                    .button.actionable.compact.outlined
                        .icon.icon-image-brightness-3
                    .button.actionable.compact.outlined
                        .icon.icon-image-brightness-4
                    .button.actionable.compact.outlined
                        .icon.icon-image-brightness-5
                    .button.actionable.compact.outlined
                        .icon.icon-image-brightness-6
                    .button.actionable.compact.outlined
                        .icon.icon-image-brightness-7
                    .button.actionable.compact.outlined
                        .icon.icon-image-brush
                    .button.actionable.compact.outlined
                        .icon.icon-image-camera
                    .button.actionable.compact.outlined
                        .icon.icon-image-camera-alt
                    .button.actionable.compact.outlined
                        .icon.icon-image-camera-front
                    .button.actionable.compact.outlined
                        .icon.icon-image-camera-rear
                    .button.actionable.compact.outlined
                        .icon.icon-image-camera-roll
                    .button.actionable.compact.outlined
                        .icon.icon-image-center-focus-strong
                    .button.actionable.compact.outlined
                        .icon.icon-image-center-focus-weak
                    .button.actionable.compact.outlined
                        .icon.icon-image-collections
                    .button.actionable.compact.outlined
                        .icon.icon-image-colorize
                    .button.actionable.compact.outlined
                        .icon.icon-image-color-lens
                    .button.actionable.compact.outlined
                        .icon.icon-image-compare
                    .button.actionable.compact.outlined
                        .icon.icon-image-control-point
                    .button.actionable.compact.outlined
                        .icon.icon-image-control-point-duplicate
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop-3-2
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop-5-4
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop-7-5
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop-16-9
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop-din
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop-free
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop-landscape
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop-original
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop-portrait
                    .button.actionable.compact.outlined
                        .icon.icon-image-crop-square
                    .button.actionable.compact.outlined
                        .icon.icon-image-dehaze
                    .button.actionable.compact.outlined
                        .icon.icon-image-details
                    .button.actionable.compact.outlined
                        .icon.icon-image-edit
                    .button.actionable.compact.outlined
                        .icon.icon-image-exposure
                    .button.actionable.compact.outlined
                        .icon.icon-image-exposure-minus-1
                    .button.actionable.compact.outlined
                        .icon.icon-image-exposure-minus-2
                    .button.actionable.compact.outlined
                        .icon.icon-image-exposure-plus-1
                    .button.actionable.compact.outlined
                        .icon.icon-image-exposure-plus-2
                    .button.actionable.compact.outlined
                        .icon.icon-image-exposure-zero
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-1
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-2
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-3
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-4
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-5
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-6
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-7
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-8
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-9
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-9-plus
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-b-and-w
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-center-focus
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-drama
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-frames
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-hdr
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-none
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-tilt-shift
                    .button.actionable.compact.outlined
                        .icon.icon-image-filter-vintage
                    .button.actionable.compact.outlined
                        .icon.icon-image-flare
                    .button.actionable.compact.outlined
                        .icon.icon-image-flash-auto
                    .button.actionable.compact.outlined
                        .icon.icon-image-flash-off
                    .button.actionable.compact.outlined
                        .icon.icon-image-flash-on
                    .button.actionable.compact.outlined
                        .icon.icon-image-flip
                    .button.actionable.compact.outlined
                        .icon.icon-image-gradient
                    .button.actionable.compact.outlined
                        .icon.icon-image-grain
                    .button.actionable.compact.outlined
                        .icon.icon-image-grid-off
                    .button.actionable.compact.outlined
                        .icon.icon-image-grid-on
                    .button.actionable.compact.outlined
                        .icon.icon-image-hdr-off
                    .button.actionable.compact.outlined
                        .icon.icon-image-hdr-on
                    .button.actionable.compact.outlined
                        .icon.icon-image-hdr-strong
                    .button.actionable.compact.outlined
                        .icon.icon-image-hdr-weak
                    .button.actionable.compact.outlined
                        .icon.icon-image-healing
                    .button.actionable.compact.outlined
                        .icon.icon-image-image
                    .button.actionable.compact.outlined
                        .icon.icon-image-image-aspect-ratio
                    .button.actionable.compact.outlined
                        .icon.icon-image-iso
                    .button.actionable.compact.outlined
                        .icon.icon-image-landscape
                    .button.actionable.compact.outlined
                        .icon.icon-image-leak-add
                    .button.actionable.compact.outlined
                        .icon.icon-image-leak-remove
                    .button.actionable.compact.outlined
                        .icon.icon-image-lens
                    .button.actionable.compact.outlined
                        .icon.icon-image-looks
                    .button.actionable.compact.outlined
                        .icon.icon-image-looks-3
                    .button.actionable.compact.outlined
                        .icon.icon-image-looks-4
                    .button.actionable.compact.outlined
                        .icon.icon-image-looks-5
                    .button.actionable.compact.outlined
                        .icon.icon-image-looks-6
                    .button.actionable.compact.outlined
                        .icon.icon-image-looks-one
                    .button.actionable.compact.outlined
                        .icon.icon-image-looks-two
                    .button.actionable.compact.outlined
                        .icon.icon-image-loupe
                    .button.actionable.compact.outlined
                        .icon.icon-image-movie-creation
                    .button.actionable.compact.outlined
                        .icon.icon-image-nature
                    .button.actionable.compact.outlined
                        .icon.icon-image-nature-people
                    .button.actionable.compact.outlined
                        .icon.icon-image-navigate-before
                    .button.actionable.compact.outlined
                        .icon.icon-image-navigate-next
                    .button.actionable.compact.outlined
                        .icon.icon-image-palette
                    .button.actionable.compact.outlined
                        .icon.icon-image-panorama
                    .button.actionable.compact.outlined
                        .icon.icon-image-panorama-fisheye
                    .button.actionable.compact.outlined
                        .icon.icon-image-panorama-horizontal
                    .button.actionable.compact.outlined
                        .icon.icon-image-panorama-vertical
                    .button.actionable.compact.outlined
                        .icon.icon-image-panorama-wide-angle
                    .button.actionable.compact.outlined
                        .icon.icon-image-photo
                    .button.actionable.compact.outlined
                        .icon.icon-image-photo-album
                    .button.actionable.compact.outlined
                        .icon.icon-image-photo-camera
                    .button.actionable.compact.outlined
                        .icon.icon-image-photo-library
                    .button.actionable.compact.outlined
                        .icon.icon-image-portrait
                    .button.actionable.compact.outlined
                        .icon.icon-image-remove-red-eye
                    .button.actionable.compact.outlined
                        .icon.icon-image-rotate-left
                    .button.actionable.compact.outlined
                        .icon.icon-image-rotate-right
                    .button.actionable.compact.outlined
                        .icon.icon-image-slideshow
                    .button.actionable.compact.outlined
                        .icon.icon-image-straighten
                    .button.actionable.compact.outlined
                        .icon.icon-image-style
                    .button.actionable.compact.outlined
                        .icon.icon-image-switch-camera
                    .button.actionable.compact.outlined
                        .icon.icon-image-switch-video
                    .button.actionable.compact.outlined
                        .icon.icon-image-tag-faces
                    .button.actionable.compact.outlined
                        .icon.icon-image-texture
                    .button.actionable.compact.outlined
                        .icon.icon-image-timelapse
                    .button.actionable.compact.outlined
                        .icon.icon-image-timer
                    .button.actionable.compact.outlined
                        .icon.icon-image-timer-3
                    .button.actionable.compact.outlined
                        .icon.icon-image-timer-10
                    .button.actionable.compact.outlined
                        .icon.icon-image-timer-auto
                    .button.actionable.compact.outlined
                        .icon.icon-image-timer-off
                    .button.actionable.compact.outlined
                        .icon.icon-image-tonality
                    .button.actionable.compact.outlined
                        .icon.icon-image-transform
                    .button.actionable.compact.outlined
                        .icon.icon-image-tune
                    .button.actionable.compact.outlined
                        .icon.icon-image-wb-auto
                    .button.actionable.compact.outlined
                        .icon.icon-image-wb-cloudy
                    .button.actionable.compact.outlined
                        .icon.icon-image-wb-incandescent
                    .button.actionable.compact.outlined
                        .icon.icon-image-wb-irradescent
                    .button.actionable.compact.outlined
                        .icon.icon-image-wb-sunny

    .separator_wrp
        .separator Maps
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-maps-beenhere
                    .button.actionable.compact.outlined
                        .icon.icon-maps-directions
                    .button.actionable.compact.outlined
                        .icon.icon-maps-directions-bike
                    .button.actionable.compact.outlined
                        .icon.icon-maps-directions-bus
                    .button.actionable.compact.outlined
                        .icon.icon-maps-directions-car
                    .button.actionable.compact.outlined
                        .icon.icon-maps-directions-ferry
                    .button.actionable.compact.outlined
                        .icon.icon-maps-directions-subway
                    .button.actionable.compact.outlined
                        .icon.icon-maps-directions-train
                    .button.actionable.compact.outlined
                        .icon.icon-maps-directions-transit
                    .button.actionable.compact.outlined
                        .icon.icon-maps-directions-walk
                    .button.actionable.compact.outlined
                        .icon.icon-maps-flight
                    .button.actionable.compact.outlined
                        .icon.icon-maps-hotel
                    .button.actionable.compact.outlined
                        .icon.icon-maps-layers
                    .button.actionable.compact.outlined
                        .icon.icon-maps-layers-clear
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-airport
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-atm
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-attraction
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-bar
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-cafe
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-car-wash
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-convenience-store
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-drink
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-florist
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-gas-station
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-grocery-store
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-hospital
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-hotel
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-laundry-service
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-library
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-mall
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-movies
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-offer
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-parking
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-pharmacy
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-phone
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-pizza
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-play
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-post-office
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-print-shop
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-restaurant
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-see
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-shipping
                    .button.actionable.compact.outlined
                        .icon.icon-maps-local-taxi
                    .button.actionable.compact.outlined
                        .icon.icon-maps-location-history
                    .button.actionable.compact.outlined
                        .icon.icon-maps-map
                    .button.actionable.compact.outlined
                        .icon.icon-maps-my-location
                    .button.actionable.compact.outlined
                        .icon.icon-maps-navigation
                    .button.actionable.compact.outlined
                        .icon.icon-maps-pin-drop
                    .button.actionable.compact.outlined
                        .icon.icon-maps-place
                    .button.actionable.compact.outlined
                        .icon.icon-maps-rate-review
                    .button.actionable.compact.outlined
                        .icon.icon-maps-restaurant-menu
                    .button.actionable.compact.outlined
                        .icon.icon-maps-satellite
                    .button.actionable.compact.outlined
                        .icon.icon-maps-store-mall-directory
                    .button.actionable.compact.outlined
                        .icon.icon-maps-terrain
                    .button.actionable.compact.outlined
                        .icon.icon-maps-traffic

    .separator_wrp
        .separator Navigation
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-apps
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-arrow-back
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-arrow-drop-down
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-arrow-drop-down-circle
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-arrow-drop-up
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-arrow-forward
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-cancel
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-check
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-chevron-left
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-chevron-right
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-close
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-expand-less
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-expand-more
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-fullscreen
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-fullscreen-exit
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-menu
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-more-horiz
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-more-vert
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-refresh
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-unfold-less
                    .button.actionable.compact.outlined
                        .icon.icon-navigation-unfold-more

    .separator_wrp
        .separator Notification
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-notification-adb
                    .button.actionable.compact.outlined
                        .icon.icon-notification-bluetooth-audio
                    .button.actionable.compact.outlined
                        .icon.icon-notification-disc-full
                    .button.actionable.compact.outlined
                        .icon.icon-notification-dnd-forwardslash
                    .button.actionable.compact.outlined
                        .icon.icon-notification-do-not-disturb
                    .button.actionable.compact.outlined
                        .icon.icon-notification-drive-eta
                    .button.actionable.compact.outlined
                        .icon.icon-notification-event-available
                    .button.actionable.compact.outlined
                        .icon.icon-notification-event-busy
                    .button.actionable.compact.outlined
                        .icon.icon-notification-event-note
                    .button.actionable.compact.outlined
                        .icon.icon-notification-folder-special
                    .button.actionable.compact.outlined
                        .icon.icon-notification-mms
                    .button.actionable.compact.outlined
                        .icon.icon-notification-more
                    .button.actionable.compact.outlined
                        .icon.icon-notification-network-locked
                    .button.actionable.compact.outlined
                        .icon.icon-notification-phone-bluetooth-speaker
                    .button.actionable.compact.outlined
                        .icon.icon-notification-phone-forwarded
                    .button.actionable.compact.outlined
                        .icon.icon-notification-phone-in-talk
                    .button.actionable.compact.outlined
                        .icon.icon-notification-phone-locked
                    .button.actionable.compact.outlined
                        .icon.icon-notification-phone-missed
                    .button.actionable.compact.outlined
                        .icon.icon-notification-phone-paused
                    .button.actionable.compact.outlined
                        .icon.icon-notification-play-download
                    .button.actionable.compact.outlined
                        .icon.icon-notification-play-install
                    .button.actionable.compact.outlined
                        .icon.icon-notification-sd-card
                    .button.actionable.compact.outlined
                        .icon.icon-notification-sim-card-alert
                    .button.actionable.compact.outlined
                        .icon.icon-notification-sms
                    .button.actionable.compact.outlined
                        .icon.icon-notification-sms-failed
                    .button.actionable.compact.outlined
                        .icon.icon-notification-sync
                    .button.actionable.compact.outlined
                        .icon.icon-notification-sync-disabled
                    .button.actionable.compact.outlined
                        .icon.icon-notification-sync-problem
                    .button.actionable.compact.outlined
                        .icon.icon-notification-system-update
                    .button.actionable.compact.outlined
                        .icon.icon-notification-tap-and-play
                    .button.actionable.compact.outlined
                        .icon.icon-notification-time-to-leave
                    .button.actionable.compact.outlined
                        .icon.icon-notification-vibration
                    .button.actionable.compact.outlined
                        .icon.icon-notification-voice-chat
                    .button.actionable.compact.outlined
                        .icon.icon-notification-vpn-lock

    .separator_wrp
        .separator Social
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-social-cake
                    .button.actionable.compact.outlined
                        .icon.icon-social-domain
                    .button.actionable.compact.outlined
                        .icon.icon-social-group
                    .button.actionable.compact.outlined
                        .icon.icon-social-group-add
                    .button.actionable.compact.outlined
                        .icon.icon-social-location-city
                    .button.actionable.compact.outlined
                        .icon.icon-social-mood
                    .button.actionable.compact.outlined
                        .icon.icon-social-notifications
                    .button.actionable.compact.outlined
                        .icon.icon-social-notifications-none
                    .button.actionable.compact.outlined
                        .icon.icon-social-notifications-off
                    .button.actionable.compact.outlined
                        .icon.icon-social-notifications-on
                    .button.actionable.compact.outlined
                        .icon.icon-social-notifications-paused
                    .button.actionable.compact.outlined
                        .icon.icon-social-pages
                    .button.actionable.compact.outlined
                        .icon.icon-social-party-mode
                    .button.actionable.compact.outlined
                        .icon.icon-social-people
                    .button.actionable.compact.outlined
                        .icon.icon-social-people-outline
                    .button.actionable.compact.outlined
                        .icon.icon-social-person
                    .button.actionable.compact.outlined
                        .icon.icon-social-person-add
                    .button.actionable.compact.outlined
                        .icon.icon-social-person-outline
                    .button.actionable.compact.outlined
                        .icon.icon-social-plus-one
                    .button.actionable.compact.outlined
                        .icon.icon-social-poll
                    .button.actionable.compact.outlined
                        .icon.icon-social-public
                    .button.actionable.compact.outlined
                        .icon.icon-social-school
                    .button.actionable.compact.outlined
                        .icon.icon-social-share
                    .button.actionable.compact.outlined
                        .icon.icon-social-whatshot

    .separator_wrp
        .separator Toggle
    .grid
        .grid_cols.limited
            .grid_col
                .multiple
                    .button.actionable.compact.outlined
                        .icon.icon-toggle-check-box
                    .button.actionable.compact.outlined
                        .icon.icon-toggle-check-box-outline-blank
                    .button.actionable.compact.outlined
                        .icon.icon-toggle-radio-button-off
                    .button.actionable.compact.outlined
                        .icon.icon-toggle-radio-button-on
