//- bootstrap/inputs.jade

extends ../layout.jade

append content
    .separator_wrp
        .separator Normal
    .multiple
        input(type="text", name="input_1", value="Base")
        input(type="text", name="input_1", value="Inactive").inactive
        input(type="text", name="input_1", value="Disabled" disabled="disabled")

    .separator_wrp
        .separator Fluid
    .multiple.fluid
        input(type="text", name="input_1", value="Foo")
        input(type="text", name="input_1", value="Bar")
        input(type="text", name="input_1", value="Baz")
        input(type="text", name="input_1", value="Qux")

    .separator_wrp
        .separator Toolbar
    .multiple
        .toolbar
            input(type="text", name="input_1", value="Search")
            .button.compact
                .icon.icon-action-search
        .toolbar
            input(type="text", name="input_1", value="Search")
            .button.actionable.compact.secondary
                .icon.icon-action-search
        .toolbar
            input(type="text", name="input_1", placeholder="Search...")
            .button.actionable.primary Search
        .toolbar
            .button.gray http://
            input(type="text", name="input_1", placeholder="Search...")
        .toolbar
            .button.compact
                .icon.icon-social-people
            input(type="text", name="input_1", value="Search")
        .toolbar
            input(type="text", name="input_1", value="Search")
            .button.compact
                .icon.icon-navigation-refresh.rotating
        .toolbar
            .button.actionable.teal
                .sub.left
                    .icon.icon-maps-local-grocery-store
                .label Checkout
            input(type="text", name="input_1", value="34.50€")

    .separator_wrp
        .separator Toolbar - Outlined
    .multiple
        .toolbar
            input(type="text", name="input_1", value="Outlined").outlined
        .toolbar.outlined
            input(type="text", name="input_1", value="Outlined")
            .button.compact
                .icon.icon-action-search
        .toolbar
            .button.gray http://
            input(type="text", name="input_1", placeholder="Outlined..." class="outlined")

    .separator_wrp
        .separator Toolbar - Opacify
    .toolbar.opacify
        input(type="text", name="input_1", value="Opaciy")
        .button.compact
            .icon.icon-action-search

    .separator_wrp
        .separator Toolbar - Loading
    .multiple
        #loadable.toolbar
            input(type="text", name="input_1", value="Search...")
            .button.compact
                .icon.icon-action-search
        .toolbar
            .button.actionable(onclick="javascript:toggle_loading();") Toggle loading

append body
    script(type="text/javascript").
        function toggle_loading () {
            $("#loadable").toggleClass ( "loading_icons" );
        }
