//- bootstrap/separators.jade

extends ../layout.jade

append content
    .separator_wrp
        .separator Separators
    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container
                    .separator_wrp
                        .separator Colored
                    .separator_wrp
                        .separator.linear Linear
                    hr
