//- bootstrap/tagbox.jade

extends ../layout.jade

append content
    .separator_wrp
        .separator Tagbox
    .grid
        .grid_cols.limited
            .grid_col
                .container
                    <input value="these,are,some,tags" class="tagbox" />
