
// @require ../code/variables.scss
// @require core/typography/variables.scss
// @require widgets/container/variables.scss

/* KBD */

$kbd-font-family: $font-family-monospace !default;
$kbd-font-size: .875em !default;
$kbd-font-weight: bold !default;

$kbd-bg-color: inherit !default;

$kbd-border-radius: $container-border-radius !default;

$kbd-border-width: 1px !default;
$kbd-border-style: solid !default;
$kbd-border-color: inherit !default;

$kbd-padding-x: .375em !default;
$kbd-padding-y: $kbd-padding-x / 2 !default;
