
// @require ../progressbar.scss

/* STRIPED */

.progressbar.striped {

  /* STRIPES */

  .progressbar-highlight:before {
    @include absolute ( 0 0 0 ( - $progressbar-stripe-size ) );
    background: linear-gradient(-45deg, $progressbar-stripe-color-light 25%, $progressbar-stripe-color-dark 25%, $progressbar-stripe-color-dark 50%, $progressbar-stripe-color-light 50%, $progressbar-stripe-color-light 75%, $progressbar-stripe-color-dark 75%, $progressbar-stripe-color-dark);
    background-size: $progressbar-stripe-size $progressbar-stripe-size;
    content: '';
    animation: progressbar-stripes-move $progressbar-stripes-animation-move-duration linear infinite;
  }

  /* COMPACT */

  &.compact .progressbar-highlight:before {
    background-size: ( $progressbar-stripe-size / 2 ) ( $progressbar-stripe-size / 2 );
  }

  /* SLIM */

  &.slim .progressbar-highlight:before {
    background-size: ( $progressbar-stripe-size / 4 ) ( $progressbar-stripe-size / 4 );
  }

}
