
//- =========================================================================
//- Svelto - Placeholder v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    width: '', // Placeholder width
    height: '', // Placeholder height
    empty: '' // Placeholder is empty or not
  }

mixin placeholder(options)
  - options = options || {};
  - options.width = options.width || 0;
  - options.width = isNaN ( options.width ) ? options.width : options.width + 'px';
  - options.height = options.height || 0;
  - options.height = isNaN ( options.height ) ? options.height : options.height + 'px';
  - options.empty = options.empty || false;
  .placeholder(style="width:" + options.width + "; height:" + options.height + ";")&attributes(attributes)
    if !options.empty
      if block
        block
      else
        = options.width + " - " + options.height
