//- index.jade

extends views/layout.jade

append main
    +divider Decorators

    +multiple
        +button-simple("/views/demo/decorators/colors.html").outlined Colors
        +button-simple("/views/demo/decorators/depths.html").outlined Depths
        +button-simple("/views/demo/decorators/helpers.html").outlined Helpers
        +button-simple("/views/demo/decorators/outline.html").outlined.teal Outline
        +button-simple("/views/demo/decorators/helpers_responsive.html").outlined Responsive Helpers
        +button-simple("/views/demo/decorators/ripple.html").outlined Ripple
        +button-simple("/views/demo/decorators/sizes.html").outlined Sizes

    +divider CSS

    +multiple
        +button-simple("/views/demo/css/container.html").outlined Container
        +button-simple("/views/demo/css/elements.html").outlined Elements
        +button-simple("/views/demo/css/flags.html").outlined Flags
        +button-simple("/views/demo/css/form.html").outlined.teal Form
        +button-simple("/views/demo/css/grid.html").outlined Grid
        +button-simple("/views/demo/css/icons.html").outlined Icons
        +button-simple("/views/demo/css/multiple.html").outlined Multiple
        +button-simple("/views/demo/css/multiple_subs.html").outlined Multiple subs
        +button-simple("/views/demo/css/table.html").outlined Table
        +button-simple("/views/demo/css/typography.html").outlined Typography

    +divider Components

    +multiple
        +button-simple("/views/demo/components/breadcrumb.html").outlined Breadcrumb
        +button-simple("/views/demo/components/button.html").outlined Button
        +button-simple("/views/demo/components/chat.html").outlined Chat
        +button-simple("/views/demo/components/divider.html").outlined Divider
        +button-simple("/views/demo/components/footer.html").outlined.teal Footer
        +button-simple("/views/demo/components/infobar.html").outlined Infobar
        +button-simple("/views/demo/components/inputs.html").outlined.teal Inputs
        +button-simple("/views/demo/components/labels.html").outlined Labels
        +button-simple("/views/demo/components/header.html").outlined Header
        +button-simple("/views/demo/components/placeholder.html").outlined Placeholder
        +button-simple("/views/demo/components/progressBar.html").outlined progressBar
        +button-simple("/views/demo/components/shapes.html").outlined Shapes
        +button-simple("/views/demo/components/textarea.html").outlined.teal Textarea
        +button-simple("/views/demo/components/toolbar.html").outlined Toolbar

    +divider Javascript

    +multiple
        +button-simple("/views/demo/javascript/accordion.html").outlined Accordion
        +button-simple("/views/demo/javascript/checkbox.html").outlined Checkbox
        +button-simple("/views/demo/javascript/dropdown.html").outlined.teal Dropdown
        +button-simple("/views/demo/javascript/expander.html").outlined Expander
        +button-simple("/views/demo/javascript/loading.html").outlined.teal Loading
        +button-simple("/views/demo/javascript/modal.html").outlined Modal
        +button-simple("/views/demo/javascript/navbar.html").outlined.red Navbar
        +button-simple("/views/demo/javascript/noty.html").outlined Noty
        +button-simple("/views/demo/javascript/radio.html").outlined Radio
        +button-simple("/views/demo/javascript/select.html").outlined.teal Select
        +button-simple("/views/demo/javascript/slider.html").outlined.teal Slider
        +button-simple("/views/demo/javascript/stepper.html").outlined Stepper
        +button-simple("/views/demo/javascript/switcher.html").outlined.teal Switcher
        +button-simple("/views/demo/javascript/syntax.html").outlined Syntax
        +button-simple("/views/demo/javascript/tabs.html").outlined Tabs
        +button-simple("/views/demo/javascript/tagbox.html").outlined Tagbox

    +divider Tools

    +multiple
        +button-simple("/views/demo/tools/autogrow.html").outlined Autogrow
        +button-simple("/views/demo/tools/blurred.html").outlined Blurred
        +button-simple("/views/demo/tools/btEach.html").outlined btEach
        +button-simple("/views/demo/tools/formAjax.html").outlined.red formAjax
        +button-simple("/views/demo/tools/formSync.html").outlined formSync
        +button-simple("/views/demo/tools/notification.html").outlined Notification
        +button-simple("/views/demo/tools/oneTimeAction.html").outlined oneTimeAction
        +button-simple("/views/demo/tools/selectable.html").outlined Selectable
        +button-simple("/views/demo/tools/sortable.html").outlined Sortable
        +button-simple("/views/demo/tools/timeAgo.html").outlined timeAgo
        +button-simple("/views/demo/tools/toggleHeight.html").outlined.red toggleHeight
        +button-simple("/views/demo/tools/touching.html").outlined Touching

    +divider Templates

    +divider Responses

    +multiple
        +button-simple("/views/responses/400.html").outlined 400
        +button-simple("/views/responses/403.html").outlined 403
        +button-simple("/views/responses/404.html").outlined 404
        +button-simple("/views/responses/500.html").outlined 500

append body-end
    +noty({ body: '<p>[Green] To update <br/> [Teal] ToDo <br/> [Blue] Make it better <br/> [Red] Problematic</p>', ttl: 'forever' })
