//- index.jade

extends views/layout.jade

append body
    +divider CSS

    +multiple
        a.button.actionable.outlined.green(href="/views/demo/css/colors.html") Colors
        a.button.actionable.outlined.green(href="/views/demo/css/container.html") Container
        a.button.actionable.outlined.green(href="/views/demo/css/elements.html") Elements
        a.button.actionable.outlined.green(href="/views/demo/css/flags.html") Flags
        a.button.actionable.outlined.teal(href="/views/demo/css/form.html") Form
        a.button.actionable.outlined.green(href="/views/demo/css/grid.html") Grid
        a.button.actionable.outlined.green(href="/views/demo/css/helpers.html") Helpers
        a.button.actionable.outlined.green(href="/views/demo/css/icons.html") Icons
        a.button.actionable.outlined.green(href="/views/demo/css/multiple.html") Multiple
        a.button.actionable.outlined.green(href="/views/demo/css/shadows.html") Shadows
        a.button.actionable.outlined.green(href="/views/demo/css/sizes.html") Sizes
        a.button.actionable.outlined.green(href="/views/demo/css/table.html") Table
        a.button.actionable.outlined.green(href="/views/demo/css/typography.html") Typography

    +divider Components

    +multiple
        a.button.actionable.outlined.green(href="/views/demo/components/advertisement.html") Advertisement
        a.button.actionable.outlined.teal(href="/views/demo/components/badges.html") Badges
        a.button.actionable.outlined.green(href="/views/demo/components/breadcrumb.html") Breadcrumb
        a.button.actionable.outlined.blue(href="/views/demo/components/button.html") Button
        a.button.actionable.outlined.teal(href="/views/demo/components/chat.html") Chat
        a.button.actionable.outlined.green(href="/views/demo/components/divider.html") Divider
        a.button.actionable.outlined.green(href="/views/demo/components/header.html") Header
        a.button.actionable.outlined.teal(href="/views/demo/components/inputs.html") Inputs
        a.button.actionable.outlined.teal(href="/views/demo/components/navbar.html") Navbar
        a.button.actionable.outlined.green(href="/views/demo/components/progressBar.html") progressBar
        a.button.actionable.outlined.green(href="/views/demo/components/shapes.html") Shapes
        a.button.actionable.outlined.teal(href="/views/demo/components/toolbar.html") Toolbar

    +divider Javascript

    +multiple
        a.button.actionable.outlined.teal(href="/views/demo/javascript/accordion.html") Accordion
        a.button.actionable.outlined.teal(href="/views/demo/javascript/checkbox.html") Checkbox
        a.button.actionable.outlined.teal(href="/views/demo/javascript/dropdown.html") Dropdown
        a.button.actionable.outlined.teal(href="/views/demo/javascript/expander.html") Expander
        a.button.actionable.outlined.green(href="/views/demo/javascript/loading.html") Loading
        a.button.actionable.outlined.teal(href="/views/demo/javascript/menu.html") Menu
        a.button.actionable.outlined.teal(href="/views/demo/javascript/modal.html") Modal
        a.button.actionable.outlined.green(href="/views/demo/javascript/noty.html") Noty
        a.button.actionable.outlined.teal(href="/views/demo/javascript/radio.html") Radio
        a.button.actionable.outlined.teal(href="/views/demo/javascript/select.html") Select
        a.button.actionable.outlined.teal(href="/views/demo/javascript/sidebar.html") Sidebar
        a.button.actionable.outlined.teal(href="/views/demo/javascript/slider.html") Slider
        a.button.actionable.outlined.teal(href="/views/demo/javascript/spinner.html") Spinner
        a.button.actionable.outlined.teal(href="/views/demo/javascript/switcher.html") Switcher
        a.button.actionable.outlined.teal(href="/views/demo/javascript/syntax.html") Syntax
        a.button.actionable.outlined.teal(href="/views/demo/javascript/tabs.html") Tabs
        a.button.actionable.outlined.teal(href="/views/demo/javascript/tagbox.html") Tagbox

    +divider Tools

    +multiple
        a.button.actionable.outlined.teal(href="/views/demo/tools/autogrow.html") Autogrow
        a.button.actionable.outlined.green(href="/views/demo/tools/blur.html") Blur
        a.button.actionable.outlined.teal(href="/views/demo/tools/btEach.html") btEach
        a.button.actionable.outlined.teal(href="/views/demo/tools/formAjax.html") formAjax
        a.button.actionable.outlined.teal(href="/views/demo/tools/formSync.html") formSync
        a.button.actionable.outlined.green(href="/views/demo/tools/notification.html") Notification
        a.button.actionable.outlined.green(href="/views/demo/tools/oneTimeAction.html") oneTimeAction
        a.button.actionable.outlined.red(href="/views/demo/tools/selectable.html") Selectable
        a.button.actionable.outlined.green(href="/views/demo/tools/sortable.html") Sortable
        a.button.actionable.outlined.green(href="/views/demo/tools/timeAgo.html") timeAgo
        a.button.actionable.outlined.teal(href="/views/demo/tools/toggleHeight.html") toggleHeight
        a.button.actionable.outlined.teal(href="/views/demo/tools/touching.html") Touching

append body-end
    +noty({ body: '<p>[Green] To update <br/> [Teal] ToDo <br/> [Blue] Make it better <br/> [Red] Problematic</p>', ttl: 'forever' })
