
/* VALUE */

$statistic-value-size: 'xlarge' !default;
$statistic-value-size-force: true !default;
$statistic-value-size-basic: true !default;

/* DESCRIPTION */

$statistic-description-size: 'small' !default;
$statistic-description-size-force: true !default;
$statistic-description-size-basic: true !default;
