
/* CHAT */

$chat-msg-color: 'white';
$chat-msg-color-basic: true;

$chat-msg-level-3-margin-left: 9em;
$chat-msg-level-2-margin-left: 4.5em;
$chat-msg-level-1-margin-left: 0;

$chat-msg-img-size: 3em;
$chat-msg-img-border-width: 1px;
$chat-msg-img-border-color: $color-black;
$chat-msg-img-transition-duration: 0.2s;
$chat-msg-img-opacity-hover: 0.8;
