
// @require ../../panel.scss
// @require core/layout/layout.scss

/* RIGHT */

.panel.fullscreen.right,
.panel.fullscreen-request.right {

  width: 100vw;

  /* CLOSED */

  &:not(.open) {
    transform: translateX(100%);
  }

}

/* LAYOUT */

.panel-layout.panel-fullscreen-pinned-right {

  padding-right: 100vw;

  /* STICKY HEADER */

  &.layout.vertical > .layout-header.sticky {
    right: 100vw;
  }

}
