
// @require ../spinner.scss

/* COLORS */

@each $name, $datas in $colors {

  @if index( $spinner-colors, $name ) and $name != 'inherit' and $name != 'transparent' {

    $class: color-get-class( $name );

    $bg: nth( $datas, 1 );

    svg.spinner.#{$class} circle {
      stroke: $bg;
    }

  }

}
