
//- =========================================================================
//- Svelto - Flags v0.2.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin flag(flag)
  div(class="flag-" + flag)&attributes(attributes)
    block
