
//- =========================================================================
//- Svelto - Button v0.2.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin button(href)
  if href
    if href.slice ( 0, 11 ) === 'javascript:'
      .label(onclick=href)&attributes(attributes).button.actionable
        block
    else if href[href.length-1] === ')' || href.slice ( -2 ) === ');'
      .label(onclick="javascript:" + href)&attributes(attributes).button.actionable
        block
    else
      a.label(href=href)&attributes(attributes).button.actionable
        block
  else
    .label&attributes(attributes).button.actionable
      block

mixin button-left
  .label-left&attributes(attributes).button-left
    block
      
mixin button-right
  .label-right&attributes(attributes).button-right
    block

mixin button-icon(icon)
  +button&attributes(attributes)
    +icon(icon)
    block
  
mixin button-ribbon
  +button&attributes(attributes).ribbon
    block
  +button.invisible

mixin button-corner(direction)
  - direction = direction || "top-right";
  .label-corner(class=direction)&attributes(attributes).button-corner.actionable
    +button.compact
      block
      
mixin button-tag
  .label-tag.button-tag
    +button&attributes(attributes)
      block
