
/* ACCORDION */

.accordion {

    margin-bottom: $layout-spacing;

    & > .expander {

        margin-bottom: 0;

        &:not(:last-child) {

            margin-bottom: -1px !important;
            border-bottom-width: 0 !important;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;

            & > .header {
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
            }

        }

        &:not(:first-child) {
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }

    }

}
