
/* GENERAL */

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {

    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size-normal;
    color: $color-default-text;
    position: relative;
    min-height: 100%;
    display: flex;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &.unscrollable {
        overflow: hidden;
    }

    &.dragging {
        cursor: move !important;
        user-select: none !important;
    }

}

body {

    background-color: $color-default-bg;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;

    & > header {
        flex-shrink: 0;
        position: relative;
    }

    & > main {
        flex-grow: 1;
        position: relative;
        padding: 0 $layout-spacing;
    }

    & > footer {

        flex-shrink: 0;

        & > .footer {
            margin-bottom: 0;
        }

    }

    &.fixed-header {

        & > header {

            margin-top: $toolbar-height + $layout-spacing;
            transition: margin 0.3s ease 0s;

            & > .header {
                transition: top 0.3s ease 0s, right 0.3s ease 0s, bottom 0.3s ease 0s, left 0.3s ease 0s;
                position: fixed;
                z-index: 5;
                top: 0;
                right: 0;
                left: 0;
            }

        }

        & > main {
            transition: margin 0.3s ease 0s;
        }

    }

}
