
/* GENERAL */

*, *:before, *:after {
    box-sizing: inherit;
}

html {

    box-sizing: border-box;
    min-height: 100%;
    font-family: $font-family;
    font-size: $font-size-normal;
    color: $color-default-text;
    position: relative;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &.unscrollable {
        overflow: hidden;
    }

    &.dragging {
        cursor: move !important;
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        user-select: none !important;
    }

}

body {
    background-color: $color-default-bg;
    position: relative;
    min-height: calc(100% - ( #{$navbar-height} + #{$layout-spacing} ));
    margin: calc(#{$navbar-height} + #{$layout-spacing}) auto 0 !important;
    padding: 0 $layout-spacing;
}
