
/* GENERAL */

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {

    box-sizing: border-box;
    min-height: 100%;
    font-family: $font-family;
    font-size: $font-size-normal;
    color: $color-default-text;
    position: relative;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &.unscrollable {
        overflow: hidden;
    }

    &.dragging {
        cursor: move !important;
        user-select: none !important;
    }

}

body {

    background-color: $color-default-bg;
    position: relative;
//    min-height: calc(100% - ( #{$header-height} + #{$layout-spacing} ));
//    margin: calc(#{$header-height} + #{$layout-spacing}) auto 0 !important;

    & > #header-wrp {
        position: relative;
    }

    & > #content-wrp {
        position: relative;
        padding: 0 $layout-spacing;
    }

    &.fixed-header {

        & > #header-wrp {

            margin-top: $toolbar-height + $layout-spacing;
            transition: margin 0.3s ease 0s;

            & > .header {
                transition: top 0.3s ease 0s, right 0.3s ease 0s, bottom 0.3s ease 0s, left 0.3s ease 0s;
                position: fixed;
                z-index: 5;
                top: 0;
                right: 0;
                left: 0;
            }

        }

        & > #content-wrp {
            transition: margin 0.3s ease 0s;
        }

    }

}
