
/* BREADCRUMB */

.breadcrumb {

    margin-bottom: $layout-spacing;

    & > *:not(:last-child):after {
        padding-right: $breadcrumb-padding;
        padding-left: $breadcrumb-padding;
        opacity: $breadcrumb-icon-opacity;
    }

    &:not(.slashed) > *:not(:last-child):after { //FIXME: is not perfectly vertically centered
        @extend %icon;
        @extend .icon-navigation-chevron-right:before;
    }

    &.slashed > *:not(:last-child):after {
        padding-right: $breadcrumb-padding * 1.6;
        padding-left: $breadcrumb-padding * 1.6;
        content: '/';
    }

    &.highlighted > .current ~ * {

        opacity: $breadcrumb-after-opacity;

        &:hover {
            opacity: $breadcrumb-after-opacity-hover;
        }

        &:after {
            opacity: 1;
        }

    }

}
