
/* DEFAULT BUTTON */

button {
    border: none;
}

/* BUTTON */

.button {

    @extend .label;
    cursor: pointer;

    &.floating {
        //TODO: add sub floating actions
        @include z-depth ( 4 );
        margin-bottom: 0 !important;
        position: fixed;
        right: $layout-spacing * 3;
        bottom: $layout-spacing * 3;
    }

}
