
//TODO: add transparentize classes, maybe even the transparent-initial class

/* MIXIN */

@mixin color ( $color_name, $basic: false, $gradient: false, $extra: '' ) {

    $colors: map-get($colors, $color_name);

    $bg: nth($colors, 1);
    $bg-hover: nth($colors, 2);
    $bg-active: nth($colors, 3);
    $text: nth($colors, 4);
    $text-hover: nth($colors, 5);
    $border: nth($colors, 6);
    $accent: nth($colors, 7);

    border-color: $border #{$extra};
    color: $text #{$extra};

    @if $basic == false {

        background: $bg #{$extra};

        &.gradient {
            @include gradient ( $color_name, $extra );
        }

        &.actionable {

            &.active {
                background: $bg-active #{$extra};
            }

            &:not(.inactive):not(.active):not(.dragging) { //TODO: remove inactive and switch it with '*-disabled' maybe

                &:hover {
                    background: $bg-hover #{$extra};
                }

                &:not(.ripple):active {
                    background: $bg-active #{$extra};
                }

            }

        }

    } @else {

        @if $gradient == true {
            @include gradient ( $color_name, $extra );
        } @else {
            background: $bg #{$extra};
        }

    }

}

/* COLORS */

@each $name, $datas in $colors {

    .#{$name} {
        @include color ( $name, false, false, '!important' );
    }

    .text-#{$name} {
        color: nth($datas, 1);
    }

}
