
/* CONTAINER */

.container {

    @include white ( true );
    border-width: $container-border-width;
    border-style: solid;
    border-radius: $border-radius-medium;
    padding: $layout-spacing;
    margin-bottom: $layout-spacing;
    box-shadow: $shadow-depth-1;
    position: relative;

    &.limited {
        max-width: $layout-max-width;
        margin-left: auto;
        margin-right: auto;
    }

    & > *:last-child:not(.content):not(.footer) {

        margin-bottom: 0 !important;

        &.multiple {
            margin-bottom: -$layout-spacing !important;
        }

    }

    & > .header {

        //TODO: add support for header always centered, even if you have 2 buttons at the left and 4 at the right
        //TODO: maybe add support for same width if there are some buttons or not

        @include primary ();
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-width: $container-header-border-width;
        border-style: solid;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-weight: bold;
        margin: #{-($layout-spacing + $container-border-width)} #{-($layout-spacing + $container-border-width)} $layout-spacing;
        text-transform: uppercase;
        position: relative;
        padding: $layout-spacing;

        & > .sub {

            &.left {
                order: 0;
            }

            &.center {

                order: 1;
                flex-grow: 1;
                text-align: center;

                & > .title {
                    pointer-events: none; //INFO: so we can drag by the title for example (but are are you sure about this?)(is this the original purpose?)//FIXME: if we use this we cannot support IE 10 (I think)
                    padding-left: $layout-spacing;
                    padding-right: $layout-spacing;

                }

            }

            &.right {
                order: 2;
            }

            & > .multiple {
                margin-top: -3px;
                margin-bottom: -3px;
            }

            & > .button, & > .multiple > .button {
                margin-bottom: 0 !important;
            }

        }

    }

    & > .content {
        margin: -$layout-spacing;
        padding: $layout-spacing;
        overflow: hidden;
    }

    & > .footer {
        margin: #{$layout-spacing} #{-($layout-spacing + $container-border-width)} #{-($layout-spacing + $container-border-width)};
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        border-width: $container-footer-border-width;
        border-style: solid;
        padding: $layout-spacing;
    }

}
