
/* CONTAINER */

.container {

    @include color ( 'white', true );
    border-width: $container-border-width;
    border-style: solid;
    border-radius: $border-radius-medium;
    margin-bottom: $layout-spacing;
    display: flex;
    flex-direction: column;

    &.limited {
        max-width: $layout-max-width;
        margin-left: auto;
        margin-right: auto;
    }

    & > .container-header {

        @include color ( 'primary' );
        display: flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        border-width: $container-header-border-width;
        border-style: solid;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        font-weight: bold;
        padding: $layout-spacing;
        margin-left: - $container-header-border-width;
        margin-right: - $container-header-border-width;
        margin-top: - $container-header-border-width;

        & > .container-header-sub {

            box-sizing: border-box;

            &.left {

                order: 0;
                flex-shrink: 25;
                width: 50%;

                & ~ .center, & ~ .right {
                    padding-left: $layout-spacing;
                    padding-right: 0;
                }

            }

            &.center {

                order: 1;
                flex-grow: 1;
                text-align: center;

                & ~ .right {
                    padding-left: $layout-spacing;
                    padding-right: 0;
                }

                & ~ .left {
                    padding-right: $layout-spacing;
                    padding-left: 0;
                }

            }

            &.right {

                order: 2;
                flex-shrink: 25;
                width: 50%;
                text-align: right;

                & > .multiple {
                    justify-content: flex-end;
                }

                & ~ .center, & ~ .left {
                    padding-right: $layout-spacing;
                    padding-left: 0;
                }

            }

            & > * {

                margin-bottom: 0;

                &.multiple {
                    margin-bottom: -$layout-spacing !important;
                }

            }

        }

    }

    & > .container-content {

        flex-grow: 1;
        padding: $layout-spacing;
        overflow: auto;

        & > *:last-child {

            margin-bottom: 0 !important;

            &.multiple {
                margin-bottom: -$layout-spacing !important;
            }

        }

    }

    & > .container-footer {
        @include color ( 'white' );
        flex-shrink: 0;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-left: - $container-footer-border-width;
        margin-right: - $container-footer-border-width;
        margin-bottom: - $container-footer-border-width;
        border-width: $container-footer-border-width;
        border-style: solid;
        padding: $layout-spacing;
    }

}
