
/* CONTAINER */

.container {

    @include color ( $container-color, $container-color-basic );
    display: flex;
    flex-direction: column;
    margin-bottom: $layout-spacing;
    border-width: $container-border-width;
    border-style: solid;
    border-radius: $contianer-border-radius;

    &.limited {
        max-width: $layout-max-width;
        margin-right: auto;
        margin-left: auto;
    }

    & > .container-header {

        @include color ( $container-header-color, $container-header-color-basic );
        font-weight: bold;
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        align-items: center;
        margin-top: - $container-header-border-width;
        margin-right: - $container-header-border-width;
        margin-left: - $container-header-border-width;
        padding: $layout-spacing;
        border-width: $container-header-border-width;
        border-style: solid;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        &.actionable {
            cursor: pointer;
        }

        & > .container-header-sub {

            box-sizing: border-box;

            &.left {

                flex-shrink: 25;
                order: 0;
                width: 50%;

                & ~ .center, & ~ .right {
                    padding-right: 0;
                    padding-left: $layout-spacing;
                }

            }

            &.center {

                flex-grow: 1; //FIXME: is not centered if only one of the left and right sections are provided
                order: 1;
                text-align: center;
                white-space: nowrap; //FIXME: it should wrap if necessary...

                & ~ .right {
                    padding-right: 0;
                    padding-left: $layout-spacing;
                }

                & ~ .left {
                    padding-right: $layout-spacing;
                    padding-left: 0;
                }

            }

            &.right {

                flex-shrink: 25;
                order: 2;
                width: 50%;
                text-align: right;

                & > .multiple-wrp > .multiple {
                    justify-content: flex-end;
                }

                & ~ .center, & ~ .left {
                    padding-right: $layout-spacing;
                    padding-left: 0;
                }

            }

            & > * {
                margin-bottom: 0;
            }

        }

    }

    & > .container-content {

        overflow: auto;
        flex-grow: 1;
        padding: $layout-spacing;

        & > *:last-child {
            margin-bottom: 0 !important;
        }

    }

    & > .container-footer {
        @include color ( $container-footer-color, $container-footer-color-basic );
        flex-shrink: 0;
        margin-right: - $container-footer-border-width;
        margin-bottom: - $container-footer-border-width;
        margin-left: - $container-footer-border-width;
        padding: $layout-spacing;
        border-width: $container-footer-border-width;
        border-style: solid;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
    }

}
