
/* DEFAULT DIVIDER */

hr {
    height: 1px;
    margin-top: - $layout-half-spacing;
    margin-bottom: $layout-half-spacing;
    border: none;
    background-color: $divider-linear-bg-color;
}

/* DIVIDER */

//TODO: add vertical divider

.divider-wrp {

    margin-bottom: $layout-spacing;

    &.block {

        text-align: center;

        & > .divider {
            @include color ( $divider-block-color, $divider-block-color-basic );
            display: inline-block;
            padding: $divider-block-padding;
            border-radius: 10000px 10000px;
        }

    }

    &.linear {

        display: flex;
        align-items: center;

        & > hr {

            flex-grow: 1;
            margin: 0;
            min-width: $layout-spacing;

            &.left {
                order: 0;
            }

            &.right {
                order: 2;
            }

        }

        & > .divider {
            order: 1;
            padding: $divider-linear-vertical-padding $divider-linear-horizontal-padding;
        }

    }

    &.text {

        & > .divider {
            @include size ( $divider-text-size );
            font-weight: $divider-text-font-weight;
            margin: 0 $layout-spacing;
            opacity: $divider-text-opacity;
        }

    }

    & > .divider > *:last-child {
        margin-bottom: 0 !important;
    }

}
