
/* DEFAULT DIVIDER */

hr {
    height: 1px;
    margin-bottom: $layout-spacing;
    border: none;
    background-color: $divider-linear-bg-color;
}

/* DIVIDER */

.divider-wrp {

    margin-bottom: $layout-spacing;
    text-align: center;

    & > .divider {

        &.bold {
            @include color ( $divider-bold-color, $divider-bold-color-basic );
            display: inline-block;
            padding: $divider-bold-padding;
            border-radius: 10000px 10000px; //INFO: Otherwise it will look like an oval, not a rounded rectangle
        }

        &.linear {

            position: relative;
            overflow: hidden;

            &:before, &:after {
                position: absolute;
                top: calc(50% - 0.5px);
                width: 50%;
                content: '';
                border-top: 1px solid $divider-linear-bg-color;
            }

            &:before {
                margin-left: calc(-50% - 1em);
            }

            &:after {
                margin-left: 1em;
            }

        }

        &.text {
            @include size ( $divider-text-size );
            font-weight: bold;
            margin: - $layout-half-spacing 0 $layout-half-spacing $layout-spacing;
            text-align: left;
            opacity: $divider-text-opacity;
        }

    }

}
