
/* DROPDOWN */

//FIXME: If the content is too long it excedes the visible area

.dropdown {

    position: fixed;
    z-index: $dropdown-z-index;
    padding: $dropdown-padding;
    transition: opacity $dropdown-transition-all-duration;

    &.moving {
        transition: opacity $dropdown-transition-all-duration, top $dropdown-transition-moving-duration, left $dropdown-transition-moving-duration;
    }

    &.no-tip, &.attached {

        & > .dropdown-tip {
            display: none !important;
        }

    }

    &.attached {

        padding: 0;

        &.top {

            margin-bottom: -1px;

            & > .container {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

        }

        &.bottom {

            margin-top: -1px;

            & > .container {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

        }

        &.left {
            margin-right: -1px;
        }

        &.right {
            margin-left: -1px;
        }

    }

    & > .dropdown-tip {

        position: absolute;
        z-index: 1;
        display: none;
        width: 0;
        height: 0;

        &:before, &:after {
            display: block;
            content: '';
        }

        &:before {
            @include triangle ( $dropdown-tip-bg-size, $dropdown-tip-bg-color, up );
            margin-left: - ( $dropdown-tip-bg-size / 2 );
        }

        &:after {
            @include triangle ( $dropdown-tip-fg-size, $dropdown-tip-fg-color, up );
            margin-top: - ( $dropdown-tip-fg-size / 2 );
            margin-left: - ( $dropdown-tip-fg-size / 2 );
        }

        &.top, &.bottom {
            left: 50%;
        }

        &.top {
            top: $dropdown-padding - ( $dropdown-tip-bg-size / 2 ) + $dropdown-border-width;
        }

        &.bottom {
            bottom: $dropdown-padding - ( $dropdown-tip-bg-size / 2 ) + $dropdown-border-width;
            transform: rotate(180deg);
        }

        &.left, &.right {
            top: 50%;
            margin-top: - ( $dropdown-tip-bg-size / 4 );
        }

        &.left {
            left: $dropdown-padding - ( $dropdown-tip-bg-size / 2 ) + $dropdown-border-width;
            transform: rotate(-90deg);
        }

        &.right {
            right: $dropdown-padding - ( $dropdown-tip-bg-size / 2 ) + $dropdown-border-width;
            transform: rotate(90deg);
        }

    }

    &.top > .dropdown-tip.bottom, &.bottom > .dropdown-tip.top, &.left > .dropdown-tip.right, &.right > .dropdown-tip.left {
        display: block;
    }

    & > .container {
        @include z-depth ( $dropdown-z-depth );
        overflow: hidden;
        max-width: $dropdown-container-max-width;
        max-height: $dropdown-container-max-height;
        margin-bottom: 0;
        border-width: $dropdown-border-width;
    }

    /* ANIMATIONS */

    &:not(.active) {
        pointer-events: none;
        opacity: 0;
    }


}
