
/* ELEMENTS */

iframe, embed, video, object {
    //TODO: take it from bootstrap
}

.image-wrp {

    position: relative;
    display: flex;
    overflow: hidden;
    margin-bottom: $layout-spacing;
    border: $image-border-width solid $image-border-color;
    border-radius: $border-radius-medium;

    & > .image-caption {
        @include color ( $image-caption-color, true );
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: $layout-spacing;
    }

}
