
/* EXPANDER */

.expander {

    //FIXME: the transitions on the content don't work

    & > .container-header {

        transition: border-radius $expander-header-transition-border-radius-duration;
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;

        & .icon-hardware-keyboard-arrow-down {
            transition: transform $expander-arrow-transition-rotate-duration;
        }

    }

    & > .container-content {
        display: none;
        padding-top: 0;
        padding-bottom: 0;
        transition: padding $expander-content-transition-padding-duration, opacity $expander-content-transition-opacity-duration;
        opacity: 0;
    }

    &.opened {

        & > .container-header {

            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;

            & .multiple-sub {

                &.left .icon-hardware-keyboard-arrow-down {
                    transform: rotate(-180deg);
                }

                &.right .icon-hardware-keyboard-arrow-down {
                    transform: rotate(180deg);
                }

            }

        }

        & > .container-content {
            display: block;
            padding-top: $layout-spacing;
            padding-bottom: $layout-spacing;
            opacity: 1;
        }

    }

}
