
/* EXPANDER */

.expander {

    padding-bottom: 0;
    transition: padding-bottom 0.25s ease 0s;

    & > .header {

        cursor: pointer;
        margin-bottom: 0;
        border-bottom-left-radius: $border-radius-medium;
        border-bottom-right-radius: $border-radius-medium;
        transition: margin-bottom 0.25s ease 0s, border-bottom-left-radius 0.25s ease 0s, border-bottom-right-radius 0.25s ease 0s;

        & > .sub .icon.icon-hardware-keyboard-arrow-down {
            transition: transform 0.2s ease 0s;
            transition: rotate(0);
        }

    }

    & > .content {
        display: none;
    }

    &.opened {

        padding-bottom: $layout-spacing;

        & > .header {

            margin-bottom: $layout-spacing !important;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;

            & > .sub {

                &.left .icon.icon-hardware-keyboard-arrow-down {
                    transform: rotate(-180deg);
                }

                &.right .icon.icon-hardware-keyboard-arrow-down {
                    transform: rotate(180deg);
                }

            }

        }

        & > .content {
            display: block;
        }

    }

}
