
//INFO: http://semantic-ui.com/elements/flag.html

/* GENERAL */

%flag {
    background-image: url('/assets/images/presto/flags.png');
    width: 16px;
    height: 11px;
    content: '';
    display: inline-block;
}

[class*=' flag-']:before, [class^='flag-']:before {
    @extend %flag
}

/* FLAGS */

@each $country, $datas in $flags {

    $aliases: nth($datas, 1);
    $background-position: nth($datas, 2);

    @if $flags-only-enabled == false or index($flags-enabled, $country) != null {

        .flag-#{$country}:before {
            background-position: $background-position;
        }

        @each $alias in $aliases {

            .flag-#{$alias}:before {
                @extend .flag-#{$country}:before;
            }

        }

    }

}
