
/* URL: http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html */

/* MATERIAL DESIGN ICONS */

@font-face {
    font-family: "Material-Design-Icons";
    src: url("/assets/fonts/material-design-icons/Material-Design-Iconic-Font.eot")format("embedded-opentype"),
         url("/assets/fonts/material-design-icons/Material-Design-Iconic-Font.woff")format("woff"),
         url("/assets/fonts/material-design-icons/Material-Design-Iconic-Font.ttf")format("truetype"),
         url("/assets/fonts/material-design-icons/Material-Design-Iconic-Font.svg")format("svg");
    font-weight: normal;
    font-style: normal;
}
