
/* FORM */

label {
    display: block;
    margin-bottom: $layout-spacing;
    text-align: left;
}

input, textarea {

    @include white ( true );
    @include medium ();
    box-shadow: $shadow-depth-1;
    border: none;
    border-radius: $border-radius-normal;
    font-family: $font-family;
    padding: $form-textbox-vertical-padding $form-textbox-horizontal-padding;
    box-sizing:border-box;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    min-width: 0px;
    margin-bottom: $layout-spacing;

    &.fluid {
        width: 100%;
    }

    &[disabled], &.inactive {
        opacity: 0.5;
    }

    &.outlined {
        @include multi-shadow ( $shadow-depth-1, $form-outlined-shadow );
    }

}

textarea {

    resize: vertical;

    &[disabled], &.inactive {
        resize: none;
    }

}
