
/* GRID */

.grid {

    margin: 0 #{-$layout-half-spacing};

    & > .grid-row {

        margin: 0 auto;

        & > .grid-column {
            display: inline-block;
            vertical-align: top;
            padding-left: $layout-half-spacing;
            padding-right: $layout-half-spacing;
        }

    }

    &.limited > .grid-row {
        max-width: $grid-limited-width;
    }

    &.full-size > .grid-row > .grid-column {

        width: 100%;

        .container {
            height: calc(100vh - #{$navbar-height} - (#{$layout-spacing} * 2));
        }

    }

}
