
/* HEADER */

.header {

    position: relative;
    margin-bottom: $layout-spacing;

    &.has-background { //FIXME: it doesn't work if we want to add the shadow also when using the background
        overflow: hidden;
    }

    & > .header-background { //TODO: scale it, make the image fill the space
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

}
