
/* HEADER */

.header-wrp {

    @include white ( true );
    display: flex;
    align-items: center;
    margin-bottom: $layout-spacing;

    &.outlined {
        border-width: $container-border-size;
        border-style: solid;
        border-radius: $border-radius-normal;
        padding: $layout-spacing;
        box-shadow: $shadow-depth-1;
    }

    &.limited {
        max-width: $layout-max-width;
        margin-left: auto;
        margin-right: auto;
    }

    & > *:not(:first-child) {
        margin-left: $layout-spacing;
    }

    & > .header-left {
        order: 1;
        flex-shrink: 0;
    }

    & > .header-center {

        order: 2;
        flex-grow: 1;
        flex-shrink: 1;

        & > .header-title {
            margin-bottom: $layout-half-spacing;
        }

    }

    & > .header-right {
        order: 3;
        flex-shrink: 0;
    }

    & > * > *:last-child {

        margin-bottom: 0 !important;

        &.multiple {
            margin-bottom: -$layout-spacing !important;
        }

    }

}
