
/* BLUR */

.blurred {
    filter: url('/assets/images/presto/blur.svg#blur') !important;
    filter: blur(3px) !important;
}

/* BORDER */

.no-border {
    border-width: 0 !important;
}

.rounded {
    border-radius: 10000px 10000px !important;
}

.smooth {
    border-radius: $border-radius-medium !important;
}

.sharp {
    border-radius: 0 !important;
}

/* DISPLAY */

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

/* VISIBILITY */

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}

/* FLOAT */

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

/* TEXT ALIGNMENT */

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

/* TEXT TRANSFORMATION */

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

/* PADDING */

.no-padding {
    padding: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

/* MARGIN */

.no-margin {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

/* OVERFLOW */

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-visible {
    overflow: visible !important;
}

/* FLIP */

.flipX {
    transform: rotateY(180deg) !important;
}

.flipY {
    transform: rotateX(180deg) !important;
}

.flip {
    transform: rotateY(180deg) rotateX(180deg) !important;
}

/* ROTATE */

.rotate-left {
    transform: rotate(-90deg) !important;
}

.rotate-right {
    transform: rotate(90deg) !important;
}

.rotating { //TODO: Maybe move to an _helpers_animations
    animation: rotate 0.9s linear infinite !important;
}

/* OTHER */

.centered { //TODO: Maybe remove this, or find a better name

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $layout-spacing;

    & > *:last-child {
        margin-bottom: 0 !important;
    }

}

.spacer {
    flex-grow: 1000 !important;
    margin-bottom: $layout-spacing;
}

/* GROW */

@for $nr from 1 through 12 {

    .grow-#{$nr} {
        flex-grow: #{$nr} !important;
    }

}

/* SHRINK */

@for $nr from 1 through 12 {

    .shrink-#{$nr} {
        flex-shrink: #{$nr} !important;
    }

}

/* OTHERS */ //TODO: move them to their own file

.dragging {
    z-index: 1;
}
