
/* VISIBILITY CLASSES */

// XSMALL

.hidden-xs, .xs-0 {
    display: none !important;
}

@each $display in block, inline, inline-block {

    .visible-xs-#{$display} {
        display: $display !important;
    }

}

// SMALL

@include from-small {

    .hidden-sm, .sm-0 {
        display: none !important;
    }

    @each $display in block, inline, inline-block {

        .visible-sm-#{$display} {
            display: $display !important;
        }

    }

}

// MEDIUM

@include from-medium {

    .hidden-md, .md-0 {
        display: none !important;
    }

    @each $display in block, inline, inline-block {

        .visible-md-#{$display} {
            display: $display !important;
        }

    }

}

// LARGE

@include from-large {

    .hidden-lg, .lg-0 {
        display: none !important;
    }

    @each $display in block, inline, inline-block {

        .visible-lg-#{$display} {
            display: $display !important;
        }

    }

}

// XLARGE

@include from-xlarge {

    .hidden-xl, .xl-0 {
        display: none !important;
    }

    @each $display in block, inline, inline-block {

        .visible-xl-#{$display} {
            display: $display !important;
        }

    }

}

/* WIDTH GRID */

// XSMALL

@for $nr from 1 through $grid-columns-nr {

    .xs-#{$nr} {
        display: inline-block !important;
        width: ( 100% / $grid-columns-nr ) * $nr;
    }

    .offset-xs-#{$nr} {
        margin-left: ( 100% / $grid-columns-nr ) * $nr;
    }

}

// SMALL

@include from-small {

    @for $nr from 1 through $grid-columns-nr {

        .sm-#{$nr} {
            display: inline-block !important;
            width: ( 100% / $grid-columns-nr ) * $nr;
        }

        .offset-sm-#{$nr} {
            margin-left: ( 100% / $grid-columns-nr ) * $nr;
        }

    }

}

// MEDIUM

@include from-medium {

    @for $nr from 1 through $grid-columns-nr {

        .md-#{$nr} {
            display: inline-block !important;
            width: ( 100% / $grid-columns-nr ) * $nr;
        }

        .offset-md-#{$nr} {
            margin-left: ( 100% / $grid-columns-nr ) * $nr;
        }

    }

}

// LARGE

@include from-large {

    @for $nr from 1 through $grid-columns-nr {

        .lg-#{$nr} {
            display: inline-block !important;
            width: ( 100% / $grid-columns-nr ) * $nr;
        }

        .offset-lg-#{$nr} {
            margin-left: ( 100% / $grid-columns-nr ) * $nr;
        }

    }

}

// XLARGE

@include from-xlarge {

    @for $nr from 1 through $grid-columns-nr {

        .xl-#{$nr} {
            display: inline-block !important;
            width: ( 100% / $grid-columns-nr ) * $nr;
        }

        .offset-xl-#{$nr} {
            margin-left: ( 100% / $grid-columns-nr ) * $nr;
        }

    }

}
