
/* HIGHLIGHT */

.highlight:after {
    border-radius: 0 0 $border-radius-medium $border-radius-medium;
    content: '';
    height: $highlight-height;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none; //FIXME: if we use this we cannot support IE 10 (I think)
}
