
/* URL: http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html */

/* GENERAL */

@font-face {
    font-family: "Material-Design-Icons";
    src: url("/assets/fonts/material-design-icons/Material-Design-Iconic-Font.eot")format("embedded-opentype"),
         url("/assets/fonts/material-design-icons/Material-Design-Iconic-Font.woff")format("woff"),
         url("/assets/fonts/material-design-icons/Material-Design-Iconic-Font.ttf")format("truetype"),
         url("/assets/fonts/material-design-icons/Material-Design-Iconic-Font.svg")format("svg");
    font-weight: normal;
    font-style: normal;
}

%icon {
    font-family: "Material-Design-Icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class*='icon-'] {
    @extend %icon;
}

/* ACTION */

.icon-action-3d-rotation:before {
  content: "\f000";
}

.icon-action-accessibility:before {
  content: "\f001";
}

.icon-action-account-balance:before {
  content: "\f002";
}

.icon-action-account-balance-wallet:before {
  content: "\f003";
}

.icon-action-account-box:before {
  content: "\f004";
}

.icon-action-account-child:before {
  content: "\f005";
}

.icon-action-account-circle:before {
  content: "\f006";
}

.icon-action-add-shopping-cart:before {
  content: "\f007";
}

.icon-action-alarm:before {
  content: "\f008";
}

.icon-action-alarm-add:before {
  content: "\f009";
}

.icon-action-alarm-off:before {
  content: "\f00a";
}

.icon-action-alarm-on:before {
  content: "\f00b";
}

.icon-action-android:before {
  content: "\f00c";
}

.icon-action-announcement:before {
  content: "\f00d";
}

.icon-action-aspect-ratio:before {
  content: "\f00e";
}

.icon-action-assessment:before {
  content: "\f00f";
}

.icon-action-assignment:before {
  content: "\f010";
}

.icon-action-assignment-ind:before {
  content: "\f011";
}

.icon-action-assignment-late:before {
  content: "\f012";
}

.icon-action-assignment-return:before {
  content: "\f013";
}

.icon-action-assignment-returned:before {
  content: "\f014";
}

.icon-action-assignment-turned-in:before {
  content: "\f015";
}

.icon-action-autorenew:before {
  content: "\f016";
}

.icon-action-backup:before {
  content: "\f017";
}

.icon-action-book:before {
  content: "\f018";
}

.icon-action-bookmark:before {
  content: "\f019";
}

.icon-action-bookmark-outline:before {
  content: "\f01a";
}

.icon-action-bug-report:before {
  content: "\f01b";
}

.icon-action-cached:before {
  content: "\f01c";
}

.icon-action-class:before {
  content: "\f01d";
}

.icon-action-credit-card:before {
  content: "\f01e";
}

.icon-action-dashboard:before {
  content: "\f01f";
}

.icon-action-delete:before {
  content: "\f020";
}

.icon-action-description:before {
  content: "\f021";
}

.icon-action-dns:before {
  content: "\f022";
}

.icon-action-done:before {
  content: "\f023";
}

.icon-action-done-all:before {
  content: "\f024";
}

.icon-action-event:before {
  content: "\f025";
}

.icon-action-exit-to-app:before {
  content: "\f026";
}

.icon-action-explore:before {
  content: "\f027";
}

.icon-action-extension:before {
  content: "\f028";
}

.icon-action-face-unlock:before {
  content: "\f029";
}

.icon-action-favorite:before {
  content: "\f02a";
}

.icon-action-favorite-outline:before {
  content: "\f02b";
}

.icon-action-find-in-page:before {
  content: "\f02c";
}

.icon-action-find-replace:before {
  content: "\f02d";
}

.icon-action-flip-to-back:before {
  content: "\f02e";
}

.icon-action-flip-to-front:before {
  content: "\f02f";
}

.icon-action-get-app:before {
  content: "\f030";
}

.icon-action-grade:before {
  content: "\f031";
}

.icon-action-group-work:before {
  content: "\f032";
}

.icon-action-help:before {
  content: "\f033";
}

.icon-action-highlight-remove:before {
  content: "\f034";
}

.icon-action-history:before {
  content: "\f035";
}

.icon-action-home:before {
  content: "\f036";
}

.icon-action-https:before {
  content: "\f037";
}

.icon-action-info:before {
  content: "\f038";
}

.icon-action-info-outline:before {
  content: "\f039";
}

.icon-action-input:before {
  content: "\f03a";
}

.icon-action-invert-colors:before {
  content: "\f03b";
}

.icon-action-label:before {
  content: "\f03c";
}

.icon-action-label-outline:before {
  content: "\f03d";
}

.icon-action-language:before {
  content: "\f03e";
}

.icon-action-launch:before {
  content: "\f03f";
}

.icon-action-list:before {
  content: "\f040";
}

.icon-action-lock:before {
  content: "\f041";
}

.icon-action-lock-open:before {
  content: "\f042";
}

.icon-action-lock-outline:before {
  content: "\f043";
}

.icon-action-loyalty:before {
  content: "\f044";
}

.icon-action-markunread-mailbox:before {
  content: "\f045";
}

.icon-action-note-add:before {
  content: "\f046";
}

.icon-action-open-in-browser:before {
  content: "\f047";
}

.icon-action-open-in-new:before {
  content: "\f048";
}

.icon-action-open-with:before {
  content: "\f049";
}

.icon-action-pageview:before {
  content: "\f04a";
}

.icon-action-payment:before {
  content: "\f04b";
}

.icon-action-perm-camera-mic:before {
  content: "\f04c";
}

.icon-action-perm-contact-cal:before {
  content: "\f04d";
}

.icon-action-perm-data-setting:before {
  content: "\f04e";
}

.icon-action-perm-device-info:before {
  content: "\f04f";
}

.icon-action-perm-identity:before {
  content: "\f050";
}

.icon-action-perm-media:before {
  content: "\f051";
}

.icon-action-perm-phone-msg:before {
  content: "\f052";
}

.icon-action-perm-scan-wifi:before {
  content: "\f053";
}

.icon-action-picture-in-picture:before {
  content: "\f054";
}

.icon-action-polymer:before {
  content: "\f055";
}

.icon-action-print:before {
  content: "\f056";
}

.icon-action-query-builder:before {
  content: "\f057";
}

.icon-action-question-answer:before {
  content: "\f058";
}

.icon-action-receipt:before {
  content: "\f059";
}

.icon-action-redeem:before {
  content: "\f05a";
}

.icon-action-report-problem:before {
  content: "\f05b";
}

.icon-action-restore:before {
  content: "\f05c";
}

.icon-action-room:before {
  content: "\f05d";
}

.icon-action-schedule:before {
  content: "\f05e";
}

.icon-action-search:before {
  content: "\f05f";
}

.icon-action-settings:before {
  content: "\f060";
}

.icon-action-settings-applications:before {
  content: "\f061";
}

.icon-action-settings-backup-restore:before {
  content: "\f062";
}

.icon-action-settings-bluetooth:before {
  content: "\f063";
}

.icon-action-settings-cell:before {
  content: "\f064";
}

.icon-action-settings-display:before {
  content: "\f065";
}

.icon-action-settings-ethernet:before {
  content: "\f066";
}

.icon-action-settings-input-antenna:before {
  content: "\f067";
}

.icon-action-settings-input-component:before {
  content: "\f068";
}

.icon-action-settings-input-composite:before {
  content: "\f069";
}

.icon-action-settings-input-hdmi:before {
  content: "\f06a";
}

.icon-action-settings-input-svideo:before {
  content: "\f06b";
}

.icon-action-settings-overscan:before {
  content: "\f06c";
}

.icon-action-settings-phone:before {
  content: "\f06d";
}

.icon-action-settings-power:before {
  content: "\f06e";
}

.icon-action-settings-remote:before {
  content: "\f06f";
}

.icon-action-settings-voice:before {
  content: "\f070";
}

.icon-action-shop:before {
  content: "\f071";
}

.icon-action-shopping-basket:before {
  content: "\f072";
}

.icon-action-shopping-cart:before {
  content: "\f073";
}

.icon-action-shop-two:before {
  content: "\f074";
}

.icon-action-speaker-notes:before {
  content: "\f075";
}

.icon-action-spellcheck:before {
  content: "\f076";
}

.icon-action-star-rate:before {
  content: "\f077";
}

.icon-action-stars:before {
  content: "\f078";
}

.icon-action-store:before {
  content: "\f079";
}

.icon-action-subject:before {
  content: "\f07a";
}

.icon-action-swap-horiz:before {
  content: "\f07b";
}

.icon-action-swap-vert:before {
  content: "\f07c";
}

.icon-action-swap-vert-circle:before {
  content: "\f07d";
}

.icon-action-system-update-tv:before {
  content: "\f07e";
}

.icon-action-tab:before {
  content: "\f07f";
}

.icon-action-tab-unselected:before {
  content: "\f080";
}

.icon-action-theaters:before {
  content: "\f081";
}

.icon-action-thumb-down:before {
  content: "\f082";
}

.icon-action-thumbs-up-down:before {
  content: "\f083";
}

.icon-action-thumb-up:before {
  content: "\f084";
}

.icon-action-toc:before {
  content: "\f085";
}

.icon-action-today:before {
  content: "\f086";
}

.icon-action-track-changes:before {
  content: "\f087";
}

.icon-action-translate:before {
  content: "\f088";
}

.icon-action-trending-down:before {
  content: "\f089";
}

.icon-action-trending-neutral:before {
  content: "\f08a";
}

.icon-action-trending-up:before {
  content: "\f08b";
}

.icon-action-turned-in:before {
  content: "\f08c";
}

.icon-action-turned-in-not:before {
  content: "\f08d";
}

.icon-action-verified-user:before {
  content: "\f08e";
}

.icon-action-view-agenda:before {
  content: "\f08f";
}

.icon-action-view-array:before {
  content: "\f090";
}

.icon-action-view-carousel:before {
  content: "\f091";
}

.icon-action-view-column:before {
  content: "\f092";
}

.icon-action-view-day:before {
  content: "\f093";
}

.icon-action-view-headline:before {
  content: "\f094";
}

.icon-action-view-list:before {
  content: "\f095";
}

.icon-action-view-module:before {
  content: "\f096";
}

.icon-action-view-quilt:before {
  content: "\f097";
}

.icon-action-view-stream:before {
  content: "\f098";
}

.icon-action-view-week:before {
  content: "\f099";
}

.icon-action-visibility:before {
  content: "\f09a";
}

.icon-action-visibility-off:before {
  content: "\f09b";
}

.icon-action-wallet-giftcard:before {
  content: "\f09c";
}

.icon-action-wallet-membership:before {
  content: "\f09d";
}

.icon-action-wallet-travel:before {
  content: "\f09e";
}

.icon-action-work:before {
  content: "\f09f";
}

/* ALERT */

.icon-alert-error:before {
  content: "\f0a0";
}

.icon-alert-warning:before {
  content: "\f0a1";
}

/* AUDIO / VIDEO */

.icon-av-album:before {
  content: "\f0a2";
}

.icon-av-timer:before {
  content: "\f0a3";
}

.icon-av-closed-caption:before {
  content: "\f0a4";
}

.icon-av-equalizer:before {
  content: "\f0a5";
}

.icon-av-explicit:before {
  content: "\f0a6";
}

.icon-av-fast-forward:before {
  content: "\f0a7";
}

.icon-av-fast-rewind:before {
  content: "\f0a8";
}

.icon-av-games:before {
  content: "\f0a9";
}

.icon-av-hearing:before {
  content: "\f0aa";
}

.icon-av-high-quality:before {
  content: "\f0ab";
}

.icon-av-loop:before {
  content: "\f0ac";
}

.icon-av-mic:before {
  content: "\f0ad";
}

.icon-av-mic-none:before {
  content: "\f0ae";
}

.icon-av-mic-off:before {
  content: "\f0af";
}

.icon-av-movie:before {
  content: "\f0b0";
}

.icon-av-my-library-add:before {
  content: "\f0b1";
}

.icon-av-my-library-books:before {
  content: "\f0b2";
}

.icon-av-my-library-music:before {
  content: "\f0b3";
}

.icon-av-new-releases:before {
  content: "\f0b4";
}

.icon-av-not-interested:before {
  content: "\f0b5";
}

.icon-av-pause:before {
  content: "\f0b6";
}

.icon-av-pause-circle-fill:before {
  content: "\f0b7";
}

.icon-av-pause-circle-outline:before {
  content: "\f0b8";
}

.icon-av-play-arrow:before {
  content: "\f0b9";
}

.icon-av-play-circle-fill:before {
  content: "\f0ba";
}

.icon-av-play-circle-outline:before {
  content: "\f0bb";
}

.icon-av-playlist-add:before {
  content: "\f0bc";
}

.icon-av-play-shopping-bag:before {
  content: "\f0bd";
}

.icon-av-queue:before {
  content: "\f0be";
}

.icon-av-queue-music:before {
  content: "\f0bf";
}

.icon-av-radio:before {
  content: "\f0c0";
}

.icon-av-recent-actors:before {
  content: "\f0c1";
}

.icon-av-repeat:before {
  content: "\f0c2";
}

.icon-av-repeat-one:before {
  content: "\f0c3";
}

.icon-av-replay:before {
  content: "\f0c4";
}

.icon-av-shuffle:before {
  content: "\f0c5";
}

.icon-av-skip-next:before {
  content: "\f0c6";
}

.icon-av-skip-previous:before {
  content: "\f0c7";
}

.icon-av-snooze:before {
  content: "\f0c8";
}

.icon-av-stop:before {
  content: "\f0c9";
}

.icon-av-subtitles:before {
  content: "\f0ca";
}

.icon-av-surround-sound:before {
  content: "\f0cb";
}

.icon-av-videocam:before {
  content: "\f0cc";
}

.icon-av-videocam-off:before {
  content: "\f0cd";
}

.icon-av-video-collection:before {
  content: "\f0ce";
}

.icon-av-volume-down:before {
  content: "\f0cf";
}

.icon-av-volume-mute:before {
  content: "\f0d0";
}

.icon-av-volume-off:before {
  content: "\f0d1";
}

.icon-av-volume-up:before {
  content: "\f0d2";
}

.icon-av-web:before {
  content: "\f0d3";
}

/* COMMUNICATION */

.icon-communication-business:before {
  content: "\f0d4";
}

.icon-communication-call:before {
  content: "\f0d5";
}

.icon-communication-call-end:before {
  content: "\f0d6";
}

.icon-communication-call-made:before {
  content: "\f0d7";
}

.icon-communication-call-merge:before {
  content: "\f0d8";
}

.icon-communication-call-missed:before {
  content: "\f0d9";
}

.icon-communication-call-received:before {
  content: "\f0da";
}

.icon-communication-call-split:before {
  content: "\f0db";
}

.icon-communication-chat:before {
  content: "\f0dc";
}

.icon-communication-clear-all:before {
  content: "\f0dd";
}

.icon-communication-comment:before {
  content: "\f0de";
}

.icon-communication-contacts:before {
  content: "\f0df";
}

.icon-communication-dialer-sip:before {
  content: "\f0e0";
}

.icon-communication-dialpad:before {
  content: "\f0e1";
}

.icon-communication-dnd-on:before {
  content: "\f0e2";
}

.icon-communication-email:before {
  content: "\f0e3";
}

.icon-communication-forum:before {
  content: "\f0e4";
}

.icon-communication-import-export:before {
  content: "\f0e5";
}

.icon-communication-invert-colors-off:before {
  content: "\f0e6";
}

.icon-communication-invert-colors-on:before {
  content: "\f0e7";
}

.icon-communication-live-help:before {
  content: "\f0e8";
}

.icon-communication-location-off:before {
  content: "\f0e9";
}

.icon-communication-location-on:before {
  content: "\f0ea";
}

.icon-communication-message:before {
  content: "\f0eb";
}

.icon-communication-messenger:before {
  content: "\f0ec";
}

.icon-communication-no-sim:before {
  content: "\f0ed";
}

.icon-communication-phone:before {
  content: "\f0ee";
}

.icon-communication-portable-wifi-off:before {
  content: "\f0ef";
}

.icon-communication-quick-contacts-dialer:before {
  content: "\f0f0";
}

.icon-communication-quick-contacts-mail:before {
  content: "\f0f1";
}

.icon-communication-ring-volume:before {
  content: "\f0f2";
}

.icon-communication-stay-current-landscape:before {
  content: "\f0f3";
}

.icon-communication-stay-current-portrait:before {
  content: "\f0f4";
}

.icon-communication-stay-primary-landscape:before {
  content: "\f0f5";
}

.icon-communication-stay-primary-portrait:before {
  content: "\f0f6";
}

.icon-communication-swap-calls:before {
  content: "\f0f7";
}

.icon-communication-textsms:before {
  content: "\f0f8";
}

.icon-communication-voicemail:before {
  content: "\f0f9";
}

.icon-communication-vpn-key:before {
  content: "\f0fa";
}

/* CONTENT */

.icon-content-add:before {
  content: "\f0fb";
}

.icon-content-add-box:before {
  content: "\f0fc";
}

.icon-content-add-circle:before {
  content: "\f0fd";
}

.icon-content-add-circle-outline:before {
  content: "\f0fe";
}

.icon-content-archive:before {
  content: "\f0ff";
}

.icon-content-backspace:before {
  content: "\f100";
}

.icon-content-block:before {
  content: "\f101";
}

.icon-content-clear:before {
  content: "\f102";
}

.icon-content-content-copy:before {
  content: "\f103";
}

.icon-content-content-cut:before {
  content: "\f104";
}

.icon-content-content-paste:before {
  content: "\f105";
}

.icon-content-create:before {
  content: "\f106";
}

.icon-content-drafts:before {
  content: "\f107";
}

.icon-content-filter-list:before {
  content: "\f108";
}

.icon-content-flag:before {
  content: "\f109";
}

.icon-content-forward:before {
  content: "\f10a";
}

.icon-content-gesture:before {
  content: "\f10b";
}

.icon-content-inbox:before {
  content: "\f10c";
}

.icon-content-link:before {
  content: "\f10d";
}

.icon-content-mail:before {
  content: "\f10e";
}

.icon-content-markunread:before {
  content: "\f10f";
}

.icon-content-redo:before {
  content: "\f110";
}

.icon-content-remove:before {
  content: "\f111";
}

.icon-content-remove-circle:before {
  content: "\f112";
}

.icon-content-remove-circle-outline:before {
  content: "\f113";
}

.icon-content-reply:before {
  content: "\f114";
}

.icon-content-reply-all:before {
  content: "\f115";
}

.icon-content-report:before {
  content: "\f116";
}

.icon-content-save:before {
  content: "\f117";
}

.icon-content-select-all:before {
  content: "\f118";
}

.icon-content-send:before {
  content: "\f119";
}

.icon-content-sort:before {
  content: "\f11a";
}

.icon-content-text-format:before {
  content: "\f11b";
}

.icon-content-undo:before {
  content: "\f11c";
}

/* DEVICE */

.icon-device-access-alarm:before {
  content: "\f11d";
}

.icon-device-access-alarms:before {
  content: "\f11e";
}

.icon-device-access-time:before {
  content: "\f11f";
}

.icon-device-add-alarm:before {
  content: "\f120";
}

.icon-device-airplanemode-off:before {
  content: "\f121";
}

.icon-device-airplanemode-on:before {
  content: "\f122";
}

.icon-device-battery-20:before {
  content: "\f123";
}

.icon-device-battery-30:before {
  content: "\f124";
}

.icon-device-battery-50:before {
  content: "\f125";
}

.icon-device-battery-60:before {
  content: "\f126";
}

.icon-device-battery-80:before {
  content: "\f127";
}

.icon-device-battery-90:before {
  content: "\f128";
}

.icon-device-battery-alert:before {
  content: "\f129";
}

.icon-device-battery-charging-20:before {
  content: "\f12a";
}

.icon-device-battery-charging-30:before {
  content: "\f12b";
}

.icon-device-battery-charging-50:before {
  content: "\f12c";
}

.icon-device-battery-charging-60:before {
  content: "\f12d";
}

.icon-device-battery-charging-80:before {
  content: "\f12e";
}

.icon-device-battery-charging-90:before {
  content: "\f12f";
}

.icon-device-battery-charging-full:before {
  content: "\f130";
}

.icon-device-battery-full:before {
  content: "\f131";
}

.icon-device-battery-std:before {
  content: "\f132";
}

.icon-device-battery-unknown:before {
  content: "\f133";
}

.icon-device-bluetooth:before {
  content: "\f134";
}

.icon-device-bluetooth-connected:before {
  content: "\f135";
}

.icon-device-bluetooth-disabled:before {
  content: "\f136";
}

.icon-device-bluetooth-searching:before {
  content: "\f137";
}

.icon-device-brightness-auto:before {
  content: "\f138";
}

.icon-device-brightness-high:before {
  content: "\f139";
}

.icon-device-brightness-low:before {
  content: "\f13a";
}

.icon-device-brightness-medium:before {
  content: "\f13b";
}

.icon-device-data-usage:before {
  content: "\f13c";
}

.icon-device-developer-mode:before {
  content: "\f13d";
}

.icon-device-devices:before {
  content: "\f13e";
}

.icon-device-dvr:before {
  content: "\f13f";
}

.icon-device-gps-fixed:before {
  content: "\f140";
}

.icon-device-gps-not-fixed:before {
  content: "\f141";
}

.icon-device-gps-off:before {
  content: "\f142";
}

.icon-device-location-disabled:before {
  content: "\f143";
}

.icon-device-location-searching:before {
  content: "\f144";
}

.icon-device-multitrack-audio:before {
  content: "\f145";
}

.icon-device-network-cell:before {
  content: "\f146";
}

.icon-device-network-wifi:before {
  content: "\f147";
}

.icon-device-nfc:before {
  content: "\f148";
}

.icon-device-now-wallpaper:before {
  content: "\f149";
}

.icon-device-now-widgets:before {
  content: "\f14a";
}

.icon-device-screen-lock-landscape:before {
  content: "\f14b";
}

.icon-device-screen-lock-portrait:before {
  content: "\f14c";
}

.icon-device-screen-lock-rotation:before {
  content: "\f14d";
}

.icon-device-screen-rotation:before {
  content: "\f14e";
}

.icon-device-sd-storage:before {
  content: "\f14f";
}

.icon-device-settings-system-daydream:before {
  content: "\f150";
}

.icon-device-signal-cellular-0-bar:before {
  content: "\f151";
}

.icon-device-signal-cellular-1-bar:before {
  content: "\f152";
}

.icon-device-signal-cellular-2-bar:before {
  content: "\f153";
}

.icon-device-signal-cellular-3-bar:before {
  content: "\f154";
}

.icon-device-signal-cellular-4-bar:before {
  content: "\f155";
}

.icon-device-signal-cellular-connected-no-internet-0-bar:before {
  content: "\f156";
}

.icon-device-signal-cellular-connected-no-internet-1-bar:before {
  content: "\f157";
}

.icon-device-signal-cellular-connected-no-internet-2-bar:before {
  content: "\f158";
}

.icon-device-signal-cellular-connected-no-internet-3-bar:before {
  content: "\f159";
}

.icon-device-signal-cellular-connected-no-internet-4-bar:before {
  content: "\f15a";
}

.icon-device-signal-cellular-no-sim:before {
  content: "\f15b";
}

.icon-device-signal-cellular-null:before {
  content: "\f15c";
}

.icon-device-signal-cellular-off:before {
  content: "\f15d";
}

.icon-device-signal-wifi-0-bar:before {
  content: "\f15e";
}

.icon-device-signal-wifi-1-bar:before {
  content: "\f15f";
}

.icon-device-signal-wifi-2-bar:before {
  content: "\f160";
}

.icon-device-signal-wifi-3-bar:before {
  content: "\f161";
}

.icon-device-signal-wifi-4-bar:before {
  content: "\f162";
}

.icon-device-signal-wifi-off:before {
  content: "\f163";
}

.icon-device-storage:before {
  content: "\f164";
}

.icon-device-usb:before {
  content: "\f165";
}

.icon-device-wifi-lock:before {
  content: "\f166";
}

.icon-device-wifi-tethering:before {
  content: "\f167";
}

/* EDITOR */

.icon-editor-attach-file:before {
  content: "\f168";
}

.icon-editor-attach-money:before {
  content: "\f169";
}

.icon-editor-border-all:before {
  content: "\f16a";
}

.icon-editor-border-bottom:before {
  content: "\f16b";
}

.icon-editor-border-clear:before {
  content: "\f16c";
}

.icon-editor-border-color:before {
  content: "\f16d";
}

.icon-editor-border-horizontal:before {
  content: "\f16e";
}

.icon-editor-border-inner:before {
  content: "\f16f";
}

.icon-editor-border-left:before {
  content: "\f170";
}

.icon-editor-border-outer:before {
  content: "\f171";
}

.icon-editor-border-right:before {
  content: "\f172";
}

.icon-editor-border-style:before {
  content: "\f173";
}

.icon-editor-border-top:before {
  content: "\f174";
}

.icon-editor-border-vertical:before {
  content: "\f175";
}

.icon-editor-format-align-center:before {
  content: "\f176";
}

.icon-editor-format-align-justify:before {
  content: "\f177";
}

.icon-editor-format-align-left:before {
  content: "\f178";
}

.icon-editor-format-align-right:before {
  content: "\f179";
}

.icon-editor-format-bold:before {
  content: "\f17a";
}

.icon-editor-format-clear:before {
  content: "\f17b";
}

.icon-editor-format-color-fill:before {
  content: "\f17c";
}

.icon-editor-format-color-reset:before {
  content: "\f17d";
}

.icon-editor-format-color-text:before {
  content: "\f17e";
}

.icon-editor-format-indent-decrease:before {
  content: "\f17f";
}

.icon-editor-format-indent-increase:before {
  content: "\f180";
}

.icon-editor-format-italic:before {
  content: "\f181";
}

.icon-editor-format-line-spacing:before {
  content: "\f182";
}

.icon-editor-format-list-bulleted:before {
  content: "\f183";
}

.icon-editor-format-list-numbered:before {
  content: "\f184";
}

.icon-editor-format-paint:before {
  content: "\f185";
}

.icon-editor-format-quote:before {
  content: "\f186";
}

.icon-editor-format-size:before {
  content: "\f187";
}

.icon-editor-format-strikethrough:before {
  content: "\f188";
}

.icon-editor-format-textdirection-l-to-r:before {
  content: "\f189";
}

.icon-editor-format-textdirection-r-to-l:before {
  content: "\f18a";
}

.icon-editor-format-underline:before {
  content: "\f18b";
}

.icon-editor-functions:before {
  content: "\f18c";
}

.icon-editor-insert-chart:before {
  content: "\f18d";
}

.icon-editor-insert-comment:before {
  content: "\f18e";
}

.icon-editor-insert-drive-file:before {
  content: "\f18f";
}

.icon-editor-insert-emoticon:before {
  content: "\f190";
}

.icon-editor-insert-invitation:before {
  content: "\f191";
}

.icon-editor-insert-link:before {
  content: "\f192";
}

.icon-editor-insert-photo:before {
  content: "\f193";
}

.icon-editor-merge-type:before {
  content: "\f194";
}

.icon-editor-mode-comment:before {
  content: "\f195";
}

.icon-editor-mode-edit:before {
  content: "\f196";
}

.icon-editor-publish:before {
  content: "\f197";
}

.icon-editor-vertical-align-bottom:before {
  content: "\f198";
}

.icon-editor-vertical-align-center:before {
  content: "\f199";
}

.icon-editor-vertical-align-top:before {
  content: "\f19a";
}

.icon-editor-wrap-text:before {
  content: "\f19b";
}

/* FILE */

.icon-file-attachment:before {
  content: "\f19c";
}

.icon-file-cloud:before {
  content: "\f19d";
}

.icon-file-cloud-circle:before {
  content: "\f19e";
}

.icon-file-cloud-done:before {
  content: "\f19f";
}

.icon-file-cloud-download:before {
  content: "\f1a0";
}

.icon-file-cloud-off:before {
  content: "\f1a1";
}

.icon-file-cloud-queue:before {
  content: "\f1a2";
}

.icon-file-cloud-upload:before {
  content: "\f1a3";
}

.icon-file-file-download:before {
  content: "\f1a4";
}

.icon-file-file-upload:before {
  content: "\f1a5";
}

.icon-file-folder:before {
  content: "\f1a6";
}

.icon-file-folder-open:before {
  content: "\f1a7";
}

.icon-file-folder-shared:before {
  content: "\f1a8";
}

/* HARDWARE */

.icon-hardware-cast:before {
  content: "\f1a9";
}

.icon-hardware-cast-connected:before {
  content: "\f1aa";
}

.icon-hardware-computer:before {
  content: "\f1ab";
}

.icon-hardware-desktop-mac:before {
  content: "\f1ac";
}

.icon-hardware-desktop-windows:before {
  content: "\f1ad";
}

.icon-hardware-dock:before {
  content: "\f1ae";
}

.icon-hardware-gamepad:before {
  content: "\f1af";
}

.icon-hardware-headset:before {
  content: "\f1b0";
}

.icon-hardware-headset-mic:before {
  content: "\f1b1";
}

.icon-hardware-keyboard:before {
  content: "\f1b2";
}

.icon-hardware-keyboard-alt:before {
  content: "\f1b3";
}

.icon-hardware-keyboard-arrow-down:before {
  content: "\f1b4";
}

.icon-hardware-keyboard-arrow-left:before {
  content: "\f1b5";
}

.icon-hardware-keyboard-arrow-right:before {
  content: "\f1b6";
}

.icon-hardware-keyboard-arrow-up:before {
  content: "\f1b7";
}

.icon-hardware-keyboard-backspace:before {
  content: "\f1b8";
}

.icon-hardware-keyboard-capslock:before {
  content: "\f1b9";
}

.icon-hardware-keyboard-control:before {
  content: "\f1ba";
}

.icon-hardware-keyboard-hide:before {
  content: "\f1bb";
}

.icon-hardware-keyboard-return:before {
  content: "\f1bc";
}

.icon-hardware-keyboard-tab:before {
  content: "\f1bd";
}

.icon-hardware-keyboard-voice:before {
  content: "\f1be";
}

.icon-hardware-laptop:before {
  content: "\f1bf";
}

.icon-hardware-laptop-chromebook:before {
  content: "\f1c0";
}

.icon-hardware-laptop-mac:before {
  content: "\f1c1";
}

.icon-hardware-laptop-windows:before {
  content: "\f1c2";
}

.icon-hardware-memory:before {
  content: "\f1c3";
}

.icon-hardware-mouse:before {
  content: "\f1c4";
}

.icon-hardware-phone-android:before {
  content: "\f1c5";
}

.icon-hardware-phone-iphone:before {
  content: "\f1c6";
}

.icon-hardware-phonelink:before {
  content: "\f1c7";
}

.icon-hardware-phonelink-off:before {
  content: "\f1c8";
}

.icon-hardware-security:before {
  content: "\f1c9";
}

.icon-hardware-sim-card:before {
  content: "\f1ca";
}

.icon-hardware-smartphone:before {
  content: "\f1cb";
}

.icon-hardware-speaker:before {
  content: "\f1cc";
}

.icon-hardware-tablet:before {
  content: "\f1cd";
}

.icon-hardware-tablet-android:before {
  content: "\f1ce";
}

.icon-hardware-tablet-mac:before {
  content: "\f1cf";
}

.icon-hardware-tv:before {
  content: "\f1d0";
}

.icon-hardware-watch:before {
  content: "\f1d1";
}

/* IMAGE */

.icon-image-add-to-photos:before {
  content: "\f1d2";
}

.icon-image-adjust:before {
  content: "\f1d3";
}

.icon-image-assistant-photo:before {
  content: "\f1d4";
}

.icon-image-audiotrack:before {
  content: "\f1d5";
}

.icon-image-blur-circular:before {
  content: "\f1d6";
}

.icon-image-blur-linear:before {
  content: "\f1d7";
}

.icon-image-blur-off:before {
  content: "\f1d8";
}

.icon-image-blur-on:before {
  content: "\f1d9";
}

.icon-image-brightness-1:before {
  content: "\f1da";
}

.icon-image-brightness-2:before {
  content: "\f1db";
}

.icon-image-brightness-3:before {
  content: "\f1dc";
}

.icon-image-brightness-4:before {
  content: "\f1dd";
}

.icon-image-brightness-5:before {
  content: "\f1de";
}

.icon-image-brightness-6:before {
  content: "\f1df";
}

.icon-image-brightness-7:before {
  content: "\f1e0";
}

.icon-image-brush:before {
  content: "\f1e1";
}

.icon-image-camera:before {
  content: "\f1e2";
}

.icon-image-camera-alt:before {
  content: "\f1e3";
}

.icon-image-camera-front:before {
  content: "\f1e4";
}

.icon-image-camera-rear:before {
  content: "\f1e5";
}

.icon-image-camera-roll:before {
  content: "\f1e6";
}

.icon-image-center-focus-strong:before {
  content: "\f1e7";
}

.icon-image-center-focus-weak:before {
  content: "\f1e8";
}

.icon-image-collections:before {
  content: "\f1e9";
}

.icon-image-colorize:before {
  content: "\f1ea";
}

.icon-image-color-lens:before {
  content: "\f1eb";
}

.icon-image-compare:before {
  content: "\f1ec";
}

.icon-image-control-point:before {
  content: "\f1ed";
}

.icon-image-control-point-duplicate:before {
  content: "\f1ee";
}

.icon-image-crop:before {
  content: "\f1ef";
}

.icon-image-crop-3-2:before {
  content: "\f1f0";
}

.icon-image-crop-5-4:before {
  content: "\f1f1";
}

.icon-image-crop-7-5:before {
  content: "\f1f2";
}

.icon-image-crop-16-9:before {
  content: "\f1f3";
}

.icon-image-crop-din:before {
  content: "\f1f4";
}

.icon-image-crop-free:before {
  content: "\f1f5";
}

.icon-image-crop-landscape:before {
  content: "\f1f6";
}

.icon-image-crop-original:before {
  content: "\f1f7";
}

.icon-image-crop-portrait:before {
  content: "\f1f8";
}

.icon-image-crop-square:before {
  content: "\f1f9";
}

.icon-image-dehaze:before {
  content: "\f1fa";
}

.icon-image-details:before {
  content: "\f1fb";
}

.icon-image-edit:before {
  content: "\f1fc";
}

.icon-image-exposure:before {
  content: "\f1fd";
}

.icon-image-exposure-minus-1:before {
  content: "\f1fe";
}

.icon-image-exposure-minus-2:before {
  content: "\f1ff";
}

.icon-image-exposure-zero:before {
  content: "\f200";
}

.icon-image-exposure-plus-1:before {
  content: "\f201";
}

.icon-image-exposure-plus-2:before {
  content: "\f202";
}

.icon-image-filter:before {
  content: "\f203";
}

.icon-image-filter-1:before {
  content: "\f204";
}

.icon-image-filter-2:before {
  content: "\f205";
}

.icon-image-filter-3:before {
  content: "\f206";
}

.icon-image-filter-4:before {
  content: "\f207";
}

.icon-image-filter-5:before {
  content: "\f208";
}

.icon-image-filter-6:before {
  content: "\f209";
}

.icon-image-filter-7:before {
  content: "\f20a";
}

.icon-image-filter-8:before {
  content: "\f20b";
}

.icon-image-filter-9:before {
  content: "\f20c";
}

.icon-image-filter-9-plus:before {
  content: "\f20d";
}

.icon-image-filter-b-and-w:before {
  content: "\f20e";
}

.icon-image-filter-center-focus:before {
  content: "\f20f";
}

.icon-image-filter-drama:before {
  content: "\f210";
}

.icon-image-filter-frames:before {
  content: "\f211";
}

.icon-image-filter-hdr:before {
  content: "\f212";
}

.icon-image-filter-none:before {
  content: "\f213";
}

.icon-image-filter-tilt-shift:before {
  content: "\f214";
}

.icon-image-filter-vintage:before {
  content: "\f215";
}

.icon-image-flare:before {
  content: "\f216";
}

.icon-image-flash-auto:before {
  content: "\f217";
}

.icon-image-flash-off:before {
  content: "\f218";
}

.icon-image-flash-on:before {
  content: "\f219";
}

.icon-image-flip:before {
  content: "\f21a";
}

.icon-image-gradient:before {
  content: "\f21b";
}

.icon-image-grain:before {
  content: "\f21c";
}

.icon-image-grid-off:before {
  content: "\f21d";
}

.icon-image-grid-on:before {
  content: "\f21e";
}

.icon-image-hdr-off:before {
  content: "\f21f";
}

.icon-image-hdr-on:before {
  content: "\f220";
}

.icon-image-hdr-strong:before {
  content: "\f221";
}

.icon-image-hdr-weak:before {
  content: "\f222";
}

.icon-image-healing:before {
  content: "\f223";
}

.icon-image-image:before {
  content: "\f224";
}

.icon-image-image-aspect-ratio:before {
  content: "\f225";
}

.icon-image-iso:before {
  content: "\f226";
}

.icon-image-landscape:before {
  content: "\f227";
}

.icon-image-leak-add:before {
  content: "\f228";
}

.icon-image-leak-remove:before {
  content: "\f229";
}

.icon-image-lens:before {
  content: "\f22a";
}

.icon-image-looks:before {
  content: "\f22b";
}

.icon-image-looks-1:before {
  content: "\f22c";
}

.icon-image-looks-2:before {
  content: "\f22d";
}

.icon-image-looks-3:before {
  content: "\f22e";
}

.icon-image-looks-4:before {
  content: "\f22f";
}

.icon-image-looks-5:before {
  content: "\f230";
}

.icon-image-looks-6:before {
  content: "\f231";
}

.icon-image-loupe:before {
  content: "\f232";
}

.icon-image-movie-creation:before {
  content: "\f233";
}

.icon-image-nature:before {
  content: "\f234";
}

.icon-image-nature-people:before {
  content: "\f235";
}

.icon-image-navigate-before:before {
  content: "\f236";
}

.icon-image-navigate-next:before {
  content: "\f237";
}

.icon-image-palette:before {
  content: "\f238";
}

.icon-image-panorama:before {
  content: "\f239";
}

.icon-image-panorama-fisheye:before {
  content: "\f23a";
}

.icon-image-panorama-horizontal:before {
  content: "\f23b";
}

.icon-image-panorama-vertical:before {
  content: "\f23c";
}

.icon-image-panorama-wide-angle:before {
  content: "\f23d";
}

.icon-image-photo:before {
  content: "\f23e";
}

.icon-image-photo-album:before {
  content: "\f23f";
}

.icon-image-photo-camera:before {
  content: "\f240";
}

.icon-image-photo-library:before {
  content: "\f241";
}

.icon-image-portrait:before {
  content: "\f242";
}

.icon-image-remove-red-eye:before {
  content: "\f243";
}

.icon-image-rotate-left:before {
  content: "\f244";
}

.icon-image-rotate-right:before {
  content: "\f245";
}

.icon-image-slideshow:before {
  content: "\f246";
}

.icon-image-straighten:before {
  content: "\f247";
}

.icon-image-style:before {
  content: "\f248";
}

.icon-image-switch-camera:before {
  content: "\f249";
}

.icon-image-switch-video:before {
  content: "\f24a";
}

.icon-image-tag-faces:before {
  content: "\f24b";
}

.icon-image-texture:before {
  content: "\f24c";
}

.icon-image-timelapse:before {
  content: "\f24d";
}

.icon-image-timer:before {
  content: "\f24e";
}

.icon-image-timer-3:before {
  content: "\f24f";
}

.icon-image-timer-10:before {
  content: "\f250";
}

.icon-image-timer-auto:before {
  content: "\f251";
}

.icon-image-timer-off:before {
  content: "\f252";
}

.icon-image-tonality:before {
  content: "\f253";
}

.icon-image-transform:before {
  content: "\f254";
}

.icon-image-tune:before {
  content: "\f255";
}

.icon-image-wb-auto:before {
  content: "\f256";
}

.icon-image-wb-cloudy:before {
  content: "\f257";
}

.icon-image-wb-incandescent:before {
  content: "\f258";
}

.icon-image-wb-irradescent:before {
  content: "\f259";
}

.icon-image-wb-sunny:before {
  content: "\f25a";
}

/* MAPS */

.icon-maps-beenhere:before {
  content: "\f25b";
}

.icon-maps-directions:before {
  content: "\f25c";
}

.icon-maps-directions-bike:before {
  content: "\f25d";
}

.icon-maps-directions-bus:before {
  content: "\f25e";
}

.icon-maps-directions-car:before {
  content: "\f25f";
}

.icon-maps-directions-ferry:before {
  content: "\f260";
}

.icon-maps-directions-subway:before {
  content: "\f261";
}

.icon-maps-directions-train:before {
  content: "\f262";
}

.icon-maps-directions-transit:before {
  content: "\f263";
}

.icon-maps-directions-walk:before {
  content: "\f264";
}

.icon-maps-flight:before {
  content: "\f265";
}

.icon-maps-hotel:before {
  content: "\f266";
}

.icon-maps-layers:before {
  content: "\f267";
}

.icon-maps-layers-clear:before {
  content: "\f268";
}

.icon-maps-local-airport:before {
  content: "\f269";
}

.icon-maps-local-atm:before {
  content: "\f26a";
}

.icon-maps-local-attraction:before {
  content: "\f26b";
}

.icon-maps-local-bar:before {
  content: "\f26c";
}

.icon-maps-local-cafe:before {
  content: "\f26d";
}

.icon-maps-local-car-wash:before {
  content: "\f26e";
}

.icon-maps-local-convenience-store:before {
  content: "\f26f";
}

.icon-maps-local-drink:before {
  content: "\f270";
}

.icon-maps-local-florist:before {
  content: "\f271";
}

.icon-maps-local-gas-station:before {
  content: "\f272";
}

.icon-maps-local-grocery-store:before {
  content: "\f273";
}

.icon-maps-local-hospital:before {
  content: "\f274";
}

.icon-maps-local-hotel:before {
  content: "\f275";
}

.icon-maps-local-laundry-service:before {
  content: "\f276";
}

.icon-maps-local-library:before {
  content: "\f277";
}

.icon-maps-local-mall:before {
  content: "\f278";
}

.icon-maps-local-movies:before {
  content: "\f279";
}

.icon-maps-local-offer:before {
  content: "\f27a";
}

.icon-maps-local-parking:before {
  content: "\f27b";
}

.icon-maps-local-pharmacy:before {
  content: "\f27c";
}

.icon-maps-local-phone:before {
  content: "\f27d";
}

.icon-maps-local-pizza:before {
  content: "\f27e";
}

.icon-maps-local-play:before {
  content: "\f27f";
}

.icon-maps-local-post-office:before {
  content: "\f280";
}

.icon-maps-local-print-shop:before {
  content: "\f281";
}

.icon-maps-local-restaurant:before {
  content: "\f282";
}

.icon-maps-local-see:before {
  content: "\f283";
}

.icon-maps-local-shipping:before {
  content: "\f284";
}

.icon-maps-local-taxi:before {
  content: "\f285";
}

.icon-maps-location-history:before {
  content: "\f286";
}

.icon-maps-map:before {
  content: "\f287";
}

.icon-maps-my-location:before {
  content: "\f288";
}

.icon-maps-navigation:before {
  content: "\f289";
}

.icon-maps-pin-drop:before {
  content: "\f28a";
}

.icon-maps-place:before {
  content: "\f28b";
}

.icon-maps-rate-review:before {
  content: "\f28c";
}

.icon-maps-restaurant-menu:before {
  content: "\f28d";
}

.icon-maps-satellite:before {
  content: "\f28e";
}

.icon-maps-store-mall-directory:before {
  content: "\f28f";
}

.icon-maps-terrain:before {
  content: "\f290";
}

.icon-maps-traffic:before {
  content: "\f291";
}

/* NAVIGATION */

.icon-navigation-apps:before {
  content: "\f292";
}

.icon-navigation-cancel:before {
  content: "\f293";
}

.icon-navigation-arrow-drop-down-circle:before {
  content: "\f294";
}

.icon-navigation-arrow-drop-down:before {
  content: "\f295";
}

.icon-navigation-arrow-drop-up:before {
  content: "\f296";
}

.icon-navigation-arrow-back:before {
  content: "\f297";
}

.icon-navigation-arrow-forward:before {
  content: "\f298";
}

.icon-navigation-check:before {
  content: "\f299";
}

.icon-navigation-close:before {
  content: "\f29a";
}

.icon-navigation-chevron-left:before {
  content: "\f29b";
}

.icon-navigation-chevron-right:before {
  content: "\f29c";
}

.icon-navigation-expand-less:before {
  content: "\f29d";
}

.icon-navigation-expand-more:before {
  content: "\f29e";
}

.icon-navigation-fullscreen:before {
  content: "\f29f";
}

.icon-navigation-fullscreen-exit:before {
  content: "\f2a0";
}

.icon-navigation-menu:before {
  content: "\f2a1";
}

.icon-navigation-more-horiz:before {
  content: "\f2a2";
}

.icon-navigation-more-vert:before {
  content: "\f2a3";
}

.icon-navigation-refresh:before {
  content: "\f2a4";
}

.icon-navigation-unfold-less:before {
  content: "\f2a5";
}

.icon-navigation-unfold-more:before {
  content: "\f2a6";
}

/* NOTIFICATION */

.icon-notification-adb:before {
  content: "\f2a7";
}

.icon-notification-bluetooth-audio:before {
  content: "\f2a8";
}

.icon-notification-disc-full:before {
  content: "\f2a9";
}

.icon-notification-dnd-forwardslash:before {
  content: "\f2aa";
}

.icon-notification-do-not-disturb:before {
  content: "\f2ab";
}

.icon-notification-drive-eta:before {
  content: "\f2ac";
}

.icon-notification-event-available:before {
  content: "\f2ad";
}

.icon-notification-event-busy:before {
  content: "\f2ae";
}

.icon-notification-event-note:before {
  content: "\f2af";
}

.icon-notification-folder-special:before {
  content: "\f2b0";
}

.icon-notification-mms:before {
  content: "\f2b1";
}

.icon-notification-more:before {
  content: "\f2b2";
}

.icon-notification-network-locked:before {
  content: "\f2b3";
}

.icon-notification-phone-bluetooth-speaker:before {
  content: "\f2b4";
}

.icon-notification-phone-forwarded:before {
  content: "\f2b5";
}

.icon-notification-phone-in-talk:before {
  content: "\f2b6";
}

.icon-notification-phone-locked:before {
  content: "\f2b7";
}

.icon-notification-phone-missed:before {
  content: "\f2b8";
}

.icon-notification-phone-paused:before {
  content: "\f2b9";
}

.icon-notification-play-download:before {
  content: "\f2ba";
}

.icon-notification-play-install:before {
  content: "\f2bb";
}

.icon-notification-sd-card:before {
  content: "\f2bc";
}

.icon-notification-sim-card-alert:before {
  content: "\f2bd";
}

.icon-notification-sms:before {
  content: "\f2be";
}

.icon-notification-sms-failed:before {
  content: "\f2bf";
}

.icon-notification-sync:before {
  content: "\f2c0";
}

.icon-notification-sync-disabled:before {
  content: "\f2c1";
}

.icon-notification-sync-problem:before {
  content: "\f2c2";
}

.icon-notification-system-update:before {
  content: "\f2c3";
}

.icon-notification-tap-and-play:before {
  content: "\f2c4";
}

.icon-notification-time-to-leave:before {
  content: "\f2c5";
}

.icon-notification-vibration:before {
  content: "\f2c6";
}

.icon-notification-voice-chat:before {
  content: "\f2c7";
}

.icon-notification-vpn-lock:before {
  content: "\f2c8";
}

/* SOCIAL */

.icon-social-cake:before {
  content: "\f2c9";
}

.icon-social-domain:before {
  content: "\f2ca";
}

.icon-social-location-city:before {
  content: "\f2cb";
}

.icon-social-mood:before {
  content: "\f2cc";
}

.icon-social-notifications-none:before {
  content: "\f2cd";
}

.icon-social-notifications:before {
  content: "\f2ce";
}

.icon-social-notifications-off:before {
  content: "\f2cf";
}

.icon-social-notifications-on:before {
  content: "\f2d0";
}

.icon-social-notifications-paused:before {
  content: "\f2d1";
}

.icon-social-pages:before {
  content: "\f2d2";
}

.icon-social-party-mode:before {
  content: "\f2d3";
}

.icon-social-group:before {
  content: "\f2d4";
}

.icon-social-group-add:before {
  content: "\f2d5";
}

.icon-social-people:before {
  content: "\f2d6";
}

.icon-social-people-outline:before {
  content: "\f2d7";
}

.icon-social-person:before {
  content: "\f2d8";
}

.icon-social-person-add:before {
  content: "\f2d9";
}

.icon-social-person-outline:before {
  content: "\f2da";
}

.icon-social-plus-one:before {
  content: "\f2db";
}

.icon-social-poll:before {
  content: "\f2dc";
}

.icon-social-public:before {
  content: "\f2dd";
}

.icon-social-school:before {
  content: "\f2de";
}

.icon-social-share:before {
  content: "\f2df";
}

.icon-social-whatshot:before {
  content: "\f2e0";
}

/* TOGGLE */

.icon-toggle-check-box:before {
  content: "\f2e1";
}

.icon-toggle-check-box-outline-blank:before {
  content: "\f2e2";
}

.icon-toggle-radio-button-off:before {
  content: "\f2e3";
}

.icon-toggle-radio-button-on:before {
  content: "\f2e4";
}

.icon-toggle-star:before {
  content: "\f2e5";
}

.icon-toggle-star-half:before {
  content: "\f2e6";
}

.icon-toggle-star-outline:before {
  content: "\f2e7";
}
