
/* INPUT */

//FIXME: The outlined version has not border at the bottom
//FIXME: If the placeholder is longer than the value it can exceed the width of the -wrp

.input-wrp {

    @include color ( $input-wrp-color, $input-wrp-color-basic );
    position: relative;
    display: inline-block;
    margin-bottom: $layout-spacing;
    border-style: solid;
    border-radius: $input-wrp-border-radius;

    & > .text-field {
        @include color ( $input-color, $input-color-basic );
        width: 100%;
        padding: $input-vertical-padding $input-horizontal-padding;
        border: none;
        border-radius: inherit;
    }

    & > label {
        font-size: $input-label-font-size;
        position: absolute;
        top: 50%;
        left: $input-horizontal-padding;
        margin-top: - $input-label-font-size / 2;
        transition-duration: $input-transition-all-duration;
        transition-property: color, opacity, top, left, font-size, margin;
        pointer-events: none;
        opacity: $input-label-opacity;
    }

    & > .text-field-bar {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: - $input-wrp-border-bottom-width;
        left: 0;
        height: 100%;
        content: '';
        transition: transform $input-transition-all-duration;
        transform: scaleX(0);
        pointer-events: none;
        border-bottom: $input-bar-height solid $input-active-color;
        border-radius: inherit;
    }

    /* COLORS */

    @each $name, $datas in $colors {

        $bg: nth($datas, 1);

        &.text-field-#{$name} {

            & > .text-field {

                &:focus ~ label {
                    color: $bg !important;
                }

            }

            & > .text-field-bar {
                border-bottom-color: $bg !important;
            }

        }

    }

    &:not(.outlined) {
        border-width: 0 0 $input-wrp-border-bottom-width 0;
    }

    &:not(.no-floating) {

        & > .text-field {
            margin-top: $input-vertical-padding;
        }

        &.compact > .text-field {
            margin-top: $input-compact-vertical-padding;
        }

        &:not(.disabled) > .text-field {

            &:focus ~ label, &:valid ~ label {
                font-size: $input-label-active-font-size;
                top: $layout-half-spacing;
                left: 0;
                margin-top: 0;
                opacity: $input-label-active-opacity;
            }

            &:focus ~ label {
                color: $input-active-color;
            }

        }

    }

    &.no-floating {

        & > .text-field {

            &:valid ~ label {
                opacity: 0;
            }

        }

        & > label {
            transition-duration: $input-transition-all-duration / 2;
        }

    }

    &.no-bar {

        &:not(.outlined) {
            border-bottom-width: 0;
        }

        & > .text-field-bar {
            display: none;
        }

    }

    &.fluid {
        width: 100%;
    }

    &.compact {

        & > .text-field {
            padding: $input-compact-vertical-padding $input-compact-horizontal-padding;
        }

        & > label {
            left: $input-compact-horizontal-padding;
        }

    }

    &:not(.disabled) {

        & > .text-field {

            &:focus ~ .text-field-bar {
                transform: scaleX(1);
            }

        }

    }

    &.disabled {

        opacity: $input-disabled-opacity;

        & > .text-field {
            visibility: hidden;
        }

    }

}

/* RESET NUMBER INPUTS */

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
