
/* LABEL */

.label {

    @extend .button;
    cursor: default;

    &.floating {
        position: absolute !important;
        top: -20% !important;
        right: -20% !important;
        bottom: initial !important;
    }

}
