
/* LOADING */

//FIXME: for whatever reason it's not rotating at the center of the icon
//TODO: better loading keyframe, che rallenta arrivato a metà circa e poi accelera, copiarla da google credo (forse Chrome for Android)

.loading {

    position: relative;

    &:before, &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transition-duration: $loading-transition-all-duration;
        transition-property: transform, opacity;
    }

    &:before {
        @include z-depth ( $loading-z-depth );
        @include color ( $loading-color, $loading-color-basic );
        width: $loading-size;
        height: $loading-size;
        content: '';
        border-width: $loading-border-width;
        border-radius: 50%;
        z-index: 1000;
    }

    &:after {
        background-color: red;
        @extend %icon;
        @extend .icon-navigation-refresh:before;
        font-size: $loading-font-size;
        width: $loading-font-size;
        height: $loading-font-size;
        animation: rotate $loading-rotation-duration linear infinite;
        text-align: center;
        color: $color-black-text;
        z-index: 1001;
        backface-visibility: hidden;
    }

    /* ANIMATIONS */

    & > * {
        transition: opacity $loading-transition-all-duration;
        pointer-events: none;
    }

    &:not(.loading-active) {

        &:before, &:after {
            transform: translateZ(0) scale(0);
            opacity: 0;

        }

    }

    &.loading-active {

        &:before, &:after {
            transform: translateZ(0) scale(1);
        }

        & > * {
            opacity: $loading-content-opacity;
        }

    }

}
