
/* LOADING OVERLAY */

//FIXME: for whatever reason it's not rotating at the center of the icon
//TODO: better loading keyframe, che rallenta arrivato a metà circa e poi accelera, copiarla da google credo (forse Chrome for Android)

.loading {

    position: relative;

    &:before, &:after {
        height: $loading-size;
        line-height: $loading-size !important;
        width: $loading-size;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: scale(0);
        font-size: 0;
        opacity: 0;
        transition: transform 0.2s ease 0s, font-size 0.2s ease 0s, opacity 0.2s ease 0s;
    }

    &:before {
        @include z-depth ( 5 );
        content: '';
        border-radius: $loading-size;
        border: 1px solid $color-black-border;
        background-color: transparentize($color-black-bg, 0.1);
        z-index: 1000;
    }

    &:after {
        @extend %icon;
        @extend .icon-navigation-refresh:before;
        text-align: center;
        color: $color-black-text;
        animation: rotate 0.9s linear infinite;
        z-index: 1001;
    }

    & > * {
        transition: opacity 0.2s ease 0s;
    }

    &.loading-active {

        &:before, &:after {
            transform: scale(1);
            opacity: 1;
        }

        &:after {
            font-size: $loading-font-size;
        }

        & > * {
            opacity: 0.4;
            pointer-events: none;
        }

    }

}
