
/* MULTIPLE */

.multiple-wrp {

    margin: 0 #{- $grid-gutter-half-width} $layout-spacing;

    &.limited > .multiple {
        max-width: $layout-max-width + $grid-gutter-width; //FIXME: Does it work?
        margin-left: auto;
        margin-right: auto;
    }

    &.centered > .multiple {
        justify-content: center;
    }

    &.nowrap > .multiple {
        flex-wrap: nowrap;
    }

    &.equal > .multiple > * {
        flex-basis: 0;
    }

    &.stretched > .multiple {
        align-items: stretch;
    }

    &.joined {

        & > .multiple {
            flex-wrap: nowrap;
            align-items: stretch;
        }

        &:not(.vertical) {

            & > .multiple {

                & > *:not(:last-child) {
                    margin-right: 0;
                    border-right-width: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                & > *:not(:first-child) {
                    margin-left: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

            }

            &.no-separators > .multiple > *:not(:first-child) {
                border-left-width: 0;
            }

        }

        &.vertical {

            & > .multiple {

                & > *:not(:last-child) {
                    margin-bottom: 0;
                    border-bottom-width: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                & > *:not(:first-child) {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }

            }

            &.no-separators > .multiple > *:not(:first-child) {
                border-top-width: 0;
            }

        }

    }

    &.fluid {

        &.vertical > .multiple > * {

            &:not(.multiple-wrp) {
                width: calc(100% - #{$grid-gutter-width});
            }

            &.multiple-wrp {
                width: 100%;
            }

        }

        &:not(.vertical) > .multiple > *:not(.nogrow) {
            flex-grow: 1;
        }

        & > .multiple > *.noshrink {
            flex-shrink: 0;
        }

    }

    &.vertical > .multiple {
        flex-direction: column;
    }

    & > .multiple {

        margin-bottom: - $layout-spacing;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        & > *:not(.multiple-wrp) {
            margin-left: $grid-gutter-half-width;
            margin-right: $grid-gutter-half-width;
        }

        & > .multiple-wrp {
            margin-left: 0;
            margin-right: 0;
        }

        & > .multiple-sub-spacer {

            display: none;

            &:first-child, &:last-child {
                display: block;
                flex-grow: 1;
                flex-basis: 0;
                margin: 0;
            }

            &:first-child {
                order: 1;
            }

            &:last-child {
                order: 3;
            }

        }

        & > .multiple-sub {

            //FIXME: it doesn't work very well if we don't wran plain text in a p, that has a margin-bottom for example...
            //FIXME; the alignment of the center part is not always correct

            align-self: center;
            flex-basis: 0;
            margin: 0;

            & > .multiple-wrp > .multiple {

                flex-wrap: nowrap;

                & > * {
                    flex-shrink: 0;
                }

            }

            &.left {
                order: 0;
                margin-left: 5px;
                margin-right: -5px;
            }

            &.center {

                order: 2;

                & > .multiple-wrp > .multiple {
                    justify-content: center;
                }

            }

            &.right {

                order: 4;
                margin-left: -5px;
                margin-right: 5px;

                & > .multiple-wrp > .multiple {
                    justify-content: flex-end;
                }

            }

        }

    }

}
