
/* MULTIPLE */

//FIXME: fix the stretched version, the first and last section don't have enough width available

.multiple {

    position: relative;
    border-radius: $border-radius-normal;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &.centered {
        justify-content: center;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    &.stretched {
        align-items: stretch;
    }

    &.joined {

        flex-wrap: nowrap;

        &:not(.vertical) {

            &.no-separators > *:not(:first-child) {
                border-left-width: 0;
            }

            & > *:not(:last-child) {

                border-right-width: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                &.multiple {
                    padding-right: 0;
                }

                &:not(.multiple) {
                    margin-right: 0;
                }

            }

            & > *:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

        }

        &.vertical {

            &.no-separators > *:not(:first-child) {
                border-top-width: 0;
            }

            & > *:not(:last-child) {
                margin-bottom: 0;
                border-bottom-width: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            & > *:not(:first-child) {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

        }

    }

    &.vertical {

        flex-direction: column;
        align-items: flex-start;
        flex-grow: 0;

        &.multiple {
            padding-right: 0;
        }

        &:not(.multiple) {
            margin-right: 0;
        }

        &.fluid > * {
            width: 100%;
        }

    }

    &.fluid > *:not(.nogrow) {
        flex-grow: 1;
    }

    &.fluid > *.noshrink {
        flex-shrink: 0;
    }

    &:not(.vertical) > *:not(:last-child) {

        &.multiple {
            padding-right: $layout-spacing;
        }

        &:not(.multiple) {
            margin-right: $layout-spacing;
        }

    }

}
