
/* MULTIPLE */

//TODO: Add a 'lefted', 'righted' classes for aligning the content to the left or right
//TODO: Don't use a negative margin when not necessary (nowrap)
//FIXME: Remove the ugly [class*="-wrp"] selectors
//FIXME: Use `inline-flex` for multiple-wrp, or it will take too much space in tables for example

.multiple-wrp {

    @extend %widget;
    @include margin-horizontal ( - $layout-half-gutter );
    border-color: inherit; //INFO: We may use inherit in the children, so we have to inherit here //TODO: Sure?

    /* CENTERED */

    &.centered > .multiple {
        justify-content: center;
    }

    /* LIMITED */

    &.limited > .multiple {
        @include center-margin ( $layout-max-width ); //FIXME: does it work?
    }

    /* NOWRAP */

    &.nowrap > .multiple {
        flex-wrap: nowrap;
    }

    /* FLUID / EQUAL */

    &.fluid, &.equal {

        &:not(.vertical) > .multiple > * {
            flex-grow: 1;
        }

        &.vertical > .multiple > * {

            &:not(.multiple-wrp) {
                width: calc(100% - #{$layout-gutter});
            }

            &.multiple-wrp {
                width: 100%;
            }

        }

    }

    /* EQUAL */

    &.equal > .multiple > * {
        flex-basis: 0;
    }

    /* JOINED */

    &.joined {

        & > .multiple {
            flex-wrap: nowrap;
            align-items: stretch;
        }

        &:not(.vertical) {

            & > .multiple {

                & > *:not(:last-child), & > *:not(:last-child)[class*="-wrp"] > *:first-child:last-child {
                    @include border-right-radius ( 0 );
                    margin-right: 0;
                    border-right-width: 0;
                }

                & > *:not(:first-child), & > *:not(:first-child)[class*="-wrp"] > *:first-child:last-child {
                    @include border-left-radius ( 0 );
                    margin-left: 0;
                }

            }

            &.no-separators > .multiple {

                & > *:not(:first-child), & > *:not(:first-child)[class*="-wrp"] > *:first-child:last-child {
                    border-left-width: 0;
                }

            }

        }

        &.vertical {

            & > .multiple {

                & > *:not(:last-child), & > *:not(:last-child)[class*="-wrp"] > *:first-child:last-child {
                    @include border-bottom-radius ( 0 );
                    margin-bottom: 0;
                    border-bottom-width: 0;
                }

                & > *:not(:first-child), & > *:not(:first-child)[class*="-wrp"] > *:first-child:last-child {
                    @include border-top-radius ( 0 );
                }

            }

            &.no-separators > .multiple {

                & > *:not(:first-child), & > *:not(:first-child)[class*="-wrp"] > *:first-child:last-child {
                    border-top-width: 0;
                }

            }

        }

    }

    /* STRETCHED */

    &.stretched > .multiple {

        align-items: stretch;

        & > .multiple-wrp.vertical {

            display: flex;

            & > .multiple {

                flex-grow: 1;

                & > * {
                    flex-grow: 1;
                }

            }

        }

    }

    /* VERTICAL */

    &.vertical > .multiple {
        flex-direction: column;
    }

    /* Z-DEPTH */

    &[class*="z-depth-"] {

        box-shadow: none !important;

        &:before {
            position: absolute;
            top: 0;
            right: $layout-half-gutter;
            bottom: $layout-gutter;
            left: $layout-half-gutter;
            content: '';
            pointer-events: none;
            border-radius: $border-radius;
        }

        @each $depth, $shadow in $z-depths {

            &.z-depth-#{$depth}:before {
                @include z-depth ( $depth );
            }

        }

        & > .multiple {

            & > [class*="z-depth-"], & > [class*="-wrp"] > *:first-child:last-child {
                box-shadow: none !important;
            }

        }

    }

    /* MULTIPLE */

    & > .multiple {

        border-color: inherit; //INFO: We may use inherit in the children, so we have to inherit here //TODO: Sure?
        margin-bottom: - $layout-gutter;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        & > *:not(.multiple-wrp) {
            @include margin-horizontal ( $layout-half-gutter );
        }

        & > .multiple-wrp {
            @include margin-horizontal ( 0 );
        }

        /* MULTIPLE SUB SPACER */

        & > .multiple-sub-spacer {

            display: none;

            &:first-child, &:last-child {
                display: block;
                flex-grow: 1;
                flex-basis: 0;
                margin: 0;
            }

            &:first-child {
                order: 1;
            }

            &:last-child {
                order: 3;
            }

        }

        /* MULTIPLE SUB */

        & > .multiple-sub {

            //FIXME: It doesn't work very well if we don't wrap plain text in a `p` ( the `p` has a margin-bottom)

            align-self: center;
            flex-basis: 0;
            margin: 0;

            & > .multiple-wrp > .multiple {

                flex-wrap: nowrap;

                & > * {
                    flex-shrink: 0;
                }

            }

            &.left {
                order: 0;
                margin-left: 5px;
                margin-right: -5px;
            }

            &.center {

                order: 2;

                & > .multiple-wrp > .multiple {
                    justify-content: center;
                }

            }

            &.right {

                order: 4;
                margin-left: -5px;
                margin-right: 5px;

                & > .multiple-wrp > .multiple {
                    justify-content: flex-end;
                }

            }

        }

    }

}
