
/* NAVBAR */

//TODO: Add support for attachable navbars (like attach-xs, attach-sm, attach-md, attach-lg)

.navbar-wrp {

    & > .navbar {

        border-width: 0;
        float: none; //FIXME: this is a fix for the .left and .right classes
        margin: 0;
        position: fixed;
        transition: top 0.3s ease 0s, right 0.3s ease 0s, bottom 0.3s ease 0s, left 0.3s ease 0s;
        z-index: 20;
        border-radius: 0;
        box-shadow: $shadow-depth-5;

        &.left, &.right {

            top: 0;
            bottom: 0;
            width: $navbar-vertical-width;

            &.slim {
                width: $navbar-slim-vertical-width;
            }

        }

        &.left {

            left: - ( $navbar-vertical-width + $navbar-extra-hidden-distance );

            &.slim {
                left: - ( $navbar-slim-vertical-width + $navbar-extra-hidden-distance );
            }

        }

        &.right {

            right: - ( $navbar-vertical-width + $navbar-extra-hidden-distance );

            &.slim {
                right: - ( $navbar-slim-vertical-width + $navbar-extra-hidden-distance );
            }

        }

        &.top, &.bottom {

            left: 0;
            right: 0;
            height: $navbar-horizontal-height;

            &.slim {
                height: $navbar-slim-horizontal-height;
            }

        }

        &.top {

            top: - ( $navbar-horizontal-height + $navbar-extra-hidden-distance );

            &.slim {
                top: - ( $navbar-slim-horizontal-height + $navbar-extra-hidden-distance );
            }

        }

        &.bottom {

            bottom: - ( $navbar-horizontal-height + $navbar-extra-hidden-distance );

            &.slim {
                bottom: - ( $navbar-slim-horizontal-height + $navbar-extra-hidden-distance );
            }

        }

    }

    & > .background {
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        opacity: 0;
        position: fixed;
        z-index: 19;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        transition: opacity 0.3s ease 0s;
    }

    &.opened {

        & > .navbar {

            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }

            &.top {
                top: 0;
            }

            &.bottom {
                bottom: 0;
            }

        }

        & > .background {
            pointer-events: auto;
            opacity: 1;
        }

    }

}
