
/* MEDIA QUERIES */

//TODO: add support for expanded noty, maybe some kind of alert message or stuff like that

@include max-screen ( $noty-full-breakpoint ) {

    .noty_queue, .noty_wrp, .noty {
        width: 100% !important;
    }

    .noty_queue {

        .noty {
            border-radius: 0 !important;
            margin: 0 !important;
            border-left: none !important;
            border-right: none !important;
        }

        &.top-left .noty, &.top-right .noty {
            border-top: none !important;
        }

        &.bottom-left .noty, &.bottom-right .noty {
            border-bottom: none !important;
        }

    }

}

/* NOTY QUEUE */

.noty_queue {

    display: flex;
    position: fixed;
    z-index: 100;
    max-width: 100%;
    text-align: left;
    pointer-events: none; //FIXME: if we use this we cannot support IE 10 (I think)

    &.top-left, &.top-right {

        top: 0;
        flex-direction: column;

        .noty {
            margin-top: 0;
            margin-bottom: 0;
        }

        .noty_wrp.active .noty {
            margin-top: $layout-spacing;
        }

    }

    &.top-left {
        left: 0;
        align-items: flex-start;
    }

    &.top-right {
        right: 0;
        align-items: flex-end;
    }

    &.bottom-left, &.bottom-right {

        bottom: 0;
        flex-direction: column-reverse;

        .noty {
            margin-bottom: 0;
        }

        .noty_wrp.active .noty {
            margin-bottom: $layout-spacing;
        }

    }

    &.bottom-left {
        left: 0;
        align-items: flex-start;
    }

    &.bottom-right {
        right: 0;
        align-items: flex-end;
    }

}

/* NOTY */

.noty_wrp {

    .noty {

        @include z-depth ( 5 );
        margin-left: $layout-spacing;
        margin-right: $layout-spacing;
        pointer-events: auto; //FIXME: if we use this we cannot support IE 10 (I think)
        opacity: 0;
        font-size: 0;
        padding: 0;
        transition: opacity 0.2s ease 0s, font-size 0.2s ease 0s, padding 0.2s ease 0s, margin-top 0.2s ease 0s, margin-bottom 0.2s ease 0s, margin-left 0.2s ease 0s, margin-right 0.2s ease 0s;

        &:not(.action) {
            cursor: pointer;
        }

        .noty_img {

            font-size: 0;
            transition: width 0.2 ease 0s;

            img {
                height: auto;
                width: auto;
                transition: max-width 0.2 ease 0s, max-height 0.2 ease 0s;
            }

        }

        .button {
            transition: margin-bottom 0.2s ease 0s, height 0.2s ease 0s, font-size 0.2s ease 0s, padding 0.2s ease 0s;
        }

    }

    &:not(.active) .noty {

        .noty_img {

            width: $noty-img-size;

            img {
                max-height: 0;
                max-width: 0;
            }

        }

        .button {
            margin-bottom: 0;
            height: 0;
            font-size: 0;
            padding: 0;
        }

    }

    &.active .noty {

        opacity: 1;
        font-size: $noty-text-size;
        padding: $layout-spacing;

        .noty_img {

            width: $noty-img-size;

            img {
                max-height: $noty-img-size;
                max-width: $noty-img-size;
            }

        }

        .button {
            margin-bottom: $layout-spacing;
        }

    }

}
