
/* OUTLINE */

.outlined:not(.multiple-wrp),
.outlined.multiple-wrp > .multiple > * {
    border-width: $outline-width;
    border-style: $outline-style;
}

/* UNOUTLINE */

.unoutlined {
    border-width: 0;
}
