
/* OUTLINE */

.outlined:not(.infobar-wrp):not(.label):not(.button):not(input):not(textarea) {

    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: $layout-spacing;
      z-index: 1;
      border-radius: inherit;
      pointer-events: none; //FIXME: if we use this we cannot support IE 10 (I think)
      box-shadow: $outline-shadow;
    }

}

/* MULTIPLE */

.multiple {

    &.joined {

        &:not(.vertical) > *:not(:last-child).outlined {
            margin-right: -1px;
        }

        &.vertical > *:not(:last-child).outlined {
            margin-bottom: -1px;
        }

    }

}

/* INFOBAR */

.infobar-wrp.outlined {
    @include z-depth ( 1 );
    border-width: $container-border-width;
    border-style: solid;
    border-radius: $border-radius-medium;
    padding: $layout-spacing;
}

/* BUTTON */

.label, .button {

    &.outlined {

        @include z-depth ( 1, $outline-shadow );

        & > .label-left, & > .label-right {
            padding: calc(#{$label-compact-vertical-padding} - 1px) calc(#{$label-compact-horizontal-padding} - 1px);
        }

        & > .label-left {
            border-right: 1px solid rgba(0, 0, 0, 0.0625);
            margin: calc(-#{$label-vertical-padding} + 1px) calc(#{$label-horizontal-padding} - 1px) #{-$label-vertical-padding} #{-$label-horizontal-padding};
        }

        & > .label-right {
            border-left: 1px solid rgba(0, 0, 0, 0.0625);
            margin: calc(-#{$label-vertical-padding} + 1px) #{-$label-horizontal-padding} #{-$label-vertical-padding} calc(#{$label-horizontal-padding} - 1px);
        }

        &.compact {

            & > .label-left {
                margin: calc(-#{$label-compact-vertical-padding} + 1px) calc(#{$label-compact-horizontal-padding} - 1px) #{-$label-compact-vertical-padding} #{-$label-compact-horizontal-padding};
            }

            & > .label-right {
                margin: calc(-#{$label-compact-vertical-padding} + 1px) #{-$label-compact-horizontal-padding} #{-$label-compact-vertical-padding} calc(#{$label-compact-horizontal-padding} - 1px);
            }

        }

    }

}

/* INPUT / TEXTAREA */

input, textarea {

    &.outlined {
        @include z-depth ( 1, $outline-shadow );
    }

}
