
/* PROGRESS BAR */

//TODO: add support for labels in striped

.progressBar {

    @include medium ();
    height: $progress-bar-height;
    margin-bottom: $layout-spacing;
    border-radius: $progress-bar-unhighlighted-height;
    overflow: hidden;
    position: relative;

    & > .unhighlighted {

        @include gray ( true );
        height: $progress-bar-unhighlighted-height;
        width: 100%;
        border-radius: inherit;

        & > .highlighted {

            @include secondary ( true );
            overflow: hidden;
            float: left;
            height: $progress-bar-highlighted-height;
            transition: width $progress-bar-transitions-time ease 0s;
            width: 0;
            position: relative;
            text-align: center;
            text-overflow: ellipsis;

            & > .progressBar-label {
                @include center-absolutely ( false, $progress-bar-highlighted-height );
                left: 0;
                right: 0;
                padding-left: $progress-bar-label-padding;
                padding-right: $progress-bar-label-padding;
                font-size: $progress-bar-label-font-size;
                z-index: 1;
            }

        }

    }

    & > .stripes {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
    }

    &.striped > .stripes {

        display: block;
        @extend %gradient-stripes;
        background-size: $progress-bar-stripe-size $progress-bar-stripe-size;
        content: '';
        display: block;
        width: 0%;
        height: 100%;
        transition: width $progress-bar-transitions-time ease 0s;

    }

    &.striped:not(.inactive) > .stripes {
        animation: 2s linear 0s normal none infinite running move;
    }

    &.inactive {

        & > .unhighlighted > .highlighted  {

            @include gray ( true, false, false, '!important' );

            &:not(:first-child) {
                box-shadow: - $progress-bar-inactive-before-shadow-size 0 0 0 $progress-bar-inactive-highlighted-color;
            }

            &:last-child {
                border-top-right-radius: inherit;
                border-bottom-right-radius: inherit;
                box-shadow: $progress-bar-inactive-after-shadow-size 0 0 0 $color-white-bg;
            }

            &:last-child:not(:first-child) {
                @include multi-shadow ( - $progress-bar-inactive-before-shadow-size 0 0 0 $progress-bar-inactive-highlighted-color, $progress-bar-inactive-after-shadow-size 0 0 0 $color-white-bg );
            }

        }

        & > .stripes {
                border-top-right-radius: inherit;
                border-bottom-right-radius: inherit;
        }

    }

}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: $progress-bar-stripe-size $progress-bar-stripe-size;
    }
}
