
/* RIPPLE */

.waves-effect {

    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;

    .waves-ripple {

        position: absolute;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-top:-50px;
        margin-left:-50px;
        opacity: 0;
        background: rgba(0,0,0,0.2);
        $gradient: rgba(0,0,0,0.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,rgba(255,255,255,0) 70%;
        background: radial-gradient($gradient);
        transition: all 0.5s ease-out;
        transition-property: transform, opacity;
        transform: scale(0) translate(0,0);
        pointer-events: none;

        &.waves-showing {
            opacity: 1;
            transform: scale(5) translate(0,0); //FIXME: the scale should change on the basis of the width
            transition-duration: 0.5s;
        }

        &.waves-hiding {
            opacity: 0;
            transition-duration: 0.5s;
        }

    }

    &.waves-light .waves-ripple {
        background: rgba(255,255,255,0.4);
        $gradient: rgba(255,255,255,0.2) 0,rgba(255,255,255,.3) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.5) 60%,rgba(255,255,255,0) 70%;
        background: radial-gradient($gradient);
    }

}

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
    z-index: -1;
}
