
/* RIPPLE */

.waves-effect {

    position: relative;
    overflow: hidden;

    .waves-ripple {

        position: absolute;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-top:-50px;
        margin-left:-50px;

        opacity: 0;

        background: transparentize($color-black, $ripple-transparentize-amount);

        transition: transform 0.75s ease-out, opacity 0.75s ease-out;

        transform: scale(0);
        pointer-events: none;

        &.waves-showing {
            opacity: 1;
        }

        &.waves-hiding {
            opacity: 0;
        }

    }

    &.waves-primary .waves-ripple {
        background: transparentize($color-primary, $ripple-transparentize-amount);
    }

    &.waves-secondary .waves-ripple {
        background: transparentize($color-secondary, $ripple-transparentize-amount);
    }

    &.waves-tertiary .waves-ripple {
        background: transparentize($color-tertiary, $ripple-transparentize-amount);
    }

    &.waves-quaternary .waves-ripple {
        background: transparentize($color-quaternary, $ripple-transparentize-amount);
    }

    &.waves-white .waves-ripple {
        background: transparentize($color-white, $ripple-transparentize-amount);
    }

    &.waves-gray .waves-ripple {
        background: transparentize($color-gray, $ripple-transparentize-amount);
    }

    &.waves-black .waves-ripple {
        background: transparentize($color-black, $ripple-transparentize-amount);
    }

    &.waves-yellow .waves-ripple {
        background: transparentize($color-yellow, $ripple-transparentize-amount);
    }

    &.waves-olive .waves-ripple {
        background: transparentize($color-olive, $ripple-transparentize-amount);
    }

    &.waves-green .waves-ripple {
        background: transparentize($color-green, $ripple-transparentize-amount);
    }

    &.waves-blue .waves-ripple {
        background: transparentize($color-blue, $ripple-transparentize-amount);
    }

    &.waves-violet .waves-ripple {
        background: transparentize($color-violet, $ripple-transparentize-amount);
    }

    &.waves-orange .waves-ripple {
        background: transparentize($color-orange, $ripple-transparentize-amount);
    }

    &.waves-purple .waves-ripple {
        background: transparentize($color-purple, $ripple-transparentize-amount);
    }

    &.waves-red .waves-ripple {
        background: transparentize($color-red, $ripple-transparentize-amount);
    }

    &.waves-pink .waves-ripple {
        background: transparentize($color-pink, $ripple-transparentize-amount);
    }

    &.waves-teal .waves-ripple {
        background: transparentize($color-teal, $ripple-transparentize-amount);
    }

    &.waves-brown .waves-ripple {
        background: transparentize($color-brown, $ripple-transparentize-amount);
    }

}

a.waves-effect .waves-ripple { //INFO: Firefox Bug: link not triggered
    z-index: -1;
}
