
/* SELECT BTN */

.select-btn {

    position: relative;

    select {
        border: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border-radius: $border-radius-medium;
        cursor: pointer;
        font-size: $font-size;
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        padding: 0 $layout-half-spacing;
        width: 100%;
        z-index: 1;
    }

    .select-label > .valueholder {

        text-transform: none;
        font-weight: bold;
        display: inline-block;

        &.right:before, &.left:before {
            content: '\a0'; // &nbsp;
        }

    }

    &.dropdown-trigger-top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &.dropdown-trigger-bottom {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.dropdown-trigger-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.dropdown-trigger-left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

}

/* SELECT DROPDOWN */

//FIXME: why the hell does it scroll vertically and horizontally???

.select-dropdown {

    padding: 0;

    & > .container {

        @include z-depth ( $select-dropdown-z-depth );

        & .label-wrp + .divider-wrp.block {
            margin-top: $layout-half-spacing;
        }

        & .divider-wrp.block {
            margin-bottom: $layout-half-spacing !important; //FIXME: we should use `!important`
        }

    }

}
