
/* TRIANGLES */

.triangle, .triangle-up {
    @include triangle ();
}

.triangle-down {
    @include triangle ( 1em, $color-gray, "down" );
}

.triangle-right {
    @include triangle ( 1em, $color-gray, "right" );
}

.triangle-left {
    @include triangle ( 1em, $color-gray, "left" );
}

/* SQUARES */

.square {
    @include square ();
}

.square-sample {

    @include square ( 4rem );
    padding: $layout-half-spacing;
    overflow: hidden;
    margin-bottom: $layout-spacing;

    & > p {
        text-align: inherit;
        font-size: 0.5rem;
    }

}

/* CIRCLES */

.circle {
    @include circle ();
}
