
/* TRIANGLES */

.triangle, .triangle-up {
    @include triangle ();
    margin-bottom: $layout-spacing;
}

.triangle-down {
    @include triangle ( 1em, $color-gray, "down" );
    margin-bottom: $layout-spacing;
}

.triangle-right {
    @include triangle ( 1em, $color-gray, "right" );
    margin-bottom: $layout-spacing;
}

.triangle-left {
    @include triangle ( 1em, $color-gray, "left" );
    margin-bottom: $layout-spacing;
}

/* SQUARES */

.square {
    @include square ();
    margin-bottom: $layout-spacing;
}

.square-sample {

    @include square ( 4rem );
    padding: $layout-half-spacing;
    overflow: hidden;
    margin-bottom: $layout-spacing;

    & > p {
        text-align: inherit;
        margin-bottom: $layout-spacing;
        font-size: 0.5rem;
    }

}

/* CIRCLES */

.circle {
    @include circle ();
    margin-bottom: $layout-spacing;
}
