
/* TRIANGLES */

.triangle, .triangle-up {
    @include triangle ();
    position: relative;
    margin-bottom: $layout-gutter;
}

.triangle-down {
    @include triangle ( 1em, $color-gray, "down" );
    position: relative;
    margin-bottom: $layout-gutter;
}

.triangle-right {
    @include triangle ( 1em, $color-gray, "right" );
    position: relative;
    margin-bottom: $layout-gutter;
}

.triangle-left {
    @include triangle ( 1em, $color-gray, "left" );
    position: relative;
    margin-bottom: $layout-gutter;
}

/* SQUARES */

.square {
    @include square ();
    position: relative;
    margin-bottom: $layout-gutter;
}

.square-sample {

    @include square ( 4rem );
    overflow: hidden;
    position: relative;
    margin-bottom: $layout-gutter;
    padding: $layout-half-gutter;

    & > p {
        @include size ( 'xsmall' );
        margin-bottom: $layout-gutter;
        text-align: inherit;
    }

}

/* CIRCLES */

.circle {
    @include circle ();
    margin-bottom: $layout-gutter;
}
