
/* SLIDER */

//FIXME: if the container is not white the inactive status is not good

.slider_wrp {

    height: $slider-height;
    margin-bottom: $layout-spacing;

    & > .slider {

        height: $slider-height;

        input {
            display: none;
        }

        .bar {

            height: $slider-height;
            line-height: $slider-height;
            position: relative;
            margin: 0 $slider-min-max-width;

            .unhighlighted {

                @include color ( $slider-unhighlighted-color, $slider-unhighlighted-color-basic );
                @include center-absolutely ( false, $slider-unhighlighted-height );
                border-radius: $slider-unhighlighted-height;
                height: $slider-unhighlighted-height;
                overflow: visible;
                position: absolute;
                left: $slider-handler-half-size;
                right: $slider-handler-half-size;

                .highlighted {
                    @include color ( $slider-highlighted-color, $slider-highlighted-color-basic );
                    height: $slider-highlighted-height;
                    border-radius: $slider-highlighted-height;
                }

                .handler {

                    @include color ( $slider-handler-color, $slider-handler-color-basic );
                    @include z-depth ( 3 );
                    @include center-absolutely ( false, $slider-handler-size );
                    border-radius: 50%;
                    height: $slider-handler-size;
                    line-height: $slider-handler-size;
                    position: absolute;
                    text-align: center;
                    margin-left: - $slider-handler-half-size;
                    width: $slider-handler-size;
                    z-index: 1;

                    transition: height $slider-transitions-time ease 0s,
                                line-height $slider-transitions-time ease 0s,
                                margin-left $slider-transitions-time ease 0s,
                                margin-top $slider-transitions-time ease 0s,
                                width $slider-transitions-time ease 0s,
                                box-shadow $slider-transitions-time ease 0s;

                    .slider-label {
                        font-size: 0;
                        transition: font-size $slider-transitions-time ease 0s;
                    }

                }

            }

        }

        .min, .max {
            height: $slider-height;
            line-height: $slider-height;
            text-align: center;
            width: $slider-min-max-width;
            position: relative;
        }

        .min {

            float: left;

            &:after {
                content: attr(data-min)
            }

        }

        .max {

            float: right;

            &:after {
                content: attr(data-max)
            }

        }

    }

    &:not(.slider-disabled) {

        & > .slider {

            &:not(.dragging) {

                .min, .max {

                    cursor: pointer;

                    &:hover:after {
                        @extend %icon;
                    }

                }

                .min {

                    &:hover:after {
                        content: '\f111'; // content-remove
                    }

                }

                .max {

                    &:hover:after {
                        content: '\f0fb'; // content-add
                    }

                }

            }

            .bar .unhighlighted {

                cursor: pointer;

                .handler {

                    cursor: move;

                    &:hover, &:active {

                        height: $slider-handler-big-size;
                        line-height: $slider-handler-big-size;
                        @include center-absolutely ( false, $slider-handler-big-size );
                        margin-left: - $slider-handler-big-half-size;
                        width: $slider-handler-big-size;

                        .slider-label {
                            font-size: $slider-handler-label-font-size;
                        }

                    }

                    &:active {
                        @include z-depth ( 2, $slider-handler-active-shadow );
                    }

                }

            }

        }

    }

    &.slider-disabled {

        & > .slider .bar .unhighlighted {

            .highlighted  {
                @include color ( $slider-disabled-highlighted-color, $slider-disabled-highlighted-color-basic );
            }

            .handler {
                @include color ( $slider-disabled-handler-color, $slider-disabled-handler-color-basic );
                box-shadow: 0 0 0 $slider-inactive-handler-shadow-size $color-white-bg;
            }

        }

    }

}
