
/* SWITCHER */

.switcher {

    width: $switcher-width;
    height: $switcher-height;
    margin-bottom: $layout-spacing;

    input {
        display: none;
    }

    .bar {

        width: $switcher-bar-width;
        height: $switcher-bar-height;
        border-radius: $switcher-bar-height;
        margin: $switcher-bar-vertical-height auto;
        position: relative;
        box-shadow: $switcher-bar-shadow;
        transition: background-color 0.2s ease 0s;

        .handler {

            @include z-depth ( 3 );
            @include center-absolutely ( false, $switcher-handler-size );
            left: 0;
            height: $switcher-handler-size;
            width: $switcher-handler-size;
            border-radius: $switcher-handler-size;
            margin-left: -$switcher-handler-half-size;
            transition: background-color 0.2s ease 0s, left 0.2s ease 0s, box-shadow 0.2s ease 0s;

            &:active {
                box-shadow: none;
                transition: box-shadow 0.2s ease 0s;
            }

            .icon {
                width: $switcher-handler-icon-size;
                height: $switcher-handler-icon-size;
                line-height: $switcher-handler-icon-size;
                font-size: $switcher-handler-icon-font-size;
                text-align: center;
            }

        }

    }

    &.dragging .handler {
        z-index: 1;
        transition: none;
    }

    &:not(.inactive) {

        .bar {

            cursor: pointer;

            .handler {

                cursor: move;

                &:active {
                    @include z-depth ( 2, $switcher-handler-active-shadow );
                }

            }

        }

    }

    &.inactive {

        .bar {

            @include color ( $switcher-disabled-bar-color, $switcher-disabled-bar-color-basic );

            .handler {
                @include color ( $switcher-disabled-handler-color, $switcher-disabled-handler-color-basic );
                box-shadow: 0 0 0 $switcher-inactive-handler-shadow-size $color-white-bg;
            }

        }

    }

}
