
/* TABLE */

//FIXME: It shouldn't be always centered

//TODO: Add responsive tables
//TODO: Add ability to easily set per-columm text alignment
//TODO: Add $layout-gutter space between columns

table.table { //INFO: So that if we need a plain basic table we can, just by don't using the `table` class

    @extend %widget;
    width: 100%;
    text-align: center; //FIXME: Remove it

    /* THEAD */

    & > thead > tr > th {
        padding: $table-header-padding;
        height: $table-header-min-height;
    }

    /* TBODY */

    & > tbody > tr {

        & > td {
            @include last-child-gutter-fix ();
            padding: $table-row-padding;
            height: $table-row-min-height;
        }

        &.empty > td {
            height: $table-row-empty-min-height;
        }

    }

    /* BORDERED */

    &.bordered > tbody > tr {
        border-bottom: $table-bordered-border-width solid $table-bordered-border-color;
    }

    /* STRIPED */

    &.striped > tbody > tr {

        &:first-child.empty ~ tr {

            &:nth-child(even) {
                background-color: $table-striped-row-even-color;
            }

            &:nth-child(odd) {
                background-color: $table-striped-row-odd-color;
            }

        }

        &:first-child:not(.empty) {

            background-color: $table-striped-row-even-color;

            & ~ tr {

                &:nth-child(odd) {
                    background-color: $table-striped-row-even-color;
                }

                &:nth-child(even) {
                    background-color: $table-striped-row-odd-color;
                }

            }

        }

    }

    /* HOVERABLE */

    &.hoverable > tbody > tr:not(.empty):hover {
        background-color: $table-hoverable-row-even-color-hover;
    }

    /* STRIPED & HOVERABLE */

    &.striped.hoverable > tbody > tr {

        &:first-child.empty ~ tr {

            &:nth-child(even):hover {
                background-color: $table-hoverable-row-even-color-hover;
            }

            &:nth-child(odd):hover {
                background-color: $table-hoverable-row-odd-color-hover;
            }

        }

        &:first-child:not(.empty) {

            &:hover {
                background-color: $table-hoverable-row-even-color-hover;
            }

            & ~ tr {

                &:nth-child(odd):hover {
                    background-color: $table-hoverable-row-even-color-hover;
                }

                &:nth-child(even):hover {
                    background-color: $table-hoverable-row-odd-color-hover;
                }

            }

        }

    }

}
