
/* TABS */

.tabs {

    position: relative;
    margin-bottom: $layout-spacing;

    & > .tabs-buttons {

        & > .multiple-wrp {

            margin-bottom: 0;

            & > .multiple > .button {

                &:first-child {
                    border-bottom-left-radius: 0;
                }

                &:last-child {
                    border-bottom-right-radius: 0;
                }

            }

        }

    }

    & > .tabs-containers {

        position: relative;

        & > .tabs-indicator {
            @include color ( $tabs-indicator-color, $tabs-indicator-color-basic );
            position: absolute;
            z-index: 1;
            top: - $tabs-indicator-height;
            right: $container-border-width;
            left: $container-border-width;
            height: $tabs-indicator-height;
            transition: left $tabs-indicator-transition-all-duration, right $tabs-indicator-transition-all-duration;
        }

        & > .container {

            display: none;
            border-top-width: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            &.active {
                display: block;
            }

        }

    }

}
