
/* TEXTAREA */

.textarea-wrp {

    @extend .input-wrp;

    & > .text-field {

        resize: vertical;

        &[disabled] {
            resize: none;
        }

    }

    &:not(.no-floating):not(.disabled) > .text-field {

        &:focus ~ label, &:valid ~ label {
            transform: translateY($textarea-active-tranlate-y) translateX(0);
        }

    }

}
