
/* TEXTAREA */

//FIXME: If we write a lot and we scrroll down the content goes under the label
//TODO: set a default height

.textarea-wrp {

    @extend .input-wrp;

    & > .text-field {

        resize: vertical;

        &[disabled] {
            resize: none;
        }

    }

    &.unresizable > .text-field {
        resize: none;
    }

}
