
/* TOOLBAR */

.toolbar {

    height: $toolbar-height;
    margin-bottom: $layout-gutter;
    padding: $toolbar-vertical-padding $toolbar-horizontal-padding;

    & .multiple-wrp {

        height: 100%;

        & > .multiple {

            align-items: center;
            height: 100%;

            & > * {
                margin-bottom: 0; //FIXME: We shouldn't need to add this everytime
            }

        }

    }

}
