
/* TOOLBAR */

.toolbar {

    justify-content: center;
    height: $toolbar-height;
    margin-bottom: $layout-spacing;
    padding: 0 $toolbar-horizontal-padding;

    & > * {
        margin-bottom: 0;
        align-self: center;
    }

}
