
/* HEADERS */

h1, h2, h3, h4, h5, h6 {

    margin-top: 0px;
    margin-bottom: $layout-spacing;

    & > small, & > .small {
        font-size: 65%;
        opacity: 0.85;
    }

}

h1 {
    @include size ( 'xxlarge' );
}

h2 {
    @include size ( 'xlarge' );
}

h3 {
    @include size ( 'large' );
}

h4 {
    @include size ( 'medium' );
}

h5 {
    @include size ( 'small' );
}

h6 {
    @include size ( 'xsmall' );
}

/* OTHER */

small, .small {
    font-size: 85%;
}

p {
    margin-top: 0px;
    margin-bottom: $layout-spacing;
    text-align: justify;
}

mark, .mark {
    padding: 0.2em;
    background-color: $color-yellow;
}

abbr[title] {
    border-bottom: 1px dotted $color-gray-border;
    cursor: help;
}

blockquote {

    border: 1px solid $general-section-border-bg;
    border-left-width: ( $layout-spacing / 2 );
    margin: 0 0 $layout-spacing 0;
    padding: $layout-spacing;
    background-color: $general-section-color-bg;
    border-radius: $border-radius-small;
    text-align: justify;

    & > footer {

        font-size: 85%;
        opacity: 0.85;
        margin-top: $layout-spacing;

        &:before {
            content: '\2014 \00A0';
            opacity: 0.85;
        }

    }

}

/* LIST */

ul, ol {
    margin: 0;
    text-align: left;
    padding-left: $layout-spacing * 2;
}

ul.unstyled {

    padding-left: 0;
    list-style-type: none;

    ul {
        list-style-type: none;
        padding-left: $layout-spacing * 2;
    }

}

dl {
    margin: 0;
    text-align: left;
}

dd {
    margin-left: $layout-spacing * 2;
}
