//- form.jade

mixin form
    form&attributes(attributes)
        block


mixin form-button(href)
    //- TODO: Make it DRY, we are basically just repeating the button mixin
    button(type="submit")&attributes(attributes).label-wrp.button-wrp
        if href
            if href.slice ( 0, 11 ) === 'javascript:'
                .label.actionable(onclick=href)&attributes(attributes)
                    block
            else if href[href.length-1] === ')' || href.slice ( -2 ) === ');'
                .label.actionable(onclick="javascript:"+href)&attributes(attributes)
                    block
            else
                a.label.actionable(href=href)&attributes(attributes)
                    block
        else
            .label.actionable&attributes(attributes)
                block

mixin form-button-simple(href)
    +form-button(href)&attributes(attributes)
        +button-center
            block
