
/* RIPPLE */

.ripple {

  position: relative;
  overflow: hidden;
  cursor: pointer;
  transform: translateZ(0); // For some reason it fixes the bug of ripples exceeding the border-radius, overflow: hidden, combo

  /* CIRCLE */

  &-circle {

    position: absolute;
    pointer-events: none;
    margin: 0 !important;
    z-index: $ripple-circle-z-index;

    &:before {
      @include absolute ( ( - 50% ) false false ( - 50% ) );
      @include dimension ( 100% );
      content: '';
      border-radius: 50%;
      background-color: $ripple-bg-color;
      opacity: 0;
      animation: ripple $ripple-animation-duration;
      animation-timing-function: $ripple-animation-timing-function;
    }

  }

}
