
// @require core/animations/variables.scss
// @require core/colors/variables.scss

/* RIPPLE */

$ripple-bg-color: $color-black !default;

$ripple-opacity: .2 !default;

/* CIRCLE */

$ripple-circle-z-index: 100 !default;

/* ANIMATION */

$ripple-animation-timing-function: cubic-bezier( .25, .8, .25, 1 ) !default; // Taken from Angular Material

$ripple-animation-duration: $animation-xslow !default;
