
// @require core/widget/widget.scss

//TODO: Update the highlight dynamically when we switch direction between top, bottom, left or right
//TODO: Add support for a more relaxed implementation with support for inputs and other buttons in the tabs bar as well, basically custom content
//TODO: Add support for bordered tabs, triggers and containers

/* TABS */

.tabs {

  @extend %widget;
  display: flex;

  /* TRIGGERS */

  &-triggers {

    @include children-no-gutter ();
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    /* TRIGGER */

    > * {
      flex: 1 1 auto; // IE-10/11 sets flex-shrink to 0
    }

  }

  /* CONTAINERS */

  &-containers {

    @include children-no-gutter ();
    position: relative;

    /* CONTAINER */

    > * {

      display: none;

      /* ACTIVE */

      &.active {
        display: block;
      }

    }

  }

}
