
// @require widgets/container/variables.scss

/* FIGURE */

$figure-color: $container-color !default;
$figure-color-force: false !default;
$figure-color-basic: true !default;

$figure-border-radius: 0 !default;

$figure-padding-x: 0 !default;
$figure-padding-y: $figure-padding-x !default;

/* IMAGE */

$figure-image-border-radius: inherit !default;
