
/* DEVICES */

@each $device in $browser-support-devices {

  /* HIDDEN */

  html:not(.no-#{$device}) .hidden-#{$device} {
    display: none !important;
  }

  /* ONLY */

  html:not(.#{$device}) .only-#{$device} {
    display: none !important;
  }

}
