
//- Textarea

//- Options
  {
    name: '', // Textarea name
    label: '', // Label
  }

mixin textarea(options)
  - options = options || {};
  - options.name = options.name || "";
  .textarea-wrp(class=(options.label ? "" : "no-floating"))&attributes(attributes)
    textarea(name=options.name required).text-field
      block
    if options.label
      label= options.label
    .text-field-bar
