
//- =========================================================================
//- Svelto - Textarea
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    name: '', // Textarea name
    placeholder: '', // Placeholder
  }

mixin textarea(options)
  //- TODO: Make the markup lighter
  - options = options || {};
  - options.name = options.name || "";
  - options.placeholder = options.placeholder || "";
  textarea(name=options.name placeholder=options.placeholder)&attributes(attributes)
    block
