//- textarea.jade

mixin textarea(options)
    if !options
        - options = {}
    .textarea-wrp(class=(!options.label ? 'no-floating' : ''))&attributes(attributes)
        textarea.text-field(type=(options.type || "text"), name=(options.name || ""), required)
            block
        if options.label
            label= options.label
        .text-field-bar
