
// @require ../zoomable.scss

/* SHOW */

.zoomable.show {

  z-index: $zoomable-show-z-index !important;
  cursor: zoom-out;

  /* UNZOOMED */

  &:not(.zoomed) {
    transition: none; // Safari fix
    transition-property: transform;
    transition-duration: $zoomable-animation-duration;
  }

}
