//- index.jade

extends ./layout.jade

append content
    .separator_wrp
        .separator Components
    .multiple
        a.button.actionable.outlined(href="/views/demo/accordion.html") Accordion
        a.button.actionable.outlined(href="/views/demo/advertisements.html") Advertisements
        a.button.actionable.outlined(href="/views/demo/badges.html") Badges
        a.button.actionable.outlined(href="/views/demo/breadcrumb.html") Breadcrumb
        a.button.actionable.outlined(href="/views/demo/buttons.html") Buttons
        a.button.actionable.outlined(href="/views/demo/colors.html") Colors
        a.button.actionable.outlined(href="/views/demo/elements.html") Elements
        a.button.actionable.outlined(href="/views/demo/expander.html") Expander
        a.button.actionable.outlined(href="/views/demo/flags.html") Flags
        a.button.actionable.outlined(href="/views/demo/form.html") Form
        a.button.actionable.outlined(href="/views/demo/grid.html") Grid
        a.button.actionable.outlined(href="/views/demo/headers.html") Headers
        a.button.actionable.outlined(href="/views/demo/icons.html") Icons
        a.button.actionable.outlined(href="/views/demo/inputs.html") Inputs
        a.button.actionable.outlined(href="/views/demo/loading.html") Loading
        a.button.actionable.outlined(href="/views/demo/modals.html") Modals
        a.button.actionable.outlined(href="/views/demo/noty.html") Noty
        a.button.actionable.outlined(href="/views/demo/one_time_action.html") One time action
        a.button.actionable.outlined(href="/views/demo/progress_bar.html") Progress bar
        a.button.actionable.outlined(href="/views/demo/separators.html") Separators
        a.button.actionable.outlined(href="/views/demo/sizes.html") Sizes
        a.button.actionable.outlined(href="/views/demo/slider.html") Slider
        a.button.actionable.outlined(href="/views/demo/switcher.html") Switcher
        a.button.actionable.outlined(href="/views/demo/syntax.html") Syntax
        a.button.actionable.outlined(href="/views/demo/table.html") Table
        a.button.actionable.teal(href="/views/demo/tabs.html") Tabs
        a.button.actionable.outlined(href="/views/demo/tagbox.html") Tagbox
        a.button.actionable.outlined(href="/views/demo/timeago.html") Timeago
