//- layout.jade

include mixins/presto/all.jade

+html
    +head("Presto")
    +body
        #navbar
            .content
                #menu_btn.navbar_btn.actionable.left
                    .hamburger
                        .layer_wrp
                            .layer
                a#logo.navbar_btn.actionable.left(href="/") Presto
                block navbar
