//- layout.jade

include mixins/presto/all.jade

+html
    +head("Presto")
    +body.fixed-header
        header
            +header
                +toolbar.primary.z-depth-4
                    +toolbar-icon("navigation-menu")
                    a.xlarge(href="/") Presto
                    .spacer
                    +toolbar-icon("navigation-refresh")
                    +toolbar-icon("navigation-more-vert")
                block header
        main
            block main
        footer
            +footer.beveled
                p.centered Presto, a framework by me
                block footer
