//- layout.jade

include mixins/presto/all.jade

+html
    +head("Presto")
    +body
        .header.main
            .content
                a#logo.navbar_btn.actionable.left(href="/") Presto
                block header-main
