//- layout.jade

include mixins/presto/all.jade

+html
    +head("Presto")
    +body.fixed-header
        header
            +header
                +toolbar.primary.z-depth-4
                    +button-icon('menu')
                    a.large(href="/") Presto
                    .spacer
                    +button-icon('refresh')
                    +button-icon('more_vert')
                block header
        main
            block main
        footer
            +footer.beveled
                p.centered Presto, a framework
                block footer
