
<!-- CURSOR -->

<template name="cursor">

  {{{sw.divider "Cursor"}}}

  <div class="container bordered">
    <div class="multiple">
      <div class="label bordered cursor-auto">auto</div>
      <div class="label bordered cursor-default">default</div>
      <div class="label bordered cursor-none">none</div>
      <div class="label bordered cursor-context-menu">context-menu</div>
      <div class="label bordered cursor-help">help</div>
      <div class="label bordered cursor-pointer">pointer</div>
      <div class="label bordered cursor-progress">progress</div>
      <div class="label bordered cursor-wait">wait</div>
      <div class="label bordered cursor-move">move</div>
      <div class="label bordered cursor-not-allowed">not-allowed</div>
      <div class="label bordered cursor-zoom-in">zoom-in</div>
      <div class="label bordered cursor-zoom-out">zoom-out</div>
      <div class="label bordered cursor-grab">grab</div>
      <div class="label bordered cursor-grabbing">grabbing</div>
    </div>
  </div>

</template>
