
<!-- FLEXBOX -->

<template name="flexbox">

  {{{sw.divider "Grow"}}}

  <div class="container outlined">
    <div class="multiple">
      <div class="container outlined gray grow">Grow</div>
      <div class="container outlined gray no-grow">No grow</div>
    </div>
  </div>

  {{{sw.divider "Shrink"}}}

  <div class="container outlined">
    <div class="multiple fluid">
      <div class="container outlined gray xs-4 no-shrink">No shrink</div>
      <div class="container outlined gray shrink">Shrink</div>
    </div>
  </div>

</template>
