
<!-- OVERFLOW -->

<template name="overflow">

  {{{sw.divider "Overflow"}}}

  <div class="container bordered">
    <div class="multiple">
      {{{sample.square "overflow-hidden" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet tincidunt"}}}
      {{{sample.square "overflow-visible" "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet tincidunt"}}}
      {{{sample.square "overflow-scroll" ""}}}
    </div>
  </div>

  {{{sw.divider "X"}}}

  <div class="container bordered">
    <div class="multiple">
      {{{sample.square "overflow-scroll overflow-x-hidden" ""}}}
      {{{sample.square "overflow-x-scroll" ""}}}
    </div>
  </div>

  {{{sw.divider "Y"}}}

  <div class="container bordered">
    <div class="multiple">
      {{{sample.square "overflow-scroll overflow-y-hidden" ""}}}
      {{{sample.square "overflow-y-scroll" ""}}}
    </div>
  </div>

  {{sw.toast body="Try with/without overlay scrollbars" ttl="forever"}}

</template>
