//- css/colors.jade

extends ../../layout.jade

append body
    +divider Primary

    +multiple
        +button.primary Base
        +button.primary.highlight Base (H)
        +button.primary.gradient Base (G)
        +button.primary.transparentize Base (T)
        +button.primary.outlined Base (O)

    +divider Secondary

    +multiple
        +button.secondary Base
        +button.secondary.highlight Base (H)
        +button.secondary.gradient Base (G)
        +button.secondary.transparentize Base (T)
        +button.secondary.outlined Base (O)

    +divider White

    +multiple
        +button.white Base
        +button.white.highlight Base (H)
        +button.white.gradient Base (G)
        +button.white.transparentize Base (T)
        +button.white.outlined Base (O)

    +divider Gray

    +multiple
        +button.gray Base
        +button.gray.highlight Base (H)
        +button.gray.gradient Base (G)
        +button.gray.transparentize Base (T)
        +button.gray.outlined Base (O)

    +divider Black

    +multiple
        +button.black Base
        +button.black.highlight Base (H)
        +button.black.gradient Base (G)
        +button.black.transparentize Base (T)
        +button.black.outlined Base (O)

    +divider Yellow

    +multiple
        +button.yellow Base
        +button.yellow.highlight Base (H)
        +button.yellow.gradient Base (G)
        +button.yellow.transparentize Base (T)
        +button.yellow.outlined Base (O)

    +divider Green

    +multiple
        +button.green Base
        +button.green.highlight Base (H)
        +button.green.gradient Base (G)
        +button.green.transparentize Base (T)
        +button.green.outlined Base (O)

    +divider Blue

    +multiple
        +button.blue Base
        +button.blue.highlight Base (H)
        +button.blue.gradient Base (G)
        +button.blue.transparentize Base (T)
        +button.blue.outlined Base (O)

    +divider Orange

    +multiple
        +button.orange Base
        +button.orange.highlight Base (H)
        +button.orange.gradient Base (G)
        +button.orange.transparentize Base (T)
        +button.orange.outlined Base (O)

    +divider Purple

    +multiple
        +button.purple Base
        +button.purple.highlight Base (H)
        +button.purple.gradient Base (G)
        +button.purple.transparentize Base (T)
        +button.purple.outlined Base (O)

    +divider Red

    +multiple
        +button.red Base
        +button.red.highlight Base (H)
        +button.red.gradient Base (G)
        +button.red.transparentize Base (T)
        +button.red.outlined Base (O)

    +divider Pink

    +multiple
        +button.pink Base
        +button.pink.highlight Base (H)
        +button.pink.gradient Base (G)
        +button.pink.transparentize Base (T)
        +button.pink.outlined Base (O)

    +divider Teal

    +multiple
        +button.teal Base
        +button.teal.highlight Base (H)
        +button.teal.gradient Base (G)
        +button.teal.transparentize Base (T)
        +button.teal.outlined Base (O)

    +divider Transparent

    +button.transparent Base

    +divider Transparent initial

    +button.transparent-initial.white Base

    +divider Text

    +container
        p.text-primary [PRIMARY] #[+lorem-ipsum(10, 'words')]
        p.text-secondary [SECONDARY] #[+lorem-ipsum(10, 'words')]
        p.text-white [WHITE] #[+lorem-ipsum(10, 'words')]
        p.text-gray [GRAY] #[+lorem-ipsum(10, 'words')]
        p.text-black [BLACK] #[+lorem-ipsum(10, 'words')]
        p.text-yellow [YELLOW] #[+lorem-ipsum(10, 'words')]
        p.text-green [GREEN] #[+lorem-ipsum(10, 'words')]
        p.text-blue [BLUE] #[+lorem-ipsum(10, 'words')]
        p.text-orange [ORANGE] #[+lorem-ipsum(10, 'words')]
        p.text-purple [PURPLE] #[+lorem-ipsum(10, 'words')]
        p.text-red [RED] #[+lorem-ipsum(10, 'words')]
        p.text-pink [PINK] #[+lorem-ipsum(10, 'words')]
        p.text-teal [TEAL] #[+lorem-ipsum(10, 'words')]
        p.text-transparent [TRANSPARENT] #[+lorem-ipsum(10, 'words')]

append body-end
    +noty({ body: '<p>[H] Highlight <br/> [G] Gradient <br/> [T] Transparentized <br/> [O] Outlined</p>', ttl: 'forever' })
