//- css/colors.jade

extends ../../layout.jade

append body
    +divider Primary

    +multiple
        +button.actionable.primary Base
        +button.actionable.primary.highlight Base (H)
        +button.actionable.primary.gradient Base (G)
        +button.actionable.primary.transparentize Base (T)
        +button.actionable.primary.outlined Base (O)

    +divider Secondary

    +multiple
        +button.actionable.secondary Base
        +button.actionable.secondary.highlight Base (H)
        +button.actionable.secondary.gradient Base (G)
        +button.actionable.secondary.transparentize Base (T)
        +button.actionable.secondary.outlined Base (O)

    +divider White

    +multiple
        +button.actionable.white Base
        +button.actionable.white.highlight Base (H)
        +button.actionable.white.gradient Base (G)
        +button.actionable.white.transparentize Base (T)
        +button.actionable.white.outlined Base (O)

    +divider Gray

    +multiple
        +button.actionable.gray Base
        +button.actionable.gray.highlight Base (H)
        +button.actionable.gray.gradient Base (G)
        +button.actionable.gray.transparentize Base (T)
        +button.actionable.gray.outlined Base (O)

    +divider Black

    +multiple
        +button.actionable.black Base
        +button.actionable.black.highlight Base (H)
        +button.actionable.black.gradient Base (G)
        +button.actionable.black.transparentize Base (T)
        +button.actionable.black.outlined Base (O)

    +divider Yellow

    +multiple
        +button.actionable.yellow Base
        +button.actionable.yellow.highlight Base (H)
        +button.actionable.yellow.gradient Base (G)
        +button.actionable.yellow.transparentize Base (T)
        +button.actionable.yellow.outlined Base (O)

    +divider Green

    +multiple
        +button.actionable.green Base
        +button.actionable.green.highlight Base (H)
        +button.actionable.green.gradient Base (G)
        +button.actionable.green.transparentize Base (T)
        +button.actionable.green.outlined Base (O)

    +divider Blue

    +multiple
        +button.actionable.blue Base
        +button.actionable.blue.highlight Base (H)
        +button.actionable.blue.gradient Base (G)
        +button.actionable.blue.transparentize Base (T)
        +button.actionable.blue.outlined Base (O)

    +divider Orange

    +multiple
        +button.actionable.orange Base
        +button.actionable.orange.highlight Base (H)
        +button.actionable.orange.gradient Base (G)
        +button.actionable.orange.transparentize Base (T)
        +button.actionable.orange.outlined Base (O)

    +divider Purple

    +multiple
        +button.actionable.purple Base
        +button.actionable.purple.highlight Base (H)
        +button.actionable.purple.gradient Base (G)
        +button.actionable.purple.transparentize Base (T)
        +button.actionable.purple.outlined Base (O)

    +divider Red

    +multiple
        +button.actionable.red Base
        +button.actionable.red.highlight Base (H)
        +button.actionable.red.gradient Base (G)
        +button.actionable.red.transparentize Base (T)
        +button.actionable.red.outlined Base (O)

    +divider Pink

    +multiple
        +button.actionable.pink Base
        +button.actionable.pink.highlight Base (H)
        +button.actionable.pink.gradient Base (G)
        +button.actionable.pink.transparentize Base (T)
        +button.actionable.pink.outlined Base (O)

    +divider Teal

    +multiple
        +button.actionable.teal Base
        +button.actionable.teal.highlight Base (H)
        +button.actionable.teal.gradient Base (G)
        +button.actionable.teal.transparentize Base (T)
        +button.actionable.teal.outlined Base (O)

    +divider Transparent

    +multiple
        +button.actionable.transparent Base

    +divider Text

    +container
        p.text-primary [PRIMARY] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-secondary [SECONDARY] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-white [WHITE] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-gray [GRAY] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-black [BLACK] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-yellow [YELLOW] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-green [GREEN] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-blue [BLUE] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-orange [ORANGE] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-purple [PURPLE] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-red [RED] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-pink [PINK] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-teal [TEAL] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
        p.text-transparent [TRANSPARENT] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.

append body-end
    +noty({ body: '<p>[H] Highlight <br/> [G] Gradient <br/> [T] Transparentized <br/> [O] Outlined</p>', ttl: 'forever' })
