//- css/container.jade

extends ../../layout.jade

append main
    +divider Simple

    +container-simple Simple

    +divider Limited

    +container-simple.limited Limited

    +divider Nested

    +container-simple
        p Outside
        +container-simple.teal
            p Inside
            +container-simple.pink
                p Insider

    +divider With header

    +container-simple("Header") Content

    +divider With advanced header

    +container
        +container-header.secondary
            +multiple-right
                p Right
            +multiple-left
                p Left
            +multiple-center
                p Center
        +container-content Content

    +divider With footer

    +container
        +container-content Content
        +container-footer.teal Footer

    +divider With header & footer

    +container
        +container-header("Header").green
        +container-content Content
        +container-footer Footer

    +divider Advanced

    +container(style="height:250px")
        +container-header("Header")
            +multiple-left
                +button-icon("action-thumb-down").small
                +button-icon("action-thumb-up").small
            +multiple-right
                +button-icon("navigation-apps").small
                +button-icon("navigation-menu").small
                +button-icon("navigation-more-vert").small
                +button-icon("navigation-refresh").small
        +container-content
            +paragraph-sample
            +paragraph-sample
        +container-footer.pink Footer
