//- css/container.jade

extends ../../layout.jade

append main
    +divider Simple

    +simple-container Simple

    +divider Limited

    +simple-container.limited Limited

    +divider Nested

    +simple-container
        p Outside
        +simple-container.teal
            p Inside
            +simple-container.pink
                p Insider

    +divider With header

    +simple-container("Header") Content

    +divider With advanced header

    +container
        +container-header.secondary
            +container-header-right Right
            +container-header-center Center
            +container-header-left Left
        +container-content Content

    +divider With footer

    +container
        +container-content Content
        +container-footer.teal Footer

    +divider With header & footer

    +container
        +container-header("Header").green
        +container-content Content
        +container-footer Footer

    +divider Advanced

    +container.height-sm
        +container-header("Header")
            +container-header-left
                +multiple
                    +button.compact.xxsmall
                        +icon("action-thumb-down")
                    +button.compact.xxsmall
                        +icon("action-thumb-up")
            +container-header-right
                +multiple
                    +button.compact.xxsmall
                        +icon("navigation-apps")
                    +button.compact.xxsmall
                        +icon("navigation-menu")
                    +button.compact.xxsmall
                        +icon("navigation-more-vert")
                    +button.compact.xxsmall
                        +icon("navigation-refresh")
        +container-content
            p
                +lorem-ipsum
        +container-footer.pink Footer
