//- css/container.jade

extends ../../layout.jade

append content
    +divider Simple

    +container Simple

    +divider Limited

    +container.limited Limited

    +divider Nested

    +container
        p Outside
        +container.teal
            p Inside
            +container.pink
                p Insider

    +divider With header

    +container("Header")
        +container-content Content

    +divider With footer

    +container Content
        +container-footer.teal Footer

    +divider With header & footer

    +container("Header", "green") Content
        +container-footer Footer

    +divider Advanced

    +container
        +container-header("Header")
            +container-header-left
                +multiple
                    +button.compact.mini
                        +icon("action-thumb-down")
                    +button.compact.mini
                        +icon("action-thumb-up")
            +container-header-right
                +multiple
                    +button.compact.mini
                        +icon("navigation-apps")
                    +button.compact.mini
                        +icon("navigation-menu")
                    +button.compact.mini
                        +icon("navigation-more-vert")
                    +button.compact.mini
                        +icon("navigation-refresh")
        +container-content Content
        +container-footer.pink Footer
