//- css/container.jade

extends ../../layout.jade

append main
    +divider Simple

    +container-simple Simple

    +divider Limited

    +container-simple.limited Limited

    +divider Nested

    +container-simple
        p Outside
        +container-simple.teal
            p Inside
            +container-simple.pink
                p Insider

    +divider With header

    +container-simple("Header") Content

    +divider With advanced header

    +container
        +container-header.secondary
            +container-header-right Right
            +container-header-center Center
            +container-header-left Left
        +container-content Content

    +divider With advanced header (No left)

    +container
        +container-header.secondary
            +container-header-right Right
            +container-header-center Center
        +container-content Content

    +divider With footer

    +container
        +container-content Content
        +container-footer.teal Footer

    +divider With header & footer

    +container
        +container-header("Header").green
        +container-content Content
        +container-footer Footer

    +divider Advanced

    +container.height-sm
        +container-header("Header")
            +container-header-left
                +multiple
                    +button-icon("action-thumb-down").xxsmall
                    +button-icon("action-thumb-up").xxsmall
            +container-header-right
                +multiple
                    +button-icon("navigation-apps").xxsmall
                    +button-icon("navigation-menu").xxsmall
                    +button-icon("navigation-more-vert").xxsmall
                    +button-icon("navigation-refresh").xxsmall
        +container-content
            p
                +lorem-ipsum
        +container-footer.pink Footer
