//- css/elements.jade

extends ../../layout.jade

append content
    +divider Blockquote

    +container
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue urna ac nunc posuere sodales. Sed in nisi libero. Cras laoreet vel nibh in egestas. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas erat libero, vehicula sed consequat et, eleifend id ligula. Aenean sed augue nibh. Aliquam vulputate lobortis molestie. Ut vel gravida elit. Nunc blandit risus vitae leo molestie rutrum. Morbi tortor velit, fringilla a aliquet sed, varius at tortor. Quisque id nulla eu metus sollicitudin facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut accumsan tincidunt mi vel hendrerit.

    +divider Text formatting

    +container
        #[b Bold] #[i Italic] #[u Underline] #[s Striketrough] #[sub sub] Something #[sup sup]

    +divider Abbr

    +container
        abbr(title="HyperText Markup Language") HTML

    +divider List - Unordered

    +container
        ul
            li Lorem ipsum dolor sit amet
            li Consectetur adipiscing elit
            li Integer molestie lorem at massa
            li Facilisis in pretium nisl aliquet
            li Nulla volutpat aliquam velit
                ul
                    li Phasellus iaculis neque
                    li Purus sodales ultricies
                    li Vestibulum laoreet porttitor sem
                    li Ac tristique libero volutpat at
            li Faucibus porta lacus fringilla vel
            li Aenean sit amet erat nunc

    +divider List - Unordered - No bullets

    +container
        ul.no-bullets
            li Lorem ipsum dolor sit amet
            li Consectetur adipiscing elit
            li Integer molestie lorem at massa
            li Facilisis in pretium nisl aliquet
            li Nulla volutpat aliquam velit
                ul
                    li Phasellus iaculis neque
                    li Purus sodales ultricies
                    li Vestibulum laoreet porttitor sem
                    li Ac tristique libero volutpat at
            li Faucibus porta lacus fringilla vel
            li Aenean sit amet erat nunc

    +divider List - Ordered

    +container
        ol
            li Lorem ipsum dolor sit amet
            li Consectetur adipiscing elit
            li Integer molestie lorem at massa
            li Facilisis in pretium nisl aliquet
            li Nulla volutpat aliquam velit
            li Faucibus porta lacus fringilla vel
            li Aenean sit amet erat nunc
            li Eget porttitor lorem

    +divider Definition list

    +container
        dl
            dt Lorem ipsum dolor sit amet
            dd Consectetur adipiscing elit
        dl
            dt Integer molestie lorem at massa
            dd Facilisis in pretium nisl aliquet
        dl
            dt Nulla volutpat aliquam velit
            dd Faucibus porta lacus fringilla vel
        dl
            dt Aenean sit amet erat nunc
            dd Eget porttitor lorem

    +divider Code

    +container
        code print ( 'This is an example code block' )

    +divider Section

    +container
        section print ( 'This is an example section block' )

    +divider Pre

    +container
        pre print ( 'This is an example section block' )

    +divider Kbd

    +container
        #[kbd ctrl] + #[kbd alt] + #[kbd canc]

    +divider Embed

    +container ~ This block is actually empty ~

    +divider Images

    +container
        +image("/images/sample.png")
        +image("/images/sample.png")
            +image-caption This is a caption
