//- css/elements.jade

extends ../../layout.jade

append main
    +divider Iframe - Embed - Video - Object

    +container-simple //TODO

    +divider Images

    +container-simple
        +multiple
            +image-sample
            +image-sample
                +image-caption This is a caption
