//- css/elements.jade

extends ../../layout.jade

append main
    +divider Embedded

    +container-simple.limited.sm-12.md-8.lg-6.xl-4
        +embedded("//www.youtube.com/embed/df-eLzao63I?rel=0").ratio-16-9
    +divider Images

    +container-simple
        +multiple
            +image-sample.xs-6.md-3
            +image-sample.xs-6.md-3
                +image-caption.top
                    p Top caption
                +image-caption
                    p Bottom caption
            +image-sample.xs-6.md-3
                +image-caption.on-hover.top
                    p [Hover] Top caption
                +image-caption.on-hover
                    p [Hover] Bottom caption
            +image-sample.xs-6.md-3
                +image-caption.attached.top
                    p [Attached] Top caption
                +image-caption.attached
                    p [Attached] Bottom caption
