//- css/elements.jade

extends ../../layout.jade

append main
    +divider Code

    +simple-container
        code print ( 'This is an example code block' )

    +divider Section

    +simple-container
        section print ( 'This is an example section block' )

    +divider Pre

    +simple-container
        pre print ( 'This is an example section block' )

    +divider Kbd

    +simple-container #[kbd ctrl] + #[kbd alt] + #[kbd canc], #[kbd ctrl + alt + canc]

    +divider Embed

    +simple-container ~ This block is actually empty ~

    +divider Images

    +simple-container
        +multiple
            +image-sample
            +image-sample
                +image-caption This is a caption
