//- css/flags.jade

extends ../../layout.jade

append main
    +divider Flags

    +container-simple
        table.sortable.selectable.striped.hoverable
            thead
                tr
                    th Flag
                    th(data-sort="string") Name
                    th(data-sort="string") ISO 3166-2 Code
                    th(data-sort="string") Aliases
            tbody
                tr
                    td
                        +flag("afghanistan")
                    td Afghanistan
                    td af
                    td
                tr
                    td
                        +flag("aland-islands")
                    td Aland Islands
                    td ax
                    td
                tr
                    td
                        +flag("albania")
                    td Albania
                    td al
                    td
                tr
                    td
                        +flag("algeria")
                    td Algeria
                    td dz
                    td
                tr
                    td
                        +flag("american-samoa")
                    td American Samoa
                    td as
                    td
                tr
                    td
                        +flag("andorra")
                    td Andorra
                    td ad
                    td
                tr
                    td
                        +flag("angola")
                    td Angola
                    td ao
                    td
                tr
                    td
                        +flag("anguilla")
                    td Anguilla
                    td ai
                    td
                tr
                    td
                        +flag("antigua")
                    td Antigua
                    td ag
                    td
                tr
                    td
                        +flag("argentina")
                    td Argentina
                    td ar
                    td
                tr
                    td
                        +flag("armenia")
                    td Armenia
                    td am
                    td
                tr
                    td
                        +flag("aruba")
                    td Aruba
                    td aw
                    td
                tr
                    td
                        +flag("australia")
                    td Australia
                    td au
                    td
                tr
                    td
                        +flag("austria")
                    td Austria
                    td at
                    td
                tr
                    td
                        +flag("azerbaijan")
                    td Azerbaijan
                    td az
                    td
                tr
                    td
                        +flag("bahamas")
                    td Bahamas
                    td bs
                    td
                tr
                    td
                        +flag("bahrain")
                    td Bahrain
                    td bh
                    td
                tr
                    td
                        +flag("bangladesh")
                    td Bangladesh
                    td bd
                    td
                tr
                    td
                        +flag("barbados")
                    td Barbados
                    td bb
                    td
                tr
                    td
                        +flag("belarus")
                    td Belarus
                    td by
                    td
                tr
                    td
                        +flag("belgium")
                    td Belgium
                    td be
                    td
                tr
                    td
                        +flag("belize")
                    td Belize
                    td bz
                    td
                tr
                    td
                        +flag("benin")
                    td Benin
                    td bj
                    td
                tr
                    td
                        +flag("bermuda")
                    td Bermuda
                    td bm
                    td
                tr
                    td
                        +flag("bhutan")
                    td Bhutan
                    td bt
                    td
                tr
                    td
                        +flag("bolivia")
                    td Bolivia
                    td bo
                    td
                tr
                    td
                        +flag("bosnia")
                    td Bosnia
                    td ba
                    td
                tr
                    td
                        +flag("botswana")
                    td Botswana
                    td bw
                    td
                tr
                    td
                        +flag("bouvet-island")
                    td Bouvet Island
                    td bv
                    td
                tr
                    td
                        +flag("brazil")
                    td Brazil
                    td br
                    td
                tr
                    td
                        +flag("british-virgin-islands")
                    td British Virgin Islands
                    td vg
                    td
                tr
                    td
                        +flag("brunei")
                    td Brunei
                    td bn
                    td
                tr
                    td
                        +flag("bulgaria")
                    td Bulgaria
                    td bg
                    td
                tr
                    td
                        +flag("burkina-faso")
                    td Burkina Faso
                    td bf
                    td
                tr
                    td
                        +flag("burma")
                    td Burma
                    td mm
                    td Myanmar
                tr
                    td
                        +flag("burundi")
                    td Burundi
                    td bi
                    td
                tr
                    td
                        +flag("caicos-islands")
                    td Caicos Islands
                    td tc
                    td
                tr
                    td
                        +flag("cambodia")
                    td Cambodia
                    td kh
                    td
                tr
                    td
                        +flag("cameroon")
                    td Cameroon
                    td cm
                    td
                tr
                    td
                        +flag("canada")
                    td Canada
                    td ca
                    td
                tr
                    td
                        +flag("cape-verde")
                    td Cape Verde
                    td cv
                    td
                tr
                    td
                        +flag("cayman-islands")
                    td Cayman Islands
                    td ky
                    td
                tr
                    td
                        +flag("central-african-republic")
                    td Central African Republic
                    td cf
                    td
                tr
                    td
                        +flag("chad")
                    td Chad
                    td td
                    td
                tr
                    td
                        +flag("chile")
                    td Chile
                    td cl
                    td
                tr
                    td
                        +flag("china")
                    td China
                    td cn
                    td
                tr
                    td
                        +flag("christmas-island")
                    td Christmas Island
                    td cx
                    td
                tr
                    td
                        +flag("colombia")
                    td Colombia
                    td co
                    td
                tr
                    td
                        +flag("cocos-islands")
                    td Cocos Islands
                    td cc
                    td
                tr
                    td
                        +flag("comoros")
                    td Comoros
                    td km
                    td
                tr
                    td
                        +flag("congo-brazzaville")
                    td Congo Brazzaville
                    td cg
                    td
                tr
                    td
                        +flag("congo")
                    td Congo
                    td cd
                    td
                tr
                    td
                        +flag("cook-islands")
                    td Cook Islands
                    td ck
                    td
                tr
                    td
                        +flag("costa-rica")
                    td Costa Rica
                    td cr
                    td
                tr
                    td
                        +flag("cote-divoire")
                    td Cote Divoire
                    td ci
                    td
                tr
                    td
                        +flag("croatia")
                    td Croatia
                    td hr
                    td
                tr
                    td
                        +flag("cuba")
                    td Cuba
                    td cu
                    td
                tr
                    td
                        +flag("cyprus")
                    td Cyprus
                    td cy
                    td
                tr
                    td
                        +flag("czech-republic")
                    td Czech Republic
                    td cz
                    td
                tr
                    td
                        +flag("denmark")
                    td Denmark
                    td dk
                    td
                tr
                    td
                        +flag("djibouti")
                    td Djibouti
                    td dj
                    td
                tr
                    td
                        +flag("dominica")
                    td Dominica
                    td dm
                    td
                tr
                    td
                        +flag("dominican-republic")
                    td Dominican Republic
                    td do
                    td
                tr
                    td
                        +flag("ecuador")
                    td Ecuador
                    td ec
                    td
                tr
                    td
                        +flag("egypt")
                    td Egypt
                    td eg
                    td
                tr
                    td
                        +flag("el-salvador")
                    td El Salvador
                    td sv
                    td
                tr
                    td
                        +flag("england")
                    td England
                    td gb
                    td uk, United Kingdom
                tr
                    td
                        +flag("equatorial-guinea")
                    td Equatorial Guinea
                    td gq
                    td
                tr
                    td
                        +flag("eritrea")
                    td Eritrea
                    td er
                    td
                tr
                    td
                        +flag("estonia")
                    td Estonia
                    td ee
                    td
                tr
                    td
                        +flag("ethiopia")
                    td Ethiopia
                    td et
                    td
                tr
                    td
                        +flag("european-union")
                    td European Union
                    td eu
                    td
                tr
                    td
                        +flag("falkland-islands")
                    td Falkland Islands
                    td fk
                    td
                tr
                    td
                        +flag("faroe-islands")
                    td Faroe Islands
                    td fo
                    td
                tr
                    td
                        +flag("fiji")
                    td Fiji
                    td fj
                    td
                tr
                    td
                        +flag("finland")
                    td Finland
                    td fi
                    td
                tr
                    td
                        +flag("france")
                    td France
                    td fr
                    td
                tr
                    td
                        +flag("french-guiana")
                    td French Guiana
                    td gf
                    td
                tr
                    td
                        +flag("french-polynesia")
                    td French Polynesia
                    td pf
                    td
                tr
                    td
                        +flag("french-territories")
                    td French Territories
                    td tf
                    td
                tr
                    td
                        +flag("gabon")
                    td Gabon
                    td ga
                    td
                tr
                    td
                        +flag("gambia")
                    td Gambia
                    td gm
                    td
                tr
                    td
                        +flag("georgia")
                    td Georgia
                    td ge
                    td
                tr
                    td
                        +flag("germany")
                    td Germany
                    td de
                    td
                tr
                    td
                        +flag("ghana")
                    td Ghana
                    td gh
                    td
                tr
                    td
                        +flag("gibraltar")
                    td Gibraltar
                    td gi
                    td
                tr
                    td
                        +flag("greece")
                    td Greece
                    td gr
                    td
                tr
                    td
                        +flag("greenland")
                    td Greenland
                    td gl
                    td
                tr
                    td
                        +flag("grenada")
                    td Grenada
                    td gd
                    td
                tr
                    td
                        +flag("guadeloupe")
                    td Guadeloupe
                    td gp
                    td
                tr
                    td
                        +flag("guam")
                    td Guam
                    td gu
                    td
                tr
                    td
                        +flag("guatemala")
                    td Guatemala
                    td gt
                    td
                tr
                    td
                        +flag("guinea-bissau")
                    td Guinea Bissau
                    td gw
                    td
                tr
                    td
                        +flag("guinea")
                    td Guinea
                    td gn
                    td
                tr
                    td
                        +flag("guyana")
                    td Guyana
                    td gy
                    td
                tr
                    td
                        +flag("haiti")
                    td Haiti
                    td ht
                    td
                tr
                    td
                        +flag("heard-island")
                    td Heard Island
                    td hm
                    td
                tr
                    td
                        +flag("honduras")
                    td Honduras
                    td hn
                    td
                tr
                    td
                        +flag("hong-kong")
                    td Hong Kong
                    td hk
                    td
                tr
                    td
                        +flag("hungary")
                    td Hungary
                    td hu
                    td
                tr
                    td
                        +flag("iceland")
                    td Iceland
                    td is
                    td
                tr
                    td
                        +flag("india")
                    td India
                    td in
                    td
                tr
                    td
                        +flag("indian-ocean-territory")
                    td Indian Ocean Territory
                    td io
                    td
                tr
                    td
                        +flag("indonesia")
                    td Indonesia
                    td id
                    td
                tr
                    td
                        +flag("iran")
                    td Iran
                    td ir
                    td
                tr
                    td
                        +flag("iraq")
                    td Iraq
                    td iq
                    td
                tr
                    td
                        +flag("ireland")
                    td Ireland
                    td ie
                    td
                tr
                    td
                        +flag("israel")
                    td Israel
                    td il
                    td
                tr
                    td
                        +flag("italy")
                    td Italy
                    td it
                    td
                tr
                    td
                        +flag("jamaica")
                    td Jamaica
                    td jm
                    td
                tr
                    td
                        +flag("jan-mayen")
                    td Jan Mayen
                    td sj
                    td Svalbard
                tr
                    td
                        +flag("japan")
                    td Japan
                    td jp
                    td
                tr
                    td
                        +flag("jordan")
                    td Jordan
                    td jo
                    td
                tr
                    td
                        +flag("kazakhstan")
                    td Kazakhstan
                    td kz
                    td
                tr
                    td
                        +flag("kenya")
                    td Kenya
                    td ke
                    td
                tr
                    td
                        +flag("kiribati")
                    td Kiribati
                    td ki
                    td
                tr
                    td
                        +flag("kuwait")
                    td Kuwait
                    td kw
                    td
                tr
                    td
                        +flag("kyrgyzstan")
                    td Kyrgyzstan
                    td kg
                    td
                tr
                    td
                        +flag("laos")
                    td Laos
                    td la
                    td
                tr
                    td
                        +flag("latvia")
                    td Latvia
                    td lv
                    td
                tr
                    td
                        +flag("lebanon")
                    td Lebanon
                    td lb
                    td
                tr
                    td
                        +flag("lesotho")
                    td Lesotho
                    td ls
                    td
                tr
                    td
                        +flag("liberia")
                    td Liberia
                    td lr
                    td
                tr
                    td
                        +flag("libya")
                    td Libya
                    td ly
                    td
                tr
                    td
                        +flag("liechtenstein")
                    td Liechtenstein
                    td li
                    td
                tr
                    td
                        +flag("lithuania")
                    td Lithuania
                    td lt
                    td
                tr
                    td
                        +flag("luxembourg")
                    td Luxembourg
                    td lu
                    td
                tr
                    td
                        +flag("macau")
                    td Macau
                    td mo
                    td
                tr
                    td
                        +flag("macedonia")
                    td Macedonia
                    td mk
                    td
                tr
                    td
                        +flag("madagascar")
                    td Madagascar
                    td mg
                    td
                tr
                    td
                        +flag("malawi")
                    td Malawi
                    td mw
                    td
                tr
                    td
                        +flag("malaysia")
                    td Malaysia
                    td my
                    td
                tr
                    td
                        +flag("maldives")
                    td Maldives
                    td mv
                    td
                tr
                    td
                        +flag("mali")
                    td Mali
                    td ml
                    td
                tr
                    td
                        +flag("malta")
                    td Malta
                    td mt
                    td
                tr
                    td
                        +flag("marshall-islands")
                    td Marshall Islands
                    td mh
                    td
                tr
                    td
                        +flag("martinique")
                    td Martinique
                    td mq
                    td
                tr
                    td
                        +flag("mauritania")
                    td Mauritania
                    td mr
                    td
                tr
                    td
                        +flag("mauritius")
                    td Mauritius
                    td mu
                    td
                tr
                    td
                        +flag("mayotte")
                    td Mayotte
                    td yt
                    td
                tr
                    td
                        +flag("mexico")
                    td Mexico
                    td mx
                    td
                tr
                    td
                        +flag("micronesia")
                    td Micronesia
                    td fm
                    td
                tr
                    td
                        +flag("moldova")
                    td Moldova
                    td md
                    td
                tr
                    td
                        +flag("monaco")
                    td Monaco
                    td mc
                    td
                tr
                    td
                        +flag("mongolia")
                    td Mongolia
                    td mn
                    td
                tr
                    td
                        +flag("montenegro")
                    td Montenegro
                    td me
                    td
                tr
                    td
                        +flag("montserrat")
                    td Montserrat
                    td ms
                    td
                tr
                    td
                        +flag("morocco")
                    td Morocco
                    td ma
                    td
                tr
                    td
                        +flag("mozambique")
                    td Mozambique
                    td mz
                    td
                tr
                    td
                        +flag("namibia")
                    td Namibia
                    td na
                    td
                tr
                    td
                        +flag("nauru")
                    td Nauru
                    td nr
                    td
                tr
                    td
                        +flag("nepal")
                    td Nepal
                    td np
                    td
                tr
                    td
                        +flag("netherlands-antilles")
                    td Netherlands Antilles
                    td an
                    td
                tr
                    td
                        +flag("netherlands")
                    td Netherlands
                    td nl
                    td
                tr
                    td
                        +flag("new-caledonia")
                    td New Caledonia
                    td nc
                    td
                tr
                    td
                        +flag("new-guinea")
                    td New Guinea
                    td pg
                    td
                tr
                    td
                        +flag("new-zealand")
                    td New Zealand
                    td nz
                    td
                tr
                    td
                        +flag("nicaragua")
                    td Nicaragua
                    td ni
                    td
                tr
                    td
                        +flag("niger")
                    td Niger
                    td ne
                    td
                tr
                    td
                        +flag("nigeria")
                    td Nigeria
                    td ng
                    td
                tr
                    td
                        +flag("niue")
                    td Niue
                    td nu
                    td
                tr
                    td
                        +flag("norfolk-island")
                    td Norfolk Island
                    td nf
                    td
                tr
                    td
                        +flag("north-korea")
                    td North Korea
                    td kp
                    td
                tr
                    td
                        +flag("northern-mariana-islands")
                    td Northern Mariana Islands
                    td mp
                    td
                tr
                    td
                        +flag("norway")
                    td Norway
                    td no
                    td
                tr
                    td
                        +flag("oman")
                    td Oman
                    td om
                    td
                tr
                    td
                        +flag("pakistan")
                    td Pakistan
                    td pk
                    td
                tr
                    td
                        +flag("palau")
                    td Palau
                    td pw
                    td
                tr
                    td
                        +flag("palestine")
                    td Palestine
                    td ps
                    td
                tr
                    td
                        +flag("panama")
                    td Panama
                    td pa
                    td
                tr
                    td
                        +flag("paraguay")
                    td Paraguay
                    td py
                    td
                tr
                    td
                        +flag("peru")
                    td Peru
                    td pe
                    td
                tr
                    td
                        +flag("philippines")
                    td Philippines
                    td ph
                    td
                tr
                    td
                        +flag("pitcairn-islands")
                    td Pitcairn Islands
                    td pn
                    td
                tr
                    td
                        +flag("poland")
                    td Poland
                    td pl
                    td
                tr
                    td
                        +flag("portugal")
                    td Portugal
                    td pt
                    td
                tr
                    td
                        +flag("puerto-rico")
                    td Puerto Rico
                    td pr
                    td
                tr
                    td
                        +flag("qatar")
                    td Qatar
                    td qa
                    td
                tr
                    td
                        +flag("reunion")
                    td Reunion
                    td re
                    td
                tr
                    td
                        +flag("romania")
                    td Romania
                    td ro
                    td
                tr
                    td
                        +flag("russia")
                    td Russia
                    td ru
                    td
                tr
                    td
                        +flag("rwanda")
                    td Rwanda
                    td rw
                    td
                tr
                    td
                        +flag("saint-helena")
                    td Saint Helena
                    td sh
                    td
                tr
                    td
                        +flag("saint-kitts-and-nevis")
                    td Saint Kitts And Nevis
                    td kn
                    td
                tr
                    td
                        +flag("saint-lucia")
                    td Saint Lucia
                    td lc
                    td
                tr
                    td
                        +flag("saint-pierre")
                    td Saint Pierre
                    td pm
                    td
                tr
                    td
                        +flag("saint-vincent")
                    td Saint Vincent
                    td vc
                    td
                tr
                    td
                        +flag("samoa")
                    td Samoa
                    td ws
                    td
                tr
                    td
                        +flag("san-marino")
                    td San Marino
                    td sm
                    td
                tr
                    td
                        +flag("sandwich-islands")
                    td Sandwich Islands
                    td gs
                    td
                tr
                    td
                        +flag("sao-tome")
                    td Sao Tome
                    td st
                    td
                tr
                    td
                        +flag("saudi-arabia")
                    td Saudi Arabia
                    td sa
                    td
                tr
                    td
                        +flag("senegal")
                    td Senegal
                    td sn
                    td
                tr
                    td
                        +flag("serbia")
                    td Serbia
                    td cs
                    td
                tr
                    td
                        +flag("serbia")
                    td Serbia
                    td rs
                    td
                tr
                    td
                        +flag("seychelles")
                    td Seychelles
                    td sc
                    td
                tr
                    td
                        +flag("sierra-leone")
                    td Sierra Leone
                    td sl
                    td
                tr
                    td
                        +flag("singapore")
                    td Singapore
                    td sg
                    td
                tr
                    td
                        +flag("slovakia")
                    td Slovakia
                    td sk
                    td
                tr
                    td
                        +flag("slovenia")
                    td Slovenia
                    td si
                    td
                tr
                    td
                        +flag("solomon-islands")
                    td Solomon Islands
                    td sb
                    td
                tr
                    td
                        +flag("somalia")
                    td Somalia
                    td so
                    td
                tr
                    td
                        +flag("south-africa")
                    td South Africa
                    td za
                    td
                tr
                    td
                        +flag("south-korea")
                    td South Korea
                    td kr
                    td
                tr
                    td
                        +flag("spain")
                    td Spain
                    td es
                    td
                tr
                    td
                        +flag("sri-lanka")
                    td Sri Lanka
                    td lk
                    td
                tr
                    td
                        +flag("sudan")
                    td Sudan
                    td sd
                    td
                tr
                    td
                        +flag("suriname")
                    td Suriname
                    td sr
                    td
                tr
                    td
                        +flag("swaziland")
                    td Swaziland
                    td sz
                    td
                tr
                    td
                        +flag("sweden")
                    td Sweden
                    td se
                    td
                tr
                    td
                        +flag("switzerland")
                    td Switzerland
                    td ch
                    td
                tr
                    td
                        +flag("syria")
                    td Syria
                    td sy
                    td
                tr
                    td
                        +flag("taiwan")
                    td Taiwan
                    td tw
                    td
                tr
                    td
                        +flag("tajikistan")
                    td Tajikistan
                    td tj
                    td
                tr
                    td
                        +flag("tanzania")
                    td Tanzania
                    td tz
                    td
                tr
                    td
                        +flag("thailand")
                    td Thailand
                    td th
                    td
                tr
                    td
                        +flag("timorleste")
                    td Timorleste
                    td tl
                    td
                tr
                    td
                        +flag("togo")
                    td Togo
                    td tg
                    td
                tr
                    td
                        +flag("tokelau")
                    td Tokelau
                    td tk
                    td
                tr
                    td
                        +flag("tonga")
                    td Tonga
                    td to
                    td
                tr
                    td
                        +flag("trinidad")
                    td Trinidad
                    td tt
                    td
                tr
                    td
                        +flag("tunisia")
                    td Tunisia
                    td tn
                    td
                tr
                    td
                        +flag("turkey")
                    td Turkey
                    td tr
                    td
                tr
                    td
                        +flag("turkmenistan")
                    td Turkmenistan
                    td tm
                    td
                tr
                    td
                        +flag("tuvalu")
                    td Tuvalu
                    td tv
                    td
                tr
                    td
                        +flag("uganda")
                    td Uganda
                    td ug
                    td
                tr
                    td
                        +flag("ukraine")
                    td Ukraine
                    td ua
                    td
                tr
                    td
                        +flag("united-arab-emirates")
                    td United Arab Emirates
                    td ae
                    td
                tr
                    td
                        +flag("united-states")
                    td United States
                    td us
                    td usa, America
                tr
                    td
                        +flag("uruguay")
                    td Uruguay
                    td uy
                    td
                tr
                    td
                        +flag("us-minor-islands")
                    td Us Minor Islands
                    td um
                    td
                tr
                    td
                        +flag("us-virgin-islands")
                    td Us Virgin Islands
                    td vi
                    td
                tr
                    td
                        +flag("uzbekistan")
                    td Uzbekistan
                    td uz
                    td
                tr
                    td
                        +flag("vanuatu")
                    td Vanuatu
                    td vu
                    td
                tr
                    td
                        +flag("vatican-city")
                    td Vatican City
                    td va
                    td
                tr
                    td
                        +flag("venezuela")
                    td Venezuela
                    td ve
                    td
                tr
                    td
                        +flag("vietnam")
                    td Vietnam
                    td vn
                    td
                tr
                    td
                        +flag("wallis-and-futuna")
                    td Wallis And Futuna
                    td wf
                    td
                tr
                    td
                        +flag("western-sahara")
                    td Western Sahara
                    td eh
                    td
                tr
                    td
                        +flag("yemen")
                    td Yemen
                    td ye
                    td
                tr
                    td
                        +flag("zambia")
                    td Zambia
                    td zm
                    td
                tr
                    td
                        +flag("zimbabwe")
                    td Zimbabwe
                    td zw
                    td
