//- css/grid.jade

extends ../../layout.jade

append navbar
    #sidebar_toggler.navbar_btn.actionable.right
        .icon.icon-navigation-more-vert

append content
    +divider Limited

    +row.limited
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
        +column.xs-1
            +container 1
    +row.limited
        +column.xs-3
            +container 3
        +column.xs-6
            +container 6
        +column.xs-3
            +container 3
    +row.limited
        +column.xs-3
            +container 3
        +column.xs-9
            +container 9

    +divider Different widths - Offset

    +row
        +column.xs-1
            +container 1
        +column.xs-4
            +container 4
        +column.xs-3.offset-xs-2
            +container 3 offset 2
        +column.xs-2
            +container 2

    +divider Responsive

    +row
        +column.xs-12.sm-6.md-4.lg-2
            +container xs-12 sm-6 md-4 lg-2
        +column.xs-12.sm-6.md-4.lg-2
            +container xs-12 sm-6 md-4 lg-2
        +column.xs-12.sm-6.md-4.lg-2
            +container xs-12 sm-6 md-4 lg-2
        +column.xs-12.sm-6.md-4.lg-2
            +container xs-12 sm-6 md-4 lg-2
        +column.xs-12.sm-6.md-4.lg-2
            +container xs-12 sm-6 md-4 lg-2
        +column.xs-12.sm-6.md-4.lg-2
            +container xs-12 sm-6 md-4 lg-2

    +divider Responsive 2

    +row
        +column.xs-0.sm-3
            +container xs-0 sm-3
        +column.xs-12.sm-9.md-6.lg-3
            +container xs-12 sm-9 md-6 lg-3
        +column.xs-0.lg-3
            +container xs-0 lg-3
        +column.xs-0.md-3
            +container xs-0 md-3

    +divider Complex 1

    +row
        +column.xs-12
            +multiple.stretched
                +multiple.vertical.fluid.w35-100
                    +container 1
                    +container 2
                    +container 3
                +container.w65-100 1

    +divider Complex 2

    +row
        +column.xs-12
            +multiple.stretched
                +multiple.vertical.fluid.w65-100
                    +container 1
                    +multiple.fluid.joined
                        +container 0.5
                        +container 0.5
                    +container 1
                +container.w35-100 1

    +divider Complex 3

    +row
        +column.xs-12
            +multiple.stretched
                +multiple.vertical.fluid.w80-100
                    +container 3
                    +multiple.fluid.stretched
                        +container 1.5
                        +multiple.vertical.fluid
                            +container 0.5
                            +multiple.fluid.joined
                                +container 0.25
                                +container 0.25
                            +container 0.5
                    +container 3
                +container.w20-100 1

    +divider Full size

    +row.full-size
        +column.s12
            +container Full size

    +divider Full size - Limited

    +row.full-size.limited
        +column.w65-100
            +container Main
        +column.w35-100
            +container Sidebar

    +divider Full size - Limited - Joined

    +row.full-size.limited
        +column
            +multiple.joined
                +container.w65-100 Main
                +container.w35-100 Sidebar

$layout-xsmall-max-breakpoint: 481px;

$layout-small-min-breakpoint: 482px;
$layout-small-max-breakpoint: 767px;

$layout-medium-min-breakpoint: 768px;
$layout-medium-max-breakpoint: 961px;

$layout-large-min-breakpoint: 962px;

append body
    +noty({ body: '<p>[X-SMALL] 0-481 <br/> [SMALL] 482-767 <br/> [MEDIUM] 768-961 <br/> [LARGE] >= 962</p>', ttl: 'forever' })
