//- css/grid.jade

//- TODO: Add things for taking XLARGE into account

extends ../../layout.jade

append main
    +divider Limited

    +row.limited
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
        +column.xs-1
            +simple-container 1
    +row.limited
        +column.xs-3
            +simple-container 3
        +column.xs-6
            +simple-container 6
        +column.xs-3
            +simple-container 3
    +row.limited
        +column.xs-3
            +simple-container 3
        +column.xs-9
            +simple-container 9

    +divider Different widths - Offset

    +row
        +column.xs-1
            +simple-container 1
        +column.xs-4
            +simple-container 4
        +column.xs-3.offset-xs-2
            +simple-container 3 offset 2
        +column.xs-2
            +simple-container 2

    +divider Responsive

    +row
        +column.xs-12.sm-6.md-4.lg-2
            +simple-container xs-12 sm-6 md-4 lg-2
        +column.xs-12.sm-6.md-4.lg-2
            +simple-container xs-12 sm-6 md-4 lg-2
        +column.xs-12.sm-6.md-4.lg-2
            +simple-container xs-12 sm-6 md-4 lg-2
        +column.xs-12.sm-6.md-4.lg-2
            +simple-container xs-12 sm-6 md-4 lg-2
        +column.xs-12.sm-6.md-4.lg-2
            +simple-container xs-12 sm-6 md-4 lg-2
        +column.xs-12.sm-6.md-4.lg-2
            +simple-container xs-12 sm-6 md-4 lg-2

    +divider Responsive 2

    +row
        +column.xs-0.sm-3
            +simple-container xs-0 sm-3
        +column.xs-12.sm-9.md-6.lg-3
            +simple-container xs-12 sm-9 md-6 lg-3
        +column.xs-0.lg-3
            +simple-container xs-0 lg-3
        +column.xs-0.md-3
            +simple-container xs-0 md-3

    +divider Complex 1

    +row
        +column.xs-12
            +multiple.stretched
                +multiple.vertical.fluid.w35-100
                    +simple-container 1
                    +simple-container 2
                    +simple-container 3
                +simple-container.w65-100 1

    +divider Complex 2

    +row
        +column.xs-12
            +multiple.stretched
                +multiple.vertical.fluid.w65-100
                    +simple-container 1
                    +multiple.fluid.joined
                        +simple-container 0.5
                        +simple-container 0.5
                    +simple-container 1
                +simple-container.w35-100 1

    +divider Complex 3

    +row
        +column.xs-12
            +multiple.stretched
                +multiple.vertical.fluid.w80-100
                    +simple-container 3
                    +multiple.fluid.stretched
                        +simple-container 1.5
                        +multiple.vertical.fluid
                            +simple-container 0.5
                            +multiple.fluid.joined
                                +simple-container 0.25
                                +simple-container 0.25
                            +simple-container 0.5
                    +simple-container 3
                +simple-container.w20-100 1

    +divider Full size

    +row.full-size
        +column.s12
            +simple-container Full size

    +divider Full size - Limited

    +row.full-size.limited
        +column.w65-100
            +simple-container Main
        +column.w35-100
            +simple-container Sidebar

    +divider Full size - Limited - Joined

    +row.full-size.limited
        +column
            +multiple.joined
                +simple-container.w65-100 Main
                +simple-container.w35-100 Sidebar

append body-end
    +noty({ body: '<p>[X-SMALL] 0-481 <br/> [SMALL] 482-767 <br/> [MEDIUM] 768-961 <br/> [LARGE] >= 962</p>', ttl: 'forever' })
