//- css/grid.jade

//- TODO: Add things for taking XLARGE into account

extends ../../layout.jade

append main
    +divider Limited

    +multiple.limited
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
    +multiple.limited
        +container-simple.xs-3 3
        +container-simple.xs-6 6
        +container-simple.xs-3 3
    +multiple.limited
        +container-simple.xs-3 3
        +container-simple.xs-9 9

    +divider Different widths - Offset

    +multiple
        +container-simple.xs-1 1
        +container-simple.xs-4 4
        +container-simple.xs-3.offset-xs-2 3 offset 2
        +container-simple.xs-2 2

    +divider Responsive

    +multiple
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2

    +divider Responsive 2

    +multiple
        +container-simple.xs-0.sm-3 xs-0 sm-3
        +container-simple.xs-12.sm-9.md-6.lg-3 xs-12 sm-9 md-6 lg-3
        +container-simple.xs-0.lg-3 xs-0 lg-3
        +container-simple.xs-0.md-3 xs-0 md-3

    +divider Complex 1

    +multiple.stretched
        +multiple.vertical.fluid.w35-100
            +container-simple 1
            +container-simple 2
            +container-simple 3
        +container-simple.w65-100 1

    +divider Complex 2

    +multiple.stretched
        +multiple.vertical.fluid.w65-100
            +container-simple 1
            +multiple.fluid.joined
                +container-simple 0.5
                +container-simple 0.5
            +container-simple 1
        +container-simple.w35-100 1

    +divider Complex 3

    +multiple.stretched
        +multiple.vertical.fluid.w80-100
            +container-simple 3
            +multiple.fluid.stretched
                +container-simple 1.5
                +multiple.vertical.fluid
                    +container-simple 0.5
                    +multiple.fluid.joined
                        +container-simple 0.25
                        +container-simple 0.25
                    +container-simple 0.5
            +container-simple 3
        +container-simple.w20-100 1

append body-end
    +noty({ body: '<p>[X-SMALL] <= 481 <br/> [SMALL] 482-767 <br/> [MEDIUM] 768-961 <br/> [LARGE] 962-1399 <br/> [X-LARGE] >= 1400</p>', ttl: 'forever' })
