//- css/grid.jade

extends ../../layout.jade

append navbar
    #sidebar_toggler.navbar_btn.actionable.right
        .icon.icon-navigation-more-vert

append content
    +divider Limited

    +grid.limited
        +grid-row
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
            +grid-column.s1
                +container 1
        +grid-row
            +grid-column.s3
                +container 3
            +grid-column.s6
                +container 6
            +grid-column.s3
                +container 3
        +grid-row
            +grid-column.s3
                +container 3
            +grid-column.s9
                +container 9

    +divider Different widths - Offset

    +grid
        +grid-row
            +grid-column.s1
                +container 1
            +grid-column.s4
                +container 4
            +grid-column.s3.offset-s2
                +container 3 offset 2
            +grid-column.s2
                +container 2

    +divider Responsive

    +grid
        +grid-row
            +grid-column.s12
                +container 12
            +grid-column.s12.m6.l3
                +container s12 m6 l3
            +grid-column.s12.m6.l3
                +container s12 m6 l3
            +grid-column.s6.l3
                +container s6 l3
            +grid-column.s6.l3
                +container s6 l3

    +divider Responsive 2

    +grid
        +grid-row
            +grid-column.s3
                +container 3
            +grid-column.s9.m6.l3
                +container s9 m6 l3
            +grid-column.s0.l3
                +container s0 l3
            +grid-column.s0.m3
                +container s0 m3

    +divider Joined

    .grid
        .grid_cols.joined
            .grid_col.w25-100
                .container 25
            .grid_col.w50-100
                .container 50
            .grid_col.w25-100
                .container 25

    +divider Complex 1

    .grid
        .grid_cols
            .grid_col.w35-100
                .grid_cols.vertical
                    .grid_col
                        .container 3
                    .grid_col
                        .container 3
                    .grid_col
                        .container 3
            .grid_col.w65-100
                .container 1

    +divider Complex 2

    .grid
        .grid_cols
            .grid_col.w65-100
                .grid_cols.vertical
                    .grid_col
                        .container 3
                    .grid_cols.fluid.joined
                        .grid_col
                            .container 1.5
                        .grid_col
                            .container 1.5
                    .grid_col
                        .container 3
            .grid_col.w35-100
                .container 1

    +divider Complex 3

    .grid
        .grid_cols
            .grid_col.w80-100
                .grid_cols.vertical
                    .grid_col
                        .container 3
                    .grid_col
                        .grid_cols.fluid
                            .grid_col
                                .container 1.5
                            .grid_col
                                .grid_cols.vertical
                                    .grid_col
                                        .container 0.5
                                    .grid_col
                                        .container 0.5
                                    .grid_col
                                        .container 0.5
                    .grid_col
                        .container 3
            .grid_col.w20-100
                .container 1

    +divider Full size

    +grid.full-size
        +grid-row
            +grid-column.s12
                +container Full size

    +divider Full size - Sidebar - Limited

    .grid
        .grid_cols.full-size.joined.has_sidebar.limited
            .grid_col.w65-100
                .container Main
            .grid_col.w35-100
                .container Sidebar
