//- css/grid.jade

extends ../../layout.jade

append main
    +divider Normal

    +multiple
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
    +multiple
        +container-simple.xs-3 3
        +container-simple.xs-6 6
        +container-simple.xs-3 3
    +multiple
        +container-simple.xs-3 3
        +container-simple.xs-9 9
    +multiple
        +container-simple.xs-1 1
        +container-simple.xs-4 4
        +container-simple.xs-5 5
        +container-simple.xs-2 2

    +divider Limited

    +multiple.limited
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1
        +container-simple.xs-1 1

    +divider Arbitrary number (17)

    +multiple.fluid.equal
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1
        +container-simple 1

    +divider Responsive

    +multiple
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
        +container-simple.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2

    +divider Responsive 2

    +multiple
        +container-simple.hidden-xs.visible-sm-block.sm-3 hidden-xs visible-sm-block sm-3
        +container-simple.xs-12.sm-9.md-6.lg-3.hidden-xl xs-12 sm-9 md-6 lg-3 hidden-xl
        +container-simple.hidden-xs.visible-lg-block.lg-3.xl-6 hidden-xs visible-lg-block lg-3 xl-6
        +container-simple.hidden-xs.visible-md-block.md-3 hidden-xs visible-md-block md-3

    +divider Complex 1

    +multiple.stretched
        +multiple.vertical.fluid.xs-4
            +container-simple 1
            +container-simple 2
            +container-simple 3
        +container-simple.xs-8

    +divider Complex 2

    +multiple.stretched
        +multiple.vertical.fluid.xs-8
            +container-simple 1
            +multiple.fluid.joined
                +container-simple 0.5
                +container-simple 0.5
            +container-simple 1
        +container-simple.xs-4 1

    +divider Complex 3

    +multiple.stretched
        +multiple.vertical.fluid.xs-9
            +container-simple 3
            +multiple.fluid.stretched
                +container-simple 1.5
                +multiple.vertical.fluid
                    +container-simple 0.5
                    +multiple.fluid.joined
                        +container-simple 0.25
                        +container-simple 0.25
                    +container-simple 0.5
            +container-simple 3
        +container-simple.xs-3 1

    +divider Complex 4

    +multiple.stretched
        +multiple.vertical.fluid.xs-9
            +multiple.fluid
                +container-simple.xs-8 1
                +container-simple.xs-4 1
            +multiple.fluid.stretched
                +container-simple 1.5
                +multiple.vertical.fluid
                    +container-simple 0.5
                    +multiple.fluid.joined
                        +container-simple 0.25
                        +container-simple 0.25
                    +container-simple 0.5
            +multiple.fluid
                +container-simple.xs-3 1
                +container-simple.xs-6 1
                +container-simple.xs-3 1
        +multiple.vertical.fluid.joined.xs-3
            +container-simple 1
            +container-simple 1

append body-end
    +noty({ body: '<p>[X-SMALL] <= 481 <br/> [SMALL] 482-767 <br/> [MEDIUM] 768-961 <br/> [LARGE] 962-1399 <br/> [X-LARGE] >= 1400</p>', ttl: 'forever' })
