//- helpers_responsive.jade

extends ../../layout.jade

append content
    +divider Visible on...

    +row
        +column.xs-3
            +container.hidden-xs.visible-sm-block X-Small
            +container.green.hidden-sm X-Small
        +column.xs-3
            +container.hidden-sm.visible-md-block Small
            +container.green.hidden-xs.visible-sm-block.hidden-md Small
        +column.xs-3
            +container.hidden-md.visible-lg-block Medium
            +container.green.hidden-xs.visible-md-block.hidden-lg Medium
        +column.xs-3
            +container.hidden-lg Large
            +container.green.hidden-xs.visible-lg-block Large

    +divider Visible on...

    +row
        +column.xs-6
            +container.hidden-xs.visible-md-block X-Small and small
            +container.green.hidden-md X-Small and small
        +column.xs-6
            +container.hidden-md Medium and large
            +container.green.hidden-xs.visible-md-block Medium and large
        +column.xs-6
            +container.hidden-xs.visible-sm-block.hidden-md.visible-lg-block X-Small and medium
            +container.green.hidden-sm.visible-md-block.hidden-lg X-Small and medium
        +column.xs-6
            +container.hidden-sm.visible-md-block.hidden-lg Small and large
            +container.green.hidden-xs.visible-sm-block.hidden-md.visible-lg-block Small and large
        +column.xs-6
            +container.hidden-xs.visible-sm-block.hidden-lg X-Small and large
            +container.green.hidden-sm.visible-lg-block X-Small and large
        +column.xs-6
            +container.hidden-sm.visible-lg-block Small and medium
            +container.green.hidden-xs.visible-sm-block.hidden-lg Small and medium
