//- css/icons.jade

extends ../../layout.jade

append content
    +divider Action

    +multiple
        +button(title="action-3d-rotation").compact.outlined
            +icon("action-3d-rotation")
        +button(title="action-accessibility").compact.outlined
            +icon("action-accessibility")
        +button(title="action-account-balance").compact.outlined
            +icon("action-account-balance")
        +button(title="action-account-balance-wallet").compact.outlined
            +icon("action-account-balance-wallet")
        +button(title="action-account-box").compact.outlined
            +icon("action-account-box")
        +button(title="action-account-child").compact.outlined
            +icon("action-account-child")
        +button(title="action-account-circle").compact.outlined
            +icon("action-account-circle")
        +button(title="action-add-shopping-cart").compact.outlined
            +icon("action-add-shopping-cart")
        +button(title="action-alarm").compact.outlined
            +icon("action-alarm")
        +button(title="action-alarm-add").compact.outlined
            +icon("action-alarm-add")
        +button(title="action-alarm-off").compact.outlined
            +icon("action-alarm-off")
        +button(title="action-alarm-on").compact.outlined
            +icon("action-alarm-on")
        +button(title="action-android").compact.outlined
            +icon("action-android")
        +button(title="action-announcement").compact.outlined
            +icon("action-announcement")
        +button(title="action-aspect-ratio").compact.outlined
            +icon("action-aspect-ratio")
        +button(title="action-assessment").compact.outlined
            +icon("action-assessment")
        +button(title="action-assignment").compact.outlined
            +icon("action-assignment")
        +button(title="action-assignment-ind").compact.outlined
            +icon("action-assignment-ind")
        +button(title="action-assignment-late").compact.outlined
            +icon("action-assignment-late")
        +button(title="action-assignment-return").compact.outlined
            +icon("action-assignment-return")
        +button(title="action-assignment-returned").compact.outlined
            +icon("action-assignment-returned")
        +button(title="action-assignment-turned-in").compact.outlined
            +icon("action-assignment-turned-in")
        +button(title="action-autorenew").compact.outlined
            +icon("action-autorenew")
        +button(title="action-backup").compact.outlined
            +icon("action-backup")
        +button(title="action-book").compact.outlined
            +icon("action-book")
        +button(title="action-bookmark").compact.outlined
            +icon("action-bookmark")
        +button(title="action-bookmark-outline").compact.outlined
            +icon("action-bookmark-outline")
        +button(title="action-bug-report").compact.outlined
            +icon("action-bug-report")
        +button(title="action-cached").compact.outlined
            +icon("action-cached")
        +button(title="action-class").compact.outlined
            +icon("action-class")
        +button(title="action-credit-card").compact.outlined
            +icon("action-credit-card")
        +button(title="action-dashboard").compact.outlined
            +icon("action-dashboard")
        +button(title="action-delete").compact.outlined
            +icon("action-delete")
        +button(title="action-description").compact.outlined
            +icon("action-description")
        +button(title="action-dns").compact.outlined
            +icon("action-dns")
        +button(title="action-done").compact.outlined
            +icon("action-done")
        +button(title="action-done-all").compact.outlined
            +icon("action-done-all")
        +button(title="action-event").compact.outlined
            +icon("action-event")
        +button(title="action-exit-to-app").compact.outlined
            +icon("action-exit-to-app")
        +button(title="action-explore").compact.outlined
            +icon("action-explore")
        +button(title="action-extension").compact.outlined
            +icon("action-extension")
        +button(title="action-face-unlock").compact.outlined
            +icon("action-face-unlock")
        +button(title="action-favorite").compact.outlined
            +icon("action-favorite")
        +button(title="action-favorite-outline").compact.outlined
            +icon("action-favorite-outline")
        +button(title="action-find-in-page").compact.outlined
            +icon("action-find-in-page")
        +button(title="action-find-replace").compact.outlined
            +icon("action-find-replace")
        +button(title="action-flip-to-back").compact.outlined
            +icon("action-flip-to-back")
        +button(title="action-flip-to-front").compact.outlined
            +icon("action-flip-to-front")
        +button(title="action-get-app").compact.outlined
            +icon("action-get-app")
        +button(title="action-grade").compact.outlined
            +icon("action-grade")
        +button(title="action-group-work").compact.outlined
            +icon("action-group-work")
        +button(title="action-help").compact.outlined
            +icon("action-help")
        +button(title="action-highlight-remove").compact.outlined
            +icon("action-highlight-remove")
        +button(title="action-history").compact.outlined
            +icon("action-history")
        +button(title="action-home").compact.outlined
            +icon("action-home")
        +button(title="action-https").compact.outlined
            +icon("action-https")
        +button(title="action-info").compact.outlined
            +icon("action-info")
        +button(title="action-info-outline").compact.outlined
            +icon("action-info-outline")
        +button(title="action-input").compact.outlined
            +icon("action-input")
        +button(title="action-invert-colors").compact.outlined
            +icon("action-invert-colors")
        +button(title="action-label").compact.outlined
            +icon("action-label")
        +button(title="action-label-outline").compact.outlined
            +icon("action-label-outline")
        +button(title="action-language").compact.outlined
            +icon("action-language")
        +button(title="action-launch").compact.outlined
            +icon("action-launch")
        +button(title="action-list").compact.outlined
            +icon("action-list")
        +button(title="action-lock").compact.outlined
            +icon("action-lock")
        +button(title="action-lock-open").compact.outlined
            +icon("action-lock-open")
        +button(title="action-lock-outline").compact.outlined
            +icon("action-lock-outline")
        +button(title="action-loyalty").compact.outlined
            +icon("action-loyalty")
        +button(title="action-markunread-mailbox").compact.outlined
            +icon("action-markunread-mailbox")
        +button(title="action-note-add").compact.outlined
            +icon("action-note-add")
        +button(title="action-open-in-browser").compact.outlined
            +icon("action-open-in-browser")
        +button(title="action-open-in-new").compact.outlined
            +icon("action-open-in-new")
        +button(title="action-open-with").compact.outlined
            +icon("action-open-with")
        +button(title="action-pageview").compact.outlined
            +icon("action-pageview")
        +button(title="action-payment").compact.outlined
            +icon("action-payment")
        +button(title="action-perm-camera-mic").compact.outlined
            +icon("action-perm-camera-mic")
        +button(title="action-perm-contact-cal").compact.outlined
            +icon("action-perm-contact-cal")
        +button(title="action-perm-data-setting").compact.outlined
            +icon("action-perm-data-setting")
        +button(title="action-perm-device-info").compact.outlined
            +icon("action-perm-device-info")
        +button(title="action-perm-identity").compact.outlined
            +icon("action-perm-identity")
        +button(title="action-perm-media").compact.outlined
            +icon("action-perm-media")
        +button(title="action-perm-phone-msg").compact.outlined
            +icon("action-perm-phone-msg")
        +button(title="action-perm-scan-wifi").compact.outlined
            +icon("action-perm-scan-wifi")
        +button(title="action-picture-in-picture").compact.outlined
            +icon("action-picture-in-picture")
        +button(title="action-polymer").compact.outlined
            +icon("action-polymer")
        +button(title="action-print").compact.outlined
            +icon("action-print")
        +button(title="action-query-builder").compact.outlined
            +icon("action-query-builder")
        +button(title="action-question-answer").compact.outlined
            +icon("action-question-answer")
        +button(title="action-receipt").compact.outlined
            +icon("action-receipt")
        +button(title="action-redeem").compact.outlined
            +icon("action-redeem")
        +button(title="action-report-problem").compact.outlined
            +icon("action-report-problem")
        +button(title="action-restore").compact.outlined
            +icon("action-restore")
        +button(title="action-room").compact.outlined
            +icon("action-room")
        +button(title="action-schedule").compact.outlined
            +icon("action-schedule")
        +button(title="action-search").compact.outlined
            +icon("action-search")
        +button(title="action-settings").compact.outlined
            +icon("action-settings")
        +button(title="action-settings-applications").compact.outlined
            +icon("action-settings-applications")
        +button(title="action-settings-backup-restore").compact.outlined
            +icon("action-settings-backup-restore")
        +button(title="action-settings-bluetooth").compact.outlined
            +icon("action-settings-bluetooth")
        +button(title="action-settings-cell").compact.outlined
            +icon("action-settings-cell")
        +button(title="action-settings-display").compact.outlined
            +icon("action-settings-display")
        +button(title="action-settings-ethernet").compact.outlined
            +icon("action-settings-ethernet")
        +button(title="action-settings-input-antenna").compact.outlined
            +icon("action-settings-input-antenna")
        +button(title="action-settings-input-component").compact.outlined
            +icon("action-settings-input-component")
        +button(title="action-settings-input-composite").compact.outlined
            +icon("action-settings-input-composite")
        +button(title="action-settings-input-hdmi").compact.outlined
            +icon("action-settings-input-hdmi")
        +button(title="action-settings-input-svideo").compact.outlined
            +icon("action-settings-input-svideo")
        +button(title="action-settings-overscan").compact.outlined
            +icon("action-settings-overscan")
        +button(title="action-settings-phone").compact.outlined
            +icon("action-settings-phone")
        +button(title="action-settings-power").compact.outlined
            +icon("action-settings-power")
        +button(title="action-settings-remote").compact.outlined
            +icon("action-settings-remote")
        +button(title="action-settings-voice").compact.outlined
            +icon("action-settings-voice")
        +button(title="action-shop").compact.outlined
            +icon("action-shop")
        +button(title="action-shopping-basket").compact.outlined
            +icon("action-shopping-basket")
        +button(title="action-shopping-cart").compact.outlined
            +icon("action-shopping-cart")
        +button(title="action-shop-two").compact.outlined
            +icon("action-shop-two")
        +button(title="action-speaker-notes").compact.outlined
            +icon("action-speaker-notes")
        +button(title="action-spellcheck").compact.outlined
            +icon("action-spellcheck")
        +button(title="action-star-rate").compact.outlined
            +icon("action-star-rate")
        +button(title="action-stars").compact.outlined
            +icon("action-stars")
        +button(title="action-store").compact.outlined
            +icon("action-store")
        +button(title="action-subject").compact.outlined
            +icon("action-subject")
        +button(title="action-swap-horiz").compact.outlined
            +icon("action-swap-horiz")
        +button(title="action-swap-vert").compact.outlined
            +icon("action-swap-vert")
        +button(title="action-swap-vert-circle").compact.outlined
            +icon("action-swap-vert-circle")
        +button(title="action-system-update-tv").compact.outlined
            +icon("action-system-update-tv")
        +button(title="action-tab").compact.outlined
            +icon("action-tab")
        +button(title="action-tab-unselected").compact.outlined
            +icon("action-tab-unselected")
        +button(title="action-theaters").compact.outlined
            +icon("action-theaters")
        +button(title="action-thumb-down").compact.outlined
            +icon("action-thumb-down")
        +button(title="action-thumbs-up-down").compact.outlined
            +icon("action-thumbs-up-down")
        +button(title="action-thumb-up").compact.outlined
            +icon("action-thumb-up")
        +button(title="action-toc").compact.outlined
            +icon("action-toc")
        +button(title="action-today").compact.outlined
            +icon("action-today")
        +button(title="action-track-changes").compact.outlined
            +icon("action-track-changes")
        +button(title="action-translate").compact.outlined
            +icon("action-translate")
        +button(title="action-trending-down").compact.outlined
            +icon("action-trending-down")
        +button(title="action-trending-neutral").compact.outlined
            +icon("action-trending-neutral")
        +button(title="action-trending-up").compact.outlined
            +icon("action-trending-up")
        +button(title="action-turned-in").compact.outlined
            +icon("action-turned-in")
        +button(title="action-turned-in-not").compact.outlined
            +icon("action-turned-in-not")
        +button(title="action-verified-user").compact.outlined
            +icon("action-verified-user")
        +button(title="action-view-agenda").compact.outlined
            +icon("action-view-agenda")
        +button(title="action-view-array").compact.outlined
            +icon("action-view-array")
        +button(title="action-view-carousel").compact.outlined
            +icon("action-view-carousel")
        +button(title="action-view-column").compact.outlined
            +icon("action-view-column")
        +button(title="action-view-day").compact.outlined
            +icon("action-view-day")
        +button(title="action-view-headline").compact.outlined
            +icon("action-view-headline")
        +button(title="action-view-list").compact.outlined
            +icon("action-view-list")
        +button(title="action-view-module").compact.outlined
            +icon("action-view-module")
        +button(title="action-view-quilt").compact.outlined
            +icon("action-view-quilt")
        +button(title="action-view-stream").compact.outlined
            +icon("action-view-stream")
        +button(title="action-view-week").compact.outlined
            +icon("action-view-week")
        +button(title="action-visibility").compact.outlined
            +icon("action-visibility")
        +button(title="action-visibility-off").compact.outlined
            +icon("action-visibility-off")
        +button(title="action-wallet-giftcard").compact.outlined
            +icon("action-wallet-giftcard")
        +button(title="action-wallet-membership").compact.outlined
            +icon("action-wallet-membership")
        +button(title="action-wallet-travel").compact.outlined
            +icon("action-wallet-travel")
        +button(title="action-work").compact.outlined
            +icon("action-work")

    +divider Alert

    .multiple
        +button(title="alert-error").compact.outlined
            +icon("alert-error")
        +button(title="alert-warning").compact.outlined
            +icon("alert-warning")

    +divider Audio / Video

    .multiple
        +button(title="av-album").compact.outlined
            +icon("av-album")
        +button(title="av-timer").compact.outlined
            +icon("av-timer")
        +button(title="av-closed-caption").compact.outlined
            +icon("av-closed-caption")
        +button(title="av-equalizer").compact.outlined
            +icon("av-equalizer")
        +button(title="av-explicit").compact.outlined
            +icon("av-explicit")
        +button(title="av-fast-forward").compact.outlined
            +icon("av-fast-forward")
        +button(title="av-fast-rewind").compact.outlined
            +icon("av-fast-rewind")
        +button(title="av-games").compact.outlined
            +icon("av-games")
        +button(title="av-hearing").compact.outlined
            +icon("av-hearing")
        +button(title="av-high-quality").compact.outlined
            +icon("av-high-quality")
        +button(title="av-loop").compact.outlined
            +icon("av-loop")
        +button(title="av-mic").compact.outlined
            +icon("av-mic")
        +button(title="av-mic-none").compact.outlined
            +icon("av-mic-none")
        +button(title="av-mic-off").compact.outlined
            +icon("av-mic-off")
        +button(title="av-movie").compact.outlined
            +icon("av-movie")
        +button(title="av-my-library-add").compact.outlined
            +icon("av-my-library-add")
        +button(title="av-my-library-books").compact.outlined
            +icon("av-my-library-books")
        +button(title="av-my-library-music").compact.outlined
            +icon("av-my-library-music")
        +button(title="av-new-releases").compact.outlined
            +icon("av-new-releases")
        +button(title="av-not-interested").compact.outlined
            +icon("av-not-interested")
        +button(title="av-pause").compact.outlined
            +icon("av-pause")
        +button(title="av-pause-circle-fill").compact.outlined
            +icon("av-pause-circle-fill")
        +button(title="av-pause-circle-outline").compact.outlined
            +icon("av-pause-circle-outline")
        +button(title="av-play-arrow").compact.outlined
            +icon("av-play-arrow")
        +button(title="av-play-circle-fill").compact.outlined
            +icon("av-play-circle-fill")
        +button(title="av-play-circle-outline").compact.outlined
            +icon("av-play-circle-outline")
        +button(title="av-playlist-add").compact.outlined
            +icon("av-playlist-add")
        +button(title="av-play-shopping-bag").compact.outlined
            +icon("av-play-shopping-bag")
        +button(title="av-queue").compact.outlined
            +icon("av-queue")
        +button(title="av-queue-music").compact.outlined
            +icon("av-queue-music")
        +button(title="av-radio").compact.outlined
            +icon("av-radio")
        +button(title="av-recent-actors").compact.outlined
            +icon("av-recent-actors")
        +button(title="av-repeat").compact.outlined
            +icon("av-repeat")
        +button(title="av-repeat-one").compact.outlined
            +icon("av-repeat-one")
        +button(title="av-replay").compact.outlined
            +icon("av-replay")
        +button(title="av-shuffle").compact.outlined
            +icon("av-shuffle")
        +button(title="av-skip-next").compact.outlined
            +icon("av-skip-next")
        +button(title="av-skip-previous").compact.outlined
            +icon("av-skip-previous")
        +button(title="av-snooze").compact.outlined
            +icon("av-snooze")
        +button(title="av-stop").compact.outlined
            +icon("av-stop")
        +button(title="av-subtitles").compact.outlined
            +icon("av-subtitles")
        +button(title="av-surround-sound").compact.outlined
            +icon("av-surround-sound")
        +button(title="av-videocam").compact.outlined
            +icon("av-videocam")
        +button(title="av-videocam-off").compact.outlined
            +icon("av-videocam-off")
        +button(title="av-video-collection").compact.outlined
            +icon("av-video-collection")
        +button(title="av-volume-down").compact.outlined
            +icon("av-volume-down")
        +button(title="av-volume-mute").compact.outlined
            +icon("av-volume-mute")
        +button(title="av-volume-off").compact.outlined
            +icon("av-volume-off")
        +button(title="av-volume-up").compact.outlined
            +icon("av-volume-up")
        +button(title="av-web").compact.outlined
            +icon("av-web")

    +divider Communication

    .multiple
        +button(title="communication-business").compact.outlined
            +icon("communication-business")
        +button(title="communication-call").compact.outlined
            +icon("communication-call")
        +button(title="communication-call-end").compact.outlined
            +icon("communication-call-end")
        +button(title="communication-call-made").compact.outlined
            +icon("communication-call-made")
        +button(title="communication-call-merge").compact.outlined
            +icon("communication-call-merge")
        +button(title="communication-call-missed").compact.outlined
            +icon("communication-call-missed")
        +button(title="communication-call-received").compact.outlined
            +icon("communication-call-received")
        +button(title="communication-call-split").compact.outlined
            +icon("communication-call-split")
        +button(title="communication-chat").compact.outlined
            +icon("communication-chat")
        +button(title="communication-clear-all").compact.outlined
            +icon("communication-clear-all")
        +button(title="communication-comment").compact.outlined
            +icon("communication-comment")
        +button(title="communication-contacts").compact.outlined
            +icon("communication-contacts")
        +button(title="communication-dialer-sip").compact.outlined
            +icon("communication-dialer-sip")
        +button(title="communication-dialpad").compact.outlined
            +icon("communication-dialpad")
        +button(title="communication-dnd-on").compact.outlined
            +icon("communication-dnd-on")
        +button(title="communication-email").compact.outlined
            +icon("communication-email")
        +button(title="communication-forum").compact.outlined
            +icon("communication-forum")
        +button(title="communication-import-export").compact.outlined
            +icon("communication-import-export")
        +button(title="communication-invert-colors-off").compact.outlined
            +icon("communication-invert-colors-off")
        +button(title="communication-invert-colors-on").compact.outlined
            +icon("communication-invert-colors-on")
        +button(title="communication-live-help").compact.outlined
            +icon("communication-live-help")
        +button(title="communication-location-off").compact.outlined
            +icon("communication-location-off")
        +button(title="communication-location-on").compact.outlined
            +icon("communication-location-on")
        +button(title="communication-message").compact.outlined
            +icon("communication-message")
        +button(title="communication-messenger").compact.outlined
            +icon("communication-messenger")
        +button(title="communication-no-sim").compact.outlined
            +icon("communication-no-sim")
        +button(title="communication-phone").compact.outlined
            +icon("communication-phone")
        +button(title="communication-portable-wifi-off").compact.outlined
            +icon("communication-portable-wifi-off")
        +button(title="communication-quick-contacts-dialer").compact.outlined
            +icon("communication-quick-contacts-dialer")
        +button(title="communication-quick-contacts-mail").compact.outlined
            +icon("communication-quick-contacts-mail")
        +button(title="communication-ring-volume").compact.outlined
            +icon("communication-ring-volume")
        +button(title="communication-stay-current-landscape").compact.outlined
            +icon("communication-stay-current-landscape")
        +button(title="communication-stay-current-portrait").compact.outlined
            +icon("communication-stay-current-portrait")
        +button(title="communication-stay-primary-landscape").compact.outlined
            +icon("communication-stay-primary-landscape")
        +button(title="communication-stay-primary-portrait").compact.outlined
            +icon("communication-stay-primary-portrait")
        +button(title="communication-swap-calls").compact.outlined
            +icon("communication-swap-calls")
        +button(title="communication-textsms").compact.outlined
            +icon("communication-textsms")
        +button(title="communication-voicemail").compact.outlined
            +icon("communication-voicemail")
        +button(title="communication-vpn-key").compact.outlined
            +icon("communication-vpn-key")

    +divider Content

    .multiple
        +button(title="content-add").compact.outlined
            +icon("content-add")
        +button(title="content-add-box").compact.outlined
            +icon("content-add-box")
        +button(title="content-add-circle").compact.outlined
            +icon("content-add-circle")
        +button(title="content-add-circle-outline").compact.outlined
            +icon("content-add-circle-outline")
        +button(title="content-archive").compact.outlined
            +icon("content-archive")
        +button(title="content-backspace").compact.outlined
            +icon("content-backspace")
        +button(title="content-block").compact.outlined
            +icon("content-block")
        +button(title="content-clear").compact.outlined
            +icon("content-clear")
        +button(title="content-content-copy").compact.outlined
            +icon("content-content-copy")
        +button(title="content-content-cut").compact.outlined
            +icon("content-content-cut")
        +button(title="content-content-paste").compact.outlined
            +icon("content-content-paste")
        +button(title="content-create").compact.outlined
            +icon("content-create")
        +button(title="content-drafts").compact.outlined
            +icon("content-drafts")
        +button(title="content-filter-list").compact.outlined
            +icon("content-filter-list")
        +button(title="content-flag").compact.outlined
            +icon("content-flag")
        +button(title="content-forward").compact.outlined
            +icon("content-forward")
        +button(title="content-gesture").compact.outlined
            +icon("content-gesture")
        +button(title="content-inbox").compact.outlined
            +icon("content-inbox")
        +button(title="content-link").compact.outlined
            +icon("content-link")
        +button(title="content-mail").compact.outlined
            +icon("content-mail")
        +button(title="content-markunread").compact.outlined
            +icon("content-markunread")
        +button(title="content-redo").compact.outlined
            +icon("content-redo")
        +button(title="content-remove").compact.outlined
            +icon("content-remove")
        +button(title="content-remove-circle").compact.outlined
            +icon("content-remove-circle")
        +button(title="content-remove-circle-outline").compact.outlined
            +icon("content-remove-circle-outline")
        +button(title="content-reply").compact.outlined
            +icon("content-reply")
        +button(title="content-reply-all").compact.outlined
            +icon("content-reply-all")
        +button(title="content-report").compact.outlined
            +icon("content-report")
        +button(title="content-save").compact.outlined
            +icon("content-save")
        +button(title="content-select-all").compact.outlined
            +icon("content-select-all")
        +button(title="content-send").compact.outlined
            +icon("content-send")
        +button(title="content-sort").compact.outlined
            +icon("content-sort")
        +button(title="content-text-format").compact.outlined
            +icon("content-text-format")
        +button(title="content-undo").compact.outlined
            +icon("content-undo")

    +divider Device

    .multiple
        +button(title="device-access-alarm").compact.outlined
            +icon("device-access-alarm")
        +button(title="device-access-alarms").compact.outlined
            +icon("device-access-alarms")
        +button(title="device-access-time").compact.outlined
            +icon("device-access-time")
        +button(title="device-add-alarm").compact.outlined
            +icon("device-add-alarm")
        +button(title="device-airplanemode-off").compact.outlined
            +icon("device-airplanemode-off")
        +button(title="device-airplanemode-on").compact.outlined
            +icon("device-airplanemode-on")
        +button(title="device-battery-20").compact.outlined
            +icon("device-battery-20")
        +button(title="device-battery-30").compact.outlined
            +icon("device-battery-30")
        +button(title="device-battery-50").compact.outlined
            +icon("device-battery-50")
        +button(title="device-battery-60").compact.outlined
            +icon("device-battery-60")
        +button(title="device-battery-80").compact.outlined
            +icon("device-battery-80")
        +button(title="device-battery-90").compact.outlined
            +icon("device-battery-90")
        +button(title="device-battery-alert").compact.outlined
            +icon("device-battery-alert")
        +button(title="device-battery-charging-20").compact.outlined
            +icon("device-battery-charging-20")
        +button(title="device-battery-charging-30").compact.outlined
            +icon("device-battery-charging-30")
        +button(title="device-battery-charging-50").compact.outlined
            +icon("device-battery-charging-50")
        +button(title="device-battery-charging-60").compact.outlined
            +icon("device-battery-charging-60")
        +button(title="device-battery-charging-80").compact.outlined
            +icon("device-battery-charging-80")
        +button(title="device-battery-charging-90").compact.outlined
            +icon("device-battery-charging-90")
        +button(title="device-battery-charging-full").compact.outlined
            +icon("device-battery-charging-full")
        +button(title="device-battery-full").compact.outlined
            +icon("device-battery-full")
        +button(title="device-battery-std").compact.outlined
            +icon("device-battery-std")
        +button(title="device-battery-unknown").compact.outlined
            +icon("device-battery-unknown")
        +button(title="device-bluetooth").compact.outlined
            +icon("device-bluetooth")
        +button(title="device-bluetooth-connected").compact.outlined
            +icon("device-bluetooth-connected")
        +button(title="device-bluetooth-disabled").compact.outlined
            +icon("device-bluetooth-disabled")
        +button(title="device-bluetooth-searching").compact.outlined
            +icon("device-bluetooth-searching")
        +button(title="device-brightness-auto").compact.outlined
            +icon("device-brightness-auto")
        +button(title="device-brightness-high").compact.outlined
            +icon("device-brightness-high")
        +button(title="device-brightness-low").compact.outlined
            +icon("device-brightness-low")
        +button(title="device-brightness-medium").compact.outlined
            +icon("device-brightness-medium")
        +button(title="device-data-usage").compact.outlined
            +icon("device-data-usage")
        +button(title="device-developer-mode").compact.outlined
            +icon("device-developer-mode")
        +button(title="device-devices").compact.outlined
            +icon("device-devices")
        +button(title="device-dvr").compact.outlined
            +icon("device-dvr")
        +button(title="device-gps-fixed").compact.outlined
            +icon("device-gps-fixed")
        +button(title="device-gps-not-fixed").compact.outlined
            +icon("device-gps-not-fixed")
        +button(title="device-gps-off").compact.outlined
            +icon("device-gps-off")
        +button(title="device-location-disabled").compact.outlined
            +icon("device-location-disabled")
        +button(title="device-location-searching").compact.outlined
            +icon("device-location-searching")
        +button(title="device-multitrack-audio").compact.outlined
            +icon("device-multitrack-audio")
        +button(title="device-network-cell").compact.outlined
            +icon("device-network-cell")
        +button(title="device-network-wifi").compact.outlined
            +icon("device-network-wifi")
        +button(title="device-nfc").compact.outlined
            +icon("device-nfc")
        +button(title="device-now-wallpaper").compact.outlined
            +icon("device-now-wallpaper")
        +button(title="device-now-widgets").compact.outlined
            +icon("device-now-widgets")
        +button(title="device-screen-lock-landscape").compact.outlined
            +icon("device-screen-lock-landscape")
        +button(title="device-screen-lock-portrait").compact.outlined
            +icon("device-screen-lock-portrait")
        +button(title="device-screen-lock-rotation").compact.outlined
            +icon("device-screen-lock-rotation")
        +button(title="device-screen-rotation").compact.outlined
            +icon("device-screen-rotation")
        +button(title="device-sd-storage").compact.outlined
            +icon("device-sd-storage")
        +button(title="device-settings-system-daydream").compact.outlined
            +icon("device-settings-system-daydream")
        +button(title="device-signal-cellular-0-bar").compact.outlined
            +icon("device-signal-cellular-0-bar")
        +button(title="device-signal-cellular-1-bar").compact.outlined
            +icon("device-signal-cellular-1-bar")
        +button(title="device-signal-cellular-2-bar").compact.outlined
            +icon("device-signal-cellular-2-bar")
        +button(title="device-signal-cellular-3-bar").compact.outlined
            +icon("device-signal-cellular-3-bar")
        +button(title="device-signal-cellular-4-bar").compact.outlined
            +icon("device-signal-cellular-4-bar")
        +button(title="device-signal-cellular-connected-no-internet-0-bar").compact.outlined
            +icon("device-signal-cellular-connected-no-internet-0-bar")
        +button(title="device-signal-cellular-connected-no-internet-1-bar").compact.outlined
            +icon("device-signal-cellular-connected-no-internet-1-bar")
        +button(title="device-signal-cellular-connected-no-internet-2-bar").compact.outlined
            +icon("device-signal-cellular-connected-no-internet-2-bar")
        +button(title="device-signal-cellular-connected-no-internet-3-bar").compact.outlined
            +icon("device-signal-cellular-connected-no-internet-3-bar")
        +button(title="device-signal-cellular-connected-no-internet-4-bar").compact.outlined
            +icon("device-signal-cellular-connected-no-internet-4-bar")
        +button(title="device-signal-cellular-no-sim").compact.outlined
            +icon("device-signal-cellular-no-sim")
        +button(title="device-signal-cellular-null").compact.outlined
            +icon("device-signal-cellular-null")
        +button(title="device-signal-cellular-off").compact.outlined
            +icon("device-signal-cellular-off")
        +button(title="device-signal-wifi-0-bar").compact.outlined
            +icon("device-signal-wifi-0-bar")
        +button(title="device-signal-wifi-1-bar").compact.outlined
            +icon("device-signal-wifi-1-bar")
        +button(title="device-signal-wifi-2-bar").compact.outlined
            +icon("device-signal-wifi-2-bar")
        +button(title="device-signal-wifi-3-bar").compact.outlined
            +icon("device-signal-wifi-3-bar")
        +button(title="device-signal-wifi-4-bar").compact.outlined
            +icon("device-signal-wifi-4-bar")
        +button(title="device-signal-wifi-off").compact.outlined
            +icon("device-signal-wifi-off")
        +button(title="device-storage").compact.outlined
            +icon("device-storage")
        +button(title="device-usb").compact.outlined
            +icon("device-usb")
        +button(title="device-wifi-lock").compact.outlined
            +icon("device-wifi-lock")
        +button(title="device-wifi-tethering").compact.outlined
            +icon("device-wifi-tethering")

    +divider Editor

    .multiple
        +button(title="editor-attach-file").compact.outlined
            +icon("editor-attach-file")
        +button(title="editor-attach-money").compact.outlined
            +icon("editor-attach-money")
        +button(title="editor-border-all").compact.outlined
            +icon("editor-border-all")
        +button(title="editor-border-bottom").compact.outlined
            +icon("editor-border-bottom")
        +button(title="editor-border-clear").compact.outlined
            +icon("editor-border-clear")
        +button(title="editor-border-color").compact.outlined
            +icon("editor-border-color")
        +button(title="editor-border-horizontal").compact.outlined
            +icon("editor-border-horizontal")
        +button(title="editor-border-inner").compact.outlined
            +icon("editor-border-inner")
        +button(title="editor-border-left").compact.outlined
            +icon("editor-border-left")
        +button(title="editor-border-outer").compact.outlined
            +icon("editor-border-outer")
        +button(title="editor-border-right").compact.outlined
            +icon("editor-border-right")
        +button(title="editor-border-style").compact.outlined
            +icon("editor-border-style")
        +button(title="editor-border-top").compact.outlined
            +icon("editor-border-top")
        +button(title="editor-border-vertical").compact.outlined
            +icon("editor-border-vertical")
        +button(title="editor-format-align-center").compact.outlined
            +icon("editor-format-align-center")
        +button(title="editor-format-align-justify").compact.outlined
            +icon("editor-format-align-justify")
        +button(title="editor-format-align-left").compact.outlined
            +icon("editor-format-align-left")
        +button(title="editor-format-align-right").compact.outlined
            +icon("editor-format-align-right")
        +button(title="editor-format-bold").compact.outlined
            +icon("editor-format-bold")
        +button(title="editor-format-clear").compact.outlined
            +icon("editor-format-clear")
        +button(title="editor-format-color-fill").compact.outlined
            +icon("editor-format-color-fill")
        +button(title="editor-format-color-reset").compact.outlined
            +icon("editor-format-color-reset")
        +button(title="editor-format-color-text").compact.outlined
            +icon("editor-format-color-text")
        +button(title="editor-format-indent-decrease").compact.outlined
            +icon("editor-format-indent-decrease")
        +button(title="editor-format-indent-increase").compact.outlined
            +icon("editor-format-indent-increase")
        +button(title="editor-format-italic").compact.outlined
            +icon("editor-format-italic")
        +button(title="editor-format-line-spacing").compact.outlined
            +icon("editor-format-line-spacing")
        +button(title="editor-format-list-bulleted").compact.outlined
            +icon("editor-format-list-bulleted")
        +button(title="editor-format-list-numbered").compact.outlined
            +icon("editor-format-list-numbered")
        +button(title="editor-format-paint").compact.outlined
            +icon("editor-format-paint")
        +button(title="editor-format-quote").compact.outlined
            +icon("editor-format-quote")
        +button(title="editor-format-size").compact.outlined
            +icon("editor-format-size")
        +button(title="editor-format-strikethrough").compact.outlined
            +icon("editor-format-strikethrough")
        +button(title="editor-format-textdirection-l-to-r").compact.outlined
            +icon("editor-format-textdirection-l-to-r")
        +button(title="editor-format-textdirection-r-to-l").compact.outlined
            +icon("editor-format-textdirection-r-to-l")
        +button(title="editor-format-underline").compact.outlined
            +icon("editor-format-underline")
        +button(title="editor-functions").compact.outlined
            +icon("editor-functions")
        +button(title="editor-insert-chart").compact.outlined
            +icon("editor-insert-chart")
        +button(title="editor-insert-comment").compact.outlined
            +icon("editor-insert-comment")
        +button(title="editor-insert-drive-file").compact.outlined
            +icon("editor-insert-drive-file")
        +button(title="editor-insert-emoticon").compact.outlined
            +icon("editor-insert-emoticon")
        +button(title="editor-insert-invitation").compact.outlined
            +icon("editor-insert-invitation")
        +button(title="editor-insert-link").compact.outlined
            +icon("editor-insert-link")
        +button(title="editor-insert-photo").compact.outlined
            +icon("editor-insert-photo")
        +button(title="editor-merge-type").compact.outlined
            +icon("editor-merge-type")
        +button(title="editor-mode-comment").compact.outlined
            +icon("editor-mode-comment")
        +button(title="editor-mode-edit").compact.outlined
            +icon("editor-mode-edit")
        +button(title="editor-publish").compact.outlined
            +icon("editor-publish")
        +button(title="editor-vertical-align-bottom").compact.outlined
            +icon("editor-vertical-align-bottom")
        +button(title="editor-vertical-align-center").compact.outlined
            +icon("editor-vertical-align-center")
        +button(title="editor-vertical-align-top").compact.outlined
            +icon("editor-vertical-align-top")
        +button(title="editor-wrap-text").compact.outlined
            +icon("editor-wrap-text")

    +divider File

    .multiple
        +button(title="file-attachment").compact.outlined
            +icon("file-attachment")
        +button(title="file-cloud").compact.outlined
            +icon("file-cloud")
        +button(title="file-cloud-circle").compact.outlined
            +icon("file-cloud-circle")
        +button(title="file-cloud-done").compact.outlined
            +icon("file-cloud-done")
        +button(title="file-cloud-download").compact.outlined
            +icon("file-cloud-download")
        +button(title="file-cloud-off").compact.outlined
            +icon("file-cloud-off")
        +button(title="file-cloud-queue").compact.outlined
            +icon("file-cloud-queue")
        +button(title="file-cloud-upload").compact.outlined
            +icon("file-cloud-upload")
        +button(title="file-file-download").compact.outlined
            +icon("file-file-download")
        +button(title="file-file-upload").compact.outlined
            +icon("file-file-upload")
        +button(title="file-folder").compact.outlined
            +icon("file-folder")
        +button(title="file-folder-open").compact.outlined
            +icon("file-folder-open")
        +button(title="file-folder-shared").compact.outlined
            +icon("file-folder-shared")

    +divider Hardware

    .multiple
        +button(title="hardware-cast").compact.outlined
            +icon("hardware-cast")
        +button(title="hardware-cast-connected").compact.outlined
            +icon("hardware-cast-connected")
        +button(title="hardware-computer").compact.outlined
            +icon("hardware-computer")
        +button(title="hardware-desktop-mac").compact.outlined
            +icon("hardware-desktop-mac")
        +button(title="hardware-desktop-windows").compact.outlined
            +icon("hardware-desktop-windows")
        +button(title="hardware-dock").compact.outlined
            +icon("hardware-dock")
        +button(title="hardware-gamepad").compact.outlined
            +icon("hardware-gamepad")
        +button(title="hardware-headset").compact.outlined
            +icon("hardware-headset")
        +button(title="hardware-headset-mic").compact.outlined
            +icon("hardware-headset-mic")
        +button(title="hardware-keyboard").compact.outlined
            +icon("hardware-keyboard")
        +button(title="hardware-keyboard-alt").compact.outlined
            +icon("hardware-keyboard-alt")
        +button(title="hardware-keyboard-arrow-down").compact.outlined
            +icon("hardware-keyboard-arrow-down")
        +button(title="hardware-keyboard-arrow-left").compact.outlined
            +icon("hardware-keyboard-arrow-left")
        +button(title="hardware-keyboard-arrow-right").compact.outlined
            +icon("hardware-keyboard-arrow-right")
        +button(title="hardware-keyboard-arrow-up").compact.outlined
            +icon("hardware-keyboard-arrow-up")
        +button(title="hardware-keyboard-backspace").compact.outlined
            +icon("hardware-keyboard-backspace")
        +button(title="hardware-keyboard-capslock").compact.outlined
            +icon("hardware-keyboard-capslock")
        +button(title="hardware-keyboard-control").compact.outlined
            +icon("hardware-keyboard-control")
        +button(title="hardware-keyboard-hide").compact.outlined
            +icon("hardware-keyboard-hide")
        +button(title="hardware-keyboard-return").compact.outlined
            +icon("hardware-keyboard-return")
        +button(title="hardware-keyboard-tab").compact.outlined
            +icon("hardware-keyboard-tab")
        +button(title="hardware-keyboard-voice").compact.outlined
            +icon("hardware-keyboard-voice")
        +button(title="hardware-laptop").compact.outlined
            +icon("hardware-laptop")
        +button(title="hardware-laptop-chromebook").compact.outlined
            +icon("hardware-laptop-chromebook")
        +button(title="hardware-laptop-mac").compact.outlined
            +icon("hardware-laptop-mac")
        +button(title="hardware-laptop-windows").compact.outlined
            +icon("hardware-laptop-windows")
        +button(title="hardware-memory").compact.outlined
            +icon("hardware-memory")
        +button(title="hardware-mouse").compact.outlined
            +icon("hardware-mouse")
        +button(title="hardware-phone-android").compact.outlined
            +icon("hardware-phone-android")
        +button(title="hardware-phone-iphone").compact.outlined
            +icon("hardware-phone-iphone")
        +button(title="hardware-phonelink").compact.outlined
            +icon("hardware-phonelink")
        +button(title="hardware-phonelink-off").compact.outlined
            +icon("hardware-phonelink-off")
        +button(title="hardware-security").compact.outlined
            +icon("hardware-security")
        +button(title="hardware-sim-card").compact.outlined
            +icon("hardware-sim-card")
        +button(title="hardware-smartphone").compact.outlined
            +icon("hardware-smartphone")
        +button(title="hardware-speaker").compact.outlined
            +icon("hardware-speaker")
        +button(title="hardware-tablet").compact.outlined
            +icon("hardware-tablet")
        +button(title="hardware-tablet-android").compact.outlined
            +icon("hardware-tablet-android")
        +button(title="hardware-tablet-mac").compact.outlined
            +icon("hardware-tablet-mac")
        +button(title="hardware-tv").compact.outlined
            +icon("hardware-tv")
        +button(title="hardware-watch").compact.outlined
            +icon("hardware-watch")

    +divider Image

    .multiple
        +button(title="image-add-to-photos").compact.outlined
            +icon("image-add-to-photos")
        +button(title="image-adjust").compact.outlined
            +icon("image-adjust")
        +button(title="image-assistant-photo").compact.outlined
            +icon("image-assistant-photo")
        +button(title="image-audiotrack").compact.outlined
            +icon("image-audiotrack")
        +button(title="image-blur-circular").compact.outlined
            +icon("image-blur-circular")
        +button(title="image-blur-linear").compact.outlined
            +icon("image-blur-linear")
        +button(title="image-blur-off").compact.outlined
            +icon("image-blur-off")
        +button(title="image-blur-on").compact.outlined
            +icon("image-blur-on")
        +button(title="image-brightness-1").compact.outlined
            +icon("image-brightness-1")
        +button(title="image-brightness-2").compact.outlined
            +icon("image-brightness-2")
        +button(title="image-brightness-3").compact.outlined
            +icon("image-brightness-3")
        +button(title="image-brightness-4").compact.outlined
            +icon("image-brightness-4")
        +button(title="image-brightness-5").compact.outlined
            +icon("image-brightness-5")
        +button(title="image-brightness-6").compact.outlined
            +icon("image-brightness-6")
        +button(title="image-brightness-7").compact.outlined
            +icon("image-brightness-7")
        +button(title="image-brush").compact.outlined
            +icon("image-brush")
        +button(title="image-camera").compact.outlined
            +icon("image-camera")
        +button(title="image-camera-alt").compact.outlined
            +icon("image-camera-alt")
        +button(title="image-camera-front").compact.outlined
            +icon("image-camera-front")
        +button(title="image-camera-rear").compact.outlined
            +icon("image-camera-rear")
        +button(title="image-camera-roll").compact.outlined
            +icon("image-camera-roll")
        +button(title="image-center-focus-strong").compact.outlined
            +icon("image-center-focus-strong")
        +button(title="image-center-focus-weak").compact.outlined
            +icon("image-center-focus-weak")
        +button(title="image-collections").compact.outlined
            +icon("image-collections")
        +button(title="image-colorize").compact.outlined
            +icon("image-colorize")
        +button(title="image-color-lens").compact.outlined
            +icon("image-color-lens")
        +button(title="image-compare").compact.outlined
            +icon("image-compare")
        +button(title="image-control-point").compact.outlined
            +icon("image-control-point")
        +button(title="image-control-point-duplicate").compact.outlined
            +icon("image-control-point-duplicate")
        +button(title="image-crop").compact.outlined
            +icon("image-crop")
        +button(title="image-crop-3-2").compact.outlined
            +icon("image-crop-3-2")
        +button(title="image-crop-5-4").compact.outlined
            +icon("image-crop-5-4")
        +button(title="image-crop-7-5").compact.outlined
            +icon("image-crop-7-5")
        +button(title="image-crop-16-9").compact.outlined
            +icon("image-crop-16-9")
        +button(title="image-crop-din").compact.outlined
            +icon("image-crop-din")
        +button(title="image-crop-free").compact.outlined
            +icon("image-crop-free")
        +button(title="image-crop-landscape").compact.outlined
            +icon("image-crop-landscape")
        +button(title="image-crop-original").compact.outlined
            +icon("image-crop-original")
        +button(title="image-crop-portrait").compact.outlined
            +icon("image-crop-portrait")
        +button(title="image-crop-square").compact.outlined
            +icon("image-crop-square")
        +button(title="image-dehaze").compact.outlined
            +icon("image-dehaze")
        +button(title="image-details").compact.outlined
            +icon("image-details")
        +button(title="image-edit").compact.outlined
            +icon("image-edit")
        +button(title="image-exposure").compact.outlined
            +icon("image-exposure")
        +button(title="image-exposure-minus-1").compact.outlined
            +icon("image-exposure-minus-1")
        +button(title="image-exposure-minus-2").compact.outlined
            +icon("image-exposure-minus-2")
        +button(title="image-exposure-zero").compact.outlined
            +icon("image-exposure-zero")
        +button(title="image-exposure-plus-1").compact.outlined
            +icon("image-exposure-plus-1")
        +button(title="image-exposure-plus-2").compact.outlined
            +icon("image-exposure-plus-2")
        +button(title="image-filter").compact.outlined
            +icon("image-filter")
        +button(title="image-filter-1").compact.outlined
            +icon("image-filter-1")
        +button(title="image-filter-2").compact.outlined
            +icon("image-filter-2")
        +button(title="image-filter-3").compact.outlined
            +icon("image-filter-3")
        +button(title="image-filter-4").compact.outlined
            +icon("image-filter-4")
        +button(title="image-filter-5").compact.outlined
            +icon("image-filter-5")
        +button(title="image-filter-6").compact.outlined
            +icon("image-filter-6")
        +button(title="image-filter-7").compact.outlined
            +icon("image-filter-7")
        +button(title="image-filter-8").compact.outlined
            +icon("image-filter-8")
        +button(title="image-filter-9").compact.outlined
            +icon("image-filter-9")
        +button(title="image-filter-9-plus").compact.outlined
            +icon("image-filter-9-plus")
        +button(title="image-filter-b-and-w").compact.outlined
            +icon("image-filter-b-and-w")
        +button(title="image-filter-center-focus").compact.outlined
            +icon("image-filter-center-focus")
        +button(title="image-filter-drama").compact.outlined
            +icon("image-filter-drama")
        +button(title="image-filter-frames").compact.outlined
            +icon("image-filter-frames")
        +button(title="image-filter-hdr").compact.outlined
            +icon("image-filter-hdr")
        +button(title="image-filter-none").compact.outlined
            +icon("image-filter-none")
        +button(title="image-filter-tilt-shift").compact.outlined
            +icon("image-filter-tilt-shift")
        +button(title="image-filter-vintage").compact.outlined
            +icon("image-filter-vintage")
        +button(title="image-flare").compact.outlined
            +icon("image-flare")
        +button(title="image-flash-auto").compact.outlined
            +icon("image-flash-auto")
        +button(title="image-flash-off").compact.outlined
            +icon("image-flash-off")
        +button(title="image-flash-on").compact.outlined
            +icon("image-flash-on")
        +button(title="image-flip").compact.outlined
            +icon("image-flip")
        +button(title="image-gradient").compact.outlined
            +icon("image-gradient")
        +button(title="image-grain").compact.outlined
            +icon("image-grain")
        +button(title="image-grid-off").compact.outlined
            +icon("image-grid-off")
        +button(title="image-grid-on").compact.outlined
            +icon("image-grid-on")
        +button(title="image-hdr-off").compact.outlined
            +icon("image-hdr-off")
        +button(title="image-hdr-on").compact.outlined
            +icon("image-hdr-on")
        +button(title="image-hdr-strong").compact.outlined
            +icon("image-hdr-strong")
        +button(title="image-hdr-weak").compact.outlined
            +icon("image-hdr-weak")
        +button(title="image-healing").compact.outlined
            +icon("image-healing")
        +button(title="image-image").compact.outlined
            +icon("image-image")
        +button(title="image-image-aspect-ratio").compact.outlined
            +icon("image-image-aspect-ratio")
        +button(title="image-iso").compact.outlined
            +icon("image-iso")
        +button(title="image-landscape").compact.outlined
            +icon("image-landscape")
        +button(title="image-leak-add").compact.outlined
            +icon("image-leak-add")
        +button(title="image-leak-remove").compact.outlined
            +icon("image-leak-remove")
        +button(title="image-lens").compact.outlined
            +icon("image-lens")
        +button(title="image-looks").compact.outlined
            +icon("image-looks")
        +button(title="image-looks-1").compact.outlined
            +icon("image-looks-1")
        +button(title="image-looks-2").compact.outlined
            +icon("image-looks-2")
        +button(title="image-looks-3").compact.outlined
            +icon("image-looks-3")
        +button(title="image-looks-4").compact.outlined
            +icon("image-looks-4")
        +button(title="image-looks-5").compact.outlined
            +icon("image-looks-5")
        +button(title="image-looks-6").compact.outlined
            +icon("image-looks-6")
        +button(title="image-loupe").compact.outlined
            +icon("image-loupe")
        +button(title="image-movie-creation").compact.outlined
            +icon("image-movie-creation")
        +button(title="image-nature").compact.outlined
            +icon("image-nature")
        +button(title="image-nature-people").compact.outlined
            +icon("image-nature-people")
        +button(title="image-navigate-before").compact.outlined
            +icon("image-navigate-before")
        +button(title="image-navigate-next").compact.outlined
            +icon("image-navigate-next")
        +button(title="image-palette").compact.outlined
            +icon("image-palette")
        +button(title="image-panorama").compact.outlined
            +icon("image-panorama")
        +button(title="image-panorama-fisheye").compact.outlined
            +icon("image-panorama-fisheye")
        +button(title="image-panorama-horizontal").compact.outlined
            +icon("image-panorama-horizontal")
        +button(title="image-panorama-vertical").compact.outlined
            +icon("image-panorama-vertical")
        +button(title="image-panorama-wide-angle").compact.outlined
            +icon("image-panorama-wide-angle")
        +button(title="image-photo").compact.outlined
            +icon("image-photo")
        +button(title="image-photo-album").compact.outlined
            +icon("image-photo-album")
        +button(title="image-photo-camera").compact.outlined
            +icon("image-photo-camera")
        +button(title="image-photo-library").compact.outlined
            +icon("image-photo-library")
        +button(title="image-portrait").compact.outlined
            +icon("image-portrait")
        +button(title="image-remove-red-eye").compact.outlined
            +icon("image-remove-red-eye")
        +button(title="image-rotate-left").compact.outlined
            +icon("image-rotate-left")
        +button(title="image-rotate-right").compact.outlined
            +icon("image-rotate-right")
        +button(title="image-slideshow").compact.outlined
            +icon("image-slideshow")
        +button(title="image-straighten").compact.outlined
            +icon("image-straighten")
        +button(title="image-style").compact.outlined
            +icon("image-style")
        +button(title="image-switch-camera").compact.outlined
            +icon("image-switch-camera")
        +button(title="image-switch-video").compact.outlined
            +icon("image-switch-video")
        +button(title="image-tag-faces").compact.outlined
            +icon("image-tag-faces")
        +button(title="image-texture").compact.outlined
            +icon("image-texture")
        +button(title="image-timelapse").compact.outlined
            +icon("image-timelapse")
        +button(title="image-timer").compact.outlined
            +icon("image-timer")
        +button(title="image-timer-3").compact.outlined
            +icon("image-timer-3")
        +button(title="image-timer-10").compact.outlined
            +icon("image-timer-10")
        +button(title="image-timer-auto").compact.outlined
            +icon("image-timer-auto")
        +button(title="image-timer-off").compact.outlined
            +icon("image-timer-off")
        +button(title="image-tonality").compact.outlined
            +icon("image-tonality")
        +button(title="image-transform").compact.outlined
            +icon("image-transform")
        +button(title="image-tune").compact.outlined
            +icon("image-tune")
        +button(title="image-wb-auto").compact.outlined
            +icon("image-wb-auto")
        +button(title="image-wb-cloudy").compact.outlined
            +icon("image-wb-cloudy")
        +button(title="image-wb-incandescent").compact.outlined
            +icon("image-wb-incandescent")
        +button(title="image-wb-irradescent").compact.outlined
            +icon("image-wb-irradescent")
        +button(title="image-wb-sunny").compact.outlined
            +icon("image-wb-sunny")

    +divider Maps

    .multiple
        +button(title="maps-beenhere").compact.outlined
            +icon("maps-beenhere")
        +button(title="maps-directions").compact.outlined
            +icon("maps-directions")
        +button(title="maps-directions-bike").compact.outlined
            +icon("maps-directions-bike")
        +button(title="maps-directions-bus").compact.outlined
            +icon("maps-directions-bus")
        +button(title="maps-directions-car").compact.outlined
            +icon("maps-directions-car")
        +button(title="maps-directions-ferry").compact.outlined
            +icon("maps-directions-ferry")
        +button(title="maps-directions-subway").compact.outlined
            +icon("maps-directions-subway")
        +button(title="maps-directions-train").compact.outlined
            +icon("maps-directions-train")
        +button(title="maps-directions-transit").compact.outlined
            +icon("maps-directions-transit")
        +button(title="maps-directions-walk").compact.outlined
            +icon("maps-directions-walk")
        +button(title="maps-flight").compact.outlined
            +icon("maps-flight")
        +button(title="maps-hotel").compact.outlined
            +icon("maps-hotel")
        +button(title="maps-layers").compact.outlined
            +icon("maps-layers")
        +button(title="maps-layers-clear").compact.outlined
            +icon("maps-layers-clear")
        +button(title="maps-local-airport").compact.outlined
            +icon("maps-local-airport")
        +button(title="maps-local-atm").compact.outlined
            +icon("maps-local-atm")
        +button(title="maps-local-attraction").compact.outlined
            +icon("maps-local-attraction")
        +button(title="maps-local-bar").compact.outlined
            +icon("maps-local-bar")
        +button(title="maps-local-cafe").compact.outlined
            +icon("maps-local-cafe")
        +button(title="maps-local-car-wash").compact.outlined
            +icon("maps-local-car-wash")
        +button(title="maps-local-convenience-store").compact.outlined
            +icon("maps-local-convenience-store")
        +button(title="maps-local-drink").compact.outlined
            +icon("maps-local-drink")
        +button(title="maps-local-florist").compact.outlined
            +icon("maps-local-florist")
        +button(title="maps-local-gas-station").compact.outlined
            +icon("maps-local-gas-station")
        +button(title="maps-local-grocery-store").compact.outlined
            +icon("maps-local-grocery-store")
        +button(title="maps-local-hospital").compact.outlined
            +icon("maps-local-hospital")
        +button(title="maps-local-hotel").compact.outlined
            +icon("maps-local-hotel")
        +button(title="maps-local-laundry-service").compact.outlined
            +icon("maps-local-laundry-service")
        +button(title="maps-local-library").compact.outlined
            +icon("maps-local-library")
        +button(title="maps-local-mall").compact.outlined
            +icon("maps-local-mall")
        +button(title="maps-local-movies").compact.outlined
            +icon("maps-local-movies")
        +button(title="maps-local-offer").compact.outlined
            +icon("maps-local-offer")
        +button(title="maps-local-parking").compact.outlined
            +icon("maps-local-parking")
        +button(title="maps-local-pharmacy").compact.outlined
            +icon("maps-local-pharmacy")
        +button(title="maps-local-phone").compact.outlined
            +icon("maps-local-phone")
        +button(title="maps-local-pizza").compact.outlined
            +icon("maps-local-pizza")
        +button(title="maps-local-play").compact.outlined
            +icon("maps-local-play")
        +button(title="maps-local-post-office").compact.outlined
            +icon("maps-local-post-office")
        +button(title="maps-local-print-shop").compact.outlined
            +icon("maps-local-print-shop")
        +button(title="maps-local-restaurant").compact.outlined
            +icon("maps-local-restaurant")
        +button(title="maps-local-see").compact.outlined
            +icon("maps-local-see")
        +button(title="maps-local-shipping").compact.outlined
            +icon("maps-local-shipping")
        +button(title="maps-local-taxi").compact.outlined
            +icon("maps-local-taxi")
        +button(title="maps-location-history").compact.outlined
            +icon("maps-location-history")
        +button(title="maps-map").compact.outlined
            +icon("maps-map")
        +button(title="maps-my-location").compact.outlined
            +icon("maps-my-location")
        +button(title="maps-navigation").compact.outlined
            +icon("maps-navigation")
        +button(title="maps-pin-drop").compact.outlined
            +icon("maps-pin-drop")
        +button(title="maps-place").compact.outlined
            +icon("maps-place")
        +button(title="maps-rate-review").compact.outlined
            +icon("maps-rate-review")
        +button(title="maps-restaurant-menu").compact.outlined
            +icon("maps-restaurant-menu")
        +button(title="maps-satellite").compact.outlined
            +icon("maps-satellite")
        +button(title="maps-store-mall-directory").compact.outlined
            +icon("maps-store-mall-directory")
        +button(title="maps-terrain").compact.outlined
            +icon("maps-terrain")
        +button(title="maps-traffic").compact.outlined
            +icon("maps-traffic")

    +divider Navigation

    .multiple
        +button(title="navigation-apps").compact.outlined
            +icon("navigation-apps")
        +button(title="navigation-cancel").compact.outlined
            +icon("navigation-cancel")
        +button(title="navigation-arrow-drop-down-circle").compact.outlined
            +icon("navigation-arrow-drop-down-circle")
        +button(title="navigation-arrow-drop-down").compact.outlined
            +icon("navigation-arrow-drop-down")
        +button(title="navigation-arrow-drop-up").compact.outlined
            +icon("navigation-arrow-drop-up")
        +button(title="navigation-arrow-back").compact.outlined
            +icon("navigation-arrow-back")
        +button(title="navigation-arrow-forward").compact.outlined
            +icon("navigation-arrow-forward")
        +button(title="navigation-check").compact.outlined
            +icon("navigation-check")
        +button(title="navigation-close").compact.outlined
            +icon("navigation-close")
        +button(title="navigation-chevron-left").compact.outlined
            +icon("navigation-chevron-left")
        +button(title="navigation-chevron-right").compact.outlined
            +icon("navigation-chevron-right")
        +button(title="navigation-expand-less").compact.outlined
            +icon("navigation-expand-less")
        +button(title="navigation-expand-more").compact.outlined
            +icon("navigation-expand-more")
        +button(title="navigation-fullscreen").compact.outlined
            +icon("navigation-fullscreen")
        +button(title="navigation-fullscreen-exit").compact.outlined
            +icon("navigation-fullscreen-exit")
        +button(title="navigation-menu").compact.outlined
            +icon("navigation-menu")
        +button(title="navigation-more-horiz").compact.outlined
            +icon("navigation-more-horiz")
        +button(title="navigation-more-vert").compact.outlined
            +icon("navigation-more-vert")
        +button(title="navigation-refresh").compact.outlined
            +icon("navigation-refresh")
        +button(title="navigation-unfold-less").compact.outlined
            +icon("navigation-unfold-less")
        +button(title="navigation-unfold-more").compact.outlined
            +icon("navigation-unfold-more")

    +divider Notification

    .multiple
        +button(title="notification-adb").compact.outlined
            +icon("notification-adb")
        +button(title="notification-bluetooth-audio").compact.outlined
            +icon("notification-bluetooth-audio")
        +button(title="notification-disc-full").compact.outlined
            +icon("notification-disc-full")
        +button(title="notification-dnd-forwardslash").compact.outlined
            +icon("notification-dnd-forwardslash")
        +button(title="notification-do-not-disturb").compact.outlined
            +icon("notification-do-not-disturb")
        +button(title="notification-drive-eta").compact.outlined
            +icon("notification-drive-eta")
        +button(title="notification-event-available").compact.outlined
            +icon("notification-event-available")
        +button(title="notification-event-busy").compact.outlined
            +icon("notification-event-busy")
        +button(title="notification-event-note").compact.outlined
            +icon("notification-event-note")
        +button(title="notification-folder-special").compact.outlined
            +icon("notification-folder-special")
        +button(title="notification-mms").compact.outlined
            +icon("notification-mms")
        +button(title="notification-more").compact.outlined
            +icon("notification-more")
        +button(title="notification-network-locked").compact.outlined
            +icon("notification-network-locked")
        +button(title="notification-phone-bluetooth-speaker").compact.outlined
            +icon("notification-phone-bluetooth-speaker")
        +button(title="notification-phone-forwarded").compact.outlined
            +icon("notification-phone-forwarded")
        +button(title="notification-phone-in-talk").compact.outlined
            +icon("notification-phone-in-talk")
        +button(title="notification-phone-locked").compact.outlined
            +icon("notification-phone-locked")
        +button(title="notification-phone-missed").compact.outlined
            +icon("notification-phone-missed")
        +button(title="notification-phone-paused").compact.outlined
            +icon("notification-phone-paused")
        +button(title="notification-play-download").compact.outlined
            +icon("notification-play-download")
        +button(title="notification-play-install").compact.outlined
            +icon("notification-play-install")
        +button(title="notification-sd-card").compact.outlined
            +icon("notification-sd-card")
        +button(title="notification-sim-card-alert").compact.outlined
            +icon("notification-sim-card-alert")
        +button(title="notification-sms").compact.outlined
            +icon("notification-sms")
        +button(title="notification-sms-failed").compact.outlined
            +icon("notification-sms-failed")
        +button(title="notification-sync").compact.outlined
            +icon("notification-sync")
        +button(title="notification-sync-disabled").compact.outlined
            +icon("notification-sync-disabled")
        +button(title="notification-sync-problem").compact.outlined
            +icon("notification-sync-problem")
        +button(title="notification-system-update").compact.outlined
            +icon("notification-system-update")
        +button(title="notification-tap-and-play").compact.outlined
            +icon("notification-tap-and-play")
        +button(title="notification-time-to-leave").compact.outlined
            +icon("notification-time-to-leave")
        +button(title="notification-vibration").compact.outlined
            +icon("notification-vibration")
        +button(title="notification-voice-chat").compact.outlined
            +icon("notification-voice-chat")
        +button(title="notification-vpn-lock").compact.outlined
            +icon("notification-vpn-lock")

    +divider Social

    .multiple
        +button(title="social-cake").compact.outlined
            +icon("social-cake")
        +button(title="social-domain").compact.outlined
            +icon("social-domain")
        +button(title="social-location-city").compact.outlined
            +icon("social-location-city")
        +button(title="social-mood").compact.outlined
            +icon("social-mood")
        +button(title="social-notifications-none").compact.outlined
            +icon("social-notifications-none")
        +button(title="social-notifications").compact.outlined
            +icon("social-notifications")
        +button(title="social-notifications-off").compact.outlined
            +icon("social-notifications-off")
        +button(title="social-notifications-on").compact.outlined
            +icon("social-notifications-on")
        +button(title="social-notifications-paused").compact.outlined
            +icon("social-notifications-paused")
        +button(title="social-pages").compact.outlined
            +icon("social-pages")
        +button(title="social-party-mode").compact.outlined
            +icon("social-party-mode")
        +button(title="social-group").compact.outlined
            +icon("social-group")
        +button(title="social-group-add").compact.outlined
            +icon("social-group-add")
        +button(title="social-people").compact.outlined
            +icon("social-people")
        +button(title="social-people-outline").compact.outlined
            +icon("social-people-outline")
        +button(title="social-person").compact.outlined
            +icon("social-person")
        +button(title="social-person-add").compact.outlined
            +icon("social-person-add")
        +button(title="social-person-outline").compact.outlined
            +icon("social-person-outline")
        +button(title="social-plus-one").compact.outlined
            +icon("social-plus-one")
        +button(title="social-poll").compact.outlined
            +icon("social-poll")
        +button(title="social-public").compact.outlined
            +icon("social-public")
        +button(title="social-school").compact.outlined
            +icon("social-school")
        +button(title="social-share").compact.outlined
            +icon("social-share")
        +button(title="social-whatshot").compact.outlined
            +icon("social-whatshot")

    +divider Toggle

    .multiple
        +button(title="toggle-check-box").compact.outlined
            +icon("toggle-check-box")
        +button(title="toggle-check-box-outline-blank").compact.outlined
            +icon("toggle-check-box-outline-blank")
        +button(title="toggle-radio-button-off").compact.outlined
            +icon("toggle-radio-button-off")
        +button(title="toggle-radio-button-on").compact.outlined
            +icon("toggle-radio-button-on")
        +button(title="toggle-star").compact.outlined
            +icon("toggle-star")
        +button(title="toggle-star-half").compact.outlined
            +icon("toggle-star-half")
        +button(title="toggle-star-outline").compact.outlined
            +icon("toggle-star-outline")
