//- css/icons.jade

extends ../../layout.jade

append content
    +divider Action

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("action-3d-rotation")
            +button.actionable.compact.outlined
                +icon("action-accessibility")
            +button.actionable.compact.outlined
                +icon("action-account-balance")
            +button.actionable.compact.outlined
                +icon("action-account-balance-wallet")
            +button.actionable.compact.outlined
                +icon("action-account-box")
            +button.actionable.compact.outlined
                +icon("action-account-child")
            +button.actionable.compact.outlined
                +icon("action-account-circle")
            +button.actionable.compact.outlined
                +icon("action-add-shopping-cart")
            +button.actionable.compact.outlined
                +icon("action-alarm")
            +button.actionable.compact.outlined
                +icon("action-alarm-add")
            +button.actionable.compact.outlined
                +icon("action-alarm-off")
            +button.actionable.compact.outlined
                +icon("action-alarm-on")
            +button.actionable.compact.outlined
                +icon("action-android")
            +button.actionable.compact.outlined
                +icon("action-announcement")
            +button.actionable.compact.outlined
                +icon("action-aspect-ratio")
            +button.actionable.compact.outlined
                +icon("action-assessment")
            +button.actionable.compact.outlined
                +icon("action-assignment")
            +button.actionable.compact.outlined
                +icon("action-assignment-ind")
            +button.actionable.compact.outlined
                +icon("action-assignment-late")
            +button.actionable.compact.outlined
                +icon("action-assignment-return")
            +button.actionable.compact.outlined
                +icon("action-assignment-returned")
            +button.actionable.compact.outlined
                +icon("action-assignment-turned-in")
            +button.actionable.compact.outlined
                +icon("action-autorenew")
            +button.actionable.compact.outlined
                +icon("action-backup")
            +button.actionable.compact.outlined
                +icon("action-book")
            +button.actionable.compact.outlined
                +icon("action-bookmark")
            +button.actionable.compact.outlined
                +icon("action-bookmark-outline")
            +button.actionable.compact.outlined
                +icon("action-bug-report")
            +button.actionable.compact.outlined
                +icon("action-cached")
            +button.actionable.compact.outlined
                +icon("action-class")
            +button.actionable.compact.outlined
                +icon("action-credit-card")
            +button.actionable.compact.outlined
                +icon("action-dashboard")
            +button.actionable.compact.outlined
                +icon("action-delete")
            +button.actionable.compact.outlined
                +icon("action-description")
            +button.actionable.compact.outlined
                +icon("action-dns")
            +button.actionable.compact.outlined
                +icon("action-done")
            +button.actionable.compact.outlined
                +icon("action-done-all")
            +button.actionable.compact.outlined
                +icon("action-event")
            +button.actionable.compact.outlined
                +icon("action-exit-to-app")
            +button.actionable.compact.outlined
                +icon("action-explore")
            +button.actionable.compact.outlined
                +icon("action-extension")
            +button.actionable.compact.outlined
                +icon("action-face-unlock")
            +button.actionable.compact.outlined
                +icon("action-favorite")
            +button.actionable.compact.outlined
                +icon("action-favorite-outline")
            +button.actionable.compact.outlined
                +icon("action-find-in-page")
            +button.actionable.compact.outlined
                +icon("action-find-replace")
            +button.actionable.compact.outlined
                +icon("action-flip-to-back")
            +button.actionable.compact.outlined
                +icon("action-flip-to-front")
            +button.actionable.compact.outlined
                +icon("action-get-app")
            +button.actionable.compact.outlined
                +icon("action-grade")
            +button.actionable.compact.outlined
                +icon("action-group-work")
            +button.actionable.compact.outlined
                +icon("action-help")
            +button.actionable.compact.outlined
                +icon("action-highlight-remove")
            +button.actionable.compact.outlined
                +icon("action-history")
            +button.actionable.compact.outlined
                +icon("action-home")
            +button.actionable.compact.outlined
                +icon("action-https")
            +button.actionable.compact.outlined
                +icon("action-info")
            +button.actionable.compact.outlined
                +icon("action-info-outline")
            +button.actionable.compact.outlined
                +icon("action-input")
            +button.actionable.compact.outlined
                +icon("action-invert-colors")
            +button.actionable.compact.outlined
                +icon("action-label")
            +button.actionable.compact.outlined
                +icon("action-label-outline")
            +button.actionable.compact.outlined
                +icon("action-language")
            +button.actionable.compact.outlined
                +icon("action-launch")
            +button.actionable.compact.outlined
                +icon("action-list")
            +button.actionable.compact.outlined
                +icon("action-lock")
            +button.actionable.compact.outlined
                +icon("action-lock-open")
            +button.actionable.compact.outlined
                +icon("action-lock-outline")
            +button.actionable.compact.outlined
                +icon("action-loyalty")
            +button.actionable.compact.outlined
                +icon("action-markunread-mailbox")
            +button.actionable.compact.outlined
                +icon("action-note-add")
            +button.actionable.compact.outlined
                +icon("action-open-in-browser")
            +button.actionable.compact.outlined
                +icon("action-open-in-new")
            +button.actionable.compact.outlined
                +icon("action-open-with")
            +button.actionable.compact.outlined
                +icon("action-pageview")
            +button.actionable.compact.outlined
                +icon("action-payment")
            +button.actionable.compact.outlined
                +icon("action-perm-camera-mic")
            +button.actionable.compact.outlined
                +icon("action-perm-contact-cal")
            +button.actionable.compact.outlined
                +icon("action-perm-data-setting")
            +button.actionable.compact.outlined
                +icon("action-perm-device-info")
            +button.actionable.compact.outlined
                +icon("action-perm-identity")
            +button.actionable.compact.outlined
                +icon("action-perm-media")
            +button.actionable.compact.outlined
                +icon("action-perm-phone-msg")
            +button.actionable.compact.outlined
                +icon("action-perm-scan-wifi")
            +button.actionable.compact.outlined
                +icon("action-picture-in-picture")
            +button.actionable.compact.outlined
                +icon("action-polymer")
            +button.actionable.compact.outlined
                +icon("action-print")
            +button.actionable.compact.outlined
                +icon("action-query-builder")
            +button.actionable.compact.outlined
                +icon("action-question-answer")
            +button.actionable.compact.outlined
                +icon("action-receipt")
            +button.actionable.compact.outlined
                +icon("action-redeem")
            +button.actionable.compact.outlined
                +icon("action-report-problem")
            +button.actionable.compact.outlined
                +icon("action-restore")
            +button.actionable.compact.outlined
                +icon("action-room")
            +button.actionable.compact.outlined
                +icon("action-schedule")
            +button.actionable.compact.outlined
                +icon("action-search")
            +button.actionable.compact.outlined
                +icon("action-settings")
            +button.actionable.compact.outlined
                +icon("action-settings-applications")
            +button.actionable.compact.outlined
                +icon("action-settings-backup-restore")
            +button.actionable.compact.outlined
                +icon("action-settings-bluetooth")
            +button.actionable.compact.outlined
                +icon("action-settings-cell")
            +button.actionable.compact.outlined
                +icon("action-settings-display")
            +button.actionable.compact.outlined
                +icon("action-settings-ethernet")
            +button.actionable.compact.outlined
                +icon("action-settings-input-antenna")
            +button.actionable.compact.outlined
                +icon("action-settings-input-component")
            +button.actionable.compact.outlined
                +icon("action-settings-input-composite")
            +button.actionable.compact.outlined
                +icon("action-settings-input-hdmi")
            +button.actionable.compact.outlined
                +icon("action-settings-input-svideo")
            +button.actionable.compact.outlined
                +icon("action-settings-overscan")
            +button.actionable.compact.outlined
                +icon("action-settings-phone")
            +button.actionable.compact.outlined
                +icon("action-settings-power")
            +button.actionable.compact.outlined
                +icon("action-settings-remote")
            +button.actionable.compact.outlined
                +icon("action-settings-voice")
            +button.actionable.compact.outlined
                +icon("action-shop")
            +button.actionable.compact.outlined
                +icon("action-shopping-basket")
            +button.actionable.compact.outlined
                +icon("action-shopping-cart")
            +button.actionable.compact.outlined
                +icon("action-shop-two")
            +button.actionable.compact.outlined
                +icon("action-speaker-notes")
            +button.actionable.compact.outlined
                +icon("action-spellcheck")
            +button.actionable.compact.outlined
                +icon("action-star-rate")
            +button.actionable.compact.outlined
                +icon("action-stars")
            +button.actionable.compact.outlined
                +icon("action-store")
            +button.actionable.compact.outlined
                +icon("action-subject")
            +button.actionable.compact.outlined
                +icon("action-swap-horiz")
            +button.actionable.compact.outlined
                +icon("action-swap-vert")
            +button.actionable.compact.outlined
                +icon("action-swap-vert-circle")
            +button.actionable.compact.outlined
                +icon("action-system-update-tv")
            +button.actionable.compact.outlined
                +icon("action-tab")
            +button.actionable.compact.outlined
                +icon("action-tab-unselected")
            +button.actionable.compact.outlined
                +icon("action-theaters")
            +button.actionable.compact.outlined
                +icon("action-thumb-down")
            +button.actionable.compact.outlined
                +icon("action-thumbs-up-down")
            +button.actionable.compact.outlined
                +icon("action-thumb-up")
            +button.actionable.compact.outlined
                +icon("action-toc")
            +button.actionable.compact.outlined
                +icon("action-today")
            +button.actionable.compact.outlined
                +icon("action-track-changes")
            +button.actionable.compact.outlined
                +icon("action-translate")
            +button.actionable.compact.outlined
                +icon("action-trending-down")
            +button.actionable.compact.outlined
                +icon("action-trending-neutral")
            +button.actionable.compact.outlined
                +icon("action-trending-up")
            +button.actionable.compact.outlined
                +icon("action-turned-in")
            +button.actionable.compact.outlined
                +icon("action-turned-in-not")
            +button.actionable.compact.outlined
                +icon("action-verified-user")
            +button.actionable.compact.outlined
                +icon("action-view-agenda")
            +button.actionable.compact.outlined
                +icon("action-view-array")
            +button.actionable.compact.outlined
                +icon("action-view-carousel")
            +button.actionable.compact.outlined
                +icon("action-view-column")
            +button.actionable.compact.outlined
                +icon("action-view-day")
            +button.actionable.compact.outlined
                +icon("action-view-headline")
            +button.actionable.compact.outlined
                +icon("action-view-list")
            +button.actionable.compact.outlined
                +icon("action-view-module")
            +button.actionable.compact.outlined
                +icon("action-view-quilt")
            +button.actionable.compact.outlined
                +icon("action-view-stream")
            +button.actionable.compact.outlined
                +icon("action-view-week")
            +button.actionable.compact.outlined
                +icon("action-visibility")
            +button.actionable.compact.outlined
                +icon("action-visibility-off")
            +button.actionable.compact.outlined
                +icon("action-wallet-giftcard")
            +button.actionable.compact.outlined
                +icon("action-wallet-membership")
            +button.actionable.compact.outlined
                +icon("action-wallet-travel")
            +button.actionable.compact.outlined
                +icon("action-work")

    +divider Alert

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("alert-error")
            +button.actionable.compact.outlined
                +icon("alert-warning")

    +divider Audio / Video

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("av-album")
            +button.actionable.compact.outlined
                +icon("av-timer")
            +button.actionable.compact.outlined
                +icon("av-closed-caption")
            +button.actionable.compact.outlined
                +icon("av-equalizer")
            +button.actionable.compact.outlined
                +icon("av-explicit")
            +button.actionable.compact.outlined
                +icon("av-fast-forward")
            +button.actionable.compact.outlined
                +icon("av-fast-rewind")
            +button.actionable.compact.outlined
                +icon("av-games")
            +button.actionable.compact.outlined
                +icon("av-hearing")
            +button.actionable.compact.outlined
                +icon("av-high-quality")
            +button.actionable.compact.outlined
                +icon("av-loop")
            +button.actionable.compact.outlined
                +icon("av-mic")
            +button.actionable.compact.outlined
                +icon("av-mic-none")
            +button.actionable.compact.outlined
                +icon("av-mic-off")
            +button.actionable.compact.outlined
                +icon("av-movie")
            +button.actionable.compact.outlined
                +icon("av-my-library-add")
            +button.actionable.compact.outlined
                +icon("av-my-library-books")
            +button.actionable.compact.outlined
                +icon("av-my-library-music")
            +button.actionable.compact.outlined
                +icon("av-new-releases")
            +button.actionable.compact.outlined
                +icon("av-not-interested")
            +button.actionable.compact.outlined
                +icon("av-pause")
            +button.actionable.compact.outlined
                +icon("av-pause-circle-fill")
            +button.actionable.compact.outlined
                +icon("av-pause-circle-outline")
            +button.actionable.compact.outlined
                +icon("av-play-arrow")
            +button.actionable.compact.outlined
                +icon("av-play-circle-fill")
            +button.actionable.compact.outlined
                +icon("av-play-circle-outline")
            +button.actionable.compact.outlined
                +icon("av-playlist-add")
            +button.actionable.compact.outlined
                +icon("av-play-shopping-bag")
            +button.actionable.compact.outlined
                +icon("av-queue")
            +button.actionable.compact.outlined
                +icon("av-queue-music")
            +button.actionable.compact.outlined
                +icon("av-radio")
            +button.actionable.compact.outlined
                +icon("av-recent-actors")
            +button.actionable.compact.outlined
                +icon("av-repeat")
            +button.actionable.compact.outlined
                +icon("av-repeat-one")
            +button.actionable.compact.outlined
                +icon("av-replay")
            +button.actionable.compact.outlined
                +icon("av-shuffle")
            +button.actionable.compact.outlined
                +icon("av-skip-next")
            +button.actionable.compact.outlined
                +icon("av-skip-previous")
            +button.actionable.compact.outlined
                +icon("av-snooze")
            +button.actionable.compact.outlined
                +icon("av-stop")
            +button.actionable.compact.outlined
                +icon("av-subtitles")
            +button.actionable.compact.outlined
                +icon("av-surround-sound")
            +button.actionable.compact.outlined
                +icon("av-videocam")
            +button.actionable.compact.outlined
                +icon("av-videocam-off")
            +button.actionable.compact.outlined
                +icon("av-video-collection")
            +button.actionable.compact.outlined
                +icon("av-volume-down")
            +button.actionable.compact.outlined
                +icon("av-volume-mute")
            +button.actionable.compact.outlined
                +icon("av-volume-off")
            +button.actionable.compact.outlined
                +icon("av-volume-up")
            +button.actionable.compact.outlined
                +icon("av-web")

    +divider Communication

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("communication-business")
            +button.actionable.compact.outlined
                +icon("communication-call")
            +button.actionable.compact.outlined
                +icon("communication-call-end")
            +button.actionable.compact.outlined
                +icon("communication-call-made")
            +button.actionable.compact.outlined
                +icon("communication-call-merge")
            +button.actionable.compact.outlined
                +icon("communication-call-missed")
            +button.actionable.compact.outlined
                +icon("communication-call-received")
            +button.actionable.compact.outlined
                +icon("communication-call-split")
            +button.actionable.compact.outlined
                +icon("communication-chat")
            +button.actionable.compact.outlined
                +icon("communication-clear-all")
            +button.actionable.compact.outlined
                +icon("communication-comment")
            +button.actionable.compact.outlined
                +icon("communication-contacts")
            +button.actionable.compact.outlined
                +icon("communication-dialer-sip")
            +button.actionable.compact.outlined
                +icon("communication-dialpad")
            +button.actionable.compact.outlined
                +icon("communication-dnd-on")
            +button.actionable.compact.outlined
                +icon("communication-email")
            +button.actionable.compact.outlined
                +icon("communication-forum")
            +button.actionable.compact.outlined
                +icon("communication-import-export")
            +button.actionable.compact.outlined
                +icon("communication-invert-colors-off")
            +button.actionable.compact.outlined
                +icon("communication-invert-colors-on")
            +button.actionable.compact.outlined
                +icon("communication-live-help")
            +button.actionable.compact.outlined
                +icon("communication-location-off")
            +button.actionable.compact.outlined
                +icon("communication-location-on")
            +button.actionable.compact.outlined
                +icon("communication-message")
            +button.actionable.compact.outlined
                +icon("communication-messenger")
            +button.actionable.compact.outlined
                +icon("communication-no-sim")
            +button.actionable.compact.outlined
                +icon("communication-phone")
            +button.actionable.compact.outlined
                +icon("communication-portable-wifi-off")
            +button.actionable.compact.outlined
                +icon("communication-quick-contacts-dialer")
            +button.actionable.compact.outlined
                +icon("communication-quick-contacts-mail")
            +button.actionable.compact.outlined
                +icon("communication-ring-volume")
            +button.actionable.compact.outlined
                +icon("communication-stay-current-landscape")
            +button.actionable.compact.outlined
                +icon("communication-stay-current-portrait")
            +button.actionable.compact.outlined
                +icon("communication-stay-primary-landscape")
            +button.actionable.compact.outlined
                +icon("communication-stay-primary-portrait")
            +button.actionable.compact.outlined
                +icon("communication-swap-calls")
            +button.actionable.compact.outlined
                +icon("communication-textsms")
            +button.actionable.compact.outlined
                +icon("communication-voicemail")
            +button.actionable.compact.outlined
                +icon("communication-vpn-key")

    +divider Content

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("content-add")
            +button.actionable.compact.outlined
                +icon("content-add-box")
            +button.actionable.compact.outlined
                +icon("content-add-circle")
            +button.actionable.compact.outlined
                +icon("content-add-circle-outline")
            +button.actionable.compact.outlined
                +icon("content-archive")
            +button.actionable.compact.outlined
                +icon("content-backspace")
            +button.actionable.compact.outlined
                +icon("content-block")
            +button.actionable.compact.outlined
                +icon("content-clear")
            +button.actionable.compact.outlined
                +icon("content-content-copy")
            +button.actionable.compact.outlined
                +icon("content-content-cut")
            +button.actionable.compact.outlined
                +icon("content-content-paste")
            +button.actionable.compact.outlined
                +icon("content-create")
            +button.actionable.compact.outlined
                +icon("content-drafts")
            +button.actionable.compact.outlined
                +icon("content-filter-list")
            +button.actionable.compact.outlined
                +icon("content-flag")
            +button.actionable.compact.outlined
                +icon("content-forward")
            +button.actionable.compact.outlined
                +icon("content-gesture")
            +button.actionable.compact.outlined
                +icon("content-inbox")
            +button.actionable.compact.outlined
                +icon("content-link")
            +button.actionable.compact.outlined
                +icon("content-mail")
            +button.actionable.compact.outlined
                +icon("content-markunread")
            +button.actionable.compact.outlined
                +icon("content-redo")
            +button.actionable.compact.outlined
                +icon("content-remove")
            +button.actionable.compact.outlined
                +icon("content-remove-circle")
            +button.actionable.compact.outlined
                +icon("content-remove-circle-outline")
            +button.actionable.compact.outlined
                +icon("content-reply")
            +button.actionable.compact.outlined
                +icon("content-reply-all")
            +button.actionable.compact.outlined
                +icon("content-report")
            +button.actionable.compact.outlined
                +icon("content-save")
            +button.actionable.compact.outlined
                +icon("content-select-all")
            +button.actionable.compact.outlined
                +icon("content-send")
            +button.actionable.compact.outlined
                +icon("content-sort")
            +button.actionable.compact.outlined
                +icon("content-text-format")
            +button.actionable.compact.outlined
                +icon("content-undo")

    +divider Device

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("device-access-alarm")
            +button.actionable.compact.outlined
                +icon("device-access-alarms")
            +button.actionable.compact.outlined
                +icon("device-access-time")
            +button.actionable.compact.outlined
                +icon("device-add-alarm")
            +button.actionable.compact.outlined
                +icon("device-airplanemode-off")
            +button.actionable.compact.outlined
                +icon("device-airplanemode-on")
            +button.actionable.compact.outlined
                +icon("device-battery-20")
            +button.actionable.compact.outlined
                +icon("device-battery-30")
            +button.actionable.compact.outlined
                +icon("device-battery-50")
            +button.actionable.compact.outlined
                +icon("device-battery-60")
            +button.actionable.compact.outlined
                +icon("device-battery-80")
            +button.actionable.compact.outlined
                +icon("device-battery-90")
            +button.actionable.compact.outlined
                +icon("device-battery-alert")
            +button.actionable.compact.outlined
                +icon("device-battery-charging-20")
            +button.actionable.compact.outlined
                +icon("device-battery-charging-30")
            +button.actionable.compact.outlined
                +icon("device-battery-charging-50")
            +button.actionable.compact.outlined
                +icon("device-battery-charging-60")
            +button.actionable.compact.outlined
                +icon("device-battery-charging-80")
            +button.actionable.compact.outlined
                +icon("device-battery-charging-90")
            +button.actionable.compact.outlined
                +icon("device-battery-charging-full")
            +button.actionable.compact.outlined
                +icon("device-battery-full")
            +button.actionable.compact.outlined
                +icon("device-battery-std")
            +button.actionable.compact.outlined
                +icon("device-battery-unknown")
            +button.actionable.compact.outlined
                +icon("device-bluetooth")
            +button.actionable.compact.outlined
                +icon("device-bluetooth-connected")
            +button.actionable.compact.outlined
                +icon("device-bluetooth-disabled")
            +button.actionable.compact.outlined
                +icon("device-bluetooth-searching")
            +button.actionable.compact.outlined
                +icon("device-brightness-auto")
            +button.actionable.compact.outlined
                +icon("device-brightness-high")
            +button.actionable.compact.outlined
                +icon("device-brightness-low")
            +button.actionable.compact.outlined
                +icon("device-brightness-medium")
            +button.actionable.compact.outlined
                +icon("device-data-usage")
            +button.actionable.compact.outlined
                +icon("device-developer-mode")
            +button.actionable.compact.outlined
                +icon("device-devices")
            +button.actionable.compact.outlined
                +icon("device-dvr")
            +button.actionable.compact.outlined
                +icon("device-gps-fixed")
            +button.actionable.compact.outlined
                +icon("device-gps-not-fixed")
            +button.actionable.compact.outlined
                +icon("device-gps-off")
            +button.actionable.compact.outlined
                +icon("device-location-disabled")
            +button.actionable.compact.outlined
                +icon("device-location-searching")
            +button.actionable.compact.outlined
                +icon("device-multitrack-audio")
            +button.actionable.compact.outlined
                +icon("device-network-cell")
            +button.actionable.compact.outlined
                +icon("device-network-wifi")
            +button.actionable.compact.outlined
                +icon("device-nfc")
            +button.actionable.compact.outlined
                +icon("device-now-wallpaper")
            +button.actionable.compact.outlined
                +icon("device-now-widgets")
            +button.actionable.compact.outlined
                +icon("device-screen-lock-landscape")
            +button.actionable.compact.outlined
                +icon("device-screen-lock-portrait")
            +button.actionable.compact.outlined
                +icon("device-screen-lock-rotation")
            +button.actionable.compact.outlined
                +icon("device-screen-rotation")
            +button.actionable.compact.outlined
                +icon("device-sd-storage")
            +button.actionable.compact.outlined
                +icon("device-settings-system-daydream")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-0-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-1-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-2-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-3-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-4-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-connected-no-internet-0-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-connected-no-internet-1-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-connected-no-internet-2-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-connected-no-internet-3-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-connected-no-internet-4-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-no-sim")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-null")
            +button.actionable.compact.outlined
                +icon("device-signal-cellular-off")
            +button.actionable.compact.outlined
                +icon("device-signal-wifi-0-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-wifi-1-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-wifi-2-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-wifi-3-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-wifi-4-bar")
            +button.actionable.compact.outlined
                +icon("device-signal-wifi-off")
            +button.actionable.compact.outlined
                +icon("device-storage")
            +button.actionable.compact.outlined
                +icon("device-usb")
            +button.actionable.compact.outlined
                +icon("device-wifi-lock")
            +button.actionable.compact.outlined
                +icon("device-wifi-tethering")

    +divider Editor

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("editor-attach-file")
            +button.actionable.compact.outlined
                +icon("editor-attach-money")
            +button.actionable.compact.outlined
                +icon("editor-border-all")
            +button.actionable.compact.outlined
                +icon("editor-border-bottom")
            +button.actionable.compact.outlined
                +icon("editor-border-clear")
            +button.actionable.compact.outlined
                +icon("editor-border-color")
            +button.actionable.compact.outlined
                +icon("editor-border-horizontal")
            +button.actionable.compact.outlined
                +icon("editor-border-inner")
            +button.actionable.compact.outlined
                +icon("editor-border-left")
            +button.actionable.compact.outlined
                +icon("editor-border-outer")
            +button.actionable.compact.outlined
                +icon("editor-border-right")
            +button.actionable.compact.outlined
                +icon("editor-border-style")
            +button.actionable.compact.outlined
                +icon("editor-border-top")
            +button.actionable.compact.outlined
                +icon("editor-border-vertical")
            +button.actionable.compact.outlined
                +icon("editor-format-align-center")
            +button.actionable.compact.outlined
                +icon("editor-format-align-justify")
            +button.actionable.compact.outlined
                +icon("editor-format-align-left")
            +button.actionable.compact.outlined
                +icon("editor-format-align-right")
            +button.actionable.compact.outlined
                +icon("editor-format-bold")
            +button.actionable.compact.outlined
                +icon("editor-format-clear")
            +button.actionable.compact.outlined
                +icon("editor-format-color-fill")
            +button.actionable.compact.outlined
                +icon("editor-format-color-reset")
            +button.actionable.compact.outlined
                +icon("editor-format-color-text")
            +button.actionable.compact.outlined
                +icon("editor-format-indent-decrease")
            +button.actionable.compact.outlined
                +icon("editor-format-indent-increase")
            +button.actionable.compact.outlined
                +icon("editor-format-italic")
            +button.actionable.compact.outlined
                +icon("editor-format-line-spacing")
            +button.actionable.compact.outlined
                +icon("editor-format-list-bulleted")
            +button.actionable.compact.outlined
                +icon("editor-format-list-numbered")
            +button.actionable.compact.outlined
                +icon("editor-format-paint")
            +button.actionable.compact.outlined
                +icon("editor-format-quote")
            +button.actionable.compact.outlined
                +icon("editor-format-size")
            +button.actionable.compact.outlined
                +icon("editor-format-strikethrough")
            +button.actionable.compact.outlined
                +icon("editor-format-textdirection-l-to-r")
            +button.actionable.compact.outlined
                +icon("editor-format-textdirection-r-to-l")
            +button.actionable.compact.outlined
                +icon("editor-format-underline")
            +button.actionable.compact.outlined
                +icon("editor-functions")
            +button.actionable.compact.outlined
                +icon("editor-insert-chart")
            +button.actionable.compact.outlined
                +icon("editor-insert-comment")
            +button.actionable.compact.outlined
                +icon("editor-insert-drive-file")
            +button.actionable.compact.outlined
                +icon("editor-insert-emoticon")
            +button.actionable.compact.outlined
                +icon("editor-insert-invitation")
            +button.actionable.compact.outlined
                +icon("editor-insert-link")
            +button.actionable.compact.outlined
                +icon("editor-insert-photo")
            +button.actionable.compact.outlined
                +icon("editor-merge-type")
            +button.actionable.compact.outlined
                +icon("editor-mode-comment")
            +button.actionable.compact.outlined
                +icon("editor-mode-edit")
            +button.actionable.compact.outlined
                +icon("editor-publish")
            +button.actionable.compact.outlined
                +icon("editor-vertical-align-bottom")
            +button.actionable.compact.outlined
                +icon("editor-vertical-align-center")
            +button.actionable.compact.outlined
                +icon("editor-vertical-align-top")
            +button.actionable.compact.outlined
                +icon("editor-wrap-text")

    +divider File

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("file-attachment")
            +button.actionable.compact.outlined
                +icon("file-cloud")
            +button.actionable.compact.outlined
                +icon("file-cloud-circle")
            +button.actionable.compact.outlined
                +icon("file-cloud-done")
            +button.actionable.compact.outlined
                +icon("file-cloud-download")
            +button.actionable.compact.outlined
                +icon("file-cloud-off")
            +button.actionable.compact.outlined
                +icon("file-cloud-queue")
            +button.actionable.compact.outlined
                +icon("file-cloud-upload")
            +button.actionable.compact.outlined
                +icon("file-file-download")
            +button.actionable.compact.outlined
                +icon("file-file-upload")
            +button.actionable.compact.outlined
                +icon("file-folder")
            +button.actionable.compact.outlined
                +icon("file-folder-open")
            +button.actionable.compact.outlined
                +icon("file-folder-shared")

    +divider Hardware

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("hardware-cast")
            +button.actionable.compact.outlined
                +icon("hardware-cast-connected")
            +button.actionable.compact.outlined
                +icon("hardware-computer")
            +button.actionable.compact.outlined
                +icon("hardware-desktop-mac")
            +button.actionable.compact.outlined
                +icon("hardware-desktop-windows")
            +button.actionable.compact.outlined
                +icon("hardware-dock")
            +button.actionable.compact.outlined
                +icon("hardware-gamepad")
            +button.actionable.compact.outlined
                +icon("hardware-headset")
            +button.actionable.compact.outlined
                +icon("hardware-headset-mic")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-alt")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-arrow-down")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-arrow-left")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-arrow-right")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-arrow-up")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-backspace")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-capslock")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-control")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-hide")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-return")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-tab")
            +button.actionable.compact.outlined
                +icon("hardware-keyboard-voice")
            +button.actionable.compact.outlined
                +icon("hardware-laptop")
            +button.actionable.compact.outlined
                +icon("hardware-laptop-chromebook")
            +button.actionable.compact.outlined
                +icon("hardware-laptop-mac")
            +button.actionable.compact.outlined
                +icon("hardware-laptop-windows")
            +button.actionable.compact.outlined
                +icon("hardware-memory")
            +button.actionable.compact.outlined
                +icon("hardware-mouse")
            +button.actionable.compact.outlined
                +icon("hardware-phone-android")
            +button.actionable.compact.outlined
                +icon("hardware-phone-iphone")
            +button.actionable.compact.outlined
                +icon("hardware-phonelink")
            +button.actionable.compact.outlined
                +icon("hardware-phonelink-off")
            +button.actionable.compact.outlined
                +icon("hardware-security")
            +button.actionable.compact.outlined
                +icon("hardware-sim-card")
            +button.actionable.compact.outlined
                +icon("hardware-smartphone")
            +button.actionable.compact.outlined
                +icon("hardware-speaker")
            +button.actionable.compact.outlined
                +icon("hardware-tablet")
            +button.actionable.compact.outlined
                +icon("hardware-tablet-android")
            +button.actionable.compact.outlined
                +icon("hardware-tablet-mac")
            +button.actionable.compact.outlined
                +icon("hardware-tv")
            +button.actionable.compact.outlined
                +icon("hardware-watch")

    +divider Image

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("image-add-to-photos")
            +button.actionable.compact.outlined
                +icon("image-adjust")
            +button.actionable.compact.outlined
                +icon("image-assistant-photo")
            +button.actionable.compact.outlined
                +icon("image-audiotrack")
            +button.actionable.compact.outlined
                +icon("image-blur-circular")
            +button.actionable.compact.outlined
                +icon("image-blur-linear")
            +button.actionable.compact.outlined
                +icon("image-blur-off")
            +button.actionable.compact.outlined
                +icon("image-blur-on")
            +button.actionable.compact.outlined
                +icon("image-brightness-1")
            +button.actionable.compact.outlined
                +icon("image-brightness-2")
            +button.actionable.compact.outlined
                +icon("image-brightness-3")
            +button.actionable.compact.outlined
                +icon("image-brightness-4")
            +button.actionable.compact.outlined
                +icon("image-brightness-5")
            +button.actionable.compact.outlined
                +icon("image-brightness-6")
            +button.actionable.compact.outlined
                +icon("image-brightness-7")
            +button.actionable.compact.outlined
                +icon("image-brush")
            +button.actionable.compact.outlined
                +icon("image-camera")
            +button.actionable.compact.outlined
                +icon("image-camera-alt")
            +button.actionable.compact.outlined
                +icon("image-camera-front")
            +button.actionable.compact.outlined
                +icon("image-camera-rear")
            +button.actionable.compact.outlined
                +icon("image-camera-roll")
            +button.actionable.compact.outlined
                +icon("image-center-focus-strong")
            +button.actionable.compact.outlined
                +icon("image-center-focus-weak")
            +button.actionable.compact.outlined
                +icon("image-collections")
            +button.actionable.compact.outlined
                +icon("image-colorize")
            +button.actionable.compact.outlined
                +icon("image-color-lens")
            +button.actionable.compact.outlined
                +icon("image-compare")
            +button.actionable.compact.outlined
                +icon("image-control-point")
            +button.actionable.compact.outlined
                +icon("image-control-point-duplicate")
            +button.actionable.compact.outlined
                +icon("image-crop")
            +button.actionable.compact.outlined
                +icon("image-crop-3-2")
            +button.actionable.compact.outlined
                +icon("image-crop-5-4")
            +button.actionable.compact.outlined
                +icon("image-crop-7-5")
            +button.actionable.compact.outlined
                +icon("image-crop-16-9")
            +button.actionable.compact.outlined
                +icon("image-crop-din")
            +button.actionable.compact.outlined
                +icon("image-crop-free")
            +button.actionable.compact.outlined
                +icon("image-crop-landscape")
            +button.actionable.compact.outlined
                +icon("image-crop-original")
            +button.actionable.compact.outlined
                +icon("image-crop-portrait")
            +button.actionable.compact.outlined
                +icon("image-crop-square")
            +button.actionable.compact.outlined
                +icon("image-dehaze")
            +button.actionable.compact.outlined
                +icon("image-details")
            +button.actionable.compact.outlined
                +icon("image-edit")
            +button.actionable.compact.outlined
                +icon("image-exposure")
            +button.actionable.compact.outlined
                +icon("image-exposure-minus-1")
            +button.actionable.compact.outlined
                +icon("image-exposure-minus-2")
            +button.actionable.compact.outlined
                +icon("image-exposure-zero")
            +button.actionable.compact.outlined
                +icon("image-exposure-plus-1")
            +button.actionable.compact.outlined
                +icon("image-exposure-plus-2")
            +button.actionable.compact.outlined
                +icon("image-filter")
            +button.actionable.compact.outlined
                +icon("image-filter-1")
            +button.actionable.compact.outlined
                +icon("image-filter-2")
            +button.actionable.compact.outlined
                +icon("image-filter-3")
            +button.actionable.compact.outlined
                +icon("image-filter-4")
            +button.actionable.compact.outlined
                +icon("image-filter-5")
            +button.actionable.compact.outlined
                +icon("image-filter-6")
            +button.actionable.compact.outlined
                +icon("image-filter-7")
            +button.actionable.compact.outlined
                +icon("image-filter-8")
            +button.actionable.compact.outlined
                +icon("image-filter-9")
            +button.actionable.compact.outlined
                +icon("image-filter-9-plus")
            +button.actionable.compact.outlined
                +icon("image-filter-b-and-w")
            +button.actionable.compact.outlined
                +icon("image-filter-center-focus")
            +button.actionable.compact.outlined
                +icon("image-filter-drama")
            +button.actionable.compact.outlined
                +icon("image-filter-frames")
            +button.actionable.compact.outlined
                +icon("image-filter-hdr")
            +button.actionable.compact.outlined
                +icon("image-filter-none")
            +button.actionable.compact.outlined
                +icon("image-filter-tilt-shift")
            +button.actionable.compact.outlined
                +icon("image-filter-vintage")
            +button.actionable.compact.outlined
                +icon("image-flare")
            +button.actionable.compact.outlined
                +icon("image-flash-auto")
            +button.actionable.compact.outlined
                +icon("image-flash-off")
            +button.actionable.compact.outlined
                +icon("image-flash-on")
            +button.actionable.compact.outlined
                +icon("image-flip")
            +button.actionable.compact.outlined
                +icon("image-gradient")
            +button.actionable.compact.outlined
                +icon("image-grain")
            +button.actionable.compact.outlined
                +icon("image-grid-off")
            +button.actionable.compact.outlined
                +icon("image-grid-on")
            +button.actionable.compact.outlined
                +icon("image-hdr-off")
            +button.actionable.compact.outlined
                +icon("image-hdr-on")
            +button.actionable.compact.outlined
                +icon("image-hdr-strong")
            +button.actionable.compact.outlined
                +icon("image-hdr-weak")
            +button.actionable.compact.outlined
                +icon("image-healing")
            +button.actionable.compact.outlined
                +icon("image-image")
            +button.actionable.compact.outlined
                +icon("image-image-aspect-ratio")
            +button.actionable.compact.outlined
                +icon("image-iso")
            +button.actionable.compact.outlined
                +icon("image-landscape")
            +button.actionable.compact.outlined
                +icon("image-leak-add")
            +button.actionable.compact.outlined
                +icon("image-leak-remove")
            +button.actionable.compact.outlined
                +icon("image-lens")
            +button.actionable.compact.outlined
                +icon("image-looks")
            +button.actionable.compact.outlined
                +icon("image-looks-1")
            +button.actionable.compact.outlined
                +icon("image-looks-2")
            +button.actionable.compact.outlined
                +icon("image-looks-3")
            +button.actionable.compact.outlined
                +icon("image-looks-4")
            +button.actionable.compact.outlined
                +icon("image-looks-5")
            +button.actionable.compact.outlined
                +icon("image-looks-6")
            +button.actionable.compact.outlined
                +icon("image-loupe")
            +button.actionable.compact.outlined
                +icon("image-movie-creation")
            +button.actionable.compact.outlined
                +icon("image-nature")
            +button.actionable.compact.outlined
                +icon("image-nature-people")
            +button.actionable.compact.outlined
                +icon("image-navigate-before")
            +button.actionable.compact.outlined
                +icon("image-navigate-next")
            +button.actionable.compact.outlined
                +icon("image-palette")
            +button.actionable.compact.outlined
                +icon("image-panorama")
            +button.actionable.compact.outlined
                +icon("image-panorama-fisheye")
            +button.actionable.compact.outlined
                +icon("image-panorama-horizontal")
            +button.actionable.compact.outlined
                +icon("image-panorama-vertical")
            +button.actionable.compact.outlined
                +icon("image-panorama-wide-angle")
            +button.actionable.compact.outlined
                +icon("image-photo")
            +button.actionable.compact.outlined
                +icon("image-photo-album")
            +button.actionable.compact.outlined
                +icon("image-photo-camera")
            +button.actionable.compact.outlined
                +icon("image-photo-library")
            +button.actionable.compact.outlined
                +icon("image-portrait")
            +button.actionable.compact.outlined
                +icon("image-remove-red-eye")
            +button.actionable.compact.outlined
                +icon("image-rotate-left")
            +button.actionable.compact.outlined
                +icon("image-rotate-right")
            +button.actionable.compact.outlined
                +icon("image-slideshow")
            +button.actionable.compact.outlined
                +icon("image-straighten")
            +button.actionable.compact.outlined
                +icon("image-style")
            +button.actionable.compact.outlined
                +icon("image-switch-camera")
            +button.actionable.compact.outlined
                +icon("image-switch-video")
            +button.actionable.compact.outlined
                +icon("image-tag-faces")
            +button.actionable.compact.outlined
                +icon("image-texture")
            +button.actionable.compact.outlined
                +icon("image-timelapse")
            +button.actionable.compact.outlined
                +icon("image-timer")
            +button.actionable.compact.outlined
                +icon("image-timer-3")
            +button.actionable.compact.outlined
                +icon("image-timer-10")
            +button.actionable.compact.outlined
                +icon("image-timer-auto")
            +button.actionable.compact.outlined
                +icon("image-timer-off")
            +button.actionable.compact.outlined
                +icon("image-tonality")
            +button.actionable.compact.outlined
                +icon("image-transform")
            +button.actionable.compact.outlined
                +icon("image-tune")
            +button.actionable.compact.outlined
                +icon("image-wb-auto")
            +button.actionable.compact.outlined
                +icon("image-wb-cloudy")
            +button.actionable.compact.outlined
                +icon("image-wb-incandescent")
            +button.actionable.compact.outlined
                +icon("image-wb-irradescent")
            +button.actionable.compact.outlined
                +icon("image-wb-sunny")

    +divider Maps

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("maps-beenhere")
            +button.actionable.compact.outlined
                +icon("maps-directions")
            +button.actionable.compact.outlined
                +icon("maps-directions-bike")
            +button.actionable.compact.outlined
                +icon("maps-directions-bus")
            +button.actionable.compact.outlined
                +icon("maps-directions-car")
            +button.actionable.compact.outlined
                +icon("maps-directions-ferry")
            +button.actionable.compact.outlined
                +icon("maps-directions-subway")
            +button.actionable.compact.outlined
                +icon("maps-directions-train")
            +button.actionable.compact.outlined
                +icon("maps-directions-transit")
            +button.actionable.compact.outlined
                +icon("maps-directions-walk")
            +button.actionable.compact.outlined
                +icon("maps-flight")
            +button.actionable.compact.outlined
                +icon("maps-hotel")
            +button.actionable.compact.outlined
                +icon("maps-layers")
            +button.actionable.compact.outlined
                +icon("maps-layers-clear")
            +button.actionable.compact.outlined
                +icon("maps-local-airport")
            +button.actionable.compact.outlined
                +icon("maps-local-atm")
            +button.actionable.compact.outlined
                +icon("maps-local-attraction")
            +button.actionable.compact.outlined
                +icon("maps-local-bar")
            +button.actionable.compact.outlined
                +icon("maps-local-cafe")
            +button.actionable.compact.outlined
                +icon("maps-local-car-wash")
            +button.actionable.compact.outlined
                +icon("maps-local-convenience-store")
            +button.actionable.compact.outlined
                +icon("maps-local-drink")
            +button.actionable.compact.outlined
                +icon("maps-local-florist")
            +button.actionable.compact.outlined
                +icon("maps-local-gas-station")
            +button.actionable.compact.outlined
                +icon("maps-local-grocery-store")
            +button.actionable.compact.outlined
                +icon("maps-local-hospital")
            +button.actionable.compact.outlined
                +icon("maps-local-hotel")
            +button.actionable.compact.outlined
                +icon("maps-local-laundry-service")
            +button.actionable.compact.outlined
                +icon("maps-local-library")
            +button.actionable.compact.outlined
                +icon("maps-local-mall")
            +button.actionable.compact.outlined
                +icon("maps-local-movies")
            +button.actionable.compact.outlined
                +icon("maps-local-offer")
            +button.actionable.compact.outlined
                +icon("maps-local-parking")
            +button.actionable.compact.outlined
                +icon("maps-local-pharmacy")
            +button.actionable.compact.outlined
                +icon("maps-local-phone")
            +button.actionable.compact.outlined
                +icon("maps-local-pizza")
            +button.actionable.compact.outlined
                +icon("maps-local-play")
            +button.actionable.compact.outlined
                +icon("maps-local-post-office")
            +button.actionable.compact.outlined
                +icon("maps-local-print-shop")
            +button.actionable.compact.outlined
                +icon("maps-local-restaurant")
            +button.actionable.compact.outlined
                +icon("maps-local-see")
            +button.actionable.compact.outlined
                +icon("maps-local-shipping")
            +button.actionable.compact.outlined
                +icon("maps-local-taxi")
            +button.actionable.compact.outlined
                +icon("maps-location-history")
            +button.actionable.compact.outlined
                +icon("maps-map")
            +button.actionable.compact.outlined
                +icon("maps-my-location")
            +button.actionable.compact.outlined
                +icon("maps-navigation")
            +button.actionable.compact.outlined
                +icon("maps-pin-drop")
            +button.actionable.compact.outlined
                +icon("maps-place")
            +button.actionable.compact.outlined
                +icon("maps-rate-review")
            +button.actionable.compact.outlined
                +icon("maps-restaurant-menu")
            +button.actionable.compact.outlined
                +icon("maps-satellite")
            +button.actionable.compact.outlined
                +icon("maps-store-mall-directory")
            +button.actionable.compact.outlined
                +icon("maps-terrain")
            +button.actionable.compact.outlined
                +icon("maps-traffic")

    +divider Navigation

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("navigation-apps")
            +button.actionable.compact.outlined
                +icon("navigation-cancel")
            +button.actionable.compact.outlined
                +icon("navigation-arrow-drop-down-circle")
            +button.actionable.compact.outlined
                +icon("navigation-arrow-drop-down")
            +button.actionable.compact.outlined
                +icon("navigation-arrow-drop-up")
            +button.actionable.compact.outlined
                +icon("navigation-arrow-back")
            +button.actionable.compact.outlined
                +icon("navigation-arrow-forward")
            +button.actionable.compact.outlined
                +icon("navigation-check")
            +button.actionable.compact.outlined
                +icon("navigation-close")
            +button.actionable.compact.outlined
                +icon("navigation-chevron-left")
            +button.actionable.compact.outlined
                +icon("navigation-chevron-right")
            +button.actionable.compact.outlined
                +icon("navigation-expand-less")
            +button.actionable.compact.outlined
                +icon("navigation-expand-more")
            +button.actionable.compact.outlined
                +icon("navigation-fullscreen")
            +button.actionable.compact.outlined
                +icon("navigation-fullscreen-exit")
            +button.actionable.compact.outlined
                +icon("navigation-menu")
            +button.actionable.compact.outlined
                +icon("navigation-more-horiz")
            +button.actionable.compact.outlined
                +icon("navigation-more-vert")
            +button.actionable.compact.outlined
                +icon("navigation-refresh")
            +button.actionable.compact.outlined
                +icon("navigation-unfold-less")
            +button.actionable.compact.outlined
                +icon("navigation-unfold-more")

    +divider Notification

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("notification-adb")
            +button.actionable.compact.outlined
                +icon("notification-bluetooth-audio")
            +button.actionable.compact.outlined
                +icon("notification-disc-full")
            +button.actionable.compact.outlined
                +icon("notification-dnd-forwardslash")
            +button.actionable.compact.outlined
                +icon("notification-do-not-disturb")
            +button.actionable.compact.outlined
                +icon("notification-drive-eta")
            +button.actionable.compact.outlined
                +icon("notification-event-available")
            +button.actionable.compact.outlined
                +icon("notification-event-busy")
            +button.actionable.compact.outlined
                +icon("notification-event-note")
            +button.actionable.compact.outlined
                +icon("notification-folder-special")
            +button.actionable.compact.outlined
                +icon("notification-mms")
            +button.actionable.compact.outlined
                +icon("notification-more")
            +button.actionable.compact.outlined
                +icon("notification-network-locked")
            +button.actionable.compact.outlined
                +icon("notification-phone-bluetooth-speaker")
            +button.actionable.compact.outlined
                +icon("notification-phone-forwarded")
            +button.actionable.compact.outlined
                +icon("notification-phone-in-talk")
            +button.actionable.compact.outlined
                +icon("notification-phone-locked")
            +button.actionable.compact.outlined
                +icon("notification-phone-missed")
            +button.actionable.compact.outlined
                +icon("notification-phone-paused")
            +button.actionable.compact.outlined
                +icon("notification-play-download")
            +button.actionable.compact.outlined
                +icon("notification-play-install")
            +button.actionable.compact.outlined
                +icon("notification-sd-card")
            +button.actionable.compact.outlined
                +icon("notification-sim-card-alert")
            +button.actionable.compact.outlined
                +icon("notification-sms")
            +button.actionable.compact.outlined
                +icon("notification-sms-failed")
            +button.actionable.compact.outlined
                +icon("notification-sync")
            +button.actionable.compact.outlined
                +icon("notification-sync-disabled")
            +button.actionable.compact.outlined
                +icon("notification-sync-problem")
            +button.actionable.compact.outlined
                +icon("notification-system-update")
            +button.actionable.compact.outlined
                +icon("notification-tap-and-play")
            +button.actionable.compact.outlined
                +icon("notification-time-to-leave")
            +button.actionable.compact.outlined
                +icon("notification-vibration")
            +button.actionable.compact.outlined
                +icon("notification-voice-chat")
            +button.actionable.compact.outlined
                +icon("notification-vpn-lock")

    +divider Social

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("social-cake")
            +button.actionable.compact.outlined
                +icon("social-domain")
            +button.actionable.compact.outlined
                +icon("social-location-city")
            +button.actionable.compact.outlined
                +icon("social-mood")
            +button.actionable.compact.outlined
                +icon("social-notifications-none")
            +button.actionable.compact.outlined
                +icon("social-notifications")
            +button.actionable.compact.outlined
                +icon("social-notifications-off")
            +button.actionable.compact.outlined
                +icon("social-notifications-on")
            +button.actionable.compact.outlined
                +icon("social-notifications-paused")
            +button.actionable.compact.outlined
                +icon("social-pages")
            +button.actionable.compact.outlined
                +icon("social-party-mode")
            +button.actionable.compact.outlined
                +icon("social-group")
            +button.actionable.compact.outlined
                +icon("social-group-add")
            +button.actionable.compact.outlined
                +icon("social-people")
            +button.actionable.compact.outlined
                +icon("social-people-outline")
            +button.actionable.compact.outlined
                +icon("social-person")
            +button.actionable.compact.outlined
                +icon("social-person-add")
            +button.actionable.compact.outlined
                +icon("social-person-outline")
            +button.actionable.compact.outlined
                +icon("social-plus-one")
            +button.actionable.compact.outlined
                +icon("social-poll")
            +button.actionable.compact.outlined
                +icon("social-public")
            +button.actionable.compact.outlined
                +icon("social-school")
            +button.actionable.compact.outlined
                +icon("social-share")
            +button.actionable.compact.outlined
                +icon("social-whatshot")

    +divider Toggle

    +container.transparent.no-padding.no-border
        .multiple
            +button.actionable.compact.outlined
                +icon("toggle-check-box")
            +button.actionable.compact.outlined
                +icon("toggle-check-box-outline-blank")
            +button.actionable.compact.outlined
                +icon("toggle-radio-button-off")
            +button.actionable.compact.outlined
                +icon("toggle-radio-button-on")
            +button.actionable.compact.outlined
                +icon("toggle-star")
            +button.actionable.compact.outlined
                +icon("toggle-star-half")
            +button.actionable.compact.outlined
                +icon("toggle-star-outline")
