//- css/icons.jade

extends ../../layout.jade

append main
    +divider Action

    +simple-container
        +multiple
            +label(title="action-3d-rotation").compact.transparent
                +icon("action-3d-rotation")
            +label(title="action-accessibility").compact.transparent
                +icon("action-accessibility")
            +label(title="action-account-balance").compact.transparent
                +icon("action-account-balance")
            +label(title="action-account-balance-wallet").compact.transparent
                +icon("action-account-balance-wallet")
            +label(title="action-account-box").compact.transparent
                +icon("action-account-box")
            +label(title="action-account-child").compact.transparent
                +icon("action-account-child")
            +label(title="action-account-circle").compact.transparent
                +icon("action-account-circle")
            +label(title="action-add-shopping-cart").compact.transparent
                +icon("action-add-shopping-cart")
            +label(title="action-alarm").compact.transparent
                +icon("action-alarm")
            +label(title="action-alarm-add").compact.transparent
                +icon("action-alarm-add")
            +label(title="action-alarm-off").compact.transparent
                +icon("action-alarm-off")
            +label(title="action-alarm-on").compact.transparent
                +icon("action-alarm-on")
            +label(title="action-android").compact.transparent
                +icon("action-android")
            +label(title="action-announcement").compact.transparent
                +icon("action-announcement")
            +label(title="action-aspect-ratio").compact.transparent
                +icon("action-aspect-ratio")
            +label(title="action-assessment").compact.transparent
                +icon("action-assessment")
            +label(title="action-assignment").compact.transparent
                +icon("action-assignment")
            +label(title="action-assignment-ind").compact.transparent
                +icon("action-assignment-ind")
            +label(title="action-assignment-late").compact.transparent
                +icon("action-assignment-late")
            +label(title="action-assignment-return").compact.transparent
                +icon("action-assignment-return")
            +label(title="action-assignment-returned").compact.transparent
                +icon("action-assignment-returned")
            +label(title="action-assignment-turned-in").compact.transparent
                +icon("action-assignment-turned-in")
            +label(title="action-autorenew").compact.transparent
                +icon("action-autorenew")
            +label(title="action-backup").compact.transparent
                +icon("action-backup")
            +label(title="action-book").compact.transparent
                +icon("action-book")
            +label(title="action-bookmark").compact.transparent
                +icon("action-bookmark")
            +label(title="action-bookmark-outline").compact.transparent
                +icon("action-bookmark-outline")
            +label(title="action-bug-report").compact.transparent
                +icon("action-bug-report")
            +label(title="action-cached").compact.transparent
                +icon("action-cached")
            +label(title="action-class").compact.transparent
                +icon("action-class")
            +label(title="action-credit-card").compact.transparent
                +icon("action-credit-card")
            +label(title="action-dashboard").compact.transparent
                +icon("action-dashboard")
            +label(title="action-delete").compact.transparent
                +icon("action-delete")
            +label(title="action-description").compact.transparent
                +icon("action-description")
            +label(title="action-dns").compact.transparent
                +icon("action-dns")
            +label(title="action-done").compact.transparent
                +icon("action-done")
            +label(title="action-done-all").compact.transparent
                +icon("action-done-all")
            +label(title="action-event").compact.transparent
                +icon("action-event")
            +label(title="action-exit-to-app").compact.transparent
                +icon("action-exit-to-app")
            +label(title="action-explore").compact.transparent
                +icon("action-explore")
            +label(title="action-extension").compact.transparent
                +icon("action-extension")
            +label(title="action-face-unlock").compact.transparent
                +icon("action-face-unlock")
            +label(title="action-favorite").compact.transparent
                +icon("action-favorite")
            +label(title="action-favorite-outline").compact.transparent
                +icon("action-favorite-outline")
            +label(title="action-find-in-page").compact.transparent
                +icon("action-find-in-page")
            +label(title="action-find-replace").compact.transparent
                +icon("action-find-replace")
            +label(title="action-flip-to-back").compact.transparent
                +icon("action-flip-to-back")
            +label(title="action-flip-to-front").compact.transparent
                +icon("action-flip-to-front")
            +label(title="action-get-app").compact.transparent
                +icon("action-get-app")
            +label(title="action-grade").compact.transparent
                +icon("action-grade")
            +label(title="action-group-work").compact.transparent
                +icon("action-group-work")
            +label(title="action-help").compact.transparent
                +icon("action-help")
            +label(title="action-highlight-remove").compact.transparent
                +icon("action-highlight-remove")
            +label(title="action-history").compact.transparent
                +icon("action-history")
            +label(title="action-home").compact.transparent
                +icon("action-home")
            +label(title="action-https").compact.transparent
                +icon("action-https")
            +label(title="action-info").compact.transparent
                +icon("action-info")
            +label(title="action-info-outline").compact.transparent
                +icon("action-info-outline")
            +label(title="action-input").compact.transparent
                +icon("action-input")
            +label(title="action-invert-colors").compact.transparent
                +icon("action-invert-colors")
            +label(title="action-label").compact.transparent
                +icon("action-label")
            +label(title="action-label-outline").compact.transparent
                +icon("action-label-outline")
            +label(title="action-language").compact.transparent
                +icon("action-language")
            +label(title="action-launch").compact.transparent
                +icon("action-launch")
            +label(title="action-list").compact.transparent
                +icon("action-list")
            +label(title="action-lock").compact.transparent
                +icon("action-lock")
            +label(title="action-lock-open").compact.transparent
                +icon("action-lock-open")
            +label(title="action-lock-outline").compact.transparent
                +icon("action-lock-outline")
            +label(title="action-loyalty").compact.transparent
                +icon("action-loyalty")
            +label(title="action-markunread-mailbox").compact.transparent
                +icon("action-markunread-mailbox")
            +label(title="action-note-add").compact.transparent
                +icon("action-note-add")
            +label(title="action-open-in-browser").compact.transparent
                +icon("action-open-in-browser")
            +label(title="action-open-in-new").compact.transparent
                +icon("action-open-in-new")
            +label(title="action-open-with").compact.transparent
                +icon("action-open-with")
            +label(title="action-pageview").compact.transparent
                +icon("action-pageview")
            +label(title="action-payment").compact.transparent
                +icon("action-payment")
            +label(title="action-perm-camera-mic").compact.transparent
                +icon("action-perm-camera-mic")
            +label(title="action-perm-contact-cal").compact.transparent
                +icon("action-perm-contact-cal")
            +label(title="action-perm-data-setting").compact.transparent
                +icon("action-perm-data-setting")
            +label(title="action-perm-device-info").compact.transparent
                +icon("action-perm-device-info")
            +label(title="action-perm-identity").compact.transparent
                +icon("action-perm-identity")
            +label(title="action-perm-media").compact.transparent
                +icon("action-perm-media")
            +label(title="action-perm-phone-msg").compact.transparent
                +icon("action-perm-phone-msg")
            +label(title="action-perm-scan-wifi").compact.transparent
                +icon("action-perm-scan-wifi")
            +label(title="action-picture-in-picture").compact.transparent
                +icon("action-picture-in-picture")
            +label(title="action-polymer").compact.transparent
                +icon("action-polymer")
            +label(title="action-print").compact.transparent
                +icon("action-print")
            +label(title="action-query-builder").compact.transparent
                +icon("action-query-builder")
            +label(title="action-question-answer").compact.transparent
                +icon("action-question-answer")
            +label(title="action-receipt").compact.transparent
                +icon("action-receipt")
            +label(title="action-redeem").compact.transparent
                +icon("action-redeem")
            +label(title="action-report-problem").compact.transparent
                +icon("action-report-problem")
            +label(title="action-restore").compact.transparent
                +icon("action-restore")
            +label(title="action-room").compact.transparent
                +icon("action-room")
            +label(title="action-schedule").compact.transparent
                +icon("action-schedule")
            +label(title="action-search").compact.transparent
                +icon("action-search")
            +label(title="action-settings").compact.transparent
                +icon("action-settings")
            +label(title="action-settings-applications").compact.transparent
                +icon("action-settings-applications")
            +label(title="action-settings-backup-restore").compact.transparent
                +icon("action-settings-backup-restore")
            +label(title="action-settings-bluetooth").compact.transparent
                +icon("action-settings-bluetooth")
            +label(title="action-settings-cell").compact.transparent
                +icon("action-settings-cell")
            +label(title="action-settings-display").compact.transparent
                +icon("action-settings-display")
            +label(title="action-settings-ethernet").compact.transparent
                +icon("action-settings-ethernet")
            +label(title="action-settings-input-antenna").compact.transparent
                +icon("action-settings-input-antenna")
            +label(title="action-settings-input-component").compact.transparent
                +icon("action-settings-input-component")
            +label(title="action-settings-input-composite").compact.transparent
                +icon("action-settings-input-composite")
            +label(title="action-settings-input-hdmi").compact.transparent
                +icon("action-settings-input-hdmi")
            +label(title="action-settings-input-svideo").compact.transparent
                +icon("action-settings-input-svideo")
            +label(title="action-settings-overscan").compact.transparent
                +icon("action-settings-overscan")
            +label(title="action-settings-phone").compact.transparent
                +icon("action-settings-phone")
            +label(title="action-settings-power").compact.transparent
                +icon("action-settings-power")
            +label(title="action-settings-remote").compact.transparent
                +icon("action-settings-remote")
            +label(title="action-settings-voice").compact.transparent
                +icon("action-settings-voice")
            +label(title="action-shop").compact.transparent
                +icon("action-shop")
            +label(title="action-shopping-basket").compact.transparent
                +icon("action-shopping-basket")
            +label(title="action-shopping-cart").compact.transparent
                +icon("action-shopping-cart")
            +label(title="action-shop-two").compact.transparent
                +icon("action-shop-two")
            +label(title="action-speaker-notes").compact.transparent
                +icon("action-speaker-notes")
            +label(title="action-spellcheck").compact.transparent
                +icon("action-spellcheck")
            +label(title="action-star-rate").compact.transparent
                +icon("action-star-rate")
            +label(title="action-stars").compact.transparent
                +icon("action-stars")
            +label(title="action-store").compact.transparent
                +icon("action-store")
            +label(title="action-subject").compact.transparent
                +icon("action-subject")
            +label(title="action-swap-horiz").compact.transparent
                +icon("action-swap-horiz")
            +label(title="action-swap-vert").compact.transparent
                +icon("action-swap-vert")
            +label(title="action-swap-vert-circle").compact.transparent
                +icon("action-swap-vert-circle")
            +label(title="action-system-update-tv").compact.transparent
                +icon("action-system-update-tv")
            +label(title="action-tab").compact.transparent
                +icon("action-tab")
            +label(title="action-tab-unselected").compact.transparent
                +icon("action-tab-unselected")
            +label(title="action-theaters").compact.transparent
                +icon("action-theaters")
            +label(title="action-thumb-down").compact.transparent
                +icon("action-thumb-down")
            +label(title="action-thumbs-up-down").compact.transparent
                +icon("action-thumbs-up-down")
            +label(title="action-thumb-up").compact.transparent
                +icon("action-thumb-up")
            +label(title="action-toc").compact.transparent
                +icon("action-toc")
            +label(title="action-today").compact.transparent
                +icon("action-today")
            +label(title="action-track-changes").compact.transparent
                +icon("action-track-changes")
            +label(title="action-translate").compact.transparent
                +icon("action-translate")
            +label(title="action-trending-down").compact.transparent
                +icon("action-trending-down")
            +label(title="action-trending-neutral").compact.transparent
                +icon("action-trending-neutral")
            +label(title="action-trending-up").compact.transparent
                +icon("action-trending-up")
            +label(title="action-turned-in").compact.transparent
                +icon("action-turned-in")
            +label(title="action-turned-in-not").compact.transparent
                +icon("action-turned-in-not")
            +label(title="action-verified-user").compact.transparent
                +icon("action-verified-user")
            +label(title="action-view-agenda").compact.transparent
                +icon("action-view-agenda")
            +label(title="action-view-array").compact.transparent
                +icon("action-view-array")
            +label(title="action-view-carousel").compact.transparent
                +icon("action-view-carousel")
            +label(title="action-view-column").compact.transparent
                +icon("action-view-column")
            +label(title="action-view-day").compact.transparent
                +icon("action-view-day")
            +label(title="action-view-headline").compact.transparent
                +icon("action-view-headline")
            +label(title="action-view-list").compact.transparent
                +icon("action-view-list")
            +label(title="action-view-module").compact.transparent
                +icon("action-view-module")
            +label(title="action-view-quilt").compact.transparent
                +icon("action-view-quilt")
            +label(title="action-view-stream").compact.transparent
                +icon("action-view-stream")
            +label(title="action-view-week").compact.transparent
                +icon("action-view-week")
            +label(title="action-visibility").compact.transparent
                +icon("action-visibility")
            +label(title="action-visibility-off").compact.transparent
                +icon("action-visibility-off")
            +label(title="action-wallet-giftcard").compact.transparent
                +icon("action-wallet-giftcard")
            +label(title="action-wallet-membership").compact.transparent
                +icon("action-wallet-membership")
            +label(title="action-wallet-travel").compact.transparent
                +icon("action-wallet-travel")
            +label(title="action-work").compact.transparent
                +icon("action-work")

    +divider Alert

    +simple-container
        +multiple
            +label(title="alert-error").compact.transparent
                +icon("alert-error")
            +label(title="alert-warning").compact.transparent
                +icon("alert-warning")

    +divider Audio / Video

    +simple-container
        +multiple
            +label(title="av-album").compact.transparent
                +icon("av-album")
            +label(title="av-timer").compact.transparent
                +icon("av-timer")
            +label(title="av-closed-caption").compact.transparent
                +icon("av-closed-caption")
            +label(title="av-equalizer").compact.transparent
                +icon("av-equalizer")
            +label(title="av-explicit").compact.transparent
                +icon("av-explicit")
            +label(title="av-fast-forward").compact.transparent
                +icon("av-fast-forward")
            +label(title="av-fast-rewind").compact.transparent
                +icon("av-fast-rewind")
            +label(title="av-games").compact.transparent
                +icon("av-games")
            +label(title="av-hearing").compact.transparent
                +icon("av-hearing")
            +label(title="av-high-quality").compact.transparent
                +icon("av-high-quality")
            +label(title="av-loop").compact.transparent
                +icon("av-loop")
            +label(title="av-mic").compact.transparent
                +icon("av-mic")
            +label(title="av-mic-none").compact.transparent
                +icon("av-mic-none")
            +label(title="av-mic-off").compact.transparent
                +icon("av-mic-off")
            +label(title="av-movie").compact.transparent
                +icon("av-movie")
            +label(title="av-my-library-add").compact.transparent
                +icon("av-my-library-add")
            +label(title="av-my-library-books").compact.transparent
                +icon("av-my-library-books")
            +label(title="av-my-library-music").compact.transparent
                +icon("av-my-library-music")
            +label(title="av-new-releases").compact.transparent
                +icon("av-new-releases")
            +label(title="av-not-interested").compact.transparent
                +icon("av-not-interested")
            +label(title="av-pause").compact.transparent
                +icon("av-pause")
            +label(title="av-pause-circle-fill").compact.transparent
                +icon("av-pause-circle-fill")
            +label(title="av-pause-circle-outline").compact.transparent
                +icon("av-pause-circle-outline")
            +label(title="av-play-arrow").compact.transparent
                +icon("av-play-arrow")
            +label(title="av-play-circle-fill").compact.transparent
                +icon("av-play-circle-fill")
            +label(title="av-play-circle-outline").compact.transparent
                +icon("av-play-circle-outline")
            +label(title="av-playlist-add").compact.transparent
                +icon("av-playlist-add")
            +label(title="av-play-shopping-bag").compact.transparent
                +icon("av-play-shopping-bag")
            +label(title="av-queue").compact.transparent
                +icon("av-queue")
            +label(title="av-queue-music").compact.transparent
                +icon("av-queue-music")
            +label(title="av-radio").compact.transparent
                +icon("av-radio")
            +label(title="av-recent-actors").compact.transparent
                +icon("av-recent-actors")
            +label(title="av-repeat").compact.transparent
                +icon("av-repeat")
            +label(title="av-repeat-one").compact.transparent
                +icon("av-repeat-one")
            +label(title="av-replay").compact.transparent
                +icon("av-replay")
            +label(title="av-shuffle").compact.transparent
                +icon("av-shuffle")
            +label(title="av-skip-next").compact.transparent
                +icon("av-skip-next")
            +label(title="av-skip-previous").compact.transparent
                +icon("av-skip-previous")
            +label(title="av-snooze").compact.transparent
                +icon("av-snooze")
            +label(title="av-stop").compact.transparent
                +icon("av-stop")
            +label(title="av-subtitles").compact.transparent
                +icon("av-subtitles")
            +label(title="av-surround-sound").compact.transparent
                +icon("av-surround-sound")
            +label(title="av-videocam").compact.transparent
                +icon("av-videocam")
            +label(title="av-videocam-off").compact.transparent
                +icon("av-videocam-off")
            +label(title="av-video-collection").compact.transparent
                +icon("av-video-collection")
            +label(title="av-volume-down").compact.transparent
                +icon("av-volume-down")
            +label(title="av-volume-mute").compact.transparent
                +icon("av-volume-mute")
            +label(title="av-volume-off").compact.transparent
                +icon("av-volume-off")
            +label(title="av-volume-up").compact.transparent
                +icon("av-volume-up")
            +label(title="av-web").compact.transparent
                +icon("av-web")

    +divider Communication

    +simple-container
        +multiple
            +label(title="communication-business").compact.transparent
                +icon("communication-business")
            +label(title="communication-call").compact.transparent
                +icon("communication-call")
            +label(title="communication-call-end").compact.transparent
                +icon("communication-call-end")
            +label(title="communication-call-made").compact.transparent
                +icon("communication-call-made")
            +label(title="communication-call-merge").compact.transparent
                +icon("communication-call-merge")
            +label(title="communication-call-missed").compact.transparent
                +icon("communication-call-missed")
            +label(title="communication-call-received").compact.transparent
                +icon("communication-call-received")
            +label(title="communication-call-split").compact.transparent
                +icon("communication-call-split")
            +label(title="communication-chat").compact.transparent
                +icon("communication-chat")
            +label(title="communication-clear-all").compact.transparent
                +icon("communication-clear-all")
            +label(title="communication-comment").compact.transparent
                +icon("communication-comment")
            +label(title="communication-contacts").compact.transparent
                +icon("communication-contacts")
            +label(title="communication-dialer-sip").compact.transparent
                +icon("communication-dialer-sip")
            +label(title="communication-dialpad").compact.transparent
                +icon("communication-dialpad")
            +label(title="communication-dnd-on").compact.transparent
                +icon("communication-dnd-on")
            +label(title="communication-email").compact.transparent
                +icon("communication-email")
            +label(title="communication-forum").compact.transparent
                +icon("communication-forum")
            +label(title="communication-import-export").compact.transparent
                +icon("communication-import-export")
            +label(title="communication-invert-colors-off").compact.transparent
                +icon("communication-invert-colors-off")
            +label(title="communication-invert-colors-on").compact.transparent
                +icon("communication-invert-colors-on")
            +label(title="communication-live-help").compact.transparent
                +icon("communication-live-help")
            +label(title="communication-location-off").compact.transparent
                +icon("communication-location-off")
            +label(title="communication-location-on").compact.transparent
                +icon("communication-location-on")
            +label(title="communication-message").compact.transparent
                +icon("communication-message")
            +label(title="communication-messenger").compact.transparent
                +icon("communication-messenger")
            +label(title="communication-no-sim").compact.transparent
                +icon("communication-no-sim")
            +label(title="communication-phone").compact.transparent
                +icon("communication-phone")
            +label(title="communication-portable-wifi-off").compact.transparent
                +icon("communication-portable-wifi-off")
            +label(title="communication-quick-contacts-dialer").compact.transparent
                +icon("communication-quick-contacts-dialer")
            +label(title="communication-quick-contacts-mail").compact.transparent
                +icon("communication-quick-contacts-mail")
            +label(title="communication-ring-volume").compact.transparent
                +icon("communication-ring-volume")
            +label(title="communication-stay-current-landscape").compact.transparent
                +icon("communication-stay-current-landscape")
            +label(title="communication-stay-current-portrait").compact.transparent
                +icon("communication-stay-current-portrait")
            +label(title="communication-stay-primary-landscape").compact.transparent
                +icon("communication-stay-primary-landscape")
            +label(title="communication-stay-primary-portrait").compact.transparent
                +icon("communication-stay-primary-portrait")
            +label(title="communication-swap-calls").compact.transparent
                +icon("communication-swap-calls")
            +label(title="communication-textsms").compact.transparent
                +icon("communication-textsms")
            +label(title="communication-voicemail").compact.transparent
                +icon("communication-voicemail")
            +label(title="communication-vpn-key").compact.transparent
                +icon("communication-vpn-key")

    +divider Content

    +simple-container
        +multiple
            +label(title="content-add").compact.transparent
                +icon("content-add")
            +label(title="content-add-box").compact.transparent
                +icon("content-add-box")
            +label(title="content-add-circle").compact.transparent
                +icon("content-add-circle")
            +label(title="content-add-circle-outline").compact.transparent
                +icon("content-add-circle-outline")
            +label(title="content-archive").compact.transparent
                +icon("content-archive")
            +label(title="content-backspace").compact.transparent
                +icon("content-backspace")
            +label(title="content-block").compact.transparent
                +icon("content-block")
            +label(title="content-clear").compact.transparent
                +icon("content-clear")
            +label(title="content-content-copy").compact.transparent
                +icon("content-content-copy")
            +label(title="content-content-cut").compact.transparent
                +icon("content-content-cut")
            +label(title="content-content-paste").compact.transparent
                +icon("content-content-paste")
            +label(title="content-create").compact.transparent
                +icon("content-create")
            +label(title="content-drafts").compact.transparent
                +icon("content-drafts")
            +label(title="content-filter-list").compact.transparent
                +icon("content-filter-list")
            +label(title="content-flag").compact.transparent
                +icon("content-flag")
            +label(title="content-forward").compact.transparent
                +icon("content-forward")
            +label(title="content-gesture").compact.transparent
                +icon("content-gesture")
            +label(title="content-inbox").compact.transparent
                +icon("content-inbox")
            +label(title="content-link").compact.transparent
                +icon("content-link")
            +label(title="content-mail").compact.transparent
                +icon("content-mail")
            +label(title="content-markunread").compact.transparent
                +icon("content-markunread")
            +label(title="content-redo").compact.transparent
                +icon("content-redo")
            +label(title="content-remove").compact.transparent
                +icon("content-remove")
            +label(title="content-remove-circle").compact.transparent
                +icon("content-remove-circle")
            +label(title="content-remove-circle-outline").compact.transparent
                +icon("content-remove-circle-outline")
            +label(title="content-reply").compact.transparent
                +icon("content-reply")
            +label(title="content-reply-all").compact.transparent
                +icon("content-reply-all")
            +label(title="content-report").compact.transparent
                +icon("content-report")
            +label(title="content-save").compact.transparent
                +icon("content-save")
            +label(title="content-select-all").compact.transparent
                +icon("content-select-all")
            +label(title="content-send").compact.transparent
                +icon("content-send")
            +label(title="content-sort").compact.transparent
                +icon("content-sort")
            +label(title="content-text-format").compact.transparent
                +icon("content-text-format")
            +label(title="content-undo").compact.transparent
                +icon("content-undo")

    +divider Device

    +simple-container
        +multiple
            +label(title="device-access-alarm").compact.transparent
                +icon("device-access-alarm")
            +label(title="device-access-alarms").compact.transparent
                +icon("device-access-alarms")
            +label(title="device-access-time").compact.transparent
                +icon("device-access-time")
            +label(title="device-add-alarm").compact.transparent
                +icon("device-add-alarm")
            +label(title="device-airplanemode-off").compact.transparent
                +icon("device-airplanemode-off")
            +label(title="device-airplanemode-on").compact.transparent
                +icon("device-airplanemode-on")
            +label(title="device-battery-20").compact.transparent
                +icon("device-battery-20")
            +label(title="device-battery-30").compact.transparent
                +icon("device-battery-30")
            +label(title="device-battery-50").compact.transparent
                +icon("device-battery-50")
            +label(title="device-battery-60").compact.transparent
                +icon("device-battery-60")
            +label(title="device-battery-80").compact.transparent
                +icon("device-battery-80")
            +label(title="device-battery-90").compact.transparent
                +icon("device-battery-90")
            +label(title="device-battery-alert").compact.transparent
                +icon("device-battery-alert")
            +label(title="device-battery-charging-20").compact.transparent
                +icon("device-battery-charging-20")
            +label(title="device-battery-charging-30").compact.transparent
                +icon("device-battery-charging-30")
            +label(title="device-battery-charging-50").compact.transparent
                +icon("device-battery-charging-50")
            +label(title="device-battery-charging-60").compact.transparent
                +icon("device-battery-charging-60")
            +label(title="device-battery-charging-80").compact.transparent
                +icon("device-battery-charging-80")
            +label(title="device-battery-charging-90").compact.transparent
                +icon("device-battery-charging-90")
            +label(title="device-battery-charging-full").compact.transparent
                +icon("device-battery-charging-full")
            +label(title="device-battery-full").compact.transparent
                +icon("device-battery-full")
            +label(title="device-battery-std").compact.transparent
                +icon("device-battery-std")
            +label(title="device-battery-unknown").compact.transparent
                +icon("device-battery-unknown")
            +label(title="device-bluetooth").compact.transparent
                +icon("device-bluetooth")
            +label(title="device-bluetooth-connected").compact.transparent
                +icon("device-bluetooth-connected")
            +label(title="device-bluetooth-disabled").compact.transparent
                +icon("device-bluetooth-disabled")
            +label(title="device-bluetooth-searching").compact.transparent
                +icon("device-bluetooth-searching")
            +label(title="device-brightness-auto").compact.transparent
                +icon("device-brightness-auto")
            +label(title="device-brightness-high").compact.transparent
                +icon("device-brightness-high")
            +label(title="device-brightness-low").compact.transparent
                +icon("device-brightness-low")
            +label(title="device-brightness-medium").compact.transparent
                +icon("device-brightness-medium")
            +label(title="device-data-usage").compact.transparent
                +icon("device-data-usage")
            +label(title="device-developer-mode").compact.transparent
                +icon("device-developer-mode")
            +label(title="device-devices").compact.transparent
                +icon("device-devices")
            +label(title="device-dvr").compact.transparent
                +icon("device-dvr")
            +label(title="device-gps-fixed").compact.transparent
                +icon("device-gps-fixed")
            +label(title="device-gps-not-fixed").compact.transparent
                +icon("device-gps-not-fixed")
            +label(title="device-gps-off").compact.transparent
                +icon("device-gps-off")
            +label(title="device-location-disabled").compact.transparent
                +icon("device-location-disabled")
            +label(title="device-location-searching").compact.transparent
                +icon("device-location-searching")
            +label(title="device-multitrack-audio").compact.transparent
                +icon("device-multitrack-audio")
            +label(title="device-network-cell").compact.transparent
                +icon("device-network-cell")
            +label(title="device-network-wifi").compact.transparent
                +icon("device-network-wifi")
            +label(title="device-nfc").compact.transparent
                +icon("device-nfc")
            +label(title="device-now-wallpaper").compact.transparent
                +icon("device-now-wallpaper")
            +label(title="device-now-widgets").compact.transparent
                +icon("device-now-widgets")
            +label(title="device-screen-lock-landscape").compact.transparent
                +icon("device-screen-lock-landscape")
            +label(title="device-screen-lock-portrait").compact.transparent
                +icon("device-screen-lock-portrait")
            +label(title="device-screen-lock-rotation").compact.transparent
                +icon("device-screen-lock-rotation")
            +label(title="device-screen-rotation").compact.transparent
                +icon("device-screen-rotation")
            +label(title="device-sd-storage").compact.transparent
                +icon("device-sd-storage")
            +label(title="device-settings-system-daydream").compact.transparent
                +icon("device-settings-system-daydream")
            +label(title="device-signal-cellular-0-bar").compact.transparent
                +icon("device-signal-cellular-0-bar")
            +label(title="device-signal-cellular-1-bar").compact.transparent
                +icon("device-signal-cellular-1-bar")
            +label(title="device-signal-cellular-2-bar").compact.transparent
                +icon("device-signal-cellular-2-bar")
            +label(title="device-signal-cellular-3-bar").compact.transparent
                +icon("device-signal-cellular-3-bar")
            +label(title="device-signal-cellular-4-bar").compact.transparent
                +icon("device-signal-cellular-4-bar")
            +label(title="device-signal-cellular-connected-no-internet-0-bar").compact.transparent
                +icon("device-signal-cellular-connected-no-internet-0-bar")
            +label(title="device-signal-cellular-connected-no-internet-1-bar").compact.transparent
                +icon("device-signal-cellular-connected-no-internet-1-bar")
            +label(title="device-signal-cellular-connected-no-internet-2-bar").compact.transparent
                +icon("device-signal-cellular-connected-no-internet-2-bar")
            +label(title="device-signal-cellular-connected-no-internet-3-bar").compact.transparent
                +icon("device-signal-cellular-connected-no-internet-3-bar")
            +label(title="device-signal-cellular-connected-no-internet-4-bar").compact.transparent
                +icon("device-signal-cellular-connected-no-internet-4-bar")
            +label(title="device-signal-cellular-no-sim").compact.transparent
                +icon("device-signal-cellular-no-sim")
            +label(title="device-signal-cellular-null").compact.transparent
                +icon("device-signal-cellular-null")
            +label(title="device-signal-cellular-off").compact.transparent
                +icon("device-signal-cellular-off")
            +label(title="device-signal-wifi-0-bar").compact.transparent
                +icon("device-signal-wifi-0-bar")
            +label(title="device-signal-wifi-1-bar").compact.transparent
                +icon("device-signal-wifi-1-bar")
            +label(title="device-signal-wifi-2-bar").compact.transparent
                +icon("device-signal-wifi-2-bar")
            +label(title="device-signal-wifi-3-bar").compact.transparent
                +icon("device-signal-wifi-3-bar")
            +label(title="device-signal-wifi-4-bar").compact.transparent
                +icon("device-signal-wifi-4-bar")
            +label(title="device-signal-wifi-off").compact.transparent
                +icon("device-signal-wifi-off")
            +label(title="device-storage").compact.transparent
                +icon("device-storage")
            +label(title="device-usb").compact.transparent
                +icon("device-usb")
            +label(title="device-wifi-lock").compact.transparent
                +icon("device-wifi-lock")
            +label(title="device-wifi-tethering").compact.transparent
                +icon("device-wifi-tethering")

    +divider Editor

    +simple-container
        +multiple
            +label(title="editor-attach-file").compact.transparent
                +icon("editor-attach-file")
            +label(title="editor-attach-money").compact.transparent
                +icon("editor-attach-money")
            +label(title="editor-border-all").compact.transparent
                +icon("editor-border-all")
            +label(title="editor-border-bottom").compact.transparent
                +icon("editor-border-bottom")
            +label(title="editor-border-clear").compact.transparent
                +icon("editor-border-clear")
            +label(title="editor-border-color").compact.transparent
                +icon("editor-border-color")
            +label(title="editor-border-horizontal").compact.transparent
                +icon("editor-border-horizontal")
            +label(title="editor-border-inner").compact.transparent
                +icon("editor-border-inner")
            +label(title="editor-border-left").compact.transparent
                +icon("editor-border-left")
            +label(title="editor-border-outer").compact.transparent
                +icon("editor-border-outer")
            +label(title="editor-border-right").compact.transparent
                +icon("editor-border-right")
            +label(title="editor-border-style").compact.transparent
                +icon("editor-border-style")
            +label(title="editor-border-top").compact.transparent
                +icon("editor-border-top")
            +label(title="editor-border-vertical").compact.transparent
                +icon("editor-border-vertical")
            +label(title="editor-format-align-center").compact.transparent
                +icon("editor-format-align-center")
            +label(title="editor-format-align-justify").compact.transparent
                +icon("editor-format-align-justify")
            +label(title="editor-format-align-left").compact.transparent
                +icon("editor-format-align-left")
            +label(title="editor-format-align-right").compact.transparent
                +icon("editor-format-align-right")
            +label(title="editor-format-bold").compact.transparent
                +icon("editor-format-bold")
            +label(title="editor-format-clear").compact.transparent
                +icon("editor-format-clear")
            +label(title="editor-format-color-fill").compact.transparent
                +icon("editor-format-color-fill")
            +label(title="editor-format-color-reset").compact.transparent
                +icon("editor-format-color-reset")
            +label(title="editor-format-color-text").compact.transparent
                +icon("editor-format-color-text")
            +label(title="editor-format-indent-decrease").compact.transparent
                +icon("editor-format-indent-decrease")
            +label(title="editor-format-indent-increase").compact.transparent
                +icon("editor-format-indent-increase")
            +label(title="editor-format-italic").compact.transparent
                +icon("editor-format-italic")
            +label(title="editor-format-line-spacing").compact.transparent
                +icon("editor-format-line-spacing")
            +label(title="editor-format-list-bulleted").compact.transparent
                +icon("editor-format-list-bulleted")
            +label(title="editor-format-list-numbered").compact.transparent
                +icon("editor-format-list-numbered")
            +label(title="editor-format-paint").compact.transparent
                +icon("editor-format-paint")
            +label(title="editor-format-quote").compact.transparent
                +icon("editor-format-quote")
            +label(title="editor-format-size").compact.transparent
                +icon("editor-format-size")
            +label(title="editor-format-strikethrough").compact.transparent
                +icon("editor-format-strikethrough")
            +label(title="editor-format-textdirection-l-to-r").compact.transparent
                +icon("editor-format-textdirection-l-to-r")
            +label(title="editor-format-textdirection-r-to-l").compact.transparent
                +icon("editor-format-textdirection-r-to-l")
            +label(title="editor-format-underline").compact.transparent
                +icon("editor-format-underline")
            +label(title="editor-functions").compact.transparent
                +icon("editor-functions")
            +label(title="editor-insert-chart").compact.transparent
                +icon("editor-insert-chart")
            +label(title="editor-insert-comment").compact.transparent
                +icon("editor-insert-comment")
            +label(title="editor-insert-drive-file").compact.transparent
                +icon("editor-insert-drive-file")
            +label(title="editor-insert-emoticon").compact.transparent
                +icon("editor-insert-emoticon")
            +label(title="editor-insert-invitation").compact.transparent
                +icon("editor-insert-invitation")
            +label(title="editor-insert-link").compact.transparent
                +icon("editor-insert-link")
            +label(title="editor-insert-photo").compact.transparent
                +icon("editor-insert-photo")
            +label(title="editor-merge-type").compact.transparent
                +icon("editor-merge-type")
            +label(title="editor-mode-comment").compact.transparent
                +icon("editor-mode-comment")
            +label(title="editor-mode-edit").compact.transparent
                +icon("editor-mode-edit")
            +label(title="editor-publish").compact.transparent
                +icon("editor-publish")
            +label(title="editor-vertical-align-bottom").compact.transparent
                +icon("editor-vertical-align-bottom")
            +label(title="editor-vertical-align-center").compact.transparent
                +icon("editor-vertical-align-center")
            +label(title="editor-vertical-align-top").compact.transparent
                +icon("editor-vertical-align-top")
            +label(title="editor-wrap-text").compact.transparent
                +icon("editor-wrap-text")

    +divider File

    +simple-container
        +multiple
            +label(title="file-attachment").compact.transparent
                +icon("file-attachment")
            +label(title="file-cloud").compact.transparent
                +icon("file-cloud")
            +label(title="file-cloud-circle").compact.transparent
                +icon("file-cloud-circle")
            +label(title="file-cloud-done").compact.transparent
                +icon("file-cloud-done")
            +label(title="file-cloud-download").compact.transparent
                +icon("file-cloud-download")
            +label(title="file-cloud-off").compact.transparent
                +icon("file-cloud-off")
            +label(title="file-cloud-queue").compact.transparent
                +icon("file-cloud-queue")
            +label(title="file-cloud-upload").compact.transparent
                +icon("file-cloud-upload")
            +label(title="file-file-download").compact.transparent
                +icon("file-file-download")
            +label(title="file-file-upload").compact.transparent
                +icon("file-file-upload")
            +label(title="file-folder").compact.transparent
                +icon("file-folder")
            +label(title="file-folder-open").compact.transparent
                +icon("file-folder-open")
            +label(title="file-folder-shared").compact.transparent
                +icon("file-folder-shared")

    +divider Hardware

    +simple-container
        +multiple
            +label(title="hardware-cast").compact.transparent
                +icon("hardware-cast")
            +label(title="hardware-cast-connected").compact.transparent
                +icon("hardware-cast-connected")
            +label(title="hardware-computer").compact.transparent
                +icon("hardware-computer")
            +label(title="hardware-desktop-mac").compact.transparent
                +icon("hardware-desktop-mac")
            +label(title="hardware-desktop-windows").compact.transparent
                +icon("hardware-desktop-windows")
            +label(title="hardware-dock").compact.transparent
                +icon("hardware-dock")
            +label(title="hardware-gamepad").compact.transparent
                +icon("hardware-gamepad")
            +label(title="hardware-headset").compact.transparent
                +icon("hardware-headset")
            +label(title="hardware-headset-mic").compact.transparent
                +icon("hardware-headset-mic")
            +label(title="hardware-keyboard").compact.transparent
                +icon("hardware-keyboard")
            +label(title="hardware-keyboard-alt").compact.transparent
                +icon("hardware-keyboard-alt")
            +label(title="hardware-keyboard-arrow-down").compact.transparent
                +icon("hardware-keyboard-arrow-down")
            +label(title="hardware-keyboard-arrow-left").compact.transparent
                +icon("hardware-keyboard-arrow-left")
            +label(title="hardware-keyboard-arrow-right").compact.transparent
                +icon("hardware-keyboard-arrow-right")
            +label(title="hardware-keyboard-arrow-up").compact.transparent
                +icon("hardware-keyboard-arrow-up")
            +label(title="hardware-keyboard-backspace").compact.transparent
                +icon("hardware-keyboard-backspace")
            +label(title="hardware-keyboard-capslock").compact.transparent
                +icon("hardware-keyboard-capslock")
            +label(title="hardware-keyboard-control").compact.transparent
                +icon("hardware-keyboard-control")
            +label(title="hardware-keyboard-hide").compact.transparent
                +icon("hardware-keyboard-hide")
            +label(title="hardware-keyboard-return").compact.transparent
                +icon("hardware-keyboard-return")
            +label(title="hardware-keyboard-tab").compact.transparent
                +icon("hardware-keyboard-tab")
            +label(title="hardware-keyboard-voice").compact.transparent
                +icon("hardware-keyboard-voice")
            +label(title="hardware-laptop").compact.transparent
                +icon("hardware-laptop")
            +label(title="hardware-laptop-chromebook").compact.transparent
                +icon("hardware-laptop-chromebook")
            +label(title="hardware-laptop-mac").compact.transparent
                +icon("hardware-laptop-mac")
            +label(title="hardware-laptop-windows").compact.transparent
                +icon("hardware-laptop-windows")
            +label(title="hardware-memory").compact.transparent
                +icon("hardware-memory")
            +label(title="hardware-mouse").compact.transparent
                +icon("hardware-mouse")
            +label(title="hardware-phone-android").compact.transparent
                +icon("hardware-phone-android")
            +label(title="hardware-phone-iphone").compact.transparent
                +icon("hardware-phone-iphone")
            +label(title="hardware-phonelink").compact.transparent
                +icon("hardware-phonelink")
            +label(title="hardware-phonelink-off").compact.transparent
                +icon("hardware-phonelink-off")
            +label(title="hardware-security").compact.transparent
                +icon("hardware-security")
            +label(title="hardware-sim-card").compact.transparent
                +icon("hardware-sim-card")
            +label(title="hardware-smartphone").compact.transparent
                +icon("hardware-smartphone")
            +label(title="hardware-speaker").compact.transparent
                +icon("hardware-speaker")
            +label(title="hardware-tablet").compact.transparent
                +icon("hardware-tablet")
            +label(title="hardware-tablet-android").compact.transparent
                +icon("hardware-tablet-android")
            +label(title="hardware-tablet-mac").compact.transparent
                +icon("hardware-tablet-mac")
            +label(title="hardware-tv").compact.transparent
                +icon("hardware-tv")
            +label(title="hardware-watch").compact.transparent
                +icon("hardware-watch")

    +divider Image

    +simple-container
        +multiple
            +label(title="image-add-to-photos").compact.transparent
                +icon("image-add-to-photos")
            +label(title="image-adjust").compact.transparent
                +icon("image-adjust")
            +label(title="image-assistant-photo").compact.transparent
                +icon("image-assistant-photo")
            +label(title="image-audiotrack").compact.transparent
                +icon("image-audiotrack")
            +label(title="image-blur-circular").compact.transparent
                +icon("image-blur-circular")
            +label(title="image-blur-linear").compact.transparent
                +icon("image-blur-linear")
            +label(title="image-blur-off").compact.transparent
                +icon("image-blur-off")
            +label(title="image-blur-on").compact.transparent
                +icon("image-blur-on")
            +label(title="image-brightness-1").compact.transparent
                +icon("image-brightness-1")
            +label(title="image-brightness-2").compact.transparent
                +icon("image-brightness-2")
            +label(title="image-brightness-3").compact.transparent
                +icon("image-brightness-3")
            +label(title="image-brightness-4").compact.transparent
                +icon("image-brightness-4")
            +label(title="image-brightness-5").compact.transparent
                +icon("image-brightness-5")
            +label(title="image-brightness-6").compact.transparent
                +icon("image-brightness-6")
            +label(title="image-brightness-7").compact.transparent
                +icon("image-brightness-7")
            +label(title="image-brush").compact.transparent
                +icon("image-brush")
            +label(title="image-camera").compact.transparent
                +icon("image-camera")
            +label(title="image-camera-alt").compact.transparent
                +icon("image-camera-alt")
            +label(title="image-camera-front").compact.transparent
                +icon("image-camera-front")
            +label(title="image-camera-rear").compact.transparent
                +icon("image-camera-rear")
            +label(title="image-camera-roll").compact.transparent
                +icon("image-camera-roll")
            +label(title="image-center-focus-strong").compact.transparent
                +icon("image-center-focus-strong")
            +label(title="image-center-focus-weak").compact.transparent
                +icon("image-center-focus-weak")
            +label(title="image-collections").compact.transparent
                +icon("image-collections")
            +label(title="image-colorize").compact.transparent
                +icon("image-colorize")
            +label(title="image-color-lens").compact.transparent
                +icon("image-color-lens")
            +label(title="image-compare").compact.transparent
                +icon("image-compare")
            +label(title="image-control-point").compact.transparent
                +icon("image-control-point")
            +label(title="image-control-point-duplicate").compact.transparent
                +icon("image-control-point-duplicate")
            +label(title="image-crop").compact.transparent
                +icon("image-crop")
            +label(title="image-crop-3-2").compact.transparent
                +icon("image-crop-3-2")
            +label(title="image-crop-5-4").compact.transparent
                +icon("image-crop-5-4")
            +label(title="image-crop-7-5").compact.transparent
                +icon("image-crop-7-5")
            +label(title="image-crop-16-9").compact.transparent
                +icon("image-crop-16-9")
            +label(title="image-crop-din").compact.transparent
                +icon("image-crop-din")
            +label(title="image-crop-free").compact.transparent
                +icon("image-crop-free")
            +label(title="image-crop-landscape").compact.transparent
                +icon("image-crop-landscape")
            +label(title="image-crop-original").compact.transparent
                +icon("image-crop-original")
            +label(title="image-crop-portrait").compact.transparent
                +icon("image-crop-portrait")
            +label(title="image-crop-square").compact.transparent
                +icon("image-crop-square")
            +label(title="image-dehaze").compact.transparent
                +icon("image-dehaze")
            +label(title="image-details").compact.transparent
                +icon("image-details")
            +label(title="image-edit").compact.transparent
                +icon("image-edit")
            +label(title="image-exposure").compact.transparent
                +icon("image-exposure")
            +label(title="image-exposure-minus-1").compact.transparent
                +icon("image-exposure-minus-1")
            +label(title="image-exposure-minus-2").compact.transparent
                +icon("image-exposure-minus-2")
            +label(title="image-exposure-zero").compact.transparent
                +icon("image-exposure-zero")
            +label(title="image-exposure-plus-1").compact.transparent
                +icon("image-exposure-plus-1")
            +label(title="image-exposure-plus-2").compact.transparent
                +icon("image-exposure-plus-2")
            +label(title="image-filter").compact.transparent
                +icon("image-filter")
            +label(title="image-filter-1").compact.transparent
                +icon("image-filter-1")
            +label(title="image-filter-2").compact.transparent
                +icon("image-filter-2")
            +label(title="image-filter-3").compact.transparent
                +icon("image-filter-3")
            +label(title="image-filter-4").compact.transparent
                +icon("image-filter-4")
            +label(title="image-filter-5").compact.transparent
                +icon("image-filter-5")
            +label(title="image-filter-6").compact.transparent
                +icon("image-filter-6")
            +label(title="image-filter-7").compact.transparent
                +icon("image-filter-7")
            +label(title="image-filter-8").compact.transparent
                +icon("image-filter-8")
            +label(title="image-filter-9").compact.transparent
                +icon("image-filter-9")
            +label(title="image-filter-9-plus").compact.transparent
                +icon("image-filter-9-plus")
            +label(title="image-filter-b-and-w").compact.transparent
                +icon("image-filter-b-and-w")
            +label(title="image-filter-center-focus").compact.transparent
                +icon("image-filter-center-focus")
            +label(title="image-filter-drama").compact.transparent
                +icon("image-filter-drama")
            +label(title="image-filter-frames").compact.transparent
                +icon("image-filter-frames")
            +label(title="image-filter-hdr").compact.transparent
                +icon("image-filter-hdr")
            +label(title="image-filter-none").compact.transparent
                +icon("image-filter-none")
            +label(title="image-filter-tilt-shift").compact.transparent
                +icon("image-filter-tilt-shift")
            +label(title="image-filter-vintage").compact.transparent
                +icon("image-filter-vintage")
            +label(title="image-flare").compact.transparent
                +icon("image-flare")
            +label(title="image-flash-auto").compact.transparent
                +icon("image-flash-auto")
            +label(title="image-flash-off").compact.transparent
                +icon("image-flash-off")
            +label(title="image-flash-on").compact.transparent
                +icon("image-flash-on")
            +label(title="image-flip").compact.transparent
                +icon("image-flip")
            +label(title="image-gradient").compact.transparent
                +icon("image-gradient")
            +label(title="image-grain").compact.transparent
                +icon("image-grain")
            +label(title="image-grid-off").compact.transparent
                +icon("image-grid-off")
            +label(title="image-grid-on").compact.transparent
                +icon("image-grid-on")
            +label(title="image-hdr-off").compact.transparent
                +icon("image-hdr-off")
            +label(title="image-hdr-on").compact.transparent
                +icon("image-hdr-on")
            +label(title="image-hdr-strong").compact.transparent
                +icon("image-hdr-strong")
            +label(title="image-hdr-weak").compact.transparent
                +icon("image-hdr-weak")
            +label(title="image-healing").compact.transparent
                +icon("image-healing")
            +label(title="image-image").compact.transparent
                +icon("image-image")
            +label(title="image-image-aspect-ratio").compact.transparent
                +icon("image-image-aspect-ratio")
            +label(title="image-iso").compact.transparent
                +icon("image-iso")
            +label(title="image-landscape").compact.transparent
                +icon("image-landscape")
            +label(title="image-leak-add").compact.transparent
                +icon("image-leak-add")
            +label(title="image-leak-remove").compact.transparent
                +icon("image-leak-remove")
            +label(title="image-lens").compact.transparent
                +icon("image-lens")
            +label(title="image-looks").compact.transparent
                +icon("image-looks")
            +label(title="image-looks-1").compact.transparent
                +icon("image-looks-1")
            +label(title="image-looks-2").compact.transparent
                +icon("image-looks-2")
            +label(title="image-looks-3").compact.transparent
                +icon("image-looks-3")
            +label(title="image-looks-4").compact.transparent
                +icon("image-looks-4")
            +label(title="image-looks-5").compact.transparent
                +icon("image-looks-5")
            +label(title="image-looks-6").compact.transparent
                +icon("image-looks-6")
            +label(title="image-loupe").compact.transparent
                +icon("image-loupe")
            +label(title="image-movie-creation").compact.transparent
                +icon("image-movie-creation")
            +label(title="image-nature").compact.transparent
                +icon("image-nature")
            +label(title="image-nature-people").compact.transparent
                +icon("image-nature-people")
            +label(title="image-navigate-before").compact.transparent
                +icon("image-navigate-before")
            +label(title="image-navigate-next").compact.transparent
                +icon("image-navigate-next")
            +label(title="image-palette").compact.transparent
                +icon("image-palette")
            +label(title="image-panorama").compact.transparent
                +icon("image-panorama")
            +label(title="image-panorama-fisheye").compact.transparent
                +icon("image-panorama-fisheye")
            +label(title="image-panorama-horizontal").compact.transparent
                +icon("image-panorama-horizontal")
            +label(title="image-panorama-vertical").compact.transparent
                +icon("image-panorama-vertical")
            +label(title="image-panorama-wide-angle").compact.transparent
                +icon("image-panorama-wide-angle")
            +label(title="image-photo").compact.transparent
                +icon("image-photo")
            +label(title="image-photo-album").compact.transparent
                +icon("image-photo-album")
            +label(title="image-photo-camera").compact.transparent
                +icon("image-photo-camera")
            +label(title="image-photo-library").compact.transparent
                +icon("image-photo-library")
            +label(title="image-portrait").compact.transparent
                +icon("image-portrait")
            +label(title="image-remove-red-eye").compact.transparent
                +icon("image-remove-red-eye")
            +label(title="image-rotate-left").compact.transparent
                +icon("image-rotate-left")
            +label(title="image-rotate-right").compact.transparent
                +icon("image-rotate-right")
            +label(title="image-slideshow").compact.transparent
                +icon("image-slideshow")
            +label(title="image-straighten").compact.transparent
                +icon("image-straighten")
            +label(title="image-style").compact.transparent
                +icon("image-style")
            +label(title="image-switch-camera").compact.transparent
                +icon("image-switch-camera")
            +label(title="image-switch-video").compact.transparent
                +icon("image-switch-video")
            +label(title="image-tag-faces").compact.transparent
                +icon("image-tag-faces")
            +label(title="image-texture").compact.transparent
                +icon("image-texture")
            +label(title="image-timelapse").compact.transparent
                +icon("image-timelapse")
            +label(title="image-timer").compact.transparent
                +icon("image-timer")
            +label(title="image-timer-3").compact.transparent
                +icon("image-timer-3")
            +label(title="image-timer-10").compact.transparent
                +icon("image-timer-10")
            +label(title="image-timer-auto").compact.transparent
                +icon("image-timer-auto")
            +label(title="image-timer-off").compact.transparent
                +icon("image-timer-off")
            +label(title="image-tonality").compact.transparent
                +icon("image-tonality")
            +label(title="image-transform").compact.transparent
                +icon("image-transform")
            +label(title="image-tune").compact.transparent
                +icon("image-tune")
            +label(title="image-wb-auto").compact.transparent
                +icon("image-wb-auto")
            +label(title="image-wb-cloudy").compact.transparent
                +icon("image-wb-cloudy")
            +label(title="image-wb-incandescent").compact.transparent
                +icon("image-wb-incandescent")
            +label(title="image-wb-irradescent").compact.transparent
                +icon("image-wb-irradescent")
            +label(title="image-wb-sunny").compact.transparent
                +icon("image-wb-sunny")

    +divider Maps

    +simple-container
        +multiple
            +label(title="maps-beenhere").compact.transparent
                +icon("maps-beenhere")
            +label(title="maps-directions").compact.transparent
                +icon("maps-directions")
            +label(title="maps-directions-bike").compact.transparent
                +icon("maps-directions-bike")
            +label(title="maps-directions-bus").compact.transparent
                +icon("maps-directions-bus")
            +label(title="maps-directions-car").compact.transparent
                +icon("maps-directions-car")
            +label(title="maps-directions-ferry").compact.transparent
                +icon("maps-directions-ferry")
            +label(title="maps-directions-subway").compact.transparent
                +icon("maps-directions-subway")
            +label(title="maps-directions-train").compact.transparent
                +icon("maps-directions-train")
            +label(title="maps-directions-transit").compact.transparent
                +icon("maps-directions-transit")
            +label(title="maps-directions-walk").compact.transparent
                +icon("maps-directions-walk")
            +label(title="maps-flight").compact.transparent
                +icon("maps-flight")
            +label(title="maps-hotel").compact.transparent
                +icon("maps-hotel")
            +label(title="maps-layers").compact.transparent
                +icon("maps-layers")
            +label(title="maps-layers-clear").compact.transparent
                +icon("maps-layers-clear")
            +label(title="maps-local-airport").compact.transparent
                +icon("maps-local-airport")
            +label(title="maps-local-atm").compact.transparent
                +icon("maps-local-atm")
            +label(title="maps-local-attraction").compact.transparent
                +icon("maps-local-attraction")
            +label(title="maps-local-bar").compact.transparent
                +icon("maps-local-bar")
            +label(title="maps-local-cafe").compact.transparent
                +icon("maps-local-cafe")
            +label(title="maps-local-car-wash").compact.transparent
                +icon("maps-local-car-wash")
            +label(title="maps-local-convenience-store").compact.transparent
                +icon("maps-local-convenience-store")
            +label(title="maps-local-drink").compact.transparent
                +icon("maps-local-drink")
            +label(title="maps-local-florist").compact.transparent
                +icon("maps-local-florist")
            +label(title="maps-local-gas-station").compact.transparent
                +icon("maps-local-gas-station")
            +label(title="maps-local-grocery-store").compact.transparent
                +icon("maps-local-grocery-store")
            +label(title="maps-local-hospital").compact.transparent
                +icon("maps-local-hospital")
            +label(title="maps-local-hotel").compact.transparent
                +icon("maps-local-hotel")
            +label(title="maps-local-laundry-service").compact.transparent
                +icon("maps-local-laundry-service")
            +label(title="maps-local-library").compact.transparent
                +icon("maps-local-library")
            +label(title="maps-local-mall").compact.transparent
                +icon("maps-local-mall")
            +label(title="maps-local-movies").compact.transparent
                +icon("maps-local-movies")
            +label(title="maps-local-offer").compact.transparent
                +icon("maps-local-offer")
            +label(title="maps-local-parking").compact.transparent
                +icon("maps-local-parking")
            +label(title="maps-local-pharmacy").compact.transparent
                +icon("maps-local-pharmacy")
            +label(title="maps-local-phone").compact.transparent
                +icon("maps-local-phone")
            +label(title="maps-local-pizza").compact.transparent
                +icon("maps-local-pizza")
            +label(title="maps-local-play").compact.transparent
                +icon("maps-local-play")
            +label(title="maps-local-post-office").compact.transparent
                +icon("maps-local-post-office")
            +label(title="maps-local-print-shop").compact.transparent
                +icon("maps-local-print-shop")
            +label(title="maps-local-restaurant").compact.transparent
                +icon("maps-local-restaurant")
            +label(title="maps-local-see").compact.transparent
                +icon("maps-local-see")
            +label(title="maps-local-shipping").compact.transparent
                +icon("maps-local-shipping")
            +label(title="maps-local-taxi").compact.transparent
                +icon("maps-local-taxi")
            +label(title="maps-location-history").compact.transparent
                +icon("maps-location-history")
            +label(title="maps-map").compact.transparent
                +icon("maps-map")
            +label(title="maps-my-location").compact.transparent
                +icon("maps-my-location")
            +label(title="maps-navigation").compact.transparent
                +icon("maps-navigation")
            +label(title="maps-pin-drop").compact.transparent
                +icon("maps-pin-drop")
            +label(title="maps-place").compact.transparent
                +icon("maps-place")
            +label(title="maps-rate-review").compact.transparent
                +icon("maps-rate-review")
            +label(title="maps-restaurant-menu").compact.transparent
                +icon("maps-restaurant-menu")
            +label(title="maps-satellite").compact.transparent
                +icon("maps-satellite")
            +label(title="maps-store-mall-directory").compact.transparent
                +icon("maps-store-mall-directory")
            +label(title="maps-terrain").compact.transparent
                +icon("maps-terrain")
            +label(title="maps-traffic").compact.transparent
                +icon("maps-traffic")

    +divider Navigation

    +simple-container
        +multiple
            +label(title="navigation-apps").compact.transparent
                +icon("navigation-apps")
            +label(title="navigation-cancel").compact.transparent
                +icon("navigation-cancel")
            +label(title="navigation-arrow-drop-down-circle").compact.transparent
                +icon("navigation-arrow-drop-down-circle")
            +label(title="navigation-arrow-drop-down").compact.transparent
                +icon("navigation-arrow-drop-down")
            +label(title="navigation-arrow-drop-up").compact.transparent
                +icon("navigation-arrow-drop-up")
            +label(title="navigation-arrow-back").compact.transparent
                +icon("navigation-arrow-back")
            +label(title="navigation-arrow-forward").compact.transparent
                +icon("navigation-arrow-forward")
            +label(title="navigation-check").compact.transparent
                +icon("navigation-check")
            +label(title="navigation-close").compact.transparent
                +icon("navigation-close")
            +label(title="navigation-chevron-left").compact.transparent
                +icon("navigation-chevron-left")
            +label(title="navigation-chevron-right").compact.transparent
                +icon("navigation-chevron-right")
            +label(title="navigation-expand-less").compact.transparent
                +icon("navigation-expand-less")
            +label(title="navigation-expand-more").compact.transparent
                +icon("navigation-expand-more")
            +label(title="navigation-fullscreen").compact.transparent
                +icon("navigation-fullscreen")
            +label(title="navigation-fullscreen-exit").compact.transparent
                +icon("navigation-fullscreen-exit")
            +label(title="navigation-menu").compact.transparent
                +icon("navigation-menu")
            +label(title="navigation-more-horiz").compact.transparent
                +icon("navigation-more-horiz")
            +label(title="navigation-more-vert").compact.transparent
                +icon("navigation-more-vert")
            +label(title="navigation-refresh").compact.transparent
                +icon("navigation-refresh")
            +label(title="navigation-unfold-less").compact.transparent
                +icon("navigation-unfold-less")
            +label(title="navigation-unfold-more").compact.transparent
                +icon("navigation-unfold-more")

    +divider Notification

    +simple-container
        +multiple
            +label(title="notification-adb").compact.transparent
                +icon("notification-adb")
            +label(title="notification-bluetooth-audio").compact.transparent
                +icon("notification-bluetooth-audio")
            +label(title="notification-disc-full").compact.transparent
                +icon("notification-disc-full")
            +label(title="notification-dnd-forwardslash").compact.transparent
                +icon("notification-dnd-forwardslash")
            +label(title="notification-do-not-disturb").compact.transparent
                +icon("notification-do-not-disturb")
            +label(title="notification-drive-eta").compact.transparent
                +icon("notification-drive-eta")
            +label(title="notification-event-available").compact.transparent
                +icon("notification-event-available")
            +label(title="notification-event-busy").compact.transparent
                +icon("notification-event-busy")
            +label(title="notification-event-note").compact.transparent
                +icon("notification-event-note")
            +label(title="notification-folder-special").compact.transparent
                +icon("notification-folder-special")
            +label(title="notification-mms").compact.transparent
                +icon("notification-mms")
            +label(title="notification-more").compact.transparent
                +icon("notification-more")
            +label(title="notification-network-locked").compact.transparent
                +icon("notification-network-locked")
            +label(title="notification-phone-bluetooth-speaker").compact.transparent
                +icon("notification-phone-bluetooth-speaker")
            +label(title="notification-phone-forwarded").compact.transparent
                +icon("notification-phone-forwarded")
            +label(title="notification-phone-in-talk").compact.transparent
                +icon("notification-phone-in-talk")
            +label(title="notification-phone-locked").compact.transparent
                +icon("notification-phone-locked")
            +label(title="notification-phone-missed").compact.transparent
                +icon("notification-phone-missed")
            +label(title="notification-phone-paused").compact.transparent
                +icon("notification-phone-paused")
            +label(title="notification-play-download").compact.transparent
                +icon("notification-play-download")
            +label(title="notification-play-install").compact.transparent
                +icon("notification-play-install")
            +label(title="notification-sd-card").compact.transparent
                +icon("notification-sd-card")
            +label(title="notification-sim-card-alert").compact.transparent
                +icon("notification-sim-card-alert")
            +label(title="notification-sms").compact.transparent
                +icon("notification-sms")
            +label(title="notification-sms-failed").compact.transparent
                +icon("notification-sms-failed")
            +label(title="notification-sync").compact.transparent
                +icon("notification-sync")
            +label(title="notification-sync-disabled").compact.transparent
                +icon("notification-sync-disabled")
            +label(title="notification-sync-problem").compact.transparent
                +icon("notification-sync-problem")
            +label(title="notification-system-update").compact.transparent
                +icon("notification-system-update")
            +label(title="notification-tap-and-play").compact.transparent
                +icon("notification-tap-and-play")
            +label(title="notification-time-to-leave").compact.transparent
                +icon("notification-time-to-leave")
            +label(title="notification-vibration").compact.transparent
                +icon("notification-vibration")
            +label(title="notification-voice-chat").compact.transparent
                +icon("notification-voice-chat")
            +label(title="notification-vpn-lock").compact.transparent
                +icon("notification-vpn-lock")

    +divider Social

    +simple-container
        +multiple
            +label(title="social-cake").compact.transparent
                +icon("social-cake")
            +label(title="social-domain").compact.transparent
                +icon("social-domain")
            +label(title="social-location-city").compact.transparent
                +icon("social-location-city")
            +label(title="social-mood").compact.transparent
                +icon("social-mood")
            +label(title="social-notifications-none").compact.transparent
                +icon("social-notifications-none")
            +label(title="social-notifications").compact.transparent
                +icon("social-notifications")
            +label(title="social-notifications-off").compact.transparent
                +icon("social-notifications-off")
            +label(title="social-notifications-on").compact.transparent
                +icon("social-notifications-on")
            +label(title="social-notifications-paused").compact.transparent
                +icon("social-notifications-paused")
            +label(title="social-pages").compact.transparent
                +icon("social-pages")
            +label(title="social-party-mode").compact.transparent
                +icon("social-party-mode")
            +label(title="social-group").compact.transparent
                +icon("social-group")
            +label(title="social-group-add").compact.transparent
                +icon("social-group-add")
            +label(title="social-people").compact.transparent
                +icon("social-people")
            +label(title="social-people-outline").compact.transparent
                +icon("social-people-outline")
            +label(title="social-person").compact.transparent
                +icon("social-person")
            +label(title="social-person-add").compact.transparent
                +icon("social-person-add")
            +label(title="social-person-outline").compact.transparent
                +icon("social-person-outline")
            +label(title="social-plus-one").compact.transparent
                +icon("social-plus-one")
            +label(title="social-poll").compact.transparent
                +icon("social-poll")
            +label(title="social-public").compact.transparent
                +icon("social-public")
            +label(title="social-school").compact.transparent
                +icon("social-school")
            +label(title="social-share").compact.transparent
                +icon("social-share")
            +label(title="social-whatshot").compact.transparent
                +icon("social-whatshot")

    +divider Toggle

    +simple-container
        +multiple
            +label(title="toggle-check-box").compact.transparent
                +icon("toggle-check-box")
            +label(title="toggle-check-box-outline-blank").compact.transparent
                +icon("toggle-check-box-outline-blank")
            +label(title="toggle-radio-button-off").compact.transparent
                +icon("toggle-radio-button-off")
            +label(title="toggle-radio-button-on").compact.transparent
                +icon("toggle-radio-button-on")
            +label(title="toggle-star").compact.transparent
                +icon("toggle-star")
            +label(title="toggle-star-half").compact.transparent
                +icon("toggle-star-half")
            +label(title="toggle-star-outline").compact.transparent
                +icon("toggle-star-outline")
