//- css/icons.jade

extends ../../layout.jade

append main
    +divider Action

    +container-simple
        +multiple
            +label-icon("action-3d-rotation")(title="action-3d-rotation").transparent
            +label-icon("action-accessibility")(title="action-accessibility").transparent
            +label-icon("action-account-balance")(title="action-account-balance").transparent
            +label-icon("action-account-balance-wallet")(title="action-account-balance-wallet").transparent
            +label-icon("action-account-box")(title="action-account-box").transparent
            +label-icon("action-account-child")(title="action-account-child").transparent
            +label-icon("action-account-circle")(title="action-account-circle").transparent
            +label-icon("action-add-shopping-cart")(title="action-add-shopping-cart").transparent
            +label-icon("action-alarm")(title="action-alarm").transparent
            +label-icon("action-alarm-add")(title="action-alarm-add").transparent
            +label-icon("action-alarm-off")(title="action-alarm-off").transparent
            +label-icon("action-alarm-on")(title="action-alarm-on").transparent
            +label-icon("action-android")(title="action-android").transparent
            +label-icon("action-announcement")(title="action-announcement").transparent
            +label-icon("action-aspect-ratio")(title="action-aspect-ratio").transparent
            +label-icon("action-assessment")(title="action-assessment").transparent
            +label-icon("action-assignment")(title="action-assignment").transparent
            +label-icon("action-assignment-ind")(title="action-assignment-ind").transparent
            +label-icon("action-assignment-late")(title="action-assignment-late").transparent
            +label-icon("action-assignment-return")(title="action-assignment-return").transparent
            +label-icon("action-assignment-returned")(title="action-assignment-returned").transparent
            +label-icon("action-assignment-turned-in")(title="action-assignment-turned-in").transparent
            +label-icon("action-autorenew")(title="action-autorenew").transparent
            +label-icon("action-backup")(title="action-backup").transparent
            +label-icon("action-book")(title="action-book").transparent
            +label-icon("action-bookmark")(title="action-bookmark").transparent
            +label-icon("action-bookmark-outline")(title="action-bookmark-outline").transparent
            +label-icon("action-bug-report")(title="action-bug-report").transparent
            +label-icon("action-cached")(title="action-cached").transparent
            +label-icon("action-class")(title="action-class").transparent
            +label-icon("action-credit-card")(title="action-credit-card").transparent
            +label-icon("action-dashboard")(title="action-dashboard").transparent
            +label-icon("action-delete")(title="action-delete").transparent
            +label-icon("action-description")(title="action-description").transparent
            +label-icon("action-dns")(title="action-dns").transparent
            +label-icon("action-done")(title="action-done").transparent
            +label-icon("action-done-all")(title="action-done-all").transparent
            +label-icon("action-event")(title="action-event").transparent
            +label-icon("action-exit-to-app")(title="action-exit-to-app").transparent
            +label-icon("action-explore")(title="action-explore").transparent
            +label-icon("action-extension")(title="action-extension").transparent
            +label-icon("action-face-unlock")(title="action-face-unlock").transparent
            +label-icon("action-favorite")(title="action-favorite").transparent
            +label-icon("action-favorite-outline")(title="action-favorite-outline").transparent
            +label-icon("action-find-in-page")(title="action-find-in-page").transparent
            +label-icon("action-find-replace")(title="action-find-replace").transparent
            +label-icon("action-flip-to-back")(title="action-flip-to-back").transparent
            +label-icon("action-flip-to-front")(title="action-flip-to-front").transparent
            +label-icon("action-get-app")(title="action-get-app").transparent
            +label-icon("action-grade")(title="action-grade").transparent
            +label-icon("action-group-work")(title="action-group-work").transparent
            +label-icon("action-help")(title="action-help").transparent
            +label-icon("action-highlight-remove")(title="action-highlight-remove").transparent
            +label-icon("action-history")(title="action-history").transparent
            +label-icon("action-home")(title="action-home").transparent
            +label-icon("action-https")(title="action-https").transparent
            +label-icon("action-info")(title="action-info").transparent
            +label-icon("action-info-outline")(title="action-info-outline").transparent
            +label-icon("action-input")(title="action-input").transparent
            +label-icon("action-invert-colors")(title="action-invert-colors").transparent
            +label-icon("action-label")(title="action-label").transparent
            +label-icon("action-label-outline")(title="action-label-outline").transparent
            +label-icon("action-language")(title="action-language").transparent
            +label-icon("action-launch")(title="action-launch").transparent
            +label-icon("action-list")(title="action-list").transparent
            +label-icon("action-lock")(title="action-lock").transparent
            +label-icon("action-lock-open")(title="action-lock-open").transparent
            +label-icon("action-lock-outline")(title="action-lock-outline").transparent
            +label-icon("action-loyalty")(title="action-loyalty").transparent
            +label-icon("action-markunread-mailbox")(title="action-markunread-mailbox").transparent
            +label-icon("action-note-add")(title="action-note-add").transparent
            +label-icon("action-open-in-browser")(title="action-open-in-browser").transparent
            +label-icon("action-open-in-new")(title="action-open-in-new").transparent
            +label-icon("action-open-with")(title="action-open-with").transparent
            +label-icon("action-pageview")(title="action-pageview").transparent
            +label-icon("action-payment")(title="action-payment").transparent
            +label-icon("action-perm-camera-mic")(title="action-perm-camera-mic").transparent
            +label-icon("action-perm-contact-cal")(title="action-perm-contact-cal").transparent
            +label-icon("action-perm-data-setting")(title="action-perm-data-setting").transparent
            +label-icon("action-perm-device-info")(title="action-perm-device-info").transparent
            +label-icon("action-perm-identity")(title="action-perm-identity").transparent
            +label-icon("action-perm-media")(title="action-perm-media").transparent
            +label-icon("action-perm-phone-msg")(title="action-perm-phone-msg").transparent
            +label-icon("action-perm-scan-wifi")(title="action-perm-scan-wifi").transparent
            +label-icon("action-picture-in-picture")(title="action-picture-in-picture").transparent
            +label-icon("action-polymer")(title="action-polymer").transparent
            +label-icon("action-print")(title="action-print").transparent
            +label-icon("action-query-builder")(title="action-query-builder").transparent
            +label-icon("action-question-answer")(title="action-question-answer").transparent
            +label-icon("action-receipt")(title="action-receipt").transparent
            +label-icon("action-redeem")(title="action-redeem").transparent
            +label-icon("action-report-problem")(title="action-report-problem").transparent
            +label-icon("action-restore")(title="action-restore").transparent
            +label-icon("action-room")(title="action-room").transparent
            +label-icon("action-schedule")(title="action-schedule").transparent
            +label-icon("action-search")(title="action-search").transparent
            +label-icon("action-settings")(title="action-settings").transparent
            +label-icon("action-settings-applications")(title="action-settings-applications").transparent
            +label-icon("action-settings-backup-restore")(title="action-settings-backup-restore").transparent
            +label-icon("action-settings-bluetooth")(title="action-settings-bluetooth").transparent
            +label-icon("action-settings-cell")(title="action-settings-cell").transparent
            +label-icon("action-settings-display")(title="action-settings-display").transparent
            +label-icon("action-settings-ethernet")(title="action-settings-ethernet").transparent
            +label-icon("action-settings-input-antenna")(title="action-settings-input-antenna").transparent
            +label-icon("action-settings-input-component")(title="action-settings-input-component").transparent
            +label-icon("action-settings-input-composite")(title="action-settings-input-composite").transparent
            +label-icon("action-settings-input-hdmi")(title="action-settings-input-hdmi").transparent
            +label-icon("action-settings-input-svideo")(title="action-settings-input-svideo").transparent
            +label-icon("action-settings-overscan")(title="action-settings-overscan").transparent
            +label-icon("action-settings-phone")(title="action-settings-phone").transparent
            +label-icon("action-settings-power")(title="action-settings-power").transparent
            +label-icon("action-settings-remote")(title="action-settings-remote").transparent
            +label-icon("action-settings-voice")(title="action-settings-voice").transparent
            +label-icon("action-shop")(title="action-shop").transparent
            +label-icon("action-shopping-basket")(title="action-shopping-basket").transparent
            +label-icon("action-shopping-cart")(title="action-shopping-cart").transparent
            +label-icon("action-shop-two")(title="action-shop-two").transparent
            +label-icon("action-speaker-notes")(title="action-speaker-notes").transparent
            +label-icon("action-spellcheck")(title="action-spellcheck").transparent
            +label-icon("action-star-rate")(title="action-star-rate").transparent
            +label-icon("action-stars")(title="action-stars").transparent
            +label-icon("action-store")(title="action-store").transparent
            +label-icon("action-subject")(title="action-subject").transparent
            +label-icon("action-swap-horiz")(title="action-swap-horiz").transparent
            +label-icon("action-swap-vert")(title="action-swap-vert").transparent
            +label-icon("action-swap-vert-circle")(title="action-swap-vert-circle").transparent
            +label-icon("action-system-update-tv")(title="action-system-update-tv").transparent
            +label-icon("action-tab")(title="action-tab").transparent
            +label-icon("action-tab-unselected")(title="action-tab-unselected").transparent
            +label-icon("action-theaters")(title="action-theaters").transparent
            +label-icon("action-thumb-down")(title="action-thumb-down").transparent
            +label-icon("action-thumbs-up-down")(title="action-thumbs-up-down").transparent
            +label-icon("action-thumb-up")(title="action-thumb-up").transparent
            +label-icon("action-toc")(title="action-toc").transparent
            +label-icon("action-today")(title="action-today").transparent
            +label-icon("action-track-changes")(title="action-track-changes").transparent
            +label-icon("action-translate")(title="action-translate").transparent
            +label-icon("action-trending-down")(title="action-trending-down").transparent
            +label-icon("action-trending-neutral")(title="action-trending-neutral").transparent
            +label-icon("action-trending-up")(title="action-trending-up").transparent
            +label-icon("action-turned-in")(title="action-turned-in").transparent
            +label-icon("action-turned-in-not")(title="action-turned-in-not").transparent
            +label-icon("action-verified-user")(title="action-verified-user").transparent
            +label-icon("action-view-agenda")(title="action-view-agenda").transparent
            +label-icon("action-view-array")(title="action-view-array").transparent
            +label-icon("action-view-carousel")(title="action-view-carousel").transparent
            +label-icon("action-view-column")(title="action-view-column").transparent
            +label-icon("action-view-day")(title="action-view-day").transparent
            +label-icon("action-view-headline")(title="action-view-headline").transparent
            +label-icon("action-view-list")(title="action-view-list").transparent
            +label-icon("action-view-module")(title="action-view-module").transparent
            +label-icon("action-view-quilt")(title="action-view-quilt").transparent
            +label-icon("action-view-stream")(title="action-view-stream").transparent
            +label-icon("action-view-week")(title="action-view-week").transparent
            +label-icon("action-visibility")(title="action-visibility").transparent
            +label-icon("action-visibility-off")(title="action-visibility-off").transparent
            +label-icon("action-wallet-giftcard")(title="action-wallet-giftcard").transparent
            +label-icon("action-wallet-membership")(title="action-wallet-membership").transparent
            +label-icon("action-wallet-travel")(title="action-wallet-travel").transparent
            +label-icon("action-work")(title="action-work").transparent

    +divider Alert

    +container-simple
        +multiple
            +label-icon("alert-error")(title="alert-error").transparent
            +label-icon("alert-warning")(title="alert-warning").transparent

    +divider Audio / Video

    +container-simple
        +multiple
            +label-icon("av-album")(title="av-album").transparent
            +label-icon("av-timer")(title="av-timer").transparent
            +label-icon("av-closed-caption")(title="av-closed-caption").transparent
            +label-icon("av-equalizer")(title="av-equalizer").transparent
            +label-icon("av-explicit")(title="av-explicit").transparent
            +label-icon("av-fast-forward")(title="av-fast-forward").transparent
            +label-icon("av-fast-rewind")(title="av-fast-rewind").transparent
            +label-icon("av-games")(title="av-games").transparent
            +label-icon("av-hearing")(title="av-hearing").transparent
            +label-icon("av-high-quality")(title="av-high-quality").transparent
            +label-icon("av-loop")(title="av-loop").transparent
            +label-icon("av-mic")(title="av-mic").transparent
            +label-icon("av-mic-none")(title="av-mic-none").transparent
            +label-icon("av-mic-off")(title="av-mic-off").transparent
            +label-icon("av-movie")(title="av-movie").transparent
            +label-icon("av-my-library-add")(title="av-my-library-add").transparent
            +label-icon("av-my-library-books")(title="av-my-library-books").transparent
            +label-icon("av-my-library-music")(title="av-my-library-music").transparent
            +label-icon("av-new-releases")(title="av-new-releases").transparent
            +label-icon("av-not-interested")(title="av-not-interested").transparent
            +label-icon("av-pause")(title="av-pause").transparent
            +label-icon("av-pause-circle-fill")(title="av-pause-circle-fill").transparent
            +label-icon("av-pause-circle-outline")(title="av-pause-circle-outline").transparent
            +label-icon("av-play-arrow")(title="av-play-arrow").transparent
            +label-icon("av-play-circle-fill")(title="av-play-circle-fill").transparent
            +label-icon("av-play-circle-outline")(title="av-play-circle-outline").transparent
            +label-icon("av-playlist-add")(title="av-playlist-add").transparent
            +label-icon("av-play-shopping-bag")(title="av-play-shopping-bag").transparent
            +label-icon("av-queue")(title="av-queue").transparent
            +label-icon("av-queue-music")(title="av-queue-music").transparent
            +label-icon("av-radio")(title="av-radio").transparent
            +label-icon("av-recent-actors")(title="av-recent-actors").transparent
            +label-icon("av-repeat")(title="av-repeat").transparent
            +label-icon("av-repeat-one")(title="av-repeat-one").transparent
            +label-icon("av-replay")(title="av-replay").transparent
            +label-icon("av-shuffle")(title="av-shuffle").transparent
            +label-icon("av-skip-next")(title="av-skip-next").transparent
            +label-icon("av-skip-previous")(title="av-skip-previous").transparent
            +label-icon("av-snooze")(title="av-snooze").transparent
            +label-icon("av-stop")(title="av-stop").transparent
            +label-icon("av-subtitles")(title="av-subtitles").transparent
            +label-icon("av-surround-sound")(title="av-surround-sound").transparent
            +label-icon("av-videocam")(title="av-videocam").transparent
            +label-icon("av-videocam-off")(title="av-videocam-off").transparent
            +label-icon("av-video-collection")(title="av-video-collection").transparent
            +label-icon("av-volume-down")(title="av-volume-down").transparent
            +label-icon("av-volume-mute")(title="av-volume-mute").transparent
            +label-icon("av-volume-off")(title="av-volume-off").transparent
            +label-icon("av-volume-up")(title="av-volume-up").transparent
            +label-icon("av-web")(title="av-web").transparent

    +divider Communication

    +container-simple
        +multiple
            +label-icon("communication-business")(title="communication-business").transparent
            +label-icon("communication-call")(title="communication-call").transparent
            +label-icon("communication-call-end")(title="communication-call-end").transparent
            +label-icon("communication-call-made")(title="communication-call-made").transparent
            +label-icon("communication-call-merge")(title="communication-call-merge").transparent
            +label-icon("communication-call-missed")(title="communication-call-missed").transparent
            +label-icon("communication-call-received")(title="communication-call-received").transparent
            +label-icon("communication-call-split")(title="communication-call-split").transparent
            +label-icon("communication-chat")(title="communication-chat").transparent
            +label-icon("communication-clear-all")(title="communication-clear-all").transparent
            +label-icon("communication-comment")(title="communication-comment").transparent
            +label-icon("communication-contacts")(title="communication-contacts").transparent
            +label-icon("communication-dialer-sip")(title="communication-dialer-sip").transparent
            +label-icon("communication-dialpad")(title="communication-dialpad").transparent
            +label-icon("communication-dnd-on")(title="communication-dnd-on").transparent
            +label-icon("communication-email")(title="communication-email").transparent
            +label-icon("communication-forum")(title="communication-forum").transparent
            +label-icon("communication-import-export")(title="communication-import-export").transparent
            +label-icon("communication-invert-colors-off")(title="communication-invert-colors-off").transparent
            +label-icon("communication-invert-colors-on")(title="communication-invert-colors-on").transparent
            +label-icon("communication-live-help")(title="communication-live-help").transparent
            +label-icon("communication-location-off")(title="communication-location-off").transparent
            +label-icon("communication-location-on")(title="communication-location-on").transparent
            +label-icon("communication-message")(title="communication-message").transparent
            +label-icon("communication-messenger")(title="communication-messenger").transparent
            +label-icon("communication-no-sim")(title="communication-no-sim").transparent
            +label-icon("communication-phone")(title="communication-phone").transparent
            +label-icon("communication-portable-wifi-off")(title="communication-portable-wifi-off").transparent
            +label-icon("communication-quick-contacts-dialer")(title="communication-quick-contacts-dialer").transparent
            +label-icon("communication-quick-contacts-mail")(title="communication-quick-contacts-mail").transparent
            +label-icon("communication-ring-volume")(title="communication-ring-volume").transparent
            +label-icon("communication-stay-current-landscape")(title="communication-stay-current-landscape").transparent
            +label-icon("communication-stay-current-portrait")(title="communication-stay-current-portrait").transparent
            +label-icon("communication-stay-primary-landscape")(title="communication-stay-primary-landscape").transparent
            +label-icon("communication-stay-primary-portrait")(title="communication-stay-primary-portrait").transparent
            +label-icon("communication-swap-calls")(title="communication-swap-calls").transparent
            +label-icon("communication-textsms")(title="communication-textsms").transparent
            +label-icon("communication-voicemail")(title="communication-voicemail").transparent
            +label-icon("communication-vpn-key")(title="communication-vpn-key").transparent

    +divider Content

    +container-simple
        +multiple
            +label-icon("content-add")(title="content-add").transparent
            +label-icon("content-add-box")(title="content-add-box").transparent
            +label-icon("content-add-circle")(title="content-add-circle").transparent
            +label-icon("content-add-circle-outline")(title="content-add-circle-outline").transparent
            +label-icon("content-archive")(title="content-archive").transparent
            +label-icon("content-backspace")(title="content-backspace").transparent
            +label-icon("content-block")(title="content-block").transparent
            +label-icon("content-clear")(title="content-clear").transparent
            +label-icon("content-content-copy")(title="content-content-copy").transparent
            +label-icon("content-content-cut")(title="content-content-cut").transparent
            +label-icon("content-content-paste")(title="content-content-paste").transparent
            +label-icon("content-create")(title="content-create").transparent
            +label-icon("content-drafts")(title="content-drafts").transparent
            +label-icon("content-filter-list")(title="content-filter-list").transparent
            +label-icon("content-flag")(title="content-flag").transparent
            +label-icon("content-forward")(title="content-forward").transparent
            +label-icon("content-gesture")(title="content-gesture").transparent
            +label-icon("content-inbox")(title="content-inbox").transparent
            +label-icon("content-link")(title="content-link").transparent
            +label-icon("content-mail")(title="content-mail").transparent
            +label-icon("content-markunread")(title="content-markunread").transparent
            +label-icon("content-redo")(title="content-redo").transparent
            +label-icon("content-remove")(title="content-remove").transparent
            +label-icon("content-remove-circle")(title="content-remove-circle").transparent
            +label-icon("content-remove-circle-outline")(title="content-remove-circle-outline").transparent
            +label-icon("content-reply")(title="content-reply").transparent
            +label-icon("content-reply-all")(title="content-reply-all").transparent
            +label-icon("content-report")(title="content-report").transparent
            +label-icon("content-save")(title="content-save").transparent
            +label-icon("content-select-all")(title="content-select-all").transparent
            +label-icon("content-send")(title="content-send").transparent
            +label-icon("content-sort")(title="content-sort").transparent
            +label-icon("content-text-format")(title="content-text-format").transparent
            +label-icon("content-undo")(title="content-undo").transparent

    +divider Device

    +container-simple
        +multiple
            +label-icon("device-access-alarm")(title="device-access-alarm").transparent
            +label-icon("device-access-alarms")(title="device-access-alarms").transparent
            +label-icon("device-access-time")(title="device-access-time").transparent
            +label-icon("device-add-alarm")(title="device-add-alarm").transparent
            +label-icon("device-airplanemode-off")(title="device-airplanemode-off").transparent
            +label-icon("device-airplanemode-on")(title="device-airplanemode-on").transparent
            +label-icon("device-battery-20")(title="device-battery-20").transparent
            +label-icon("device-battery-30")(title="device-battery-30").transparent
            +label-icon("device-battery-50")(title="device-battery-50").transparent
            +label-icon("device-battery-60")(title="device-battery-60").transparent
            +label-icon("device-battery-80")(title="device-battery-80").transparent
            +label-icon("device-battery-90")(title="device-battery-90").transparent
            +label-icon("device-battery-alert")(title="device-battery-alert").transparent
            +label-icon("device-battery-charging-20")(title="device-battery-charging-20").transparent
            +label-icon("device-battery-charging-30")(title="device-battery-charging-30").transparent
            +label-icon("device-battery-charging-50")(title="device-battery-charging-50").transparent
            +label-icon("device-battery-charging-60")(title="device-battery-charging-60").transparent
            +label-icon("device-battery-charging-80")(title="device-battery-charging-80").transparent
            +label-icon("device-battery-charging-90")(title="device-battery-charging-90").transparent
            +label-icon("device-battery-charging-full")(title="device-battery-charging-full").transparent
            +label-icon("device-battery-full")(title="device-battery-full").transparent
            +label-icon("device-battery-std")(title="device-battery-std").transparent
            +label-icon("device-battery-unknown")(title="device-battery-unknown").transparent
            +label-icon("device-bluetooth")(title="device-bluetooth").transparent
            +label-icon("device-bluetooth-connected")(title="device-bluetooth-connected").transparent
            +label-icon("device-bluetooth-disabled")(title="device-bluetooth-disabled").transparent
            +label-icon("device-bluetooth-searching")(title="device-bluetooth-searching").transparent
            +label-icon("device-brightness-auto")(title="device-brightness-auto").transparent
            +label-icon("device-brightness-high")(title="device-brightness-high").transparent
            +label-icon("device-brightness-low")(title="device-brightness-low").transparent
            +label-icon("device-brightness-medium")(title="device-brightness-medium").transparent
            +label-icon("device-data-usage")(title="device-data-usage").transparent
            +label-icon("device-developer-mode")(title="device-developer-mode").transparent
            +label-icon("device-devices")(title="device-devices").transparent
            +label-icon("device-dvr")(title="device-dvr").transparent
            +label-icon("device-gps-fixed")(title="device-gps-fixed").transparent
            +label-icon("device-gps-not-fixed")(title="device-gps-not-fixed").transparent
            +label-icon("device-gps-off")(title="device-gps-off").transparent
            +label-icon("device-location-disabled")(title="device-location-disabled").transparent
            +label-icon("device-location-searching")(title="device-location-searching").transparent
            +label-icon("device-multitrack-audio")(title="device-multitrack-audio").transparent
            +label-icon("device-network-cell")(title="device-network-cell").transparent
            +label-icon("device-network-wifi")(title="device-network-wifi").transparent
            +label-icon("device-nfc")(title="device-nfc").transparent
            +label-icon("device-now-wallpaper")(title="device-now-wallpaper").transparent
            +label-icon("device-now-widgets")(title="device-now-widgets").transparent
            +label-icon("device-screen-lock-landscape")(title="device-screen-lock-landscape").transparent
            +label-icon("device-screen-lock-portrait")(title="device-screen-lock-portrait").transparent
            +label-icon("device-screen-lock-rotation")(title="device-screen-lock-rotation").transparent
            +label-icon("device-screen-rotation")(title="device-screen-rotation").transparent
            +label-icon("device-sd-storage")(title="device-sd-storage").transparent
            +label-icon("device-settings-system-daydream")(title="device-settings-system-daydream").transparent
            +label-icon("device-signal-cellular-0-bar")(title="device-signal-cellular-0-bar").transparent
            +label-icon("device-signal-cellular-1-bar")(title="device-signal-cellular-1-bar").transparent
            +label-icon("device-signal-cellular-2-bar")(title="device-signal-cellular-2-bar").transparent
            +label-icon("device-signal-cellular-3-bar")(title="device-signal-cellular-3-bar").transparent
            +label-icon("device-signal-cellular-4-bar")(title="device-signal-cellular-4-bar").transparent
            +label-icon("device-signal-cellular-connected-no-internet-0-bar")(title="device-signal-cellular-connected-no-internet-0-bar").transparent
            +label-icon("device-signal-cellular-connected-no-internet-1-bar")(title="device-signal-cellular-connected-no-internet-1-bar").transparent
            +label-icon("device-signal-cellular-connected-no-internet-2-bar")(title="device-signal-cellular-connected-no-internet-2-bar").transparent
            +label-icon("device-signal-cellular-connected-no-internet-3-bar")(title="device-signal-cellular-connected-no-internet-3-bar").transparent
            +label-icon("device-signal-cellular-connected-no-internet-4-bar")(title="device-signal-cellular-connected-no-internet-4-bar").transparent
            +label-icon("device-signal-cellular-no-sim")(title="device-signal-cellular-no-sim").transparent
            +label-icon("device-signal-cellular-null")(title="device-signal-cellular-null").transparent
            +label-icon("device-signal-cellular-off")(title="device-signal-cellular-off").transparent
            +label-icon("device-signal-wifi-0-bar")(title="device-signal-wifi-0-bar").transparent
            +label-icon("device-signal-wifi-1-bar")(title="device-signal-wifi-1-bar").transparent
            +label-icon("device-signal-wifi-2-bar")(title="device-signal-wifi-2-bar").transparent
            +label-icon("device-signal-wifi-3-bar")(title="device-signal-wifi-3-bar").transparent
            +label-icon("device-signal-wifi-4-bar")(title="device-signal-wifi-4-bar").transparent
            +label-icon("device-signal-wifi-off")(title="device-signal-wifi-off").transparent
            +label-icon("device-storage")(title="device-storage").transparent
            +label-icon("device-usb")(title="device-usb").transparent
            +label-icon("device-wifi-lock")(title="device-wifi-lock").transparent
            +label-icon("device-wifi-tethering")(title="device-wifi-tethering").transparent

    +divider Editor

    +container-simple
        +multiple
            +label-icon("editor-attach-file")(title="editor-attach-file").transparent
            +label-icon("editor-attach-money")(title="editor-attach-money").transparent
            +label-icon("editor-border-all")(title="editor-border-all").transparent
            +label-icon("editor-border-bottom")(title="editor-border-bottom").transparent
            +label-icon("editor-border-clear")(title="editor-border-clear").transparent
            +label-icon("editor-border-color")(title="editor-border-color").transparent
            +label-icon("editor-border-horizontal")(title="editor-border-horizontal").transparent
            +label-icon("editor-border-inner")(title="editor-border-inner").transparent
            +label-icon("editor-border-left")(title="editor-border-left").transparent
            +label-icon("editor-border-outer")(title="editor-border-outer").transparent
            +label-icon("editor-border-right")(title="editor-border-right").transparent
            +label-icon("editor-border-style")(title="editor-border-style").transparent
            +label-icon("editor-border-top")(title="editor-border-top").transparent
            +label-icon("editor-border-vertical")(title="editor-border-vertical").transparent
            +label-icon("editor-format-align-center")(title="editor-format-align-center").transparent
            +label-icon("editor-format-align-justify")(title="editor-format-align-justify").transparent
            +label-icon("editor-format-align-left")(title="editor-format-align-left").transparent
            +label-icon("editor-format-align-right")(title="editor-format-align-right").transparent
            +label-icon("editor-format-bold")(title="editor-format-bold").transparent
            +label-icon("editor-format-clear")(title="editor-format-clear").transparent
            +label-icon("editor-format-color-fill")(title="editor-format-color-fill").transparent
            +label-icon("editor-format-color-reset")(title="editor-format-color-reset").transparent
            +label-icon("editor-format-color-text")(title="editor-format-color-text").transparent
            +label-icon("editor-format-indent-decrease")(title="editor-format-indent-decrease").transparent
            +label-icon("editor-format-indent-increase")(title="editor-format-indent-increase").transparent
            +label-icon("editor-format-italic")(title="editor-format-italic").transparent
            +label-icon("editor-format-line-spacing")(title="editor-format-line-spacing").transparent
            +label-icon("editor-format-list-bulleted")(title="editor-format-list-bulleted").transparent
            +label-icon("editor-format-list-numbered")(title="editor-format-list-numbered").transparent
            +label-icon("editor-format-paint")(title="editor-format-paint").transparent
            +label-icon("editor-format-quote")(title="editor-format-quote").transparent
            +label-icon("editor-format-size")(title="editor-format-size").transparent
            +label-icon("editor-format-strikethrough")(title="editor-format-strikethrough").transparent
            +label-icon("editor-format-textdirection-l-to-r")(title="editor-format-textdirection-l-to-r").transparent
            +label-icon("editor-format-textdirection-r-to-l")(title="editor-format-textdirection-r-to-l").transparent
            +label-icon("editor-format-underline")(title="editor-format-underline").transparent
            +label-icon("editor-functions")(title="editor-functions").transparent
            +label-icon("editor-insert-chart")(title="editor-insert-chart").transparent
            +label-icon("editor-insert-comment")(title="editor-insert-comment").transparent
            +label-icon("editor-insert-drive-file")(title="editor-insert-drive-file").transparent
            +label-icon("editor-insert-emoticon")(title="editor-insert-emoticon").transparent
            +label-icon("editor-insert-invitation")(title="editor-insert-invitation").transparent
            +label-icon("editor-insert-link")(title="editor-insert-link").transparent
            +label-icon("editor-insert-photo")(title="editor-insert-photo").transparent
            +label-icon("editor-merge-type")(title="editor-merge-type").transparent
            +label-icon("editor-mode-comment")(title="editor-mode-comment").transparent
            +label-icon("editor-mode-edit")(title="editor-mode-edit").transparent
            +label-icon("editor-publish")(title="editor-publish").transparent
            +label-icon("editor-vertical-align-bottom")(title="editor-vertical-align-bottom").transparent
            +label-icon("editor-vertical-align-center")(title="editor-vertical-align-center").transparent
            +label-icon("editor-vertical-align-top")(title="editor-vertical-align-top").transparent
            +label-icon("editor-wrap-text")(title="editor-wrap-text").transparent

    +divider File

    +container-simple
        +multiple
            +label-icon("file-attachment")(title="file-attachment").transparent
            +label-icon("file-cloud")(title="file-cloud").transparent
            +label-icon("file-cloud-circle")(title="file-cloud-circle").transparent
            +label-icon("file-cloud-done")(title="file-cloud-done").transparent
            +label-icon("file-cloud-download")(title="file-cloud-download").transparent
            +label-icon("file-cloud-off")(title="file-cloud-off").transparent
            +label-icon("file-cloud-queue")(title="file-cloud-queue").transparent
            +label-icon("file-cloud-upload")(title="file-cloud-upload").transparent
            +label-icon("file-file-download")(title="file-file-download").transparent
            +label-icon("file-file-upload")(title="file-file-upload").transparent
            +label-icon("file-folder")(title="file-folder").transparent
            +label-icon("file-folder-open")(title="file-folder-open").transparent
            +label-icon("file-folder-shared")(title="file-folder-shared").transparent

    +divider Hardware

    +container-simple
        +multiple
            +label-icon("hardware-cast")(title="hardware-cast").transparent
            +label-icon("hardware-cast-connected")(title="hardware-cast-connected").transparent
            +label-icon("hardware-computer")(title="hardware-computer").transparent
            +label-icon("hardware-desktop-mac")(title="hardware-desktop-mac").transparent
            +label-icon("hardware-desktop-windows")(title="hardware-desktop-windows").transparent
            +label-icon("hardware-dock")(title="hardware-dock").transparent
            +label-icon("hardware-gamepad")(title="hardware-gamepad").transparent
            +label-icon("hardware-headset")(title="hardware-headset").transparent
            +label-icon("hardware-headset-mic")(title="hardware-headset-mic").transparent
            +label-icon("hardware-keyboard")(title="hardware-keyboard").transparent
            +label-icon("hardware-keyboard-alt")(title="hardware-keyboard-alt").transparent
            +label-icon("hardware-keyboard-arrow-down")(title="hardware-keyboard-arrow-down").transparent
            +label-icon("hardware-keyboard-arrow-left")(title="hardware-keyboard-arrow-left").transparent
            +label-icon("hardware-keyboard-arrow-right")(title="hardware-keyboard-arrow-right").transparent
            +label-icon("hardware-keyboard-arrow-up")(title="hardware-keyboard-arrow-up").transparent
            +label-icon("hardware-keyboard-backspace")(title="hardware-keyboard-backspace").transparent
            +label-icon("hardware-keyboard-capslock")(title="hardware-keyboard-capslock").transparent
            +label-icon("hardware-keyboard-control")(title="hardware-keyboard-control").transparent
            +label-icon("hardware-keyboard-hide")(title="hardware-keyboard-hide").transparent
            +label-icon("hardware-keyboard-return")(title="hardware-keyboard-return").transparent
            +label-icon("hardware-keyboard-tab")(title="hardware-keyboard-tab").transparent
            +label-icon("hardware-keyboard-voice")(title="hardware-keyboard-voice").transparent
            +label-icon("hardware-laptop")(title="hardware-laptop").transparent
            +label-icon("hardware-laptop-chromebook")(title="hardware-laptop-chromebook").transparent
            +label-icon("hardware-laptop-mac")(title="hardware-laptop-mac").transparent
            +label-icon("hardware-laptop-windows")(title="hardware-laptop-windows").transparent
            +label-icon("hardware-memory")(title="hardware-memory").transparent
            +label-icon("hardware-mouse")(title="hardware-mouse").transparent
            +label-icon("hardware-phone-android")(title="hardware-phone-android").transparent
            +label-icon("hardware-phone-iphone")(title="hardware-phone-iphone").transparent
            +label-icon("hardware-phonelink")(title="hardware-phonelink").transparent
            +label-icon("hardware-phonelink-off")(title="hardware-phonelink-off").transparent
            +label-icon("hardware-security")(title="hardware-security").transparent
            +label-icon("hardware-sim-card")(title="hardware-sim-card").transparent
            +label-icon("hardware-smartphone")(title="hardware-smartphone").transparent
            +label-icon("hardware-speaker")(title="hardware-speaker").transparent
            +label-icon("hardware-tablet")(title="hardware-tablet").transparent
            +label-icon("hardware-tablet-android")(title="hardware-tablet-android").transparent
            +label-icon("hardware-tablet-mac")(title="hardware-tablet-mac").transparent
            +label-icon("hardware-tv")(title="hardware-tv").transparent
            +label-icon("hardware-watch")(title="hardware-watch").transparent

    +divider Image

    +container-simple
        +multiple
            +label-icon("image-add-to-photos")(title="image-add-to-photos").transparent
            +label-icon("image-adjust")(title="image-adjust").transparent
            +label-icon("image-assistant-photo")(title="image-assistant-photo").transparent
            +label-icon("image-audiotrack")(title="image-audiotrack").transparent
            +label-icon("image-blur-circular")(title="image-blur-circular").transparent
            +label-icon("image-blur-linear")(title="image-blur-linear").transparent
            +label-icon("image-blur-off")(title="image-blur-off").transparent
            +label-icon("image-blur-on")(title="image-blur-on").transparent
            +label-icon("image-brightness-1")(title="image-brightness-1").transparent
            +label-icon("image-brightness-2")(title="image-brightness-2").transparent
            +label-icon("image-brightness-3")(title="image-brightness-3").transparent
            +label-icon("image-brightness-4")(title="image-brightness-4").transparent
            +label-icon("image-brightness-5")(title="image-brightness-5").transparent
            +label-icon("image-brightness-6")(title="image-brightness-6").transparent
            +label-icon("image-brightness-7")(title="image-brightness-7").transparent
            +label-icon("image-brush")(title="image-brush").transparent
            +label-icon("image-camera")(title="image-camera").transparent
            +label-icon("image-camera-alt")(title="image-camera-alt").transparent
            +label-icon("image-camera-front")(title="image-camera-front").transparent
            +label-icon("image-camera-rear")(title="image-camera-rear").transparent
            +label-icon("image-camera-roll")(title="image-camera-roll").transparent
            +label-icon("image-center-focus-strong")(title="image-center-focus-strong").transparent
            +label-icon("image-center-focus-weak")(title="image-center-focus-weak").transparent
            +label-icon("image-collections")(title="image-collections").transparent
            +label-icon("image-colorize")(title="image-colorize").transparent
            +label-icon("image-color-lens")(title="image-color-lens").transparent
            +label-icon("image-compare")(title="image-compare").transparent
            +label-icon("image-control-point")(title="image-control-point").transparent
            +label-icon("image-control-point-duplicate")(title="image-control-point-duplicate").transparent
            +label-icon("image-crop")(title="image-crop").transparent
            +label-icon("image-crop-3-2")(title="image-crop-3-2").transparent
            +label-icon("image-crop-5-4")(title="image-crop-5-4").transparent
            +label-icon("image-crop-7-5")(title="image-crop-7-5").transparent
            +label-icon("image-crop-16-9")(title="image-crop-16-9").transparent
            +label-icon("image-crop-din")(title="image-crop-din").transparent
            +label-icon("image-crop-free")(title="image-crop-free").transparent
            +label-icon("image-crop-landscape")(title="image-crop-landscape").transparent
            +label-icon("image-crop-original")(title="image-crop-original").transparent
            +label-icon("image-crop-portrait")(title="image-crop-portrait").transparent
            +label-icon("image-crop-square")(title="image-crop-square").transparent
            +label-icon("image-dehaze")(title="image-dehaze").transparent
            +label-icon("image-details")(title="image-details").transparent
            +label-icon("image-edit")(title="image-edit").transparent
            +label-icon("image-exposure")(title="image-exposure").transparent
            +label-icon("image-exposure-minus-1")(title="image-exposure-minus-1").transparent
            +label-icon("image-exposure-minus-2")(title="image-exposure-minus-2").transparent
            +label-icon("image-exposure-zero")(title="image-exposure-zero").transparent
            +label-icon("image-exposure-plus-1")(title="image-exposure-plus-1").transparent
            +label-icon("image-exposure-plus-2")(title="image-exposure-plus-2").transparent
            +label-icon("image-filter")(title="image-filter").transparent
            +label-icon("image-filter-1")(title="image-filter-1").transparent
            +label-icon("image-filter-2")(title="image-filter-2").transparent
            +label-icon("image-filter-3")(title="image-filter-3").transparent
            +label-icon("image-filter-4")(title="image-filter-4").transparent
            +label-icon("image-filter-5")(title="image-filter-5").transparent
            +label-icon("image-filter-6")(title="image-filter-6").transparent
            +label-icon("image-filter-7")(title="image-filter-7").transparent
            +label-icon("image-filter-8")(title="image-filter-8").transparent
            +label-icon("image-filter-9")(title="image-filter-9").transparent
            +label-icon("image-filter-9-plus")(title="image-filter-9-plus").transparent
            +label-icon("image-filter-b-and-w")(title="image-filter-b-and-w").transparent
            +label-icon("image-filter-center-focus")(title="image-filter-center-focus").transparent
            +label-icon("image-filter-drama")(title="image-filter-drama").transparent
            +label-icon("image-filter-frames")(title="image-filter-frames").transparent
            +label-icon("image-filter-hdr")(title="image-filter-hdr").transparent
            +label-icon("image-filter-none")(title="image-filter-none").transparent
            +label-icon("image-filter-tilt-shift")(title="image-filter-tilt-shift").transparent
            +label-icon("image-filter-vintage")(title="image-filter-vintage").transparent
            +label-icon("image-flare")(title="image-flare").transparent
            +label-icon("image-flash-auto")(title="image-flash-auto").transparent
            +label-icon("image-flash-off")(title="image-flash-off").transparent
            +label-icon("image-flash-on")(title="image-flash-on").transparent
            +label-icon("image-flip")(title="image-flip").transparent
            +label-icon("image-gradient")(title="image-gradient").transparent
            +label-icon("image-grain")(title="image-grain").transparent
            +label-icon("image-grid-off")(title="image-grid-off").transparent
            +label-icon("image-grid-on")(title="image-grid-on").transparent
            +label-icon("image-hdr-off")(title="image-hdr-off").transparent
            +label-icon("image-hdr-on")(title="image-hdr-on").transparent
            +label-icon("image-hdr-strong")(title="image-hdr-strong").transparent
            +label-icon("image-hdr-weak")(title="image-hdr-weak").transparent
            +label-icon("image-healing")(title="image-healing").transparent
            +label-icon("image-image")(title="image-image").transparent
            +label-icon("image-image-aspect-ratio")(title="image-image-aspect-ratio").transparent
            +label-icon("image-iso")(title="image-iso").transparent
            +label-icon("image-landscape")(title="image-landscape").transparent
            +label-icon("image-leak-add")(title="image-leak-add").transparent
            +label-icon("image-leak-remove")(title="image-leak-remove").transparent
            +label-icon("image-lens")(title="image-lens").transparent
            +label-icon("image-looks")(title="image-looks").transparent
            +label-icon("image-looks-1")(title="image-looks-1").transparent
            +label-icon("image-looks-2")(title="image-looks-2").transparent
            +label-icon("image-looks-3")(title="image-looks-3").transparent
            +label-icon("image-looks-4")(title="image-looks-4").transparent
            +label-icon("image-looks-5")(title="image-looks-5").transparent
            +label-icon("image-looks-6")(title="image-looks-6").transparent
            +label-icon("image-loupe")(title="image-loupe").transparent
            +label-icon("image-movie-creation")(title="image-movie-creation").transparent
            +label-icon("image-nature")(title="image-nature").transparent
            +label-icon("image-nature-people")(title="image-nature-people").transparent
            +label-icon("image-navigate-before")(title="image-navigate-before").transparent
            +label-icon("image-navigate-next")(title="image-navigate-next").transparent
            +label-icon("image-palette")(title="image-palette").transparent
            +label-icon("image-panorama")(title="image-panorama").transparent
            +label-icon("image-panorama-fisheye")(title="image-panorama-fisheye").transparent
            +label-icon("image-panorama-horizontal")(title="image-panorama-horizontal").transparent
            +label-icon("image-panorama-vertical")(title="image-panorama-vertical").transparent
            +label-icon("image-panorama-wide-angle")(title="image-panorama-wide-angle").transparent
            +label-icon("image-photo")(title="image-photo").transparent
            +label-icon("image-photo-album")(title="image-photo-album").transparent
            +label-icon("image-photo-camera")(title="image-photo-camera").transparent
            +label-icon("image-photo-library")(title="image-photo-library").transparent
            +label-icon("image-portrait")(title="image-portrait").transparent
            +label-icon("image-remove-red-eye")(title="image-remove-red-eye").transparent
            +label-icon("image-rotate-left")(title="image-rotate-left").transparent
            +label-icon("image-rotate-right")(title="image-rotate-right").transparent
            +label-icon("image-slideshow")(title="image-slideshow").transparent
            +label-icon("image-straighten")(title="image-straighten").transparent
            +label-icon("image-style")(title="image-style").transparent
            +label-icon("image-switch-camera")(title="image-switch-camera").transparent
            +label-icon("image-switch-video")(title="image-switch-video").transparent
            +label-icon("image-tag-faces")(title="image-tag-faces").transparent
            +label-icon("image-texture")(title="image-texture").transparent
            +label-icon("image-timelapse")(title="image-timelapse").transparent
            +label-icon("image-timer")(title="image-timer").transparent
            +label-icon("image-timer-3")(title="image-timer-3").transparent
            +label-icon("image-timer-10")(title="image-timer-10").transparent
            +label-icon("image-timer-auto")(title="image-timer-auto").transparent
            +label-icon("image-timer-off")(title="image-timer-off").transparent
            +label-icon("image-tonality")(title="image-tonality").transparent
            +label-icon("image-transform")(title="image-transform").transparent
            +label-icon("image-tune")(title="image-tune").transparent
            +label-icon("image-wb-auto")(title="image-wb-auto").transparent
            +label-icon("image-wb-cloudy")(title="image-wb-cloudy").transparent
            +label-icon("image-wb-incandescent")(title="image-wb-incandescent").transparent
            +label-icon("image-wb-irradescent")(title="image-wb-irradescent").transparent
            +label-icon("image-wb-sunny")(title="image-wb-sunny").transparent

    +divider Maps

    +container-simple
        +multiple
            +label-icon("maps-beenhere")(title="maps-beenhere").transparent
            +label-icon("maps-directions")(title="maps-directions").transparent
            +label-icon("maps-directions-bike")(title="maps-directions-bike").transparent
            +label-icon("maps-directions-bus")(title="maps-directions-bus").transparent
            +label-icon("maps-directions-car")(title="maps-directions-car").transparent
            +label-icon("maps-directions-ferry")(title="maps-directions-ferry").transparent
            +label-icon("maps-directions-subway")(title="maps-directions-subway").transparent
            +label-icon("maps-directions-train")(title="maps-directions-train").transparent
            +label-icon("maps-directions-transit")(title="maps-directions-transit").transparent
            +label-icon("maps-directions-walk")(title="maps-directions-walk").transparent
            +label-icon("maps-flight")(title="maps-flight").transparent
            +label-icon("maps-hotel")(title="maps-hotel").transparent
            +label-icon("maps-layers")(title="maps-layers").transparent
            +label-icon("maps-layers-clear")(title="maps-layers-clear").transparent
            +label-icon("maps-local-airport")(title="maps-local-airport").transparent
            +label-icon("maps-local-atm")(title="maps-local-atm").transparent
            +label-icon("maps-local-attraction")(title="maps-local-attraction").transparent
            +label-icon("maps-local-bar")(title="maps-local-bar").transparent
            +label-icon("maps-local-cafe")(title="maps-local-cafe").transparent
            +label-icon("maps-local-car-wash")(title="maps-local-car-wash").transparent
            +label-icon("maps-local-convenience-store")(title="maps-local-convenience-store").transparent
            +label-icon("maps-local-drink")(title="maps-local-drink").transparent
            +label-icon("maps-local-florist")(title="maps-local-florist").transparent
            +label-icon("maps-local-gas-station")(title="maps-local-gas-station").transparent
            +label-icon("maps-local-grocery-store")(title="maps-local-grocery-store").transparent
            +label-icon("maps-local-hospital")(title="maps-local-hospital").transparent
            +label-icon("maps-local-hotel")(title="maps-local-hotel").transparent
            +label-icon("maps-local-laundry-service")(title="maps-local-laundry-service").transparent
            +label-icon("maps-local-library")(title="maps-local-library").transparent
            +label-icon("maps-local-mall")(title="maps-local-mall").transparent
            +label-icon("maps-local-movies")(title="maps-local-movies").transparent
            +label-icon("maps-local-offer")(title="maps-local-offer").transparent
            +label-icon("maps-local-parking")(title="maps-local-parking").transparent
            +label-icon("maps-local-pharmacy")(title="maps-local-pharmacy").transparent
            +label-icon("maps-local-phone")(title="maps-local-phone").transparent
            +label-icon("maps-local-pizza")(title="maps-local-pizza").transparent
            +label-icon("maps-local-play")(title="maps-local-play").transparent
            +label-icon("maps-local-post-office")(title="maps-local-post-office").transparent
            +label-icon("maps-local-print-shop")(title="maps-local-print-shop").transparent
            +label-icon("maps-local-restaurant")(title="maps-local-restaurant").transparent
            +label-icon("maps-local-see")(title="maps-local-see").transparent
            +label-icon("maps-local-shipping")(title="maps-local-shipping").transparent
            +label-icon("maps-local-taxi")(title="maps-local-taxi").transparent
            +label-icon("maps-location-history")(title="maps-location-history").transparent
            +label-icon("maps-map")(title="maps-map").transparent
            +label-icon("maps-my-location")(title="maps-my-location").transparent
            +label-icon("maps-navigation")(title="maps-navigation").transparent
            +label-icon("maps-pin-drop")(title="maps-pin-drop").transparent
            +label-icon("maps-place")(title="maps-place").transparent
            +label-icon("maps-rate-review")(title="maps-rate-review").transparent
            +label-icon("maps-restaurant-menu")(title="maps-restaurant-menu").transparent
            +label-icon("maps-satellite")(title="maps-satellite").transparent
            +label-icon("maps-store-mall-directory")(title="maps-store-mall-directory").transparent
            +label-icon("maps-terrain")(title="maps-terrain").transparent
            +label-icon("maps-traffic")(title="maps-traffic").transparent

    +divider Navigation

    +container-simple
        +multiple
            +label-icon("navigation-apps")(title="navigation-apps").transparent
            +label-icon("navigation-cancel")(title="navigation-cancel").transparent
            +label-icon("navigation-arrow-drop-down-circle")(title="navigation-arrow-drop-down-circle").transparent
            +label-icon("navigation-arrow-drop-down")(title="navigation-arrow-drop-down").transparent
            +label-icon("navigation-arrow-drop-up")(title="navigation-arrow-drop-up").transparent
            +label-icon("navigation-arrow-back")(title="navigation-arrow-back").transparent
            +label-icon("navigation-arrow-forward")(title="navigation-arrow-forward").transparent
            +label-icon("navigation-check")(title="navigation-check").transparent
            +label-icon("navigation-close")(title="navigation-close").transparent
            +label-icon("navigation-chevron-left")(title="navigation-chevron-left").transparent
            +label-icon("navigation-chevron-right")(title="navigation-chevron-right").transparent
            +label-icon("navigation-expand-less")(title="navigation-expand-less").transparent
            +label-icon("navigation-expand-more")(title="navigation-expand-more").transparent
            +label-icon("navigation-fullscreen")(title="navigation-fullscreen").transparent
            +label-icon("navigation-fullscreen-exit")(title="navigation-fullscreen-exit").transparent
            +label-icon("navigation-menu")(title="navigation-menu").transparent
            +label-icon("navigation-more-horiz")(title="navigation-more-horiz").transparent
            +label-icon("navigation-more-vert")(title="navigation-more-vert").transparent
            +label-icon("navigation-refresh")(title="navigation-refresh").transparent
            +label-icon("navigation-unfold-less")(title="navigation-unfold-less").transparent
            +label-icon("navigation-unfold-more")(title="navigation-unfold-more").transparent

    +divider Notification

    +container-simple
        +multiple
            +label-icon("notification-adb")(title="notification-adb").transparent
            +label-icon("notification-bluetooth-audio")(title="notification-bluetooth-audio").transparent
            +label-icon("notification-disc-full")(title="notification-disc-full").transparent
            +label-icon("notification-dnd-forwardslash")(title="notification-dnd-forwardslash").transparent
            +label-icon("notification-do-not-disturb")(title="notification-do-not-disturb").transparent
            +label-icon("notification-drive-eta")(title="notification-drive-eta").transparent
            +label-icon("notification-event-available")(title="notification-event-available").transparent
            +label-icon("notification-event-busy")(title="notification-event-busy").transparent
            +label-icon("notification-event-note")(title="notification-event-note").transparent
            +label-icon("notification-folder-special")(title="notification-folder-special").transparent
            +label-icon("notification-mms")(title="notification-mms").transparent
            +label-icon("notification-more")(title="notification-more").transparent
            +label-icon("notification-network-locked")(title="notification-network-locked").transparent
            +label-icon("notification-phone-bluetooth-speaker")(title="notification-phone-bluetooth-speaker").transparent
            +label-icon("notification-phone-forwarded")(title="notification-phone-forwarded").transparent
            +label-icon("notification-phone-in-talk")(title="notification-phone-in-talk").transparent
            +label-icon("notification-phone-locked")(title="notification-phone-locked").transparent
            +label-icon("notification-phone-missed")(title="notification-phone-missed").transparent
            +label-icon("notification-phone-paused")(title="notification-phone-paused").transparent
            +label-icon("notification-play-download")(title="notification-play-download").transparent
            +label-icon("notification-play-install")(title="notification-play-install").transparent
            +label-icon("notification-sd-card")(title="notification-sd-card").transparent
            +label-icon("notification-sim-card-alert")(title="notification-sim-card-alert").transparent
            +label-icon("notification-sms")(title="notification-sms").transparent
            +label-icon("notification-sms-failed")(title="notification-sms-failed").transparent
            +label-icon("notification-sync")(title="notification-sync").transparent
            +label-icon("notification-sync-disabled")(title="notification-sync-disabled").transparent
            +label-icon("notification-sync-problem")(title="notification-sync-problem").transparent
            +label-icon("notification-system-update")(title="notification-system-update").transparent
            +label-icon("notification-tap-and-play")(title="notification-tap-and-play").transparent
            +label-icon("notification-time-to-leave")(title="notification-time-to-leave").transparent
            +label-icon("notification-vibration")(title="notification-vibration").transparent
            +label-icon("notification-voice-chat")(title="notification-voice-chat").transparent
            +label-icon("notification-vpn-lock")(title="notification-vpn-lock").transparent

    +divider Social

    +container-simple
        +multiple
            +label-icon("social-cake")(title="social-cake").transparent
            +label-icon("social-domain")(title="social-domain").transparent
            +label-icon("social-location-city")(title="social-location-city").transparent
            +label-icon("social-mood")(title="social-mood").transparent
            +label-icon("social-notifications-none")(title="social-notifications-none").transparent
            +label-icon("social-notifications")(title="social-notifications").transparent
            +label-icon("social-notifications-off")(title="social-notifications-off").transparent
            +label-icon("social-notifications-on")(title="social-notifications-on").transparent
            +label-icon("social-notifications-paused")(title="social-notifications-paused").transparent
            +label-icon("social-pages")(title="social-pages").transparent
            +label-icon("social-party-mode")(title="social-party-mode").transparent
            +label-icon("social-group")(title="social-group").transparent
            +label-icon("social-group-add")(title="social-group-add").transparent
            +label-icon("social-people")(title="social-people").transparent
            +label-icon("social-people-outline")(title="social-people-outline").transparent
            +label-icon("social-person")(title="social-person").transparent
            +label-icon("social-person-add")(title="social-person-add").transparent
            +label-icon("social-person-outline")(title="social-person-outline").transparent
            +label-icon("social-plus-one")(title="social-plus-one").transparent
            +label-icon("social-poll")(title="social-poll").transparent
            +label-icon("social-public")(title="social-public").transparent
            +label-icon("social-school")(title="social-school").transparent
            +label-icon("social-share")(title="social-share").transparent
            +label-icon("social-whatshot")(title="social-whatshot").transparent

    +divider Toggle

    +container-simple
        +multiple
            +label-icon("toggle-check-box")(title="toggle-check-box").transparent
            +label-icon("toggle-check-box-outline-blank")(title="toggle-check-box-outline-blank").transparent
            +label-icon("toggle-radio-button-off")(title="toggle-radio-button-off").transparent
            +label-icon("toggle-radio-button-on")(title="toggle-radio-button-on").transparent
            +label-icon("toggle-star")(title="toggle-star").transparent
            +label-icon("toggle-star-half")(title="toggle-star-half").transparent
            +label-icon("toggle-star-outline")(title="toggle-star-outline").transparent
