//- css/multiple.jade

extends ../../layout.jade

append body
    +divider Multiple

    +multiple
        +container 1
        +container 2
        +container 3
        +container 4
        +container 5
        +container 6
        +container 7
        +container 8
        +container 9
        +container 10

    +divider Multiple - Centered

    +multiple.centered
        +container 1
        +container 2
        +container 3
        +container 4
        +container 5
        +container 6
        +container 7
        +container 8
        +container 9
        +container 10

    +divider Multiple - Nowrap

    +multiple.nowrap
        +container 1
        +container 2
        +container 3
        +container 4
        +container 5
        +container 6
        +container 7
        +container 8
        +container 9
        +container 10

    +divider Fluid

    +multiple.fluid
        +container Left
        +container Center
        +container.nogrow Right

    +divider Fluid - Joined

    +multiple.fluid.joined
        +container Left
        +container Center
        +container Right

    +multiple.fluid.joined
        +button.outlined Left
        +button.outlined Center
        +button.outlined Right

    +divider Fluid - Joined - No separators

    +multiple.fluid.joined.no-separators
        +container Left
        +container Center
        +container Right

    +multiple.fluid.joined.no-separators.outlined
        +button.outlined Left
        +button.outlined Center
        +button.outlined Right

    +divider Fluid - Joined - Different grows

    //- TODO: add support for different shrinks

    +multiple.fluid.joined
        +container.grow-1 1
        +container.grow-2 2
        +container.grow-3 3
        +container.grow-4 4
        +container.grow-5 5
        +container.grow-6 6
        +container.grow-7 7
        +container.grow-8 8
        +container.grow-9 9
        +container.grow-10 10

    +divider Fluid - Joined - Stretched

    +multiple.fluid.joined.stretched
        +container.noshrink Left
        +container
            +lorem-ipsum
        +container.noshrink Right

    +divider Vertical

    +multiple.vertical
        +container Top
        +container Middle
        +container Bottom

    +divider Vertical - Fluid

    +multiple.vertical.fluid
        +container Top
        +container Middle
        +container Bottom

    +divider Vertical - Fluid - Joined

    +multiple.vertical.fluid.joined
        +container Top
        +container Middle
        +container Bottom

    +multiple.vertical.fluid.joined
        +button.outlined Top
        +button.outlined Middle
        +button.outlined Bottom

    +divider Vertical - Fluid - Joined - No separators

    +multiple.vertical.fluid.joined.no-separators
        +container Top
        +container Middle
        +container Bottom

    +multiple.vertical.fluid.joined.no-separators.outlined
        +button.outlined Top
        +button.outlined Middle
        +button.outlined Bottom
