//- css/multiple.jade

extends ../../layout.jade

append main
    +divider Multiple

    +multiple
        +simple-container 1
        +simple-container 2
        +simple-container 3
        +simple-container 4
        +simple-container 5
        +simple-container 6
        +simple-container 7
        +simple-container 8
        +simple-container 9
        +simple-container 10

    +divider Multiple - Centered

    +multiple.centered
        +simple-container 1
        +simple-container 2
        +simple-container 3
        +simple-container 4
        +simple-container 5
        +simple-container 6
        +simple-container 7
        +simple-container 8
        +simple-container 9
        +simple-container 10

    +divider Multiple - Nowrap

    +multiple.nowrap
        +simple-container 1
        +simple-container 2
        +simple-container 3
        +simple-container 4
        +simple-container 5
        +simple-container 6
        +simple-container 7
        +simple-container 8
        +simple-container 9
        +simple-container 10

    +divider Fluid

    +multiple.fluid
        +simple-container Left
        +simple-container Center
        +simple-container.nogrow Right

    +divider Fluid - Joined

    +multiple.fluid.joined
        +simple-container Left
        +simple-container Center
        +simple-container Right

    +multiple.fluid.joined
        +button.outlined Left
        +button.outlined Center
        +button.outlined Right

    +divider Fluid - Joined - No separators

    +multiple.fluid.joined.no-separators
        +simple-container Left
        +simple-container Center
        +simple-container Right

    +multiple.fluid.joined.no-separators.outlined
        +button.outlined Left
        +button.outlined Center
        +button.outlined Right

    +divider Fluid - Joined - Different grows

    //- TODO: add support for different shrinks

    +multiple.fluid.joined
        +simple-container.grow-1 1
        +simple-container.grow-2 2
        +simple-container.grow-3 3
        +simple-container.grow-4 4
        +simple-container.grow-5 5
        +simple-container.grow-6 6
        +simple-container.grow-7 7
        +simple-container.grow-8 8
        +simple-container.grow-9 9
        +simple-container.grow-10 10

    +divider Fluid - Joined - Stretched

    +multiple.fluid.joined.stretched
        +simple-container.noshrink Left
        +simple-container
            +lorem-ipsum
        +simple-container.noshrink Right

    +divider Vertical

    +multiple.vertical
        +simple-container Top
        +simple-container Middle
        +simple-container Bottom

    +divider Vertical - Fluid

    +multiple.vertical.fluid
        +simple-container Top
        +simple-container Middle
        +simple-container Bottom

    +divider Vertical - Fluid - Joined

    +multiple.vertical.fluid.joined
        +simple-container Top
        +simple-container Middle
        +simple-container Bottom

    +multiple.vertical.fluid.joined
        +button.outlined Top
        +button.outlined Middle
        +button.outlined Bottom

    +divider Vertical - Fluid - Joined - No separators

    +multiple.vertical.fluid.joined.no-separators
        +simple-container Top
        +simple-container Middle
        +simple-container Bottom

    +multiple.vertical.fluid.joined.no-separators.outlined
        +button.outlined Top
        +button.outlined Middle
        +button.outlined Bottom
