//- css/multiple.jade

extends ../../layout.jade

append main
    +divider Multiple

    +multiple
        +container-simple.outlined 1
        +container-simple.outlined 2
        +container-simple.outlined 3
        +container-simple.outlined 4
        +container-simple.outlined 5
        +container-simple.outlined 6
        +container-simple.outlined 7
        +container-simple.outlined 8
        +container-simple.outlined 9
        +container-simple.outlined 10

    +divider Centered

    +multiple.centered
        +container-simple.outlined 1
        +container-simple.outlined 2
        +container-simple.outlined 3
        +container-simple.outlined 4
        +container-simple.outlined 5
        +container-simple.outlined 6
        +container-simple.outlined 7
        +container-simple.outlined 8
        +container-simple.outlined 9
        +container-simple.outlined 10

    +divider Limited

    +multiple.limited
        +container-simple.outlined 1
        +container-simple.outlined 2
        +container-simple.outlined 3
        +container-simple.outlined 4
        +container-simple.outlined 5
        +container-simple.outlined 6
        +container-simple.outlined 7
        +container-simple.outlined 8
        +container-simple.outlined 9
        +container-simple.outlined 10

    +divider Nowrap

    +multiple.nowrap
        +container-simple.outlined 1
        +container-simple.outlined 2
        +container-simple.outlined 3
        +container-simple.outlined 4
        +container-simple.outlined 5
        +container-simple.outlined 6
        +container-simple.outlined 7
        +container-simple.outlined 8
        +container-simple.outlined 9
        +container-simple.outlined 10

    +divider Fluid

    +multiple.fluid
        +container-simple.outlined Left
        +container-simple.outlined Center
        +container-simple.outlined.no-grow Right (no-grow)

    +divider Equal

    +multiple.equal
        +container-simple.outlined ThisIsSupposedToBeAVeryLongText
        +container-simple.outlined 1
        +container-simple.outlined 2

    +divider Fluid - Joined

    +multiple.fluid.joined
        +container-simple.outlined Left
        +container-simple.outlined Center
        +container-simple.outlined Right

    +multiple.fluid.joined
        +button-simple.outlined Left
        +button-simple.outlined Center
        +button-simple.outlined Right

    +divider Fluid - Joined - No separators

    +multiple.fluid.joined.no-separators
        +container-simple.outlined Left
        +container-simple.outlined Center
        +container-simple.outlined Right

    +multiple.fluid.joined.no-separators
        +button-simple.outlined Left
        +button-simple.outlined Center
        +button-simple.outlined Right

    +divider Fluid - Joined - No separators - Z-Depth

    +multiple.fluid.joined.no-separators.z-depth-2
        +container-simple.outlined.z-depth-4 Left
        +container-simple.outlined.z-depth-4 Center
        +container-simple.outlined.z-depth-4 Right

    +multiple.fluid.joined.no-separators.z-depth-2
        +button-simple.z-depth-4.outlined Left
        +button-simple.z-depth-4.outlined Center
        +button-simple.z-depth-4.outlined Right

    +divider Equal - Joined - Stretched

    +multiple.equal.joined.stretched
        +container-simple.outlined.no-shrink Left
        +container-simple.outlined
            +paragraph-sample
        +container-simple.outlined.no-shrink Right

    +divider Vertical

    +multiple.vertical
        +container-simple.outlined Top
        +container-simple.outlined Middle
        +container-simple.outlined Bottom

    +divider Vertical - Fluid

    +multiple.vertical.fluid
        +container-simple.outlined Top
        +container-simple.outlined Middle
        +container-simple.outlined Bottom

    +divider Vertical - Fluid - Joined

    +multiple.vertical.fluid.joined
        +container-simple.outlined Top
        +container-simple.outlined Middle
        +container-simple.outlined Bottom

    +multiple.vertical.fluid.joined
        +button-simple.outlined Top
        +button-simple.outlined Middle
        +button-simple.outlined Bottom

    +divider Vertical - Fluid - Joined - No separators

    +multiple.vertical.fluid.joined.no-separators
        +container-simple.outlined Top
        +container-simple.outlined Middle
        +container-simple.outlined Bottom

    +multiple.vertical.fluid.joined.no-separators
        +button-simple.outlined Top
        +button-simple.outlined Middle
        +button-simple.outlined Bottom

    +divider Vertical - Fluid - Joined - No separators - Z-Depth

    +multiple.vertical.fluid.joined.no-separators.z-depth-2
        +container-simple.outlined.z-depth-4 Top
        +container-simple.outlined.z-depth-4 Middle
        +container-simple.outlined.z-depth-4 Bottom

    +multiple.vertical.fluid.joined.no-separators.z-depth-2
        +button-simple.z-depth-4.outlined Top
        +button-simple.z-depth-4.outlined Middle
        +button-simple.z-depth-4.outlined Bottom
