//- css/shadows.jade

extends ../../layout.jade

append content
    +divider Depths

    .multiple
        +button.shadow-depth-1 Depth 1
        +button.shadow-depth-2 Depth 2
        +button.shadow-depth-3 Depth 3
        +button.shadow-depth-4 Depth 4
        +button.shadow-depth-5 Depth 5

    +divider Insets

    .multiple
        +button.shadow-inset-1 Inset 1
        +button.shadow-inset-2 Inset 2
        +button.shadow-inset-3 Inset 3
