//- css/sizes.jade

extends ../../layout.jade

append content
    +divider Sizes

    +multiple
        +button.nano Nano
        +button.micro Micro
        +button.mini Mini
        +button.tiny Tiny
        +button.small Small
        +button.medium Medium
        +button.large Large
        +button.big Big
        +button.huge Huge
        +button.massive Massive
        +button.giant Giant
        +button.enormous Enormous
