//- css/sizes.jade

extends ../../layout.jade

append content
    +divider Sizes

    +container.transparent.no-padding.no-border
        .multiple
            .button.actionable.nano Nano
            .button.actionable.micro Micro
            .button.actionable.mini Mini
            .button.actionable.tiny Tiny
            .button.actionable.small Small
            .button.actionable.medium Medium
            .button.actionable.large Large
            .button.actionable.big Big
            .button.actionable.huge Huge
            .button.actionable.massive Massive
            .button.actionable.giant Giant
            .button.actionable.enormous Enormous
