//- css/typography.jade

extends ../../layout.jade

append main
    +divider H1-H6

    +simple-container
        h1 H1 - Heading title #[small Small subheader]
        h2 H2 - Heading title #[small Small subheader]
        h3 H3 - Heading title #[small Small subheader]
        h4 H4 - Heading title #[small Small subheader]
        h5 H5 - Heading title #[small Small subheader]
        h6 H6 - Heading title #[small Small subheader]

    +divider Paragraph

    +simple-container
        p
            +lorem-ipsum

    +divider Formatting

    +simple-container Nothing #[mark marked] #[del deleted] #[s striked] #[ins inserted] #[u underlined] #[small small] #[strong bold] #[em em-italics] #[i i-italics]

    +divider Abbr

    +simple-container
        abbr(title="HyperText Markup Language") HTML

    +divider Blockquote

    +simple-container
        blockquote
            +lorem-ipsum
        blockquote #[+lorem-ipsum] #[footer The source is #[cite Someone]]

    +divider List - Unordered

    +simple-container
        ul
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
                ul
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')

    +divider List - Unordered - Unstyled

    +simple-container
        ul.unstyled
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
                ul
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')

    +divider List - Ordered

    +simple-container
        ol
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')

    +divider Definition list

    +simple-container
        dl
            dt
                +lorem-ipsum(5, 'words')
            dd
                +lorem-ipsum(5, 'words')
        dl
            dt
                +lorem-ipsum(5, 'words')
            dd
                +lorem-ipsum(5, 'words')
        dl
            dt
                +lorem-ipsum(5, 'words')
            dd
                +lorem-ipsum(5, 'words')
        dl
            dt
                +lorem-ipsum(5, 'words')
            dd
                +lorem-ipsum(5, 'words')
