//- css/typography.jade

extends ../../layout.jade

append main
    +divider Link

    +container-simple
        p Inside this paragraph there is a #[+a("#") link], does it look nice?

    +divider Headers

    +container-simple
        h1 H1 - Heading title #[small Small subheader]
        h2 H2 - Heading title #[small Small subheader]
        h3 H3 - Heading title #[small Small subheader]
        h4 H4 - Heading title #[small Small subheader]
        h5 H5 - Heading title #[small Small subheader]
        h6 H6 - Heading title #[small Small subheader]

    +divider Paragraph

    +container-simple
        p
            +lorem-ipsum

    +divider Formatting

    +container-simple
        p Nothing #[mark marked] #[del deleted] #[s striked] #[ins inserted] #[u underlined] #[small small] #[strong bold] #[em em-italics] #[i i-italics]

    +divider Abbr

    +container-simple
        abbr(title="HyperText Markup Language") HTML

    +divider Blockquote

    +container-simple
        blockquote
            +lorem-ipsum
        blockquote #[+lorem-ipsum] #[footer The source is #[cite Someone]]

    +divider List - Unordered

    +container-simple
        ul
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
                ul
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')

    +divider List - Unordered - Unstyled

    +container-simple
        ul.unstyled
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
                ul
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')

    +divider List - Ordered

    +container-simple
        ol
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
                ul
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')

    +divider Definition list

    +container-simple
        dl
            dt
                +lorem-ipsum(5, 'words')
            dd
                +lorem-ipsum(5, 'words')
        dl
            dt
                +lorem-ipsum(5, 'words')
            dd
                +lorem-ipsum(5, 'words')

    +divider Code

    +container-simple
        code print ( 'This is an example code block' )

    +divider Section

    +container-simple
        section print ( 'This is an example section block' )

    +divider Pre

    +container-simple
        pre print ( 'This is an example section block' )

    +divider Kbd

    +container-simple #[kbd ctrl] + #[kbd alt] + #[kbd canc], #[kbd ctrl + alt + canc]
