
//- Tabs

mixin tabs
  .tabs&attributes(attributes)
    block

mixin tabs-buttons
  .tabs-buttons&attributes(attributes)
    block

mixin tabs-buttons-indicator
  .tabs-buttons-indicator&attributes(attributes)
    block

mixin tabs-containers
  .tabs-containers&attributes(attributes)
    block
