
//- Expander

//- Options
  {
    title: '', // Title
    header_classes: '' // Header classes
  }

mixin expander(options)
  - options = options || {};
  - options.header_classes = options.header_classes || "";
  +container&attributes(attributes).expander
    if options.title
      +container-header(options.title)(class=options.header_classes).expander-toggler
    block
