
//- =========================================================================
//- Svelto - Expander v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    title: '', // Title
    header_classes: '' // Header classes
  }

mixin expander(options)
  - options = options || {};
  - options.header_classes = options.header_classes || "";
  +container&attributes(attributes).expander
    if options.title
      +card-header(options.title)(class=options.header_classes).expander-toggler
    block
