
$scrollbars-z-index: 3000 !default;

$scrollbars-track-size: 10px !default;
$scrollbars-track-z-index: $scrollbars-z-index + 1 !default;
$scrollbars-track-animation-duration: $animation-fast !default;

$scrollbars-thumb-collapsed-size: 2px !default;
$scrollbars-thumb-expanded-size: 8px !default;
$scrollbars-thumb-min-size: 5px !default;
$scrollbars-thumb-z-index: $scrollbars-z-index + 2 !default;
$scrollbars-thumb-animation-duration: $animation-xfast !default;

$scrollbars-corner-size: $scrollbars-thumb-expanded-size !default;
$scrollbars-corner-z-index: $scrollbars-z-index + 3 !default;
