
/* ROTATION */

.rotate-left {
  transform: rotate(-90deg) !important;
}

.rotate-right {
  transform: rotate(90deg) !important;
}

.rotating {
  animation: rotate $rotating-animation-duration linear infinite !important;
}
