
// @require core/animations/variables.scss
// @require decorators/border_radius/variables.scss

/* AVATAR */

$avatar-size: 3em !default;
$avatar-border-radius: $circular-border-radius !default;
$avatar-img-hover-opacity: 0.8 !default;

/* ANIMATION */

$avatar-animation-duration: $animation-normal !default;
