
// @require ../bordered.scss

/* COLORS */

@each $name, $datas in $colors {

  @if index( $bordered-colors, $name ) {

    $class: color-get-class( $name );

    $bg: nth( $datas, 1 );

    .border-#{$class} {
      border-color: $bg !important;
    }

  }

}
