
// @require ../label.scss

/* COLORS */

@each $name, $datas in $colors {

  @if index( $spinner-label-colors, $name ) and $name != 'inherit' and $name != 'transparent' {

    $class: color-get-class( $name );

    $accent: nth( $datas, 5 );

    %color-#{$name}.spinner-label circle {
      stroke: $accent;
    }

  }

}
