
//- =========================================================================
//- Svelto - Infobar v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    icon: '', // Infobar icon
    title: '', // Infobar title
    subtitle: '', // Infobar subtitle
  }

mixin infobar(options)
  - options = options || {};
  .infobar-wrp&attributes(attributes)
    if options.icon
      +infobar-left
        +icon(icon)(class=((options.title && options.subtitle) ? "xlarge" : ""))
    if options.title || options.subtitle
      +infobar-center
        if options.title
          +infobar-title(options.title)
        if options.subtitle
          +infobar-subtitle(options.subtitle)
    block
  
mixin infobar-left
  .infobar-left&attributes(attributes)
    block

mixin infobar-center
  .infobar-center&attributes(attributes)
    block

mixin infobar-title(title)
  if title
    p.infobar-title&attributes(attributes)= title
  else
    .infobar-title&attributes(attributes)
      block

mixin infobar-subtitle(subtitle)
  if subtitle
    p.infobar-subtitle&attributes(attributes)= subtitle
  else
    .infobar-subtitle&attributes(attributes)
      block

mixin infobar-right
  .infobar-right&attributes(attributes)
    block

mixin infobar-bottom
  .infobar-bottom&attributes(attributes)
    block
