
// @require ../popover.scss

//FIXME: Doesn't work properly inside a nested layout (shouldn't influence the parent layouts)

/* FULLSCREEN */

.popover.fullscreen,
.popover.fullscreen-request {
  border-width: 0;
  border-radius: 0;
  max-width: none;
  width: 100%;
  max-height: none;
  height: 100%;
}

/* VERTICAL SHRINKING FIX (IE-10/11) */

html.flexbox-tweener {

  .popover.fullscreen,
  .popover.fullscreen-request {

    /* CARD */

    &.card > .card-block {
      max-height: none;
    }

  }

}
