
/* SELECT */

select {
  @include color ( $select-color, $select-color-force, $select-color-basic );
  font-family: $font-family-sans-serif;
}

/* OPTION */

option {
  padding: $select-padding-y $select-padding-x;
}

/* OPTGROUP */

optgroup {

  font-style: normal;

  /* LABEL */

  &::before {
    padding: $select-padding-y $select-padding-x;
  }

  /* OPTION */

  option {
    padding: $select-padding-y $select-padding-x $select-padding-y ( $select-padding-x * 3 );
  }

}
