
/* ANIMATIONS */

$animation-xslow: .9s !default;
$animation-slow: .5s !default;
$animation-normal: .35s !default;
$animation-fast: .15s !default;
$animation-xfast: .075s !default;

/* ANIMATIONS */

$animations: (
  'xslow': $animation-xslow,
  'slow': $animation-slow,
  'normal': $animation-normal,
  'fast': $animation-fast,
  'xfast': $animation-xfast
) !default;
