
/* BUTTON */

$button-horizontal-padding: 1.5em !default;
$button-vertical-padding: 0.78571em !default;

$button-compact-horizontal-padding: 0.78571em !default;
$button-compact-vertical-padding: 0.78571em !default;

$button-disabled-opacity: 0.5 !default;
