
/* COLORPICKER */

$colorpicker-height: 170px;

/* WRAPPERS */

$colorpicker-wrp-border-width: 1px;
$colorpicker-wrp-border-color: black;

/* WRAPPER HUE */

$colorpicker-hue-wrp-width: 25px;

/* HANDLER */

$colorpicker-handler-border-width: 2px;
$colorpicker-handler-border-color: white;

$colorpicker-handler-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.2);

/* HANDLER SB */

$colorpicker-handler-sb-height: 16px;
$colorpicker-handler-sb-width: 16px;

$colorpicker-handler-sb-border-radius: 50%;

/* HANDLER HUE */

$colorpicker-handler-hue-height: 9px;

$colorpicker-handler-hue-border-radius: $border-radius-small;
