
/* CONTAINER */

$container-color: 'white';
$container-color-basic: true;

$contianer-border-radius: $border-radius;

/* HEADER */

$container-header-color: 'primary';
$container-header-color-basic: false;

/* CONTENT */

$container-content-color: 'inherit';
$container-content-color-basic: true;

/* FOOTER */

$container-footer-color: $container-color;
$container-footer-color-basic: true;
