
/* CONTAINER */

$container-color: 'white';
$container-color-basic: true;

$container-border-width: $outline-width;
$contianer-border-radius: $border-radius-medium;

/* HEADER */

$container-header-color: 'primary';
$container-header-color-basic: false;

$container-header-border-width: 1px !default;

/* CONTENT */

$container-content-color: 'inherit';
$container-content-color-basic: true;

/* FOOTER */

$container-footer-color: $container-color;
$container-footer-color-basic: true;

$container-footer-border-width: 1px !default;
