
/* BLOCK */

$divider-block-color: 'red';
$divider-block-color-basic: true;

$divider-block-padding: 0.3em 0.6em !default;

/* LINEAR */

$divider-linear-bg-color: rgba(0, 0, 0, 0.1);

$divider-linear-vertical-padding: 0;
$divider-linear-horizontal-padding: $layout-gutter;

/* TEXT */

$divider-text-size: 'medium';

$divider-text-opacity: 0.75;

$divider-text-font-weight: bold;

/* SPACER */

$divider-spacer-height: $layout-gutter-half;
