
/* DIVIDER */

$divider-bold-color: 'red';
$divider-bold-color-basic: true;
$divider-bold-padding: 0.3em 0.6em !default;

$divider-linear-bg-color: rgba(0, 0, 0, 0.1);

$divider-text-size: 'small';
$divider-text-opacity: 0.75;
