
/* DROPDOWN */

$dropdown-z-depth: 4;

$dropdown-z-index: 1000;

$dropdown-padding: 15px !default;

$dropdown-border-width: 1px !default;

/* TIP */

$dropdown-tip-z-index: 1001;

$dropdown-tip-border-size: 1px !default;

$dropdown-tip-fg-size: 19px !default;
$dropdown-tip-fg-color: $color-white-bg !default;

$dropdown-tip-bg-size: $dropdown-tip-fg-size + ( 2 * $dropdown-tip-border-size ) !default;
$dropdown-tip-bg-color: darken($color-white-border, 4) !default;

/* CONTAINER */

$dropdown-container-max-width: calc(73vw - #{$dropdown-padding * 2}) !default;

$dropdown-container-max-height: calc(45vh - #{$dropdown-padding * 2}) !default;

/* TRANSITIONS */

$dropdown-transition-opacity-duration: 0.15s;
$dropdown-transition-transform-duration: 0.075s;
