
/* FLAGS */

$flags: (
    'afghanistan' : (
        ( 'af' ),
        ( 0 -52px )
    ),
    'aland-islands' : (
        ( 'ax' ),
        ( 0 -364px )
    ),
    'albania' : (
        ( 'al' ),
        ( 0 -130px )
    ),
    'algeria' : (
        ( 'dz' ),
        ( 0 -1560px )
    ),
    'american-samoa' : (
        ( 'as' ),
        ( 0 -260px )
    ),
    'andorra' : (
        ( 'ad' ),
        ( 0 0 )
    ),
    'angola' : (
        ( 'ao' ),
        ( 0 -208px )
    ),
    'anguilla' : (
        ( 'ai' ),
        ( 0 -104px )
    ),
    'antigua' : (
        ( 'ag' ),
        ( 0 -78px )
    ),
    'argentina' : (
        ( 'ar' ),
        ( 0 -234px )
    ),
    'armenia' : (
        ( 'am' ),
        ( 0 -156px )
    ),
    'aruba' : (
        ( 'aw' ),
        ( 0 -338px )
    ),
    'australia' : (
        ( 'au' ),
        ( 0 -312px )
    ),
    'austria' : (
        ( 'at' ),
        ( 0 -286px )
    ),
    'azerbaijan' : (
        ( 'az' ),
        ( 0 -390px )
    ),
    'bahamas' : (
        ( 'bs' ),
        ( 0 -754px )
    ),
    'bahrain' : (
        ( 'bh' ),
        ( 0 -572px )
    ),
    'bangladesh' : (
        ( 'bd' ),
        ( 0 -468px )
    ),
    'barbados' : (
        ( 'bb' ),
        ( 0 -442px )
    ),
    'belarus' : (
        ( 'by' ),
        ( 0 -858px )
    ),
    'belgium' : (
        ( 'be' ),
        ( 0 -494px )
    ),
    'belize' : (
        ( 'bz' ),
        ( 0 -884px )
    ),
    'benin' : (
        ( 'bj' ),
        ( 0 -624px )
    ),
    'bermuda' : (
        ( 'bm' ),
        ( 0 -650px )
    ),
    'bhutan' : (
        ( 'bt' ),
        ( 0 -780px )
    ),
    'bolivia' : (
        ( 'bo' ),
        ( 0 -702px )
    ),
    'bosnia' : (
        ( 'ba' ),
        ( 0 -416px )
    ),
    'botswana' : (
        ( 'bw' ),
        ( 0 -832px )
    ),
    'bouvet-island' : (
        ( 'bv' ),
        ( 0 -806px )
    ),
    'brazil' : (
        ( 'br' ),
        ( 0 -728px )
    ),
    'british-virgin-islands' : (
        ( 'vg' ),
        ( -108px -104px )
    ),
    'brunei' : (
        ( 'bn' ),
        ( 0 -676px )
    ),
    'bulgaria' : (
        ( 'bg' ),
        ( 0 -546px )
    ),
    'burkina-faso' : (
        ( 'bf' ),
        ( 0 -520px )
    ),
    'burma' : (
        ( 'mm', 'myanmar' ),
        ( -36px -1717px )
    ),
    'burundi' : (
        ( 'bi' ),
        ( 0 -598px )
    ),
    'caicos-islands' : (
        ( 'tc' ),
        ( -72px -1456px )
    ),
    'cambodia' : (
        ( 'kh' ),
        ( -36px -988px )
    ),
    'cameroon' : (
        ( 'cm' ),
        ( 0 -1170px )
    ),
    'canada' : (
        ( 'ca' ),
        ( 0 -910px )
    ),
    'cape-verde' : (
        ( 'cv' ),
        ( 0 -1326px )
    ),
    'cayman-islands' : (
        ( 'ky' ),
        ( -36px -1170px )
    ),
    'central-african-republic' : (
        ( 'cf' ),
        ( 0 -1014px )
    ),
    'chad' : (
        ( 'td' ),
        ( -72px -1482px )
    ),
    'chile' : (
        ( 'cl' ),
        ( 0 -1144px )
    ),
    'china' : (
        ( 'cn' ),
        ( 0 -1196px )
    ),
    'christmas-island' : (
        ( 'cx' ),
        ( 0 -1352px )
    ),
    'colombia' : (
        ( 'co' ),
        ( 0 -1222px )
    ),
    'cocos-islands' : (
        ( 'cc' ),
        ( 0 -962px )
    ),
    'comoros' : (
        ( 'km' ),
        ( -36px -1040px )
    ),
    'congo-brazzaville' : (
        ( 'cg' ),
        ( 0 -1040px )
    ),
    'congo' : (
        ( 'cd' ),
        ( 0 -988px )
    ),
    'cook-islands' : (
        ( 'ck' ),
        ( 0 -1118px )
    ),
    'costa-rica' : (
        ( 'cr' ),
        ( 0 -1248px )
    ),
    'cote-divoire' : (
        ( 'ci' ),
        ( 0 -1092px )
    ),
    'croatia' : (
        ( 'hr' ),
        ( -36px -546px )
    ),
    'cuba' : (
        ( 'cu' ),
        ( 0 -1300px )
    ),
    'cyprus' : (
        ( 'cy' ),
        ( 0 -1378px )
    ),
    'czech-republic' : (
        ( 'cz' ),
        ( 0 -1404px )
    ),
    'denmark' : (
        ( 'dk' ),
        ( 0 -1482px )
    ),
    'djibouti' : (
        ( 'dj' ),
        ( 0 -1456px )
    ),
    'dominica' : (
        ( 'dm' ),
        ( 0 -1508px )
    ),
    'dominican-republic' : (
        ( 'do' ),
        ( 0 -1534px )
    ),
    'ecuador' : (
        ( 'ec' ),
        ( 0 -1586px )
    ),
    'egypt' : (
        ( 'eg' ),
        ( 0 -1638px )
    ),
    'el-salvador' : (
        ( 'sv' ),
        ( -72px -1378px )
    ),
    'england' : (
        ( 'gb', 'uk', 'united-kingdom' ),
        ( -36px -26px )
    ),
    'equatorial-guinea' : (
        ( 'gq' ),
        ( -36px -286px )
    ),
    'eritrea' : (
        ( 'er' ),
        ( 0 -1716px )
    ),
    'estonia' : (
        ( 'ee' ),
        ( 0 -1612px )
    ),
    'ethiopia' : (
        ( 'et' ),
        ( 0 -1768px )
    ),
    'european-union' : (
        ( 'eu' ),
        ( 0 -1794px )
    ),
    'falkland-islands' : (
        ( 'fk' ),
        ( 0 -1898px )
    ),
    'faroe-islands' : (
        ( 'fo' ),
        ( 0 -1950px )
    ),
    'fiji' : (
        ( 'fj' ),
        ( 0 -1872px )
    ),
    'finland' : (
        ( 'fi' ),
        ( 0 -1846px )
    ),
    'france' : (
        ( 'fr' ),
        ( 0 -1976px )
    ),
    'french-guiana' : (
        ( 'gf' ),
        ( -36px -104px )
    ),
    'french-polynesia' : (
        ( 'pf' ),
        ( -72px -468px )
    ),
    'french-territories' : (
        ( 'tf' ),
        ( -72px -1508px )
    ),
    'gabon' : (
        ( 'ga' ),
        ( -36px 0 )
    ),
    'gambia' : (
        ( 'gm' ),
        ( -36px -208px )
    ),
    'georgia' : (
        ( 'ge' ),
        ( -36px -78px )
    ),
    'germany' : (
        ( 'de' ),
        ( 0 -1430px )
    ),
    'ghana' : (
        ( 'gh' ),
        ( -36px -130px )
    ),
    'gibraltar' : (
        ( 'gi' ),
        ( -36px -156px )
    ),
    'greece' : (
        ( 'gr' ),
        ( -36px -312px )
    ),
    'greenland' : (
        ( 'gl' ),
        ( -36px -182px )
    ),
    'grenada' : (
        ( 'gd' ),
        ( -36px -52px )
    ),
    'guadeloupe' : (
        ( 'gp' ),
        ( -36px -260px )
    ),
    'guam' : (
        ( 'gu' ),
        ( -36px -390px )
    ),
    'guatemala' : (
        ( 'gt' ),
        ( -36px -364px )
    ),
    'guinea-bissau' : (
        ( 'gw' ),
        ( -36px -416px )
    ),
    'guinea' : (
        ( 'gn' ),
        ( -36px -234px )
    ),
    'guyana' : (
        ( 'gy' ),
        ( -36px -442px )
    ),
    'haiti' : (
        ( 'ht' ),
        ( -36px -572px )
    ),
    'heard-island' : (
        ( 'hm' ),
        ( -36px -494px )
    ),
    'honduras' : (
        ( 'hn' ),
        ( -36px -520px )
    ),
    'hong-kong' : (
        ( 'hk' ),
        ( -36px -468px )
    ),
    'hungary' : (
        ( 'hu' ),
        ( -36px -598px )
    ),
    'iceland' : (
        ( 'is' ),
        ( -36px -806px )
    ),
    'india' : (
        ( 'in' ),
        ( -36px -702px )
    ),
    'indian-ocean-territory' : (
        ( 'io' ),
        ( -36px -728px )
    ),
    'indonesia' : (
        ( 'id' ),
        ( -36px -624px )
    ),
    'iran' : (
        ( 'ir' ),
        ( -36px -780px )
    ),
    'iraq' : (
        ( 'iq' ),
        ( -36px -754px )
    ),
    'ireland' : (
        ( 'ie' ),
        ( -36px -650px )
    ),
    'israel' : (
        ( 'il' ),
        ( -36px -676px )
    ),
    'italy' : (
        ( 'it' ),
        ( -36px -832px )
    ),
    'jamaica' : (
        ( 'jm' ),
        ( -36px -858px )
    ),
    'jan-mayen' : (
        ( 'sj', 'svalbard' ),
        ( -72px -1170px )
    ),
    'japan' : (
        ( 'jp' ),
        ( -36px -910px )
    ),
    'jordan' : (
        ( 'jo' ),
        ( -36px -884px )
    ),
    'kazakhstan' : (
        ( 'kz' ),
        ( -36px -1196px )
    ),
    'kenya' : (
        ( 'ke' ),
        ( -36px -936px )
    ),
    'kiribati' : (
        ( 'ki' ),
        ( -36px -1014px )
    ),
    'kuwait' : (
        ( 'kw' ),
        ( -36px -1144px )
    ),
    'kyrgyzstan' : (
        ( 'kg' ),
        ( -36px -962px )
    ),
    'laos' : (
        ( 'la' ),
        ( -36px -1222px )
    ),
    'latvia' : (
        ( 'lv' ),
        ( -36px -1456px )
    ),
    'lebanon' : (
        ( 'lb' ),
        ( -36px -1248px )
    ),
    'lesotho' : (
        ( 'ls' ),
        ( -36px -1378px )
    ),
    'liberia' : (
        ( 'lr' ),
        ( -36px -1352px )
    ),
    'libya' : (
        ( 'ly' ),
        ( -36px -1482px )
    ),
    'liechtenstein' : (
        ( 'li' ),
        ( -36px -1300px )
    ),
    'lithuania' : (
        ( 'lt' ),
        ( -36px -1404px )
    ),
    'luxembourg' : (
        ( 'lu' ),
        ( -36px -1430px )
    ),
    'macau' : (
        ( 'mo' ),
        ( -36px -1769px )
    ),
    'macedonia' : (
        ( 'mk' ),
        ( -36px -1665px )
    ),
    'madagascar' : (
        ( 'mg' ),
        ( -36px -1613px )
    ),
    'malawi' : (
        ( 'mw' ),
        ( -36px -1977px )
    ),
    'malaysia' : (
        ( 'my' ),
        ( -72px -26px )
    ),
    'maldives' : (
        ( 'mv' ),
        ( -36px -1951px )
    ),
    'mali' : (
        ( 'ml' ),
        ( -36px -1691px )
    ),
    'malta' : (
        ( 'mt' ),
        ( -36px -1899px )
    ),
    'marshall-islands' : (
        ( 'mh' ),
        ( -36px -1639px )
    ),
    'martinique' : (
        ( 'mq' ),
        ( -36px -1821px )
    ),
    'mauritania' : (
        ( 'mr' ),
        ( -36px -1847px )
    ),
    'mauritius' : (
        ( 'mu' ),
        ( -36px -1925px )
    ),
    'mayotte' : (
        ( 'yt' ),
        ( -108px -312px )
    ),
    'mexico' : (
        ( 'mx' ),
        ( -72px 0 )
    ),
    'micronesia' : (
        ( 'fm' ),
        ( 0 -1924px )
    ),
    'moldova' : (
        ( 'md' ),
        ( -36px -1560px )
    ),
    'monaco' : (
        ( 'mc' ),
        ( -36px -1534px )
    ),
    'mongolia' : (
        ( 'mn' ),
        ( -36px -1743px )
    ),
    'montenegro' : (
        ( 'me' ),
        ( -36px -1586px )
    ),
    'montserrat' : (
        ( 'ms' ),
        ( -36px -1873px )
    ),
    'morocco' : (
        ( 'ma' ),
        ( -36px -1508px )
    ),
    'mozambique' : (
        ( 'mz' ),
        ( -72px -52px )
    ),
    'namibia' : (
        ( 'na' ),
        ( -72px -78px )
    ),
    'nauru' : (
        ( 'nr' ),
        ( -72px -312px )
    ),
    'nepal' : (
        ( 'np' ),
        ( -72px -286px )
    ),
    'netherlands-antilles' : (
        ( 'an' ),
        ( 0 -182px )
    ),
    'netherlands' : (
        ( 'nl' ),
        ( -72px -234px )
    ),
    'new-caledonia' : (
        ( 'nc' ),
        ( -72px -104px )
    ),
    'new-guinea' : (
        ( 'pg' ),
        ( -72px -494px )
    ),
    'new-zealand' : (
        ( 'nz' ),
        ( -72px -364px )
    ),
    'nicaragua' : (
        ( 'ni' ),
        ( -72px -208px )
    ),
    'niger' : (
        ( 'ne' ),
        ( -72px -130px )
    ),
    'nigeria' : (
        ( 'ng' ),
        ( -72px -182px )
    ),
    'niue' : (
        ( 'nu' ),
        ( -72px -338px )
    ),
    'norfolk-island' : (
        ( 'nf' ),
        ( -72px -156px )
    ),
    'north-korea' : (
        ( 'kp' ),
        ( -36px -1092px )
    ),
    'northern-mariana-islands' : (
        ( 'mp' ),
        ( -36px -1795px )
    ),
    'norway' : (
        ( 'no' ),
        ( -72px -260px )
    ),
    'oman' : (
        ( 'om' ),
        ( -72px -390px )
    ),
    'pakistan' : (
        ( 'pk' ),
        ( -72px -546px )
    ),
    'palau' : (
        ( 'pw' ),
        ( -72px -728px )
    ),
    'palestine' : (
        ( 'ps' ),
        ( -72px -676px )
    ),
    'panama' : (
        ( 'pa' ),
        ( -72px -416px )
    ),
    'paraguay' : (
        ( 'py' ),
        ( -72px -754px )
    ),
    'peru' : (
        ( 'pe' ),
        ( -72px -442px )
    ),
    'philippines' : (
        ( 'ph' ),
        ( -72px -520px )
    ),
    'pitcairn-islands' : (
        ( 'pn' ),
        ( -72px -624px )
    ),
    'poland' : (
        ( 'pl' ),
        ( -72px -572px )
    ),
    'portugal' : (
        ( 'pt' ),
        ( -72px -702px )
    ),
    'puerto-rico' : (
        ( 'pr' ),
        ( -72px -650px )
    ),
    'qatar' : (
        ( 'qa' ),
        ( -72px -780px )
    ),
    'reunion' : (
        ( 're' ),
        ( -72px -806px )
    ),
    'romania' : (
        ( 'ro' ),
        ( -72px -832px )
    ),
    'russia' : (
        ( 'ru' ),
        ( -72px -884px )
    ),
    'rwanda' : (
        ( 'rw' ),
        ( -72px -910px )
    ),
    'saint-helena' : (
        ( 'sh' ),
        ( -72px -1118px )
    ),
    'saint-kitts-and-nevis' : (
        ( 'kn' ),
        ( -36px -1066px )
    ),
    'saint-lucia' : (
        ( 'lc' ),
        ( -36px -1274px )
    ),
    'saint-pierre' : (
        ( 'pm' ),
        ( -72px -598px )
    ),
    'saint-vincent' : (
        ( 'vc' ),
        ( -108px -52px )
    ),
    'samoa' : (
        ( 'ws' ),
        ( -108px -260px )
    ),
    'san-marino' : (
        ( 'sm' ),
        ( -72px -1248px )
    ),
    'sandwich-islands' : (
        ( 'gs' ),
        ( -36px -338px )
    ),
    'sao-tome' : (
        ( 'st' ),
        ( -72px -1352px )
    ),
    'saudi-arabia' : (
        ( 'sa' ),
        ( -72px -936px )
    ),
    'senegal' : (
        ( 'sn' ),
        ( -72px -1274px )
    ),
    // 'serbia' : (
    //     ( 'cs' ),
    //     ( 0 -1274px )
    // ),
    'serbia' : (
        ( 'rs' ),
        ( -72px -858px )
    ),
    'seychelles' : (
        ( 'sc' ),
        ( -72px -988px )
    ),
    'sierra-leone' : (
        ( 'sl' ),
        ( -72px -1222px )
    ),
    'singapore' : (
        ( 'sg' ),
        ( -72px -1092px )
    ),
    'slovakia' : (
        ( 'sk' ),
        ( -72px -1196px )
    ),
    'slovenia' : (
        ( 'si' ),
        ( -72px -1144px )
    ),
    'solomon-islands' : (
        ( 'sb' ),
        ( -72px -962px )
    ),
    'somalia' : (
        ( 'so' ),
        ( -72px -1300px )
    ),
    'south-africa' : (
        ( 'za' ),
        ( -108px -338px )
    ),
    'south-korea' : (
        ( 'kr' ),
        ( -36px -1118px )
    ),
    'spain' : (
        ( 'es' ),
        ( 0 -1742px )
    ),
    'sri-lanka' : (
        ( 'lk' ),
        ( -36px -1326px )
    ),
    'sudan' : (
        ( 'sd' ),
        ( -72px -1040px )
    ),
    'suriname' : (
        ( 'sr' ),
        ( -72px -1326px )
    ),
    'swaziland' : (
        ( 'sz' ),
        ( -72px -1430px )
    ),
    'sweden' : (
        ( 'se' ),
        ( -72px -1066px )
    ),
    'switzerland' : (
        ( 'ch' ),
        ( 0 -1066px )
    ),
    'syria' : (
        ( 'sy' ),
        ( -72px -1404px )
    ),
    'taiwan' : (
        ( 'tw' ),
        ( -72px -1820px )
    ),
    'tajikistan' : (
        ( 'tj' ),
        ( -72px -1586px )
    ),
    'tanzania' : (
        ( 'tz' ),
        ( -72px -1846px )
    ),
    'thailand' : (
        ( 'th' ),
        ( -72px -1560px )
    ),
    'timorleste' : (
        ( 'tl' ),
        ( -72px -1638px )
    ),
    'togo' : (
        ( 'tg' ),
        ( -72px -1534px )
    ),
    'tokelau' : (
        ( 'tk' ),
        ( -72px -1612px )
    ),
    'tonga' : (
        ( 'to' ),
        ( -72px -1716px )
    ),
    'trinidad' : (
        ( 'tt' ),
        ( -72px -1768px )
    ),
    'tunisia' : (
        ( 'tn' ),
        ( -72px -1690px )
    ),
    'turkey' : (
        ( 'tr' ),
        ( -72px -1742px )
    ),
    'turkmenistan' : (
        ( 'tm' ),
        ( -72px -1664px )
    ),
    'tuvalu' : (
        ( 'tv' ),
        ( -72px -1794px )
    ),
    'uganda' : (
        ( 'ug' ),
        ( -72px -1898px )
    ),
    'ukraine' : (
        ( 'ua' ),
        ( -72px -1872px )
    ),
    'united-arab-emirates' : (
        ( 'uae', 'ae' ),
        ( 0 -26px )
    ),
    'united-states' : (
        ( 'us', 'usa', 'america' ),
        ( -72px -1950px )
    ),
    'uruguay' : (
        ( 'uy' ),
        ( -72px -1976px )
    ),
    'us-minor-islands' : (
        ( 'um' ),
        ( -72px -1924px )
    ),
    'us-virgin-islands' : (
        ( 'vi' ),
        ( -108px -130px )
    ),
    'uzbekistan' : (
        ( 'uz' ),
        ( -108px 0 )
    ),
    'vanuatu' : (
        ( 'vu' ),
        ( -108px -182px )
    ),
    'vatican-city' : (
        ( 'va' ),
        ( -108px -26px )
    ),
    'venezuela' : (
        ( 've' ),
        ( -108px -78px )
    ),
    'vietnam' : (
        ( 'vn' ),
        ( -108px -156px )
    ),
    'wallis-and-futuna' : (
        ( 'wf' ),
        ( -108px -234px )
    ),
    'western-sahara' : (
        ( 'eh' ),
        ( 0 -1664px )
    ),
    'yemen' : (
        ( 'ye' ),
        ( -108px -286px )
    ),
    'zambia' : (
        ( 'zm' ),
        ( -108px -364px )
    ),
    'zimbabwe' : (
        ( 'zw' ),
        ( -108px -390px )
    )
) !default;

$flags-enabled: () !default;

/* SIZE */

$flag-width: 16px !default;
$flag-height: 11px !default;

/* OTHERS */

$flags-only-enabled: $environment-production !default;
