
/* SETTINGS */

$form-small-max-width: 400px !default;
$form-medium-max-width: 600px !default;
$form-large-max-width: 1000px !default;

$form-textbox-horizontal-padding: 0.78571em !default;
$form-textbox-vertical-padding: 0.78571em !default;

$form-outlined-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset !default;
