
/* MIXIN */

@mixin gradient ( $color_name, $important: '' ) {

    $colors: map-get($colors, $color_name);

    $start: nth($colors, 2);
    $end: nth($colors, 3);

    background-color: $start #{$important};
    background: linear-gradient(to bottom, $start 0%, $end 100%) #{$important};

}

/* BRAND */

@mixin gradient-primary ( $important: '' ) {
    @include gradient ( 'primary', $important );
}

@mixin gradient-secondary ( $important: '' ) {
    @include gradient ( 'secondary', $important );
}

/* GENERAL */

@mixin gradient-white ( $important: '' ) {
    @include gradient ( 'white', $important );
}

@mixin gradient-gray ( $important: '' ) {
    @include gradient ( 'gray', $important );
}

@mixin gradient-black ( $important: '' ) {
    @include gradient ( 'black', $important );
}

@mixin gradient-yellow ( $important: '' ) {
    @include gradient ( 'yellow', $important );
}

@mixin gradient-green ( $important: '' ) {
    @include gradient ( 'green', $important );
}

@mixin gradient-blue ( $important: '' ) {
    @include gradient ( 'blue', $important );
}

@mixin gradient-orange ( $important: '' ) {
    @include gradient ( 'orange', $important );
}

@mixin gradient-purple ( $important: '' ) {
    @include gradient ( 'purple', $important );
}

@mixin gradient-red ( $important: '' ) {
    @include gradient ( 'red', $important );
}

@mixin gradient-pink ( $important: '' ) {
    @include gradient ( 'pink', $important );
}

@mixin gradient-teal ( $important: '' ) {
    @include gradient ( 'teal', $important );
}
