
/* MIXIN */

@mixin gradient ( $color_name, $important: '' ) {

    $colors: map-get($colors, $color_name);

    $start: nth($colors, 2);
    $end: nth($colors, 3);

    background-color: $start #{$important};
    background: linear-gradient(to bottom, $start 0%, $end 100%) #{$important};

}
