
/* SETTINGS */

$header-height: 3em !default;

$header-btn-padding: 0 1.5em !default;

$header-logo-size: 1.8em !default;
$header-logo-height: 1.66667em !default;
$header-logo-line-height: 1.85em !default;
$header-logo-padding: 0 0.835em !default;

$header-icon-size: 1.8em !default;
$header-icon-height: 1.66667em !default;
$header-icon-font-size: 1.8em !default;
