
/* INFOBAR */

$infobar-color: 'white';
$infobar-color-basic: true;

$infobar-border-width: 1px;
$infobar-border-radius: $border-radius-medium;

$infobar-title-size: 'xlarge';
$infobar-title-margin-bottom: $layout-half-spacing;

$infobar-transition-close-duration: 0.25s;
