
/* SETTINGS */

$input-horizontal-padding: 1.5em !default;
$input-vertical-padding: 0.78571em !default;

$input-compact-horizontal-padding: 0.78571em !default;
$input-compact-vertical-padding: 0.78571em !default;
