
/* LABEL */

$label-color: 'white';
$label-color-basic: false;

$label-horizontal-padding: 1.5em !default;
$label-vertical-padding: 0.78571em !default;

$label-compact-horizontal-padding: 0.78571em !default;
$label-compact-vertical-padding: 0.78571em !default;
