
/* MAX WIDTH */

$layout-max-width: $layout-xlarge-min-breakpoint !default;

/* SPACING */

$layout-spacing: 10px !default;
$layout-half-spacing: $layout-spacing / 2 !default;

/* BORDER RADIUS */

$border-radius-small: 0.13325rem !default;
$border-radius-medium: 0.2665rem !default;
$border-radius-large: 0.39975rem !default;
