
/* SETTINGS */

$layout-xsmall-max-breakpoint: 481px;

$layout-small-min-breakpoint: 482px;
$layout-small-max-breakpoint: 767px;

$layout-medium-min-breakpoint: 768px;
$layout-medium-max-breakpoint: 961px;

$layout-large-min-breakpoint: 962px;

$layout-max-width: 1400px;

$layout-sidebar-breakpoint: 750px;
$layout-no-columns-padding-breakpoint: 550px;
$layout-full-sidebar-breakpoint: 435px;

$layout-spacing: 10px;
$layout-half-spacing: $layout-spacing / 2;

$border-radius-small: 0.13325rem;
$border-radius-normal: 0.2665rem;
$border-radius-large: 0.39975rem;
