
/* LOADING */

$loading-color: 'black';
$loading-color-basic: true;

$loading-z-depth: 5;

$loading-size: 64px !default;
$loading-font-size: 52px !default;

$loading-border-width: 1px;

$loading-transition-all-duration: 2.2s;

$loading-rotation-duration: 0.9s;

$loading-content-opacity: 0.4;
