
/* SETTINGS */

$modal-small-width: 250px !default;
$modal-normal-width: 400px !default;
$modal-big-width: 550px !default;
$modal-huge-width: 700px !default;

$modal-bg-color: rgba(0, 0, 0, 0.45) !default;
