
/* SETTINGS */

$navbar-height: 3em !default;

$navbar-btn-padding: 0 1.5em !default;

$navbar-logo-size: 1.8em !default;
$navbar-logo-height: 1.66667em !default;
$navbar-logo-line-height: 1.85em !default;
$navbar-logo-padding: 0 0.835em !default;

$navbar-icon-size: 1.8em !default;
$navbar-icon-height: 1.66667em !default;
$navbar-icon-font-size: 1.8em !default;
