
/* SETTINGS */

$noty-shadow-inset: inset 0 1px 1px -1px rgba(255, 255, 255, 0.5) !default;
$noty-text-size: 15px !default;
$noty-full-breakpoint: $layout-xsmall-max-breakpoint !default;

$noty-img-size: 38px !default;
