
/* NOTY */

$noty-z-depth: 5;
$noty-z-index: 100;

$noty-text-size: 15px !default;

$noty-img-size: 38px !default;
$noty-img-rounded: true !default; //TODO: implement this

$noty-transition-all-duration: 0.2s;

/* BREAKPOINTS */

$noty-full-breakpoint: $layout-xsmall-max-breakpoint !default;
