
/* RIPPLE */

$ripple-color-default: $color-black;

$ripple-transparentize-amount: 0.8;

$ripple-transition-timing-function: ease-out;
$ripple-transition-show-duration: 0.6s;
$ripple-transition-hide-duration: 0.4s;
