
/* SIZES */

//TODO: maybe write them using the forumals for getting a good icon size

//INFO: The considered font-size is 15px
//INFO: A scaling factor of 1.6 for icons was taken into account to produce the sharpest icons possible
//INFO: The value at the right of the arrow is the resulting icon size
//INFO: The [RECOMMENDED] sizes are those where the icons look better

$size-xxxxsmall: 0.25rem !default; // -> 6px
$size-xxxsmall: 0.375rem !default; // -> 9px
$size-xxsmall: 0.5rem !default; // -> 12px
$size-xsmall: 0.75rem !default; // -> 18px [RECOMMENDED]
$size-small: 0.875rem !default; // -> 21px
$size-medium: 1rem !default; // -> 24px [RECOMMENDED]
$size-large: 1.25rem !default; // -> 30px
$size-xlarge: 1.5rem !default; // -> 36px [RECOMMENDED]
$size-xxlarge: 1.75em !default; // -> 42px
$size-xxxlarge: 2rem !default; // -> 48px [RECOMMENDED]
$size-xxxxlarge: 2.5rem !default; // -> 60px

/* SIZES */

$sizes: (
    'xxxxsmall': $size-xxxxsmall,
    'xxxsmall': $size-xxxsmall,
    'xxsmall': $size-xxsmall,
    'xsmall': $size-xsmall,
    'small': $size-small,
    'medium': $size-medium,
    'large': $size-large,
    'xlarge': $size-xlarge,
    'xxlarge': $size-xxlarge,
    'xxxlarge': $size-xxxlarge,
    'xxxxlarge': $size-xxxxlarge
) !default;
