
/* FUNCTION */

@function get_rem ( $distance ) {
    @return 1rem + ( $size-delta-step * $distance );
}

/* DELTA */

$size-delta-step: 1 / 14 !default;

/* SIZES */

//TODO: rename them to: xxxxs, xxxs, xxs, xs, sm, md, lg, xl, xxl, xxxl, xxxxl

$size-nano: get_rem( -6 ) !default;
$size-micro: get_rem( -5 ) !default;
$size-mini: get_rem( -4 ) !default;
$size-tiny: get_rem( -2 ) !default;
$size-small: get_rem( -1 ) !default;
$size-medium: get_rem( 0 ) !default;
$size-large: get_rem( 2 ) !default;
$size-big: get_rem( 4 ) !default;
$size-huge: get_rem( 6 ) !default;
$size-massive: get_rem( 10 ) !default;
$size-giant: get_rem( 16 ) !default;
$size-enormous: get_rem( 24 ) !default;
