
/* SWITCH */

$switch-disabled-bar-color: 'gray';
$switch-disabled-bar-color-basic: true;

$switch-disabled-handler-color: 'gray';
$switch-disabled-handler-color-basic: true;

$switch-width: 2.26667em !default;
$switch-height: 0.93333em !default;

$switch-bar-width: 1.73333em !default;
$switch-bar-height: 0.93333em !default;

$switch-bar-shadow: 0 0 0 0.66667em rgba(255, 255, 255, 0.25) inset !default;

$switch-bar-vertical-height: 0.2em !default;

$switch-handler-size: 1.33333em !default;
$switch-handler-half-size: $switch-handler-size / 2 !default;

$switch-handler-icon-size: 1.66667em !default;
$switch-handler-icon-font-size: 0.8em !default;

$switch-handler-active-shadow: 0 0 0 0.66667rem rgba(255, 171, 145, 0.25) !default;

$switch-inactive-handler-shadow-size: 0.2em !default;
