
/* TABLE */

$table-header-block-height: 2.7em !default;
$table-empty-block-height: 5.4em !default;

$table-th-sortable-padding: 1.5em !default;
$table-sortable-icon-font-size: 0.75em !default;

$table-row-padding: 0.75em 0 !default;

$table-row-even-color: rgba(0, 0, 0, 0.015) !default;
$table-row-even-color-hover: rgba(0, 0, 0, 0.03) !default;

$table-row-odd-color: rgba(0, 0, 0, 0) !default;
$table-row-odd-color-hover: rgba(0, 0, 0, 0.03) !default;
