
/* HEADER */

$table-header-min-height: 3em !default;
$table-header-padding: $layout-gutter !default;

/* ROW */

$table-row-min-height: 3em !default;
$table-row-padding: $layout-gutter 0 !default;

/* EMPTY */

$table-row-empty-min-height: ( $table-row-min-height * 1.5 ) !default;

/* BORDERED */

$table-bordered-border-width: $outline-width !default;
$table-bordered-border-color: rgba(0, 0, 0, 0.05) !default;

/* STRIPED */

$table-striped-row-even-color: rgba(0, 0, 0, 0.02) !default;
$table-striped-row-odd-color: rgba(0, 0, 0, 0) !default;

/* HOVERABLE */

$table-hoverable-row-odd-color-hover: rgba(0, 0, 0, 0.04) !default;
$table-hoverable-row-even-color-hover: rgba(0, 0, 0, 0.04) !default;
