
/* TABLE */

$table-color: 'inherit' !default;
$table-color-basic: true !default;

/* HEADER */

$table-header-color: 'inherit' !default;
$table-header-color-basic: true !default;

$table-header-min-height: 3em !default;

/* BODY */

$table-body-color: 'inherit' !default;
$table-body-color-basic: true !default;
/* ROW */

$table-row-min-height: 3em !default;

/* EMPTY */

$table-row-empty-min-height: ( $table-row-min-height * 1.5 ) !default;

/* FOOTER */

$table-footer-color: 'inherit' !default;
$table-footer-color-basic: true !default;

$table-footer-min-height: 3em !default;

/* BORDERED */

$table-bordered-border-width: $outline-width !default;
$table-bordered-border-color: #dddddd !default;

/* STRIPED */

$table-striped-row-even-color: rgba(0, 0, 0, 0.02) !default;
$table-striped-row-odd-color: rgba(0, 0, 0, 0) !default;

/* HOVERABLE */

$table-hoverable-row-odd-color-hover: rgba(0, 0, 0, 0.04) !default;
$table-hoverable-row-even-color-hover: rgba(0, 0, 0, 0.04) !default;
