
/* TAGBOX */

$tagbox-color: 'transparent';
$tagbox-color-basic: true;

$tagbox-input-color: 'transparent';
$tagbox-input-color-basic: true;
$tagbox-input-size: 'small';
$tagbox-input-min-width: 10em;
