
/* ROBOTO */

$roboto-enabled: false !default;

/* FONT FAMILY */

$font-family-roboto-enabled: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-roboto-disabled: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

@if $roboto-enabled == true {
    $font-family: $font-family-roboto-enabled;
} @else {
    $font-family: $font-family-roboto-disabled;
}

/* FONT SIZE */

$font-size: 15px !default;

/* LINE HEIGHT */

$line-height: 1.4285714286; //INFO: 20/14
$line-height-em: 1em * $line-height;

/* LINK */

$a-underline-transition-duration: 0.2s;
$a-underline-height: 1px;

/* HEADERS */

$h1-size: 'xxlarge';
$h2-size: 'xlarge';
$h3-size: 'large';
$h4-size: 'medium';
$h5-size: 'small';
$h6-size: 'xsmall';

$header-small-opacity: 0.85;

/* SMALL */

$small-font-size: 65%;

/* MARK */

$mark-padding: 0.2em;
$mark-bg-color: $color-yellow;
$mark-border-radius: $border-radius-small;

/* ABBR */

$abbr-border-width: 1px;
$abbr-border-style: 'dotted';
$abbr-border-color: $color-gray-border;

/* BLOCKQUOTE */

$blockquote-border-width: ( $layout-gutter / 2 );
$blockquote-border-color: rgba(47, 47, 47, 0.15) !default;

$blockquote-footer-font-size: 85%;
$blockquote-footer-opacity: 0.85;

/* CODE */

$code-bg-color: rgba(47, 47, 47, 0.03) !default;
$code-border-width: 1px;
$code-border-color: rgba(47, 47, 47, 0.15) !default;

/* KBD */

$kbd-color: 'white';
$kbd-color-basic: true;

$kbd-border-width: 1px;
$kbd-font-size: 90%;
$kbd-padding-vertical: 2px;
$kbd-padding-horizontal: $layout-half-gutter;
