
// @require ../../panel.scss
// @require core/layout/layout.scss

/* RIGHT */

.panel.slim.right {

  width: $panel-slim-x-width;

  /* CLOSED */

  &:not(.open) {
    transform: translateX($panel-slim-x-width);
  }

}

/* LAYOUT */

.panel-layout.panel-slim-pinned-right {

  padding-right: $panel-slim-x-width;

  /* STICKY HEADER */

  &.layout.vertical > .layout-header.sticky {
    right: $panel-slim-x-width;
  }

}
