
// @require core/animations/variables.scss
// @require widgets/avatar/variables.scss
// @require widgets/container/variables.scss

/* LEVELS */

//TODO: Decrease level offset when there's no img

$chat-message-level-1-offset: 0 !default;
$chat-message-level-2-offset: 4.5em !default;
$chat-message-level-3-offset: $chat-message-level-2-offset * 2 !default;

/* IMAGE */

$chat-message-img-size: 3em !default;
$chat-message-img-rounded: true !default;

$chat-message-img-border-radius: $container-border-radius !default;

$chat-message-img-border-width: 1px !default;
$chat-message-img-border-style: solid !default;
$chat-message-img-border-color: inherit !default;

$chat-message-img-hover-opacity: $avatar-img-hover-opacity !default;

/* ANIMATION */

$chat-message-animation-duration: $animation-fast !default;
