
//- Spinner

mixin spinner
  .spinner-wrp&attributes(attributes)
    +spinner-no-wrp&attributes(attributes)

mixin spinner-no-wrp
  .spinner&attributes(attributes)
    .circle-wrp.left
      .circle
    .circle-wrp.right
      .circle

//- Options
  [
    0: '', // First spinner color
    1: '', // Second spinner color
    2: '', // Third spinner color
    3: '' // Fourth spinner color
  ]

mixin spinner-multiple(options)
  - options = ( options && options.length === 4 ) ? options : ["blue", "red", "yellow", "green"];
  .spinner-wrp&attributes(attributes).multiple
    if block
      block
    else
      each color in options
        +spinner-no-wra(class=color)
