
//- =========================================================================
//- Svelto - Spinner
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin spinner
  svg.spinner&attributes(attributes)
    circle(cx="1.625em" cy="1.625em" r="1.25em")

mixin spinner-label
  .spinner-label&attributes(attributes)
    +spinner
