//- spinner.jade

mixin spinner
    .spinner-wrp&attributes(attributes)
        +spinner-no-wrp&attributes(attributes)

mixin spinner-no-wrp
    .spinner&attributes(attributes)
        .circle-wrp.left
            .circle
        .circle-wrp.right
            .circle

mixin spinner-multiple(first, second, third, fourth)
    .spinner-wrp.multiple&attributes(attributes)
        if block
            block
        else
            +spinner-no-wrp(class=(first ? first : "blue"))
            +spinner-no-wrp(class=(second ? second : "red"))
            +spinner-no-wrp(class=(third ? third : "yellow"))
            +spinner-no-wrp(class=(fourth ? fourth : "green"))
