//- css/badges.jade

extends ../../layout.jade

append navbar
    #sidebar_toggler.navbar_btn.actionable.right
        .icon.icon-navigation-more-vert

append body
+divider Tabs
    .grid
        .grid_cols.limited
            .grid_col
                .tabs_wrp
                    .tabs
                        .tab.actionable.n4inrow.active.highlight(title="Tab 1")
                            .icon.icon-communication-chat
                        .tab.actionable.n4inrow.inactive(title="Tab 2")
                            .icon.icon-action-restore
                        .tab.actionable.n4inrow(title="Tab 3") Text
                        .tab.actionable.n4inrow(title="Tab 4")
                            .icon.icon-action-settings
                    .contabs
                        .contab.to_bottom.active [Content 1] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        .contab [Content 2] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        .contab [Content 3] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        .contab [Content 4] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

append body-end
    script(type="text/javascript").
        $.dom_ready ( function () {
            $("#logo").badge ({ title: "Yeah!", type: "inline", style: "squared" });
        });
        $.dom_ready ( function () {
            $("#sidebar_toggler .icon").badge ({ title: "10", type: "floating", style: "primary" });
        });
        $.dom_ready ( function () {
            $(".icon-communication-chat").badge ({ title: "10", type: "floating", style: "secondary" });
        });
