//- css/badges.jade

extends ../../layout.jade

append navbar
    #sidebar_toggler.navbar_btn.actionable.right
        .icon.icon-navigation-more-vert

append body
    +divider Tabs

    .tabs_wrp
        .tabs
            .tab.actionable.n4inrow.active.highlight(title="Tab 1")
                .icon.icon-communication-chat
            .tab.actionable.n4inrow.inactive(title="Tab 2")
                .icon.icon-action-restore
            .tab.actionable.n4inrow(title="Tab 3") Text
            .tab.actionable.n4inrow(title="Tab 4")
                .icon.icon-action-settings
        .contabs
            .contab [Content 1] #[+lorem-ipsum()]
            .contab [Content 2] #[+lorem-ipsum()]
            .contab [Content 3] #[+lorem-ipsum()]
            .contab [Content 4] #[+lorem-ipsum()]

append body-end
    script(type="text/javascript").
        $.dom_ready ( function () {
            $("#logo").badge ({ title: "Yeah!", type: "inline", style: "squared" });
        });
        $.dom_ready ( function () {
            $("#sidebar_toggler .icon").badge ({ title: "10", type: "floating", style: "primary" });
        });
        $.dom_ready ( function () {
            $(".icon-communication-chat").badge ({ title: "10", type: "floating", style: "secondary" });
        });
