//- bootstrap/buttons.jade

extends ../../layout.jade

append content
    +divider Normal

    +multiple
        +button Base
        +button.sharp Sharp
        +button.rounded Rounded
        +button.compact Compact
        +button.active Active
        +button.inactive Inactive

    +divider Outlined

    +multiple
        +button.outlined Outlined
        +button.outlined
            +button-left
                +icon('action-settings')
            +button-center Outlined
        +button.outlined
            +button-center Outlined
            +button-right
                +icon('action-settings')
        +button.outlined.compact
            +button-left
                +icon('action-settings')
            +button-center Compact
        +button.outlined.compact
            +button-center Compact
            +button-right
                +icon('action-settings')

    +divider Icon

    +multiple
        +button
            +icon('action-settings')
        +button.compact
            +icon('action-settings')
        +button.compact.rounded
            +icon('action-settings')
        +button
            +icon('action-settings').left
            | Settings
        +button
            | Settings
            +icon('action-settings').right
        +button
            +button-left
                +icon('action-settings')
            +button-center Settings
        +button
            +button-center Settings
            +button-right
                +icon('action-settings')
        +button.compact
            +button-left
                +icon('action-settings')
            +button-center Settings
        +button.compact
            +button-center Settings
            +button-right
                +icon('action-settings')

    +divider Fluid

    +multiple.fluid
        +button Foo
        +button Bar
        +button Baz
        +button Qux

    +divider Vertical

    +multiple.vertical
        +button Foo
        +button Bar
        +button Baz
        +button Qux

    +divider Floating

    +button.floating.compact.rounded.secondary.huge
        +icon('action-settings')
