//- bootstrap/buttons.jade

extends ../../layout.jade

append main
    +divider Normal

    +multiple
        +button-simple Base
        +button-simple.sharp Sharp
        +button-simple.rounded Rounded
        +button-simple.compact Compact
        +button-simple.active Active

    +divider Icon

    +multiple
        +button-icon('action-settings')
        +button-icon('action-settings').rounded
        +button-simple
            +icon('action-settings').left
            | Settings
        +button-simple
            | Settings
            +icon('action-settings').right
        +button
            +button-left
                +icon('action-settings')
            +button-center Settings
        +button
            +button-center Settings
            +button-right
                +icon('action-settings')
        +button.compact
            +button-left
                +icon('action-settings')
            +button-center Settings
        +button.compact
            +button-center Settings
            +button-right
                +icon('action-settings')

    +divider Pointed

    +multiple
        +button-pointed-simple Normal
        +button-pointed-simple.sharp Sharp
        +button-pointed-simple.primary Colored
        +button-pointed-simple.secondary.xxsmall Smaller
        +button-pointed-simple.outlined Outlined
        +button-pointed-simple.compact Compact

    +divider Floating

    +button-icon('action-settings').floating.rounded.secondary.xxxlarge
