//- bootstrap/buttons.jade

extends ../../layout.jade

append main
    +divider Simple

    +button-simple Simple

    +divider Normal

    +multiple
        +button-simple Base
        +button-simple.sharp Sharp
        +button-simple.rounded Rounded
        +button-simple.compact Compact
        +button-simple.active Active

    +divider Icon

    +multiple
        +button-icon('action-settings')
        +button-icon('action-settings').rounded
        +button-simple
            +icon('action-settings').left
            | Settings
        +button-simple
            | Settings
            +icon('action-settings').right
        +button
            +button-left
                +icon('action-settings')
            +button-center Settings
        +button
            +button-center Settings
            +button-right
                +icon('action-settings')
        +button.compact
            +button-left
                +icon('action-settings')
            +button-center Settings
        +button.compact
            +button-center Settings
            +button-right
                +icon('action-settings')

    +divider Pointed

    +multiple
        +button-pointed-simple Normal
        +button-pointed-simple.sharp Sharp
        +button-pointed-simple.primary Colored
        +button-pointed-simple.outlined Outlined
        +button-pointed-simple.compact Compact


    +divider Ribbons

    +container-simple.limited.xs-10
        +button-ribbons-simple.primary Left & Right
        +paragraph-sample
        +button-ribbon-left-simple.secondary Left
        +paragraph-sample
        +button-ribbon-right-simple.tertiary Right
        +paragraph-sample
        +button-ribbons-simple.outlined Outlined
        +paragraph-sample

    +divider Corner

    +container-simple
        +button-corner("top-left").primary P
        +button-corner("top-right", "file-file-download").secondary
        +button-corner("bottom-right", "action-thumb-up").quaternary
        +button-corner("bottom-left", "action-favorite").tertiary
        +paragraph-sample

    +divider Badge

    +multiple
        +label-icon("action-settings")
            +button-simple.compact.badge.xsmall.quaternary.top-left 1
            +button-simple.compact.badge.xsmall.primary.top-right 2
            +button-simple.compact.badge.xsmall.tertiary.bottom-left 3
            +button-simple.compact.badge.xsmall.secondary.bottom-right 4

    +divider Floating

    +button-icon('action-settings').floating.rounded.secondary.large
