//- components/divider.jade

extends ../../layout.jade

append main
    +divider Dividers

    +container-simple
        +divider Colored
        +divider-linear Linear
        +divider-linear
        +divider-text Something
