//- components/header.jade

extends ../../layout.jade

append body
    +divider Outside

    +container
        +header
            +header-content
                +header-title
                    +lorem-ipsum(8, 'words')

    +container
        +header
            +header-content
                +header-title
                    +lorem-ipsum(8, 'words')
                +header-subtitle
                    +lorem-ipsum(8, 'words')


    +container
        +header
            +icon("action-settings").big
            +header-content
                +header-title
                    +lorem-ipsum(8, 'words')


    +container
        +header
            +icon("action-settings").enormous
            +header-content
                +header-title
                    +lorem-ipsum(8, 'words')
                +header-subtitle
                    +lorem-ipsum(8, 'words')


    +container
        +header
            +icon("action-settings").giant
            +header-content
                +header-title
                    +lorem-ipsum(8, 'words')
                +header-subtitle
                    ul
                        li
                            +lorem-ipsum(5, 'words')
                        li
                            +lorem-ipsum(5, 'words')
                        ul
                            li
                                +lorem-ipsum(5, 'words')
                            li
                                +lorem-ipsum(5, 'words')
                            li
                                +lorem-ipsum(5, 'words')
                        li
                            +lorem-ipsum(5, 'words')

    +divider Inside

    +container
        +header
            +icon("action-settings").giant
            +header-content
                +header-title
                    +lorem-ipsum(8, 'words')
                +header-subtitle
                    +lorem-ipsum(8, 'words')
        p
            +lorem-ipsum
