//- bootstrap/header.jade

extends ../../layout.jade

append main
    +divider Header

    +header
        +toolbar.yellow
            +button-icon("navigation-menu")
            span.xlarge Title
            .spacer
            +button-icon("navigation-refresh")
            +button-icon("navigation-more-vert")

    +header("/assets/images/presto/sample-wide.jpg").has-background
        +toolbar
            +button-icon("navigation-menu")
            span.xlarge Title
            .spacer
            +button-icon("navigation-refresh")
            +button-icon("navigation-more-vert")
        .header-background.red

    +header("/assets/images/presto/sample-wide.jpg").has-background
        +toolbar
            +button-icon("navigation-menu")
            span.xlarge Title
            .spacer
            +button-icon("navigation-refresh")
            +button-icon("navigation-more-vert")
        .header-background.orange.gradient

    +header-bg("/assets/images/presto/sample-wide.jpg")
        +toolbar
            +button-icon("navigation-menu")
            span.xlarge Title
            .spacer
            +button-icon("navigation-refresh")
            +button-icon("navigation-more-vert")

    +header-bg("/assets/images/presto/sample-wide.jpg")
        +toolbar
            +button-icon("navigation-menu")
            span.xlarge Title
            .spacer
            +button-icon("navigation-refresh")
            +button-icon("navigation-more-vert")
