//- components/inputs.jade

extends ../../layout.jade

append main
    +divider Normal

    +multiple
        input(type="text", name="test", value="Base")
        input(type="text", name="test", value="Compact").compact
        input(type="text", name="test", value="Outlined").outlined
        input(type="text", name="test", value="Disabled" disabled="disabled")

    +divider Fluid

    input(type="text", name="test", value="Fluid").fluid

    +divider Toolbar

    +multiple
        +multiple.joined
            input(type="text", name="test", value="Search")
            +button-icon("action-search")
        +multiple.joined
            input(type="text", name="test", value="Search")
            +button-icon("action-search").secondary
        +multiple.joined
            input(type="text", name="test", placeholder="Search...")
            +button-simple.primary Search
        +multiple.joined
            +label-simple.gray http://
            input(type="text", name="test", placeholder="Search...")
        +multiple.joined
            +label-icon("social-people")
            input(type="text", name="test", value="Search")
        +multiple.joined
            input(type="text", name="test", value="Search")
            +label.compact
                +label-center
                    +icon("navigation-refresh").rotating
        +multiple.joined
            +button.teal
                +button-left
                    +icon("maps-local-grocery-store")
                +button-center Checkout
            input(type="text", name="test", value="34.50€")

    +divider Toolbar - Outlined

    +multiple
        +multiple.joined.outlined
            input(type="text", name="test", value="Outlined")
            +button-icon("action-search")
        +multiple.joined
            +label-simple.gray http://
            input(type="text", name="test", placeholder="Outlined...").outlined
