//- components/inputs.jade

extends ../../layout.jade

append body
    +divider Normal

    +multiple
        input(type="text", name="input_1", value="Base")
        input(type="text", name="input_1", value="Inactive").inactive
        input(type="text", name="input_1", value="Disabled" disabled="disabled")

    +divider Fluid

    +multiple.fluid
        input(type="text", name="input_1", value="Foo")
        input(type="text", name="input_1", value="Bar")
        input(type="text", name="input_1", value="Baz")
        input(type="text", name="input_1", value="Qux")

    +divider Toolbar

    +multiple
        +multiple.joined
            input(type="text", name="input_1", value="Search")
            +button.compact
                +icon("action-search")
        +multiple.joined
            input(type="text", name="input_1", value="Search")
            +button.compact.secondary
                +icon("action-search")
        +multiple.joined
            input(type="text", name="input_1", placeholder="Search...")
            +button.primary Search
        +multiple.joined
            .button.gray http://
            input(type="text", name="input_1", placeholder="Search...")
        +multiple.joined
            .button.compact
                +icon("social-people")
            input(type="text", name="input_1", value="Search")
        +multiple.joined
            input(type="text", name="input_1", value="Search")
            .button.compact
                +icon("navigation-refresh").rotating
        +multiple.joined
            +button.teal
                +button-left
                    +icon("maps-local-grocery-store")
                +button-center Checkout
            input(type="text", name="input_1", value="34.50€")

    +divider Toolbar - Outlined

    +multiple
        +multiple.joined
            input(type="text", name="input_1", value="Outlined").outlined
        +multiple.joined.outlined
            input(type="text", name="input_1", value="Outlined")
            +button.compact
                +icon("action-search")
        +multiple.joined
            .button.gray http://
            input(type="text", name="input_1", placeholder="Outlined..." class="outlined")

    +divider Toolbar - Opacify

    //- TODO: sto opacify non è implementato

    +multiple.joined
        input(type="text", name="input_1", value="Opaciy")
        +button.compact
            +icon("action-search")

    +divider Toolbar - Loading

    +multiple
        #loadable.multiple.joined
            input(type="text", name="input_1", value="Search...")
            +button.compact
                +icon("action-search")
        +button(onclick="javascript:toggle_loading();") Toggle loading

append body-end
    script.
        function toggle_loading () {
            $("#loadable").toggleClass ( "loading_icons" );
        }
