//- components/input.jade

extends ../../layout.jade

append main
    +divider Normal

    +multiple
        +input({label: "Base"})
        +input({label: "Compact"}).compact
        +input({label: "Outlined"}).outlined
        +input({label: "Disabled"}).disabled

    +divider States

    +multiple
        +input({label: "Success"}).success
        +input({label: "Error"}).error
        +input({label: "Warning"}).warning

    +divider Fluid

    +input({label: "Fluid"}).fluid

    +divider No label

    +input({label: "No label"}).fluid.no-label

    +divider Toolbar

    +multiple
        +multiple.joined
            +input({value: "Search"})
            +button-icon("action-search")
        +multiple.joined
            +input({value: "Search"})
            +button-icon("action-search").secondary
        +multiple.joined
            +input({label: "Search..."})
            +button-simple.primary Search
        +multiple.joined
            +label-simple.gray http://
            +input({label: "Search..."})
        +multiple.joined
            +label-icon("social-people")
            +input({value: "Search"})
        +multiple.joined
            +input({value: "Search"})
            +label-icon("navigation-refresh").compact.rotating
        +multiple.joined
            +button.teal
                +button-left
                    +icon("maps-local-grocery-store")
                +button-center Checkout
            +input({value: "34.50€"})

    +divider Toolbar - Outlined

    +multiple
        +multiple.joined.outlined
            +input({value: "Outlined"})
            +button-icon("action-search")
        +multiple.joined
            +label-simple.gray http://
            +input({label: "Outlined..."}).outlined
