//- css/labels.jade

extends ../../layout.jade

append body
    +divider Normal

    +multiple
        +label.mini.primary Primary
        +label.mini.secondary Secondary
        +label.mini.white White
        +label.mini.gray Gray
        +label.mini.black Black
        +label.mini.yellow Yellow
        +label.mini.olive Olive
        +label.mini.green Green
        +label.mini.blue Blue
        +label.mini.violet Violet
        +label.mini.orange Orange
        +label.mini.purple Purple
        +label.mini.red Red
        +label.mini.pink Pink
        +label.mini.teal Teal
        +label.mini.brown Brown

    +divider Rounded

    +multiple
        +label.mini.rounded.primary 1
        +label.mini.rounded.secondary 2
        +label.mini.rounded.white 3
        +label.mini.rounded.gray 4
        +label.mini.rounded.black 5
        +label.mini.rounded.yellow 6
        +label.mini.rounded.olive 7
        +label.mini.rounded.green 8
        +label.mini.rounded.blue 9
        +label.mini.rounded.violet 10
        +label.mini.rounded.orange 11
        +label.mini.rounded.purple 12
        +label.mini.rounded.red 13
        +label.mini.rounded.pink 14
        +label.mini.rounded.teal 15
        +label.mini.rounded.brown 16

    +divider Badge

    +multiple
        +button.compact
            +icon("action-settings")
            +label.floating.micro.red 2
        +button.compact
            +icon("action-settings")
            +label.floating.micro.rounded.primary 3

append body-end
    script.
        $.dom_ready ( function () {
            $("#logo").badge ({ title: "Yeah!", type: "inline", style: "squared" });
        });
        $.dom_ready ( function () {
            $("#sidebar_toggler .icon").badge ({ title: "10", type: "floating", style: "primary" });
        });
        $.dom_ready ( function () {
            $(".icon-communication-chat").badge ({ title: "10", type: "floating", style: "secondary" });
        });
