//- css/labels.jade

extends ../../layout.jade

append content
    +divider Normal

    +multiple
        +label.mini.primary Primary
        +label.mini.secondary Secondary
        +label.mini.tertiary Tertiary
        +label.mini.quaternary Quaternary
        +label.mini.white White
        +label.mini.gray Gray
        +label.mini.black Black
        +label.mini.yellow Yellow
        +label.mini.olive Olive
        +label.mini.green Green
        +label.mini.blue Blue
        +label.mini.violet Violet
        +label.mini.orange Orange
        +label.mini.purple Purple
        +label.mini.red Red
        +label.mini.pink Pink
        +label.mini.teal Teal
        +label.mini.brown Brown

    +divider Rounded

    +multiple
        +label.mini.rounded.primary 1
        +label.mini.rounded.secondary 2
        +label.mini.rounded.tertiary 3
        +label.mini.rounded.quaternary 4
        +label.mini.rounded.white 5
        +label.mini.rounded.gray 6
        +label.mini.rounded.black 7
        +label.mini.rounded.yellow 8
        +label.mini.rounded.olive 9
        +label.mini.rounded.green 10
        +label.mini.rounded.blue 11
        +label.mini.rounded.violet 12
        +label.mini.rounded.orange 13
        +label.mini.rounded.purple 14
        +label.mini.rounded.red 15
        +label.mini.rounded.pink 16
        +label.mini.rounded.teal 17
        +label.mini.rounded.brown 18

    +divider Badge

    +multiple
        +button.compact
            +icon("action-settings")
            +label.floating.micro.red 2
        +button.compact
            +icon("action-settings")
            +label.floating.micro.rounded.primary 3
