//- pagination.jade

extends ../../layout.jade

append main
    +divider Normal

    +pagination({url:"#", total: 100, current: 4, blocks: 11})

    +divider Few blocks

    +pagination({url:"#", total: 100, current: 4, blocks: 2})
    +pagination({url:"#", total: 100, current: 4, blocks: 3})

    +divider Infinite

    +pagination({url:"#", total: 'infinite', current: 4, blocks: 2})

    +divider Left

    +pagination({url:"#<page-nr>_page", total: 100, current: 4, blocks: 11})
    +pagination({url:"#<page-nr>_page", total: 100, current: 1, blocks: 11})

    +divider Right

    +pagination({url:"#<page-nr>_page", total: 100, current: 100, blocks: 11})
    +pagination({url:"#<page-nr>_page", total: 100, current: 97, blocks: 11})
