//- pagination.jade

extends ../../layout.jade

append main
    +divider Normal

    +pagination({url:"#", total: 100, current: 4, blocks: 11}).joined.centered

    +divider Few blocks

    +pagination({url:"#", total: 100, current: 4, blocks: 2}).joined.centered
    +pagination({url:"#", total: 100, current: 4, blocks: 3}).joined.centered

    +divider Infinite

    +pagination({url:"#", total: 'infinite', current: 4, blocks: 2}).joined.centered

    +divider Left

    +pagination({url:"#<page-nr>_page", total: 100, current: 4, blocks: 11}).joined.centered
    +pagination({url:"#<page-nr>_page", total: 100, current: 1, blocks: 11}).joined.centered

    +divider Right

    +pagination({url:"#<page-nr>_page", total: 100, current: 100, blocks: 11}).joined.centered
    +pagination({url:"#<page-nr>_page", total: 100, current: 97, blocks: 11}).joined.centered
