//- components/progressBar.jade

extends ../../layout.jade

append body
    +divider Base

    +container
        +progressBar(33)
        +progressBar(55).striped
        +progressBar(55, true)

    +divider Colored

    +container
        +progressBar(70)
            +progressBar-section.yellow
            +progressBar-section.green
            +progressBar-section.pink
            +progressBar-section.teal
        +progressBar(20).striped
            +progressBar-section.yellow
            +progressBar-section.green
            +progressBar-section.pink
            +progressBar-section.teal
        +progressBar(20)
            +progressBar-section(true).yellow
            +progressBar-section(true).green
            +progressBar-section(true).pink
            +progressBar-section(true).teal
        +progressBar.fixed
            +progressBar-section.yellow.w10-100
            +progressBar-section.green.w20-100
            +progressBar-section.pink.w30-100
            +progressBar-section.teal.w40-100

    +divider Inactive

    +container
        +progressBar(45).inactive
        +progressBar(66).striped.inactive
        +progressBar(24).inactive
            +progressBar-section.yellow
            +progressBar-section.green
            +progressBar-section.pink
            +progressBar-section.teal
        +progressBar(70).inactive
            +progressBar-section(true).yellow
            +progressBar-section(true).green
            +progressBar-section(true).pink
            +progressBar-section(true).teal
        +progressBar.fixed.inactive
            +progressBar-section.yellow.w10-100
            +progressBar-section.green.w20-100
            +progressBar-section.pink.w30-100
            +progressBar-section.teal.w40-100

    +divider Actions

    .multiple
        .button.actionable.outlined(onclick="javascript:progressBar_set ()") Default
        .button.actionable.outlined(onclick="javascript:progressBar_set ( 0 )") Set 0%
        .button.actionable.outlined(onclick="javascript:progressBar_set ( 25 )") Set 25%
        .button.actionable.outlined(onclick="javascript:progressBar_set ( 50 )") Set 50%
        .button.actionable.outlined(onclick="javascript:progressBar_set ( 75 )") Set 75%
        .button.actionable.outlined(onclick="javascript:progressBar_set ( 100 )") Set 100%

append body-end
    +script.
        function progressBar_set ( percentage ) {
            $(".progressBar").progressBar ( percentage );
        }
