//- components/shapes.jade

extends ../../layout.jade

append body


    +divider Triangle

    +container
        +triangle

    +divider Triangle up

    +container
        +triangle-up

    +divider Triangle down

    +container
        +triangle-down

    +divider Triangle right

    +container
        +triangle-right

    +divider Triangle left

    +container
        +triangle-left

    +divider Triangle up right

    +container
        +triangle-up-right

    +divider Triangle up left

    +container
        +triangle-up-left

    +divider Triangle down right

    +container
        +triangle-down-right

    +divider Triangle down left

    +container
        +triangle-down-left

    +divider Triangle inset up

    +container
        +triangle-inset-up

    +divider Triangle inset down

    +container
        +triangle-inset-down

    +divider Triangle inset right

    +container
        +triangle-inset-right

    +divider Triangle inset left

    +container
        +triangle-inset-left

    +divider Square

    +container
        +square

    +divider Square sample

    +container
        +square-sample

    +divider Circle

    +container
        +circle
