//- components/shapes.jade

extends ../../layout.jade

append main

    +divider Triangle

    +simple-container
        +triangle

    +divider Triangle up

    +simple-container
        +triangle-up

    +divider Triangle down

    +simple-container
        +triangle-down

    +divider Triangle right

    +simple-container
        +triangle-right

    +divider Triangle left

    +simple-container
        +triangle-left

    +divider Square

    +simple-container
        +square

    +divider Square sample

    +simple-container
        +square-sample

    +divider Circle

    +simple-container
        +circle

    +divider Window actions

    +simple-container
        +multiple.tiny
            +circle.red
            +circle.yellow
            +circle.green
