//- components/textarea.jade

extends ../../layout.jade

append main
    +divider Normal

    +container-simple
        +multiple
            +textarea({label: "Base"})
            +textarea({label: "Compact"}).compact
            +textarea({label: "Outlined"}).outlined
            +textarea({label: "Disabled"}).disabled

    +divider Colors

    +container-simple
        +multiple
            +textarea({label: "Primary"}).text-field-primary Primary
            +textarea({label: "Secondary"}).text-field-secondary Secondary
            +textarea({label: "Tertiary"}).text-field-tertiary Tertiary
            +textarea({label: "Quaternary"}).text-field-quaternary Quaternary
            +textarea({label: "White"}).text-field-white White
            +textarea({label: "Gray"}).text-field-gray Gray
            +textarea({label: "Black"}).text-field-black Black
            +textarea({label: "Yellow"}).text-field-yellow Yellow
            +textarea({label: "Olive"}).text-field-olive Olive
            +textarea({label: "Green"}).text-field-green Green
            +textarea({label: "Blue"}).text-field-blue Blue
            +textarea({label: "Violet"}).text-field-violet Violet
            +textarea({label: "Orange"}).text-field-orange Orange
            +textarea({label: "Purple"}).text-field-purple Purple
            +textarea({label: "Red"}).text-field-red Red
            +textarea({label: "Pink"}).text-field-pink Pink
            +textarea({label: "Teal"}).text-field-teal Teal
            +textarea({label: "Brown"}).text-field-brown Brown
            +textarea({label: "Transparent"}).text-field-transparent Transparent
            +textarea({label: "Inherit"}).text-field-inherit Inherit
            +textarea({label: "Base"}).text-field-base Base

    +divider Colors advanced

    +container-simple
        +multiple
            +textarea({label: "White - Secondary"}).white.text-field-secondary White - Secondary
            +textarea({label: "Primary - Secondary"}).primary.text-field-secondary Primary - Secondary
            +textarea({label: "Red - Yellow"}).red.text-field-yellow Red - Yellow

    +divider Fluid

    +container-simple
        +textarea({label: "Fluid"}).fluid

    +divider Unresizable

    +container-simple
        +textarea({label: "Unresizable"}).unresizable

    +divider No floating

    +container-simple
        +textarea({label: "No floating"}).fluid.no-floating

    +divider No intial bar

    +container-simple
        +textarea({label: "No initial bar"}).fluid.no-initial-bar

    +divider No bar - No floating

    +container-simple
        +textarea({label: "No bar"}).fluid.no-bar.no-floating

    +divider Inside a container

    +container-simple
        +textarea({label: "Inside a container"})

    +container-simple.yellow
        +textarea({label: "Inside a yellow container"})
