//- bootstrap/toolbar.jade

extends ../../layout.jade

append content
    +divider Toolbar

    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    form
                        .toolbar
                            .button.actionable Test
                            .button.actionable.compact
                                .icon.icon-action-settings
                            .button.spinner(data-min="0", data-max="100", data-start="50")
                                input(type="text", value="50", name="spinner_1")
                                .sub.left.actionable.decrease -
                                .label 50
                                .sub.right.actionable.increase +
                            .button.actionable.checkbox
                                input(type="checkbox", name="check_name", value="1")
                                .label.left Test
                                .icon.on.right
                                .icon.off.right
                            .button.actionable.radio
                                input(type="radio", name="radio_name", value="1")
                                .label.left Test
                                .icon.on.right
                                .icon.off.right
                            .button.actionable.select
                                .label.left
                                    | Test:
                                    .placeholder
                                .icon.right
                                select(placeholder="Select a value...", name="select_name1")
                                    option(value="public", selected="selected") Public
                                    option(value="private") Private
                                    optgroup(label="Elo")
                                        option(value="1200") 1200+
                                        option(value="1300") 1300+
                                        option(value="1400") 1400+
                                        option(value="1500") 1500+
                                        option(value="1600") 1600+
                                        option(value="1700") 1700+
                                        option(value="1800") 1800+
                                        option(value="1900") 1900+
                                        option(value="2000") 2000+
                                        option(value="2100") 2100+
                            .button.actionable.dropdown_trigger.dropdown_btn(data-dropdown="dropdown-test")
                                .label.left Test
                                .icon.right

    +divider Toolbar - Fluid

    .grid
        .grid_cols.fluid.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    form
                        .toolbar.fluid
                            .button.actionable Test
                            .button.actionable.compact
                                .icon.icon-action-settings
                            .button.spinner(data-min="0", data-max="100", data-start="50")
                                input(type="text", value="50", name="spinner_1")
                                .sub.left.actionable.decrease -
                                .label 50
                                .sub.right.actionable.increase +
                            .button.actionable.checkbox
                                input(type="checkbox", name="check_name", value="1")
                                .label.left Test
                                .icon.on.right
                                .icon.off.right
                            .button.actionable.radio
                                input(type="radio", name="radio_name", value="1")
                                .label.left Test
                                .icon.on.right
                                .icon.off.right
                            .button.actionable.select
                                .label.left
                                    | Test:
                                    .placeholder
                                .icon.right
                                select(placeholder="Select a value...", name="select_name1")
                                    option(value="public", selected="selected") Public
                                    option(value="private") Private
                                    optgroup(label="Elo")
                                        option(value="1200") 1200+
                                        option(value="1300") 1300+
                                        option(value="1400") 1400+
                                        option(value="1500") 1500+
                                        option(value="1600") 1600+
                                        option(value="1700") 1700+
                                        option(value="1800") 1800+
                                        option(value="1900") 1900+
                                        option(value="2000") 2000+
                                        option(value="2100") 2100+
                            .button.actionable.dropdown_trigger.dropdown_btn(data-dropdown="dropdown-test")
                                .label.left Test
                                .icon.right

    +divider Toolbar - Outlined

    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .toolbar.outlined
                        .button.actionable.compact
                            .icon.icon-editor-format-align-left
                        .button.actionable.compact
                            .icon.icon-editor-format-align-center
                        .button.actionable.compact
                            .icon.icon-editor-format-align-right
                        .button.actionable.compact
                            .icon.icon-editor-format-align-justify

    +divider Toolbars

    .grid
        .grid_cols.limited
            .grid_col
                .container.transparent.no-padding.no-border
                    .multiple
                        .toolbar
                            .button.actionable.compact
                                .icon.icon-editor-format-align-left
                            .button.actionable.compact
                                .icon.icon-editor-format-align-center
                            .button.actionable.compact
                                .icon.icon-editor-format-align-right
                            .button.actionable.compact
                                .icon.icon-editor-format-align-justify

                        .toolbar
                            .button.actionable.compact
                                .icon.icon-editor-format-bold
                            .button.actionable.compact
                                .icon.icon-editor-format-italic
                            .button.actionable.compact
                                .icon.icon-editor-format-strikethrough
                            .button.actionable.compact
                                .icon.icon-editor-format-underline
