//- components/toolbar.jade

extends ../../layout.jade

append main
    +divider Toolbars

    +toolbar.orange
        +button-icon("navigation-menu")
        span.large Schedule
        .spacer
        +button-icon("action-search")
        +button-icon("navigation-more-vert")

    +toolbar.violet
        +button-icon("navigation-menu")
        +breadcrumb.large
            a(href="#", title="Components") Components
            +breadcrumb-divider.small
            a(href="#", title="Toolbars") Toolbars
        .spacer
        +button-icon("navigation-more-vert")

    +toolbar.green
        span.large Toolbar
        .spacer
        +button-icon("action-search")
        +button-icon("social-person")
        +button-icon("navigation-more-vert")

    +toolbar.blue
        +button-icon("navigation-arrow-back")
        span.large Main page
        .spacer
        +button-icon("navigation-more-vert")

    +toolbar.red
        +button-icon("navigation-menu")
        +icon("image-image").xlarge
        span.large Title
        .spacer
        +switch({name:"name", value:"value", colors:{on:"orange",off:"blue"}, icons:{on:"action-favorite", off:"action-favorite-outline"}})
        +button-icon("action-search")

    +divider With subs

    +toolbar.yellow
        +multiple-left
            +button-icon("navigation-menu")
        +multiple-center
            span.large Application
        +multiple-right
            +button-icon("navigation-more-vert")

    +toolbar.brown
        +multiple-left
            +button-icon("navigation-arrow-back")
        +multiple-center
            span.large This is a page
