
// @require ../widget.scss

/* RESIZING */

%remote-widget-placeholder%remote-widget-resizing {

  overflow: hidden;

  /* SHOWING */

  &%remote-widget-showing > * {
    transition: opacity $remote-widget-animation-duration !important;
  }

  /* NOT SHOWING */

  &:not(%remote-widget-showing) > * {
    transition: none !important;
    opacity: 0 !important;
  }

}
