
//- =========================================================================
//- Svelto - Label v0.3.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin label
  .label&attributes(attributes)
    block

mixin label-sub-left
  .sub&attributes(attributes).left
    block
      
mixin label-sub-right
  .sub&attributes(attributes).right
    block

mixin label-icon(icon)
  +label&attributes(attributes)
    +icon(icon)
    block
  
mixin label-ribbon
  +label&attributes(attributes).ribbon
    block
  +label.invisible

mixin label-corner(direction)
  - direction = direction || "top-right";
  .label-corner(class=direction)&attributes(attributes)
    +label.compact
      block
      
mixin label-tag
  .label-tag
    +label&attributes(attributes)
      block
