
//- Flippable

mixin flippable
  .flippable-wrp&attributes(attributes)
    .flippable
      block

mixin flippable-front
  .flippable-front&attributes(attributes)
    block

mixin flippable-back
  .flippable-back&attributes(attributes)
    block
