
//- =========================================================================
//- Svelto - Flippable
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin flippable
  //- TODO: Make the markup lighter, remove the need for that "flippable-sizes"
  .flippable&attributes(attributes)
    .flippable-sides
      block

mixin flippable-front
  .flippable-front&attributes(attributes)
    block

mixin flippable-back
  .flippable-back&attributes(attributes)
    block
