
// @require core/colors/variables.scss
// @require widgets/icon/variables.scss

/* RATER */

$rater-star-active-color: $color-secondary !default;

/* ICONS */

$star-on-icon: icon( 'star-on' ) !default;
$star-off-icon: icon( 'star-off' ) !default;
$star-half-icon: icon( 'star-half' ) !default;
