
// @require ../separated/variables.scss

/* CELLED */

$table-celled-border-width: $table-separated-border-width !default;
$table-celled-border-style: $table-separated-border-style !default;
$table-celled-border-color: $table-separated-border-color !default;
