
// @require core/reset/reset.scss

/* HR */

%hr-base {
  display: flex;
  z-index: $hr-z-index;
  background-color: $hr-bg-color;
  margin-top: 0;
}

%hr {
  @extend %hr-base;
}

hr {
  @extend %hr;
  border: 0;
}
