
<!-- ANIMATIONS -->

<template name="animations">

  {{{sw.divider "Animations"}}}

  <div class="multiple equal">
    <div class="container bordered xslow">X-Slow</div>
    <div class="container bordered slow">Slow</div>
    <div class="container bordered normal">Normal</div>
    <div class="container bordered fast">Fast</div>
    <div class="container bordered xfast">X-Fast</div>
  </div>

  {{> animations_actions}}

</template>

<!-- ACTIONS -->

<template name="animations_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Blurred" "toggle_class ( 'blurred' )" }}}
    {{{sw.checkAction "Disabled" "toggle_class ( 'disabled' )" }}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('.container').toggleClass ( name );
    }
  </script>

</template>
