
<!-- ATTACHED -->

<template name="attached">

  {{{sw.divider "Attached"}}}

  <div class="container outlined">
    <div data-value="25" class="progressbar slim attached-top">
      <div class="progressbar-highlight"></div>
    </div>
    <div class="container compact quaternary attached-right"></div>
    <div data-value="75" class="progressbar slim attached-bottom">
      <div class="progressbar-highlight"></div>
    </div>
    <div class="container compact tertiary attached-left"></div>
    {{{sample.paragraph}}}
  </div>

  {{> attached_actions}}

</template>

<!-- ACTIONS -->

<template name="attached_actions">

  {{{sw.divider "Actions"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Outlined" "toggle_class ( 'outlined' )"}}}
    {{{sw.checkAction "On hover" "toggle_class ( 'on-hover' )"}}}
    {{{sw.checkAction "Disable parent" "disable_parent ()"}}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('[class*="attached-"]').toggleClass ( name );
    }

    function disable_parent () {
      $('.container').not('.container .container').toggleClass ( 'disabled' );
    }
  </script>

</template>
