
<!-- COLORS -->

<template name="colors">

  {{{sw.divider "Colors"}}}

  <div class="multiple">
    <div class="label primary">Primary</div>
    <div class="label secondary">Secondary</div>
    <div class="label tertiary">Tertiary</div>
    <div class="label quaternary">Quaternary</div>
    <div class="label black">Black</div>
    <div class="label blue">Blue</div>
    <div class="label brown">Brown</div>
    <div class="label gray">Gray</div>
    <div class="label green">Green</div>
    <div class="label olive">Olive</div>
    <div class="label orange">Orange</div>
    <div class="label pink">Pink</div>
    <div class="label purple">Purple</div>
    <div class="label red">Red</div>
    <div class="label teal">Teal</div>
    <div class="label violet">Violet</div>
    <div class="label white">White</div>
    <div class="label yellow">Yellow</div>
    <div class="label error">Error</div>
    <div class="label success">Success</div>
    <div class="label warning">Warning</div>
    <div class="label base">Base</div>
    <div class="label inherit">Inherit</div>
    <div class="label transparent">Transparent</div>
  </div>

  {{> colors_actions}}

  {{{sw.divider "Text colors"}}}

  <div class="container outlined">
    <div class="multiple">
      <p class="text-primary">Primary</p>
      <p class="text-secondary">Secondary</p>
      <p class="text-tertiary">Tertiary</p>
      <p class="text-quaternary">Quaternary</p>
      <p class="text-black">Black</p>
      <p class="text-blue">Blue</p>
      <p class="text-brown">Brown</p>
      <p class="text-gray">Gray</p>
      <p class="text-green">Green</p>
      <p class="text-olive">Olive</p>
      <p class="text-orange">Orange</p>
      <p class="text-pink">Pink</p>
      <p class="text-purple">Purple</p>
      <p class="text-red">Red</p>
      <p class="text-teal">Teal</p>
      <p class="text-violet">Violet</p>
      <p class="text-white">White</p>
      <p class="text-yellow">Yellow</p>
      <p class="text-error">Error</p>
      <p class="text-success">Success</p>
      <p class="text-warning">Warning</p>
      <p class="text-base">Base</p>
      <p class="text-inherit">Inherit</p>
      <p class="text-transparent">Transparent</p>
    </div>
  </div>

</template>

<!-- ACTIONS -->

<template name="colors_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Outlined" "toggle_class ( 'outlined')" }}}
    {{{sw.checkAction "Inverted" "toggle_class ( 'inverted')" }}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Base" "state" "set_state ()" true}}}
    {{{sw.radioAction "Hover" "state" "set_state ( 'hover' )"}}}
    {{{sw.radioAction "Active" "state" "set_state ( 'active' )"}}}
  </div>

  <script>
    function toggle_class(css_class) {
      $('.layout-content .label').toggleClass(css_class);
    }

    function set_state ( state ) {
      var states = ['hover', 'active'];
      for ( var i = 0, l = states.length; i < l; i++ ) {
        $('.layout-content .label').removeClass ( states[i] ).addClass ( state );
      }
    }
  </script>

</template>
