
<!-- DISABLED -->

<template name="disabled">

  {{{sw.divider "Disabled"}}}

  <div class="multiple target">
    <div class="label bordered">Label</div>
    <div class="button bordered">Button</div>
    <div class="button bordered">
      <i class="icon">settings</i>
      <span>Button</span>
    </div>
    <div class="label bordered compact">
      <i class="icon">settings</i>
    </div>
    <input value="Input" placeholder="Placeholder..." class="bordered">
    <textarea placeholder="Placeholder..." class="bordered">Textarea</textarea>
    <div class="multiple joined">
      <input value="Input" placeholder="Placeholder..." class="bordered">
      <div class="button bordered compact">
        <i class="icon">settings</i>
      </div>
    </div>
  </div>

  {{> disabled_actions}}

</template>

<!-- ACTIONS -->

<template name="disabled_actions">

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Disabled" "toggle_class ( 'disabled' )"}}}

  <script>
    function toggle_class ( name ) {
      $('.target').children ().toggleClass ( name );
    }
  </script>

</template>
