
<!-- FLOATED -->

<template name="floated">

  {{{sw.divider "Image"}}}

  <div class="container bordered clearfix">
    <p>
      {{{sample.image "small floated"}}}
      {{{sample.text 75}}}
    </p>
    <p>
      {{{sample.image "small floated right"}}}
      {{{sample.text 75}}}
    </p>
  </div>

  {{{sw.divider "Figure"}}}

  <div class="container bordered clearfix">
    <p>
      <figure class="floated">
        {{{sample.image "small"}}}
        <figcaption>Caption...</figcaption>
      </figure>
      {{{sample.text 75}}}
    </p>
    <p>
      <figure class="floated right">
        {{{sample.image "small"}}}
        <figcaption>Caption...</figcaption>
      </figure>
      {{{sample.text 75}}}
    </p>
  </div>

  {{> floated_actions}}

</template>

<!-- ACTIONS -->

<template name="floated_actions">

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}

  <script>
    function toggle_class ( name ) {
      $('img, figure').not ( 'figure img' ).toggleClass ( name );
    }
  </script>

</template>
