
<!-- GRID -->

<template name="grid">

  {{{sw.divider "Base"}}}

  <div class="multiple fluid">
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-1">1</div>
  </div>
  <div class="multiple fluid">
    <div class="container outlined xs-3">3</div>
    <div class="container outlined xs-6">6</div>
    <div class="container outlined xs-3">3</div>
  </div>
  <div class="multiple fluid">
    <div class="container outlined xs-3">3</div>
    <div class="container outlined xs-9">9</div>
  </div>
  <div class="multiple fluid">
    <div class="container outlined xs-1">1</div>
    <div class="container outlined xs-4">4</div>
    <div class="container outlined xs-5">5</div>
    <div class="container outlined xs-2">2</div>
  </div>

  {{{sw.divider "Complex 1"}}}

  <div class="multiple fluid stretched">
    <div class="multiple vertical fluid xs-4">
      <div class="container outlined">4</div>
      <div class="multiple fluid stretched">
        <div class="multiple vertical fluid">
          <div class="container outlined">2</div>
          <div class="container outlined">2</div>
        </div>
        <div class="container outlined">2</div>
      </div>
    </div>
    <div class="multiple vertical joined fluid xs-4">
      <div class="container outlined">4</div>
      <div class="container outlined no-grow">4</div>
    </div>
    <div class="multiple vertical fluid xs-4">
      <div class="multiple fluid">
        <div class="container outlined">2</div>
        <div class="container outlined">2</div>
      </div>
      <div class="container outlined">4</div>
      <div class="multiple fluid">
        <div class="container outlined">2</div>
        <div class="container outlined">2</div>
      </div>
    </div>
  </div>

  {{{sw.divider "Complex 2"}}}

  <div class="multiple fluid stretched">
    <div class="multiple vertical fluid xs-9">
      <div class="container outlined">9</div>
      <div class="multiple fluid stretched">
        <div class="container outlined">3</div>
        <div class="multiple vertical fluid">
          <div class="container outlined">6</div>
          <div class="multiple fluid joined">
            <div class="container outlined">3</div>
            <div class="container outlined">3</div>
          </div>
          <div class="container outlined">6</div>
        </div>
      </div>
      <div class="container outlined">9</div>
    </div>
    <div class="container outlined xs-3">3</div>
  </div>

  {{{sw.divider "Responsive"}}}

  <div class="multiple">
    <div class="container outlined xs-12 sm-4">
      <span class="hidden-sm-up">12</span>
      <span class="hidden-xs-down">4</span>
    </div>
    <div class="container outlined xs-12 sm-8">
      <span class="hidden-sm-up">12</span>
      <span class="hidden-xs-down">8</span>
    </div>
    <div class="container outlined xs-12 sm-5 md-3">
      <span class="hidden-sm-up">12</span>
      <span class="hidden-xs-down hidden-md-up">5</span>
      <span class="hidden-sm-down">3</span>
    </div>
    <div class="container outlined xs-12 sm-7 md-6">
      <span class="hidden-sm-up">12</span>
      <span class="hidden-xs-down hidden-md-up">7</span>
      <span class="hidden-sm-down">6</span>
    </div>
    <div class="container outlined xs-12 sm-7 md-3">
      <span class="hidden-sm-up">12</span>
      <span class="hidden-xs-down hidden-md-up">7</span>
      <span class="hidden-sm-down">3</span>
    </div>
    <div class="container outlined xs-12 sm-5 md-6">
      <span class="hidden-sm-up">12</span>
      <span class="hidden-xs-down hidden-md-up">5</span>
      <span class="hidden-sm-down">6</span>
    </div>
    <div class="container outlined xs-12 sm-8 md-4">
      <span class="hidden-sm-up">12</span>
      <span class="hidden-xs-down hidden-md-up">8</span>
      <span class="hidden-sm-down">4</span>
    </div>
    <div class="container outlined xs-12 sm-4 md-2">
      <span class="hidden-sm-up">12</span>
      <span class="hidden-xs-down hidden-md-up">4</span>
      <span class="hidden-sm-down">2</span>
    </div>
  </div>

  {{{sw.noty body="<span class=\"hidden-sm-up\">X-Small</span><span class=\"hidden-xs-down hidden-md-up\">Small</span><span class=\"hidden-sm-down hidden-lg-up\">Medium</span><span class=\"hidden-md-down hidden-xl-up\">Large</span><span class=\"hidden-lg-down\">X-Large</span>" ttl="forever"}}}

</template>
