
<!-- HIDDEN -->

<template name="hidden">

  {{{sw.divider "Hidden"}}}

  <div class="card bordered expander">
    <div class="card-header bordered actionable expander-toggler large text-center">Breakpoints</div>
    <div class="card-block expander-content">

      {{{sw.divider "Hidden-*-up"}}}

      <div class="multiple equal">
        <div>
          <div class="container bordered hidden-xs-up green">X-Small</div>
          <div class="container bordered">X-Small</div>
        </div>
        <div>
          <div class="container bordered hidden-sm-up green">Small</div>
          <div class="container bordered hidden-xs-down">Small</div>
        </div>
        <div>
          <div class="container bordered hidden-md-up green">Medium</div>
          <div class="container bordered hidden-sm-down">Medium</div>
        </div>
        <div>
          <div class="container bordered hidden-lg-up green">Large</div>
          <div class="container bordered hidden-md-down">Large</div>
        </div>
        <div>
          <div class="container bordered hidden-xl-up green">X-Large</div>
          <div class="container bordered hidden-lg-down">X-Large</div>
        </div>
      </div>

      {{{sw.divider "Hidden-*-down"}}}

      <div class="multiple equal">
        <div>
          <div class="container bordered hidden-xs-down green">X-Small</div>
          <div class="container bordered hidden-sm-up">X-Small</div>
        </div>
        <div>
          <div class="container bordered hidden-sm-down green">Small</div>
          <div class="container bordered hidden-md-up">Small</div>
        </div>
        <div>
          <div class="container bordered hidden-md-down green">Medium</div>
          <div class="container bordered hidden-lg-up">Medium</div>
        </div>
        <div>
          <div class="container bordered hidden-lg-down green">Large</div>
          <div class="container bordered hidden-xl-up">Large</div>
        </div>
        <div>
          <div class="container bordered hidden-xl-down green">X-Large</div>
          <div class="container bordered">X-Large</div>
        </div>
      </div>

      {{{sw.divider "Hidden-*-only"}}}

      <div class="multiple equal">
        <div>
          <div class="container bordered hidden-xs-only green">X-Small</div>
          <div class="container bordered hidden-sm-up">X-Small</div>
        </div>
        <div>
          <div class="container bordered hidden-sm-only green">Small</div>
          <div class="container bordered hidden-xs-down hidden-md-up">Small</div>
        </div>
        <div>
          <div class="container bordered hidden-md-only green">Medium</div>
          <div class="container bordered hidden-sm-down hidden-lg-up">Medium</div>
        </div>
        <div>
          <div class="container bordered hidden-lg-only green">Large</div>
          <div class="container bordered hidden-md-down hidden-xl-up">Large</div>
        </div>
        <div>
          <div class="container bordered hidden-xl-only green">X-Large</div>
          <div class="container bordered hidden-lg-down">X-Large</div>
        </div>
      </div>

    </div>
  </div>

  <div class="card bordered expander">
    <div class="card-header bordered actionable expander-toggler large text-center">Browsers</div>
    <div class="card-block expander-content">

      {{{sw.divider "Hidden-*"}}}

      <div class="multiple fluid">
        <div class="container bordered hidden-chrome">Chrome</div>
        <div class="container bordered hidden-firefox">Firefox</div>
        <div class="container bordered hidden-edge">Edge</div>
        <div class="container bordered hidden-ie">IE</div>
        <div class="container bordered hidden-opera">Opera</div>
        <div class="container bordered hidden-safari">Safari</div>
        <div class="container bordered hidden-uc">UCBrowser</div>
      </div>

      {{{sw.divider "Only-*"}}}

      <div class="multiple fluid">
        <div class="container bordered only-chrome">Chrome</div>
        <div class="container bordered only-firefox">Firefox</div>
        <div class="container bordered only-edge">Edge</div>
        <div class="container bordered only-ie">IE</div>
        <div class="container bordered only-opera">Opera</div>
        <div class="container bordered only-safari">Safari</div>
        <div class="container bordered only-uc">UCBrowser</div>
      </div>

    </div>
  </div>

  <div class="card bordered expander">
    <div class="card-header bordered actionable expander-toggler large text-center">Devices</div>
    <div class="card-block expander-content">

      {{{sw.divider "Hidden-*"}}}

      <div class="multiple fluid">
        <div class="container bordered hidden-desktop">Desktop</div>
        <div class="container bordered hidden-mobile">Mobile</div>
        <div class="container bordered hidden-tablet">Tablet</div>
      </div>

      {{{sw.divider "Only-*"}}}

      <div class="multiple fluid">
        <div class="container bordered only-desktop">Desktop</div>
        <div class="container bordered only-mobile">Mobile</div>
        <div class="container bordered only-tablet">Tablet</div>
      </div>

    </div>
  </div>

  <div class="card bordered expander">
    <div class="card-header bordered actionable expander-toggler large text-center">OSs</div>
    <div class="card-block expander-content">

      {{{sw.divider "Hidden-*"}}}

      <div class="multiple fluid">
        <div class="container bordered hidden-ios">iOS</div>
        <div class="container bordered hidden-android">Android</div>
        <div class="container bordered hidden-blackberry">Blackberry</div>
        <div class="container bordered hidden-linux">Linux</div>
        <div class="container bordered hidden-mac">Mac</div>
        <div class="container bordered hidden-windows">Windows</div>
      </div>

      {{{sw.divider "Only-*"}}}

      <div class="multiple fluid">
        <div class="container bordered only-ios">iOS</div>
        <div class="container bordered only-android">Android</div>
        <div class="container bordered only-blackberry">Blackberry</div>
        <div class="container bordered only-linux">Linux</div>
        <div class="container bordered only-mac">Mac</div>
        <div class="container bordered only-windows">Windows</div>
      </div>

    </div>
  </div>

  {{{sw.toast body="<span class=\"hidden-sm-up\">X-Small</span><span class=\"hidden-xs-down hidden-md-up\">Small</span><span class=\"hidden-sm-down hidden-lg-up\">Medium</span><span class=\"hidden-md-down hidden-xl-up\">Large</span><span class=\"hidden-lg-down\">X-Large</span>" ttl="forever"}}}

</template>
