
<!-- HIDDEN -->

<template name="hidden">

  {{{sw.divider "Hidden-*-up"}}}

  <div class="multiple equal">
    <div>
      <div class="container bordered hidden-xs-up green">X-Small</div>
      <div class="container bordered">X-Small</div>
    </div>
    <div>
      <div class="container bordered hidden-sm-up green">Small</div>
      <div class="container bordered hidden-xs-down">Small</div>
    </div>
    <div>
      <div class="container bordered hidden-md-up green">Medium</div>
      <div class="container bordered hidden-sm-down">Medium</div>
    </div>
    <div>
      <div class="container bordered hidden-lg-up green">Large</div>
      <div class="container bordered hidden-md-down">Large</div>
    </div>
    <div>
      <div class="container bordered hidden-xl-up green">X-Large</div>
      <div class="container bordered hidden-lg-down">X-Large</div>
    </div>
  </div>

  {{{sw.divider "Hidden-*-down"}}}

  <div class="multiple equal">
    <div>
      <div class="container bordered hidden-xs-down green">X-Small</div>
      <div class="container bordered hidden-sm-up">X-Small</div>
    </div>
    <div>
      <div class="container bordered hidden-sm-down green">Small</div>
      <div class="container bordered hidden-md-up">Small</div>
    </div>
    <div>
      <div class="container bordered hidden-md-down green">Medium</div>
      <div class="container bordered hidden-lg-up">Medium</div>
    </div>
    <div>
      <div class="container bordered hidden-lg-down green">Large</div>
      <div class="container bordered hidden-xl-up">Large</div>
    </div>
    <div>
      <div class="container bordered hidden-xl-down green">X-Large</div>
      <div class="container bordered">X-Large</div>
    </div>
  </div>

  {{{sw.toast body="<span class=\"hidden-sm-up\">X-Small</span><span class=\"hidden-xs-down hidden-md-up\">Small</span><span class=\"hidden-sm-down hidden-lg-up\">Medium</span><span class=\"hidden-md-down hidden-xl-up\">Large</span><span class=\"hidden-lg-down\">X-Large</span>" ttl="forever"}}}

</template>
