
<!-- HIGHLIGHTED -->

<template name="highlighted">

  {{{sw.divider "Highlighted"}}}

  <div class="label highlighted">Highlighted</div>

  {{{sw.divider "Colors"}}}

  <div class="multiple">
    <div class="label highlighted primary">Primary</div>
    <div class="label highlighted secondary">Secondary</div>
    <div class="label highlighted tertiary">Tertiary</div>
    <div class="label highlighted quaternary">Quaternary</div>
    <div class="label highlighted black">Black</div>
    <div class="label highlighted blue">Blue</div>
    <div class="label highlighted brown">Brown</div>
    <div class="label highlighted gray">Gray</div>
    <div class="label highlighted green">Green</div>
    <div class="label highlighted olive">Olive</div>
    <div class="label highlighted orange">Orange</div>
    <div class="label highlighted pink">Pink</div>
    <div class="label highlighted purple">Purple</div>
    <div class="label highlighted red">Red</div>
    <div class="label highlighted teal">Teal</div>
    <div class="label highlighted violet">Violet</div>
    <div class="label highlighted white">White</div>
    <div class="label highlighted yellow">Yellow</div>
    <div class="label highlighted error">Error</div>
    <div class="label highlighted success">Success</div>
    <div class="label highlighted warning">Warning</div>
    <div class="label highlighted base">Base</div>
    <div class="label highlighted inherit">Inherit</div>
    <div class="label highlighted transparent">Transparent</div>
  </div>

  {{> highlighted_actions}}

</template>

<!-- ACTIONS -->

<template name="highlighted_actions">

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}

  {{{sw.divider "Direction"}}}

  <div class="multiple joined actions">
    {{{sw.checkAction "Top" "toggle_class ( 'highlight-top' )"}}}
    {{{sw.checkAction "Right" "toggle_class ( 'highlight-right' )"}}}
    {{{sw.checkAction "Bottom" "toggle_class ( 'highlight-bottom' )"}}}
    {{{sw.checkAction "Left" "toggle_class ( 'highlight-left' )"}}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('.highlighted').toggleClass ( name );
    }

    function set_style ( style ) {
      var styles = ['solid', 'dotted', 'dashed'];
      for ( var i = 0, l = styles.length; i < l; i++ ) {
        $('.highlighted').removeClass ( 'highlight-' + styles[i] );
      }
      $('.highlighted').addClass ( 'highlight-' + style );
    }
  </script>

</template>
