
<!-- ORDER -->

<template name="order">

  {{{sw.divider "*-first"}}}

  <div class="multiple equal">
    <div class="container outlined xl-first">1</div>
    <div class="container outlined lg-first">2</div>
    <div class="container outlined md-first">3</div>
    <div class="container outlined sm-first">4</div>
    <div class="container outlined xs-first">5</div>
  </div>

  {{{sw.divider "*-last"}}}

  <div class="multiple equal">
    <div class="container outlined xs-last">1</div>
    <div class="container outlined sm-last">2</div>
    <div class="container outlined md-last">3</div>
    <div class="container outlined lg-last">4</div>
    <div class="container outlined xl-last">5</div>
  </div>

  {{{sw.noty body="<span class=\"hidden-sm-up\">X-Small</span><span class=\"hidden-xs-down hidden-md-up\">Small</span><span class=\"hidden-sm-down hidden-lg-up\">Medium</span><span class=\"hidden-md-down hidden-xl-up\">Large</span><span class=\"hidden-lg-down\">X-Large</span>" ttl="forever"}}}

</template>
