
<!-- OUTLINED -->

<template name="outlined">

  {{{sw.divider "Outlined"}}}

  <div class="container outlined">
    <div class="multiple">
      <div class="label outlined">Label</div>
      <div class="button outlined">Button</div>
      <div class="button outlined">
        <i class="icon">settings</i>
        <span>Button</span>
      </div>
      <div class="label outlined compact">
        <i class="icon">settings</i>
      </div>
      <input value="Input" placeholder="Placeholder..." class="outlined">
      <textarea placeholder="Placeholder..." class="outlined">Textarea</textarea>
      <div class="multiple joined">
        <input value="Input" placeholder="Placeholder..." class="outlined">
        <div class="button outlined compact">
          <i class="icon">settings</i>
        </div>
      </div>
    </div>
  </div>

  {{{sw.divider "Colors"}}}

  <div class="multiple">
    <div class="label outlined outline-primary">Primary</div>
    <div class="label outlined outline-secondary">Secondary</div>
    <div class="label outlined outline-tertiary">Tertiary</div>
    <div class="label outlined outline-quaternary">Quaternary</div>
    <div class="label outlined outline-white">White</div>
    <div class="label outlined outline-gray">Gray</div>
    <div class="label outlined outline-black">Black</div>
    <div class="label outlined outline-yellow">Yellow</div>
    <div class="label outlined outline-olive">Olive</div>
    <div class="label outlined outline-green">Green</div>
    <div class="label outlined outline-blue">Blue</div>
    <div class="label outlined outline-violet">Violet</div>
    <div class="label outlined outline-orange">Orange</div>
    <div class="label outlined outline-purple">Purple</div>
    <div class="label outlined outline-red">Red</div>
    <div class="label outlined outline-pink">Pink</div>
    <div class="label outlined outline-teal">Teal</div>
    <div class="label outlined outline-brown">Brown</div>
    <div class="label outlined outline-error">Error</div>
    <div class="label outlined outline-warning">Warning</div>
    <div class="label outlined outline-success">Success</div>
    <div class="label outlined outline-transparent">Transparent</div>
    <div class="label outlined outline-inherit">Inherit</div>
    <div class="label outlined outline-base">Base</div>
  </div>

  {{> outline_actions}}

</template>

<!-- ACTIONS -->

<template name="outline_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Solid" "style" "set_style ( 'solid' )" true}}}
    {{{sw.radioAction "Dotted" "style" "set_style ( 'dotted' )"}}}
    {{{sw.radioAction "Dashed" "style" "set_style ( 'dashed' )"}}}
  </div>

  <script>
    function set_style ( style ) {
      var styles = ['solid', 'dotted', 'dashed'];
      for ( var i = 0, l = styles.length; i < l; i++ ) {
        $('.outlined').not('.actions .outlined').removeClass ( 'outline-' + styles[i] );
      }
      $('.outlined').not('.actions .outlined').addClass ( 'outline-' + style );
    }
  </script>

</template>
