
<!-- SIZES -->

<template name="sizes">

  {{{sw.divider "Sizes"}}}

  <div class="multiple">
    <div class="multiple joined xxxxsmall">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">XXXX-Small</div>
    </div>
    <div class="multiple joined xxxsmall">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">XXX-Small</div>
    </div>
    <div class="multiple joined xxsmall">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">XX-Small</div>
    </div>
    <div class="multiple joined xsmall">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">X-Small</div>
    </div>
    <div class="multiple joined small">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">Small</div>
    </div>
    <div class="multiple joined medium">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">Medium</div>
    </div>
    <div class="multiple joined large">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">Large</div>
    </div>
    <div class="multiple joined xlarge">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">X-Large</div>
    </div>
    <div class="multiple joined xxlarge">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">XX-Large</div>
    </div>
    <div class="multiple joined xxxlarge">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">XXX-Large</div>
    </div>
    <div class="multiple joined xxxxlarge">
      <div class="label bordered compact">
        <i class="icon">menu</i>
      </div>
      <div class="label bordered">XXXX-Large</div>
    </div>
  </div>

  {{{sw.divider "Icons"}}}

  <div class="container bordered">
    <div class="multiple">
      <i class="icon xxxxsmall">menu</i>
      <i class="icon xxxsmall">menu</i>
      <i class="icon xxsmall">menu</i>
      <i class="icon xsmall">menu</i>
      <i class="icon small">menu</i>
      <i class="icon medium">menu</i>
      <i class="icon large">menu</i>
      <i class="icon xlarge">menu</i>
      <i class="icon xxlarge">menu</i>
      <i class="icon xxxlarge">menu</i>
      <i class="icon xxxxlarge">menu</i>
    </div>
  </div>

</template>
