
<!-- SIZES -->

<template name="sizes">

  {{{sw.divider "Sizes"}}}

  <div class="multiple">
    <div class="multiple joined xxxxsmall">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">XXXX-Small</div>
    </div>
    <div class="multiple joined xxxsmall">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">XXX-Small</div>
    </div>
    <div class="multiple joined xxsmall">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">XX-Small</div>
    </div>
    <div class="multiple joined xsmall">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">X-Small</div>
    </div>
    <div class="multiple joined small">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">Small</div>
    </div>
    <div class="multiple joined medium">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">Medium</div>
    </div>
    <div class="multiple joined large">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">Large</div>
    </div>
    <div class="multiple joined xlarge">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">X-Large</div>
    </div>
    <div class="multiple joined xxlarge">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">XX-Large</div>
    </div>
    <div class="multiple joined xxxlarge">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">XXX-Large</div>
    </div>
    <div class="multiple joined xxxxlarge">
      <div class="label outlined compact">
        <i class="icon">menu</i>
      </div>
      <div class="label outlined">XXXX-Large</div>
    </div>
  </div>

</template>
