
<!-- SPACED -->

<template name="spaced">

  {{{sw.divider "Avatar"}}}

  <div class="container bordered">
    <p>
      {{{sample.avatar "spaced right"}}}
      {{{sample.text 35}}}
      {{{sample.avatar "spaced"}}}
      {{{sample.text 35}}}
      {{{sample.avatar "spaced left"}}}
    </p>
  </div>

  {{{sw.divider "Image"}}}

  <div class="container bordered">
    <p>
      {{{sample.image "xxxxsmall spaced right"}}}
      {{{sample.text 35}}}
      {{{sample.image "xxxxsmall spaced"}}}
      {{{sample.text 35}}}
      {{{sample.image "xxxxsmall spaced left"}}}
    </p>
  </div>

  {{{sw.divider "Figure"}}}

  <div class="container bordered">
    <p>
      <figure class="spaced right">
        {{{sample.image "xxxxsmall"}}}
      </figure>
      {{{sample.text 35}}}
      <figure class="spaced">
        {{{sample.image "xxxxsmall"}}}
      </figure>
      {{{sample.text 35}}}
      <figure class="spaced left">
        {{{sample.image "xxxxsmall"}}}
      </figure>
    </p>
  </div>

  {{> spaced_actions}}

</template>

<!-- ACTIONS -->

<template name="spaced_actions">

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}

  <script>
    function toggle_class ( name ) {
      $('.avatar, img, figure').not ( 'figure img' ).toggleClass ( name );
    }
  </script>

</template>
