
<!-- TARGET -->

<template name="target">

  {{{sw.divider "Target"}}}

  <div class="multiple">
    <div id="target" class="label targetable target">Label</div>
    <div class="button targetable target">Button</div>
    <div class="container targetable target">Container</div>
    <div class="card targetable target">
      <div class="card-header">Card</div>
      <div class="card-block">Content</div>
      <div class="card-footer">Footer</div>
    </div>
  </div>

  {{> target_actions}}

</template>

<!-- ACTIONS -->

<template name="target_actions">

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Target" "toggle_class ( 'target' )" true}}}

  <script>
    function toggle_class ( name ) {
      $('.targetable').toggleClass ( name );
    }
  </script>

</template>
