
/* DISABLED */

//FIXME: Are we sure this is the best/cleanest way to implement it?
// In order to always animate the opacity transition

* {
  transition: opacity $disabled-animation-duration;
}

.disabled,
[disabled] {

  pointer-events: none !important;
  opacity: $disabled-opacity !important;

  &,
  &:before,
  &:after,
  *,
  :before,
  :after {
    cursor: default !important;
    animation-play-state: paused !important;
  }

}
