
// @require widgets/container/variables.scss

/* LABEL */

$label-color: 'white' !default;
$label-color-force: false !default;
$label-color-basic: true !default;

$label-font-weight: 500 !default;

$label-border-radius: $container-border-radius !default;

$label-padding-x: .75em !default;
$label-padding-y: .5em !default;

$label-inner-gutter: $label-padding-x * .70 !default; // Works best without spaces in the middle
