
// @require ./vertical.scss

/* BOTTOM */

%pointing-bottom-base {

  @extend %pointing-vertical;

  /* TIP */

  &:after {
    bottom: - $pointing-tip-size-half;
    clip-path: url(#{$pointing-path-images}pointing-clips.svg#{$revision}#clip-bottom); // The polygon is not supported on Firefox
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
  }

  /* BORDERED */

  &.bordered:after {
    margin-bottom: - $border-width;
  }

}

%pointing-bottom-spaced {

  margin-bottom: calc(#{$gutter} + #{$pointing-tip-diagonal-half});

  %multiple > & {
    margin-bottom: $gutter;
  }

}

%pointing-bottom {
  @extend %pointing-bottom-base;
  @extend %pointing-bottom-spaced;
}

/* CLIP-PATH SUPPORTED */

html.clip-path-polygon,
html.clip-path-url {

  .pointing-bottom {
    @extend %pointing-bottom;
  }

}
