
//- =========================================================================
//- Svelto - Shapes
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- TRIANGLES

mixin triangle
  .triangle&attributes(attributes)
    block

mixin triangle-up
  .triangle&attributes(attributes).up
    block

mixin triangle-down
  .triangle&attributes(attributes).down
    block

mixin triangle-left
  .triangle&attributes(attributes).left
    block
      
mixin triangle-right
  .triangle&attributes(attributes).right
    block

//- SQUARES

mixin square
  .square&attributes(attributes)
    block

mixin square-sample
  .square-sample&attributes(attributes)
    p
      +lorem-ipsum({ type: 'words', amount: 10 })
    block

//- CIRCLE

mixin circle
  .circle&attributes(attributes)
    block
