
//- =========================================================================
//- Svelto - Shapes v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin triangle
  .triangle&attributes(attributes)
    block

mixin triangle-up
  .triangle-up&attributes(attributes)
    block

mixin triangle-down
  .triangle-down&attributes(attributes)
    block

mixin triangle-right
  .triangle-right&attributes(attributes)
    block

mixin triangle-left
  .triangle-left&attributes(attributes)
    block

mixin square
  .square&attributes(attributes)
    block

mixin square-sample
  .square-sample&attributes(attributes)
    p.no-margin
      +lorem-ipsum(10, 'words')
    block

mixin circle
  .circle&attributes(attributes)
    block
