
//- =========================================================================
//- Svelto - Card
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin card
  .card&attributes(attributes)
    block

mixin card-header
  .card-header&attributes(attributes)
      block

mixin card-block
  .card-block&attributes(attributes)
    block

mixin card-footer
  .card-footer&attributes(attributes)
    block
