
/* OSS */

@each $os in $browser-support-oss {

  /* HIDDEN */

  html:not(.no-#{$os}) .hidden-#{$os} {
    display: none !important;
  }

  /* ONLY */

  html:not(.#{$os}) .only-#{$os} {
    display: none !important;
  }

}
