
/* BADGE */

.badge_wrp {

    .badge {

        @include white ( true );
        font-family: $font-family;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: $badge-border-radius;
        line-height: initial;
        display: block;
        transform: scale(0);
        transition: transform 0.15s ease 0s;

        &.squared {
            border-radius: $border-radius-normal;
        }

    }

    &.active .badge {
        transform: scale(1);
    }

    &.inline {

        display: table;
        float: right;
        height: 100%;
        margin-left: $layout-spacing;

        .badge_subwrp {
            display: table-cell;
            vertical-align: middle;
        }

        .badge {
            font-size: $badge-inline-font-size;
            padding: $badge-inline-padding;
        }

    }

    &.floating {

        position: absolute;
        top: $badge-floating-spacing;
        right: $badge-floating-spacing;

        .badge {
            font-size: $badge-floating-font-size;
            padding: $badge-floating-padding;
            border-style: solid;
            border-width: 1px;
            box-shadow: $shadow-depth-5;
        }

    }

}
