
/* CONTAINER */

.container {

    @include white ( true );
    border-width: $container-border-size;
    border-style: solid;
    border-radius: $border-radius-normal;
    padding: $layout-spacing;
    margin-bottom: $layout-spacing;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $shadow-depth-1;
    box-sizing: border-box;
    position: relative;

    &.limited {
        max-width: $layout-max-width;
    }

    & > *:last-child:not(.footer), & > .content > *:last-child {

        margin-bottom: 0 !important;

        &.multiple {
            margin-bottom: -$layout-spacing !important;
        }

    }

    & > .header {

        @include primary ();
        border-width: $container-header-border-width;
        border-style: solid;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: $container-header-height;
        line-height: $container-header-height;
        font-weight: bold;
        margin: #{-($layout-spacing + $container-border-size)} #{-($layout-spacing + $container-border-size)} $layout-spacing;
        text-transform: uppercase;
        position: relative;

        & > .label {
            position: absolute;
            left: 0;
            right: 0;
            pointer-events: none;
            padding-left: $layout-spacing;
            padding-right: $layout-spacing;
            text-align: center;
        }

        & > .sub {

            display: table;
            height: $container-header-height;
            line-height: $container-header-height;

            &.left {
                margin-left: $layout-spacing;
            }

            &.right {
                margin-right: $layout-spacing;
            }

            & > .multiple {
                display: table-cell;
            }

        }

        .button {
            margin-bottom: 0 !important;
        }

    }

    & > .content_wrp {
        overflow: hidden;
    }

    & > .content, & > .content_wrp > .content {
        margin: -$layout-spacing;
        padding: $layout-spacing;
        overflow: hidden;
    }

    & > .footer {
        margin: #{$layout-spacing} #{-($layout-spacing + $container-border-size)} #{-($layout-spacing + $container-border-size)};
        min-height: $container-footer-height;
        line-height: $container-footer-height;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        border-width: 0px;
        border-style: solid;
    }

    .container {
        box-shadow: none;
    }

}
