
/* ELEMENTS */

a {

    color: $color-default-link;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color-default-link-hover;
    }

}

code, section, pre {
    display: block;
    margin: 0;
    padding: $layout-spacing;
    background-color: $general-section-color-bg;
    border-radius: $border-radius-small;
    border: 1px solid $general-section-border-bg;
}

kbd {
    @include white ( true );
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius-normal;
    margin: 0 ( $layout-spacing / 2 );
    padding: 2px 3px;
    box-shadow: $shadow-depth-1;
    font-weight: bold;
    font-size: 14px;
}

.image-wrp {

    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 0;
    overflow: hidden;

    & > img {
        border: 1px solid $color-white-border;
        border-radius: $border-radius-normal;
        max-width: 100%;
        height: auto;
    }

    & > .image-caption {
        @include black ( true, true );
        @include medium ();
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: $layout-spacing;
    }

}
