
/* GRID */

.grid {

    margin: 0 #{-$layout-half-spacing};

    & > .row {

        margin: 0 auto;

        & > .column {

            vertical-align: top;

            & > .container {
                margin-left: $layout-half-spacing;
                margin-right: $layout-half-spacing;
            }

        }

    }

    &.limited > .row {
        max-width: $grid-limited-width;
    }

    &.full-size > .row > .column {

        overflow-y: auto;
        overflow-x: hidden;

        .container {
            height: calc(100vh - #{$navbar-height} - (#{$layout-spacing} * 2));
        }

    }

}

/* WIDTH CLASSES */

// medium

@include min-screen ( $layout-medium-breakpoint ) {

    .m0 {
        width: 0%;
        display: none !important;
    }

    @for $nr from 1 through $grid-columns {

        .m#{$nr} {
            width: ( 100% / $grid-columns ) * $nr !important;
            display: inline-block !important;
        }

        .offset-m#{$nr} {
            margin-left: ( 100% / $grid-columns ) * $nr !important;
        }

    }

}

// large

@include min-screen ( $layout-large-breakpoint ) {

    .l0 {
        width: 0%;
        display: none !important;
    }

    @for $nr from 1 through $grid-columns {

        .l#{$nr} {
            width: ( 100% / $grid-columns ) * $nr !important;
            display: inline-block !important;
        }

        .offset-l#{$nr} {
            margin-left: ( 100% / $grid-columns ) * $nr !important;
        }

    }

}

// small

.s0 {
    width: 0%;
    display: none;
}

@for $nr from 1 through $grid-columns {

    .s#{$nr} {
        width: ( 100% / $grid-columns ) * $nr;
        display: inline-block;
    }

    .offset-s#{$nr} {

        margin-left: ( 100% / $grid-columns ) * $nr;
    }

}

/*
@include max-screen ( $layout-no-columns-padding-breakpoint ) { //FIXME

    html.has_columns {

        body {
            height:calc(100% - #{$navbar-height}) !important;
        }

        #content {
            margin: $navbar-height 0 0 0 !important;
            padding: 0 !important;
            height: 100% !important;
        }

        .columns {

            box-shadow: none !important;

            .column {
                border: none !important;
                border-radius: 0 !important;
            }

        }

    }

}
*/
