
/* IMPORTS */

@import 'colors';

@import '../settings/hamburger';
@import '../settings/navbar';

/* HAMBURGER */

.hamburger {

    height: $navbar-height;
    display: table;

    .layer_wrp {

        cursor: pointer;
        display: table-cell;
        vertical-align: middle;
        border: none;

        .layer {

            @include white ( true );
            display: block;
            width: $hamburger-width;
            height: $hamburger-bar-height;
            position: relative;
            animation-duration: 250ms;
            animation-timing-function: ease-in-out;

            &:before, &:after {
                display: block;
                width: inherit;
                height: $hamburger-bar-height;
                position: absolute;
                background: inherit;
                left: 0;
                margin: $hamburger-bar-height 0;
                content: '';
                animation-duration: 250ms;
                animation-timing-function: ease-in-out;
            }

            &:before {
                bottom: 200%;
            }

            &:after {
                top: 200%;
            }

            &.to_arrow {

                animation-name: hamburger_to_arrow;
                animation-fill-mode: forwards;

                &:before {
                    animation-name: hamburger_to_arrow-before;
                    animation-fill-mode: forwards;
                }

                &:after {
                    animation-name: hamburger_to_arrow-after;
                    animation-fill-mode: forwards;
                }

            }

            &.from_arrow {

                animation-name: hamburger_from_arrow;

                &:before {
                    animation-name: hamburger_from_arrow-before;
                }

                &:after {
                    animation-name: hamburger_from_arrow-after;
                }

            }

        }

    }

}

/* KEYFRAMES */

/* To arrow */

@keyframes hamburger_to_arrow {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes hamburger_to_arrow-before {
    100% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes hamburger_to_arrow-after {
    100% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

/* From arrow */

@keyframes hamburger_from_arrow {
    0% {
        transform: rotate(-180deg);
    }
}

@keyframes hamburger_from_arrow-before {
    0% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes hamburger_from_arrow-after {
    0% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
}
