
/* HEADER */

.header-wrp {

    display: table;
    text-align: left;
    width: 100%;
    margin-bottom: $layout-spacing;

    & > .icon, & > .content {
        display: table-cell;
        vertical-align: middle;
    }

    & > .icon {
        padding-right: $layout-spacing;
    }

    & > .content {

        width: 100%;

        & > .title {
            @include big ();
        }

        & > .title + .subtitle {
            margin-top: $layout-half-spacing;
        }

    }

}
