
/* MEDIA QUERIES */

@include max-screen ( $noty-full-breakpoint ) {

    #noty_queue, .noty_wrp, .noty {
        width: 100% !important;
    }

    .noty {
        border-radius: 0 !important;
        margin: 0 !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
    }

}

/* NOTY QUEUE */

#noty_queue {
    bottom: 0;
    display: inline-block;
    left: 0;
    position: fixed;
    z-index: 100;
    max-width: 100%;
    text-align: left;
    pointer-events: none;
}

/* NOTY */

.noty_wrp {

    .noty {

        margin-left: $layout-spacing;
        margin-right: $layout-spacing;
        margin-bottom: 0;
        border-radius: $border-radius-normal;
        @include multi-shadow ( $shadow-depth-3, $noty-shadow-inset );
        border-width: 1px;
        border-style: solid;
        box-sizing: border-box;
        display: table;
        text-align: center;
        pointer-events: auto;
        opacity: 0;
        font-size: 0;
        padding: 0;
        transition: opacity 0.2s ease 0s, font-size 0.2s ease 0s, padding 0.2s ease 0s, margin-bottom 0.2s ease 0s;

        &:not(.action):not(.forever) {
            cursor: pointer;
        }

        .noty_img, .noty_content {
            display: table-cell;
            vertical-align: middle;
        }

        .noty_img {

            padding-right: $layout-spacing;
            font-size: 0;
            transition: width 0.2 ease 0s;

            img {
                height: auto;
                width: auto;
                transition: max-width 0.2 ease 0s, max-height 0.2 ease 0s;
            }

        }

        .noty_title {
            @include large ();
        }

        .noty_body > *:last-child {

            margin-bottom: 0 !important;

            &.multiple {
                margin-bottom: -$layout-spacing !important;
            }

        }

        .multiple {

            margin-top: $layout-spacing;
            margin-bottom: 0;

            .button {
                margin-top: 0;
                margin-bottom: 0;
                transition: height 0.2s ease 0s, font-size 0.2s ease 0s, padding 0.2s ease 0s;
            }

        }

    }

    &:not(.active) .noty {

        .noty_img {

            width: $noty-img-size;

            img {
                max-height: 0;
                max-width: 0;
            }

        }

        .button {
            height: 0;
            font-size: 0;
            padding: 0;
        }

    }

    &.active .noty {

        opacity: 1;
        font-size: $noty-text-size;
        padding: $layout-spacing;
        margin-bottom: $layout-spacing;

        .noty_img {

            width: $noty-img-size;

            img {
                max-height: $noty-img-size;
                max-width: $noty-img-size;
            }

        }

    }

}
