
/* DEPTHS */

.shadow-depth-1 {
    box-shadow: $shadow-depth-1;
}

.shadow-depth-2 {
    box-shadow: $shadow-depth-2;
}

.shadow-depth-2-left {
    box-shadow: $shadow-depth-2-left;
}

.shadow-depth-3 {
    box-shadow: $shadow-depth-3;
}

.shadow-depth-4 {
    box-shadow: $shadow-depth-4;
}

.shadow-depth-5 {
    box-shadow: $shadow-depth-5;
}

/* INSETS */

.shadow-inset-1 {
    box-shadow: $shadow-inset-1;
}

.shadow-inset-2 {
    box-shadow: $shadow-inset-2;
}

.shadow-inset-3 {
    box-shadow: $shadow-inset-3;
}
