
/* TRIANGLES */

.triangle, .triangle-up {
    @include triangle ();
}

.triangle-down {
    @include triangle ( 1em, $color-gray, "down" );
}

.triangle-right {
    @include triangle ( 1em, $color-gray, "right" );
}

.triangle-left {
    @include triangle ( 1em, $color-gray, "left" );
}

.triangle-up-right {
    @include triangle ( 1em, $color-gray, "up-right" );
}

.triangle-up-left {
    @include triangle ( 1em, $color-gray, "up-left" );
}

.triangle-down-right {
    @include triangle ( 1em, $color-gray, "down-right" );
}

.triangle-down-left {
    @include triangle ( 1em, $color-gray, "down-left" );
}

.triangle-inset-up {
    @include triangle ( 1em, $color-gray, "inset-up" );
}

.triangle-inset-down {
    @include triangle ( 1em, $color-gray, "inset-down" );
}

.triangle-inset-right {
    @include triangle ( 1em, $color-gray, "inset-right" );
}

.triangle-inset-left {
    @include triangle ( 1em, $color-gray, "inset-left" );
}

/* OTHERS */

.square {
    @include square ();
}

.square-sample {

    @include square ( 4rem );
    padding: $layout-half-spacing;
    overflow: hidden;
    margin-bottom: $layout-spacing;

    & > p {
        text-align: inherit;
        font-size: 0.5rem;
    }

}

.circle {
    @include circle ();
}
