
/* IMPORTS */

@import '../tools/mixins';

@import 'icons';
@import 'sizes';

@import '../settings/colors';
@import '../settings/layout';
@import '../settings/tables';

/* TABLE */

table {

    @include medium ();
    width: 100%;

    thead {

        tr {

            th {

                height: $table-header-block-height;

                &[data-sort] {

                    position: relative;
                    padding-right: $table-th-sortable-padding;
                    padding-left: $table-th-sortable-padding;
                    cursor: pointer;

                    &:before, &:after {
                        font-size: $table-sortable-icon-font-size;
                        line-height: $table-sortable-icon-font-size;
                        position: absolute;
                        right: 0.5em;
                        text-align: center;
                        opacity: 0;
                    }

                    &:before {
                        @extend .icon-navigation-expand-less:before;
                        top: 1.1em;
                    }

                    &:after {
                        @extend .icon-navigation-expand-more:before;
                        bottom: 1.1em;
                    }

                    &:hover:before, &:hover:after, &.desc:after, &.asc:before {
                        opacity: 0.35;
                    }

                    &.desc:before, &.asc:after {
                        opacity: 1;
                    }

                }

            }

        }

    }

    tbody {

        tr {

             &:first-child.empty ~ tr {

                &:nth-child(even) {

                    background-color: $table-row-even-color;

                    &:hover {
                        background-color: $table-row-even-color-hover;
                    }

                }

                &:nth-child(odd) {

                    background-color: $table-row-odd-color;

                    &:hover {
                        background-color: $table-row-odd-color-hover;
                    }

                }

            }

            &:first-child:not(.empty) {

                background-color: $table-row-even-color;

                &:hover {
                    background-color: $table-row-even-color-hover;
                }

                & ~ tr {

                    &:nth-child(odd) {

                        background-color: $table-row-even-color;

                        &:hover {
                            background-color: $table-row-even-color-hover;
                        }

                    }

                    &:nth-child(even) {

                        background-color: $table-row-odd-color;

                        &:hover {
                            background-color: $table-row-odd-color-hover;
                        }

                    }

                }

            }

            &.selected {
                background-color: lighten($color-primary-bg, 50) !important;
            }

            td {

                padding: $table-row-padding;

                & > *, .button {
                    margin-bottom: 0 !important;
                }

            }

            &.empty td {
                height: $table-empty-block-height;
            }

        }

    }

    &.selectable tbody tr:not(.empty) {
        cursor: pointer;
    }

}
