
// @require core/widget/widget.scss

/* TEXT */

.divider.text {
  @extend %widget;
  @include size ( $divider-text-size, $divider-text-size-force, $divider-text-size-basic );
  font-weight: $divider-text-font-weight;
  margin: 0 $gutter-half $gutter-half;
  opacity: $divider-text-opacity;
}
