
/* TEXT */

$divider-text-size: 'medium' !default;
$divider-text-size-force: false !default;
$divider-text-size-basic: true !default;

$divider-text-font-weight: bold !default;

$divider-text-opacity: .75 !default;
