
// @require ../popover.scss

/* MOVING */

.popover.moving {

  transition: transform $popover-animation-duration;

  /* TIP */

  &:after {
    transition: none; // Safari fix
    transition-property: left, top; //TODO: Animate `transform` instead (this might be tricky, since `transform` is used by `pointing` for centering the pointer)
    transition-duration: $popover-animation-duration;
  }

}
