
// @require ../popover.scss

/* MOVING */

.popover.moving {

  transition: transform $popover-animation-duration;

  /* TIP */

  &:after {
    transition: none; // Safari fix
    transition-property: left, top; //TODO: Animate `transform` instead
    transition-duration: $popover-animation-duration;
  }

}
