
/* BADGE */

.badge {

  @include color ( $badge-color, $badge-color-force, $badge-color-basic );
  @include size ( $badge-size, $badge-size-force, $badge-size-basic );
  @include z-depth ( $badge-z-depth, $badge-z-depth-force, $badge-z-depth-basic );
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  z-index: $badge-z-index !important;
  font-weight: $badge-font-weight;
  border-radius: $badge-border-radius;
  padding: $badge-padding-y $badge-padding-x;
  min-width: $badge-min-width;
  min-height: $badge-min-height;
  margin: 0 !important;
  transition: transform $animation-fast;

  /* BORDERED */

  &.bordered {
    min-width: calc(#{$badge-min-width} + #{$border-width * 2});
    min-height: calc(#{$badge-min-height} + #{$border-width * 2});
  }

  /* DISABLED */

  &.disabled {
    transform: scale(0);
  }

}
