
// @require core/animations/variables.scss
// @require decorators/border_radius/variables.scss

/* BADGE */

$badge-color: 'secondary' !default;
$badge-color-force: false !default;
$badge-color-basic: false !default;

$badge-size: 'xxsmall' !default;
$badge-size-force: false !default;
$badge-size-basic: true !default;

$badge-z-depth: 2 !default;
$badge-z-depth-force: false !default;
$badge-z-depth-basic: true !default;

$badge-z-index: 600 !default;

$badge-font-weight: 600 !default;

$badge-border-radius: $circular-border-radius !default;

$badge-padding-x: .5em !default;
$badge-padding-y: $badge-padding-x !default;

$badge-min-width: 1em + ( $badge-padding-x * 2 ) !default;
$badge-min-height: 1em + ( $badge-padding-y * 2 ) !default;

$badge-offset: - ( $badge-min-width * .35 ) !default;

/* ANIMATION */

$badge-animation-duration: $animation-fast !default;
