
// @require core/multiple/multiple.scss
// @require widgets/container/container.scss

/* TAGBOX */

.tagbox {

  @extend %container;
  @include color ( $tagbox-color, $tagbox-color-force, $tagbox-color-basic );

  /* TAGS */

  &-tags {

    @extend %multiple;
    @include last-child-no-gutter ( 0, - $gutter );
    @include margin-x ( - $gutter-half );
    display: flex;
    flex-wrap: wrap;

    /* CHILDREN */

    > .tagbox-tag,
    > .tagbox-partial {
      @include margin-x ( $gutter-half );
      white-space: nowrap;
      z-index: 0; // Needed by `i.icon.actionable`
    }

  }

  /* PARTIAL */

  input.tagbox-partial {
    @include color ( 'inherit', true, true );
    margin-bottom: $gutter;
    min-width: $tagbox-partial-min-width;
  }

}
