
// @require widgets/container/variables.scss

/* TAGBOX */

$tagbox-color: $container-color !default;
$tagbox-color-force: false !default;
$tagbox-color-basic: true !default;

/* PARTIAL */

$tagbox-partial-min-width: 6.5em !default;
