
//- =========================================================================
//- Svelto - Divider v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin divider
  +divider-block&attributes(attributes)
    block

mixin divider-block
  .divider-wrp.block
    .divider&attributes(attributes)
      block

mixin divider-linear
  if block
    .divider-wrp.linear
      hr.left
      .divider&attributes(attributes)
        block
      hr.right
  else
    hr&attributes(attributes)

mixin divider-text
  .divider-wrp.text
    .divider&attributes(attributes)
      block

mixin divider-spacer
  .divider-wrp.spacer
    .divider&attributes(attributes)
      block
