
//- =========================================================================
//- Svelto - Divider
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin divider
  .divider&attributes(attributes)
    block

mixin divider-block
  .divider.block
    .divider-content&attributes(attributes)
      block

mixin divider-text
  .divider&attributes(attributes).text
    block

mixin divider-spacer
  .divider&attributes(attributes).spacer
    block
