
// @require core/widget/widget.scss

/* BLOCK */

.divider.block {

  @extend %widget;
  text-align: center;

  /* CONTENT */

  > .divider-content {
    @include color ( $divider-block-color, $divider-block-color-force, $divider-block-color-basic );
    display: inline-block;
    padding: $divider-block-y-padding $divider-block-x-padding;
    border-radius: $divider-block-border-radius;
  }

}
