
/* HIDDEN-*UP/DOWN/ONLY */

@each $breakpoint, $value in $breakpoints {

  $class: breakpoint-get-class( $breakpoint );

  /* UP */

  @include media-breakpoint-up ( $breakpoint ) {

    .hidden-#{$class}-up {
      display: none !important;
    }

  }

  /* DOWN */

  @include media-breakpoint-down ( $breakpoint ) {

    .hidden-#{$class}-down {
      display: none !important;
    }

  }

  /* ONLY */

  @include media-breakpoint-only ( $breakpoint ) {

    .hidden-#{$class}-only {
      display: none !important;
    }

  }

}
