
// @optional core/multiple/multiple.scss
// @require core/widget/widget.scss

/* TOOLBAR */

.toolbar {

  @extend %widget;
  padding: $toolbar-padding-y $toolbar-padding-x;
  z-index: 0; // In order to better support actionable icons etc.

  /* MULTIPLE */

  > %multiple:only-child {
    flex-wrap: nowrap;
  }

}
