//- bootstrap/autogrow.jade

extends ../../layout.jade

append main
    +divider Input

    +input({value: "Value", label: "Placeholder..."}).autogrow

    +divider Textarea

    +textarea({label: "Placeholder..."}).autogrow Value
