//- bootstrap/autogrow.jade

extends ../../layout.jade

append main
    +divider Input

    +input({value: "Value"}).autogrow.white.outlined

    +divider Textarea

    +textarea.autogrow.white.outlined Value
