//- tools/blurred.jade

extends ../../layout.jade

append content
    +divider Paragraph

    +container
        p
            +lorem-ipsum

    +divider Action

    +button.outlined(onclick="blur_test()") Toggle blur

append body-end
    +script.
        function blur_test () {
            $("p").parent ().blurred ();
        }
