//- tools/btEach.jade

extends ../../layout.jade

append body
    +divider Squares

    +container
        +multiple.squares
            +square.enormous.centered
                span.small 1
            +square.enormous.centered
                span.small 2
            +square.enormous.centered
                span.small 3
            +square.enormous.centered
                span.small 4
            +square.enormous.centered
                span.small 5
            +square.enormous.centered
                span.small 6
            +square.enormous.centered
                span.small 7
            +square.enormous.centered
                span.small 8
            +square.enormous.centered
                span.small 9
            +square.enormous.centered
                span.small 10
            +square.enormous.centered
                span.small 11
            +square.enormous.centered
                span.small 12
            +square.enormous.centered
                span.small 13
            +square.enormous.centered
                span.small 14
            +square.enormous.centered
                span.small 15
            +square.enormous.centered
                span.small 16
            +square.enormous.centered
                span.small 17
            +square.enormous.centered
                span.small 18
            +square.enormous.centered
                span.small 19
            +square.enormous.centered
                span.small 20
            +square.enormous.centered
                span.small 21
            +square.enormous.centered
                span.small 22
            +square.enormous.centered
                span.small 23
            +square.enormous.centered
                span.small 24
            +square.enormous.centered
                span.small 25
            +square.enormous.centered
                span.small 26
            +square.enormous.centered
                span.small 27
            +square.enormous.centered
                span.small 28
            +square.enormous.centered
                span.small 29
            +square.enormous.centered
                span.small 30
            +square.enormous.centered
                span.small 31
            +square.enormous.centered
                span.small 32
            +square.enormous.centered
                span.small 33
            +square.enormous.centered
                span.small 34
            +square.enormous.centered
                span.small 35
            +square.enormous.centered
                span.small 36
            +square.enormous.centered
                span.small 37
            +square.enormous.centered
                span.small 38
            +square.enormous.centered
                span.small 39
            +square.enormous.centered
                span.small 40
            +square.enormous.centered
                span.small 41
            +square.enormous.centered
                span.small 42
            +square.enormous.centered
                span.small 43
            +square.enormous.centered
                span.small 44
            +square.enormous.centered
                span.small 45
            +square.enormous.centered
                span.small 46
            +square.enormous.centered
                span.small 47
            +square.enormous.centered
                span.small 48
            +square.enormous.centered
                span.small 49
            +square.enormous.centered
                span.small 50
            +square.enormous.centered
                span.small 51
            +square.enormous.centered
                span.small 52
            +square.enormous.centered
                span.small 53
            +square.enormous.centered
                span.small 54
            +square.enormous.centered
                span.small 55
            +square.enormous.centered
                span.small 56
            +square.enormous.centered
                span.small 57
            +square.enormous.centered
                span.small 58
            +square.enormous.centered
                span.small 59
            +square.enormous.centered
                span.small 60
            +square.enormous.centered
                span.small 61
            +square.enormous.centered
                span.small 62
            +square.enormous.centered
                span.small 63
            +square.enormous.centered
                span.small 64

    +divider Actions

    +multiple
        +multiple.joined
            input(id="input", type="number", name="input", placeholder="Search number...")
            #search.button.actionable.primary(onclick="javascript:search()") Search
        +multiple.joined
            input(id="populate_input", type="number", name="input2", placeholder="Squares number...")
            #populate.button.actionable.secondary(onclick="javascript:populate()") Populate
        #clear.button.actionable.black(onclick="javascript:reset()") Clear

append body-end
    +noty({ body: '<p>[Green] Found <br/> [Red] Smaller <br/> [Blue] Bigger</p>', ttl: 'forever' })
    +script.
        var $squares,
            $input,
            search_nr,
            iterations = 0;

        function populate () {
            var html = '';

            for ( var i = 0, l = $('#populate_input').val (); i < l; i++ ) {
                html += '<div class="square enormous centered" style=""><span class="small">' + (i + 1) + '</span></div>';
            }

            $('.squares').empty ().append ( html );

            $squares = $document.find ( '.square' );
        }

        function search () {
            reset ();
            search_nr = Number($input.val ());
            $squares.btEach ( comparer );
        }

        function comparer () {
            var $node = $(this),
                found_nr = Number($node.find('span').html ());

            iterations += 1;

            if ( found_nr < search_nr ) {
                $node.attr ( 'style', 'background-color:rgba(255, 0, 0, ' + ( 0.8 - ( 0.15 * iterations ) ) + ');' );
                return 1;
            } else if ( found_nr > search_nr ) {
                $node.attr ( 'style', 'background-color:rgba(0, 0, 255, ' + ( 0.8 - ( 0.15 * iterations ) ) + ');' );
                return -1;
            } else {
                $node.attr ( 'style', 'background-color:#00ff00;' );
                return 0;
            }
        }

        function reset () {
            iterations = 0;
            $squares.attr ( 'style', '' );
        }

        $(function () {
            $squares = $document.find ( '.square' );
            $input = $('#input');
        });
