//- tools/btEach.jade

extends ../../layout.jade

append main
    +divider Squares

    +container-simple.squares
        +multiple
            - var squares_nr = 64;
            - var nr = 1;
            while nr <= squares_nr
                +square.xxxxxlarge.centered
                    span.small= nr++

    +divider Actions

    +multiple
        +multiple.joined
            +input({name: "input_search", label: "Search number..."}).no-floating.white.text-field-primary
            +button-simple(id="search", onclick="javascript:search()").primary Search
        +multiple.joined
            +input({name: "input_populate", label: "Square number..."}).no-floating.white.text-field-secondary
            +button-simple(id="populate", onclick="javascript:populate()").secondary Populate
        +button-simple(id="clear", onclick="javascript:reset()").black Clear

append body-end
    +noty({ body: '<p>[Green] Found <br/> [Red] Smaller <br/> [Blue] Bigger</p>', ttl: 'forever' })
    +script.
        var $squares,
            $input,
            search_nr,
            iterations = 0;

        function populate () {
            var html = '';

            for ( var i = 0, l = $('input[name="input_populate"]').val (); i < l; i++ ) {
                html += '<div class="square xxxxxlarge centered" style=""><span class="small">' + (i + 1) + '</span></div>';
            }

            $('.squares .multiple').empty ().append ( html );

            $squares = $document.find ( '.square' );
        }

        function search () {
            reset ();
            search_nr = Number($input.val ());
            $squares.btEach ( comparer );
        }

        function comparer () {
            var $node = $(this),
                found_nr = Number($node.find('span').html ());

            iterations += 1;

            if ( found_nr < search_nr ) {
                $node.attr ( 'style', 'background-color:rgba(255, 0, 0, ' + ( 0.8 - ( 0.15 * iterations ) ) + ');' );
                return 1;
            } else if ( found_nr > search_nr ) {
                $node.attr ( 'style', 'background-color:rgba(0, 0, 255, ' + ( 0.8 - ( 0.15 * iterations ) ) + ');' );
                return -1;
            } else {
                $node.attr ( 'style', 'background-color:#00ff00;' );
                return 0;
            }
        }

        function reset () {
            iterations = 0;
            $squares.attr ( 'style', '' );
        }

        $(function () {
            $squares = $document.find ( '.square' );
            $input = $('input[name="input_search"]');
        });
