//- tools/formAjax.jade

extends ../../layout.jade

append main
    - var elo_options = { public: "Public", private: "Private", Elo: { 1200: "1200+", 1300: "1300+", 1400: "1400+", 1500: "1500+", 1600: "1600+", 1700: "1700+", 1800: "1800+", 1900: "1900+", 2000: "2000+", 2100: "2100+", } };

    +divider Forms

    +form.centered.ajax
        +container("This is a form").xs-12.sm-10.md-8.lg-6.xl-4
            +container-content
                +image("/assets/images/presto/sample.png").centered
                +input({label: "Input...", name: "input_1"}).fluid.sharp
                +textarea({label: "Textarea...", name: "textarea_1"}).fluid.sharp.autogrow
                label Checkboxes:
                +multiple.fluid
                    +checkbox("checkbox_name_1", "Checkbox 1", "1", true).outlined
                    +checkbox("checkbox_name_2", "Checkbox 2", "2").outlined
                label Radios:
                +multiple.fluid
                    +radio("radio_name_1", "Radio 1", "1").outlined
                    +radio("radio_name_1", "Radio 2", "2", true).outlined
            +container-footer
                +multiple
                    +form-button.gray Normal
                    +form-button.primary Primary
                    +form-button.secondary Secondary
