//- tools/loading.jade

extends ../../layout.jade

append main
    +divider Paragraph

    +container-simple
        +paragraph-sample

    +divider Action

    +button-simple("loading_test()").outlined Toggle loading

append body-end
    +script.
        function loading_test () {
            $('.container' ).loading ();
        }
