//- tools/notification.jade

extends ../../layout.jade

append content
    +divider Notifications

    .multiple
        .button.actionable.outlined(onclick="notification_test()") Single
        .button.actionable.outlined(onclick="notification_test(true)") Both

append body
    +script.
        function notification_test ( both ) {
            $.notification ( { title: "Test title", body: "Example test description", img: "/images/sample.png" }, both );
        }
