//- tools/oneTimeAction.jade

extends ../../layout.jade

append body
    +divider One time action

    +multiple
        .button.actionable.outlined(onclick="test_one_time_action_cookie1()") Cookie 'test1'
        .button.actionable.outlined(onclick="test_one_time_action_cookie2()") Cookie 'test2'
        .button.actionable.outlined(onclick="test_one_time_action_cookie3()") Cookie 'test3' adv

    +divider Action

    +multiple
        .button.actionable.outlined(onclick="test_one_time_action_reset_cookie1()") Reset 'test1'
        .button.actionable.outlined(onclick="test_one_time_action_reset_actions()") Reset all
        .button.actionable.outlined(onclick="test_one_time_action_get_string()") Get cookie string

append body-end
    +script.
        function test_one_time_action_cookie1 () {
            $.oneTimeAction ( 'test1', function () {
                $.noty ( "One time action (test1) executed and setted." );
            });
        }
        function test_one_time_action_cookie2 () {
            $.oneTimeAction ( 'test2', function () {
                $.noty ( "One time action (test2) executed and setted." );
            });
        }
        function test_one_time_action_cookie3 () {
            if ( !$.oneTimeAction ( 'test3' ).get () ) {
                $.noty ({
                    body: "One time action (test3) executed.",
                    buttons: [{
                        text: 'Set it!',
                        onClick: function () {
                            $.oneTimeAction ( 'test3' ).set ();
                            $.noty ( "One time action (test3) setted." );
                        }
                    }, {
                        text: 'Close it!'
                    }]
                });
            }
        }
        function test_one_time_action_reset_cookie1 () {
            $.oneTimeAction ( 'test1' ).reset ();
            $.noty ( '(test1) action have been resetted' );
        }
        function test_one_time_action_reset_actions () {
            $.oneTimeAction ().reset ();
            $.noty ( 'oneTimeAction-related cookies have been resetted' );
        }
        function test_one_time_action_get_string () {
            $.noty ( $.cookie.read ( 'ota' ) );
        }
