//- tools/sortable.jade

extends ../../layout.jade

append body
    +divider Default

    +container
        table.sortable
            thead
                tr
                    th(data-sort="int") Int
                    th(data-sort="string") String
                    th(data-sort="string") Date
                    th Options
            tfoot

            tbody
                +table-tr-empty
                - var nr = 1;
                while ( nr <= 10 )
                    tr
                        td= nr++
                        td Foo
                        td 16/11/1993
                        td
                            +multiple
                                +button.outlined.tiny("#") Btn 1
                                +button.outlined.tiny("#") Btn 2
                    tr
                        td= nr++
                        td Bar
                        td 16 Nov 1993
                        td
                            +multiple
                                +button.outlined.tiny("#") Btn 1
                                +button.outlined.tiny("#") Btn 2

    +divider Initial sort

    +container
        table.sortable
            thead
                tr
                    th.desc(data-sort="int") Int
                    th(data-sort="string") String
                    th(data-sort="string") Date
                    th Options
            tfoot

            tbody
                +table-tr-empty
                - var nr = 1;
                while ( nr <= 10 )
                    tr
                        td= nr++
                        td Foo
                        td 16/11/1993
                        td
                            +multiple
                                +button.outlined.tiny("#") Btn 1
                                +button.outlined.tiny("#") Btn 2
                    tr
                        td= nr++
                        td Bar
                        td 16 Nov 1993
                        td
                            +multiple
                                +button.outlined.tiny("#") Btn 1
                                +button.outlined.tiny("#") Btn 2
