//- tools/timeago.jade

extends ../../layout.jade

append body
    +divider Timeago

    +container(data-timestamp="#{Math.round ( new Date ().getTime () / 1000 )}")
    +container(data-timestamp="#{Math.round ( new Date ().getTime () / 1000 - 90 )}")
    +container(data-timestamp="#{Math.round ( new Date ().getTime () / 1000 - 120 )}")
    +container(data-timestamp="#{Math.round ( new Date ().getTime () / 1000 - 3600 )}")
