//- tools/touching.jade

extends ../../layout.jade

append main
    +divider Squares - All matches

    +container-simple.squares_all
        +multiple
            - var squares_nr = 32;
            - var nr = 1;
            while nr <= squares_nr
                +square.xxxxxlarge.centered
                    span.small= nr++

    +divider Actions

    +multiple.joined
        +input({name: "input_populate_all", label: "Search number..."}).no-floating.white.text-field-secondary
        +button-simple(onclick="javascript:populate_all()").secondary Populate

    +divider Squares - Most significant match

    +container-simple.squares_most
        +multiple
            - var squares_nr = 32;
            - var nr = 1;
            while nr <= squares_nr
                +square.xxxxxlarge.centered
                    span.small= nr++

    +divider Actions

    +multiple.joined
        +input({name: "input_populate_most", label: "Square number..."}).no-floating.white.text-field-secondary
        +button-simple(onclick="javascript:populate_most()").secondary Populate

    +divider Squares - Punctual

    +container-simple.squares_punctual
        +multiple
            - var squares_nr = 32;
            - var nr = 1;
            while nr <= squares_nr
                +square.xxxxxlarge.centered
                    span.small= nr++

    +divider Actions

    +multiple.joined
        +input({name: "input_populate_punctual", label: "Square number..."}).no-floating.white.text-field-secondary
        +button-simple(onclick="javascript:populate_punctual()").secondary Populate

append body-end
    +noty({ body: 'Drag the squares, the green ones are the returned ones', ttl: 'forever' })
    +script.
        function get_squares_html ( nr ) {

            var html = '';

            for ( var i = 0; i < Number(nr); i++ ) {
                html += '<div class="square xxxxxlarge centered" style=""><span class="small">' + (i + 1) + '</span></div>';
            }

            return html;

        }

        function populate_all () {

            $('.squares_all .multiple').empty ().append ( get_squares_html ( $('input[name="input_populate_all"]').val () ) );

        }

        function populate_most () {

            $('.squares_most .multiple').empty ().append ( get_squares_html ( $('input[name="input_populate_most"]').val () ) );

        }

        function populate_punctual () {

            $('.squares_punctual .multiple').empty ().append ( get_squares_html ( $('input[name="input_populate_punctual"]').val () ) );

        }

        // General drag

        var drag_options,
            $squares,
            $target;

        function drag_start ( options, event, target ) {

            drag_options = options;

            $target = $(target);

            $squares = $target.parent ().find ( '.square' );

        }

        function drag_move ( event, target, XYs ) {

            $target.css ( 'z-index', 1000 );
            $target.css ( 'transform', 'translate3d(' + ( XYs.move.X - XYs.start.X ) + 'px,' + ( XYs.move.Y - XYs.start.Y ) + 'px,0)' );

            if ( drag_options === 'punctual' ) {

                $squares.removeClass ( 'green' ).touching ( { point: XYs.move, $not: $target } ).addClass ( 'green' );

            } else {

                $squares.removeClass ( 'green' ).touching ( _.extend ( { $comparer: $target, $not: $target }, drag_options ) ).addClass ( 'green' );

            }

        }

        function drag_end () {

            $target.css ( 'transform', 'translate3d(0,0,0)' );
            $target.css ( 'z-index', 1 );

            $squares.removeClass ( 'green' );

        }

        // Specific drag

        function drag_start_all ( event, target ) {

            drag_start ( { select: 'all' }, event, target );

        }

        function drag_start_most ( event, target ) {

            drag_start ( { select: 'most' }, event, target );

        }

        function drag_start_punctual ( event, target ) {

            drag_start ( 'punctual', event, target );

        }

        // Ready

        $(function () {
            $('.squares_all').draggable ({
                start: drag_start_all,
                move: drag_move,
                end: drag_end,
                delegate: '.square'
            });
            $('.squares_most').draggable ({
                start: drag_start_most,
                move: drag_move,
                end: drag_end,
                delegate: '.square'
            });
            $('.squares_punctual').draggable ({
                start: drag_start_punctual,
                move: drag_move,
                end: drag_end,
                delegate: '.square'
            });
        });
