//- tools/touching.jade

extends ../../layout.jade

append main
    +divider Squares - All matches

    +simple-container
        +multiple.squares_all
            +square.enormous.centered
                span.small 1
            +square.enormous.centered
                span.small 2
            +square.enormous.centered
                span.small 3
            +square.enormous.centered
                span.small 4
            +square.enormous.centered
                span.small 5
            +square.enormous.centered
                span.small 6
            +square.enormous.centered
                span.small 7
            +square.enormous.centered
                span.small 8
            +square.enormous.centered
                span.small 9
            +square.enormous.centered
                span.small 10
            +square.enormous.centered
                span.small 11
            +square.enormous.centered
                span.small 12
            +square.enormous.centered
                span.small 13
            +square.enormous.centered
                span.small 14
            +square.enormous.centered
                span.small 15
            +square.enormous.centered
                span.small 16
            +square.enormous.centered
                span.small 17
            +square.enormous.centered
                span.small 18
            +square.enormous.centered
                span.small 19
            +square.enormous.centered
                span.small 20
            +square.enormous.centered
                span.small 21
            +square.enormous.centered
                span.small 22
            +square.enormous.centered
                span.small 23
            +square.enormous.centered
                span.small 24
            +square.enormous.centered
                span.small 25
            +square.enormous.centered
                span.small 26
            +square.enormous.centered
                span.small 27
            +square.enormous.centered
                span.small 28
            +square.enormous.centered
                span.small 29
            +square.enormous.centered
                span.small 30
            +square.enormous.centered
                span.small 31
            +square.enormous.centered
                span.small 32

    +divider Actions

    +multiple.joined
        input(id="populate_all_input", type="number", name="input1", placeholder="Squares number...")
        +button.secondary(onclick="javascript:populate_all()") Populate

    +divider Squares - Most significant match

    +simple-container
        +multiple.squares_most
            +square.enormous.centered
                span.small 1
            +square.enormous.centered
                span.small 2
            +square.enormous.centered
                span.small 3
            +square.enormous.centered
                span.small 4
            +square.enormous.centered
                span.small 5
            +square.enormous.centered
                span.small 6
            +square.enormous.centered
                span.small 7
            +square.enormous.centered
                span.small 8
            +square.enormous.centered
                span.small 9
            +square.enormous.centered
                span.small 10
            +square.enormous.centered
                span.small 11
            +square.enormous.centered
                span.small 12
            +square.enormous.centered
                span.small 13
            +square.enormous.centered
                span.small 14
            +square.enormous.centered
                span.small 15
            +square.enormous.centered
                span.small 16
            +square.enormous.centered
                span.small 17
            +square.enormous.centered
                span.small 18
            +square.enormous.centered
                span.small 19
            +square.enormous.centered
                span.small 20
            +square.enormous.centered
                span.small 21
            +square.enormous.centered
                span.small 22
            +square.enormous.centered
                span.small 23
            +square.enormous.centered
                span.small 24
            +square.enormous.centered
                span.small 25
            +square.enormous.centered
                span.small 26
            +square.enormous.centered
                span.small 27
            +square.enormous.centered
                span.small 28
            +square.enormous.centered
                span.small 29
            +square.enormous.centered
                span.small 30
            +square.enormous.centered
                span.small 31
            +square.enormous.centered
                span.small 32

    +divider Actions

    +multiple.joined
        input(id="populate_most_input", type="number", name="input2", placeholder="Squares number...")
        +button.secondary(onclick="javascript:populate_most()") Populate

    +divider Squares - Punctual

    +simple-container
        +multiple.squares_punctual
            +square.enormous.centered
                span.small 1
            +square.enormous.centered
                span.small 2
            +square.enormous.centered
                span.small 3
            +square.enormous.centered
                span.small 4
            +square.enormous.centered
                span.small 5
            +square.enormous.centered
                span.small 6
            +square.enormous.centered
                span.small 7
            +square.enormous.centered
                span.small 8
            +square.enormous.centered
                span.small 9
            +square.enormous.centered
                span.small 10
            +square.enormous.centered
                span.small 11
            +square.enormous.centered
                span.small 12
            +square.enormous.centered
                span.small 13
            +square.enormous.centered
                span.small 14
            +square.enormous.centered
                span.small 15
            +square.enormous.centered
                span.small 16
            +square.enormous.centered
                span.small 17
            +square.enormous.centered
                span.small 18
            +square.enormous.centered
                span.small 19
            +square.enormous.centered
                span.small 20
            +square.enormous.centered
                span.small 21
            +square.enormous.centered
                span.small 22
            +square.enormous.centered
                span.small 23
            +square.enormous.centered
                span.small 24
            +square.enormous.centered
                span.small 25
            +square.enormous.centered
                span.small 26
            +square.enormous.centered
                span.small 27
            +square.enormous.centered
                span.small 28
            +square.enormous.centered
                span.small 29
            +square.enormous.centered
                span.small 30
            +square.enormous.centered
                span.small 31
            +square.enormous.centered
                span.small 32

    +divider Actions

    +multiple.joined
        input(id="populate_punctual_input", type="number", name="input3", placeholder="Squares number...")
        +button.secondary(onclick="javascript:populate_punctual()") Populate

append body-end
    +noty({ body: 'Drag the squares, the green ones are the returned ones', ttl: 'forever' })
    +script.
        function get_squares_html ( nr ) {

            var html = '';

            for ( var i = 0; i < Number(nr); i++ ) {
                html += '<div class="square enormous centered" style=""><span class="small">' + (i + 1) + '</span></div>';
            }

            return html;

        }

        function populate_all () {

            $('.squares_all').empty ().append ( get_squares_html ( $('#populate_all_input').val () ) );

        }

        function populate_most () {

            $('.squares_most').empty ().append ( get_squares_html ( $('#populate_most_input').val () ) );

        }

        function populate_punctual () {

            $('.squares_punctual').empty ().append ( get_squares_html ( $('#populate_punctual_input').val () ) );

        }

        // General drag

        var drag_options,
            $squares,
            $target;

        function drag_start ( options, event, target ) {

            drag_options = options;

            $target = $(target);

            $squares = $target.parent ().find ( '.square' );

        }

        function drag_move ( event, target, XYs ) {

            $target.css ( 'z-index', 1000 );
            $target.css ( 'transform', 'translate3d(' + ( XYs.move.X - XYs.start.X ) + 'px,' + ( XYs.move.Y - XYs.start.Y ) + 'px,0)' );

            if ( drag_options === 'punctual' ) {

                $squares.removeClass ( 'green' ).touching ( { point: XYs.move, $not: $target } ).addClass ( 'green' );

            } else {

                $squares.removeClass ( 'green' ).touching ( _.extend ( { $comparer: $target, $not: $target }, drag_options ) ).addClass ( 'green' );

            }

        }

        function drag_end () {

            $target.css ( 'transform', 'translate3d(0,0,0)' );
            $target.css ( 'z-index', 1 );

            $squares.removeClass ( 'green' );

        }

        // Specific drag

        function drag_start_all ( event, target ) {

            drag_start ( { select: 'all' }, event, target );

        }

        function drag_start_most ( event, target ) {

            drag_start ( { select: 'most' }, event, target );

        }

        function drag_start_punctual ( event, target ) {

            drag_start ( 'punctual', event, target );

        }

        // Ready

        $(function () {
            $('.squares_all .square').draggable ({
                start: drag_start_all,
                move: drag_move,
                end: drag_end
            });
            $('.squares_most .square').draggable ({
                start: drag_start_most,
                move: drag_move,
                end: drag_end
            });
            $('.squares_punctual .square').draggable ({
                start: drag_start_punctual,
                move: drag_move,
                end: drag_end
            });
        });
