
//- =========================================================================
//- Svelto - Rater
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    amount: '', //INFO: Number of starts
    value: '' //INFO: The value the rater is currently setted to
  }

mixin rater(options)
  - options = options || {};
  - options.value = options.value || 0;
  - options.amount = options.amount || 5;
  .rater&attributes(attributes)
    - var current = 1;
    while current <= options.amount
      .rater-star(class=(options.value >= current ? "active" : ( options.value >= current - 0.5 ? "half-active" : "" )))
      - current++;
