
//- =========================================================================
//- Svelto - Modal v0.3.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    id: '', // Modal id
    title: '' // Title
    icon: '', // Icon to use
  }

mixin modal-btn(options)
  +button(data-modal="modal-" + options.id)&attributes(attributes).modal-trigger
    if options.title
      span= options.title
    if options.icon
      +icon(options.icon)

mixin modal(id)
  .modal(id="modal-" + id)&attributes(attributes)
    block
