
// @require ../picker.scss

/* POPOVER */

.emojipicker.popover {

  width: $emojipicker-popover-width;
  z-index: $emojipicker-popover-z-index;

  /* CONTAINERS */

  .emojipicker-containers {
    height: $emojipicker-popover-containers-height;
  }

  /* TONES */

  .emojipicker-tones {
    margin: $emojipicker-popover-tones-spacing 0;
  }

  /* TONE */

  .emojipicker-tone {
    @include dimension ( $emojipicker-popover-tone-size );
  }

}
