
// @require ../variables.scss
// @require widgets/card/fullscreen/variables.scss

/* POPOVER */

$emojipicker-popover-width: 318px !default;
$emojipicker-popover-containers-height: 248px !default;
$emojipicker-popover-z-index: $card-fullscreen-z-index + 1 !default;

/* PREVIEW */

$emojipicker-popover-preview-emoji-size: $emojipicker-preview-emoji-size !default;

/* TONE */

$emojipicker-popover-tone-size: $emojipicker-tone-size !default;

/* TONES */

$emojipicker-popover-tones-spacing: calc( ( #{$emojipicker-popover-preview-emoji-size} - #{$emojipicker-popover-tone-size} ) / 2 ) !default;
