
// @require decorators/border_radius/variables.scss
// @require widgets/label/compact/variables.scss

/* LABEL */

$spinner-label-z-depth: 1 !default;
$spinner-label-z-depth-force: true !default;
$spinner-label-z-depth-basic: true !default;

$spinner-label-color: 'inherit' !default;
$spinner-label-color-force: false !default;
$spinner-label-color-basic: true !default;

$spinner-label-padding-x: $label-compact-padding-x !default;
$spinner-label-padding-y: $spinner-label-padding-x !default;

$spinner-label-border-radius: $circular-border-radius !default;
