
// @require ../variables.scss

/* DIMMER */

$overlay-dimmer-color: 'black' !default;
$overlay-dimmer-color-force: true !default;
$overlay-dimmer-color-basic: true !default;

$overlay-dimmer-bg-opacity: .75 !default;
