
extends ./layout.jade

//- Index

append main
  +divider-block Decorators

  +multiple
    +button("/components/colors.html").outlined.green Colors
    +button("/components/helpers.html").outlined.green Helpers
    +button("/components/helpers_responsive.html").outlined.green Helpers Responsive
    +button("/components/highlight.html").outlined.green Highlight
    +button("/components/outline.html").outlined.green Outline
    +button("/components/raisable.html").outlined.green Raisable
    +button("/components/ripple.html").outlined.green Ripple
    +button("/components/sizes.html").outlined.green Sizes
    +button("/components/z-depths.html").outlined.green Z-Depths

  +divider-block Base

  +multiple
    +button("/components/grid.html").outlined.orange Grid
    +button("/components/multiple.html").outlined.orange Multiple
    +button("/components/multiple_subs.html").outlined.orange Multiple subs
    +button("/components/typography.html").outlined.green Typography

  +divider-block Components

  +multiple
    +button("/components/breadcrumb.html").outlined.green Breadcrumb
    +button("/components/button.html").outlined.green Button
    +button("/components/card.html").outlined.green Card
    +button("/components/chat.html").outlined.green Chat
    +button("/components/container.html").outlined.green Container
    +button("/components/divider.html").outlined.green Divider
    +button("/components/embedded.html").outlined.green Embedded
    +button("/components/flags.html").outlined.green Flags
    +button("/components/footer.html").outlined.green Footer
    +button("/components/form.html").outlined.green Form
    +button("/components/header.html").outlined.green Header
    +button("/components/icons.html").outlined.green Icons
    +button("/components/image.html").outlined.green Image
    +button("/components/input.html").outlined.green Input
    +button("/components/label.html").outlined.green Label
    +button("/components/pager.html").outlined.green Pager
    +button("/components/pagination.html").outlined.green Pagination
    +button("/components/parallax.html").outlined.green Parallax
    +button("/components/placeholder.html").outlined.green Placeholder
    +button("/components/shapes.html").outlined.green Shapes
    +button("/components/spinner.html").outlined.green Spinner
    +button("/components/table.html").outlined.green Table
    +button("/components/textarea.html").outlined.green Textarea
    +button("/components/toolbar.html").outlined.green Toolbar
    
  +divider-block Widgets
    
  +multiple
    +button("/components/accordion.html").outlined.green Accordion
    +button("/components/carousel.html").outlined.orange Carousel
    +button("/components/checkbox.html").outlined.orange Checkbox
    +button("/components/colorpicker.html").outlined.green Colorpicker
    +button("/components/datepicker.html").outlined.green Datepicker
    +button("/components/dropdown.html").outlined.green Dropdown
    +button("/components/expander.html").outlined.green Expander
    +button("/components/flippable.html").outlined.green Flippable
    +button("/components/infobar.html").outlined.green Infobar
    +button("/components/modal.html").outlined.green Modal
    +button("/components/navbar.html").outlined.green Navbar
    +button("/components/noty.html").outlined.green Noty
    +button("/components/progressbar.html").outlined.green Progressbar
    +button("/components/radio.html").outlined.orange Radio
    +button("/components/rater.html").outlined.orange Rater
    +button("/components/select.html").outlined.green Select
    +button("/components/slider.html").outlined.green Slider
    +button("/components/spinnerOverlay.html").outlined.green spinnerOverlay
    +button("/components/stepper.html").outlined.green Stepper
    +button("/components/switch.html").outlined.green Switch
    +button("/components/syntax.html").outlined.green Syntax
    +button("/components/tabs.html").outlined.green Tabs
    +button("/components/tagbox.html").outlined.green Tagbox
    +button("/components/tooltip.html").outlined.green Tooltip
    
  +divider-block Tools
    
  +multiple
    +button("/components/autogrow.html").outlined.red Autogrow
    +button("/components/blurred.html").outlined.green Blurred
    +button("/components/browser.html").outlined.green Browser
    +button("/components/btEach.html").outlined.green btEach
    +button("/components/cookie.html").outlined.green Cookie
    +button("/components/draggable.html").outlined.green Draggable
    +button("/components/droppable.html").outlined.green Droppable
    +button("/components/formAjax.html").outlined.orange formAjax
    +button("/components/formSync.html").outlined.green formSync
    +button("/components/formValidate.html").outlined.orange formValidate
    +button("/components/notification.html").outlined.green Notification
    +button("/components/nTimesAction.html").outlined.green nTimesAction
    +button("/components/oneTimeAction.html").outlined.green oneTimeAction
    +button("/components/pointer.html").outlined.green Pointer
    +button("/components/positionate.html").outlined.green Positionate
    +button("/components/selectable.html").outlined.green Selectable
    +button("/components/sortable.html").outlined.green Sortable
    +button("/components/tableHelper.html").outlined.green tableHelper
    +button("/components/timeAgo.html").outlined.green timeAgo
    +button("/components/timer.html").outlined.green Timer
    +button("/components/touching.html").outlined.green Touching

append body-end
  +script.
    $(function(){
      var $buttons = $('main .button'),
          yellow_nr = $buttons.filter ( '.yellow' ).length,
          green_nr = $buttons.filter ( '.green' ).length,
          orange_nr = $buttons.filter ( '.orange' ).length,
          blue_nr = $buttons.filter ( '.blue' ).length,
          red_nr = $buttons.filter ( '.red' ).length,
          others_nr = $buttons.length - yellow_nr - green_nr - orange_nr - blue_nr - red_nr;
      $.noty ({
        body: '<p>' +
                '<span class="text-yellow">Tested (' + yellow_nr + ')</span><br/>' +
                '<span class="text-green">Finalized (' + green_nr + ')</span><br/>' +
                '<span class="text-orange">Almost ready (' + orange_nr + ')</span><br/>' +
                '<span class="text-blue">To update (' + blue_nr + ')</span><br/>' +
                '<span class="text-red">Problematic (' + red_nr + ')</span><br/>' +
                '<span>Others (' + others_nr + ')</span>' +
              '</p>',
        ttl: 'forever'
      });
    });
