
extends ./layout.jade

//- Index

append main
  +divider Decorators

  +multiple
    +button("/components/colors.html").outlined Colors
    +button("/components/z-depths.html").outlined Z-Depths
    +button("/components/helpers.html").outlined Helpers
    +button("/components/highlight.html").outlined Highlight
    +button("/components/outline.html").outlined.teal Outline
    +button("/components/raisable.html").outlined Raisable
    +button("/components/helpers_responsive.html").outlined Responsive Helpers
    +button("/components/ripple.html").outlined.teal Ripple
    +button("/components/sizes.html").outlined Sizes

  +divider CSS

  +multiple
    +button("/components/container.html").outlined.teal Container
    +button("/components/embedded.html").outlined Embedded
    +button("/components/flags.html").outlined Flags
    +button("/components/form.html").outlined.teal Form
    +button("/components/grid.html").outlined Grid
    +button("/components/icons.html").outlined Icons
    +button("/components/image.html").outlined Image
    +button("/components/multiple.html").outlined Multiple
    +button("/components/multiple_subs.html").outlined Multiple subs
    +button("/components/parallax.html").outlined Parallax
    +button("/components/table.html").outlined Table
    +button("/components/typography.html").outlined.teal Typography

  +divider Components

  +multiple
    +button("/components/breadcrumb.html").outlined Breadcrumb
    +button("/components/button.html").outlined Button
    +button("/components/chat.html").outlined Chat
    +button("/components/divider.html").outlined Divider
    +button("/components/footer.html").outlined Footer
    +button("/components/infobar.html").outlined.teal Infobar
    +button("/components/input.html").outlined.teal Input
    +button("/components/label.html").outlined.teal Label
    +button("/components/header.html").outlined.teal Header
    +button("/components/pagination.html").outlined.teal Pagination
    +button("/components/placeholder.html").outlined.teal Placeholder
    +button("/components/progressbar.html").outlined.teal Progressbar
    +button("/components/shapes.html").outlined.teal Shapes
    +button("/components/spinner.html").outlined.teal Spinner
    +button("/components/textarea.html").outlined.teal Textarea
    +button("/components/toolbar.html").outlined.teal Toolbar

  +divider Javascript

  +multiple
    +button("/components/accordion.html").outlined.teal Accordion
    +button("/components/checkbox.html").outlined.teal Checkbox
    +button("/components/colorpicker.html").outlined.teal Colorpicker
    +button("/components/datepicker.html").outlined.teal Datepicker
    +button("/components/dropdown.html").outlined.teal Dropdown
    +button("/components/expander.html").outlined.teal Expander
    +button("/components/flippable.html").outlined.teal Flippable
    +button("/components/modal.html").outlined.teal Modal
    +button("/components/navbar.html").outlined.teal Navbar
    +button("/components/noty.html").outlined.teal Noty
    +button("/components/radio.html").outlined.teal Radio
    +button("/components/select.html").outlined.teal Select
    +button("/components/slider.html").outlined.teal Slider
    +button("/components/stepper.html").outlined.teal Stepper
    +button("/components/switch.html").outlined.teal Switch
    +button("/components/syntax.html").outlined.teal Syntax
    +button("/components/tabs.html").outlined.teal Tabs
    +button("/components/tagbox.html").outlined.teal Tagbox

  +divider Tools

  +multiple
    +button("/components/autogrow.html").outlined.teal Autogrow
    +button("/components/blurred.html").outlined.teal Blurred
    +button("/components/browser.html").outlined.teal Browser
    +button("/components/btEach.html").outlined.teal btEach
    +button("/components/cookie.html").outlined.teal Cookie
    +button("/components/draggable.html").outlined.teal Draggable
    +button("/components/formAjax.html").outlined.teal formAjax
    +button("/components/formSync.html").outlined.teal formSync
    +button("/components/loading.html").outlined.teal Loading
    +button("/components/notification.html").outlined.teal Notification
    +button("/components/oneTimeAction.html").outlined.teal oneTimeAction
    +button("/components/pointer.html").outlined.teal Pointer
    +button("/components/positionate.html").outlined.teal Positionate
    +button("/components/selectable.html").outlined.teal Selectable
    +button("/components/sortable.html").outlined.teal Sortable
    +button("/components/tableHelper.html").outlined.teal tableHelper
    +button("/components/timeAgo.html").outlined.teal timeAgo
    +button("/components/timer.html").outlined.teal Timer
    +button("/components/touching.html").outlined.teal Touching

append body-end
  +script.
    $(function(){
      var $buttons = $('main .button'),
          green_nr = $buttons.filter ( '.green' ).length,
          teal_nr = $buttons.filter ( '.teal' ).length,
          red_nr = $buttons.filter ( '.red' ).length,
          others_nr = $buttons.length - green_nr - teal_nr - red_nr;
      $.noty ({
        body: '<p>' +
                '<span class="text-green">Ready (' + green_nr + ')</span><br/>' +
                '<span class="text-teal">To update (' + teal_nr + ')</span><br/>' +
                '<span class="text-red">Problematic (' + red_nr + ')</span><br/>' +
                '<span>Others (' + others_nr + ')</span>' +
              '</p>',
        ttl: 'forever'
      });
    });
