
extends ./layout.jade

//- Index

append main
  +divider-block Base

  +multiple
    +button("/components/grid.html").outlined.yellow Grid
    +button("/components/multiple.html").outlined.yellow Multiple
    +button("/components/sections.html").outlined.yellow Sections
    +button("/components/typography.html").outlined.yellow Typography

  +divider-block Decorators

  +multiple
    +button("/components/colors.html").outlined.yellow Colors
    +button("/components/helpers.html").outlined.yellow Helpers
    +button("/components/helpers_responsive.html").outlined.yellow Helpers Responsive
    +button("/components/highlight.html").outlined.yellow Highlight
    +button("/components/outline.html").outlined.yellow Outline
    +button("/components/raisable.html").outlined.yellow Raisable
    +button("/components/ripple.html").outlined.yellow Ripple
    +button("/components/sizes.html").outlined.yellow Sizes
    +button("/components/z-depths.html").outlined.yellow Z-Depths

  +divider-block Components

  +multiple
    +button("/components/breadcrumb.html").outlined.yellow Breadcrumb
    +button("/components/button.html").outlined.yellow Button
    +button("/components/card.html").outlined.yellow Card
    +button("/components/chat.html").outlined.yellow Chat
    +button("/components/container.html").outlined.yellow Container
    +button("/components/divider.html").outlined.yellow Divider
    +button("/components/embedded.html").outlined.yellow Embedded
    +button("/components/flags.html").outlined.yellow Flags
    +button("/components/footer.html").outlined.yellow Footer
    +button("/components/form.html").outlined.yellow Form
    +button("/components/header.html").outlined.red Header
    +button("/components/icons.html").outlined.yellow Icons
    +button("/components/image.html").outlined.yellow Image
    +button("/components/input.html").outlined.yellow Input
    +button("/components/label.html").outlined.yellow Label
    +button("/components/pager.html").outlined.yellow Pager
    +button("/components/pagination.html").outlined.yellow Pagination
    +button("/components/parallax.html").outlined.red Parallax
    +button("/components/placeholder.html").outlined.yellow Placeholder
    +button("/components/shapes.html").outlined.yellow Shapes
    +button("/components/spinner.html").outlined.yellow Spinner
    +button("/components/statistic.html").outlined.yellow Statistic
    +button("/components/table.html").outlined.yellow Table
    +button("/components/textarea.html").outlined.yellow Textarea
    +button("/components/toolbar.html").outlined.yellow Toolbar

  +divider-block Widgets
    
  +multiple
    +button("/components/accordion.html").outlined.yellow Accordion
    +button("/components/carousel.html").outlined.orange Carousel
    +button("/components/checkbox.html").outlined.orange Checkbox
    +button("/components/colorpicker.html").outlined.yellow Colorpicker
    +button("/components/datepicker.html").outlined.yellow Datepicker
    +button("/components/dropdown.html").outlined.yellow Dropdown
    +button("/components/expander.html").outlined.yellow Expander
    +button("/components/flippable.html").outlined.yellow Flippable
    +button("/components/infobar.html").outlined.yellow Infobar
    +button("/components/modal.html").outlined.yellow Modal
    +button("/components/navbar.html").outlined.yellow Navbar
    +button("/components/noty.html").outlined.yellow Noty
    +button("/components/overlay.html").outlined.yellow Overlay
    +button("/components/progressbar.html").outlined.yellow Progressbar
    +button("/components/radio.html").outlined.orange Radio
    +button("/components/rater.html").outlined.orange Rater
    +button("/components/select.html").outlined.yellow Select
    +button("/components/slider.html").outlined.yellow Slider
    +button("/components/spinnerOverlay.html").outlined.yellow spinnerOverlay
    +button("/components/stepper.html").outlined.yellow Stepper
    +button("/components/switch.html").outlined.yellow Switch
    +button("/components/syntax.html").outlined.yellow Syntax
    +button("/components/tabs.html").outlined.yellow Tabs
    +button("/components/tagbox.html").outlined.yellow Tagbox
    +button("/components/tooltip.html").outlined.yellow Tooltip
    
  +divider-block Tools
    
  +multiple
    +button("/components/autogrow.html").outlined.red Autogrow
    +button("/components/blurred.html").outlined.yellow Blurred
    +button("/components/browser.html").outlined.yellow Browser
    +button("/components/btEach.html").outlined.yellow btEach
    +button("/components/cookie.html").outlined.yellow Cookie
    +button("/components/draggable.html").outlined.yellow Draggable
    +button("/components/droppable.html").outlined.yellow Droppable
    +button("/components/formAjax.html").outlined.orange formAjax
    +button("/components/formSync.html").outlined.yellow formSync
    +button("/components/formValidate.html").outlined.orange formValidate
    +button("/components/notification.html").outlined.yellow Notification
    +button("/components/nTimesAction.html").outlined.yellow nTimesAction
    +button("/components/oneTimeAction.html").outlined.yellow oneTimeAction
    +button("/components/pointer.html").outlined.yellow Pointer
    +button("/components/positionate.html").outlined.yellow Positionate
    +button("/components/remoteModal.html").outlined.orange remoteModal
    +button("/components/selectable.html").outlined.yellow Selectable
    +button("/components/sortable.html").outlined.yellow Sortable
    +button("/components/tableHelper.html").outlined.yellow tableHelper
    +button("/components/timeAgo.html").outlined.yellow timeAgo
    +button("/components/timer.html").outlined.yellow Timer
    +button("/components/touching.html").outlined.yellow Touching

append body-end
  +script.
    $(function(){
      var $buttons = $('main .button'),
          yellow_nr = $buttons.filter ( '.yellow' ).length,
          green_nr = $buttons.filter ( '.green' ).length,
          orange_nr = $buttons.filter ( '.orange' ).length,
          blue_nr = $buttons.filter ( '.blue' ).length,
          red_nr = $buttons.filter ( '.red' ).length,
          others_nr = $buttons.length - yellow_nr - green_nr - orange_nr - blue_nr - red_nr;
      $.noty ({
        body: '<p>' +
                '<span class="text-yellow">Tested (' + yellow_nr + ')</span><br/>' +
                '<span class="text-green">Finalized (' + green_nr + ')</span><br/>' +
                '<span class="text-orange">Almost ready (' + orange_nr + ')</span><br/>' +
                '<span class="text-blue">To update (' + blue_nr + ')</span><br/>' +
                '<span class="text-red">Problematic (' + red_nr + ')</span><br/>' +
                '<span>Others (' + others_nr + ')</span>' +
              '</p>',
        ttl: 'forever'
      });
    });
