
extends ./layout.jade

//- Index

append main
  +divider Decorators

  +multiple
    +button("/components/colors.html").outlined.green Colors
    +button("/components/helpers.html").outlined.green Helpers
    +button("/components/helpers_responsive.html").outlined.green Helpers Responsive
    +button("/components/highlight.html").outlined.green Highlight
    +button("/components/outline.html").outlined.blue Outline
    +button("/components/raisable.html").outlined.green Raisable
    +button("/components/ripple.html").outlined.red Ripple
    +button("/components/sizes.html").outlined.green Sizes
    +button("/components/z-depths.html").outlined.green Z-Depths

  +divider Base

  +multiple
    +button("/components/grid.html").outlined.orange Grid
    +button("/components/multiple.html").outlined.orange Multiple
    +button("/components/multiple_subs.html").outlined.orange Multiple subs
    +button("/components/typography.html").outlined.blue Typography

  +divider Components

  +multiple
    +button("/components/breadcrumb.html").outlined.blue Breadcrumb
    +button("/components/button.html").outlined.green Button
    +button("/components/card.html").outlined.green Card
    +button("/components/chat.html").outlined.blue Chat
    +button("/components/container.html").outlined.green Container
    +button("/components/divider.html").outlined.blue Divider
    +button("/components/embedded.html").outlined.blue Embedded
    +button("/components/flags.html").outlined.blue Flags
    +button("/components/footer.html").outlined.blue Footer
    +button("/components/form.html").outlined.blue Form
    +button("/components/header.html").outlined.blue Header
    +button("/components/icons.html").outlined.green Icons
    +button("/components/image.html").outlined.green Image
    +button("/components/input.html").outlined.red Input
    +button("/components/label.html").outlined.green Label
    +button("/components/pagination.html").outlined.blue Pagination
    +button("/components/parallax.html").outlined.blue Parallax
    +button("/components/placeholder.html").outlined.blue Placeholder
    +button("/components/shapes.html").outlined.green Shapes
    +button("/components/spinner.html").outlined.blue Spinner
    +button("/components/table.html").outlined.blue Table
    +button("/components/textarea.html").outlined.red Textarea
    +button("/components/toolbar.html").outlined.blue Toolbar
    
  +divider Widgets
    
  +multiple
    +button("/components/accordion.html").outlined.blue Accordion
    +button("/components/checkbox.html").outlined.blue Checkbox
    +button("/components/colorpicker.html").outlined.blue Colorpicker
    +button("/components/datepicker.html").outlined.blue Datepicker
    +button("/components/dropdown.html").outlined.blue Dropdown
    +button("/components/expander.html").outlined.blue Expander
    +button("/components/flippable.html").outlined.blue Flippable
    +button("/components/infobar.html").outlined.blue Infobar
    +button("/components/modal.html").outlined.blue Modal
    +button("/components/navbar.html").outlined.red Navbar
    +button("/components/noty.html").outlined.blue Noty
    +button("/components/progressbar.html").outlined.blue Progressbar
    +button("/components/radio.html").outlined.blue Radio
    +button("/components/select.html").outlined.blue Select
    +button("/components/slider.html").outlined.blue Slider
    +button("/components/stepper.html").outlined.blue Stepper
    +button("/components/switch.html").outlined.blue Switch
    +button("/components/syntax.html").outlined.blue Syntax
    +button("/components/tabs.html").outlined.blue Tabs
    +button("/components/tagbox.html").outlined.blue Tagbox
    
  +divider Tools
    
  +multiple
    +button("/components/autogrow.html").outlined.blue Autogrow
    +button("/components/blurred.html").outlined.blue Blurred
    +button("/components/browser.html").outlined.blue Browser
    +button("/components/btEach.html").outlined.blue btEach
    +button("/components/cookie.html").outlined.blue Cookie
    +button("/components/draggable.html").outlined.blue Draggable
    +button("/components/formAjax.html").outlined.blue formAjax
    +button("/components/formSync.html").outlined.blue formSync
    +button("/components/loading.html").outlined.blue Loading
    +button("/components/notification.html").outlined.blue Notification
    +button("/components/oneTimeAction.html").outlined.blue oneTimeAction
    +button("/components/pointer.html").outlined.blue Pointer
    +button("/components/positionate.html").outlined.blue Positionate
    +button("/components/selectable.html").outlined.blue Selectable
    +button("/components/sortable.html").outlined.blue Sortable
    +button("/components/tableHelper.html").outlined.blue tableHelper
    +button("/components/timeAgo.html").outlined.blue timeAgo
    +button("/components/timer.html").outlined.blue Timer
    +button("/components/touching.html").outlined.blue Touching

append body-end
  +script.
    $(function(){
      var $buttons = $('main .button'),
          yellow_nr = $buttons.filter ( '.yellow' ).length,
          green_nr = $buttons.filter ( '.green' ).length,
          orange_nr = $buttons.filter ( '.orange' ).length,
          blue_nr = $buttons.filter ( '.blue' ).length,
          red_nr = $buttons.filter ( '.red' ).length,
          others_nr = $buttons.length - yellow_nr - green_nr - orange_nr - blue_nr - red_nr;
      $.noty ({
        body: '<p>' +
                '<span class="text-yellow">Tested (' + yellow_nr + ')</span><br/>' +
                '<span class="text-green">Finalized (' + green_nr + ')</span><br/>' +
                '<span class="text-orange">Almost ready (' + orange_nr + ')</span><br/>' +
                '<span class="text-blue">To update (' + blue_nr + ')</span><br/>' +
                '<span class="text-red">Problematic (' + red_nr + ')</span><br/>' +
                '<span>Others (' + others_nr + ')</span>' +
              '</p>',
        ttl: 'forever'
      });
    });
