
include ../dist/jade/svelto.mixins.jade

//- Layout

doctype html
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Svelto
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    +css("/svelto.css")
    +css("//fonts.googleapis.com/icon?family=Material+Icons")
    block css

    +script.
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
  body
    block body-start
    #content
      +header.fixed
        +toolbar.primary.z-depth-4
          +button-icon('menu').compact.transparent
          a.large(href="/") Svelto
          +spacer
          +button-icon('refresh').compact.transparent
          +button-icon('more_vert').compact.transparent
        block header
      main
          block main
      +footer.beveled
        p.text-center Svelto, a framework
        block footer
    block body
    +js("//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js")
    +js("//code.jquery.com/jquery-2.1.4.min.js")
    +js("/svelto.js")
    block js
    block body-end
      
    //- INFO: Debug all the errors we find, either via noty, if possible, or via alert
    script.
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
