
/* IMPORT */

@import 'layout';

/* SETTINGS */

$button-horizontal-padding: 1.5em;
$button-vertical-padding: 0.78571em;

$button-compact-horizontal-padding: 0.78571em;
$button-compact-vertical-padding: 0.78571em;

$button-inactive-opacity: 0.5;

$button-outlined-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
