
/* SETTINGS */

$chat-message-min-width: 27%;
$chat-message-max-width: 77%;

$chat-message-by-height: 20px;

$chat-message-content-line-height: 18px;

$chat-input-font-size: 14px;
$chat-input-height: 54px;
