
/* SETTINGS */

$container-border-size: 1px;

$container-header-border-width: 1px;
$container-header-height: 2.66667em;
$container-header-horizontal-padding: 0.78571em;

$container-footer-height: 2.66667em;
