
/* IMPORT */

@import 'layout';

/* SETTINGS */

$form-small-max-width: 400px;
$form-medium-max-width: 600px;
$form-large-max-width: 1000px;

$form-textbox-horizontal-padding: 0.78571em;
$form-textbox-vertical-padding: 0.78571em;

$form-outlined-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
