
/* IMPORT */

@import 'layout';

/* SETTINGS */

$grid-max-width: $layout-max-width + $layout-spacing;

$grid-container-border-size: 1px;

$sidebar-width: 350px;
$sidebar-hidden-offset: 5; // Percentage

$container-header-height: 2.66667em;
$container-header-horizontal-padding: 0.78571em;

$container-footer-height: 2.66667em;
