
/* SETTINGS */

$navbar-height: 3em;

$navbar-btn-padding: 0 1.5em;

$navbar-logo-size: 1.8em;
$navbar-logo-height: 1.66667em;
$navbar-logo-padding: 0 0.835em;

$navbar-icon-size: 1.8em;
$navbar-icon-height: 1.66667em;
$navbar-icon-font-size: 1.8em;
