
/* SETTINGS */

$switcher-width: 2.26667em;
$switcher-height: 0.93333em;

$switcher-bar-width: 1.73333em;
$switcher-bar-height: 0.93333em;

$switcher-bar-shadow: 0 0 0 0.66667em rgba(255, 255, 255, 0.25) inset;

$switcher-bar-vertical-height: 0.2em;

$switcher-handler-size: 1.33333em;
$switcher-handler-half-size: $switcher-handler-size / 2;

$switcher-handler-icon-size: 1.66667em;
$switcher-handler-icon-font-size: 0.8em;

$switcher-handler-active-shadow: 0 0 0 0.66667rem rgba(255, 171, 145, 0.25);

$switcher-inactive-handler-shadow-size: 0.2em;
