
/* SETTINGS */

$table-header-block-height: 2.7em;
$table-empty-block-height: 5.4em;

$table-th-sortable-padding: 1.5em;
$table-sortable-icon-font-size: 0.75em;

$table-row-padding: 0.75em 0;

$table-row-even-color: rgba(0, 0, 0, 0.015);
$table-row-even-color-hover: rgba(0, 0, 0, 0.03);

$table-row-odd-color: rgba(0, 0, 0, 0);
$table-row-odd-color-hover: rgba(0, 0, 0, 0.03);
