
/* BASE */

$body-color: 'base';
$body-color-basic: true;

/* GUTTER */

$gutter: 10px !default;
$gutter-half: $gutter / 2;

/* TRANSITIONS */

$transition-duration-slow: 0.2s;
$transition-duration-normal: 0.4s;
$transition-duration-fast: 0.6s;

$transition-duration: $transition-duration-normal;

$transition-duration-default: $transition-duration; //FIXME: remove it
