
//- =========================================================================
//- Svelto - Statistic
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin statistic
  .statistic&attributes(attributes)
    block
      
mixin statistic-primary
  .statistic-primary&attributes(attributes)
    block
      
mixin statistic-secondary
  .statistic-secondary&attributes(attributes)
    block
