
//FIXME: Safari causes a flickering when this is used by modals and/or panels

/* OBSCURED */

.obscured {

  /* BEFORE */

  &:before {
    @include absolute ( 0 );
    content: '';
    z-index: 1;
    border-radius: inherit;
    background-color: $obscured-bg-color;
  }

  /* BORDERED */

  &.bordered:before {
    @include absolute ( - $border-width );
  }

}
