
/* Z-DEPTH */

@mixin z-depth ( $depth, $force: false, $basic: false ) {

  @if z-depth-exists( $depth ) {

    @if not $force {

      $selector: z-depths-get-undefined-selector();

      &#{$selector} {

        @if not $basic {

          @extend %z-depth-#{$depth};

        } @else {

          @extend %z-depth-#{$depth}-base;

        }

      }

    } @else {

      @if not $basic {

        @extend %z-depth-#{$depth};

      } @else {

        @extend %z-depth-#{$depth}-base;

      }

    }

  }

}

@mixin z-depth-inline ( $depth ) {

  @if z-depth-exists( $depth ) {

    $z-depth: map-get( $z-depths, $depth );

    box-shadow: $z-depth;

  }

}
