
/* POINTING */

%pointing-tip {

  @include color ( $pointing-tip-color, $pointing-tip-color-force, $pointing-tip-color-basic );
  @include dimension ( $pointing-tip-size );
  transform: rotate(45deg);
  position: absolute;
  content: '';
  z-index: 1;
  box-sizing: content-box;
  border: inherit;

  /* BORDERED */

  &.bordered {
    border-width: $border-width;
  }

}

%pointing:after {
  @extend %pointing-tip;
}
