
// @require _/math/constants/variables.scss
// @require core/paths/variables.scss

/* TIP */

$pointing-tip-size: .625em !default;
$pointing-tip-size-half: $pointing-tip-size / 2;

$pointing-tip-diagonal: $pointing-tip-size * $SQRT2;
$pointing-tip-diagonal-half: $pointing-tip-diagonal / 2;

$pointing-tip-color: 'inherit' !default;
$pointing-tip-color-force: true !default;
$pointing-tip-color-basic: true !default;

/* PATHS */

$pointing-path-images: $path-images !default;
