

//TODO: Add back again the `blurrer` variant

/* OVERLAY */

.overlay {

  @include absolute ( 0 );
  z-index: $overlay-z-index;
  margin: 0 !important;
  transition: opacity $overlay-animation-duration;
  border-radius: inherit;

  /* SCROLLABLE */

  &:not(.card):not(.layout) {
    overflow: auto;
  }

  /* BORDERED PARENT */

  .bordered > & {
    @include absolute ( - $border-width );
  }

}
