
// @require core/animations/variables.scss

/* OVERLAY */

$overlay-z-index: 500 !default;

$overlay-animation-duration: $animation-fast !default;

/* SIBLINGS */

$overlay-siblings-opacity: .2 !default;

$overlay-siblings-animation-duration: $overlay-animation-duration !default;
