
//- =========================================================================
//- Svelto - Header
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- FIXME: Make it more general, so that not just an image url can be set as a background but pretty much everything... but maybe we can do it manually without a mixin, there cannot be a mixin for everything (sure?)...

mixin header
  header&attributes(attributes)
    block

mixin header-bg(url)
  img(src=url).header-background
