//- header.jade

//- FIXME: don't use inline style
//- FIXME: make it more general, so that not just an image url can be set as a bacground but pretty much everything... but maybe we can do it manually without a mixin, there cannot be a mixin for everything (sure?)...

mixin header
    .header&attributes(attributes)
        block

mixin header-with-bg(background_image)
    .header.has-background&attributes(attributes)
        block
        .header-background(style="background: url(\"" + background_image + "\") no-repeat center center fixed")
