
//- =========================================================================
//- Svelto - Navbar v0.3.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    id: '', // Navbar id
    title: '', // Title
    icon: '' // Icon to use
  }

mixin navbar-btn(options)
  +button(data-navbar=options.id)&attributes(attributes).navbar-trigger
    if options.title
      span= options.title
    if options.icon
      +icon(options.icon)

//- Options
  {
    id: '', // Navbar id
    direction: '', // Navbar direction
    slim: '', // Use a slim version or not
    attached: '', // True or attached-* class
    flickable: '' // Defined if the navbar can be triggered with a flick gesture
  }

mixin navbar(options)
  - options.direction = options.direction || "left";
  - options.slim = options.slim || false;
  .navbar(id=options.id class=(options.direction + " " + ( options.slim ? "slim" : "" ) + " " + ( options.flickable ? "flickable" : "" )  + " " + (options.attached ? ( options.attached === true ? "attached-xs" : options.attached ) : "" )) data-direction=options.direction)&attributes(attributes)
    block
