
extends ../layout.jade

//- Accordion

append main
  +divider Accordion

  +accordion
    +expander.outlined
      +card-header("Section 1").actionable.expander-toggler.outlined
        +multiple-sub-right
          +button-icon("keyboard_arrow_down").xsmall.compact
      +card-block
        +paragraph-sample
    +expander.opened.outlined
      +card-header.outlined
        +multiple-sub-left
          p Section 2 - Button toggler
        +multiple-sub-right
          +button-icon("keyboard_arrow_down").xsmall.expander-toggler.compact
      +card-block
        +paragraph-sample
    +expander.outlined
      +card-header("Section 3").actionable.expander-toggler.outlined
        +multiple-sub-left
          +button-icon("keyboard_arrow_down").xsmall.compact
      +card-block
        +paragraph-sample
    +expander.outlined
      +card-header("Section 4").actionable.expander-toggler.outlined
        +multiple-sub-right
          +button-icon("keyboard_arrow_down").xsmall.compact
      +card-block
        +paragraph-sample

  +divider Accordion - Multiple

  +accordion.multiple
    +expander.outlined
      +card-header("Section 1").actionable.expander-toggler.outlined
        +multiple-sub-right
          +button-icon("keyboard_arrow_down").xsmall.compact
      +card-block
        +paragraph-sample
    +expander.opened.outlined
      +card-header.outlined
        +multiple-sub-left
          p Section 2 - Button toggler
        +multiple-sub-right
          +button-icon("keyboard_arrow_down").xsmall.expander-toggler.compact
      +card-block
        +paragraph-sample
    +expander.outlined
      +card-header("Section 3").actionable.expander-toggler.outlined
        +multiple-sub-left
          +button-icon("keyboard_arrow_down").xsmall.compact
      +card-block
        +paragraph-sample
    +expander.outlined
      +card-header("Section 4").actionable.expander-toggler.outlined
        +multiple-sub-right
          +button-icon("keyboard_arrow_down").xsmall.compact
      +card-block
        +paragraph-sample

  +divider Actions

  +multiple
    +button("accordions_action ( 'toggleAll' )").outlined Toggle all
    +button("accordions_action ( 'openAll' )").outlined Open all
    +button("accordions_action ( 'closeAll' )").outlined Close all

append body-end
  +script.
    function accordions_action ( action ) {
      $('.accordion').accordion ( action );
    }
