<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Accordion
        </div>
      </div>
      <div class="accordion">
        <div class="container expander">
          <div class="container-header actionable expander-toggler">
            <div class="multiple-wrp fluid">
              <div class="multiple">
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub center">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <p>Section 1</p>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub right">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <div class="label-wrp button-wrp">
                        <div class="label actionable compact small">
                          <div class="label-center"><i class="icon">hardware-keyboard-arrow-down</i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
              </div>
            </div>
          </div>
          <div class="container-content">
            <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
          </div>
        </div>
        <div class="container expander opened">
          <div class="container-header">
            <div class="multiple-wrp fluid">
              <div class="multiple">
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub left">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <p>Section 2 - Button toggler</p>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub right">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <div class="label-wrp button-wrp">
                        <div class="label actionable compact small expander-toggler">
                          <div class="label-center"><i class="icon">hardware-keyboard-arrow-down</i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
              </div>
            </div>
          </div>
          <div class="container-content">
            <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
          </div>
        </div>
        <div class="container expander">
          <div class="container-header actionable expander-toggler">
            <div class="multiple-wrp fluid">
              <div class="multiple">
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub center">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <p>Section 3</p>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub left">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <div class="label-wrp button-wrp">
                        <div class="label actionable compact small">
                          <div class="label-center"><i class="icon">hardware-keyboard-arrow-down</i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
              </div>
            </div>
          </div>
          <div class="container-content">
            <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
          </div>
        </div>
        <div class="container expander">
          <div class="container-header actionable expander-toggler">
            <div class="multiple-wrp fluid">
              <div class="multiple">
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub center">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <p>Section 4</p>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub right">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <div class="label-wrp button-wrp">
                        <div class="label actionable compact small">
                          <div class="label-center"><i class="icon">hardware-keyboard-arrow-down</i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
              </div>
            </div>
          </div>
          <div class="container-content">
            <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Accordion - Multiple
        </div>
      </div>
      <div class="accordion multiple">
        <div class="container expander">
          <div class="container-header actionable expander-toggler">
            <div class="multiple-wrp fluid">
              <div class="multiple">
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub center">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <p>Section 1</p>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub right">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <div class="label-wrp button-wrp">
                        <div class="label actionable compact small">
                          <div class="label-center"><i class="icon">hardware-keyboard-arrow-down</i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
              </div>
            </div>
          </div>
          <div class="container-content">
            <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
          </div>
        </div>
        <div class="container expander opened">
          <div class="container-header">
            <div class="multiple-wrp fluid">
              <div class="multiple">
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub left">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <p>Section 2 - Button toggler</p>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub right">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <div class="label-wrp button-wrp">
                        <div class="label actionable compact small expander-toggler">
                          <div class="label-center"><i class="icon">hardware-keyboard-arrow-down</i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
              </div>
            </div>
          </div>
          <div class="container-content">
            <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
          </div>
        </div>
        <div class="container expander">
          <div class="container-header actionable expander-toggler">
            <div class="multiple-wrp fluid">
              <div class="multiple">
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub center">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <p>Section 3</p>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub left">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <div class="label-wrp button-wrp">
                        <div class="label actionable compact small">
                          <div class="label-center"><i class="icon">hardware-keyboard-arrow-down</i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
              </div>
            </div>
          </div>
          <div class="container-content">
            <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
          </div>
        </div>
        <div class="container expander">
          <div class="container-header actionable expander-toggler">
            <div class="multiple-wrp fluid">
              <div class="multiple">
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub center">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <p>Section 4</p>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub right">
                  <div class="multiple-wrp">
                    <div class="multiple">
                      <div class="label-wrp button-wrp">
                        <div class="label actionable compact small">
                          <div class="label-center"><i class="icon">hardware-keyboard-arrow-down</i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
              </div>
            </div>
          </div>
          <div class="container-content">
            <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Actions
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp button-wrp">
            <div onclick="javascript:accordions_toggle_all()" class="label actionable">
              <div class="label-center">Toggle all
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:accordions_open_all()" class="label actionable">
              <div class="label-center">Open all
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:accordions_close_all()" class="label actionable">
              <div class="label-center">Close all
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      function accordions_toggle_all () {
          $('.accordion').accordion ( 'toggleAll' );
      }
      
      function accordions_open_all () {
          $('.accordion').accordion ( 'openAll' );
      }
      
      function accordions_close_all () {
          $('.accordion').accordion ( 'closeAll' );
      }
    </script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>