
extends ../layout.jade

//- Accordion

append main
  +divider-block Accordion

  +accordion
    +card.outlined.expander
      +card-header.outlined.actionable.primary.expander-toggler
        +multiple
          .spacer Header toggler
          +button-icon("keyboard_arrow_down").xsmall.compact
      +card-block.expander-content
        +lorem-ipsum

    +card.outlined.expander
      +card-header.outlined.primary
        +multiple
          .spacer Button toggler
          +button-icon("keyboard_arrow_down").xsmall.compact.expander-toggler
      +card-block.expander-content 
        +lorem-ipsum

    +card.outlined.expander.open
      +card-header.outlined.actionable.primary.expander-toggler
        +multiple
          .spacer Open
          +button-icon("keyboard_arrow_down").xsmall.compact
      +card-block.expander-content
        +lorem-ipsum

  +divider-block Accordion - Multiple

  +accordion.multiple-open
    +card.outlined.expander
      +card-header.outlined.actionable.primary.expander-toggler
        +multiple
          .spacer Header toggler
          +button-icon("keyboard_arrow_down").xsmall.compact
      +card-block.expander-content
        +lorem-ipsum

    +card.outlined.expander
      +card-header.outlined.primary
        +multiple
          .spacer Button toggler
          +button-icon("keyboard_arrow_down").xsmall.compact.expander-toggler
      +card-block.expander-content 
        +lorem-ipsum

    +card.outlined.expander.open
      +card-header.outlined.actionable.primary.expander-toggler
        +multiple
          .spacer Open
          +button-icon("keyboard_arrow_down").xsmall.compact
      +card-block.expander-content
        +lorem-ipsum

  +divider-block Actions

  +multiple.actions
    +button("accordions_get_all ()").outlined Get all
    +button("accordion_api_all ( 'toggle' )").outlined Toggle all
    +button("accordion_api_all ( 'open' )").outlined Open all
    +button("accordion_api_all ( 'close' )").outlined Close all

append body-end
  +script.
    function accordions_get_all () {
      _.each ( $('.accordion'), function ( accordion ) {
        $.noty ( $(accordion).accordion ( 'instance' ).areOpen ().join ( ' - ' ) );
      });
    }
    function accordion_api_all ( action ) {
      $('.accordion').each ( function () {
        var $accordion = $(this);
        $accordion.children ( '.expander' ).each ( function ( index ) {
          $accordion.accordion ( 'instance' )[action]( index );
        });
      })
    }
