
extends ../layout.jade

//- Accordion

append main
  +divider Accordion

  +accordion
    +expander
      +container-header("Section 1").actionable.expander-toggler
        +multiple-right
          +button-icon("keyboard_arrow_down").small
      +container-content
        +paragraph-sample
    +expander.opened
      +container-header
        +multiple-left
          p Section 2 - Button toggler
        +multiple-right
          +button-icon("keyboard_arrow_down").small.expander-toggler
      +container-content
        +paragraph-sample
    +expander
      +container-header("Section 3").actionable.expander-toggler
        +multiple-left
          +button-icon("keyboard_arrow_down").small
      +container-content
        +paragraph-sample
    +expander
      +container-header("Section 4").actionable.expander-toggler
        +multiple-right
          +button-icon("keyboard_arrow_down").small
      +container-content
        +paragraph-sample

  +divider Accordion - Multiple

  +accordion.multiple
    +expander
      +container-header("Section 1").actionable.expander-toggler
        +multiple-right
          +button-icon("keyboard_arrow_down").small
      +container-content
        +paragraph-sample
    +expander.opened
      +container-header
        +multiple-left
          p Section 2 - Button toggler
        +multiple-right
          +button-icon("keyboard_arrow_down").small.expander-toggler
      +container-content
        +paragraph-sample
    +expander
      +container-header("Section 3").actionable.expander-toggler
        +multiple-left
          +button-icon("keyboard_arrow_down").small
      +container-content
        +paragraph-sample
    +expander
      +container-header("Section 4").actionable.expander-toggler
        +multiple-right
          +button-icon("keyboard_arrow_down").small
      +container-content
        +paragraph-sample

  +divider Actions

  +multiple
    +button-simple("accordions_action ( 'toggleAll' )") Toggle all
    +button-simple("accordions_action ( 'openAll' )") Open all
    +button-simple("accordions_action ( 'closeAll' )") Close all

append body-end
  +script.
    function accordions_action ( action ) {
      $('.accordion').accordion ( action );
    }
