
extends ../layout.jade

//- Autogrow

append main
  +divider-block Input

  +input({ value: "Value", placeholder: "Label..." }).autogrow.outlined

  +divider-block Textarea

  +textarea({ placeholder: "Label..." }).autogrow.outlined Value
