
extends ../layout.jade

//- Autogrow

append main
  +divider-block Input

  +input({ value: "Value", label: "Label..." }).autogrow.white.outlined

  +divider-block Textarea

  +textarea({ label: "Label..." }).autogrow.white.outlined Value
