//- tools/blurred.jade

extends ../../layout.jade

//- TODO: Use the CSS function for it, so that we can transitionate it

append main
    +divider Paragraph

    +container-simple
        +paragraph-sample

    +divider Action

    +button-simple(onclick="blur_test()").outlined Toggle blur

append body-end
    +script.
        function blur_test () {
            $('.container').blurred ();
        }
