

extends ../layout.jade

//- Blurred

append main
  +divider-block Paragraph

  +container.outlined
    +paragraph-sample

  +divider-block Action

  +button("blur_test ()").outlined Toggle blur

append body-end
  +script.
    function blur_test () {
      $('.container').blurred ();
    }
