

extends ../layout.jade

//- Blurred

//- TODO: Use the CSS function for it, so that we can transitionate it

append main
  +divider Paragraph

  +container-simple.outlined
    +paragraph-sample

  +divider Action

  +button-simple("blur_test ()").outlined Toggle blur

append body-end
  +script.
    function blur_test () {
      $('.container').blurred ();
    }
