
extends ../layout.jade

//- Breadcrumb.jade

append main
  +divider Base

  +container.outlined
    +breadcrumb
      +a(title="Link 1") Link 1
      +breadcrumb-divider.xsmall
      +a(title="Link 2") Link 2
      +breadcrumb-divider.xsmall
      +a(title="Link 3").current Link 3
      +breadcrumb-divider.xsmall
      +a(title="Link 4") Link 4
      +breadcrumb-divider.xsmall
      +a(title="Link 5") Link 5

  +divider Custom text divider

  +container.outlined
    +breadcrumb
      +a(title="Link 1") Link 1
      +breadcrumb-divider /
      +a(title="Link 2") Link 2
      +breadcrumb-divider /
      +a(title="Link 3").current Link 3
      +breadcrumb-divider /
      +a(title="Link 4") Link 4
      +breadcrumb-divider /
      +a(title="Link 5") Link 5

  +divider Custom icon divider

  +container.outlined
    +breadcrumb
      +a(title="Link 1") Link 1
      +breadcrumb-divider("trending_flat").xsmall
      +a(title="Link 2") Link 2
      +breadcrumb-divider("trending_flat").xsmall
      +a(title="Link 3").current Link 3
      +breadcrumb-divider("trending_flat").xsmall
      +a(title="Link 4") Link 4
      +breadcrumb-divider("trending_flat").xsmall
      +a(title="Link 5") Link 5

  +divider Actions

  +multiple.actions
    +button("toggle_class ( 'highlighted' )").outlined Toggle highlighted

append body-end
  +script.
    function toggle_class ( css_class ) {
      $('.breadcrumb').toggleClass ( css_class );
    }
