<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Base
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="breadcrumb"><a href="#" title="Link 1">Link 1</a>
            <div class="breadcrumb-divider small"><i class="icon">chevron_right</i>
            </div><a href="#" title="Link 2">Link 2</a>
            <div class="breadcrumb-divider small"><i class="icon">chevron_right</i>
            </div><a href="#" class="current" title="Link 3">Link 3</a>
            <div class="breadcrumb-divider small"><i class="icon">chevron_right</i>
            </div><a href="#" title="Link 4">Link 4</a>
            <div class="breadcrumb-divider small"><i class="icon">chevron_right</i>
            </div><a href="#" title="Link 5">Link 5</a>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Text
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="breadcrumb"><a href="#" title="Link 1">Link 1</a>
            <div class="breadcrumb-divider">/
            </div><a href="#" title="Link 2">Link 2</a>
            <div class="breadcrumb-divider">/
            </div><a href="#" class="current" title="Link 3">Link 3</a>
            <div class="breadcrumb-divider">/
            </div><a href="#" title="Link 4">Link 4</a>
            <div class="breadcrumb-divider">/
            </div><a href="#" title="Link 5">Link 5</a>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Custom icon divider
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="breadcrumb"><a href="#" title="Link 1">Link 1</a>
            <div class="breadcrumb-divider small"><i class="icon">action-trending-neutral</i>
            </div><a href="#" title="Link 2">Link 2</a>
            <div class="breadcrumb-divider small"><i class="icon">action-trending-neutral</i>
            </div><a href="#" class="current" title="Link 3">Link 3</a>
            <div class="breadcrumb-divider small"><i class="icon">action-trending-neutral</i>
            </div><a href="#" title="Link 4">Link 4</a>
            <div class="breadcrumb-divider small"><i class="icon">action-trending-neutral</i>
            </div><a href="#" title="Link 5">Link 5</a>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Base - Highlighted
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="breadcrumb highlighted"><a href="#" title="Link 1">Link 1</a>
            <div class="breadcrumb-divider small"><i class="icon">chevron_right</i>
            </div><a href="#" title="Link 2">Link 2</a>
            <div class="breadcrumb-divider small"><i class="icon">chevron_right</i>
            </div><a href="#" class="current" title="Link 3">Link 3</a>
            <div class="breadcrumb-divider small"><i class="icon">chevron_right</i>
            </div><a href="#" title="Link 4">Link 4</a>
            <div class="breadcrumb-divider small"><i class="icon">chevron_right</i>
            </div><a href="#" title="Link 5">Link 5</a>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Text - Highlighted
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="breadcrumb highlighted"><a href="#" title="Link 1">Link 1</a>
            <div class="breadcrumb-divider">/
            </div><a href="#" title="Link 2">Link 2</a>
            <div class="breadcrumb-divider">/
            </div><a href="#" class="current" title="Link 3">Link 3</a>
            <div class="breadcrumb-divider">/
            </div><a href="#" title="Link 4">Link 4</a>
            <div class="breadcrumb-divider">/
            </div><a href="#" title="Link 5">Link 5</a>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Custom icon divider - Highlighted
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="breadcrumb highlighted"><a href="#" title="Link 1">Link 1</a>
            <div class="breadcrumb-divider small"><i class="icon">action-trending-neutral</i>
            </div><a href="#" title="Link 2">Link 2</a>
            <div class="breadcrumb-divider small"><i class="icon">action-trending-neutral</i>
            </div><a href="#" class="current" title="Link 3">Link 3</a>
            <div class="breadcrumb-divider small"><i class="icon">action-trending-neutral</i>
            </div><a href="#" title="Link 4">Link 4</a>
            <div class="breadcrumb-divider small"><i class="icon">action-trending-neutral</i>
            </div><a href="#" title="Link 5">Link 5</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>