
extends ../layout.jade

//- Browser

append main
  +divider Browser

  +multiple.fluid
    +container.outlined.isMobile isMobile
    +container.outlined.isTablet isTablet
    +container.outlined.isAndroid isAndroid
    +container.outlined.isIOS isIOS
    +container.outlined.isMac isMac
    +container.outlined.isIE isIE

append body-end
  +script.
    for ( var prop in $.browser ) {
      $('.' + prop).toggleClass ( 'green', $.browser[prop] );
    }
