<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">menu
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">more_vert
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Normal
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label button actionable primary">Primary
          </div>
          <div class="label button actionable secondary">Secondary
          </div>
          <div class="label button actionable tertiary">Tertiary
          </div>
          <div class="label button actionable quaternary">Quaternary
          </div>
          <div class="label button actionable white">White
          </div>
          <div class="label button actionable gray">Gray
          </div>
          <div class="label button actionable black">Black
          </div>
          <div class="label button actionable yellow">Yellow
          </div>
          <div class="label button actionable olive">Olive
          </div>
          <div class="label button actionable green">Green
          </div>
          <div class="label button actionable blue">Blue
          </div>
          <div class="label button actionable violet">Violet
          </div>
          <div class="label button actionable orange">Orange
          </div>
          <div class="label button actionable purple">Purple
          </div>
          <div class="label button actionable red">Red
          </div>
          <div class="label button actionable pink">Pink
          </div>
          <div class="label button actionable teal">Teal
          </div>
          <div class="label button actionable brown">Brown
          </div>
          <div class="label button actionable transparent">Transparent
          </div>
          <div class="label button actionable inherit">Inherit
          </div>
          <div class="label button actionable base">Base
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Advanced
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label button actionable">
            <div class="icon-wrp">
              <div class="icon">settings
              </div>
            </div>
          </div>
          <div class="label button actionable rounded">
            <div class="icon-wrp">
              <div class="icon">settings
              </div>
            </div>
          </div>
          <div class="label button actionable">
            <div class="icon-wrp">
              <div class="icon">settings
              </div>
            </div><span>Settings</span>
          </div>
          <div class="label button actionable"><span>Settings</span>
            <div class="icon-wrp">
              <div class="icon">settings
              </div>
            </div>
          </div>
          <div class="label button actionable">
            <div class="label-left button-left">
              <div class="icon-wrp">
                <div class="icon">settings
                </div>
              </div>
            </div><span>Settings</span>
          </div>
          <div class="label button actionable"><span>Settings</span>
            <div class="label-right button-right">
              <div class="icon-wrp">
                <div class="icon">settings
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Rounded
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label button actionable rounded primary">1
          </div>
          <div class="label button actionable rounded secondary">2
          </div>
          <div class="label button actionable rounded tertiary">3
          </div>
          <div class="label button actionable rounded quaternary">4
          </div>
          <div class="label button actionable rounded white">5
          </div>
          <div class="label button actionable rounded gray">6
          </div>
          <div class="label button actionable rounded black">7
          </div>
          <div class="label button actionable rounded yellow">8
          </div>
          <div class="label button actionable rounded olive">9
          </div>
          <div class="label button actionable rounded green">10
          </div>
          <div class="label button actionable rounded blue">11
          </div>
          <div class="label button actionable rounded violet">12
          </div>
          <div class="label button actionable rounded orange">13
          </div>
          <div class="label button actionable rounded purple">14
          </div>
          <div class="label button actionable rounded red">15
          </div>
          <div class="label button actionable rounded pink">16
          </div>
          <div class="label button actionable rounded teal">17
          </div>
          <div class="label button actionable rounded brown">18
          </div>
          <div class="label button actionable rounded transparent">19
          </div>
          <div class="label button actionable rounded inherit">20
          </div>
          <div class="label button actionable rounded base">21
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Tag
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-tag button-tag">
            <div class="label button actionable">Normal
            </div>
          </div>
          <div class="label-tag button-tag">
            <div class="label button actionable sharp">Sharp
            </div>
          </div>
          <div class="label-tag button-tag">
            <div class="label button actionable sharp outlined">Sharp
            </div>
          </div>
          <div class="label-tag button-tag">
            <div class="label button actionable sharp compact">Sharp
            </div>
          </div>
          <div class="label-tag button-tag">
            <div class="label button actionable primary">Colored
            </div>
          </div>
          <div class="label-tag button-tag">
            <div class="label button actionable outlined">Outlined
            </div>
          </div>
          <div class="label-tag button-tag">
            <div class="label button actionable compact">Compact
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Ribbon
        </div>
      </div>
      <div class="container centered xs-10 outlined z-depth-1">
        <div class="container-content">
          <div class="label button actionable ribbon ribbon-left ribbon-right primary">Left & Right
          </div>
          <div class="label button actionable invisible">
          </div>
          <div style="width:95%; height:10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div class="label button actionable ribbon ribbon-left secondary">Left
          </div>
          <div class="label button actionable invisible">
          </div>
          <div style="width:95%; height:10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div class="label button actionable ribbon ribbon-right tertiary">Right
          </div>
          <div class="label button actionable invisible">
          </div>
          <div style="width:95%; height:10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div class="label button actionable ribbon ribbon-left ribbon-right outlined">Outlined
          </div>
          <div class="label button actionable invisible">
          </div>
          <div style="width:95%; height:10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Corner
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="label-corner top-left button-corner actionable primary">
            <div class="label button actionable compact">P
            </div>
          </div>
          <div class="label-corner top-right button-corner actionable secondary">
            <div class="label button actionable compact">
              <div class="icon-wrp">
                <div class="icon">file_download
                </div>
              </div>
            </div>
          </div>
          <div class="label-corner bottom-right button-corner actionable quaternary">
            <div class="label button actionable compact">
              <div class="icon-wrp">
                <div class="icon">thumb_up
                </div>
              </div>
            </div>
          </div>
          <div class="label-corner bottom-left button-corner actionable tertiary">
            <div class="label button actionable compact">
              <div class="icon-wrp">
                <div class="icon">favorite
                </div>
              </div>
            </div>
          </div>
          <div style="width:95%; height:10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Badge
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label compact">
            <div class="icon-wrp">
              <div class="icon">settings
              </div>
            </div>
            <div class="label button actionable compact rounded badge xxsmall quaternary top-left">1
            </div>
            <div class="label button actionable compact rounded badge xxsmall primary top-right">2
            </div>
            <div class="label button actionable compact rounded badge xxsmall tertiary bottom-left">3
            </div>
            <div class="label button actionable compact rounded badge xxsmall secondary bottom-right">4
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Floating
        </div>
      </div>
      <div class="label button actionable floating rounded secondary large">
        <div class="icon-wrp">
          <div class="icon">settings
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Actions
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div onclick="javascript:toggle_class ( 'outlined' )" class="label button actionable outlined">Toggle outlined
          </div>
          <div onclick="javascript:toggle_class ( 'compact' )" class="label button actionable outlined">Toggle compact
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      function toggle_class ( css_class ) {
        $('.button').toggleClass ( css_class );
      }
    </script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>