<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple">
            <div class="label button actionable compact transparent"><i class="icon">menu</i>
            </div><a href="/" class="large">Svelto</a>
            <div class="spacer">
            </div>
            <div class="label button actionable compact transparent"><i class="icon">refresh</i>
            </div>
            <div class="label button actionable compact transparent"><i class="icon">more_vert</i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Card
        </div>
      </div>
      <div class="card">
        <div class="card-header green">Header
        </div>
        <div class="card-block">Block
        </div>
        <div class="card-footer olive">Footer
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">With image
        </div>
      </div>
      <div class="multiple">
        <div class="card xs-12 sm-6 md-3">
          <div class="infobar-wrp small">
            <div class="infobar-left"><i class="icon xxxlarge">settings</i>
            </div>
            <div class="infobar-center">
              <div class="infobar-title">Lorem
              </div>
              <div class="infobar-subtitle">Lorem ipsum
              </div>
            </div>
            <div class="infobar-right">
              <div class="label button actionable outlined compact"><i class="icon">more_vert</i>
              </div>
            </div>
          </div><img src="/sample-wide.jpg">
          <div class="card-block">Block
          </div>
          <div class="card-footer">Footer
          </div>
        </div>
        <div class="card xs-12 sm-6 md-3">
          <div class="image-wrp"><img src="/sample-wide.jpg"/>
            <div class="image-caption top on-hover">Caption
            </div>
          </div>
          <div class="card-block">Block
          </div>
        </div>
        <div class="card xs-12 sm-6 md-3">
          <div class="image-wrp"><img src="/sample-wide.jpg"/>
            <div class="image-caption top transparent">
              <div class="multiple">
                <div class="multiple-sub-spacer"></div>
                <div class="multiple-sub right">
                  <div class="multiple">
                    <div class="label button actionable compact xsmall black"><i class="icon">more_vert</i>
                    </div>
                  </div>
                </div>
                <div class="multiple-sub-spacer"></div>
              </div>
            </div>
          </div>
          <div class="card-footer">Footer    
          </div>
        </div>
        <div class="card xs-12 sm-6 md-3">
          <div class="card-header">Header
          </div><img src="/sample-wide.jpg">
          <div class="card-block">Block
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Advanced
        </div>
      </div>
      <div class="card" style="height: 250px;">
        <div class="card-header teal">
          <div class="multiple">
            <div class="multiple-sub-spacer"></div>
            <div class="multiple-sub left">
              <div class="multiple">
                <div class="label button actionable compact xsmall"><i class="icon">thumb_down</i>
                </div>
                <div class="label button actionable compact xsmall"><i class="icon">thumb_up</i>
                </div>
              </div>
            </div>
            <div class="multiple-sub-spacer"></div>
            <div class="multiple-sub-spacer"></div>
            <div class="multiple-sub center">
              <div class="multiple"> 
                <p>Header</p>
              </div>
            </div>
            <div class="multiple-sub-spacer"></div>
            <div class="multiple-sub-spacer"></div>
            <div class="multiple-sub right">
              <div class="multiple">
                <div class="label button actionable compact xsmall"><i class="icon">apps</i>
                </div>
                <div class="label button actionable compact xsmall"><i class="icon">menu</i>
                </div>
                <div class="label button actionable compact xsmall"><i class="icon">more_vert</i>
                </div>
                <div class="label button actionable compact xsmall"><i class="icon">refresh</i>
                </div>
              </div>
            </div>
            <div class="multiple-sub-spacer"></div>
          </div>
        </div>
        <div class="card-block">
          <div style="width:95%; height:10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div style="width:95%; height:10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px;" class="placeholder">
          </div>
        </div>
        <div class="card-footer pink">Footer
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Actions
        </div>
      </div>
      <div class="multiple">
        <div onclick="javascript:remove_element ( '.card .image-wrp, .card &gt; img' )" class="label button actionable outlined">Remove image
        </div>
        <div onclick="javascript:remove_element ( '.card-header' )" class="label button actionable outlined">Remove header
        </div>
        <div onclick="javascript:remove_element ( '.card-block' )" class="label button actionable outlined">Remove block
        </div>
        <div onclick="javascript:remove_element ( '.card-footer' )" class="label button actionable outlined">Remove footer
        </div>
        <div onclick="javascript:toggle_class ( '.card', 'outlined' )" class="label button actionable outlined">Toggle card outline
        </div>
        <div onclick="javascript:toggle_class ( '.card .image-wrp, .card &gt; img', 'outlined' )" class="label button actionable outlined">Toggle image outline
        </div>
        <div onclick="javascript:toggle_class ( '.card-header', 'outlined' )" class="label button actionable outlined">Toggle header outline
        </div>
        <div onclick="javascript:toggle_class ( '.card-footer', 'outlined' )" class="label button actionable outlined">Toggle footer outline
        </div>
        <div onclick="javascript:toggle_class ( '.card', 'compact' )" class="label button actionable outlined">Toggle card compact
        </div>
        <div onclick="javascript:toggle_class ( '.card-header', 'compact' )" class="label button actionable outlined">Toggle header compact
        </div>
        <div onclick="javascript:toggle_class ( '.card-block', 'compact' )" class="label button actionable outlined">Toggle block compact
        </div>
        <div onclick="javascript:toggle_class ( '.card-footer', 'compact' )" class="label button actionable outlined">Toggle footer compact
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      function toggle_class ( selector, css_class ) {
        $(selector).toggleClass ( css_class );
      }
      function remove_element ( selector ) {
        $(selector).remove ();
      }
    </script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>