
extends ../layout.jade

//- Card

append main
  +divider-block Card

  +card
    +card-header.green Header
    +card-block Block
    +card-footer.olive Footer

  +divider-block Card with attached buttons
  
  +card
    +card-header.button.primary Something
    +card-block Block
    +card-footer.button.secondary Footer
      
  +divider-block Card with attached multiple
  
  +card
    +card-header.multiple.joined.equal
      +button.primary Primary
      +button.secondary Secondary
      +button.tertiary Tertiary
    +card-block Block
    +card-footer.multiple.joined.equal
      +button.red Red
      +button.green Green
      +button.blue Blue  

  +divider-block With image
  
  +multiple
    +card.xs-12.sm-6.md-3
      +infobar.small
        +infobar-left
          +icon('settings').xxxlarge
        +infobar-center
          +infobar-title
            +lorem-ipsum({ type: 'words', amount: 1 })
          +infobar-subtitle
            +lorem-ipsum({ type: 'words', amount: 2 })
        +infobar-right
          +button-icon('more_vert').outlined.compact
      img(src="/sample-wide.jpg")
      +card-block Block
      +card-footer Footer
    +card.xs-12.sm-6.md-3
      +image('/sample-wide.jpg')
        +image-caption.top.on-hover Caption
      +card-block Block
    +card.xs-12.sm-6.md-3
      +image('/sample-wide.jpg')
        +image-caption.top.transparent
          +section-right
            +button-icon("more_vert").compact.xsmall.black
      +card-footer Footer    
    +card.xs-12.sm-6.md-3
      +card-header Header
      img(src="/sample-wide.jpg")
      +card-block Block

  +divider-block Advanced

  +card.advanced
    +card-header.teal
      +sections
        +section-left
          +multiple
            +button-icon('thumb_down').compact.xsmall
            +button-icon("thumb_up").compact.xsmall
        +section-center.forced 
          p Header
        +section-right
          +multiple
            +button-icon('apps').compact.xsmall
            +button-icon('menu').compact.xsmall
            +button-icon('more_vert').compact.xsmall
            +button-icon('refresh').compact.xsmall
    +card-block
      +paragraph-sample
      +paragraph-sample
    +card-footer.pink Footer

  +divider-block Actions

  +multiple
    +button("remove_element ( '.card .image-wrp, .card > img' )").outlined Remove image
    +button("remove_element ( '.card-header' )").outlined Remove header
    +button("remove_element ( '.card-block' )").outlined Remove block
    +button("remove_element ( '.card-footer' )").outlined Remove footer
    +button("toggle_class ( '.card', 'outlined' )").outlined Toggle card outline
    +button("toggle_class ( '.card .image-wrp, .card > img', 'outlined' )").outlined Toggle image outline
    +button("toggle_class ( '.card-header', 'outlined' )").outlined Toggle header outline
    +button("toggle_class ( '.card-footer', 'outlined' )").outlined Toggle footer outline
    +button("toggle_class ( '.card', 'compact' )").outlined Toggle card compact
    +button("toggle_class ( '.card-header', 'compact' )").outlined Toggle header compact
    +button("toggle_class ( '.card-block', 'compact' )").outlined Toggle block compact
    +button("toggle_class ( '.card-footer', 'compact' )").outlined Toggle footer compact
    +button("toggle_height_limit ()").outlined Toggle advanced height limit

append body-end
  +script.
    function toggle_class ( selector, css_class ) {
      $(selector).toggleClass ( css_class );
    }
    function remove_element ( selector ) {
      $(selector).remove ();
    }
    var height_limited = false;
    function toggle_height_limit () {
      $('.card.advanced').height ( height_limited ? 'auto' : 250 );
      height_limited = !height_limited;
    }
    toggle_height_limit ();
    
