
extends ../layout.jade

//- Card

append main
  +divider Card

  +card
    +card-header.green Header
    +card-block Block
    +card-footer.olive Footer

  +divider With image
  
  +multiple
    +card.xs-12.sm-6.md-3
      +infobar.small
        +infobar-left
          +icon('settings').xxxlarge
        +infobar-center
          +infobar-title
            +lorem-ipsum({ type: 'words', amount: 1 })
          +infobar-subtitle
            +lorem-ipsum({ type: 'words', amount: 2 })
        +infobar-right
          +button-icon('more_vert').outlined.compact
      img(src="/sample-wide.jpg")
      +card-block Block
      +card-footer Footer
    +card.xs-12.sm-6.md-3
      +image('/sample-wide.jpg')
        +image-caption.top.on-hover Caption
      +card-block Block
    +card.xs-12.sm-6.md-3
      +image('/sample-wide.jpg')
        +image-caption.top.transparent
          +multiple
            +multiple-sub-right
              +button-icon("more_vert").compact.xsmall.black
      +card-footer Footer    
    +card.xs-12.sm-6.md-3
      +card-header Header
      img(src="/sample-wide.jpg")
      +card-block Block

  +divider Advanced

  +card(style="height: 250px;")
    +card-header.teal
      +multiple
        +multiple-sub-left
          +button-icon('thumb_down').compact.xsmall
          +button-icon("thumb_up").compact.xsmall
        +multiple-sub-center 
          p Header
        +multiple-sub-right
          +button-icon('apps').compact.xsmall
          +button-icon('menu').compact.xsmall
          +button-icon('more_vert').compact.xsmall
          +button-icon('refresh').compact.xsmall
    +card-block
      +paragraph-sample
      +paragraph-sample
    +card-footer.pink Footer

  +divider Actions

  +multiple
    +button("remove_element ( '.card .image-wrp, .card > img' )").outlined Remove image
    +button("remove_element ( '.card-header' )").outlined Remove header
    +button("remove_element ( '.card-block' )").outlined Remove block
    +button("remove_element ( '.card-footer' )").outlined Remove footer
    +button("toggle_class ( '.card', 'outlined' )").outlined Toggle card outline
    +button("toggle_class ( '.card .image-wrp, .card > img', 'outlined' )").outlined Toggle image outline
    +button("toggle_class ( '.card-header', 'outlined' )").outlined Toggle header outline
    +button("toggle_class ( '.card-footer', 'outlined' )").outlined Toggle footer outline
    +button("toggle_class ( '.card', 'compact' )").outlined Toggle card compact
    +button("toggle_class ( '.card-header', 'compact' )").outlined Toggle header compact
    +button("toggle_class ( '.card-block', 'compact' )").outlined Toggle block compact
    +button("toggle_class ( '.card-footer', 'compact' )").outlined Toggle footer compact

append body-end
  +script.
    function toggle_class ( selector, css_class ) {
      $(selector).toggleClass ( css_class );
    }
    function remove_element ( selector ) {
      $(selector).remove ();
    }
