<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">menu
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">more_vert
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Chat
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="chat-msg level-1 sender-Fabio"><a href="/" class="chat-msg-img" title="Fabio">
              <div class="container image-wrp rounded" title="Fabio"><img src="/sample.png"/>
              </div></a>
            <div class="chat-msg-indicator"></div>
            <div class="chat-msg-content">
              <div class="container outlined">
                <div class="container-header inherit outlined compact">
                  <div class="multiple-wrp expanded">
                    <div class="multiple">
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub left">
                        <div class="multiple-wrp">
                          <div class="multiple"><a href="/" title="Fabio" class="chat-msg-sender-name">Fabio</a>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub right">
                        <div class="multiple-wrp">
                          <div class="multiple">
                            <div class="label button actionable small outlined compact" data-timestamp-title='1441804023'>
                              <div class="icon-wrp">
                                <div class="icon">access_time
                                </div>
                              </div>
                            </div>
                            <div class="label button actionable small outlined compact" title="You are the owner">
                              <div class="icon-wrp">
                                <div class="icon">account_circle
                                </div>
                              </div>
                            </div>
                            <div class="label button actionable small outlined compact" title="Edit">
                              <div class="icon-wrp">
                                <div class="icon">mode_edit
                                </div>
                              </div>
                            </div>
                            <div class="label button actionable small outlined compact" title="Delete">
                              <div class="icon-wrp">
                                <div class="icon">delete
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                    </div>
                  </div>
                </div>
                <div class="container-content">This is the message, do you like it?
                </div>
              </div>
            </div>
          </div>
          <div class="chat-msg level-2 sender-Francesca"><a href="/" class="chat-msg-img" title="Francesca">
              <div class="container image-wrp rounded" title="Francesca"><img src="/sample.png"/>
              </div></a>
            <div class="chat-msg-indicator"></div>
            <div class="chat-msg-content">
              <div class="container outlined">
                <div class="container-header inherit outlined compact">
                  <div class="multiple-wrp expanded">
                    <div class="multiple">
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub left">
                        <div class="multiple-wrp">
                          <div class="multiple"><a href="/" title="Francesca" class="chat-msg-sender-name">Francesca</a>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub right">
                        <div class="multiple-wrp">
                          <div class="multiple">
                            <div class="label button actionable small outlined compact" data-timestamp-title='1441804113'>
                              <div class="icon-wrp">
                                <div class="icon">access_time
                                </div>
                              </div>
                            </div>
                            <div class="label button actionable small outlined compact" title="Reply">
                              <div class="icon-wrp">
                                <div class="icon">reply
                                </div>
                              </div>
                            </div>
                            <div class="label button actionable small outlined compact" title="Edit">
                              <div class="icon-wrp">
                                <div class="icon">mode_edit
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                    </div>
                  </div>
                </div>
                <div class="container-content">Not really...
                </div>
              </div>
            </div>
          </div>
          <div class="chat-msg level-2 sender-Valeria"><a href="/" class="chat-msg-img" title="Valeria">
              <div class="container image-wrp rounded" title="Valeria"><img src="/sample.png"/>
              </div></a>
            <div class="chat-msg-indicator"></div>
            <div class="chat-msg-content">
              <div class="container outlined">
                <div class="container-header inherit outlined compact">
                  <div class="multiple-wrp expanded">
                    <div class="multiple">
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub left">
                        <div class="multiple-wrp">
                          <div class="multiple"><a href="/" title="Valeria" class="chat-msg-sender-name">Valeria</a>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub right">
                        <div class="multiple-wrp">
                          <div class="multiple">
                            <div class="label button actionable small outlined compact" data-timestamp-title='1441804203'>
                              <div class="icon-wrp">
                                <div class="icon">access_time
                                </div>
                              </div>
                            </div>
                            <div class="label button actionable small outlined compact" title="Reply">
                              <div class="icon-wrp">
                                <div class="icon">reply
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                    </div>
                  </div>
                </div>
                <div class="container-content">I do!!!
                </div>
              </div>
            </div>
          </div>
          <div class="chat-msg level-3 sender-Valeria"><a href="/" class="chat-msg-img" title="Valeria">
              <div class="container image-wrp rounded" title="Valeria"><img src="/sample.png"/>
              </div></a>
            <div class="chat-msg-indicator"></div>
            <div class="chat-msg-content">
              <div class="container outlined">
                <div class="container-header inherit outlined compact">
                  <div class="multiple-wrp expanded">
                    <div class="multiple">
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub left">
                        <div class="multiple-wrp">
                          <div class="multiple"><a href="/" title="Valeria" class="chat-msg-sender-name">Valeria</a>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub right">
                        <div class="multiple-wrp">
                          <div class="multiple">
                            <div class="label button actionable small outlined compact" data-timestamp-title='1441804233'>
                              <div class="icon-wrp">
                                <div class="icon">access_time
                                </div>
                              </div>
                            </div>
                            <div class="label button actionable small outlined compact" title="Reply">
                              <div class="icon-wrp">
                                <div class="icon">reply
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                    </div>
                  </div>
                </div>
                <div class="container-content">Whoa I can reply to myself
                </div>
              </div>
            </div>
          </div>
          <div class="chat-msg level-4 sender-Valeria"><a href="/" class="chat-msg-img" title="Valeria">
              <div class="container image-wrp rounded" title="Valeria"><img src="/sample.png"/>
              </div></a>
            <div class="chat-msg-indicator"></div>
            <div class="chat-msg-content">
              <div class="container outlined">
                <div class="container-header inherit outlined compact">
                  <div class="multiple-wrp expanded">
                    <div class="multiple">
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub left">
                        <div class="multiple-wrp">
                          <div class="multiple"><a href="/" title="Valeria" class="chat-msg-sender-name">Valeria</a>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub right">
                        <div class="multiple-wrp">
                          <div class="multiple">
                            <div class="label button actionable small outlined compact" data-timestamp-title='1441804233'>
                              <div class="icon-wrp">
                                <div class="icon">access_time
                                </div>
                              </div>
                            </div>
                            <div class="label button actionable small outlined compact" title="Reply">
                              <div class="icon-wrp">
                                <div class="icon">reply
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                    </div>
                  </div>
                </div>
                <div class="container-content">And again
                </div>
              </div>
            </div>
          </div>
          <div class="chat-msg level-1 sender-Vittorio"><a href="/" class="chat-msg-img" title="Vittorio">
              <div class="container image-wrp rounded" title="Vittorio"><img src="/sample.png"/>
              </div></a>
            <div class="chat-msg-indicator"></div>
            <div class="chat-msg-content">
              <div class="container outlined">
                <div class="container-header inherit outlined compact">
                  <div class="multiple-wrp expanded">
                    <div class="multiple">
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub left">
                        <div class="multiple-wrp">
                          <div class="multiple"><a href="/" title="Vittorio" class="chat-msg-sender-name">Vittorio</a>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub-spacer"></div>
                      <div class="multiple-sub right">
                        <div class="multiple-wrp">
                          <div class="multiple">
                            <div class="label button actionable small outlined compact" data-timestamp-title='1441804023'>
                              <div class="icon-wrp">
                                <div class="icon">access_time
                                </div>
                              </div>
                            </div>
                            <div class="label button actionable small outlined compact" title="Edit">
                              <div class="icon-wrp">
                                <div class="icon">mode_edit
                                </div>
                              </div>
                            </div>
                            <div class="label button actionable small outlined compact" title="Delete">
                              <div class="icon-wrp">
                                <div class="icon">delete
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="multiple-sub-spacer"></div>
                    </div>
                  </div>
                </div>
                <div class="container-content">Is this a chat?
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>