
extends ../layout.jade

//- Chat

append main
  +divider-block Chat

  +container.outlined
    +chat-msg({
      sender: {
        name: 'Fabio',
        url: '/',
        img: '/sample.png'
      },
      permissions: {
        own: true,
        edit: true,
        'delete': true
      },
      message: {
        timestamp: Math.round ( new Date ().getTime () / 1000 - 270 ),
        content: 'This is the message, do you like it?',
        group: '1'
      }
    })
    +chat-msg({
      sender: {
        name: 'Francesca',
        url: '/',
        img: '/sample.png'
      },
      permissions: {
        edit: true,
        reply: true
      },
      message: {
        timestamp: Math.round ( new Date ().getTime () / 1000 - 180 ),
        content: 'Not really...',
        group: '1',
        level: 2
      }
    })
    +chat-msg({
      sender: {
        name: 'Valeria',
        url: '/',
        img: '/sample.png'
      },
      permissions: {
        reply: true
      },
      message: {
        timestamp: Math.round ( new Date ().getTime () / 1000 - 90 ),
        content: 'I do!!!',
        group: '1',
        level: 2
      }
    })
    +chat-msg({
      sender: {
        name: 'Valeria',
        url: '/',
        img: '/sample.png'
      },
      permissions: {
        reply: true
      },
      message: {
        timestamp: Math.round ( new Date ().getTime () / 1000 - 60 ),
        content: 'Whoa I can reply to myself',
        group: '1',
        level: 3
      }
    })
    +chat-msg({
      sender: {
        name: 'Valeria',
        url: '/',
        img: '/sample.png'
      },
      permissions: {
        reply: true
      },
      message: {
        timestamp: Math.round ( new Date ().getTime () / 1000 - 60 ),
        content: 'And again',
        group: '1',
        level: 4
      }
    })
    +chat-msg({
      sender: {
        name: 'Vittorio',
        url: '/',
        img: '/sample.png'
      },
      permissions: {
        edit: true,
        'delete': true
      },
      message: {
        timestamp: Math.round ( new Date ().getTime () / 1000 - 270 ),
        content: 'Is this a chat?',
        group: '2'
      }
    })
