
extends ../layout.jade

//- Checkbox

append main
  +divider Checkbox

  +multiple
    +checkbox({ name: "name", title: "Base", value: 4 })
    +checkbox({ name: "name", title: "Checked", value: 8, checked: true })
    +checkbox({ name: "name", title: "Disabled", value: 32, checked: true }).checkbox-disabled

  +divider Actions

  +multiple
    +button-simple("checkboxes_get_all ()") Get all
    +button-simple("checkboxes_action ( 'toggle' )") Toggle all
    +button-simple("checkboxes_action ( 'check' )") Check all
    +button-simple("checkboxes_action ( 'uncheck' )") Uncheck all

append body-end
  +script.
    function checkboxes_get_all () {

      var gets = _.map ( $('.checkbox'), function ( checkbox ) {

        return $(checkbox).checkbox ( 'get' );

      });

      $.noty ( gets.join ( ' - ' ) );

    }
    
    function checkboxes_action ( action ) {
      $('.checkbox').checkbox ( action );
    }
