//- bootstrap/colorpicker.jade

extends ../layout.jade

append main
    +divider Colorpicker

    +container-simple
        +colorpicker(id="colorpicker_test")

    +divider Input

    +input({name: "colorpicker_test", label: "Hex color..."}).white.no-floating
