
extends ../layout.jade

//- Colors

append main
  +divider Colors

  +multiple
    +button.primary Primary
    +button.secondary Secondary
    +button.tertiary Tertiary
    +button.quaternary Quaternary
    +button.white White
    +button.gray Gray
    +button.black Black
    +button.yellow Yellow
    +button.olive Olive
    +button.green Green
    +button.blue Blue
    +button.violet Violet
    +button.orange Orange
    +button.purple Purple
    +button.red Red
    +button.pink Pink
    +button.teal Teal
    +button.brown Brown
    +button.transparent Transparent
    +button.inherit Inherit
    +button.base Base

  +divider Text colors

  +container-simple.outlined
    +multiple
      .widget.text-primary Primary
      .widget.text-secondary Secondary
      .widget.text-tertiary Tertiary
      .widget.text-quaternary Quaternary
      .widget.text-white White
      .widget.text-gray Gray
      .widget.text-black Black
      .widget.text-yellow Yellow
      .widget.text-olive Olive
      .widget.text-green Green
      .widget.text-blue Blue
      .widget.text-violet Violet
      .widget.text-orange Orange
      .widget.text-purple Purple
      .widget.text-red Red
      .widget.text-pink Pink
      .widget.text-teal Teal
      .widget.text-brown Brown
      .widget.text-transparent Transparent
      .widget.text-inherit Inherit
      .widget.text-base Base

  +divider Links colors
  
  +container-simple.outlined
    +multiple
      .widget.link.link-primary Primary
      .widget.link.link-secondary Secondary
      .widget.link.link-tertiary Tertiary
      .widget.link.link-quaternary Quaternary
      .widget.link.link-white White
      .widget.link.link-gray Gray
      .widget.link.link-black Black
      .widget.link.link-yellow Yellow
      .widget.link.link-olive Olive
      .widget.link.link-green Green
      .widget.link.link-blue Blue
      .widget.link.link-violet Violet
      .widget.link.link-orange Orange
      .widget.link.link-purple Purple
      .widget.link.link-red Red
      .widget.link.link-pink Pink
      .widget.link.link-teal Teal
      .widget.link.link-brown Brown
      .widget.link.link-transparent Transparent
      .widget.link.link-inherit Inherit
      .widget.link.link-base Base

  +divider Actions

  +multiple.actions
    +button("toggle_class ( 'gradient' )").outlined Toggle gradient
    +button("toggle_class ( 'highlight' )").outlined Toggle highlight
    +button("toggle_class ( 'outlined' )").outlined Toggle outlined

append body-end
  +script.
    function toggle_class ( css_class ) {
      $('main .button').not('.actions .button').toggleClass ( css_class );
    }
