<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">menu
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">more_vert
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Colors
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label button actionable primary">Primary
          </div>
          <div class="label button actionable secondary">Secondary
          </div>
          <div class="label button actionable tertiary">Tertiary
          </div>
          <div class="label button actionable quaternary">Quaternary
          </div>
          <div class="label button actionable white">White
          </div>
          <div class="label button actionable gray">Gray
          </div>
          <div class="label button actionable black">Black
          </div>
          <div class="label button actionable yellow">Yellow
          </div>
          <div class="label button actionable olive">Olive
          </div>
          <div class="label button actionable green">Green
          </div>
          <div class="label button actionable blue">Blue
          </div>
          <div class="label button actionable violet">Violet
          </div>
          <div class="label button actionable orange">Orange
          </div>
          <div class="label button actionable purple">Purple
          </div>
          <div class="label button actionable red">Red
          </div>
          <div class="label button actionable pink">Pink
          </div>
          <div class="label button actionable teal">Teal
          </div>
          <div class="label button actionable brown">Brown
          </div>
          <div class="label button actionable transparent">Transparent
          </div>
          <div class="label button actionable inherit">Inherit
          </div>
          <div class="label button actionable base">Base
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Text colors
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="widget text-primary">Primary</div>
              <div class="widget text-secondary">Secondary</div>
              <div class="widget text-tertiary">Tertiary</div>
              <div class="widget text-quaternary">Quaternary</div>
              <div class="widget text-white">White</div>
              <div class="widget text-gray">Gray</div>
              <div class="widget text-black">Black</div>
              <div class="widget text-yellow">Yellow</div>
              <div class="widget text-olive">Olive</div>
              <div class="widget text-green">Green</div>
              <div class="widget text-blue">Blue</div>
              <div class="widget text-violet">Violet</div>
              <div class="widget text-orange">Orange</div>
              <div class="widget text-purple">Purple</div>
              <div class="widget text-red">Red</div>
              <div class="widget text-pink">Pink</div>
              <div class="widget text-teal">Teal</div>
              <div class="widget text-brown">Brown</div>
              <div class="widget text-transparent">Transparent</div>
              <div class="widget text-inherit">Inherit</div>
              <div class="widget text-base">Base</div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Links colors
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="widget link link-primary">Primary</div>
              <div class="widget link link-secondary">Secondary</div>
              <div class="widget link link-tertiary">Tertiary</div>
              <div class="widget link link-quaternary">Quaternary</div>
              <div class="widget link link-white">White</div>
              <div class="widget link link-gray">Gray</div>
              <div class="widget link link-black">Black</div>
              <div class="widget link link-yellow">Yellow</div>
              <div class="widget link link-olive">Olive</div>
              <div class="widget link link-green">Green</div>
              <div class="widget link link-blue">Blue</div>
              <div class="widget link link-violet">Violet</div>
              <div class="widget link link-orange">Orange</div>
              <div class="widget link link-purple">Purple</div>
              <div class="widget link link-red">Red</div>
              <div class="widget link link-pink">Pink</div>
              <div class="widget link link-teal">Teal</div>
              <div class="widget link link-brown">Brown</div>
              <div class="widget link link-transparent">Transparent</div>
              <div class="widget link link-inherit">Inherit</div>
              <div class="widget link link-base">Base</div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Actions
        </div>
      </div>
      <div class="multiple-wrp actions">
        <div class="multiple">
          <div onclick="javascript:toggle_class ( 'gradient' )" class="label button actionable outlined">Toggle gradient
          </div>
          <div onclick="javascript:toggle_class ( 'highlight' )" class="label button actionable outlined">Toggle highlight
          </div>
          <div onclick="javascript:toggle_class ( 'outlined' )" class="label button actionable outlined">Toggle outlined
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      function toggle_class ( css_class ) {
        $('main .button').not('.actions .button').toggleClass ( css_class );
      }
    </script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>