
extends ../layout.jade

//- Colors

append main
  +divider Base

  +multiple
    +button.outlined.primary Primary
    +button.outlined.secondary Secondary
    +button.outlined.tertiary Tertiary
    +button.outlined.quaternary Quaternary
    +button.outlined.white White
    +button.outlined.gray Gray
    +button.outlined.black Black
    +button.outlined.yellow Yellow
    +button.outlined.olive Olive
    +button.outlined.green Green
    +button.outlined.blue Blue
    +button.outlined.violet Violet
    +button.outlined.orange Orange
    +button.outlined.purple Purple
    +button.outlined.red Red
    +button.outlined.pink Pink
    +button.outlined.teal Teal
    +button.outlined.brown Brown
    +button.outlined.transparent Transparent
    +button.outlined.inherit Inherit
    +button.outlined.base Base

  +divider Gradient

  +multiple
    +button.outlined.primary.gradient Primary
    +button.outlined.secondary.gradient Secondary
    +button.outlined.tertiary.gradient Tertiary
    +button.outlined.quaternary.gradient Quaternary
    +button.outlined.white.gradient White
    +button.outlined.gray.gradient Gray
    +button.outlined.black.gradient Black
    +button.outlined.yellow.gradient Yellow
    +button.outlined.olive.gradient Olive
    +button.outlined.green.gradient Green
    +button.outlined.blue.gradient Blue
    +button.outlined.violet.gradient Violet
    +button.outlined.orange.gradient Orange
    +button.outlined.purple.gradient Purple
    +button.outlined.red.gradient Red
    +button.outlined.pink.gradient Pink
    +button.outlined.teal.gradient Teal
    +button.outlined.brown.gradient Brown
    +button.outlined.base.gradient Base

  +divider Text

  +container-simple.outlined
    p.text-primary [PRIMARY] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-secondary [SECONDARY] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-tertiary [TERTIARY] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-quaternary [QUATERNARY] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-white [WHITE] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-gray [GRAY] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-black [BLACK] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-yellow [YELLOW] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-olive [OLIVE] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-green [GREEN] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-blue [BLUE] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-violet [VIOLET] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-orange [ORANGE] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-purple [PURPLE] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-red [RED] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-pink [PINK] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-teal [TEAL] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-brown [BROWN] #[+lorem-ipsum({ type: 'words', amount: 10 })]
    p.text-transparent [TRANSPARENT] #[+lorem-ipsum({ type: 'words', amount: 10 })]
