
extends ../layout.jade

//- Colorpicker

append main
  +divider-block Colorpicker

  +container.outlined
    +colorpicker

  +divider-block Actions

  +multiple
    +button("colorpicker_get ()").outlined Get
    +multiple.joined
      +input({ name: "color", placeholder: "Color..." }).outlined
      +button("colorpicker_set ()").secondary.outlined Set
    +button("toggle_class ( 'invalid' )").outlined Toggle Invalid
    +button("toggle_class ( 'valid' )").outlined Toggle valid

append body-end
  +script.
    function colorpicker_get () {
      var color = $('.colorpicker').colorpicker ( 'get' );
      $.noty ({ body: '<div class="circle" style="background-color:' + color + '"></div>' });
      $.noty ( color );
    }
    function colorpicker_set () {
      var color = $("input[name='color']").val ();
      $('.colorpicker').colorpicker ( 'set', color );
    }
    function toggle_class ( css_class ) {
      $('.colorpicker').toggleClass ( css_class );
    }
