<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">menu
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">more_vert
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Base
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label button actionable outlined primary">Primary
          </div>
          <div class="label button actionable outlined secondary">Secondary
          </div>
          <div class="label button actionable outlined tertiary">Tertiary
          </div>
          <div class="label button actionable outlined quaternary">Quaternary
          </div>
          <div class="label button actionable outlined white">White
          </div>
          <div class="label button actionable outlined gray">Gray
          </div>
          <div class="label button actionable outlined black">Black
          </div>
          <div class="label button actionable outlined yellow">Yellow
          </div>
          <div class="label button actionable outlined olive">Olive
          </div>
          <div class="label button actionable outlined green">Green
          </div>
          <div class="label button actionable outlined blue">Blue
          </div>
          <div class="label button actionable outlined violet">Violet
          </div>
          <div class="label button actionable outlined orange">Orange
          </div>
          <div class="label button actionable outlined purple">Purple
          </div>
          <div class="label button actionable outlined red">Red
          </div>
          <div class="label button actionable outlined pink">Pink
          </div>
          <div class="label button actionable outlined teal">Teal
          </div>
          <div class="label button actionable outlined brown">Brown
          </div>
          <div class="label button actionable outlined transparent">Transparent
          </div>
          <div class="label button actionable outlined inherit">Inherit
          </div>
          <div class="label button actionable outlined base">Base
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Gradient
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label button actionable outlined primary gradient">Primary
          </div>
          <div class="label button actionable outlined secondary gradient">Secondary
          </div>
          <div class="label button actionable outlined tertiary gradient">Tertiary
          </div>
          <div class="label button actionable outlined quaternary gradient">Quaternary
          </div>
          <div class="label button actionable outlined white gradient">White
          </div>
          <div class="label button actionable outlined gray gradient">Gray
          </div>
          <div class="label button actionable outlined black gradient">Black
          </div>
          <div class="label button actionable outlined yellow gradient">Yellow
          </div>
          <div class="label button actionable outlined olive gradient">Olive
          </div>
          <div class="label button actionable outlined green gradient">Green
          </div>
          <div class="label button actionable outlined blue gradient">Blue
          </div>
          <div class="label button actionable outlined violet gradient">Violet
          </div>
          <div class="label button actionable outlined orange gradient">Orange
          </div>
          <div class="label button actionable outlined purple gradient">Purple
          </div>
          <div class="label button actionable outlined red gradient">Red
          </div>
          <div class="label button actionable outlined pink gradient">Pink
          </div>
          <div class="label button actionable outlined teal gradient">Teal
          </div>
          <div class="label button actionable outlined brown gradient">Brown
          </div>
          <div class="label button actionable outlined base gradient">Base
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Text
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <p class="text-primary">[PRIMARY] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-secondary">[SECONDARY] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-tertiary">[TERTIARY] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-quaternary">[QUATERNARY] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-white">[WHITE] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-gray">[GRAY] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-black">[BLACK] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-yellow">[YELLOW] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-olive">[OLIVE] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-green">[GREEN] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-blue">[BLUE] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-violet">[VIOLET] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-orange">[ORANGE] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-purple">[PURPLE] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-red">[RED] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-pink">[PINK] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-teal">[TEAL] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-brown">[BROWN] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
          <p class="text-transparent">[TRANSPARENT] Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur aliquet
          </p>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>