
extends ../layout.jade

//- Colorpicker

append main
  +divider Colorpicker

  +container.outlined
    +colorpicker(id="colorpicker_test")

  +divider Input

  +input({ name: "colorpicker_test", label: "Hex color..." }).white.no-floating.outlined
