
extends ../layout.jade

//- Container

append main
  +divider Simple

  +container-simple Simple

  +divider Nested

  +container-simple
    p Outside
    +container-simple.teal
      p Inside
      +container-simple.pink
        p Insider

  +divider With header

  +container-simple("Header") Content

  +divider With advanced header

  +container
    +container-header.secondary
      +multiple-right
        p Right
      +multiple-left
        p Left
      +multiple-center
        p Center
    +container-content Content

  +divider With footer

  +container
    +container-content Content
    +container-footer.teal Footer

  +divider With header & footer

  +container
    +container-header("Header").green
    +container-content Content
    +container-footer Footer

  +divider Advanced

  +container(style="height: 250px;")
    +container-header("Header")
      +multiple-left
        +button-icon('thumb_down').xsmall
        +button-icon("thumb_up").xsmall
      +multiple-right
        +button-icon('apps').xsmall
        +button-icon('menu').xsmall
        +button-icon('more_vert').xsmall
        +button-icon('refresh').xsmall
    +container-content
      +paragraph-sample
      +paragraph-sample
    +container-footer.pink Footer

  +divider Actions

  +multiple
    +button-simple("toggle_outline ( '.container' )").outlined Toggle container outlined
    +button-simple("toggle_outline ( '.container-header' )").outlined Toggle header outlined
    +button-simple("toggle_outline ( '.container-footer' )").outlined Toggle footer outlined

append body-end
  +script.
    function toggle_outline ( selector ) {
      $(selector).toggleClass ( 'outlined' );
    }
