
extends ../layout.jade

//- Container

append main
  +divider-block Container

  +container
    p
      +lorem-ipsum

  +divider-block Actions

  +multiple
    +button("toggle_class ( 'outlined' )").outlined Toggle outline
    +button("toggle_class ( 'compact' )").outlined Toggle compact

append body-end
  +script.
    function toggle_class ( css_class ) {
      $('.container').toggleClass ( css_class );
    }
