
extends ../layout.jade

//- Container

append main
  +divider Container

  +container
    p
      +lorem-ipsum

  +divider Actions

  +multiple
    +button("toggle_class ( 'outlined' )").outlined Toggle outline
    +button("toggle_class ( 'compact' )").outlined Toggle compact
    +button("limit_height ()").outlined Limit height

append body-end
  +script.
    function toggle_class ( css_class ) {
      $('.container').toggleClass ( css_class );
    }
    function limit_height () {
      $('.container').height ( 100 );
    }
