
extends ../layout.jade

//- Cookie

append main
  +divider-block Cookie

  +multiple.equal.joined
    +input({ name: "cookie_key", placeholder: "Key..." }).outlined
    +input({ name: "cookie_value", placeholder: "Value..." }).outlined
    +input({ name: "cookie_end", placeholder: "End..." }).outlined
    +input({ name: "cookie_path", placeholder: "Path..." }).outlined
    +input({ name: "cookie_domain", placeholder: "Domain..." }).outlined
    +input({ name: "cookie_secure", placeholder: "Secure..." }).outlined

  +divider-block Actions

  +multiple
    +button("cookie_get ()").outlined Get
    +button("cookie_set ()").outlined Set
    +button("cookie_remove ()").outlined Remove
    +button("cookie_has ()").outlined Has
    +button("cookie_keys ()").outlined Keys

append body-end
  +script.
    function cookie_input ( name ) {
      return $('input[name="cookie_' + name + '"]').val ();
    }
    function cookie_get () {
      $.noty ( '' + $.cookie.get ( cookie_input ( 'key' ) ) );
    }
    function cookie_set () {
      $.cookie.set ( cookie_input ( 'key' ), cookie_input ( 'value' ), Number(cookie_input ( 'end' )), cookie_input ( 'path' ), cookie_input ( 'domain' ), cookie_input ( 'secure' ) );
    }
    function cookie_remove () {
      $.cookie.remove ( cookie_input ( 'key' ), cookie_input ( 'path' ), cookie_input ( 'domain' ) );
    }
    function cookie_has () {
      $.noty ( '' + $.cookie.has ( cookie_input ( 'key' ) ) );
    }
    function cookie_keys () {
      $.noty ( $.cookie.keys ().join ( ' - ' ) );
    }
