<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Datepicker
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="datepicker" id="datepicker_test">
            <div class="datepicker-navigation">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact datepicker-navigation-prev" title="Previous month">
                  <div class="label-center"><i class="icon">navigation-chevron-left</i>
                  </div>
                </div>
              </div>
              <div class="datepicker-navigation-title"></div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact datepicker-navigation-next" title="Next month">
                  <div class="label-center"><i class="icon">navigation-chevron-right</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="datepicker-calendar">
              <div class="datepicker-days-names">
                <div title="Monday" class="datepicker-day-name">M</div>
                <div title="Tuesday" class="datepicker-day-name">T</div>
                <div title="Wednesday" class="datepicker-day-name">W</div>
                <div title="Thursday" class="datepicker-day-name">T</div>
                <div title="Friday" class="datepicker-day-name">F</div>
                <div title="Saturday" class="datepicker-day-name">S</div>
                <div title="Sunday" class="datepicker-day-name">S</div>
              </div>
              <div class="datepicker-days">
                <div class="datepicker-day-prev">23</div>
                <div class="datepicker-day-prev">24</div>
                <div class="datepicker-day-prev">25</div>
                <div class="datepicker-day-prev">26</div>
                <div class="datepicker-day-prev">27</div>
                <div class="datepicker-day-prev">28</div>
                <div class="datepicker-day-prev">29</div>
                <div class="datepicker-day-prev">30</div>
                <div class="datepicker-day-prev">31</div>
                <div class="datepicker-day">1</div>
                <div class="datepicker-day">2</div>
                <div class="datepicker-day">3</div>
                <div class="datepicker-day">4</div>
                <div class="datepicker-day">5</div>
                <div class="datepicker-day">6</div>
                <div class="datepicker-day">7</div>
                <div class="datepicker-day">8</div>
                <div class="datepicker-day">9</div>
                <div class="datepicker-day">10</div>
                <div class="datepicker-day">11</div>
                <div class="datepicker-day">12</div>
                <div class="datepicker-day">13</div>
                <div class="datepicker-day">14</div>
                <div class="datepicker-day">15</div>
                <div class="datepicker-day">16</div>
                <div class="datepicker-day">17</div>
                <div class="datepicker-day">18</div>
                <div class="datepicker-day">19</div>
                <div class="datepicker-day">20</div>
                <div class="datepicker-day">21</div>
                <div class="datepicker-day">22</div>
                <div class="datepicker-day">23</div>
                <div class="datepicker-day">24</div>
                <div class="datepicker-day">25</div>
                <div class="datepicker-day">26</div>
                <div class="datepicker-day">27</div>
                <div class="datepicker-day">28</div>
                <div class="datepicker-day">29</div>
                <div class="datepicker-day">30</div>
                <div class="datepicker-day">31</div>
                <div class="datepicker-day-next">1</div>
                <div class="datepicker-day-next">2</div>
                <div class="datepicker-day-next">3</div>
                <div class="datepicker-day-next">4</div>
                <div class="datepicker-day-next">5</div>
                <div class="datepicker-day-next">6</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Input
        </div>
      </div>
      <div class="input-wrp white no-floating">
        <input type="text" value="" name="datepicker_test" required="required" class="text-field"/>
        <label>YYYY-MM-DD</label>
        <div class="text-field-bar"></div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Actions
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable checkbox">
                  <input type="checkbox" name="datepicker_get_formatted" value="1"/>
                  <div class="label-center">Formatted<i class="icon on right">check_box</i><i class="icon off right">check_box_outline_blank</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div onclick="javascript:datepicker_get()" class="label actionable primary">
                  <div class="label-center">Get
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-floating white text-field-secondary">
                <input type="text" value="" name="datepicker_delta_months" required="required" class="text-field"/>
                <label>Delta months...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label-wrp button-wrp">
                <div onclick="javascript:datepicker_navigate()" class="label actionable secondary">
                  <div class="label-center">Navigate
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div onclick="javascript:datepicker_navigate_prev()" class="label actionable compact">
                  <div class="label-center"><i class="icon">navigation-chevron-left</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp">
                <div class="label">
                  <div class="label-center">Month
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div onclick="javascript:datepicker_navigate_next()" class="label actionable compact">
                  <div class="label-center"><i class="icon">navigation-chevron-right</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      function datepicker_get () {
          var formatted = $("input[name='datepicker_get_formatted']").prop ( 'checked' );
          var date = $('.datepicker').datepicker ( 'instance' ).get ( formatted );
          $.noty ( date ? ( formatted ? date : date.toLocaleString () ) : 'No one' );
      }
      
      function datepicker_navigate () {
          var delta_months = Number($("input[name='datepicker_delta_months']").val ());
          $('.datepicker').datepicker ( 'instance' ).navigate_month ( delta_months );
      }
      
      function datepicker_navigate_prev () {
          $('.datepicker').datepicker ( 'instance' ).prev_month ();
      }
      
      function datepicker_navigate_next () {
          $('.datepicker').datepicker ( 'instance' ).next_month ();
      }
    </script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>