
extends ../layout.jade

//- Datepicker

append main
  +divider Datepicker

  +container-simple.outlined
    +datepicker(id="datepicker_test")

  +divider Input

  +input({ name: "datepicker_test", label: "YYYY-MM-DD" }).white.no-floating.outlined

  +divider Actions

  +multiple
    +multiple.joined
      +checkbox({ name: "datepicker_get_formatted", title: "Formatted", value: 1 }).outlined
      +button("datepicker_get ()").primary.outlined Get
    +multiple.joined
      +input({ name: "datepicker_delta_months", label: "Delta months..." }).no-floating.white.text-field-secondary.outlined
      +button("datepicker_navigate ()").secondary.outlined Navigate
    +multiple.joined
      +button-icon("chevron_left", "datepicker_navigate_prev ()").outlined
      +label.outlined Month
      +button-icon("chevron_right", "datepicker_navigate_next ()").outlined

append body-end
  +script.
    function datepicker_get () {
      var formatted = $("input[name='datepicker_get_formatted']").prop ( 'checked' );
      var date = $('.datepicker').datepicker ( 'instance' ).get ( formatted );
      $.noty ( date ? ( formatted ? date : date.toLocaleString () ) : 'No one' );
    }

    function datepicker_navigate () {
      var delta_months = Number($("input[name='datepicker_delta_months']").val ());
      $('.datepicker').datepicker ( 'instance' ).navigate_month ( delta_months );
    }

    function datepicker_navigate_prev () {
      $('.datepicker').datepicker ( 'instance' ).prev_month ();
    }

    function datepicker_navigate_next () {
      $('.datepicker').datepicker ( 'instance' ).next_month ();
    }
