
extends ../layout.jade

//- Divider

append main
  +divider-block Horizontal

  +container.outlined
    +divider
    +divider Divider
    +divider
      +multiple
        +icon("settings")
        span With icon
    +divider
      +infobar({ icon: 'settings', title: 'An infobar inside', subtitle: 'Versatile...' }).inset
    +divider-block Block
    +divider-text Text
    +divider-spacer.gray

  +divider-block Vertical
  
  +container.outlined
    +multiple.fluid
      +container
        +paragraph-sample
      +divider.vertical
      +container
        +paragraph-sample
      +divider.vertical OR
      +container
        +paragraph-sample
