//- components/divider.jade

extends ../layout.jade

append main
    +divider Dividers

    +container-simple
        +divider Block
        +divider-linear Linear
        +divider-linear
            +infobar('action-settings', 'Advanced linear', 'very...').inset
        +divider-linear
        +divider-text Text
        +divider-spacer.gray
