
extends ../layout.jade

//- Divider

append main
  +divider Horizontal

  +container.outlined
    +divider Block
    +divider-linear Linear
    +divider-linear
      +infobar({ icon: 'settings', title: 'Advanced linear', subtitle: 'very...' }).inset
    +divider-linear
    +divider-text Text
    +divider-spacer.gray

  +divider Vertical
  
  +container.outlined
    +multiple.fluid
      +container
        +paragraph-sample
      +divider-linear.vertical OR
      +container
        +paragraph-sample
