
extends ../layout.jade

//- Divider

append main
  +divider Dividers

  +container-simple
    +divider Block
    +divider-linear Linear
    +divider-linear
      +infobar({ icon: 'settings', title: 'Advanced linear', subtitle: 'very...' }).inset
    +divider-linear
    +divider-text Text
    +divider-spacer.gray
