
extends ../layout.jade

//- Droppable

append main
  +divider-block Draggables

  +container.outlined
    +multiple.fluid
      +label.outlined.compact.drag-red
        .circle.red
      +label.outlined.compact.drag-yellow
        .circle.yellow
      +label.outlined.compact.drag-green
        .circle.green
      +label.outlined.compact.drag-blue
        .circle.blue
      +label.outlined.compact.drag-violet
        .circle.violet
      +label.outlined.compact.drag-teal
        .circle.teal
      +label.outlined.compact.drag-orange
        .circle.orange
          
  +divider-block Droppables

  +container.outlined
    +multiple.fluid
      +container.outlined.compact.text-center.drop-red
        span.text-red 0
      +container.outlined.compact.text-center.drop-yellow
        span.text-yellow 0
      +container.outlined.compact.text-center.drop-green
        span.text-green 0
      +container.outlined.compact.text-center.drop-blue
        span.text-blue 0
      +container.outlined.compact.text-center.drop-violet
        span.text-violet 0
      +container.outlined.compact.text-center.drop-teal
        span.text-teal 0
      +container.outlined.compact.text-center.drop-orange
        span.text-orange 0

append body-end
  +noty({ body: "Drag the draggables to the droppables", ttl: "forever" })
  +script.
    $(function () {
      var colors = ['red', 'yellow', 'green', 'blue', 'violet', 'teal', 'orange']; 
      for ( var i = 0, l = colors.length; i < l; i++ ) {
        $('.drag-' + colors[i]).draggable ({
          revertable: true
        });
        $('.drop-' + colors[i]).droppable ({
          selector: '.drag-' + colors[i],
          callbacks: {
            drop: function ( data ) {
              var $span = $(data.droppable).find ( 'span' ),
                  nr = Number ( $span.html () );
              $span.html ( nr + 1 );
            }
          }
        });
      } 
    });
