
extends ../layout.jade

//- Dropdown

//- TODO: Maybe add +divider-spacer when appropriate (when there are only buttons for example)

append main
  +divider Dropdown

  +multiple
    +dropdown-btn({ title: "Base", id: "base" }).outlined
    +dropdown-btn({ title: "Attached", id: "attached" }).outlined
    +dropdown-btn({ title: "No tip", id: "notip" }).outlined
    +dropdown-btn({ icon: "settings", id: "base" }).outlined
    +dropdown-btn({ icon: "settings", id: "base" }).rounded.outlined
    +dropdown-btn({ title: "Dividers", id: "dividers" }).outlined
    +dropdown-btn({ title: "Advanced", id: "advanced" }).outlined
    +dropdown-btn({ title: "Long text", id: "long_text" }).outlined
    +dropdown-btn({ title: "Long text 2", id: "long_text2" }).outlined

append body
    +dropdown("base")
      +card-block
        +multiple.vertical.stretched.nowrap.joined
          +button.sharp Action 1
          +button.sharp Action 2
          +button.sharp Action 3
          +button.sharp Action 312313
    +dropdown("attached").attached
      +card-block
        p Attached
    +dropdown("notip").no-tip
      +card-block
        p No tip
    +dropdown("dividers")
      +card-block
        +multiple.vertical.stretched.nowrap
          +button.sharp Action 1
          +divider Divider
          +button.sharp Action 2
          +divider-linear Divider
          +button.sharp Action 3
          +divider-linear
          +button.sharp Action 4
          +divider-linear
          +divider-text Section
          +button.sharp Action 5
    +dropdown("advanced")
      +card-header("Header").inherit
      +card-block Content
      +card-footer Footer
    +dropdown("long_text")
      +card-header("Lorem ipsum").inherit
      +card-block
        +lorem-ipsum
      +card-footer Footer
    +dropdown("long_text2")
      +card-header("Lorem ipsum 2").inherit
      +card-block
        +lorem-ipsum
        +lorem-ipsum
        +lorem-ipsum
      +card-footer Footer
