
extends ../layout.jade

//- Dropdown

append main
  +divider-block Dropdown

  +multiple
    +dropdown-btn({ title: "Base", id: "base" }).outlined
    +dropdown-btn({ title: "Attached", id: "attached" }).outlined
    +dropdown-btn({ title: "No tip", id: "no-tip" }).outlined
    +dropdown-btn({ icon: "settings", id: "base" }).outlined.compact
    +dropdown-btn({ icon: "settings", id: "base" }).rounded.outlined.compact
    +dropdown-btn({ title: "Dividers", id: "dividers" }).outlined
    +dropdown-btn({ title: "Advanced", id: "advanced" }).outlined
    +dropdown-btn({ title: "Long text", id: "long_text" }).outlined

append body
  #base.dropdown.container
    +multiple.vertical.stretched.no-wrap.joined
      +button.sharp Action 1
      +button.sharp Action 2
      +button.sharp Action 3
      +button.sharp Action 312313
          
  #attached.dropdown.attached.container
    p Attached
        
  #no-tip.dropdown.no-tip.container
    p No tip
      
  #dividers.dropdown.container
    +multiple.vertical.stretched.no-wrap
      +button.sharp Action 1
      +divider
      +button.sharp Action 2
      +divider Divider
      +button.sharp Action 3
      +divider-block Block
      +button.sharp Action 4
      +divider-text Text
      +button.sharp Action 5
      +divider-spacer
      +button.sharp Action 6
      
  #advanced.dropdown.card
    +card-header.inherit Header
    +card-block Content
    +card-footer Footer
    
  #long_text.dropdown.card.outlined
    +card-header.outlined Lorem Ipsum
    +card-block
      +lorem-ipsum
      +lorem-ipsum
      +lorem-ipsum
    +card-footer.outlined Footer
