
extends ../layout.jade

//- Embedded

append main
  +divider Embedded

  +container-simple.outlined.limited.sm-12.md-8.lg-6.xl-4
    +embedded('//www.youtube.com/embed/df-eLzao63I?rel=0', true).ratio-16-9

append body-end
  +noty({ body: 'Available ratios are: 21:9, 16:9, 4:3, 1:1', ttl: 'forever' })
