
extends ../layout.jade

//- Flags

append main
  +divider-block Flags

  +container.outlined
    table.table.sortable.selectable.striped.hoverable.bordered
      thead
        tr
          th.text-center Flag
          th(data-sort="string") Name
          th(data-sort="string").text-center ISO 3166-2
          th(data-sort="string") Aliases
      tbody
        tr
          td.text-center
            +flag("afghanistan")
          td Afghanistan
          td.text-center af
          td
        tr
          td.text-center
            +flag("aland-islands")
          td Aland Islands
          td.text-center ax
          td
        tr
          td.text-center
            +flag("albania")
          td Albania
          td.text-center al
          td
        tr
          td.text-center
            +flag("algeria")
          td Algeria
          td.text-center dz
          td
        tr
          td.text-center
            +flag("american-samoa")
          td American Samoa
          td.text-center as
          td
        tr
          td.text-center
            +flag("andorra")
          td Andorra
          td.text-center ad
          td
        tr
          td.text-center
            +flag("angola")
          td Angola
          td.text-center ao
          td
        tr
          td.text-center
            +flag("anguilla")
          td Anguilla
          td.text-center ai
          td
        tr
          td.text-center
            +flag("antigua")
          td Antigua
          td.text-center ag
          td
        tr
          td.text-center
            +flag("argentina")
          td Argentina
          td.text-center ar
          td
        tr
          td.text-center
            +flag("armenia")
          td Armenia
          td.text-center am
          td
        tr
          td.text-center
            +flag("aruba")
          td Aruba
          td.text-center aw
          td
        tr
          td.text-center
            +flag("australia")
          td Australia
          td.text-center au
          td
        tr
          td.text-center
            +flag("austria")
          td Austria
          td.text-center at
          td
        tr
          td.text-center
            +flag("azerbaijan")
          td Azerbaijan
          td.text-center az
          td
        tr
          td.text-center
            +flag("bahamas")
          td Bahamas
          td.text-center bs
          td
        tr
          td.text-center
            +flag("bahrain")
          td Bahrain
          td.text-center bh
          td
        tr
          td.text-center
            +flag("bangladesh")
          td Bangladesh
          td.text-center bd
          td
        tr
          td.text-center
            +flag("barbados")
          td Barbados
          td.text-center bb
          td
        tr
          td.text-center
            +flag("belarus")
          td Belarus
          td.text-center by
          td
        tr
          td.text-center
            +flag("belgium")
          td Belgium
          td.text-center be
          td
        tr
          td.text-center
            +flag("belize")
          td Belize
          td.text-center bz
          td
        tr
          td.text-center
            +flag("benin")
          td Benin
          td.text-center bj
          td
        tr
          td.text-center
            +flag("bermuda")
          td Bermuda
          td.text-center bm
          td
        tr
          td.text-center
            +flag("bhutan")
          td Bhutan
          td.text-center bt
          td
        tr
          td.text-center
            +flag("bolivia")
          td Bolivia
          td.text-center bo
          td
        tr
          td.text-center
            +flag("bosnia")
          td Bosnia
          td.text-center ba
          td
        tr
          td.text-center
            +flag("botswana")
          td Botswana
          td.text-center bw
          td
        tr
          td.text-center
            +flag("bouvet-island")
          td Bouvet Island
          td.text-center bv
          td
        tr
          td.text-center
            +flag("brazil")
          td Brazil
          td.text-center br
          td
        tr
          td.text-center
            +flag("british-virgin-islands")
          td British Virgin Islands
          td.text-center vg
          td
        tr
          td.text-center
            +flag("brunei")
          td Brunei
          td.text-center bn
          td
        tr
          td.text-center
            +flag("bulgaria")
          td Bulgaria
          td.text-center bg
          td
        tr
          td.text-center
            +flag("burkina-faso")
          td Burkina Faso
          td.text-center bf
          td
        tr
          td.text-center
            +flag("burma")
          td Burma
          td.text-center mm
          td Myanmar
        tr
          td.text-center
            +flag("burundi")
          td Burundi
          td.text-center bi
          td
        tr
          td.text-center
            +flag("caicos-islands")
          td Caicos Islands
          td.text-center tc
          td
        tr
          td.text-center
            +flag("cambodia")
          td Cambodia
          td.text-center kh
          td
        tr
          td.text-center
            +flag("cameroon")
          td Cameroon
          td.text-center cm
          td
        tr
          td.text-center
            +flag("canada")
          td Canada
          td.text-center ca
          td
        tr
          td.text-center
            +flag("cape-verde")
          td Cape Verde
          td.text-center cv
          td
        tr
          td.text-center
            +flag("cayman-islands")
          td Cayman Islands
          td.text-center ky
          td
        tr
          td.text-center
            +flag("central-african-republic")
          td Central African Republic
          td.text-center cf
          td
        tr
          td.text-center
            +flag("chad")
          td Chad
          td.text-center td
          td
        tr
          td.text-center
            +flag("chile")
          td Chile
          td.text-center cl
          td
        tr
          td.text-center
            +flag("china")
          td China
          td.text-center cn
          td
        tr
          td.text-center
            +flag("christmas-island")
          td Christmas Island
          td.text-center cx
          td
        tr
          td.text-center
            +flag("colombia")
          td Colombia
          td.text-center co
          td
        tr
          td.text-center
            +flag("cocos-islands")
          td Cocos Islands
          td.text-center cc
          td
        tr
          td.text-center
            +flag("comoros")
          td Comoros
          td.text-center km
          td
        tr
          td.text-center
            +flag("congo-brazzaville")
          td Congo Brazzaville
          td.text-center cg
          td
        tr
          td.text-center
            +flag("congo")
          td Congo
          td.text-center cd
          td
        tr
          td.text-center
            +flag("cook-islands")
          td Cook Islands
          td.text-center ck
          td
        tr
          td.text-center
            +flag("costa-rica")
          td Costa Rica
          td.text-center cr
          td
        tr
          td.text-center
            +flag("cote-divoire")
          td Cote Divoire
          td.text-center ci
          td
        tr
          td.text-center
            +flag("croatia")
          td Croatia
          td.text-center hr
          td
        tr
          td.text-center
            +flag("cuba")
          td Cuba
          td.text-center cu
          td
        tr
          td.text-center
            +flag("cyprus")
          td Cyprus
          td.text-center cy
          td
        tr
          td.text-center
            +flag("czech-republic")
          td Czech Republic
          td.text-center cz
          td
        tr
          td.text-center
            +flag("denmark")
          td Denmark
          td.text-center dk
          td
        tr
          td.text-center
            +flag("djibouti")
          td Djibouti
          td.text-center dj
          td
        tr
          td.text-center
            +flag("dominica")
          td Dominica
          td.text-center dm
          td
        tr
          td.text-center
            +flag("dominican-republic")
          td Dominican Republic
          td.text-center do
          td
        tr
          td.text-center
            +flag("ecuador")
          td Ecuador
          td.text-center ec
          td
        tr
          td.text-center
            +flag("egypt")
          td Egypt
          td.text-center eg
          td
        tr
          td.text-center
            +flag("el-salvador")
          td El Salvador
          td.text-center sv
          td
        tr
          td.text-center
            +flag("england")
          td England
          td.text-center gb
          td uk, United Kingdom
        tr
          td.text-center
            +flag("equatorial-guinea")
          td Equatorial Guinea
          td.text-center gq
          td
        tr
          td.text-center
            +flag("eritrea")
          td Eritrea
          td.text-center er
          td
        tr
          td.text-center
            +flag("estonia")
          td Estonia
          td.text-center ee
          td
        tr
          td.text-center
            +flag("ethiopia")
          td Ethiopia
          td.text-center et
          td
        tr
          td.text-center
            +flag("european-union")
          td European Union
          td.text-center eu
          td
        tr
          td.text-center
            +flag("falkland-islands")
          td Falkland Islands
          td.text-center fk
          td
        tr
          td.text-center
            +flag("faroe-islands")
          td Faroe Islands
          td.text-center fo
          td
        tr
          td.text-center
            +flag("fiji")
          td Fiji
          td.text-center fj
          td
        tr
          td.text-center
            +flag("finland")
          td Finland
          td.text-center fi
          td
        tr
          td.text-center
            +flag("france")
          td France
          td.text-center fr
          td
        tr
          td.text-center
            +flag("french-guiana")
          td French Guiana
          td.text-center gf
          td
        tr
          td.text-center
            +flag("french-polynesia")
          td French Polynesia
          td.text-center pf
          td
        tr
          td.text-center
            +flag("french-territories")
          td French Territories
          td.text-center tf
          td
        tr
          td.text-center
            +flag("gabon")
          td Gabon
          td.text-center ga
          td
        tr
          td.text-center
            +flag("gambia")
          td Gambia
          td.text-center gm
          td
        tr
          td.text-center
            +flag("georgia")
          td Georgia
          td.text-center ge
          td
        tr
          td.text-center
            +flag("germany")
          td Germany
          td.text-center de
          td
        tr
          td.text-center
            +flag("ghana")
          td Ghana
          td.text-center gh
          td
        tr
          td.text-center
            +flag("gibraltar")
          td Gibraltar
          td.text-center gi
          td
        tr
          td.text-center
            +flag("greece")
          td Greece
          td.text-center gr
          td
        tr
          td.text-center
            +flag("greenland")
          td Greenland
          td.text-center gl
          td
        tr
          td.text-center
            +flag("grenada")
          td Grenada
          td.text-center gd
          td
        tr
          td.text-center
            +flag("guadeloupe")
          td Guadeloupe
          td.text-center gp
          td
        tr
          td.text-center
            +flag("guam")
          td Guam
          td.text-center gu
          td
        tr
          td.text-center
            +flag("guatemala")
          td Guatemala
          td.text-center gt
          td
        tr
          td.text-center
            +flag("guinea-bissau")
          td Guinea Bissau
          td.text-center gw
          td
        tr
          td.text-center
            +flag("guinea")
          td Guinea
          td.text-center gn
          td
        tr
          td.text-center
            +flag("guyana")
          td Guyana
          td.text-center gy
          td
        tr
          td.text-center
            +flag("haiti")
          td Haiti
          td.text-center ht
          td
        tr
          td.text-center
            +flag("heard-island")
          td Heard Island
          td.text-center hm
          td
        tr
          td.text-center
            +flag("honduras")
          td Honduras
          td.text-center hn
          td
        tr
          td.text-center
            +flag("hong-kong")
          td Hong Kong
          td.text-center hk
          td
        tr
          td.text-center
            +flag("hungary")
          td Hungary
          td.text-center hu
          td
        tr
          td.text-center
            +flag("iceland")
          td Iceland
          td.text-center is
          td
        tr
          td.text-center
            +flag("india")
          td India
          td.text-center in
          td
        tr
          td.text-center
            +flag("indian-ocean-territory")
          td Indian Ocean Territory
          td.text-center io
          td
        tr
          td.text-center
            +flag("indonesia")
          td Indonesia
          td.text-center id
          td
        tr
          td.text-center
            +flag("iran")
          td Iran
          td.text-center ir
          td
        tr
          td.text-center
            +flag("iraq")
          td Iraq
          td.text-center iq
          td
        tr
          td.text-center
            +flag("ireland")
          td Ireland
          td.text-center ie
          td
        tr
          td.text-center
            +flag("israel")
          td Israel
          td.text-center il
          td
        tr
          td.text-center
            +flag("italy")
          td Italy
          td.text-center it
          td
        tr
          td.text-center
            +flag("jamaica")
          td Jamaica
          td.text-center jm
          td
        tr
          td.text-center
            +flag("jan-mayen")
          td Jan Mayen
          td.text-center sj
          td Svalbard
        tr
          td.text-center
            +flag("japan")
          td Japan
          td.text-center jp
          td
        tr
          td.text-center
            +flag("jordan")
          td Jordan
          td.text-center jo
          td
        tr
          td.text-center
            +flag("kazakhstan")
          td Kazakhstan
          td.text-center kz
          td
        tr
          td.text-center
            +flag("kenya")
          td Kenya
          td.text-center ke
          td
        tr
          td.text-center
            +flag("kiribati")
          td Kiribati
          td.text-center ki
          td
        tr
          td.text-center
            +flag("kuwait")
          td Kuwait
          td.text-center kw
          td
        tr
          td.text-center
            +flag("kyrgyzstan")
          td Kyrgyzstan
          td.text-center kg
          td
        tr
          td.text-center
            +flag("laos")
          td Laos
          td.text-center la
          td
        tr
          td.text-center
            +flag("latvia")
          td Latvia
          td.text-center lv
          td
        tr
          td.text-center
            +flag("lebanon")
          td Lebanon
          td.text-center lb
          td
        tr
          td.text-center
            +flag("lesotho")
          td Lesotho
          td.text-center ls
          td
        tr
          td.text-center
            +flag("liberia")
          td Liberia
          td.text-center lr
          td
        tr
          td.text-center
            +flag("libya")
          td Libya
          td.text-center ly
          td
        tr
          td.text-center
            +flag("liechtenstein")
          td Liechtenstein
          td.text-center li
          td
        tr
          td.text-center
            +flag("lithuania")
          td Lithuania
          td.text-center lt
          td
        tr
          td.text-center
            +flag("luxembourg")
          td Luxembourg
          td.text-center lu
          td
        tr
          td.text-center
            +flag("macau")
          td Macau
          td.text-center mo
          td
        tr
          td.text-center
            +flag("macedonia")
          td Macedonia
          td.text-center mk
          td
        tr
          td.text-center
            +flag("madagascar")
          td Madagascar
          td.text-center mg
          td
        tr
          td.text-center
            +flag("malawi")
          td Malawi
          td.text-center mw
          td
        tr
          td.text-center
            +flag("malaysia")
          td Malaysia
          td.text-center my
          td
        tr
          td.text-center
            +flag("maldives")
          td Maldives
          td.text-center mv
          td
        tr
          td.text-center
            +flag("mali")
          td Mali
          td.text-center ml
          td
        tr
          td.text-center
            +flag("malta")
          td Malta
          td.text-center mt
          td
        tr
          td.text-center
            +flag("marshall-islands")
          td Marshall Islands
          td.text-center mh
          td
        tr
          td.text-center
            +flag("martinique")
          td Martinique
          td.text-center mq
          td
        tr
          td.text-center
            +flag("mauritania")
          td Mauritania
          td.text-center mr
          td
        tr
          td.text-center
            +flag("mauritius")
          td Mauritius
          td.text-center mu
          td
        tr
          td.text-center
            +flag("mayotte")
          td Mayotte
          td.text-center yt
          td
        tr
          td.text-center
            +flag("mexico")
          td Mexico
          td.text-center mx
          td
        tr
          td.text-center
            +flag("micronesia")
          td Micronesia
          td.text-center fm
          td
        tr
          td.text-center
            +flag("moldova")
          td Moldova
          td.text-center md
          td
        tr
          td.text-center
            +flag("monaco")
          td Monaco
          td.text-center mc
          td
        tr
          td.text-center
            +flag("mongolia")
          td Mongolia
          td.text-center mn
          td
        tr
          td.text-center
            +flag("montenegro")
          td Montenegro
          td.text-center me
          td
        tr
          td.text-center
            +flag("montserrat")
          td Montserrat
          td.text-center ms
          td
        tr
          td.text-center
            +flag("morocco")
          td Morocco
          td.text-center ma
          td
        tr
          td.text-center
            +flag("mozambique")
          td Mozambique
          td.text-center mz
          td
        tr
          td.text-center
            +flag("namibia")
          td Namibia
          td.text-center na
          td
        tr
          td.text-center
            +flag("nauru")
          td Nauru
          td.text-center nr
          td
        tr
          td.text-center
            +flag("nepal")
          td Nepal
          td.text-center np
          td
        tr
          td.text-center
            +flag("netherlands-antilles")
          td Netherlands Antilles
          td.text-center an
          td
        tr
          td.text-center
            +flag("netherlands")
          td Netherlands
          td.text-center nl
          td
        tr
          td.text-center
            +flag("new-caledonia")
          td New Caledonia
          td.text-center nc
          td
        tr
          td.text-center
            +flag("new-guinea")
          td New Guinea
          td.text-center pg
          td
        tr
          td.text-center
            +flag("new-zealand")
          td New Zealand
          td.text-center nz
          td
        tr
          td.text-center
            +flag("nicaragua")
          td Nicaragua
          td.text-center ni
          td
        tr
          td.text-center
            +flag("niger")
          td Niger
          td.text-center ne
          td
        tr
          td.text-center
            +flag("nigeria")
          td Nigeria
          td.text-center ng
          td
        tr
          td.text-center
            +flag("niue")
          td Niue
          td.text-center nu
          td
        tr
          td.text-center
            +flag("norfolk-island")
          td Norfolk Island
          td.text-center nf
          td
        tr
          td.text-center
            +flag("north-korea")
          td North Korea
          td.text-center kp
          td
        tr
          td.text-center
            +flag("northern-mariana-islands")
          td Northern Mariana Islands
          td.text-center mp
          td
        tr
          td.text-center
            +flag("norway")
          td Norway
          td.text-center no
          td
        tr
          td.text-center
            +flag("oman")
          td Oman
          td.text-center om
          td
        tr
          td.text-center
            +flag("pakistan")
          td Pakistan
          td.text-center pk
          td
        tr
          td.text-center
            +flag("palau")
          td Palau
          td.text-center pw
          td
        tr
          td.text-center
            +flag("palestine")
          td Palestine
          td.text-center ps
          td
        tr
          td.text-center
            +flag("panama")
          td Panama
          td.text-center pa
          td
        tr
          td.text-center
            +flag("paraguay")
          td Paraguay
          td.text-center py
          td
        tr
          td.text-center
            +flag("peru")
          td Peru
          td.text-center pe
          td
        tr
          td.text-center
            +flag("philippines")
          td Philippines
          td.text-center ph
          td
        tr
          td.text-center
            +flag("pitcairn-islands")
          td Pitcairn Islands
          td.text-center pn
          td
        tr
          td.text-center
            +flag("poland")
          td Poland
          td.text-center pl
          td
        tr
          td.text-center
            +flag("portugal")
          td Portugal
          td.text-center pt
          td
        tr
          td.text-center
            +flag("puerto-rico")
          td Puerto Rico
          td.text-center pr
          td
        tr
          td.text-center
            +flag("qatar")
          td Qatar
          td.text-center qa
          td
        tr
          td.text-center
            +flag("reunion")
          td Reunion
          td.text-center re
          td
        tr
          td.text-center
            +flag("romania")
          td Romania
          td.text-center ro
          td
        tr
          td.text-center
            +flag("russia")
          td Russia
          td.text-center ru
          td
        tr
          td.text-center
            +flag("rwanda")
          td Rwanda
          td.text-center rw
          td
        tr
          td.text-center
            +flag("saint-helena")
          td Saint Helena
          td.text-center sh
          td
        tr
          td.text-center
            +flag("saint-kitts-and-nevis")
          td Saint Kitts And Nevis
          td.text-center kn
          td
        tr
          td.text-center
            +flag("saint-lucia")
          td Saint Lucia
          td.text-center lc
          td
        tr
          td.text-center
            +flag("saint-pierre")
          td Saint Pierre
          td.text-center pm
          td
        tr
          td.text-center
            +flag("saint-vincent")
          td Saint Vincent
          td.text-center vc
          td
        tr
          td.text-center
            +flag("samoa")
          td Samoa
          td.text-center ws
          td
        tr
          td.text-center
            +flag("san-marino")
          td San Marino
          td.text-center sm
          td
        tr
          td.text-center
            +flag("sandwich-islands")
          td Sandwich Islands
          td.text-center gs
          td
        tr
          td.text-center
            +flag("sao-tome")
          td Sao Tome
          td.text-center st
          td
        tr
          td.text-center
            +flag("saudi-arabia")
          td Saudi Arabia
          td.text-center sa
          td
        tr
          td.text-center
            +flag("senegal")
          td Senegal
          td.text-center sn
          td
        tr
          td.text-center
            +flag("serbia")
          td Serbia
          td.text-center cs
          td
        tr
          td.text-center
            +flag("serbia")
          td Serbia
          td.text-center rs
          td
        tr
          td.text-center
            +flag("seychelles")
          td Seychelles
          td.text-center sc
          td
        tr
          td.text-center
            +flag("sierra-leone")
          td Sierra Leone
          td.text-center sl
          td
        tr
          td.text-center
            +flag("singapore")
          td Singapore
          td.text-center sg
          td
        tr
          td.text-center
            +flag("slovakia")
          td Slovakia
          td.text-center sk
          td
        tr
          td.text-center
            +flag("slovenia")
          td Slovenia
          td.text-center si
          td
        tr
          td.text-center
            +flag("solomon-islands")
          td Solomon Islands
          td.text-center sb
          td
        tr
          td.text-center
            +flag("somalia")
          td Somalia
          td.text-center so
          td
        tr
          td.text-center
            +flag("south-africa")
          td South Africa
          td.text-center za
          td
        tr
          td.text-center
            +flag("south-korea")
          td South Korea
          td.text-center kr
          td
        tr
          td.text-center
            +flag("spain")
          td Spain
          td.text-center es
          td
        tr
          td.text-center
            +flag("sri-lanka")
          td Sri Lanka
          td.text-center lk
          td
        tr
          td.text-center
            +flag("sudan")
          td Sudan
          td.text-center sd
          td
        tr
          td.text-center
            +flag("suriname")
          td Suriname
          td.text-center sr
          td
        tr
          td.text-center
            +flag("swaziland")
          td Swaziland
          td.text-center sz
          td
        tr
          td.text-center
            +flag("sweden")
          td Sweden
          td.text-center se
          td
        tr
          td.text-center
            +flag("switzerland")
          td Switzerland
          td.text-center ch
          td
        tr
          td.text-center
            +flag("syria")
          td Syria
          td.text-center sy
          td
        tr
          td.text-center
            +flag("taiwan")
          td Taiwan
          td.text-center tw
          td
        tr
          td.text-center
            +flag("tajikistan")
          td Tajikistan
          td.text-center tj
          td
        tr
          td.text-center
            +flag("tanzania")
          td Tanzania
          td.text-center tz
          td
        tr
          td.text-center
            +flag("thailand")
          td Thailand
          td.text-center th
          td
        tr
          td.text-center
            +flag("timorleste")
          td Timorleste
          td.text-center tl
          td
        tr
          td.text-center
            +flag("togo")
          td Togo
          td.text-center tg
          td
        tr
          td.text-center
            +flag("tokelau")
          td Tokelau
          td.text-center tk
          td
        tr
          td.text-center
            +flag("tonga")
          td Tonga
          td.text-center to
          td
        tr
          td.text-center
            +flag("trinidad")
          td Trinidad
          td.text-center tt
          td
        tr
          td.text-center
            +flag("tunisia")
          td Tunisia
          td.text-center tn
          td
        tr
          td.text-center
            +flag("turkey")
          td Turkey
          td.text-center tr
          td
        tr
          td.text-center
            +flag("turkmenistan")
          td Turkmenistan
          td.text-center tm
          td
        tr
          td.text-center
            +flag("tuvalu")
          td Tuvalu
          td.text-center tv
          td
        tr
          td.text-center
            +flag("uganda")
          td Uganda
          td.text-center ug
          td
        tr
          td.text-center
            +flag("ukraine")
          td Ukraine
          td.text-center ua
          td
        tr
          td.text-center
            +flag("united-arab-emirates")
          td United Arab Emirates
          td.text-center ae
          td
        tr
          td.text-center
            +flag("united-states")
          td United States
          td.text-center us
          td usa, America
        tr
          td.text-center
            +flag("uruguay")
          td Uruguay
          td.text-center uy
          td
        tr
          td.text-center
            +flag("us-minor-islands")
          td Us Minor Islands
          td.text-center um
          td
        tr
          td.text-center
            +flag("us-virgin-islands")
          td Us Virgin Islands
          td.text-center vi
          td
        tr
          td.text-center
            +flag("uzbekistan")
          td Uzbekistan
          td.text-center uz
          td
        tr
          td.text-center
            +flag("vanuatu")
          td Vanuatu
          td.text-center vu
          td
        tr
          td.text-center
            +flag("vatican-city")
          td Vatican City
          td.text-center va
          td
        tr
          td.text-center
            +flag("venezuela")
          td Venezuela
          td.text-center ve
          td
        tr
          td.text-center
            +flag("vietnam")
          td Vietnam
          td.text-center vn
          td
        tr
          td.text-center
            +flag("wallis-and-futuna")
          td Wallis And Futuna
          td.text-center wf
          td
        tr
          td.text-center
            +flag("western-sahara")
          td Western Sahara
          td.text-center eh
          td
        tr
          td.text-center
            +flag("yemen")
          td Yemen
          td.text-center ye
          td
        tr
          td.text-center
            +flag("zambia")
          td Zambia
          td.text-center zm
          td
        tr
          td.text-center
            +flag("zimbabwe")
          td Zimbabwe
          td.text-center zw
          td
