
extends ../layout.jade

//- Flags

append main
  +divider-block Flags

  +container.outlined
    table.table.sortable.selectable.striped.hoverable.bordered
      thead
        tar
          th.text-center Flag
          th(data-sort="string") Name
          th(data-sort="string").text-center ISO 3166-2
      tbody
        tr
          td.text-center 
            +flag('ad')
          td Andorra
          td.text-center ad
        tr
          td.text-center 
            +flag('ae')
          td United Arab Emirates
          td.text-center ae
        tr
          td.text-center 
            +flag('af')
          td Afghanistan
          td.text-center af
        tr
          td.text-center 
            +flag('ag')
          td Antigua
          td.text-center ag
        tr
          td.text-center 
            +flag('ai')
          td Anguilla
          td.text-center ai
        tr
          td.text-center 
            +flag('al')
          td Albania
          td.text-center al
        tr
          td.text-center 
            +flag('am')
          td Armenia
          td.text-center am
        tr
          td.text-center 
            +flag('an')
          td Netherlands Antilles
          td.text-center an
        tr
          td.text-center 
            +flag('ao')
          td Angola
          td.text-center ao
        tr
          td.text-center 
            +flag('ar')
          td Argentina
          td.text-center ar
        tr
          td.text-center 
            +flag('as')
          td American Samoa
          td.text-center as
        tr
          td.text-center 
            +flag('at')
          td Austria
          td.text-center at
        tr
          td.text-center 
            +flag('au')
          td Australia
          td.text-center au
        tr
          td.text-center 
            +flag('aw')
          td Aruba
          td.text-center aw
        tr
          td.text-center 
            +flag('az')
          td Azerbaijan
          td.text-center az
        tr
          td.text-center 
            +flag('ba')
          td Bosnia
          td.text-center ba
        tr
          td.text-center 
            +flag('bb')
          td Barbados
          td.text-center bb
        tr
          td.text-center 
            +flag('bd')
          td Bangladesh
          td.text-center bd
        tr
          td.text-center 
            +flag('be')
          td Belgium
          td.text-center be
        tr
          td.text-center 
            +flag('bf')
          td Burkina Faso
          td.text-center bf
        tr
          td.text-center 
            +flag('bg')
          td Bulgaria
          td.text-center bg
        tr
          td.text-center 
            +flag('bh')
          td Bahrain
          td.text-center bh
        tr
          td.text-center 
            +flag('bi')
          td Burundi
          td.text-center bi
        tr
          td.text-center 
            +flag('bj')
          td Benin
          td.text-center bj
        tr
          td.text-center 
            +flag('bm')
          td Bermuda
          td.text-center bm
        tr
          td.text-center 
            +flag('bn')
          td Brunei
          td.text-center bn
        tr
          td.text-center 
            +flag('bo')
          td Bolivia
          td.text-center bo
        tr
          td.text-center 
            +flag('br')
          td Brazil
          td.text-center br
        tr
          td.text-center 
            +flag('bs')
          td Bahamas
          td.text-center bs
        tr
          td.text-center 
            +flag('bt')
          td Bhutan
          td.text-center bt
        tr
          td.text-center 
            +flag('bv')
          td Bouvet Island
          td.text-center bv
        tr
          td.text-center 
            +flag('bw')
          td Botswana
          td.text-center bw
        tr
          td.text-center 
            +flag('by')
          td Belarus
          td.text-center by
        tr
          td.text-center 
            +flag('bz')
          td Belize
          td.text-center bz
        tr
          td.text-center 
            +flag('ca')
          td Canada
          td.text-center ca
        tr
          td.text-center 
            +flag('cd')
          td Congo
          td.text-center cd
        tr
          td.text-center 
            +flag('cf')
          td Central African Republic
          td.text-center cf
        tr
          td.text-center 
            +flag('cg')
          td Congo
          td.text-center cg
        tr
          td.text-center 
            +flag('ch')
          td Switzerland
          td.text-center ch
        tr
          td.text-center 
            +flag('ci')
          td Cote Divoire
          td.text-center ci
        tr
          td.text-center 
            +flag('ck')
          td Cook Islands
          td.text-center ck
        tr
          td.text-center 
            +flag('cl')
          td Chile
          td.text-center cl
        tr
          td.text-center 
            +flag('cm')
          td Cameroon
          td.text-center cm
        tr
          td.text-center 
            +flag('cn')
          td China
          td.text-center cn
        tr
          td.text-center 
            +flag('co')
          td Colombia
          td.text-center co
        tr
          td.text-center 
            +flag('cr')
          td Costa Rica
          td.text-center cr
        tr
          td.text-center 
            +flag('cu')
          td Cuba
          td.text-center cu
        tr
          td.text-center 
            +flag('cv')
          td Cape Verde
          td.text-center cv
        tr
          td.text-center 
            +flag('cw')
          td Curacao
          td.text-center cw
        tr
          td.text-center 
            +flag('cy')
          td Cyprus
          td.text-center cy
        tr
          td.text-center 
            +flag('cz')
          td Czech Republic
          td.text-center cz
        tr
          td.text-center 
            +flag('de')
          td Germany
          td.text-center de
        tr
          td.text-center 
            +flag('dj')
          td Djibouti
          td.text-center dj
        tr
          td.text-center 
            +flag('dk')
          td Denmark
          td.text-center dk
        tr
          td.text-center 
            +flag('dm')
          td Dominica
          td.text-center dm
        tr
          td.text-center 
            +flag('do')
          td Dominican Republic
          td.text-center do
        tr
          td.text-center 
            +flag('dz')
          td Algeria
          td.text-center dz
        tr
          td.text-center 
            +flag('ec')
          td Ecuador
          td.text-center ec
        tr
          td.text-center 
            +flag('ee')
          td Estonia
          td.text-center ee
        tr
          td.text-center 
            +flag('eg')
          td Egypt
          td.text-center eg
        tr
          td.text-center 
            +flag('eh')
          td Western Sahara
          td.text-center eh
        tr
          td.text-center 
            +flag('er')
          td Eritrea
          td.text-center er
        tr
          td.text-center 
            +flag('es')
          td Spain
          td.text-center es
        tr
          td.text-center 
            +flag('et')
          td Ethiopia
          td.text-center et
        tr
          td.text-center 
            +flag('eu')
          td European Union
          td.text-center eu
        tr
          td.text-center 
            +flag('fi')
          td Finland
          td.text-center fi
        tr
          td.text-center 
            +flag('fj')
          td Fiji
          td.text-center fj
        tr
          td.text-center 
            +flag('fk')
          td Falkland Islands
          td.text-center fk
        tr
          td.text-center 
            +flag('fm')
          td Micronesia
          td.text-center fm
        tr
          td.text-center 
            +flag('fo')
          td Faroe Islands
          td.text-center fo
        tr
          td.text-center 
            +flag('fr')
          td France
          td.text-center fr
        tr
          td.text-center 
            +flag('ga')
          td Gabon
          td.text-center ga
        tr
          td.text-center 
            +flag('gb')
          td England
          td.text-center gb
        tr
          td.text-center 
            +flag('gd')
          td Grenada
          td.text-center gd
        tr
          td.text-center 
            +flag('ge')
          td Georgia
          td.text-center ge
        tr
          td.text-center 
            +flag('gf')
          td French Guiana
          td.text-center gf
        tr
          td.text-center 
            +flag('gg')
          td Guernsey
          td.text-center gg
        tr
          td.text-center 
            +flag('gh')
          td Ghana
          td.text-center gh
        tr
          td.text-center 
            +flag('gi')
          td Gibraltar
          td.text-center gi
        tr
          td.text-center 
            +flag('gl')
          td Greenland
          td.text-center gl
        tr
          td.text-center 
            +flag('gm')
          td Gambia
          td.text-center gm
        tr
          td.text-center 
            +flag('gn')
          td Guinea
          td.text-center gn
        tr
          td.text-center 
            +flag('gp')
          td Guadeloupe
          td.text-center gp
        tr
          td.text-center 
            +flag('gq')
          td Equatorial Guinea
          td.text-center gq
        tr
          td.text-center 
            +flag('gr')
          td Greece
          td.text-center gr
        tr
          td.text-center 
            +flag('gs')
          td Sandwich Islands
          td.text-center gs
        tr
          td.text-center 
            +flag('gt')
          td Guatemala
          td.text-center gt
        tr
          td.text-center 
            +flag('gu')
          td Guam
          td.text-center gu
        tr
          td.text-center 
            +flag('gw')
          td Guinea Bissau
          td.text-center gw
        tr
          td.text-center 
            +flag('gy')
          td Guyana
          td.text-center gy
        tr
          td.text-center 
            +flag('hk')
          td Hong-kong
          td.text-center hk
        tr
          td.text-center 
            +flag('hm')
          td Heard Island
          td.text-center hm
        tr
          td.text-center 
            +flag('hn')
          td Honduras
          td.text-center hn
        tr
          td.text-center 
            +flag('hr')
          td Croatia
          td.text-center hr
        tr
          td.text-center 
            +flag('ht')
          td Haiti
          td.text-center ht
        tr
          td.text-center 
            +flag('hu')
          td Hungary
          td.text-center hu
        tr
          td.text-center 
            +flag('ic')
          td Canary Islands
          td.text-center ic
        tr
          td.text-center 
            +flag('id')
          td Indonesia
          td.text-center id
        tr
          td.text-center 
            +flag('ie')
          td Ireland
          td.text-center ie
        tr
          td.text-center 
            +flag('il')
          td Israel
          td.text-center il
        tr
          td.text-center 
            +flag('im')
          td Isle Of Man
          td.text-center im
        tr
          td.text-center 
            +flag('in')
          td India
          td.text-center in
        tr
          td.text-center 
            +flag('io')
          td Indian Ocean Territory
          td.text-center io
        tr
          td.text-center 
            +flag('iq')
          td Iraq
          td.text-center iq
        tr
          td.text-center 
            +flag('ir')
          td Iran
          td.text-center ir
        tr
          td.text-center 
            +flag('is')
          td Iceland
          td.text-center is
        tr
          td.text-center 
            +flag('it')
          td Italy
          td.text-center it
        tr
          td.text-center 
            +flag('je')
          td Jersey
          td.text-center je
        tr
          td.text-center 
            +flag('jm')
          td Jamaica
          td.text-center jm
        tr
          td.text-center 
            +flag('jo')
          td Jordan
          td.text-center jo
        tr
          td.text-center 
            +flag('jp')
          td Japan
          td.text-center jp
        tr
          td.text-center 
            +flag('ke')
          td Kenya
          td.text-center ke
        tr
          td.text-center 
            +flag('kg')
          td Kyrgyzstan
          td.text-center kg
        tr
          td.text-center 
            +flag('kh')
          td Cambodia
          td.text-center kh
        tr
          td.text-center 
            +flag('ki')
          td Kiribati
          td.text-center ki
        tr
          td.text-center 
            +flag('km')
          td Comoros
          td.text-center km
        tr
          td.text-center 
            +flag('kn')
          td Saint Kitts and Nevis
          td.text-center kn
        tr
          td.text-center 
            +flag('kp')
          td North Korea
          td.text-center kp
        tr
          td.text-center 
            +flag('kr')
          td South Korea
          td.text-center kr
        tr
          td.text-center 
            +flag('kw')
          td Kuwait
          td.text-center kw
        tr
          td.text-center 
            +flag('ky')
          td Cayman Islands
          td.text-center ky
        tr
          td.text-center 
            +flag('kz')
          td Kazakhstan
          td.text-center kz
        tr
          td.text-center 
            +flag('la')
          td Laos
          td.text-center la
        tr
          td.text-center 
            +flag('lb')
          td Lebanon
          td.text-center lb
        tr
          td.text-center 
            +flag('lc')
          td Saint Lucia
          td.text-center lc
        tr
          td.text-center 
            +flag('li')
          td Liechtenstein
          td.text-center li
        tr
          td.text-center 
            +flag('lk')
          td Sri Lanka
          td.text-center lk
        tr
          td.text-center 
            +flag('lr')
          td Liberia
          td.text-center lr
        tr
          td.text-center 
            +flag('ls')
          td Lesotho
          td.text-center ls
        tr
          td.text-center 
            +flag('lt')
          td Lithuania
          td.text-center lt
        tr
          td.text-center 
            +flag('lu')
          td Luxembourg
          td.text-center lu
        tr
          td.text-center 
            +flag('lv')
          td Latvia
          td.text-center lv
        tr
          td.text-center 
            +flag('ly')
          td Libya
          td.text-center ly
        tr
          td.text-center 
            +flag('ma')
          td Morocco
          td.text-center ma
        tr
          td.text-center 
            +flag('mc')
          td Monaco
          td.text-center mc
        tr
          td.text-center 
            +flag('md')
          td Moldova
          td.text-center md
        tr
          td.text-center 
            +flag('me')
          td Montenegro
          td.text-center me
        tr
          td.text-center 
            +flag('mg')
          td Madagascar
          td.text-center mg
        tr
          td.text-center 
            +flag('mh')
          td Marshall Islands
          td.text-center mh
        tr
          td.text-center 
            +flag('mk')
          td Macedonia
          td.text-center mk
        tr
          td.text-center 
            +flag('ml')
          td Mali
          td.text-center ml
        tr
          td.text-center 
            +flag('mm')
          td Burma
          td.text-center mm
        tr
          td.text-center 
            +flag('mn')
          td Mongolia
          td.text-center mn
        tr
          td.text-center 
            +flag('mo')
          td Macau
          td.text-center mo
        tr
          td.text-center 
            +flag('mp')
          td Northern Mariana Islands
          td.text-center mp
        tr
          td.text-center 
            +flag('mq')
          td Martinique
          td.text-center mq
        tr
          td.text-center 
            +flag('mr')
          td Mauritania
          td.text-center mr
        tr
          td.text-center 
            +flag('ms')
          td Montserrat
          td.text-center ms
        tr
          td.text-center 
            +flag('mt')
          td Malta
          td.text-center mt
        tr
          td.text-center 
            +flag('mu')
          td Mauritius
          td.text-center mu
        tr
          td.text-center 
            +flag('mv')
          td Maldives
          td.text-center mv
        tr
          td.text-center 
            +flag('mw')
          td Malawi
          td.text-center mw
        tr
          td.text-center 
            +flag('mx')
          td Mexico
          td.text-center mx
        tr
          td.text-center 
            +flag('my')
          td Malaysia
          td.text-center my
        tr
          td.text-center 
            +flag('mz')
          td Mozambique
          td.text-center mz
        tr
          td.text-center 
            +flag('na')
          td Namibia
          td.text-center na
        tr
          td.text-center 
            +flag('nc')
          td New Caledonia
          td.text-center nc
        tr
          td.text-center 
            +flag('ne')
          td Niger
          td.text-center ne
        tr
          td.text-center 
            +flag('nf')
          td Norfolk Island
          td.text-center nf
        tr
          td.text-center 
            +flag('ng')
          td Nigeria
          td.text-center ng
        tr
          td.text-center 
            +flag('ni')
          td Nicaragua
          td.text-center ni
        tr
          td.text-center 
            +flag('nl')
          td Netherlands
          td.text-center nl
        tr
          td.text-center 
            +flag('no')
          td Norway
          td.text-center no
        tr
          td.text-center 
            +flag('np')
          td Nepal
          td.text-center np
        tr
          td.text-center 
            +flag('nr')
          td Nauru
          td.text-center nr
        tr
          td.text-center 
            +flag('nu')
          td Niue
          td.text-center nu
        tr
          td.text-center 
            +flag('nz')
          td New Zealand
          td.text-center nz
        tr
          td.text-center 
            +flag('om')
          td Oman
          td.text-center om
        tr
          td.text-center 
            +flag('pa')
          td Panama
          td.text-center pa
        tr
          td.text-center 
            +flag('pe')
          td Peru
          td.text-center pe
        tr
          td.text-center 
            +flag('pf')
          td French Polynesia
          td.text-center pf
        tr
          td.text-center 
            +flag('pg')
          td New Guinea
          td.text-center pg
        tr
          td.text-center 
            +flag('ph')
          td Philippines
          td.text-center ph
        tr
          td.text-center 
            +flag('pk')
          td Pakistan
          td.text-center pk
        tr
          td.text-center 
            +flag('pl')
          td Poland
          td.text-center pl
        tr
          td.text-center 
            +flag('pm')
          td Saint Pierre
          td.text-center pm
        tr
          td.text-center 
            +flag('pn')
          td Pitcairn Islands
          td.text-center pn
        tr
          td.text-center 
            +flag('pr')
          td Puerto Rico
          td.text-center pr
        tr
          td.text-center 
            +flag('ps')
          td Palestine
          td.text-center ps
        tr
          td.text-center 
            +flag('pt')
          td Portugal
          td.text-center pt
        tr
          td.text-center 
            +flag('pw')
          td Palau
          td.text-center pw
        tr
          td.text-center 
            +flag('py')
          td Paraguay
          td.text-center py
        tr
          td.text-center 
            +flag('qa')
          td Qatar
          td.text-center qa
        tr
          td.text-center 
            +flag('re')
          td Reunion
          td.text-center re
        tr
          td.text-center 
            +flag('ro')
          td Romania
          td.text-center ro
        tr
          td.text-center 
            +flag('rs')
          td Serbia
          td.text-center rs
        tr
          td.text-center 
            +flag('ru')
          td Russia
          td.text-center ru
        tr
          td.text-center 
            +flag('rw')
          td Rwanda
          td.text-center rw
        tr
          td.text-center 
            +flag('sa')
          td Saudi Arabia
          td.text-center sa
        tr
          td.text-center 
            +flag('sb')
          td Solomon Islands
          td.text-center sb
        tr
          td.text-center 
            +flag('sc')
          td Seychelles
          td.text-center sc
        tr
          td.text-center 
            +flag('sd')
          td Sudan
          td.text-center sd
        tr
          td.text-center 
            +flag('se')
          td Sweden
          td.text-center se
        tr
          td.text-center 
            +flag('sg')
          td Singapore
          td.text-center sg
        tr
          td.text-center 
            +flag('sh')
          td Saint Helena
          td.text-center sh
        tr
          td.text-center 
            +flag('si')
          td Slovenia
          td.text-center si
        tr
          td.text-center 
            +flag('sk')
          td Slovakia
          td.text-center sk
        tr
          td.text-center 
            +flag('sl')
          td Sierra Leone
          td.text-center sl
        tr
          td.text-center 
            +flag('sm')
          td San Marino
          td.text-center sm
        tr
          td.text-center 
            +flag('sn')
          td Senegal
          td.text-center sn
        tr
          td.text-center 
            +flag('so')
          td Somalia
          td.text-center so
        tr
          td.text-center 
            +flag('sr')
          td Suriname
          td.text-center sr
        tr
          td.text-center 
            +flag('ss')
          td South Sudan
          td.text-center ss
        tr
          td.text-center 
            +flag('st')
          td Sao Tome
          td.text-center st
        tr
          td.text-center 
            +flag('sv')
          td El Salvador
          td.text-center sv
        tr
          td.text-center 
            +flag('sx')
          td Sint Maarten
          td.text-center sx
        tr
          td.text-center 
            +flag('sy')
          td Syria
          td.text-center sy
        tr
          td.text-center 
            +flag('sz')
          td Swaziland
          td.text-center sz
        tr
          td.text-center 
            +flag('tc')
          td Caicos Islands
          td.text-center tc
        tr
          td.text-center 
            +flag('td')
          td Chad
          td.text-center td
        tr
          td.text-center 
            +flag('tf')
          td French Territories
          td.text-center tf
        tr
          td.text-center 
            +flag('tg')
          td Togo
          td.text-center tg
        tr
          td.text-center 
            +flag('th')
          td Thailand
          td.text-center th
        tr
          td.text-center 
            +flag('tj')
          td Tajikistan
          td.text-center tj
        tr
          td.text-center 
            +flag('tk')
          td Tokelau
          td.text-center tk
        tr
          td.text-center 
            +flag('tl')
          td Timorleste
          td.text-center tl
        tr
          td.text-center 
            +flag('tm')
          td Turkmenistan
          td.text-center tm
        tr
          td.text-center 
            +flag('tn')
          td Tunisia
          td.text-center tn
        tr
          td.text-center 
            +flag('to')
          td Tonga
          td.text-center to
        tr
          td.text-center 
            +flag('tr')
          td Turkey
          td.text-center tr
        tr
          td.text-center 
            +flag('tt')
          td Trinidad
          td.text-center tt
        tr
          td.text-center 
            +flag('tv')
          td Tuvalu
          td.text-center tv
        tr
          td.text-center 
            +flag('tw')
          td Taiwan
          td.text-center tw
        tr
          td.text-center 
            +flag('tz')
          td Tanzania
          td.text-center tz
        tr
          td.text-center 
            +flag('ua')
          td Ukraine
          td.text-center ua
        tr
          td.text-center 
            +flag('ug')
          td Uganda
          td.text-center ug
        tr
          td.text-center 
            +flag('um')
          td US Minor Islands
          td.text-center um
        tr
          td.text-center 
            +flag('us')
          td United States
          td.text-center us
        tr
          td.text-center 
            +flag('uy')
          td Uruguay
          td.text-center uy
        tr
          td.text-center 
            +flag('uz')
          td Uzbekistan
          td.text-center uz
        tr
          td.text-center 
            +flag('va')
          td Vatican City
          td.text-center va
        tr
          td.text-center 
            +flag('vc')
          td Saint Vincent
          td.text-center vc
        tr
          td.text-center 
            +flag('ve')
          td Venezuela
          td.text-center ve
        tr
          td.text-center 
            +flag('vg')
          td British Virgin Islands
          td.text-center vg
        tr
          td.text-center 
            +flag('vi')
          td US Virgin Islands
          td.text-center vi
        tr
          td.text-center 
            +flag('vn')
          td Vietnam
          td.text-center vn
        tr
          td.text-center 
            +flag('vu')
          td Vanuatu
          td.text-center vu
        tr
          td.text-center 
            +flag('wf')
          td Wallis and Futuna
          td.text-center wf
        tr
          td.text-center 
            +flag('ws')
          td Samoa
          td.text-center ws
        tr
          td.text-center 
            +flag('xk')
          td Kosovo
          td.text-center xk
        tr
          td.text-center 
            +flag('ye')
          td Yemen
          td.text-center ye
        tr
          td.text-center 
            +flag('yt')
          td Mayotte
          td.text-center yt
        tr
          td.text-center 
            +flag('za')
          td South Africa
          td.text-center za
        tr
          td.text-center 
            +flag('zm')
          td Zambia
          td.text-center zm
        tr
          td.text-center 
            +flag('zw')
          td Zimbabwe
          td.text-center zw
