
extends ../layout.jade

//- Footer

append main
  +divider-block Normal

  +footer
    +multiple.fluid
      ul
        li
          +a Link 1
        li
          +a Link 2
        li
          +a Link 3
        li
          +a Link 4
      ul
        li
          +a Link 1
        li
          +a Link 2
        li
          +a Link 3
      ul
        li
          +a Link 1
        li
          +a Link 2
    p.text-center Svelto, a framework

  +divider-block Beveled

  +footer.beveled
    +multiple.fluid
      ul
        li
          +a Link 1
        li
          +a Link 2
        li
          +a Link 3
        li
          +a Link 4
      ul
        li
          +a Link 1
        li
          +a Link 2
        li
          +a Link 3
      ul
        li
          +a Link 1
        li
          +a Link 2
    p.text-center Svelto, a framework
