
extends ../layout.jade

//- formValidate

append main
  - var elo_options = { public: "Public", private: "Private", Elo: { 1200: "1200+", 1300: "1300+", 1400: "1400+", 1500: "1500+", 1600: "1600+", 1700: "1700+", 1800: "1800+", 1900: "1900+", 2000: "2000+", 2100: "2100+", } };

  +divider-block Form

  +form.centered.sm-12.md-10.lg-8.xl-6
    +card.outlined
      +card-header.primary.outlined Form
      +card-block
        +divider-block No validations
      
        .input-wrp.fluid.sharp
          input(type="text" name="novalidations" required).text-field
          label No validations...
          .text-field-bar
      
        +divider-block Type
        
        .input-wrp.fluid.sharp
          input(type="text" name="alpha" data-validations="alpha" required).text-field
          label Alpha...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="alphanumeric" data-validations="alphanumeric" required).text-field
          label Alphanumeric...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="hexadecimal" data-validations="hexadecimal" required).text-field
          label Hexadecimal...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="number" data-validations="number" required).text-field
          label Number...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="integer" data-validations="integer" required).text-field
          label Integer...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="float" data-validations="float" required).text-field
          label Float...
          .text-field-bar
            
        +divider-block Number
        
        .input-wrp.fluid.sharp
          input(type="text" name="min" data-validations="min[3]" required).text-field
          label Min...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="max" data-validations="max[10]" required).text-field
          label Max...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="range" data-validations="range[3,10]" required).text-field
          label Range...
          .text-field-bar
            
        +divider-block String
            
        .input-wrp.fluid.sharp
          input(type="text" name="minLength" data-validations="minLength[3]" required).text-field
          label Min length...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="maxLength" data-validations="maxLength[10]" required).text-field
          label Max length...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="rangeLength" data-validations="rangeLength[3,10]" required).text-field
          label Range length...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="exactLength" data-validations="exactLength[5]" required).text-field
          label Exact length...
          .text-field-bar

        +divider-block Things

        .input-wrp.fluid.sharp
          input(type="text" name="email" data-validations="email" required).text-field
          label Email...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="cc" data-validations="cc" required).text-field
          label Credit card...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="ssn" data-validations="ssn" required).text-field
          label Social security number...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="ipv4" data-validations="ipv4" required).text-field
          label Ipv4...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="url" data-validations="url" required).text-field
          label Url...
          .text-field-bar

        +divider-block Others

        .input-wrp.fluid.sharp
          input(type="text" name="required" data-validations="required" required).text-field
          label Required...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="matches" data-validations="matches[true,yes,okay]" required).text-field
          label Matches...
          .text-field-bar
        .input-wrp.fluid.sharp
          input(type="text" name="matchesField" data-validations="matchesField[required]" required).text-field
          label Matches field...
          .text-field-bar

        +divider-block Multiple
        
        .input-wrp.fluid.sharp
          input(type="text" name="multiple" data-validations="required|alphanumeric|minLength[3]" required).text-field
          label Multiple...
          .text-field-bar
        
      +card-footer.outlined.text-center
        +form-button.secondary.outlined Submit
