
extends ../layout.jade

//- formSync

append main
  - var elo_options = { public: "Public", private: "Private", Elo: { 1200: "1200+", 1300: "1300+", 1400: "1400+", 1500: "1500+", 1600: "1600+", 1700: "1700+", 1800: "1800+", 1900: "1900+", 2000: "2000+", 2100: "2100+", } };

  +centerer

    .xs-12.lg-10

      +multiple

        .xs-12.md-6

          +divider Form 1 (Synced)

          +form(data-sync-group="test")
            +container("This is a form")
              +container-content
                +image-sample.centered.xs-8
                +input({ label: "Input...", name: "input_1" }).fluid.sharp
                +textarea({ label: "Textarea...", name: "textarea_1" }).fluid.sharp.autogrow
                label Checkboxes:
                +multiple.fluid
                  +checkbox({ name: "checkbox_name_1", title: "Checkbox 1", value: 1, checked: true }).outlined
                  +checkbox({ name: "checkbox_name_2", title: "Checkbox 2", value: 2 }).outlined
                label Radios:
                +multiple.fluid
                  +radio({ name: "radio_name_1", title: "Radio 1", value: 1 }).outlined
                  +radio({ name: "radio_name_1", title: "Radio 2", value: 2, checked: true }).outlined
                label Select:
                +select-btn({ options: elo_options, selected: "public", name: "select_name_1" }).outlined.fluid
                  span Select:
                  .valueholder.right
                label Slider:
                +slider({ name: "slider_name_1", min: 0, value: 75, max: 100 })
                +multiple
                  label Switcher:
                  +spacer
                  +switch({ name: "switcher_name_1", value: 1 })
              +container-footer
                +multiple
                  +form-button-simple.gray Normal
                  +form-button-simple.primary Primary
                  +form-button-simple.secondary Secondary

        .xs-12.md-6

          +divider Form 2 (Synced)

          +form(data-sync-group="test")
            +container("This is a form")
              +container-content
                +image-sample.centered.xs-8
                +input({ label: "Input...", name: "input_1" }).fluid.sharp
                +textarea({ label: "Textarea...", name: "textarea_1" }).fluid.sharp.autogrow
                label Checkboxes:
                +multiple.fluid
                  +checkbox({ name: "checkbox_name_1", title: "Checkbox 1", value: 1, checked: true }).outlined
                  +checkbox({ name: "checkbox_name_2", title: "Checkbox 2", value: 2 }).outlined
                label Radios:
                +multiple.fluid
                  +radio({ name: "radio_name_1", title: "Radio 1", value: 1 }).outlined
                  +radio({ name: "radio_name_1", title: "Radio 2", value: 2, checked: true }).outlined
                label Select:
                +select-btn({ options: elo_options, selected: "public", name: "select_name_1" }).outlined.fluid
                  span Select:
                  .valueholder.right
                label Slider:
                +slider({ name: "slider_name_1", min: 0, value: 75, max: 100 })
                +multiple
                  label Switcher:
                  +spacer
                  +switch({ name: "switcher_name_1", value: 1 })
              +container-footer
                +multiple
                  +form-button-simple.gray Normal
                  +form-button-simple.primary Primary
                  +form-button-simple.secondary Secondary
