
extends ../layout.jade

//- Forms

append main
  - var elo_options = { public: "Public", private: "Private", Elo: { 1200: "1200+", 1300: "1300+", 1400: "1400+", 1500: "1500+", 1600: "1600+", 1700: "1700+", 1800: "1800+", 1900: "1900+", 2000: "2000+", 2100: "2100+", } };

  +divider-block Forms

  +form.centered.sm-12.md-10.lg-8.xl-6
    +card.outlined
      +card-header.primary.outlined Form
      +card-block
        +image-sample.centered.xs-8
        label Input:
        +input({ placeholder: "Input...", name: "input_1" }).fluid.outlined
        label Textarea:
        +textarea({ placeholder: "Textarea...", name: "textarea_1" }).fluid.autogrow.outlined
        label Checkboxes:
        +multiple.fluid
          +checkbox({ name: "checkbox_name_1", title: "Checkbox 1", value: 1, checked: true }).outlined
          +checkbox({ name: "checkbox_name_2", title: "Checkbox 2", value: 2 }).outlined
        label Radios:
        +multiple.fluid
          +radio({ name: "radio_name_1", title: "Radio 1", value: 1 }).outlined
          +radio({ name: "radio_name_1", title: "Radio 2", value: 2, checked: true }).outlined
        label Select:
        +select-btn({ options: elo_options, selected: "public", id: "select1", title: "Select" }).outlined.fluid
        label Slider:
        +slider({ name: "slider_name_1", min: 0, value: 75, max: 100 })
        +multiple
          label Switch:
          +spacer
          +switch({ name: "switch_name_1", value: 1 })
      +card-footer.outlined
        +multiple
          +form-button.gray.outlined Normal
          +form-button.primary.outlined Primary
          +form-button.secondary.outlined Secondary
