
extends ../layout.jade

//- formValidate

append main
  - var elo_options = { public: "Public", private: "Private", Elo: { 1200: "1200+", 1300: "1300+", 1400: "1400+", 1500: "1500+", 1600: "1600+", 1700: "1700+", 1800: "1800+", 1900: "1900+", 2000: "2000+", 2100: "2100+", } };

  +divider-block Form

  +form.centered.sm-12.md-10.lg-8.xl-6
    +card.outlined
      +card-header.primary.outlined Form
      +card-block
        +divider-block No validations
      
        +input({ name: "novalidations", placeholder: "No validations..." }).outlined.fluid
      
        +divider-block Type
        
        +input({ name: "alpha", placeholder: "Alpha..." })(data-validations="alpha").outlined.fluid
        +input({ name: "alphanumeric", placeholder: "Alphanumeric..." })(data-validations="alphanumeric").outlined.fluid
        +input({ name: "hexadecimal", placeholder: "Hexadecimal..." })(data-validations="hexadecimal").outlined.fluid
        +input({ name: "number", placeholder: "Number..." })(data-validations="number").outlined.fluid
        +input({ name: "integer", placeholder: "Integer..." })(data-validations="integer").outlined.fluid
        +input({ name: "float", placeholder: "Float..." })(data-validations="float").outlined.fluid
            
        +divider-block Number
        
        +input({ name: "min", placeholder: "Min..." })(data-validations="min[3]").outlined.fluid
        +input({ name: "max", placeholder: "Max..." })(data-validations="max[10]").outlined.fluid
        +input({ name: "range", placeholder: "Range..." })(data-validations="range[3,10]").outlined.fluid
            
        +divider-block String
            
        +input({ name: "minLength", placeholder: "Min length..." })(data-validations="minLength[3]").outlined.fluid
        +input({ name: "maxLength", placeholder: "Max length..." })(data-validations="maxLength[10]").outlined.fluid
        +input({ name: "rangeLength", placeholder: "Range length..." })(data-validations="rangeLength[3,10]").outlined.fluid
        +input({ name: "exactLength", placeholder: "Exact length..." })(data-validations="exactLength[5]").outlined.fluid

        +divider-block Things

        +input({ name: "email", placeholder: "Email..." })(data-validations="email").outlined.fluid
        +input({ name: "cc", placeholder: "Credit card..." })(data-validations="cc").outlined.fluid
        +input({ name: "ssn", placeholder: "Social security number..." })(data-validations="ssn").outlined.fluid
        +input({ name: "ipv4", placeholder: "Ipv4..." })(data-validations="ipv4").outlined.fluid
        +input({ name: "url", placeholder: "Url..." })(data-validations="url").outlined.fluid

        +divider-block Others

        +input({ name: "required", placeholder: "Required..." })(data-validations="required").outlined.fluid
        +input({ name: "matches", placeholder: "Matches..." })(data-validations="matches[true,yes,okay]").outlined.fluid
        +input({ name: "matchesField", placeholder: "Matches field..." })(data-validations="matchesField[required]").outlined.fluid

        +divider-block Multiple
        
        +input({ name: "multiple", placeholder: "Multiple..." })(data-validations="required|alphanumeric|minLength[3]").outlined.fluid
        
      +card-footer.outlined.text-center
        +form-button.secondary.outlined Submit
