<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">menu
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">more_vert
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Form
        </div>
      </div>
      <form class="centered sm-12 md-10 lg-8 xl-6">
        <div class="container outlined">
          <div class="card-block">
            <div class="image-wrp centered xs-8"><img src="/sample.png"/>
            </div>
            <div class="input-wrp fluid sharp">
              <input type="text" value="" name="input_1" required="required" class="text-field"/>
              <label>Input...</label>
              <div class="text-field-bar"></div>
            </div>
            <div class="textarea-wrp fluid sharp autogrow">
              <textarea name="textarea_1" required="required" class="text-field">
              </textarea>
              <label>Textarea...</label>
              <div class="text-field-bar"></div>
            </div>
            <label>Checkboxes:</label>
            <div class="multiple-wrp fluid">
              <div class="multiple">
                <div class="label button actionable checked checkbox outlined">
                  <input type="radio" checked="checked"/><span>Checkbox 1</span>
                  <div class="icon-wrp icon-on">
                    <div class="icon">check_box
                    </div>
                  </div>
                  <div class="icon-wrp icon-off">
                    <div class="icon">check_box_outline_blank
                    </div>
                  </div>
                </div>
                <div class="label button actionable checkbox outlined">
                  <input type="radio"/><span>Checkbox 2</span>
                  <div class="icon-wrp icon-on">
                    <div class="icon">check_box
                    </div>
                  </div>
                  <div class="icon-wrp icon-off">
                    <div class="icon">check_box_outline_blank
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <label>Radios:</label>
            <div class="multiple-wrp fluid">
              <div class="multiple">
                <div class="label button actionable radio outlined">
                  <input type="radio"/><span>Radio 1</span>
                  <div class="icon-wrp icon-on">
                    <div class="icon">radio_button_checked
                    </div>
                  </div>
                  <div class="icon-wrp icon-off">
                    <div class="icon">radio_button_unchecked
                    </div>
                  </div>
                </div>
                <div class="label button actionable checked radio outlined">
                  <input type="radio" checked="checked"/><span>Radio 2</span>
                  <div class="icon-wrp icon-on">
                    <div class="icon">radio_button_checked
                    </div>
                  </div>
                  <div class="icon-wrp icon-off">
                    <div class="icon">radio_button_unchecked
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="multiple-wrp">
              <div class="multiple">
                <button type="submit" class="label button actionable gray outlined">Normal
                </button>
                <button type="submit" class="label button actionable primary outlined">Primary
                </button>
                <button type="submit" class="label button actionable secondary outlined">Secondary
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>