<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Normal
        </div>
      </div>
      <div class="multiple-wrp fluid">
        <div class="multiple">
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp fluid">
        <div class="multiple">
          <div class="container expander outlined xs-3">
            <div class="container-content">3
            </div>
          </div>
          <div class="container expander outlined xs-6">
            <div class="container-content">6
            </div>
          </div>
          <div class="container expander outlined xs-3">
            <div class="container-content">3
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp fluid">
        <div class="multiple">
          <div class="container expander outlined xs-3">
            <div class="container-content">3
            </div>
          </div>
          <div class="container expander outlined xs-9">
            <div class="container-content">9
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp fluid">
        <div class="multiple">
          <div class="container expander outlined xs-1">
            <div class="container-content">1
            </div>
          </div>
          <div class="container expander outlined xs-4">
            <div class="container-content">4
            </div>
          </div>
          <div class="container expander outlined xs-5">
            <div class="container-content">5
            </div>
          </div>
          <div class="container expander outlined xs-2">
            <div class="container-content">2
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Responsive
        </div>
      </div>
      <div class="multiple-wrp fluid">
        <div class="multiple">
          <div class="container expander outlined xs-12 sm-6 md-4 lg-2">
            <div class="container-content">xs-12 sm-6 md-4 lg-2
            </div>
          </div>
          <div class="container expander outlined xs-12 sm-6 md-4 lg-2">
            <div class="container-content">xs-12 sm-6 md-4 lg-2
            </div>
          </div>
          <div class="container expander outlined xs-12 sm-6 md-4 lg-2">
            <div class="container-content">xs-12 sm-6 md-4 lg-2
            </div>
          </div>
          <div class="container expander outlined xs-12 sm-6 md-4 lg-2">
            <div class="container-content">xs-12 sm-6 md-4 lg-2
            </div>
          </div>
          <div class="container expander outlined xs-12 sm-6 md-4 lg-2">
            <div class="container-content">xs-12 sm-6 md-4 lg-2
            </div>
          </div>
          <div class="container expander outlined xs-12 sm-6 md-4 lg-2">
            <div class="container-content">xs-12 sm-6 md-4 lg-2
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Responsive 2
        </div>
      </div>
      <div class="multiple-wrp fluid">
        <div class="multiple">
          <div class="container expander outlined hidden-xs visible-sm-block sm-3">
            <div class="container-content">hidden-xs visible-sm-block sm-3
            </div>
          </div>
          <div class="container expander outlined xs-12 sm-9 md-6 lg-3 hidden-xl">
            <div class="container-content">xs-12 sm-9 md-6 lg-3 hidden-xl
            </div>
          </div>
          <div class="container expander outlined hidden-xs visible-lg-block lg-3 xl-6">
            <div class="container-content">hidden-xs visible-lg-block lg-3 xl-6
            </div>
          </div>
          <div class="container expander outlined hidden-xs visible-md-block md-3">
            <div class="container-content">hidden-xs visible-md-block md-3
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Complex 1
        </div>
      </div>
      <div class="multiple-wrp fluid stretched">
        <div class="multiple">
          <div class="multiple-wrp vertical fluid xs-4">
            <div class="multiple">
              <div class="container expander outlined">
                <div class="container-content">4
                </div>
              </div>
              <div class="container expander outlined">
                <div class="container-content">4
                </div>
              </div>
              <div class="container expander outlined">
                <div class="container-content">4
                </div>
              </div>
            </div>
          </div>
          <div class="container expander outlined xs-8">
            <div class="container-content">8
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Complex 2
        </div>
      </div>
      <div class="multiple-wrp fluid stretched">
        <div class="multiple">
          <div class="multiple-wrp vertical fluid xs-8">
            <div class="multiple">
              <div class="container expander outlined">
                <div class="container-content">8
                </div>
              </div>
              <div class="multiple-wrp fluid joined">
                <div class="multiple">
                  <div class="container expander outlined">
                    <div class="container-content">4
                    </div>
                  </div>
                  <div class="container expander outlined">
                    <div class="container-content">4
                    </div>
                  </div>
                </div>
              </div>
              <div class="container expander outlined">
                <div class="container-content">8
                </div>
              </div>
            </div>
          </div>
          <div class="container expander outlined xs-4">
            <div class="container-content">4
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Complex 3
        </div>
      </div>
      <div class="multiple-wrp fluid stretched">
        <div class="multiple">
          <div class="multiple-wrp vertical fluid xs-9">
            <div class="multiple">
              <div class="container expander outlined">
                <div class="container-content">9
                </div>
              </div>
              <div class="multiple-wrp fluid stretched">
                <div class="multiple">
                  <div class="container expander outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="multiple-wrp vertical fluid">
                    <div class="multiple">
                      <div class="container expander outlined">
                        <div class="container-content">6
                        </div>
                      </div>
                      <div class="multiple-wrp fluid joined">
                        <div class="multiple">
                          <div class="container expander outlined">
                            <div class="container-content">3
                            </div>
                          </div>
                          <div class="container expander outlined">
                            <div class="container-content">3
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container expander outlined">
                        <div class="container-content">6
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container expander outlined">
                <div class="container-content">9
                </div>
              </div>
            </div>
          </div>
          <div class="container expander outlined xs-3">
            <div class="container-content">3
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Complex 4
        </div>
      </div>
      <div class="multiple-wrp fluid stretched">
        <div class="multiple">
          <div class="multiple-wrp vertical fluid xs-7">
            <div class="multiple">
              <div class="multiple-wrp fluid">
                <div class="multiple">
                  <div class="container expander outlined xs-8">
                    <div class="container-content">8 * 7/12
                    </div>
                  </div>
                  <div class="container expander outlined xs-4">
                    <div class="container-content">4 * 7/12
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp fluid stretched">
                <div class="multiple">
                  <div class="container expander outlined">
                    <div class="container-content">4 * 7/12
                    </div>
                  </div>
                  <div class="multiple-wrp vertical fluid">
                    <div class="multiple">
                      <div class="container expander outlined">
                        <div class="container-content">8 * 7/12
                        </div>
                      </div>
                      <div class="multiple-wrp fluid joined">
                        <div class="multiple">
                          <div class="container expander outlined">
                            <div class="container-content">4 * 7/12
                            </div>
                          </div>
                          <div class="container expander outlined">
                            <div class="container-content">4 * 7/12
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container expander outlined">
                        <div class="container-content">8 * 7/12
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp fluid">
                <div class="multiple">
                  <div class="container expander outlined xs-3">
                    <div class="container-content">3 * 7/12
                    </div>
                  </div>
                  <div class="container expander outlined xs-6">
                    <div class="container-content">6 * 7/12
                    </div>
                  </div>
                  <div class="container expander outlined xs-3">
                    <div class="container-content">3 * 7/12
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp vertical fluid joined xs-3">
            <div class="multiple">
              <div class="container expander outlined">
                <div class="container-content">3
                </div>
              </div>
              <div class="container expander outlined">
                <div class="container-content">3
                </div>
              </div>
              <div class="container expander outlined">
                <div class="container-content">3
                </div>
              </div>
            </div>
          </div>
          <div class="container expander outlined xs-2">
            <div class="container-content">2
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>