
extends ../layout.jade

//- Grid

append main
  +divider Normal

  +multiple.fluid
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
    +container.outlined.xs-1 1
  +multiple.fluid
    +container.outlined.xs-3 3
    +container.outlined.xs-6 6
    +container.outlined.xs-3 3
  +multiple.fluid
    +container.outlined.xs-3 3
    +container.outlined.xs-9 9
  +multiple.fluid
    +container.outlined.xs-1 1
    +container.outlined.xs-4 4
    +container.outlined.xs-5 5
    +container.outlined.xs-2 2

  +divider Responsive

  +multiple.fluid
    +container.outlined.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
    +container.outlined.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
    +container.outlined.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
    +container.outlined.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
    +container.outlined.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2
    +container.outlined.xs-12.sm-6.md-4.lg-2 xs-12 sm-6 md-4 lg-2

  +divider Responsive 2

  +multiple.fluid
    +container.outlined.hidden-xs.visible-sm-block.sm-3 hidden-xs visible-sm-block sm-3
    +container.outlined.xs-12.sm-9.md-6.lg-3.hidden-xl xs-12 sm-9 md-6 lg-3 hidden-xl
    +container.outlined.hidden-xs.visible-lg-block.lg-3.xl-6 hidden-xs visible-lg-block lg-3 xl-6
    +container.outlined.hidden-xs.visible-md-block.md-3 hidden-xs visible-md-block md-3

  +divider Complex 1

  +multiple.fluid.stretched
    +multiple.vertical.fluid.xs-4
      +container.outlined 4
      +container.outlined 4
      +container.outlined 4
    +container.outlined.xs-8 8

  +divider Complex 2

  +multiple.fluid.stretched
    +multiple.vertical.fluid.xs-8
      +container.outlined 8
      +multiple.fluid.joined
        +container.outlined 4
        +container.outlined 4
      +container.outlined 8
    +container.outlined.xs-4 4

  +divider Complex 3

  +multiple.fluid.stretched
    +multiple.vertical.fluid.xs-9
      +container.outlined 9
      +multiple.fluid.stretched
        +container.outlined 3
        +multiple.vertical.fluid
          +container.outlined 6
          +multiple.fluid.joined
            +container.outlined 3
            +container.outlined 3
          +container.outlined 6
      +container.outlined 9
    +container.outlined.xs-3 3

  +divider Complex 4

  +multiple.fluid.stretched
    +multiple.vertical.fluid.xs-7
      +multiple.fluid
        +container.outlined.xs-8 8 * 7/12
        +container.outlined.xs-4 4 * 7/12
      +multiple.fluid.stretched
        +container.outlined 4 * 7/12
        +multiple.vertical.fluid
          +container.outlined 8 * 7/12
          +multiple.fluid.joined
            +container.outlined 4 * 7/12
            +container.outlined 4 * 7/12
          +container.outlined 8 * 7/12
      +multiple.fluid
        +container.outlined.xs-3 3 * 7/12
        +container.outlined.xs-6 6 * 7/12
        +container.outlined.xs-3 3 * 7/12
    +multiple.vertical.fluid.joined.xs-3
      +container.outlined 3
      +container.outlined 3
      +container.outlined 3
    +container.outlined.xs-2 2
