
extends ../layout.jade

//- Header

append main
  +divider-block Header

  +header
    +toolbar.yellow
      +button-icon('menu').compact
      span.large Title
      .spacer
      +button-icon('refresh').compact
      +button-icon('more_vert').compact

  +header("/sample-wide.jpg").has-background
    +toolbar
      +button-icon('menu').compact
      span.large Title
      .spacer
      +button-icon('refresh').compact
      +button-icon('more_vert').compact
    .header-background.red

  +header("/sample-wide.jpg").has-background
    +toolbar
      +button-icon('menu').compact
      span.large Title
      .spacer
      +button-icon('refresh').compact
      +button-icon('more_vert').compact
    .header-background.orange.gradient

  +header-with-bg("/sample-wide.jpg")(style="height: 150px;")
    +toolbar
      +button-icon('menu').compact
      span.large Title
      .spacer
      +button-icon('refresh').compact
      +button-icon('more_vert').compact

  +header-with-bg("/sample-wide.jpg")(style="height: 300px;")
    +toolbar
      +button-icon('menu').compact
      span.large Title
      .spacer
      +button-icon('refresh').compact
      +button-icon('more_vert').compact
