
extends ../layout.jade

//- Header

append main
  +divider-block Header

  +header.yellow
    +toolbar
      +button-icon('menu').compact
      span.large.spacer Title
      +button-icon('refresh').compact
      +button-icon('more_vert').compact

  +header.red
    +toolbar
      +button-icon('menu').compact
      span.large.spacer Title
      +button-icon('refresh').compact
      +button-icon('more_vert').compact

  +header.has-background
    +header-bg("/sample-wide.jpg")
    +toolbar
      +button-icon('menu').compact
      span.large.spacer Title
      +button-icon('refresh').compact
      +button-icon('more_vert').compact

  +header(style="height: 150px;").has-background
    +header-bg("/sample-wide.jpg")
    +toolbar.white
      +button-icon('menu').compact
      span.large.spacer Title
      +button-icon('refresh').compact
      +button-icon('more_vert').compact

  +header(style="height: 300px;").has-background
    +header-bg("/sample-wide.jpg")
    +toolbar
      +button-icon('menu').compact
      span.large.spacer Title
      +button-icon('refresh').compact
      +button-icon('more_vert').compact
