
extends ../layout.jade

//- Helpers

append main
  +divider-block Blurred

  +container.outlined
    +square-sample.blurred

  +divider-block Border

  +container.outlined
    +multiple
      +square-sample.outlined.no-border
      +square-sample.outlined.rounded
      +square-sample.outlined.smooth
      +square-sample.outlined.sharp

  +divider-block Display

  +container.outlined
    +multiple
      +square-sample.hidden
      +square-sample.show

  +divider-block Visibility

  +container.outlined
    +multiple
      +square-sample.invisible
      +square-sample.visible

  +divider-block Float

  +container.outlined
      +square-sample.no-margin.float-left
      +square-sample.no-margin.float-right
      +square-sample.invisible

  +divider-block Text alignment

  +container.outlined
    +multiple
      +square-sample.text-left
      +square-sample.text-center
      +square-sample.text-right
      +square-sample.text-justify

  +divider-block Text transformation

  +container.outlined
    +multiple
      +square-sample.text-lowercase
      +square-sample.text-uppercase
      +square-sample.text-capitalize

  +divider-block Text others
  
  +container.outlined
    +multiple
      +square-sample.text-nowrap
      p.truncate
        +lorem-ipsum

  +divider-block Padding

  +container.outlined
    +multiple
      +square-sample.no-padding
      +square-sample.no-padding-top
      +square-sample.no-padding-right
      +square-sample.no-padding-bottom
      +square-sample.no-padding-left

  +divider-block Margin

  +container.outlined
    +multiple
      +square-sample.no-margin
      +square-sample.no-margin-top
      +square-sample.no-margin-right
      +square-sample.no-margin-bottom
      +square-sample.no-margin-left

  +divider-block Overflow

  +container.outlined
    +multiple
      +square-sample.overflow-hidden
      +square-sample.overflow-visible

  +divider-block Flip

  +container.outlined
    +multiple
      +square-sample.flipX
      +square-sample.flipY
      +square-sample.flip

  +divider-block Rotate

  +container.outlined
    +multiple
      +square-sample.rotate-left
      +square-sample.rotate-right
      +square-sample.rotating

  +divider-block Grow

  +container.outlined
    +multiple
      .widget.outlined.outlined-gray.grow Grow
      .widget.outlined.outlined-gray.no-grow No grow

  +divider-block Shrink

  +container.outlined
    +multiple.fluid
      .widget.outlined.outlined-gray.xs-4.no-shrink No shrink
      .widget.outlined.outlined-gray.shrink Shrink

  +divider-block Others

  +container.outlined
    +multiple.fluid
      +centerer(style="padding: 20px;").outlined.outlined-gray
        +square-sample
      +spacer.outlined.outlined-gray Spacer
