
extends ../layout.jade

//- Helpers

append main
  +divider Blurred

  +container.outlined
    +square-sample.blurred

  +divider Border

  +container.outlined
    +multiple.expanded
      +square-sample.outlined.no-border
      +square-sample.outlined.rounded
      +square-sample.outlined.smooth
      +square-sample.outlined.sharp

  +divider Display

  +container.outlined
    +multiple.expanded
      +square-sample.hidden
      +square-sample.show

  +divider Visibility

  +container.outlined
    +multiple.expanded
      +square-sample.invisible
      +square-sample.visible

  +divider Float

  +container.outlined
      +square-sample.no-margin.float-left
      +square-sample.no-margin.float-right
      +square-sample.invisible

  +divider Text alignment

  +container.outlined
    +multiple.expanded
      +square-sample.text-left
      +square-sample.text-center
      +square-sample.text-right
      +square-sample.text-justify

  +divider Text transformation

  +container.outlined
    +multiple.expanded
      +square-sample.text-lowercase
      +square-sample.text-uppercase
      +square-sample.text-capitalize

  +divider Text others
  
  +container.outlined
    +multiple.expanded
      +square-sample.text-nowrap
      p.text-ellipsis
        +lorem-ipsum

  +divider Padding

  +container.outlined
    +multiple.expanded
      +square-sample.no-padding
      +square-sample.no-padding-top
      +square-sample.no-padding-right
      +square-sample.no-padding-bottom
      +square-sample.no-padding-left

  +divider Margin

  +container.outlined
    +multiple.expanded
      +square-sample.no-margin
      +square-sample.no-margin-top
      +square-sample.no-margin-right
      +square-sample.no-margin-bottom
      +square-sample.no-margin-left

  +divider Overflow

  +container.outlined
    +multiple.expanded
      +square-sample.overflow-hidden
      +square-sample.overflow-visible

  +divider Flip

  +container.outlined
    +multiple.expanded
      +square-sample.flipX
      +square-sample.flipY
      +square-sample.flip

  +divider Rotate

  +container.outlined
    +multiple.expanded
      +square-sample.rotate-left
      +square-sample.rotate-right
      +square-sample.rotating

  +divider Grow

  +container.outlined
    +multiple.expanded
      .widget.outlined.outlined-gray.grow Grow
      .widget.outlined.outlined-gray.no-grow No grow

  +divider Shrink

  +container.outlined
    +multiple.expanded.fluid
      .widget.outlined.outlined-gray.xs-4.no-shrink No shrink
      .widget.outlined.outlined-gray.shrink Shrink

  +divider Others

  +container.outlined
    +multiple.expanded.fluid
      +centerer(style="padding: 20px;").outlined.outlined-gray
        +square-sample
      +spacer.outlined.outlined-gray Spacer
