
extends ../layout.jade

//- Helpers

append main
  +divider Blur

  +container-simple.outlined
    +square-sample.blurred

  +divider Border

  +container-simple.outlined
    +multiple
      +square-sample.outlined.no-border
      +square-sample.outlined.rounded
      +square-sample.outlined.smooth
      +square-sample.outlined.sharp

  +divider Display

  +container-simple.outlined
    +multiple
      +square-sample.hidden
      +square-sample.show

  +divider Visibility

  +container-simple.outlined
    +multiple
      +square-sample.invisible
      +square-sample.visible

  +divider Float

  +container-simple.outlined
    +multiple
      +square-sample.float-left
      +square-sample.float-right

  +divider Text alignment

  +container-simple.outlined
    +multiple
      +square-sample.text-left
      +square-sample.text-center
      +square-sample.text-right
      +square-sample.text-justify

  +divider Text transformation

  +container-simple.outlined
    +multiple
      +square-sample.text-lowercase
      +square-sample.text-uppercase
      +square-sample.text-capitalize

  +divider Padding

  +container-simple.outlined
    +multiple
      +square-sample.no-padding
      +square-sample.no-padding-top
      +square-sample.no-padding-right
      +square-sample.no-padding-bottom
      +square-sample.no-padding-left

  +divider Margin

  +container-simple.outlined
    +multiple
      +square-sample.no-margin
      +square-sample.no-margin-top
      +square-sample.no-margin-right
      +square-sample.no-margin-bottom
      +square-sample.no-margin-left

  +divider Overflow

  +container-simple.outlined
    +multiple
      +square-sample.overflow-visible
      +square-sample.overflow-hidden

  +divider Flip

  +container-simple.outlined
    +multiple
      +square-sample.flipX
      +square-sample.flipY
      +square-sample.flip

  +divider Rotate

  +container-simple.outlined
    +multiple
      +square-sample.rotate-left
      +square-sample.rotate-right
      +square-sample.rotating

  +divider Other

  +container-simple.outlined
    +multiple.fluid
      +centerer(style="padding: 20px;").outlined.outlined-gray
        +square-sample
      +spacer.outlined.outlined-gray Spacer
