
extends ../layout.jade

//- Helpers responsive

append main
  +divider Hidden-*-up

  +multiple.equal
    div
      +container-simple.outlined.hidden-xs-up.green X-Small
      +container-simple.outlined X-Small
    div
      +container-simple.outlined.hidden-sm-up.green Small
      +container-simple.outlined.hidden-xs-down Small
    div
      +container-simple.outlined.hidden-md-up.green Medium
      +container-simple.outlined.hidden-sm-down Medium
    div
      +container-simple.outlined.hidden-lg-up.green Large
      +container-simple.outlined.hidden-md-down Large
    div
      +container-simple.outlined.hidden-xl-up.green X-Large
      +container-simple.outlined.hidden-lg-down X-Large
        
  +divider Hidden-*-down

  +multiple.equal
    div
      +container-simple.outlined.hidden-xs-down.green X-Small
      +container-simple.outlined.hidden-sm-up X-Small
    div
      +container-simple.outlined.hidden-sm-down.green Small
      +container-simple.outlined.hidden-md-up Small
    div
      +container-simple.outlined.hidden-md-down.green Medium
      +container-simple.outlined.hidden-lg-up Medium
    div
      +container-simple.outlined.hidden-lg-down.green Large
      +container-simple.outlined.hidden-xl-up Large
    div
      +container-simple.outlined.hidden-xl-down.green X-Large
      +container-simple.outlined X-Large
