<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Directions
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight">
              <div class="label-center">Default
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-top">
              <div class="label-center">Top
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-right">
              <div class="label-center">Right
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-bottom">
              <div class="label-center">Bottom
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-left">
              <div class="label-center">Left
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-all">
              <div class="label-center">All
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Colors
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight primary">
              <div class="label-center">Primary
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight secondary">
              <div class="label-center">Secondary
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight tertiary">
              <div class="label-center">Tertiary
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight quaternary">
              <div class="label-center">Quaternary
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight white">
              <div class="label-center">White
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight gray">
              <div class="label-center">Gray
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight black">
              <div class="label-center">Black
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight yellow">
              <div class="label-center">Yellow
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight olive">
              <div class="label-center">Olive
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight green">
              <div class="label-center">Green
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight blue">
              <div class="label-center">Blue
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight violet">
              <div class="label-center">Violet
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight orange">
              <div class="label-center">Orange
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight purple">
              <div class="label-center">Purple
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight red">
              <div class="label-center">Red
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight pink">
              <div class="label-center">Pink
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight teal">
              <div class="label-center">Teal
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight brown">
              <div class="label-center">Brown
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight transparent">
              <div class="label-center">Transparent
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight inherit">
              <div class="label-center">Inherit
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight base">
              <div class="label-center">Base
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Highlight colors
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-primary">
              <div class="label-center">Primary
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-secondary">
              <div class="label-center">Secondary
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-tertiary">
              <div class="label-center">Tertiary
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-quaternary">
              <div class="label-center">Quaternary
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-white">
              <div class="label-center">White
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-gray">
              <div class="label-center">Gray
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-black">
              <div class="label-center">Black
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-yellow">
              <div class="label-center">Yellow
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-olive">
              <div class="label-center">Olive
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-green">
              <div class="label-center">Green
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-blue">
              <div class="label-center">Blue
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-violet">
              <div class="label-center">Violet
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-orange">
              <div class="label-center">Orange
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-purple">
              <div class="label-center">Purple
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-red">
              <div class="label-center">Red
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-pink">
              <div class="label-center">Pink
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-teal">
              <div class="label-center">Teal
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-brown">
              <div class="label-center">Brown
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-transparent">
              <div class="label-center">Transparent
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-inherit">
              <div class="label-center">Inherit
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined highlight highlight-base">
              <div class="label-center">Base
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Actions
        </div>
      </div>
      <div class="label-wrp button-wrp">
        <div onclick="javascript:toggle_outlined ()" class="label actionable outlined">
          <div class="label-center">Toggle outlined
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      function toggle_outlined () {
        $('.label').toggleClass ( 'outlined' );
      }
    </script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>