
extends ../layout.jade

//- Highlight

append main
  +divider Directions

  +multiple
    +label.outlined.highlight Default
    +label.outlined.highlight.highlight-top Top
    +label.outlined.highlight.highlight-right Right
    +label.outlined.highlight.highlight-bottom Bottom
    +label.outlined.highlight.highlight-left Left
    +label.outlined.highlight.highlight-all All

  +divider Colors

  +multiple
    +label.outlined.highlight.primary Primary
    +label.outlined.highlight.secondary Secondary
    +label.outlined.highlight.tertiary Tertiary
    +label.outlined.highlight.quaternary Quaternary
    +label.outlined.highlight.white White
    +label.outlined.highlight.gray Gray
    +label.outlined.highlight.black Black
    +label.outlined.highlight.yellow Yellow
    +label.outlined.highlight.olive Olive
    +label.outlined.highlight.green Green
    +label.outlined.highlight.blue Blue
    +label.outlined.highlight.violet Violet
    +label.outlined.highlight.orange Orange
    +label.outlined.highlight.purple Purple
    +label.outlined.highlight.red Red
    +label.outlined.highlight.pink Pink
    +label.outlined.highlight.teal Teal
    +label.outlined.highlight.brown Brown
    +label.outlined.highlight.transparent Transparent
    +label.outlined.highlight.inherit Inherit
    +label.outlined.highlight.base Base

  +divider Highlight colors

  +multiple
    +label.outlined.highlight.highlight-primary Primary
    +label.outlined.highlight.highlight-secondary Secondary
    +label.outlined.highlight.highlight-tertiary Tertiary
    +label.outlined.highlight.highlight-quaternary Quaternary
    +label.outlined.highlight.highlight-white White
    +label.outlined.highlight.highlight-gray Gray
    +label.outlined.highlight.highlight-black Black
    +label.outlined.highlight.highlight-yellow Yellow
    +label.outlined.highlight.highlight-olive Olive
    +label.outlined.highlight.highlight-green Green
    +label.outlined.highlight.highlight-blue Blue
    +label.outlined.highlight.highlight-violet Violet
    +label.outlined.highlight.highlight-orange Orange
    +label.outlined.highlight.highlight-purple Purple
    +label.outlined.highlight.highlight-red Red
    +label.outlined.highlight.highlight-pink Pink
    +label.outlined.highlight.highlight-teal Teal
    +label.outlined.highlight.highlight-brown Brown
    +label.outlined.highlight.highlight-transparent Transparent
    +label.outlined.highlight.highlight-inherit Inherit
    +label.outlined.highlight.highlight-base Base

  +divider Actions

  +button("toggle_outlined ()").outlined Toggle outlined

append body-end
  +script.
    function toggle_outlined () {
      $('.label').toggleClass ( 'outlined' );
    }
