
extends ../layout.jade

//- Highlight

append main
  +divider-block Highlight

  +multiple
    +label.highlight.primary Primary
    +label.highlight.secondary Secondary
    +label.highlight.tertiary Tertiary
    +label.highlight.quaternary Quaternary
    +label.highlight.white White
    +label.highlight.gray Gray
    +label.highlight.black Black
    +label.highlight.yellow Yellow
    +label.highlight.olive Olive
    +label.highlight.green Green
    +label.highlight.blue Blue
    +label.highlight.violet Violet
    +label.highlight.orange Orange
    +label.highlight.purple Purple
    +label.highlight.red Red
    +label.highlight.pink Pink
    +label.highlight.teal Teal
    +label.highlight.brown Brown
    +label.highlight.error Error
    +label.highlight.warning Warning
    +label.highlight.success Success
    +label.highlight.transparent Transparent
    +label.highlight.inherit Inherit
    +label.highlight.base Base

  +divider-block Highlight colors

  +multiple
    +label.highlight.highlight-primary Primary
    +label.highlight.highlight-secondary Secondary
    +label.highlight.highlight-tertiary Tertiary
    +label.highlight.highlight-quaternary Quaternary
    +label.highlight.highlight-white White
    +label.highlight.highlight-gray Gray
    +label.highlight.highlight-black Black
    +label.highlight.highlight-yellow Yellow
    +label.highlight.highlight-olive Olive
    +label.highlight.highlight-green Green
    +label.highlight.highlight-blue Blue
    +label.highlight.highlight-violet Violet
    +label.highlight.highlight-orange Orange
    +label.highlight.highlight-purple Purple
    +label.highlight.highlight-red Red
    +label.highlight.highlight-pink Pink
    +label.highlight.highlight-teal Teal
    +label.highlight.highlight-brown Brown
    +label.highlight.highlight-error Error
    +label.highlight.highlight-warning Warning
    +label.highlight.highlight-success Success
    +label.highlight.highlight-transparent Transparent
    +label.highlight.highlight-inherit Inherit
    +label.highlight.highlight-base Base

  +divider-block Actions

  +multiple.actions
    +button("toggle_class ( 'outlined' )").outlined Toggle outlined
    +button("toggle_class ( 'highlight-top' )").outlined Toggle highlight-top
    +button("toggle_class ( 'highlight-right' )").outlined Toggle highlight-right
    +button("toggle_class ( 'highlight-bottom' )").outlined Toggle highlight-bottom
    +button("toggle_class ( 'highlight-left' )").outlined Toggle highlight-left
    +button("toggle_class ( 'highlight-all' )").outlined Toggle highlight-all
    +button("toggle_class ( 'highlight-solid' )").outlined Toggle highlight-solid
    +button("toggle_class ( 'highlight-dotted' )").outlined Toggle highlight-dotted
    +button("toggle_class ( 'highlight-dashed' )").outlined Toggle highlight-dashed

append body-end
  +script.
    function toggle_class ( css_class ) {
      $('.label').not('.actions .button').toggleClass ( css_class );
    }
