//- css/icons.jade

extends ../layout.jade

append main

    +divider Action

    +container-simple.outlined
        +multiple.fluid
            +label-icon('3d_rotation')(title='3d_rotation').transparent
            +label-icon('accessibility')(title='accessibility').transparent
            +label-icon('account_balance')(title='account_balance').transparent
            +label-icon('account_balance_wallet')(title='account_balance_wallet').transparent
            +label-icon('account_box')(title='account_box').transparent
            +label-icon('account_circle')(title='account_circle').transparent
            +label-icon('add_shopping_cart')(title='add_shopping_cart').transparent
            +label-icon('alarm')(title='alarm').transparent
            +label-icon('alarm_add')(title='alarm_add').transparent
            +label-icon('alarm_off')(title='alarm_off').transparent
            +label-icon('alarm_on')(title='alarm_on').transparent
            +label-icon('android')(title='android').transparent
            +label-icon('announcement')(title='announcement').transparent
            +label-icon('aspect_ratio')(title='aspect_ratio').transparent
            +label-icon('assessment')(title='assessment').transparent
            +label-icon('assignment')(title='assignment').transparent
            +label-icon('assignment_ind')(title='assignment_ind').transparent
            +label-icon('assignment_late')(title='assignment_late').transparent
            +label-icon('assignment_return')(title='assignment_return').transparent
            +label-icon('assignment_returned')(title='assignment_returned').transparent
            +label-icon('assignment_turned_in')(title='assignment_turned_in').transparent
            +label-icon('autorenew')(title='autorenew').transparent
            +label-icon('backup')(title='backup').transparent
            +label-icon('book')(title='book').transparent
            +label-icon('bookmark')(title='bookmark').transparent
            +label-icon('bookmark_outline')(title='bookmark_outline').transparent
            +label-icon('bug_report')(title='bug_report').transparent
            +label-icon('build')(title='build').transparent
            +label-icon('cached')(title='cached').transparent
            +label-icon('camera_enhance')(title='camera_enhance').transparent
            +label-icon('card_giftcard')(title='card_giftcard').transparent
            +label-icon('card_membership')(title='card_membership').transparent
            +label-icon('card_travel')(title='card_travel').transparent
            +label-icon('change_history')(title='change_history').transparent
            +label-icon('check_circle')(title='check_circle').transparent
            +label-icon('chrome_reader_mode')(title='chrome_reader_mode').transparent
            +label-icon('class')(title='class').transparent
            +label-icon('code')(title='code').transparent
            +label-icon('credit_card')(title='credit_card').transparent
            +label-icon('dashboard')(title='dashboard').transparent
            +label-icon('delete')(title='delete').transparent
            +label-icon('description')(title='description').transparent
            +label-icon('dns')(title='dns').transparent
            +label-icon('done')(title='done').transparent
            +label-icon('done_all')(title='done_all').transparent
            +label-icon('eject')(title='eject').transparent
            +label-icon('event')(title='event').transparent
            +label-icon('event_seat')(title='event_seat').transparent
            +label-icon('exit_to_app')(title='exit_to_app').transparent
            +label-icon('explore')(title='explore').transparent
            +label-icon('extension')(title='extension').transparent
            +label-icon('face')(title='face').transparent
            +label-icon('favorite')(title='favorite').transparent
            +label-icon('favorite_border')(title='favorite_border').transparent
            +label-icon('feedback')(title='feedback').transparent
            +label-icon('find_in_page')(title='find_in_page').transparent
            +label-icon('find_replace')(title='find_replace').transparent
            +label-icon('flight_land')(title='flight_land').transparent
            +label-icon('flight_takeoff')(title='flight_takeoff').transparent
            +label-icon('flip_to_back')(title='flip_to_back').transparent
            +label-icon('flip_to_front')(title='flip_to_front').transparent
            +label-icon('get_app')(title='get_app').transparent
            +label-icon('gif')(title='gif').transparent
            +label-icon('grade')(title='grade').transparent
            +label-icon('group_work')(title='group_work').transparent
            +label-icon('help')(title='help').transparent
            +label-icon('help_outline')(title='help_outline').transparent
            +label-icon('highlight_off')(title='highlight_off').transparent
            +label-icon('history')(title='history').transparent
            +label-icon('home')(title='home').transparent
            +label-icon('hourglass_empty')(title='hourglass_empty').transparent
            +label-icon('hourglass_full')(title='hourglass_full').transparent
            +label-icon('http')(title='http').transparent
            +label-icon('https')(title='https').transparent
            +label-icon('info')(title='info').transparent
            +label-icon('info_outline')(title='info_outline').transparent
            +label-icon('input')(title='input').transparent
            +label-icon('invert_colors')(title='invert_colors').transparent
            +label-icon('label')(title='label').transparent
            +label-icon('label_outline')(title='label_outline').transparent
            +label-icon('language')(title='language').transparent
            +label-icon('launch')(title='launch').transparent
            +label-icon('list')(title='list').transparent
            +label-icon('lock')(title='lock').transparent
            +label-icon('lock_open')(title='lock_open').transparent
            +label-icon('lock_outline')(title='lock_outline').transparent
            +label-icon('loyalty')(title='loyalty').transparent
            +label-icon('markunread_mailbox')(title='markunread_mailbox').transparent
            +label-icon('note_add')(title='note_add').transparent
            +label-icon('offline_pin')(title='offline_pin').transparent
            +label-icon('open_in_browser')(title='open_in_browser').transparent
            +label-icon('open_in_new')(title='open_in_new').transparent
            +label-icon('open_with')(title='open_with').transparent
            +label-icon('pageview')(title='pageview').transparent
            +label-icon('payment')(title='payment').transparent
            +label-icon('perm_camera_mic')(title='perm_camera_mic').transparent
            +label-icon('perm_contact_cal')(title='perm_contact_cal').transparent
            +label-icon('perm_data_setting')(title='perm_data_setting').transparent
            +label-icon('perm_device_info')(title='perm_device_info').transparent
            +label-icon('perm_identity')(title='perm_identity').transparent
            +label-icon('perm_media')(title='perm_media').transparent
            +label-icon('perm_phone_msg')(title='perm_phone_msg').transparent
            +label-icon('perm_scan_wifi')(title='perm_scan_wifi').transparent
            +label-icon('picture_in_picture')(title='picture_in_picture').transparent
            +label-icon('play_for_work')(title='play_for_work').transparent
            +label-icon('polymer')(title='polymer').transparent
            +label-icon('power_settings_new')(title='power_settings_new').transparent
            +label-icon('print')(title='print').transparent
            +label-icon('query_builder')(title='query_builder').transparent
            +label-icon('question_answer')(title='question_answer').transparent
            +label-icon('receipt')(title='receipt').transparent
            +label-icon('redeem')(title='redeem').transparent
            +label-icon('reorder')(title='reorder').transparent
            +label-icon('report_problem')(title='report_problem').transparent
            +label-icon('restore')(title='restore').transparent
            +label-icon('room')(title='room').transparent
            +label-icon('schedule')(title='schedule').transparent
            +label-icon('search')(title='search').transparent
            +label-icon('settings')(title='settings').transparent
            +label-icon('settings_applications')(title='settings_applications').transparent
            +label-icon('settings_backup_restore')(title='settings_backup_restore').transparent
            +label-icon('settings_bluetooth')(title='settings_bluetooth').transparent
            +label-icon('settings_brightness')(title='settings_brightness').transparent
            +label-icon('settings_cell')(title='settings_cell').transparent
            +label-icon('settings_ethernet')(title='settings_ethernet').transparent
            +label-icon('settings_input_antenna')(title='settings_input_antenna').transparent
            +label-icon('settings_input_component')(title='settings_input_component').transparent
            +label-icon('settings_input_composite')(title='settings_input_composite').transparent
            +label-icon('settings_input_hdmi')(title='settings_input_hdmi').transparent
            +label-icon('settings_input_svideo')(title='settings_input_svideo').transparent
            +label-icon('settings_overscan')(title='settings_overscan').transparent
            +label-icon('settings_phone')(title='settings_phone').transparent
            +label-icon('settings_power')(title='settings_power').transparent
            +label-icon('settings_remote')(title='settings_remote').transparent
            +label-icon('settings_voice')(title='settings_voice').transparent
            +label-icon('shop')(title='shop').transparent
            +label-icon('shop_two')(title='shop_two').transparent
            +label-icon('shopping_basket')(title='shopping_basket').transparent
            +label-icon('shopping_cart')(title='shopping_cart').transparent
            +label-icon('speaker_notes')(title='speaker_notes').transparent
            +label-icon('spellcheck')(title='spellcheck').transparent
            +label-icon('star')(title='star').transparent
            +label-icon('stars')(title='stars').transparent
            +label-icon('store')(title='store').transparent
            +label-icon('subject')(title='subject').transparent
            +label-icon('supervisor_account')(title='supervisor_account').transparent
            +label-icon('swap_horiz')(title='swap_horiz').transparent
            +label-icon('swap_vert')(title='swap_vert').transparent
            +label-icon('swap_vert_circle')(title='swap_vert_circle').transparent
            +label-icon('system_update_alt')(title='system_update_alt').transparent
            +label-icon('tab')(title='tab').transparent
            +label-icon('tab_unselected')(title='tab_unselected').transparent
            +label-icon('theaters')(title='theaters').transparent
            +label-icon('thumb_down')(title='thumb_down').transparent
            +label-icon('thumb_up')(title='thumb_up').transparent
            +label-icon('thumbs_up_down')(title='thumbs_up_down').transparent
            +label-icon('toc')(title='toc').transparent
            +label-icon('today')(title='today').transparent
            +label-icon('toll')(title='toll').transparent
            +label-icon('track_changes')(title='track_changes').transparent
            +label-icon('translate')(title='translate').transparent
            +label-icon('trending_down')(title='trending_down').transparent
            +label-icon('trending_neutral')(title='trending_neutral').transparent
            +label-icon('trending_up')(title='trending_up').transparent
            +label-icon('turned_in')(title='turned_in').transparent
            +label-icon('turned_in_not')(title='turned_in_not').transparent
            +label-icon('verified_user')(title='verified_user').transparent
            +label-icon('view_agenda')(title='view_agenda').transparent
            +label-icon('view_array')(title='view_array').transparent
            +label-icon('view_carousel')(title='view_carousel').transparent
            +label-icon('view_column')(title='view_column').transparent
            +label-icon('view_day')(title='view_day').transparent
            +label-icon('view_headline')(title='view_headline').transparent
            +label-icon('view_list')(title='view_list').transparent
            +label-icon('view_module')(title='view_module').transparent
            +label-icon('view_quilt')(title='view_quilt').transparent
            +label-icon('view_stream')(title='view_stream').transparent
            +label-icon('view_week')(title='view_week').transparent
            +label-icon('visibility')(title='visibility').transparent
            +label-icon('visibility_off')(title='visibility_off').transparent
            +label-icon('work')(title='work').transparent
            +label-icon('youtube_searched_for')(title='youtube_searched_for').transparent
            +label-icon('zoom_in')(title='zoom_in').transparent
            +label-icon('zoom_out')(title='zoom_out').transparent

    +divider Alert

    +container-simple.outlined
        +multiple.fluid
            +label-icon('add_alert')(title='add_alert').transparent
            +label-icon('error')(title='error').transparent
            +label-icon('error_outline')(title='error_outline').transparent
            +label-icon('warning')(title='warning').transparent

    +divider Av

    +container-simple.outlined
        +multiple.fluid
            +label-icon('airplay')(title='airplay').transparent
            +label-icon('album')(title='album').transparent
            +label-icon('av_timer')(title='av_timer').transparent
            +label-icon('closed_caption')(title='closed_caption').transparent
            +label-icon('equalizer')(title='equalizer').transparent
            +label-icon('explicit')(title='explicit').transparent
            +label-icon('fast_forward')(title='fast_forward').transparent
            +label-icon('fast_rewind')(title='fast_rewind').transparent
            +label-icon('forward_10')(title='forward_10').transparent
            +label-icon('forward_30')(title='forward_30').transparent
            +label-icon('forward_5')(title='forward_5').transparent
            +label-icon('games')(title='games').transparent
            +label-icon('hd')(title='hd').transparent
            +label-icon('hearing')(title='hearing').transparent
            +label-icon('high_quality')(title='high_quality').transparent
            +label-icon('library_add')(title='library_add').transparent
            +label-icon('library_books')(title='library_books').transparent
            +label-icon('library_music')(title='library_music').transparent
            +label-icon('loop')(title='loop').transparent
            +label-icon('mic')(title='mic').transparent
            +label-icon('mic_none')(title='mic_none').transparent
            +label-icon('mic_off')(title='mic_off').transparent
            +label-icon('movie')(title='movie').transparent
            +label-icon('new_releases')(title='new_releases').transparent
            +label-icon('not_interested')(title='not_interested').transparent
            +label-icon('pause')(title='pause').transparent
            +label-icon('pause_circle_filled')(title='pause_circle_filled').transparent
            +label-icon('pause_circle_outline')(title='pause_circle_outline').transparent
            +label-icon('play_arrow')(title='play_arrow').transparent
            +label-icon('play_circle_fill')(title='play_circle_fill').transparent
            +label-icon('play_circle_outline')(title='play_circle_outline').transparent
            +label-icon('playlist_add')(title='playlist_add').transparent
            +label-icon('queue')(title='queue').transparent
            +label-icon('queue_music')(title='queue_music').transparent
            +label-icon('radio')(title='radio').transparent
            +label-icon('recent_actors')(title='recent_actors').transparent
            +label-icon('repeat')(title='repeat').transparent
            +label-icon('repeat_one')(title='repeat_one').transparent
            +label-icon('replay')(title='replay').transparent
            +label-icon('replay_10')(title='replay_10').transparent
            +label-icon('replay_30')(title='replay_30').transparent
            +label-icon('replay_5')(title='replay_5').transparent
            +label-icon('shuffle')(title='shuffle').transparent
            +label-icon('skip_next')(title='skip_next').transparent
            +label-icon('skip_previous')(title='skip_previous').transparent
            +label-icon('snooze')(title='snooze').transparent
            +label-icon('sort_by_alpha')(title='sort_by_alpha').transparent
            +label-icon('stop')(title='stop').transparent
            +label-icon('subtitles')(title='subtitles').transparent
            +label-icon('surround_sound')(title='surround_sound').transparent
            +label-icon('video_library')(title='video_library').transparent
            +label-icon('videocam')(title='videocam').transparent
            +label-icon('videocam_off')(title='videocam_off').transparent
            +label-icon('volume_down')(title='volume_down').transparent
            +label-icon('volume_mute')(title='volume_mute').transparent
            +label-icon('volume_off')(title='volume_off').transparent
            +label-icon('volume_up')(title='volume_up').transparent
            +label-icon('web')(title='web').transparent

    +divider Communication

    +container-simple.outlined
        +multiple.fluid
            +label-icon('business')(title='business').transparent
            +label-icon('call')(title='call').transparent
            +label-icon('call_end')(title='call_end').transparent
            +label-icon('call_made')(title='call_made').transparent
            +label-icon('call_merge')(title='call_merge').transparent
            +label-icon('call_missed')(title='call_missed').transparent
            +label-icon('call_received')(title='call_received').transparent
            +label-icon('call_split')(title='call_split').transparent
            +label-icon('chat')(title='chat').transparent
            +label-icon('chat_bubble')(title='chat_bubble').transparent
            +label-icon('chat_bubble_outline')(title='chat_bubble_outline').transparent
            +label-icon('clear_all')(title='clear_all').transparent
            +label-icon('comment')(title='comment').transparent
            +label-icon('contact_phone')(title='contact_phone').transparent
            +label-icon('contacts')(title='contacts').transparent
            +label-icon('dialer_sip')(title='dialer_sip').transparent
            +label-icon('dialpad')(title='dialpad').transparent
            +label-icon('email')(title='email').transparent
            +label-icon('forum')(title='forum').transparent
            +label-icon('import_export')(title='import_export').transparent
            +label-icon('invert_colors_off')(title='invert_colors_off').transparent
            +label-icon('live_help')(title='live_help').transparent
            +label-icon('location_off')(title='location_off').transparent
            +label-icon('location_on')(title='location_on').transparent
            +label-icon('message')(title='message').transparent
            +label-icon('no_sim')(title='no_sim').transparent
            +label-icon('phone')(title='phone').transparent
            +label-icon('phonelink_erase')(title='phonelink_erase').transparent
            +label-icon('phonelink_lock')(title='phonelink_lock').transparent
            +label-icon('phonelink_ring')(title='phonelink_ring').transparent
            +label-icon('phonelink_setup')(title='phonelink_setup').transparent
            +label-icon('portable_wifi_off')(title='portable_wifi_off').transparent
            +label-icon('present_to_all')(title='present_to_all').transparent
            +label-icon('ring_volume')(title='ring_volume').transparent
            +label-icon('speaker_phone')(title='speaker_phone').transparent
            +label-icon('stay_current_landscape')(title='stay_current_landscape').transparent
            +label-icon('stay_current_portrait')(title='stay_current_portrait').transparent
            +label-icon('stay_primary_landscape')(title='stay_primary_landscape').transparent
            +label-icon('stay_primary_portrait')(title='stay_primary_portrait').transparent
            +label-icon('swap_calls')(title='swap_calls').transparent
            +label-icon('textsms')(title='textsms').transparent
            +label-icon('voicemail')(title='voicemail').transparent
            +label-icon('vpn_key')(title='vpn_key').transparent

    +divider Content

    +container-simple.outlined
        +multiple.fluid
            +label-icon('add')(title='add').transparent
            +label-icon('add_box')(title='add_box').transparent
            +label-icon('add_circle')(title='add_circle').transparent
            +label-icon('add_circle_outline')(title='add_circle_outline').transparent
            +label-icon('archive')(title='archive').transparent
            +label-icon('backspace')(title='backspace').transparent
            +label-icon('block')(title='block').transparent
            +label-icon('clear')(title='clear').transparent
            +label-icon('content_copy')(title='content_copy').transparent
            +label-icon('content_cut')(title='content_cut').transparent
            +label-icon('content_paste')(title='content_paste').transparent
            +label-icon('create')(title='create').transparent
            +label-icon('drafts')(title='drafts').transparent
            +label-icon('filter_list')(title='filter_list').transparent
            +label-icon('flag')(title='flag').transparent
            +label-icon('font_download')(title='font_download').transparent
            +label-icon('forward')(title='forward').transparent
            +label-icon('gesture')(title='gesture').transparent
            +label-icon('inbox')(title='inbox').transparent
            +label-icon('link')(title='link').transparent
            +label-icon('mail')(title='mail').transparent
            +label-icon('markunread')(title='markunread').transparent
            +label-icon('redo')(title='redo').transparent
            +label-icon('remove')(title='remove').transparent
            +label-icon('remove_circle')(title='remove_circle').transparent
            +label-icon('remove_circle_outline')(title='remove_circle_outline').transparent
            +label-icon('reply')(title='reply').transparent
            +label-icon('reply_all')(title='reply_all').transparent
            +label-icon('report')(title='report').transparent
            +label-icon('save')(title='save').transparent
            +label-icon('select_all')(title='select_all').transparent
            +label-icon('send')(title='send').transparent
            +label-icon('sort')(title='sort').transparent
            +label-icon('text_format')(title='text_format').transparent
            +label-icon('undo')(title='undo').transparent

    +divider Device

    +container-simple.outlined
        +multiple.fluid
            +label-icon('access_alarm')(title='access_alarm').transparent
            +label-icon('access_alarms')(title='access_alarms').transparent
            +label-icon('access_time')(title='access_time').transparent
            +label-icon('add_alarm')(title='add_alarm').transparent
            +label-icon('airplanemode_active')(title='airplanemode_active').transparent
            +label-icon('airplanemode_inactive')(title='airplanemode_inactive').transparent
            +label-icon('battery_alert')(title='battery_alert').transparent
            +label-icon('battery_charging_full')(title='battery_charging_full').transparent
            +label-icon('battery_full')(title='battery_full').transparent
            +label-icon('battery_std')(title='battery_std').transparent
            +label-icon('battery_unknown')(title='battery_unknown').transparent
            +label-icon('bluetooth')(title='bluetooth').transparent
            +label-icon('bluetooth_connected')(title='bluetooth_connected').transparent
            +label-icon('bluetooth_disabled')(title='bluetooth_disabled').transparent
            +label-icon('bluetooth_searching')(title='bluetooth_searching').transparent
            +label-icon('brightness_auto')(title='brightness_auto').transparent
            +label-icon('brightness_high')(title='brightness_high').transparent
            +label-icon('brightness_low')(title='brightness_low').transparent
            +label-icon('brightness_medium')(title='brightness_medium').transparent
            +label-icon('data_usage')(title='data_usage').transparent
            +label-icon('developer_mode')(title='developer_mode').transparent
            +label-icon('devices')(title='devices').transparent
            +label-icon('dvr')(title='dvr').transparent
            +label-icon('gps_fixed')(title='gps_fixed').transparent
            +label-icon('gps_not_fixed')(title='gps_not_fixed').transparent
            +label-icon('gps_off')(title='gps_off').transparent
            +label-icon('graphic_eq')(title='graphic_eq').transparent
            +label-icon('location_disabled')(title='location_disabled').transparent
            +label-icon('location_searching')(title='location_searching').transparent
            +label-icon('network_cell')(title='network_cell').transparent
            +label-icon('network_wifi')(title='network_wifi').transparent
            +label-icon('nfc')(title='nfc').transparent
            +label-icon('screen_lock_landscape')(title='screen_lock_landscape').transparent
            +label-icon('screen_lock_portrait')(title='screen_lock_portrait').transparent
            +label-icon('screen_lock_rotation')(title='screen_lock_rotation').transparent
            +label-icon('screen_rotation')(title='screen_rotation').transparent
            +label-icon('sd_storage')(title='sd_storage').transparent
            +label-icon('settings_system_daydream')(title='settings_system_daydream').transparent
            +label-icon('signal_cellular_4_bar')(title='signal_cellular_4_bar').transparent
            +label-icon('signal_cellular_connected_no_internet_4_bar')(title='signal_cellular_connected_no_internet_4_bar').transparent
            +label-icon('signal_cellular_no_sim')(title='signal_cellular_no_sim').transparent
            +label-icon('signal_cellular_null')(title='signal_cellular_null').transparent
            +label-icon('signal_cellular_off')(title='signal_cellular_off').transparent
            +label-icon('signal_wifi_4_bar')(title='signal_wifi_4_bar').transparent
            +label-icon('signal_wifi_4_bar_lock')(title='signal_wifi_4_bar_lock').transparent
            +label-icon('signal_wifi_off')(title='signal_wifi_off').transparent
            +label-icon('storage')(title='storage').transparent
            +label-icon('usb')(title='usb').transparent
            +label-icon('wallpaper')(title='wallpaper').transparent
            +label-icon('widgets')(title='widgets').transparent
            +label-icon('wifi_lock')(title='wifi_lock').transparent
            +label-icon('wifi_tethering')(title='wifi_tethering').transparent

    +divider Editor

    +container-simple.outlined
        +multiple.fluid
            +label-icon('attach_file')(title='attach_file').transparent
            +label-icon('attach_money')(title='attach_money').transparent
            +label-icon('border_all')(title='border_all').transparent
            +label-icon('border_bottom')(title='border_bottom').transparent
            +label-icon('border_clear')(title='border_clear').transparent
            +label-icon('border_color')(title='border_color').transparent
            +label-icon('border_horizontal')(title='border_horizontal').transparent
            +label-icon('border_inner')(title='border_inner').transparent
            +label-icon('border_left')(title='border_left').transparent
            +label-icon('border_outer')(title='border_outer').transparent
            +label-icon('border_right')(title='border_right').transparent
            +label-icon('border_style')(title='border_style').transparent
            +label-icon('border_top')(title='border_top').transparent
            +label-icon('border_vertical')(title='border_vertical').transparent
            +label-icon('format_align_center')(title='format_align_center').transparent
            +label-icon('format_align_justify')(title='format_align_justify').transparent
            +label-icon('format_align_left')(title='format_align_left').transparent
            +label-icon('format_align_right')(title='format_align_right').transparent
            +label-icon('format_bold')(title='format_bold').transparent
            +label-icon('format_clear')(title='format_clear').transparent
            +label-icon('format_color_fill')(title='format_color_fill').transparent
            +label-icon('format_color_reset')(title='format_color_reset').transparent
            +label-icon('format_color_text')(title='format_color_text').transparent
            +label-icon('format_indent_decrease')(title='format_indent_decrease').transparent
            +label-icon('format_indent_increase')(title='format_indent_increase').transparent
            +label-icon('format_italic')(title='format_italic').transparent
            +label-icon('format_line_spacing')(title='format_line_spacing').transparent
            +label-icon('format_list_bulleted')(title='format_list_bulleted').transparent
            +label-icon('format_list_numbered')(title='format_list_numbered').transparent
            +label-icon('format_paint')(title='format_paint').transparent
            +label-icon('format_quote')(title='format_quote').transparent
            +label-icon('format_size')(title='format_size').transparent
            +label-icon('format_strikethrough')(title='format_strikethrough').transparent
            +label-icon('format_textdirection_l_to_r')(title='format_textdirection_l_to_r').transparent
            +label-icon('format_textdirection_r_to_l')(title='format_textdirection_r_to_l').transparent
            +label-icon('format_underline')(title='format_underline').transparent
            +label-icon('functions')(title='functions').transparent
            +label-icon('insert_chart')(title='insert_chart').transparent
            +label-icon('insert_comment')(title='insert_comment').transparent
            +label-icon('insert_drive_file')(title='insert_drive_file').transparent
            +label-icon('insert_emoticon')(title='insert_emoticon').transparent
            +label-icon('insert_invitation')(title='insert_invitation').transparent
            +label-icon('insert_link')(title='insert_link').transparent
            +label-icon('insert_photo')(title='insert_photo').transparent
            +label-icon('merge_type')(title='merge_type').transparent
            +label-icon('mode_comment')(title='mode_comment').transparent
            +label-icon('mode_edit')(title='mode_edit').transparent
            +label-icon('money_off')(title='money_off').transparent
            +label-icon('publish')(title='publish').transparent
            +label-icon('space_bar')(title='space_bar').transparent
            +label-icon('strikethrough_s')(title='strikethrough_s').transparent
            +label-icon('vertical_align_bottom')(title='vertical_align_bottom').transparent
            +label-icon('vertical_align_center')(title='vertical_align_center').transparent
            +label-icon('vertical_align_top')(title='vertical_align_top').transparent
            +label-icon('wrap_text')(title='wrap_text').transparent

    +divider File

    +container-simple.outlined
        +multiple.fluid
            +label-icon('attachment')(title='attachment').transparent
            +label-icon('cloud')(title='cloud').transparent
            +label-icon('cloud_circle')(title='cloud_circle').transparent
            +label-icon('cloud_done')(title='cloud_done').transparent
            +label-icon('cloud_download')(title='cloud_download').transparent
            +label-icon('cloud_off')(title='cloud_off').transparent
            +label-icon('cloud_queue')(title='cloud_queue').transparent
            +label-icon('cloud_upload')(title='cloud_upload').transparent
            +label-icon('file_download')(title='file_download').transparent
            +label-icon('file_upload')(title='file_upload').transparent
            +label-icon('folder')(title='folder').transparent
            +label-icon('folder_open')(title='folder_open').transparent
            +label-icon('folder_shared')(title='folder_shared').transparent

    +divider Hardware

    +container-simple.outlined
        +multiple.fluid
            +label-icon('cast')(title='cast').transparent
            +label-icon('cast_connected')(title='cast_connected').transparent
            +label-icon('computer')(title='computer').transparent
            +label-icon('desktop_mac')(title='desktop_mac').transparent
            +label-icon('desktop_windows')(title='desktop_windows').transparent
            +label-icon('developer_board')(title='developer_board').transparent
            +label-icon('device_hub')(title='device_hub').transparent
            +label-icon('dock')(title='dock').transparent
            +label-icon('gamepad')(title='gamepad').transparent
            +label-icon('headset')(title='headset').transparent
            +label-icon('headset_mic')(title='headset_mic').transparent
            +label-icon('keyboard')(title='keyboard').transparent
            +label-icon('keyboard_arrow_down')(title='keyboard_arrow_down').transparent
            +label-icon('keyboard_arrow_left')(title='keyboard_arrow_left').transparent
            +label-icon('keyboard_arrow_right')(title='keyboard_arrow_right').transparent
            +label-icon('keyboard_arrow_up')(title='keyboard_arrow_up').transparent
            +label-icon('keyboard_backspace')(title='keyboard_backspace').transparent
            +label-icon('keyboard_capslock')(title='keyboard_capslock').transparent
            +label-icon('keyboard_hide')(title='keyboard_hide').transparent
            +label-icon('keyboard_return')(title='keyboard_return').transparent
            +label-icon('keyboard_tab')(title='keyboard_tab').transparent
            +label-icon('keyboard_voice')(title='keyboard_voice').transparent
            +label-icon('laptop')(title='laptop').transparent
            +label-icon('laptop_chromebook')(title='laptop_chromebook').transparent
            +label-icon('laptop_mac')(title='laptop_mac').transparent
            +label-icon('laptop_windows')(title='laptop_windows').transparent
            +label-icon('memory')(title='memory').transparent
            +label-icon('mouse')(title='mouse').transparent
            +label-icon('phone_android')(title='phone_android').transparent
            +label-icon('phone_iphone')(title='phone_iphone').transparent
            +label-icon('phonelink')(title='phonelink').transparent
            +label-icon('phonelink_off')(title='phonelink_off').transparent
            +label-icon('power_input')(title='power_input').transparent
            +label-icon('router')(title='router').transparent
            +label-icon('scanner')(title='scanner').transparent
            +label-icon('security')(title='security').transparent
            +label-icon('sim_card')(title='sim_card').transparent
            +label-icon('smartphone')(title='smartphone').transparent
            +label-icon('speaker')(title='speaker').transparent
            +label-icon('speaker_group')(title='speaker_group').transparent
            +label-icon('tablet')(title='tablet').transparent
            +label-icon('tablet_android')(title='tablet_android').transparent
            +label-icon('tablet_mac')(title='tablet_mac').transparent
            +label-icon('toys')(title='toys').transparent
            +label-icon('tv')(title='tv').transparent
            +label-icon('watch')(title='watch').transparent

    +divider Image

    +container-simple.outlined
        +multiple.fluid
            +label-icon('add_to_photos')(title='add_to_photos').transparent
            +label-icon('adjust')(title='adjust').transparent
            +label-icon('assistant')(title='assistant').transparent
            +label-icon('assistant_photo')(title='assistant_photo').transparent
            +label-icon('audiotrack')(title='audiotrack').transparent
            +label-icon('blur_circular')(title='blur_circular').transparent
            +label-icon('blur_linear')(title='blur_linear').transparent
            +label-icon('blur_off')(title='blur_off').transparent
            +label-icon('blur_on')(title='blur_on').transparent
            +label-icon('brightness_1')(title='brightness_1').transparent
            +label-icon('brightness_2')(title='brightness_2').transparent
            +label-icon('brightness_3')(title='brightness_3').transparent
            +label-icon('brightness_4')(title='brightness_4').transparent
            +label-icon('brightness_5')(title='brightness_5').transparent
            +label-icon('brightness_6')(title='brightness_6').transparent
            +label-icon('brightness_7')(title='brightness_7').transparent
            +label-icon('broken_image')(title='broken_image').transparent
            +label-icon('brush')(title='brush').transparent
            +label-icon('camera')(title='camera').transparent
            +label-icon('camera_alt')(title='camera_alt').transparent
            +label-icon('camera_front')(title='camera_front').transparent
            +label-icon('camera_rear')(title='camera_rear').transparent
            +label-icon('camera_roll')(title='camera_roll').transparent
            +label-icon('center_focus_strong')(title='center_focus_strong').transparent
            +label-icon('center_focus_weak')(title='center_focus_weak').transparent
            +label-icon('collections')(title='collections').transparent
            +label-icon('collections_bookmark')(title='collections_bookmark').transparent
            +label-icon('color_lens')(title='color_lens').transparent
            +label-icon('colorize')(title='colorize').transparent
            +label-icon('compare')(title='compare').transparent
            +label-icon('control_point')(title='control_point').transparent
            +label-icon('control_point_duplicate')(title='control_point_duplicate').transparent
            +label-icon('crop')(title='crop').transparent
            +label-icon('crop_16_9')(title='crop_16_9').transparent
            +label-icon('crop_3_2')(title='crop_3_2').transparent
            +label-icon('crop_5_4')(title='crop_5_4').transparent
            +label-icon('crop_7_5')(title='crop_7_5').transparent
            +label-icon('crop_din')(title='crop_din').transparent
            +label-icon('crop_free')(title='crop_free').transparent
            +label-icon('crop_landscape')(title='crop_landscape').transparent
            +label-icon('crop_original')(title='crop_original').transparent
            +label-icon('crop_portrait')(title='crop_portrait').transparent
            +label-icon('crop_square')(title='crop_square').transparent
            +label-icon('dehaze')(title='dehaze').transparent
            +label-icon('details')(title='details').transparent
            +label-icon('edit')(title='edit').transparent
            +label-icon('exposure')(title='exposure').transparent
            +label-icon('exposure_minus_1')(title='exposure_minus_1').transparent
            +label-icon('exposure_minus_2')(title='exposure_minus_2').transparent
            +label-icon('exposure_plus_1')(title='exposure_plus_1').transparent
            +label-icon('exposure_plus_2')(title='exposure_plus_2').transparent
            +label-icon('exposure_zero')(title='exposure_zero').transparent
            +label-icon('filter')(title='filter').transparent
            +label-icon('filter_1')(title='filter_1').transparent
            +label-icon('filter_2')(title='filter_2').transparent
            +label-icon('filter_3')(title='filter_3').transparent
            +label-icon('filter_4')(title='filter_4').transparent
            +label-icon('filter_5')(title='filter_5').transparent
            +label-icon('filter_6')(title='filter_6').transparent
            +label-icon('filter_7')(title='filter_7').transparent
            +label-icon('filter_8')(title='filter_8').transparent
            +label-icon('filter_9')(title='filter_9').transparent
            +label-icon('filter_9_plus')(title='filter_9_plus').transparent
            +label-icon('filter_b_and_w')(title='filter_b_and_w').transparent
            +label-icon('filter_center_focus')(title='filter_center_focus').transparent
            +label-icon('filter_drama')(title='filter_drama').transparent
            +label-icon('filter_frames')(title='filter_frames').transparent
            +label-icon('filter_hdr')(title='filter_hdr').transparent
            +label-icon('filter_none')(title='filter_none').transparent
            +label-icon('filter_tilt_shift')(title='filter_tilt_shift').transparent
            +label-icon('filter_vintage')(title='filter_vintage').transparent
            +label-icon('flare')(title='flare').transparent
            +label-icon('flash_auto')(title='flash_auto').transparent
            +label-icon('flash_off')(title='flash_off').transparent
            +label-icon('flash_on')(title='flash_on').transparent
            +label-icon('flip')(title='flip').transparent
            +label-icon('gradient')(title='gradient').transparent
            +label-icon('grain')(title='grain').transparent
            +label-icon('grid_off')(title='grid_off').transparent
            +label-icon('grid_on')(title='grid_on').transparent
            +label-icon('hdr_off')(title='hdr_off').transparent
            +label-icon('hdr_on')(title='hdr_on').transparent
            +label-icon('hdr_strong')(title='hdr_strong').transparent
            +label-icon('hdr_weak')(title='hdr_weak').transparent
            +label-icon('healing')(title='healing').transparent
            +label-icon('image')(title='image').transparent
            +label-icon('image_aspect_ratio')(title='image_aspect_ratio').transparent
            +label-icon('iso')(title='iso').transparent
            +label-icon('landscape')(title='landscape').transparent
            +label-icon('leak_add')(title='leak_add').transparent
            +label-icon('leak_remove')(title='leak_remove').transparent
            +label-icon('lens')(title='lens').transparent
            +label-icon('looks')(title='looks').transparent
            +label-icon('looks_3')(title='looks_3').transparent
            +label-icon('looks_4')(title='looks_4').transparent
            +label-icon('looks_5')(title='looks_5').transparent
            +label-icon('looks_6')(title='looks_6').transparent
            +label-icon('looks_one')(title='looks_one').transparent
            +label-icon('looks_two')(title='looks_two').transparent
            +label-icon('loupe')(title='loupe').transparent
            +label-icon('monochrome_photos')(title='monochrome_photos').transparent
            +label-icon('movie_creation')(title='movie_creation').transparent
            +label-icon('music_note')(title='music_note').transparent
            +label-icon('nature')(title='nature').transparent
            +label-icon('nature_people')(title='nature_people').transparent
            +label-icon('navigate_before')(title='navigate_before').transparent
            +label-icon('navigate_next')(title='navigate_next').transparent
            +label-icon('palette')(title='palette').transparent
            +label-icon('panorama')(title='panorama').transparent
            +label-icon('panorama_fisheye')(title='panorama_fisheye').transparent
            +label-icon('panorama_horizontal')(title='panorama_horizontal').transparent
            +label-icon('panorama_vertical')(title='panorama_vertical').transparent
            +label-icon('panorama_wide_angle')(title='panorama_wide_angle').transparent
            +label-icon('photo')(title='photo').transparent
            +label-icon('photo_album')(title='photo_album').transparent
            +label-icon('photo_camera')(title='photo_camera').transparent
            +label-icon('photo_library')(title='photo_library').transparent
            +label-icon('photo_size_select_actual')(title='photo_size_select_actual').transparent
            +label-icon('photo_size_select_large')(title='photo_size_select_large').transparent
            +label-icon('photo_size_select_small')(title='photo_size_select_small').transparent
            +label-icon('picture_as_pdf')(title='picture_as_pdf').transparent
            +label-icon('portrait')(title='portrait').transparent
            +label-icon('remove_red_eye')(title='remove_red_eye').transparent
            +label-icon('rotate_90_degrees_ccw')(title='rotate_90_degrees_ccw').transparent
            +label-icon('rotate_left')(title='rotate_left').transparent
            +label-icon('rotate_right')(title='rotate_right').transparent
            +label-icon('slideshow')(title='slideshow').transparent
            +label-icon('straighten')(title='straighten').transparent
            +label-icon('style')(title='style').transparent
            +label-icon('switch_camera')(title='switch_camera').transparent
            +label-icon('switch_video')(title='switch_video').transparent
            +label-icon('tag_faces')(title='tag_faces').transparent
            +label-icon('texture')(title='texture').transparent
            +label-icon('timelapse')(title='timelapse').transparent
            +label-icon('timer')(title='timer').transparent
            +label-icon('timer_10')(title='timer_10').transparent
            +label-icon('timer_3')(title='timer_3').transparent
            +label-icon('timer_off')(title='timer_off').transparent
            +label-icon('tonality')(title='tonality').transparent
            +label-icon('transform')(title='transform').transparent
            +label-icon('tune')(title='tune').transparent
            +label-icon('view_comfy')(title='view_comfy').transparent
            +label-icon('view_compact')(title='view_compact').transparent
            +label-icon('vignette')(title='vignette').transparent
            +label-icon('wb_auto')(title='wb_auto').transparent
            +label-icon('wb_cloudy')(title='wb_cloudy').transparent
            +label-icon('wb_incandescent')(title='wb_incandescent').transparent
            +label-icon('wb_iridescent')(title='wb_iridescent').transparent
            +label-icon('wb_sunny')(title='wb_sunny').transparent

    +divider Maps

    +container-simple.outlined
        +multiple.fluid
            +label-icon('beenhere')(title='beenhere').transparent
            +label-icon('directions')(title='directions').transparent
            +label-icon('directions_bike')(title='directions_bike').transparent
            +label-icon('directions_boat')(title='directions_boat').transparent
            +label-icon('directions_bus')(title='directions_bus').transparent
            +label-icon('directions_car')(title='directions_car').transparent
            +label-icon('directions_railway')(title='directions_railway').transparent
            +label-icon('directions_run')(title='directions_run').transparent
            +label-icon('directions_subway')(title='directions_subway').transparent
            +label-icon('directions_transit')(title='directions_transit').transparent
            +label-icon('directions_walk')(title='directions_walk').transparent
            +label-icon('flight')(title='flight').transparent
            +label-icon('hotel')(title='hotel').transparent
            +label-icon('layers')(title='layers').transparent
            +label-icon('layers_clear')(title='layers_clear').transparent
            +label-icon('local_activity')(title='local_activity').transparent
            +label-icon('local_airport')(title='local_airport').transparent
            +label-icon('local_atm')(title='local_atm').transparent
            +label-icon('local_bar')(title='local_bar').transparent
            +label-icon('local_cafe')(title='local_cafe').transparent
            +label-icon('local_car_wash')(title='local_car_wash').transparent
            +label-icon('local_convenience_store')(title='local_convenience_store').transparent
            +label-icon('local_dining')(title='local_dining').transparent
            +label-icon('local_drink')(title='local_drink').transparent
            +label-icon('local_florist')(title='local_florist').transparent
            +label-icon('local_gas_station')(title='local_gas_station').transparent
            +label-icon('local_grocery_store')(title='local_grocery_store').transparent
            +label-icon('local_hospital')(title='local_hospital').transparent
            +label-icon('local_hotel')(title='local_hotel').transparent
            +label-icon('local_laundry_service')(title='local_laundry_service').transparent
            +label-icon('local_library')(title='local_library').transparent
            +label-icon('local_mall')(title='local_mall').transparent
            +label-icon('local_movies')(title='local_movies').transparent
            +label-icon('local_offer')(title='local_offer').transparent
            +label-icon('local_parking')(title='local_parking').transparent
            +label-icon('local_pharmacy')(title='local_pharmacy').transparent
            +label-icon('local_phone')(title='local_phone').transparent
            +label-icon('local_pizza')(title='local_pizza').transparent
            +label-icon('local_play')(title='local_play').transparent
            +label-icon('local_post_office')(title='local_post_office').transparent
            +label-icon('local_print_shop')(title='local_print_shop').transparent
            +label-icon('local_see')(title='local_see').transparent
            +label-icon('local_shipping')(title='local_shipping').transparent
            +label-icon('local_taxi')(title='local_taxi').transparent
            +label-icon('map')(title='map').transparent
            +label-icon('my_location')(title='my_location').transparent
            +label-icon('navigation')(title='navigation').transparent
            +label-icon('person_pin')(title='person_pin').transparent
            +label-icon('pin_drop')(title='pin_drop').transparent
            +label-icon('place')(title='place').transparent
            +label-icon('rate_review')(title='rate_review').transparent
            +label-icon('restaurant_menu')(title='restaurant_menu').transparent
            +label-icon('satellite')(title='satellite').transparent
            +label-icon('store_mall_directory')(title='store_mall_directory').transparent
            +label-icon('terrain')(title='terrain').transparent
            +label-icon('traffic')(title='traffic').transparent

    +divider Navigation

    +container-simple.outlined
        +multiple.fluid
            +label-icon('apps')(title='apps').transparent
            +label-icon('arrow_back')(title='arrow_back').transparent
            +label-icon('arrow_drop_down')(title='arrow_drop_down').transparent
            +label-icon('arrow_drop_down_circle')(title='arrow_drop_down_circle').transparent
            +label-icon('arrow_drop_up')(title='arrow_drop_up').transparent
            +label-icon('arrow_forward')(title='arrow_forward').transparent
            +label-icon('cancel')(title='cancel').transparent
            +label-icon('check')(title='check').transparent
            +label-icon('chevron_left')(title='chevron_left').transparent
            +label-icon('chevron_right')(title='chevron_right').transparent
            +label-icon('close')(title='close').transparent
            +label-icon('expand_less')(title='expand_less').transparent
            +label-icon('expand_more')(title='expand_more').transparent
            +label-icon('fullscreen')(title='fullscreen').transparent
            +label-icon('fullscreen_exit')(title='fullscreen_exit').transparent
            +label-icon('menu')(title='menu').transparent
            +label-icon('more_horiz')(title='more_horiz').transparent
            +label-icon('more_vert')(title='more_vert').transparent
            +label-icon('refresh')(title='refresh').transparent

    +divider Notification

    +container-simple.outlined
        +multiple.fluid
            +label-icon('adb')(title='adb').transparent
            +label-icon('airline_seat_flat')(title='airline_seat_flat').transparent
            +label-icon('airline_seat_flat_angled')(title='airline_seat_flat_angled').transparent
            +label-icon('airline_seat_individual_suite')(title='airline_seat_individual_suite').transparent
            +label-icon('airline_seat_legroom_extra')(title='airline_seat_legroom_extra').transparent
            +label-icon('airline_seat_legroom_normal')(title='airline_seat_legroom_normal').transparent
            +label-icon('airline_seat_legroom_reduced')(title='airline_seat_legroom_reduced').transparent
            +label-icon('airline_seat_recline_extra')(title='airline_seat_recline_extra').transparent
            +label-icon('airline_seat_recline_normal')(title='airline_seat_recline_normal').transparent
            +label-icon('bluetooth_audio')(title='bluetooth_audio').transparent
            +label-icon('confirmation_number')(title='confirmation_number').transparent
            +label-icon('disc_full')(title='disc_full').transparent
            +label-icon('do_not_disturb')(title='do_not_disturb').transparent
            +label-icon('do_not_disturb_alt')(title='do_not_disturb_alt').transparent
            +label-icon('drive_eta')(title='drive_eta').transparent
            +label-icon('event_available')(title='event_available').transparent
            +label-icon('event_busy')(title='event_busy').transparent
            +label-icon('event_note')(title='event_note').transparent
            +label-icon('folder_special')(title='folder_special').transparent
            +label-icon('live_tv')(title='live_tv').transparent
            +label-icon('mms')(title='mms').transparent
            +label-icon('more')(title='more').transparent
            +label-icon('network_locked')(title='network_locked').transparent
            +label-icon('ondemand_video')(title='ondemand_video').transparent
            +label-icon('personal_video')(title='personal_video').transparent
            +label-icon('phone_bluetooth_speaker')(title='phone_bluetooth_speaker').transparent
            +label-icon('phone_forwarded')(title='phone_forwarded').transparent
            +label-icon('phone_in_talk')(title='phone_in_talk').transparent
            +label-icon('phone_locked')(title='phone_locked').transparent
            +label-icon('phone_missed')(title='phone_missed').transparent
            +label-icon('phone_paused')(title='phone_paused').transparent
            +label-icon('power')(title='power').transparent
            +label-icon('sd_card')(title='sd_card').transparent
            +label-icon('sim_card_alert')(title='sim_card_alert').transparent
            +label-icon('sms')(title='sms').transparent
            +label-icon('sms_failed')(title='sms_failed').transparent
            +label-icon('sync')(title='sync').transparent
            +label-icon('sync_disabled')(title='sync_disabled').transparent
            +label-icon('sync_problem')(title='sync_problem').transparent
            +label-icon('system_update')(title='system_update').transparent
            +label-icon('tap_and_play')(title='tap_and_play').transparent
            +label-icon('time_to_leave')(title='time_to_leave').transparent
            +label-icon('vibration')(title='vibration').transparent
            +label-icon('voice_chat')(title='voice_chat').transparent
            +label-icon('vpn_lock')(title='vpn_lock').transparent
            +label-icon('wc')(title='wc').transparent
            +label-icon('wifi')(title='wifi').transparent

    +divider Social

    +container-simple.outlined
        +multiple.fluid
            +label-icon('cake')(title='cake').transparent
            +label-icon('domain')(title='domain').transparent
            +label-icon('group')(title='group').transparent
            +label-icon('group_add')(title='group_add').transparent
            +label-icon('location_city')(title='location_city').transparent
            +label-icon('mood')(title='mood').transparent
            +label-icon('mood_bad')(title='mood_bad').transparent
            +label-icon('notifications')(title='notifications').transparent
            +label-icon('notifications_active')(title='notifications_active').transparent
            +label-icon('notifications_none')(title='notifications_none').transparent
            +label-icon('notifications_off')(title='notifications_off').transparent
            +label-icon('notifications_paused')(title='notifications_paused').transparent
            +label-icon('pages')(title='pages').transparent
            +label-icon('party_mode')(title='party_mode').transparent
            +label-icon('people')(title='people').transparent
            +label-icon('people_outline')(title='people_outline').transparent
            +label-icon('person')(title='person').transparent
            +label-icon('person_add')(title='person_add').transparent
            +label-icon('person_outline')(title='person_outline').transparent
            +label-icon('plus_one')(title='plus_one').transparent
            +label-icon('poll')(title='poll').transparent
            +label-icon('public')(title='public').transparent
            +label-icon('school')(title='school').transparent
            +label-icon('share')(title='share').transparent
            +label-icon('whatshot')(title='whatshot').transparent

    +divider Toggle

    +container-simple.outlined
        +multiple.fluid
            +label-icon('check_box')(title='check_box').transparent
            +label-icon('check_box_outline_blank')(title='check_box_outline_blank').transparent
            +label-icon('indeterminate_check_box')(title='indeterminate_check_box').transparent
            +label-icon('radio_button_checked')(title='radio_button_checked').transparent
            +label-icon('radio_button_unchecked')(title='radio_button_unchecked').transparent
            +label-icon('star')(title='star').transparent
            +label-icon('star_border')(title='star_border').transparent
            +label-icon('star_half')(title='star_half').transparent
