
extends ../layout.jade

//- Icons

append main

  +divider-block Action

  +container.outlined
    +multiple.fluid
      +icon('3d_rotation')(title='3d_rotation').transparent
      +icon('accessibility')(title='accessibility').transparent
      +icon('account_balance')(title='account_balance').transparent
      +icon('account_balance_wallet')(title='account_balance_wallet').transparent
      +icon('account_box')(title='account_box').transparent
      +icon('account_circle')(title='account_circle').transparent
      +icon('add_shopping_cart')(title='add_shopping_cart').transparent
      +icon('alarm')(title='alarm').transparent
      +icon('alarm_add')(title='alarm_add').transparent
      +icon('alarm_off')(title='alarm_off').transparent
      +icon('alarm_on')(title='alarm_on').transparent
      +icon('android')(title='android').transparent
      +icon('announcement')(title='announcement').transparent
      +icon('aspect_ratio')(title='aspect_ratio').transparent
      +icon('assessment')(title='assessment').transparent
      +icon('assignment')(title='assignment').transparent
      +icon('assignment_ind')(title='assignment_ind').transparent
      +icon('assignment_late')(title='assignment_late').transparent
      +icon('assignment_return')(title='assignment_return').transparent
      +icon('assignment_returned')(title='assignment_returned').transparent
      +icon('assignment_turned_in')(title='assignment_turned_in').transparent
      +icon('autorenew')(title='autorenew').transparent
      +icon('backup')(title='backup').transparent
      +icon('book')(title='book').transparent
      +icon('bookmark')(title='bookmark').transparent
      +icon('bookmark_outline')(title='bookmark_outline').transparent
      +icon('bug_report')(title='bug_report').transparent
      +icon('build')(title='build').transparent
      +icon('cached')(title='cached').transparent
      +icon('camera_enhance')(title='camera_enhance').transparent
      +icon('card_giftcard')(title='card_giftcard').transparent
      +icon('card_membership')(title='card_membership').transparent
      +icon('card_travel')(title='card_travel').transparent
      +icon('change_history')(title='change_history').transparent
      +icon('check_circle')(title='check_circle').transparent
      +icon('chrome_reader_mode')(title='chrome_reader_mode').transparent
      +icon('class')(title='class').transparent
      +icon('code')(title='code').transparent
      +icon('credit_card')(title='credit_card').transparent
      +icon('dashboard')(title='dashboard').transparent
      +icon('delete')(title='delete').transparent
      +icon('description')(title='description').transparent
      +icon('dns')(title='dns').transparent
      +icon('done')(title='done').transparent
      +icon('done_all')(title='done_all').transparent
      +icon('eject')(title='eject').transparent
      +icon('event')(title='event').transparent
      +icon('event_seat')(title='event_seat').transparent
      +icon('exit_to_app')(title='exit_to_app').transparent
      +icon('explore')(title='explore').transparent
      +icon('extension')(title='extension').transparent
      +icon('face')(title='face').transparent
      +icon('favorite')(title='favorite').transparent
      +icon('favorite_border')(title='favorite_border').transparent
      +icon('feedback')(title='feedback').transparent
      +icon('find_in_page')(title='find_in_page').transparent
      +icon('find_replace')(title='find_replace').transparent
      +icon('flight_land')(title='flight_land').transparent
      +icon('flight_takeoff')(title='flight_takeoff').transparent
      +icon('flip_to_back')(title='flip_to_back').transparent
      +icon('flip_to_front')(title='flip_to_front').transparent
      +icon('get_app')(title='get_app').transparent
      +icon('gif')(title='gif').transparent
      +icon('grade')(title='grade').transparent
      +icon('group_work')(title='group_work').transparent
      +icon('help')(title='help').transparent
      +icon('help_outline')(title='help_outline').transparent
      +icon('highlight_off')(title='highlight_off').transparent
      +icon('history')(title='history').transparent
      +icon('home')(title='home').transparent
      +icon('hourglass_empty')(title='hourglass_empty').transparent
      +icon('hourglass_full')(title='hourglass_full').transparent
      +icon('http')(title='http').transparent
      +icon('https')(title='https').transparent
      +icon('info')(title='info').transparent
      +icon('info_outline')(title='info_outline').transparent
      +icon('input')(title='input').transparent
      +icon('invert_colors')(title='invert_colors').transparent
      +icon('label')(title='label').transparent
      +icon('label_outline')(title='label_outline').transparent
      +icon('language')(title='language').transparent
      +icon('launch')(title='launch').transparent
      +icon('list')(title='list').transparent
      +icon('lock')(title='lock').transparent
      +icon('lock_open')(title='lock_open').transparent
      +icon('lock_outline')(title='lock_outline').transparent
      +icon('loyalty')(title='loyalty').transparent
      +icon('markunread_mailbox')(title='markunread_mailbox').transparent
      +icon('note_add')(title='note_add').transparent
      +icon('offline_pin')(title='offline_pin').transparent
      +icon('open_in_browser')(title='open_in_browser').transparent
      +icon('open_in_new')(title='open_in_new').transparent
      +icon('open_with')(title='open_with').transparent
      +icon('pageview')(title='pageview').transparent
      +icon('payment')(title='payment').transparent
      +icon('perm_camera_mic')(title='perm_camera_mic').transparent
      +icon('perm_contact_cal')(title='perm_contact_cal').transparent
      +icon('perm_data_setting')(title='perm_data_setting').transparent
      +icon('perm_device_info')(title='perm_device_info').transparent
      +icon('perm_identity')(title='perm_identity').transparent
      +icon('perm_media')(title='perm_media').transparent
      +icon('perm_phone_msg')(title='perm_phone_msg').transparent
      +icon('perm_scan_wifi')(title='perm_scan_wifi').transparent
      +icon('picture_in_picture')(title='picture_in_picture').transparent
      +icon('play_for_work')(title='play_for_work').transparent
      +icon('polymer')(title='polymer').transparent
      +icon('power_settings_new')(title='power_settings_new').transparent
      +icon('print')(title='print').transparent
      +icon('query_builder')(title='query_builder').transparent
      +icon('question_answer')(title='question_answer').transparent
      +icon('receipt')(title='receipt').transparent
      +icon('redeem')(title='redeem').transparent
      +icon('reorder')(title='reorder').transparent
      +icon('report_problem')(title='report_problem').transparent
      +icon('restore')(title='restore').transparent
      +icon('room')(title='room').transparent
      +icon('schedule')(title='schedule').transparent
      +icon('search')(title='search').transparent
      +icon('settings')(title='settings').transparent
      +icon('settings_applications')(title='settings_applications').transparent
      +icon('settings_backup_restore')(title='settings_backup_restore').transparent
      +icon('settings_bluetooth')(title='settings_bluetooth').transparent
      +icon('settings_brightness')(title='settings_brightness').transparent
      +icon('settings_cell')(title='settings_cell').transparent
      +icon('settings_ethernet')(title='settings_ethernet').transparent
      +icon('settings_input_antenna')(title='settings_input_antenna').transparent
      +icon('settings_input_component')(title='settings_input_component').transparent
      +icon('settings_input_composite')(title='settings_input_composite').transparent
      +icon('settings_input_hdmi')(title='settings_input_hdmi').transparent
      +icon('settings_input_svideo')(title='settings_input_svideo').transparent
      +icon('settings_overscan')(title='settings_overscan').transparent
      +icon('settings_phone')(title='settings_phone').transparent
      +icon('settings_power')(title='settings_power').transparent
      +icon('settings_remote')(title='settings_remote').transparent
      +icon('settings_voice')(title='settings_voice').transparent
      +icon('shop')(title='shop').transparent
      +icon('shop_two')(title='shop_two').transparent
      +icon('shopping_basket')(title='shopping_basket').transparent
      +icon('shopping_cart')(title='shopping_cart').transparent
      +icon('speaker_notes')(title='speaker_notes').transparent
      +icon('spellcheck')(title='spellcheck').transparent
      +icon('star')(title='star').transparent
      +icon('stars')(title='stars').transparent
      +icon('store')(title='store').transparent
      +icon('subject')(title='subject').transparent
      +icon('supervisor_account')(title='supervisor_account').transparent
      +icon('swap_horiz')(title='swap_horiz').transparent
      +icon('swap_vert')(title='swap_vert').transparent
      +icon('swap_vert_circle')(title='swap_vert_circle').transparent
      +icon('system_update_alt')(title='system_update_alt').transparent
      +icon('tab')(title='tab').transparent
      +icon('tab_unselected')(title='tab_unselected').transparent
      +icon('theaters')(title='theaters').transparent
      +icon('thumb_down')(title='thumb_down').transparent
      +icon('thumb_up')(title='thumb_up').transparent
      +icon('thumbs_up_down')(title='thumbs_up_down').transparent
      +icon('toc')(title='toc').transparent
      +icon('today')(title='today').transparent
      +icon('toll')(title='toll').transparent
      +icon('track_changes')(title='track_changes').transparent
      +icon('translate')(title='translate').transparent
      +icon('trending_down')(title='trending_down').transparent
      +icon('trending_neutral')(title='trending_neutral').transparent
      +icon('trending_up')(title='trending_up').transparent
      +icon('turned_in')(title='turned_in').transparent
      +icon('turned_in_not')(title='turned_in_not').transparent
      +icon('verified_user')(title='verified_user').transparent
      +icon('view_agenda')(title='view_agenda').transparent
      +icon('view_array')(title='view_array').transparent
      +icon('view_carousel')(title='view_carousel').transparent
      +icon('view_column')(title='view_column').transparent
      +icon('view_day')(title='view_day').transparent
      +icon('view_headline')(title='view_headline').transparent
      +icon('view_list')(title='view_list').transparent
      +icon('view_module')(title='view_module').transparent
      +icon('view_quilt')(title='view_quilt').transparent
      +icon('view_stream')(title='view_stream').transparent
      +icon('view_week')(title='view_week').transparent
      +icon('visibility')(title='visibility').transparent
      +icon('visibility_off')(title='visibility_off').transparent
      +icon('work')(title='work').transparent
      +icon('youtube_searched_for')(title='youtube_searched_for').transparent
      +icon('zoom_in')(title='zoom_in').transparent
      +icon('zoom_out')(title='zoom_out').transparent

  +divider-block Alert

  +container.outlined
    +multiple.fluid
      +icon('add_alert')(title='add_alert').transparent
      +icon('error')(title='error').transparent
      +icon('error_outline')(title='error_outline').transparent
      +icon('warning')(title='warning').transparent

  +divider-block Av

  +container.outlined
    +multiple.fluid
      +icon('airplay')(title='airplay').transparent
      +icon('album')(title='album').transparent
      +icon('av_timer')(title='av_timer').transparent
      +icon('closed_caption')(title='closed_caption').transparent
      +icon('equalizer')(title='equalizer').transparent
      +icon('explicit')(title='explicit').transparent
      +icon('fast_forward')(title='fast_forward').transparent
      +icon('fast_rewind')(title='fast_rewind').transparent
      +icon('forward_10')(title='forward_10').transparent
      +icon('forward_30')(title='forward_30').transparent
      +icon('forward_5')(title='forward_5').transparent
      +icon('games')(title='games').transparent
      +icon('hd')(title='hd').transparent
      +icon('hearing')(title='hearing').transparent
      +icon('high_quality')(title='high_quality').transparent
      +icon('library_add')(title='library_add').transparent
      +icon('library_books')(title='library_books').transparent
      +icon('library_music')(title='library_music').transparent
      +icon('loop')(title='loop').transparent
      +icon('mic')(title='mic').transparent
      +icon('mic_none')(title='mic_none').transparent
      +icon('mic_off')(title='mic_off').transparent
      +icon('movie')(title='movie').transparent
      +icon('new_releases')(title='new_releases').transparent
      +icon('not_interested')(title='not_interested').transparent
      +icon('pause')(title='pause').transparent
      +icon('pause_circle_filled')(title='pause_circle_filled').transparent
      +icon('pause_circle_outline')(title='pause_circle_outline').transparent
      +icon('play_arrow')(title='play_arrow').transparent
      +icon('play_circle_fill')(title='play_circle_fill').transparent
      +icon('play_circle_outline')(title='play_circle_outline').transparent
      +icon('playlist_add')(title='playlist_add').transparent
      +icon('queue')(title='queue').transparent
      +icon('queue_music')(title='queue_music').transparent
      +icon('radio')(title='radio').transparent
      +icon('recent_actors')(title='recent_actors').transparent
      +icon('repeat')(title='repeat').transparent
      +icon('repeat_one')(title='repeat_one').transparent
      +icon('replay')(title='replay').transparent
      +icon('replay_10')(title='replay_10').transparent
      +icon('replay_30')(title='replay_30').transparent
      +icon('replay_5')(title='replay_5').transparent
      +icon('shuffle')(title='shuffle').transparent
      +icon('skip_next')(title='skip_next').transparent
      +icon('skip_previous')(title='skip_previous').transparent
      +icon('snooze')(title='snooze').transparent
      +icon('sort_by_alpha')(title='sort_by_alpha').transparent
      +icon('stop')(title='stop').transparent
      +icon('subtitles')(title='subtitles').transparent
      +icon('surround_sound')(title='surround_sound').transparent
      +icon('video_library')(title='video_library').transparent
      +icon('videocam')(title='videocam').transparent
      +icon('videocam_off')(title='videocam_off').transparent
      +icon('volume_down')(title='volume_down').transparent
      +icon('volume_mute')(title='volume_mute').transparent
      +icon('volume_off')(title='volume_off').transparent
      +icon('volume_up')(title='volume_up').transparent
      +icon('web')(title='web').transparent

  +divider-block Communication

  +container.outlined
    +multiple.fluid
      +icon('business')(title='business').transparent
      +icon('call')(title='call').transparent
      +icon('call_end')(title='call_end').transparent
      +icon('call_made')(title='call_made').transparent
      +icon('call_merge')(title='call_merge').transparent
      +icon('call_missed')(title='call_missed').transparent
      +icon('call_received')(title='call_received').transparent
      +icon('call_split')(title='call_split').transparent
      +icon('chat')(title='chat').transparent
      +icon('chat_bubble')(title='chat_bubble').transparent
      +icon('chat_bubble_outline')(title='chat_bubble_outline').transparent
      +icon('clear_all')(title='clear_all').transparent
      +icon('comment')(title='comment').transparent
      +icon('contact_phone')(title='contact_phone').transparent
      +icon('contacts')(title='contacts').transparent
      +icon('dialer_sip')(title='dialer_sip').transparent
      +icon('dialpad')(title='dialpad').transparent
      +icon('email')(title='email').transparent
      +icon('forum')(title='forum').transparent
      +icon('import_export')(title='import_export').transparent
      +icon('invert_colors_off')(title='invert_colors_off').transparent
      +icon('live_help')(title='live_help').transparent
      +icon('location_off')(title='location_off').transparent
      +icon('location_on')(title='location_on').transparent
      +icon('message')(title='message').transparent
      +icon('no_sim')(title='no_sim').transparent
      +icon('phone')(title='phone').transparent
      +icon('phonelink_erase')(title='phonelink_erase').transparent
      +icon('phonelink_lock')(title='phonelink_lock').transparent
      +icon('phonelink_ring')(title='phonelink_ring').transparent
      +icon('phonelink_setup')(title='phonelink_setup').transparent
      +icon('portable_wifi_off')(title='portable_wifi_off').transparent
      +icon('present_to_all')(title='present_to_all').transparent
      +icon('ring_volume')(title='ring_volume').transparent
      +icon('speaker_phone')(title='speaker_phone').transparent
      +icon('stay_current_landscape')(title='stay_current_landscape').transparent
      +icon('stay_current_portrait')(title='stay_current_portrait').transparent
      +icon('stay_primary_landscape')(title='stay_primary_landscape').transparent
      +icon('stay_primary_portrait')(title='stay_primary_portrait').transparent
      +icon('swap_calls')(title='swap_calls').transparent
      +icon('textsms')(title='textsms').transparent
      +icon('voicemail')(title='voicemail').transparent
      +icon('vpn_key')(title='vpn_key').transparent

  +divider-block Content

  +container.outlined
    +multiple.fluid
      +icon('add')(title='add').transparent
      +icon('add_box')(title='add_box').transparent
      +icon('add_circle')(title='add_circle').transparent
      +icon('add_circle_outline')(title='add_circle_outline').transparent
      +icon('archive')(title='archive').transparent
      +icon('backspace')(title='backspace').transparent
      +icon('block')(title='block').transparent
      +icon('clear')(title='clear').transparent
      +icon('content_copy')(title='content_copy').transparent
      +icon('content_cut')(title='content_cut').transparent
      +icon('content_paste')(title='content_paste').transparent
      +icon('create')(title='create').transparent
      +icon('drafts')(title='drafts').transparent
      +icon('filter_list')(title='filter_list').transparent
      +icon('flag')(title='flag').transparent
      +icon('font_download')(title='font_download').transparent
      +icon('forward')(title='forward').transparent
      +icon('gesture')(title='gesture').transparent
      +icon('inbox')(title='inbox').transparent
      +icon('link')(title='link').transparent
      +icon('mail')(title='mail').transparent
      +icon('markunread')(title='markunread').transparent
      +icon('redo')(title='redo').transparent
      +icon('remove')(title='remove').transparent
      +icon('remove_circle')(title='remove_circle').transparent
      +icon('remove_circle_outline')(title='remove_circle_outline').transparent
      +icon('reply')(title='reply').transparent
      +icon('reply_all')(title='reply_all').transparent
      +icon('report')(title='report').transparent
      +icon('save')(title='save').transparent
      +icon('select_all')(title='select_all').transparent
      +icon('send')(title='send').transparent
      +icon('sort')(title='sort').transparent
      +icon('text_format')(title='text_format').transparent
      +icon('undo')(title='undo').transparent

  +divider-block Device

  +container.outlined
    +multiple.fluid
      +icon('access_alarm')(title='access_alarm').transparent
      +icon('access_alarms')(title='access_alarms').transparent
      +icon('access_time')(title='access_time').transparent
      +icon('add_alarm')(title='add_alarm').transparent
      +icon('airplanemode_active')(title='airplanemode_active').transparent
      +icon('airplanemode_inactive')(title='airplanemode_inactive').transparent
      +icon('battery_alert')(title='battery_alert').transparent
      +icon('battery_charging_full')(title='battery_charging_full').transparent
      +icon('battery_full')(title='battery_full').transparent
      +icon('battery_std')(title='battery_std').transparent
      +icon('battery_unknown')(title='battery_unknown').transparent
      +icon('bluetooth')(title='bluetooth').transparent
      +icon('bluetooth_connected')(title='bluetooth_connected').transparent
      +icon('bluetooth_disabled')(title='bluetooth_disabled').transparent
      +icon('bluetooth_searching')(title='bluetooth_searching').transparent
      +icon('brightness_auto')(title='brightness_auto').transparent
      +icon('brightness_high')(title='brightness_high').transparent
      +icon('brightness_low')(title='brightness_low').transparent
      +icon('brightness_medium')(title='brightness_medium').transparent
      +icon('data_usage')(title='data_usage').transparent
      +icon('developer_mode')(title='developer_mode').transparent
      +icon('devices')(title='devices').transparent
      +icon('dvr')(title='dvr').transparent
      +icon('gps_fixed')(title='gps_fixed').transparent
      +icon('gps_not_fixed')(title='gps_not_fixed').transparent
      +icon('gps_off')(title='gps_off').transparent
      +icon('graphic_eq')(title='graphic_eq').transparent
      +icon('location_disabled')(title='location_disabled').transparent
      +icon('location_searching')(title='location_searching').transparent
      +icon('network_cell')(title='network_cell').transparent
      +icon('network_wifi')(title='network_wifi').transparent
      +icon('nfc')(title='nfc').transparent
      +icon('screen_lock_landscape')(title='screen_lock_landscape').transparent
      +icon('screen_lock_portrait')(title='screen_lock_portrait').transparent
      +icon('screen_lock_rotation')(title='screen_lock_rotation').transparent
      +icon('screen_rotation')(title='screen_rotation').transparent
      +icon('sd_storage')(title='sd_storage').transparent
      +icon('settings_system_daydream')(title='settings_system_daydream').transparent
      +icon('signal_cellular_4_bar')(title='signal_cellular_4_bar').transparent
      +icon('signal_cellular_connected_no_internet_4_bar')(title='signal_cellular_connected_no_internet_4_bar').transparent
      +icon('signal_cellular_no_sim')(title='signal_cellular_no_sim').transparent
      +icon('signal_cellular_null')(title='signal_cellular_null').transparent
      +icon('signal_cellular_off')(title='signal_cellular_off').transparent
      +icon('signal_wifi_4_bar')(title='signal_wifi_4_bar').transparent
      +icon('signal_wifi_4_bar_lock')(title='signal_wifi_4_bar_lock').transparent
      +icon('signal_wifi_off')(title='signal_wifi_off').transparent
      +icon('storage')(title='storage').transparent
      +icon('usb')(title='usb').transparent
      +icon('wallpaper')(title='wallpaper').transparent
      +icon('widgets')(title='widgets').transparent
      +icon('wifi_lock')(title='wifi_lock').transparent
      +icon('wifi_tethering')(title='wifi_tethering').transparent

  +divider-block Editor

  +container.outlined
    +multiple.fluid
      +icon('attach_file')(title='attach_file').transparent
      +icon('attach_money')(title='attach_money').transparent
      +icon('border_all')(title='border_all').transparent
      +icon('border_bottom')(title='border_bottom').transparent
      +icon('border_clear')(title='border_clear').transparent
      +icon('border_color')(title='border_color').transparent
      +icon('border_horizontal')(title='border_horizontal').transparent
      +icon('border_inner')(title='border_inner').transparent
      +icon('border_left')(title='border_left').transparent
      +icon('border_outer')(title='border_outer').transparent
      +icon('border_right')(title='border_right').transparent
      +icon('border_style')(title='border_style').transparent
      +icon('border_top')(title='border_top').transparent
      +icon('border_vertical')(title='border_vertical').transparent
      +icon('format_align_center')(title='format_align_center').transparent
      +icon('format_align_justify')(title='format_align_justify').transparent
      +icon('format_align_left')(title='format_align_left').transparent
      +icon('format_align_right')(title='format_align_right').transparent
      +icon('format_bold')(title='format_bold').transparent
      +icon('format_clear')(title='format_clear').transparent
      +icon('format_color_fill')(title='format_color_fill').transparent
      +icon('format_color_reset')(title='format_color_reset').transparent
      +icon('format_color_text')(title='format_color_text').transparent
      +icon('format_indent_decrease')(title='format_indent_decrease').transparent
      +icon('format_indent_increase')(title='format_indent_increase').transparent
      +icon('format_italic')(title='format_italic').transparent
      +icon('format_line_spacing')(title='format_line_spacing').transparent
      +icon('format_list_bulleted')(title='format_list_bulleted').transparent
      +icon('format_list_numbered')(title='format_list_numbered').transparent
      +icon('format_paint')(title='format_paint').transparent
      +icon('format_quote')(title='format_quote').transparent
      +icon('format_size')(title='format_size').transparent
      +icon('format_strikethrough')(title='format_strikethrough').transparent
      +icon('format_textdirection_l_to_r')(title='format_textdirection_l_to_r').transparent
      +icon('format_textdirection_r_to_l')(title='format_textdirection_r_to_l').transparent
      +icon('format_underline')(title='format_underline').transparent
      +icon('functions')(title='functions').transparent
      +icon('insert_chart')(title='insert_chart').transparent
      +icon('insert_comment')(title='insert_comment').transparent
      +icon('insert_drive_file')(title='insert_drive_file').transparent
      +icon('insert_emoticon')(title='insert_emoticon').transparent
      +icon('insert_invitation')(title='insert_invitation').transparent
      +icon('insert_link')(title='insert_link').transparent
      +icon('insert_photo')(title='insert_photo').transparent
      +icon('merge_type')(title='merge_type').transparent
      +icon('mode_comment')(title='mode_comment').transparent
      +icon('mode_edit')(title='mode_edit').transparent
      +icon('money_off')(title='money_off').transparent
      +icon('publish')(title='publish').transparent
      +icon('space_bar')(title='space_bar').transparent
      +icon('strikethrough_s')(title='strikethrough_s').transparent
      +icon('vertical_align_bottom')(title='vertical_align_bottom').transparent
      +icon('vertical_align_center')(title='vertical_align_center').transparent
      +icon('vertical_align_top')(title='vertical_align_top').transparent
      +icon('wrap_text')(title='wrap_text').transparent

  +divider-block File

  +container.outlined
    +multiple.fluid
      +icon('attachment')(title='attachment').transparent
      +icon('cloud')(title='cloud').transparent
      +icon('cloud_circle')(title='cloud_circle').transparent
      +icon('cloud_done')(title='cloud_done').transparent
      +icon('cloud_download')(title='cloud_download').transparent
      +icon('cloud_off')(title='cloud_off').transparent
      +icon('cloud_queue')(title='cloud_queue').transparent
      +icon('cloud_upload')(title='cloud_upload').transparent
      +icon('file_download')(title='file_download').transparent
      +icon('file_upload')(title='file_upload').transparent
      +icon('folder')(title='folder').transparent
      +icon('folder_open')(title='folder_open').transparent
      +icon('folder_shared')(title='folder_shared').transparent

  +divider-block Hardware

  +container.outlined
    +multiple.fluid
      +icon('cast')(title='cast').transparent
      +icon('cast_connected')(title='cast_connected').transparent
      +icon('computer')(title='computer').transparent
      +icon('desktop_mac')(title='desktop_mac').transparent
      +icon('desktop_windows')(title='desktop_windows').transparent
      +icon('developer_board')(title='developer_board').transparent
      +icon('device_hub')(title='device_hub').transparent
      +icon('dock')(title='dock').transparent
      +icon('gamepad')(title='gamepad').transparent
      +icon('headset')(title='headset').transparent
      +icon('headset_mic')(title='headset_mic').transparent
      +icon('keyboard')(title='keyboard').transparent
      +icon('keyboard_arrow_down')(title='keyboard_arrow_down').transparent
      +icon('keyboard_arrow_left')(title='keyboard_arrow_left').transparent
      +icon('keyboard_arrow_right')(title='keyboard_arrow_right').transparent
      +icon('keyboard_arrow_up')(title='keyboard_arrow_up').transparent
      +icon('keyboard_backspace')(title='keyboard_backspace').transparent
      +icon('keyboard_capslock')(title='keyboard_capslock').transparent
      +icon('keyboard_hide')(title='keyboard_hide').transparent
      +icon('keyboard_return')(title='keyboard_return').transparent
      +icon('keyboard_tab')(title='keyboard_tab').transparent
      +icon('keyboard_voice')(title='keyboard_voice').transparent
      +icon('laptop')(title='laptop').transparent
      +icon('laptop_chromebook')(title='laptop_chromebook').transparent
      +icon('laptop_mac')(title='laptop_mac').transparent
      +icon('laptop_windows')(title='laptop_windows').transparent
      +icon('memory')(title='memory').transparent
      +icon('mouse')(title='mouse').transparent
      +icon('phone_android')(title='phone_android').transparent
      +icon('phone_iphone')(title='phone_iphone').transparent
      +icon('phonelink')(title='phonelink').transparent
      +icon('phonelink_off')(title='phonelink_off').transparent
      +icon('power_input')(title='power_input').transparent
      +icon('router')(title='router').transparent
      +icon('scanner')(title='scanner').transparent
      +icon('security')(title='security').transparent
      +icon('sim_card')(title='sim_card').transparent
      +icon('smartphone')(title='smartphone').transparent
      +icon('speaker')(title='speaker').transparent
      +icon('speaker_group')(title='speaker_group').transparent
      +icon('tablet')(title='tablet').transparent
      +icon('tablet_android')(title='tablet_android').transparent
      +icon('tablet_mac')(title='tablet_mac').transparent
      +icon('toys')(title='toys').transparent
      +icon('tv')(title='tv').transparent
      +icon('watch')(title='watch').transparent

  +divider-block Image

  +container.outlined
    +multiple.fluid
      +icon('add_to_photos')(title='add_to_photos').transparent
      +icon('adjust')(title='adjust').transparent
      +icon('assistant')(title='assistant').transparent
      +icon('assistant_photo')(title='assistant_photo').transparent
      +icon('audiotrack')(title='audiotrack').transparent
      +icon('blur_circular')(title='blur_circular').transparent
      +icon('blur_linear')(title='blur_linear').transparent
      +icon('blur_off')(title='blur_off').transparent
      +icon('blur_on')(title='blur_on').transparent
      +icon('brightness_1')(title='brightness_1').transparent
      +icon('brightness_2')(title='brightness_2').transparent
      +icon('brightness_3')(title='brightness_3').transparent
      +icon('brightness_4')(title='brightness_4').transparent
      +icon('brightness_5')(title='brightness_5').transparent
      +icon('brightness_6')(title='brightness_6').transparent
      +icon('brightness_7')(title='brightness_7').transparent
      +icon('broken_image')(title='broken_image').transparent
      +icon('brush')(title='brush').transparent
      +icon('camera')(title='camera').transparent
      +icon('camera_alt')(title='camera_alt').transparent
      +icon('camera_front')(title='camera_front').transparent
      +icon('camera_rear')(title='camera_rear').transparent
      +icon('camera_roll')(title='camera_roll').transparent
      +icon('center_focus_strong')(title='center_focus_strong').transparent
      +icon('center_focus_weak')(title='center_focus_weak').transparent
      +icon('collections')(title='collections').transparent
      +icon('collections_bookmark')(title='collections_bookmark').transparent
      +icon('color_lens')(title='color_lens').transparent
      +icon('colorize')(title='colorize').transparent
      +icon('compare')(title='compare').transparent
      +icon('control_point')(title='control_point').transparent
      +icon('control_point_duplicate')(title='control_point_duplicate').transparent
      +icon('crop')(title='crop').transparent
      +icon('crop_16_9')(title='crop_16_9').transparent
      +icon('crop_3_2')(title='crop_3_2').transparent
      +icon('crop_5_4')(title='crop_5_4').transparent
      +icon('crop_7_5')(title='crop_7_5').transparent
      +icon('crop_din')(title='crop_din').transparent
      +icon('crop_free')(title='crop_free').transparent
      +icon('crop_landscape')(title='crop_landscape').transparent
      +icon('crop_original')(title='crop_original').transparent
      +icon('crop_portrait')(title='crop_portrait').transparent
      +icon('crop_square')(title='crop_square').transparent
      +icon('dehaze')(title='dehaze').transparent
      +icon('details')(title='details').transparent
      +icon('edit')(title='edit').transparent
      +icon('exposure')(title='exposure').transparent
      +icon('exposure_minus_1')(title='exposure_minus_1').transparent
      +icon('exposure_minus_2')(title='exposure_minus_2').transparent
      +icon('exposure_plus_1')(title='exposure_plus_1').transparent
      +icon('exposure_plus_2')(title='exposure_plus_2').transparent
      +icon('exposure_zero')(title='exposure_zero').transparent
      +icon('filter')(title='filter').transparent
      +icon('filter_1')(title='filter_1').transparent
      +icon('filter_2')(title='filter_2').transparent
      +icon('filter_3')(title='filter_3').transparent
      +icon('filter_4')(title='filter_4').transparent
      +icon('filter_5')(title='filter_5').transparent
      +icon('filter_6')(title='filter_6').transparent
      +icon('filter_7')(title='filter_7').transparent
      +icon('filter_8')(title='filter_8').transparent
      +icon('filter_9')(title='filter_9').transparent
      +icon('filter_9_plus')(title='filter_9_plus').transparent
      +icon('filter_b_and_w')(title='filter_b_and_w').transparent
      +icon('filter_center_focus')(title='filter_center_focus').transparent
      +icon('filter_drama')(title='filter_drama').transparent
      +icon('filter_frames')(title='filter_frames').transparent
      +icon('filter_hdr')(title='filter_hdr').transparent
      +icon('filter_none')(title='filter_none').transparent
      +icon('filter_tilt_shift')(title='filter_tilt_shift').transparent
      +icon('filter_vintage')(title='filter_vintage').transparent
      +icon('flare')(title='flare').transparent
      +icon('flash_auto')(title='flash_auto').transparent
      +icon('flash_off')(title='flash_off').transparent
      +icon('flash_on')(title='flash_on').transparent
      +icon('flip')(title='flip').transparent
      +icon('gradient')(title='gradient').transparent
      +icon('grain')(title='grain').transparent
      +icon('grid_off')(title='grid_off').transparent
      +icon('grid_on')(title='grid_on').transparent
      +icon('hdr_off')(title='hdr_off').transparent
      +icon('hdr_on')(title='hdr_on').transparent
      +icon('hdr_strong')(title='hdr_strong').transparent
      +icon('hdr_weak')(title='hdr_weak').transparent
      +icon('healing')(title='healing').transparent
      +icon('image')(title='image').transparent
      +icon('image_aspect_ratio')(title='image_aspect_ratio').transparent
      +icon('iso')(title='iso').transparent
      +icon('landscape')(title='landscape').transparent
      +icon('leak_add')(title='leak_add').transparent
      +icon('leak_remove')(title='leak_remove').transparent
      +icon('lens')(title='lens').transparent
      +icon('looks')(title='looks').transparent
      +icon('looks_3')(title='looks_3').transparent
      +icon('looks_4')(title='looks_4').transparent
      +icon('looks_5')(title='looks_5').transparent
      +icon('looks_6')(title='looks_6').transparent
      +icon('looks_one')(title='looks_one').transparent
      +icon('looks_two')(title='looks_two').transparent
      +icon('loupe')(title='loupe').transparent
      +icon('monochrome_photos')(title='monochrome_photos').transparent
      +icon('movie_creation')(title='movie_creation').transparent
      +icon('music_note')(title='music_note').transparent
      +icon('nature')(title='nature').transparent
      +icon('nature_people')(title='nature_people').transparent
      +icon('navigate_before')(title='navigate_before').transparent
      +icon('navigate_next')(title='navigate_next').transparent
      +icon('palette')(title='palette').transparent
      +icon('panorama')(title='panorama').transparent
      +icon('panorama_fisheye')(title='panorama_fisheye').transparent
      +icon('panorama_horizontal')(title='panorama_horizontal').transparent
      +icon('panorama_vertical')(title='panorama_vertical').transparent
      +icon('panorama_wide_angle')(title='panorama_wide_angle').transparent
      +icon('photo')(title='photo').transparent
      +icon('photo_album')(title='photo_album').transparent
      +icon('photo_camera')(title='photo_camera').transparent
      +icon('photo_library')(title='photo_library').transparent
      +icon('photo_size_select_actual')(title='photo_size_select_actual').transparent
      +icon('photo_size_select_large')(title='photo_size_select_large').transparent
      +icon('photo_size_select_small')(title='photo_size_select_small').transparent
      +icon('picture_as_pdf')(title='picture_as_pdf').transparent
      +icon('portrait')(title='portrait').transparent
      +icon('remove_red_eye')(title='remove_red_eye').transparent
      +icon('rotate_90_degrees_ccw')(title='rotate_90_degrees_ccw').transparent
      +icon('rotate_left')(title='rotate_left').transparent
      +icon('rotate_right')(title='rotate_right').transparent
      +icon('slideshow')(title='slideshow').transparent
      +icon('straighten')(title='straighten').transparent
      +icon('style')(title='style').transparent
      +icon('switch_camera')(title='switch_camera').transparent
      +icon('switch_video')(title='switch_video').transparent
      +icon('tag_faces')(title='tag_faces').transparent
      +icon('texture')(title='texture').transparent
      +icon('timelapse')(title='timelapse').transparent
      +icon('timer')(title='timer').transparent
      +icon('timer_10')(title='timer_10').transparent
      +icon('timer_3')(title='timer_3').transparent
      +icon('timer_off')(title='timer_off').transparent
      +icon('tonality')(title='tonality').transparent
      +icon('transform')(title='transform').transparent
      +icon('tune')(title='tune').transparent
      +icon('view_comfy')(title='view_comfy').transparent
      +icon('view_compact')(title='view_compact').transparent
      +icon('vignette')(title='vignette').transparent
      +icon('wb_auto')(title='wb_auto').transparent
      +icon('wb_cloudy')(title='wb_cloudy').transparent
      +icon('wb_incandescent')(title='wb_incandescent').transparent
      +icon('wb_iridescent')(title='wb_iridescent').transparent
      +icon('wb_sunny')(title='wb_sunny').transparent

  +divider-block Maps

  +container.outlined
    +multiple.fluid
      +icon('beenhere')(title='beenhere').transparent
      +icon('directions')(title='directions').transparent
      +icon('directions_bike')(title='directions_bike').transparent
      +icon('directions_boat')(title='directions_boat').transparent
      +icon('directions_bus')(title='directions_bus').transparent
      +icon('directions_car')(title='directions_car').transparent
      +icon('directions_railway')(title='directions_railway').transparent
      +icon('directions_run')(title='directions_run').transparent
      +icon('directions_subway')(title='directions_subway').transparent
      +icon('directions_transit')(title='directions_transit').transparent
      +icon('directions_walk')(title='directions_walk').transparent
      +icon('flight')(title='flight').transparent
      +icon('hotel')(title='hotel').transparent
      +icon('layers')(title='layers').transparent
      +icon('layers_clear')(title='layers_clear').transparent
      +icon('local_activity')(title='local_activity').transparent
      +icon('local_airport')(title='local_airport').transparent
      +icon('local_atm')(title='local_atm').transparent
      +icon('local_bar')(title='local_bar').transparent
      +icon('local_cafe')(title='local_cafe').transparent
      +icon('local_car_wash')(title='local_car_wash').transparent
      +icon('local_convenience_store')(title='local_convenience_store').transparent
      +icon('local_dining')(title='local_dining').transparent
      +icon('local_drink')(title='local_drink').transparent
      +icon('local_florist')(title='local_florist').transparent
      +icon('local_gas_station')(title='local_gas_station').transparent
      +icon('local_grocery_store')(title='local_grocery_store').transparent
      +icon('local_hospital')(title='local_hospital').transparent
      +icon('local_hotel')(title='local_hotel').transparent
      +icon('local_laundry_service')(title='local_laundry_service').transparent
      +icon('local_library')(title='local_library').transparent
      +icon('local_mall')(title='local_mall').transparent
      +icon('local_movies')(title='local_movies').transparent
      +icon('local_offer')(title='local_offer').transparent
      +icon('local_parking')(title='local_parking').transparent
      +icon('local_pharmacy')(title='local_pharmacy').transparent
      +icon('local_phone')(title='local_phone').transparent
      +icon('local_pizza')(title='local_pizza').transparent
      +icon('local_play')(title='local_play').transparent
      +icon('local_post_office')(title='local_post_office').transparent
      +icon('local_print_shop')(title='local_print_shop').transparent
      +icon('local_see')(title='local_see').transparent
      +icon('local_shipping')(title='local_shipping').transparent
      +icon('local_taxi')(title='local_taxi').transparent
      +icon('map')(title='map').transparent
      +icon('my_location')(title='my_location').transparent
      +icon('navigation')(title='navigation').transparent
      +icon('person_pin')(title='person_pin').transparent
      +icon('pin_drop')(title='pin_drop').transparent
      +icon('place')(title='place').transparent
      +icon('rate_review')(title='rate_review').transparent
      +icon('restaurant_menu')(title='restaurant_menu').transparent
      +icon('satellite')(title='satellite').transparent
      +icon('store_mall_directory')(title='store_mall_directory').transparent
      +icon('terrain')(title='terrain').transparent
      +icon('traffic')(title='traffic').transparent

  +divider-block Navigation

  +container.outlined
    +multiple.fluid
      +icon('apps')(title='apps').transparent
      +icon('arrow_back')(title='arrow_back').transparent
      +icon('arrow_drop_down')(title='arrow_drop_down').transparent
      +icon('arrow_drop_down_circle')(title='arrow_drop_down_circle').transparent
      +icon('arrow_drop_up')(title='arrow_drop_up').transparent
      +icon('arrow_forward')(title='arrow_forward').transparent
      +icon('cancel')(title='cancel').transparent
      +icon('check')(title='check').transparent
      +icon('chevron_left')(title='chevron_left').transparent
      +icon('chevron_right')(title='chevron_right').transparent
      +icon('close')(title='close').transparent
      +icon('expand_less')(title='expand_less').transparent
      +icon('expand_more')(title='expand_more').transparent
      +icon('fullscreen')(title='fullscreen').transparent
      +icon('fullscreen_exit')(title='fullscreen_exit').transparent
      +icon('menu')(title='menu').transparent
      +icon('more_horiz')(title='more_horiz').transparent
      +icon('more_vert')(title='more_vert').transparent
      +icon('refresh')(title='refresh').transparent

  +divider-block Notification

  +container.outlined
    +multiple.fluid
      +icon('adb')(title='adb').transparent
      +icon('airline_seat_flat')(title='airline_seat_flat').transparent
      +icon('airline_seat_flat_angled')(title='airline_seat_flat_angled').transparent
      +icon('airline_seat_individual_suite')(title='airline_seat_individual_suite').transparent
      +icon('airline_seat_legroom_extra')(title='airline_seat_legroom_extra').transparent
      +icon('airline_seat_legroom_normal')(title='airline_seat_legroom_normal').transparent
      +icon('airline_seat_legroom_reduced')(title='airline_seat_legroom_reduced').transparent
      +icon('airline_seat_recline_extra')(title='airline_seat_recline_extra').transparent
      +icon('airline_seat_recline_normal')(title='airline_seat_recline_normal').transparent
      +icon('bluetooth_audio')(title='bluetooth_audio').transparent
      +icon('confirmation_number')(title='confirmation_number').transparent
      +icon('disc_full')(title='disc_full').transparent
      +icon('do_not_disturb')(title='do_not_disturb').transparent
      +icon('do_not_disturb_alt')(title='do_not_disturb_alt').transparent
      +icon('drive_eta')(title='drive_eta').transparent
      +icon('event_available')(title='event_available').transparent
      +icon('event_busy')(title='event_busy').transparent
      +icon('event_note')(title='event_note').transparent
      +icon('folder_special')(title='folder_special').transparent
      +icon('live_tv')(title='live_tv').transparent
      +icon('mms')(title='mms').transparent
      +icon('more')(title='more').transparent
      +icon('network_locked')(title='network_locked').transparent
      +icon('ondemand_video')(title='ondemand_video').transparent
      +icon('personal_video')(title='personal_video').transparent
      +icon('phone_bluetooth_speaker')(title='phone_bluetooth_speaker').transparent
      +icon('phone_forwarded')(title='phone_forwarded').transparent
      +icon('phone_in_talk')(title='phone_in_talk').transparent
      +icon('phone_locked')(title='phone_locked').transparent
      +icon('phone_missed')(title='phone_missed').transparent
      +icon('phone_paused')(title='phone_paused').transparent
      +icon('power')(title='power').transparent
      +icon('sd_card')(title='sd_card').transparent
      +icon('sim_card_alert')(title='sim_card_alert').transparent
      +icon('sms')(title='sms').transparent
      +icon('sms_failed')(title='sms_failed').transparent
      +icon('sync')(title='sync').transparent
      +icon('sync_disabled')(title='sync_disabled').transparent
      +icon('sync_problem')(title='sync_problem').transparent
      +icon('system_update')(title='system_update').transparent
      +icon('tap_and_play')(title='tap_and_play').transparent
      +icon('time_to_leave')(title='time_to_leave').transparent
      +icon('vibration')(title='vibration').transparent
      +icon('voice_chat')(title='voice_chat').transparent
      +icon('vpn_lock')(title='vpn_lock').transparent
      +icon('wc')(title='wc').transparent
      +icon('wifi')(title='wifi').transparent

  +divider-block Social

  +container.outlined
    +multiple.fluid
      +icon('cake')(title='cake').transparent
      +icon('domain')(title='domain').transparent
      +icon('group')(title='group').transparent
      +icon('group_add')(title='group_add').transparent
      +icon('location_city')(title='location_city').transparent
      +icon('mood')(title='mood').transparent
      +icon('mood_bad')(title='mood_bad').transparent
      +icon('notifications')(title='notifications').transparent
      +icon('notifications_active')(title='notifications_active').transparent
      +icon('notifications_none')(title='notifications_none').transparent
      +icon('notifications_off')(title='notifications_off').transparent
      +icon('notifications_paused')(title='notifications_paused').transparent
      +icon('pages')(title='pages').transparent
      +icon('party_mode')(title='party_mode').transparent
      +icon('people')(title='people').transparent
      +icon('people_outline')(title='people_outline').transparent
      +icon('person')(title='person').transparent
      +icon('person_add')(title='person_add').transparent
      +icon('person_outline')(title='person_outline').transparent
      +icon('plus_one')(title='plus_one').transparent
      +icon('poll')(title='poll').transparent
      +icon('public')(title='public').transparent
      +icon('school')(title='school').transparent
      +icon('share')(title='share').transparent
      +icon('whatshot')(title='whatshot').transparent

  +divider-block Toggle

  +container.outlined
    +multiple.fluid
      +icon('check_box')(title='check_box').transparent
      +icon('check_box_outline_blank')(title='check_box_outline_blank').transparent
      +icon('indeterminate_check_box')(title='indeterminate_check_box').transparent
      +icon('radio_button_checked')(title='radio_button_checked').transparent
      +icon('radio_button_unchecked')(title='radio_button_unchecked').transparent
      +icon('star')(title='star').transparent
      +icon('star_border')(title='star_border').transparent
      +icon('star_half')(title='star_half').transparent
