<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">menu
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">more_vert
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Images
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="container image-wrp xs-6 md-3 outlined"><img src="/sample.png"/>
          </div>
          <div class="container image-wrp xs-6 md-3"><img src="/sample.png"/>
            <div class="container image-caption top">
              <div class="container-content">
                <p>Top caption</p>
              </div>
            </div>
            <div class="container image-caption">
              <div class="container-content">
                <p>Bottom caption</p>
              </div>
            </div>
          </div>
          <div class="container image-wrp xs-6 md-3"><img src="/sample.png"/>
            <div class="container image-caption on-hover top">
              <div class="container-content">
                <p>[Hover] Top caption</p>
              </div>
            </div>
            <div class="container image-caption on-hover">
              <div class="container-content">
                <p>[Hover] Bottom caption</p>
              </div>
            </div>
          </div>
          <div class="container image-wrp xs-6 md-3"><img src="/sample.png"/>
            <div class="container image-caption attached top">
              <div class="container-content">
                <p>[Attached] Top caption</p>
              </div>
            </div>
            <div class="container image-caption attached">
              <div class="container-content">
                <p>[Attached] Bottom caption</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>