
extends ../layout.jade

//- Image

append main
  +divider Images

  +multiple
    +image-sample.xs-6.md-3.outlined
    +image-sample.xs-6.md-3
      +image-caption.top Top caption
      +image-caption Bottom caption
    +image-sample.xs-6.md-3.smooth
      +image-caption.on-hover.top [Hover] Top caption
      +image-caption.on-hover [Hover] Bottom caption
    +image-sample.xs-6.md-3
      +image-caption.attached.top [Attached] Top caption
      +image-caption.attached [Attached] Bottom caption
