
extends ../layout.jade

//- Image

append main
  +divider-block Images

  +multiple
    +image-sample.xs-6.md-3.outlined
    +image-sample.xs-6.md-3
      +image-caption.top Top caption
      +image-caption Bottom caption
    +image-sample.xs-6.md-3.smooth
      +image-caption.on-hover.top [Hover] Top caption
      +image-caption.on-hover [Hover] Bottom caption
    +image-sample.xs-6.md-3
      +image-caption.attached.top [Attached] Top caption
      +image-caption.attached [Attached] Bottom caption

  +divider-block Advanced
  
  .centerer
    +image('/sample-wide.jpg').xs-8.md-4
      +image-caption.top.transparent
        +multiple
          +multiple-sub-right
            +button-icon("more_vert").compact.xsmall.black
