
extends ../layout.jade

//- Infobar

append main
  +divider-block Limited

  +infobar({ name: 'settings', title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).outlined.limited

  +divider-block Closable

  +infobar.outlined
    +infobar-left
      +icon('settings').xxxlarge
    +infobar-center
      +infobar-title
        +lorem-ipsum({ type: 'words', amount: 8 })
      +infobar-subtitle
        +lorem-ipsum({ type: 'words', amount: 8 })
    +infobar-right
      +button-icon("clear").red.outlined.infobar-closer.compact

  +divider-block Outside

  +infobar({ title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).outlined.limited

  +infobar({ title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit', subtitle: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).outlined

  +infobar({ name: 'settings', title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).outlined

  +infobar({ name: 'settings', title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit', subtitle: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).outliend

  +infobar.outlined
    +infobar-left
      +icon('settings').xxxlarge
    +infobar-center
      +infobar-title
        +lorem-ipsum({ type: 'words', amount: 8 })
      ul
        li
          +lorem-ipsum({ type: 'words', amount: 5 })
        li
          +lorem-ipsum({ type: 'words', amount: 5 })
        ul
          li
            +lorem-ipsum({ type: 'words', amount: 5 })
        li
          +lorem-ipsum({ type: 'words', amount: 5 })

  +infobar.outlined
    +infobar-left
      +icon('settings').xxxlarge
    +infobar-center
      +infobar-title
        +lorem-ipsum({ type: 'words', amount: 8 })
      +infobar-subtitle
        +lorem-ipsum({ type: 'words', amount: 8 })
    +infobar-right
      +button-icon('more_vert').outlined.compact

  +infobar.outlined
    +infobar-left
      +icon('settings').xxxlarge
    +infobar-center
      +infobar-title
        +lorem-ipsum({ type: 'words', amount: 8 })
      +infobar-subtitle
        +lorem-ipsum({ type: 'words', amount: 8 })
    +infobar-right
      +button-icon('more_vert').outlined.compact
    +infobar-bottom
      +paragraph-sample

  +infobar.outlined
    +infobar-left
      +icon('settings').xxxlarge
    +infobar-center
      +infobar-title
        +lorem-ipsum({ type: 'words', amount: 8 })
      +infobar-subtitle
        +lorem-ipsum({ type: 'words', amount: 8 })
    +infobar-right
      +button-icon('more_vert').outlined.compact
    +infobar-bottom
      +multiple.fluid
        +button.outlined Featured
        +button.outlined Random
        +button.outlined Latest
        +button.outlined Top views
        +button.outlined Top downloaded
        +button.outlined Top rated
        +button.outlined Top favourited

  +divider-block Inside

  +container
    +infobar({ name: 'settings', title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit', subtitle: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).gray
    +infobar({ name: 'settings', title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit', subtitle: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).inset
    +paragraph-sample
