//- components/infobar.jade

extends ../../layout.jade

append main
    +divider Limited

    +infobar('action-settings', 'Lorem ipsum dolor sit amet consectetur adipiscing elit', false).limited

    +divider Closable

    +infobar
        +infobar-left
            +icon('settings').xlarge
        +infobar-center
            +infobar-title
                +lorem-ipsum(8, 'words')
            +infobar-subtitle
                +lorem-ipsum(8, 'words')
        +infobar-right
            +button-icon("content-clear").red.outlined.infobar-closer

    +divider Outside

    +infobar('Lorem ipsum dolor sit amet consectetur adipiscing elit').limited

    +infobar('Lorem ipsum dolor sit amet consectetur adipiscing elit', 'Lorem ipsum dolor sit amet consectetur adipiscing elit')

    +infobar('action-settings', 'Lorem ipsum dolor sit amet consectetur adipiscing elit', false)

    +infobar('action-settings', 'Lorem ipsum dolor sit amet consectetur adipiscing elit', 'Lorem ipsum dolor sit amet consectetur adipiscing elit')

    +infobar
        +infobar-left
            +icon('settings').xlarge
        +infobar-center
            +infobar-title
                +lorem-ipsum(8, 'words')
            ul
                li
                    +lorem-ipsum(5, 'words')
                li
                    +lorem-ipsum(5, 'words')
                ul
                    li
                        +lorem-ipsum(5, 'words')
                li
                    +lorem-ipsum(5, 'words')

    +infobar
        +infobar-left
            +icon('settings').xlarge
        +infobar-center
            +infobar-title
                +lorem-ipsum(8, 'words')
            +infobar-subtitle
                +lorem-ipsum(8, 'words')
        +infobar-right
            +button-icon('more_vert').outlined

    +infobar
        +infobar-left
            +icon('settings').xlarge
        +infobar-center
            +infobar-title
                +lorem-ipsum(8, 'words')
            +infobar-subtitle
                +lorem-ipsum(8, 'words')
        +infobar-right
            +button-icon('more_vert').outlined
        +infobar-bottom
            +paragraph-sample

    +infobar
        +infobar-left
            +icon('settings').xlarge
        +infobar-center
            +infobar-title
                +lorem-ipsum(8, 'words')
            +infobar-subtitle
                +lorem-ipsum(8, 'words')
        +infobar-right
            +button-icon('more_vert').outlined
        +infobar-bottom
            +multiple.fluid
                +button-simple.outlined Featured
                +button-simple.outlined Random
                +button-simple.outlined Latest
                +button-simple.outlined Top views
                +button-simple.outlined Top downloaded
                +button-simple.outlined Top rated
                +button-simple.outlined Top favourited

    +divider Inside

    +container-simple
        +infobar('action-settings', 'Lorem ipsum dolor sit amet consectetur adipiscing elit', 'Lorem ipsum dolor sit amet consectetur adipiscing elit').gray
        +infobar('action-settings', 'Lorem ipsum dolor sit amet consectetur adipiscing elit', 'Lorem ipsum dolor sit amet consectetur adipiscing elit').unoutlined
        +infobar('action-settings', 'Lorem ipsum dolor sit amet consectetur adipiscing elit', 'Lorem ipsum dolor sit amet consectetur adipiscing elit').inset
        +paragraph-sample
