
extends ../layout.jade

//- Infobar

append main
  +divider Limited

  +infobar({ name: 'settings', title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).outlined.limited

  +divider Closable

  +infobar.outlined
    +infobar-left
      +icon('settings').xlarge
    +infobar-center
      +infobar-title
        +lorem-ipsum({ type: 'words', amount: 8 })
      +infobar-subtitle
        +lorem-ipsum({ type: 'words', amount: 8 })
    +infobar-right
      +button-icon("content-clear").red.outlined.infobar-closer

  +divider Outside

  +infobar({ title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).outlined.limited

  +infobar({ title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit', subtitle: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).outlined

  +infobar({ name: 'settings', title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).outlined

  +infobar({ name: 'settings', title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit', subtitle: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).outliend

  +infobar.outlined
    +infobar-left
      +icon('settings').xlarge
    +infobar-center
      +infobar-title
        +lorem-ipsum({ type: 'words', amount: 8 })
      ul
        li
          +lorem-ipsum({ typo: 'words', amount: 5 })
        li
          +lorem-ipsum({ typo: 'words', amount: 5 })
        ul
          li
            +lorem-ipsum({ typo: 'words', amount: 5 })
        li
          +lorem-ipsum({ typo: 'words', amount: 5 })

  +infobar.outlined
    +infobar-left
      +icon('settings').xlarge
    +infobar-center
      +infobar-title
        +lorem-ipsum({ type: 'words', amount: 8 })
      +infobar-subtitle
        +lorem-ipsum({ type: 'words', amount: 8 })
    +infobar-right
      +button-icon('more_vert').outlined

  +infobar.outlined
    +infobar-left
      +icon('settings').xlarge
    +infobar-center
      +infobar-title
        +lorem-ipsum({ type: 'words', amount: 8 })
      +infobar-subtitle
        +lorem-ipsum({ type: 'words', amount: 8 })
    +infobar-right
      +button-icon('more_vert').outlined
    +infobar-bottom
      +paragraph-sample

  +infobar.outlined
    +infobar-left
      +icon('settings').xlarge
    +infobar-center
      +infobar-title
        +lorem-ipsum({ type: 'words', amount: 8 })
      +infobar-subtitle
        +lorem-ipsum({ type: 'words', amount: 8 })
    +infobar-right
      +button-icon('more_vert').outlined
    +infobar-bottom
      +multiple.fluid
        +button-simple.outlined Featured
        +button-simple.outlined Random
        +button-simple.outlined Latest
        +button-simple.outlined Top views
        +button-simple.outlined Top downloaded
        +button-simple.outlined Top rated
        +button-simple.outlined Top favourited

  +divider Inside

  +container-simple
    +infobar({ name: 'settings', title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit', subtitle: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).gray
    +infobar({ name: 'settings', title: 'Lorem ipsum dolor sit amet consectetur adipiscing elit', subtitle: 'Lorem ipsum dolor sit amet consectetur adipiscing elit' }).inset
    +paragraph-sample
