<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Limited
        </div>
      </div>
      <div class="infobar-wrp outlined limited">
        <div class="infobar-center">
          <p class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Closable
        </div>
      </div>
      <div class="infobar-wrp outlined">
        <div class="infobar-left"><i class="icon xlarge">settings</i>
        </div>
        <div class="infobar-center">
          <div class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit
          </div>
          <div class="infobar-subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit
          </div>
        </div>
        <div class="infobar-right">
          <div class="label-wrp button-wrp">
            <div class="label actionable red outlined infobar-closer">
              <div class="label-center"><i class="icon">content-clear</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Outside
        </div>
      </div>
      <div class="infobar-wrp outlined limited">
        <div class="infobar-center">
          <p class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="infobar-wrp outlined">
        <div class="infobar-center">
          <p class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
          <p class="infobar-subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="infobar-wrp outlined">
        <div class="infobar-center">
          <p class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="infobar-wrp outliend">
        <div class="infobar-center">
          <p class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
          <p class="infobar-subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="infobar-wrp outlined">
        <div class="infobar-left"><i class="icon xlarge">settings</i>
        </div>
        <div class="infobar-center">
          <div class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit
          </div>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet tincidunt turpis, in pharetra mi convallis ut. Vivamus eget sodales nibh, eu placerat erat. Vivamus massa urna, volutpat non tempus eget, placerat quis elit. Nullam pretium id arcu sed eleifend. Phasellus sollicitudin quis ante nec ornare. Maecenas nibh eros, vehicula vel eros eget, viverra semper nisi. Nulla facilisi. Praesent pretium porttitor arcu, sit amet consequat neque luctus non. Cras sodales, justo quis tempus dignissim, diam est commodo orci, eget accumsan sem ante vitae sem. Curabitur quam ipsum, porta id sapien in, consectetur auctor nibh. Vivamus egestas ante vel cursus aliquet. In non ante nec velit tempus lacinia nec sollicitudin ex. Phasellus semper lorem a diam scelerisque, sed accumsan erat molestie. Mauris vulputate lacinia erat. Nunc urna risus, facilisis at posuere in, pulvinar quis odio. Maecenas et sollicitudin arcu.
Proin maximus dui ac felis blandit luctus. Fusce consectetur, nisl vitae blandit viverra, mi nisl posuere lorem, a interdum nisl leo quis massa. Donec et pretium mi. Quisque bibendum urna quis eleifend blandit. Donec pulvinar est eu diam tempus bibendum. Aenean iaculis mi vel magna viverra, ut facilisis velit luctus. Aenean blandit, erat a cursus dignissim, lectus lacus vehicula orci, ut vestibulum risus purus quis libero. Fusce vestibulum risus a erat varius facilisis. Donec tincidunt interdum mattis. Nam mi sapien, dictum a egestas in, efficitur sed sem. Cras dignissim neque dignissim arcu suscipit pellentesque. Praesent euismod vel dui at imperdiet. Vestibulum rhoncus dolor sed bibendum hendrerit. Sed malesuada dolor sed ex porttitor euismod. In id laoreet dui.
Donec maximus ante vel erat sagittis varius. Quisque auctor varius rhoncus. Nunc efficitur, magna eu venenatis placerat, odio dui sodales nisi, sit amet ultricies sapien eros vel erat. Maecenas tincidunt dolor sit amet nibh gravida, eu iaculis enim hendrerit. Fusce porttitor arcu magna, quis convallis enim suscipit eget. Mauris id lacus pharetra, auctor leo at, pulvinar leo. Sed ex augue, tristique posuere augue sed, aliquet dictum erat.
Sed lobortis purus non eros bibendum, nec ornare erat euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Quisque ut nulla cursus, vehicula dui vitae, consectetur urna. Sed tincidunt est purus, id auctor risus fringilla in. Vivamus rutrum dictum ligula, scelerisque elementum orci fringilla eget. Suspendisse potenti.
Phasellus molestie quam a urna ultrices suscipit. Fusce eu elit rutrum dui elementum malesuada. Curabitur porta tincidunt tristique. Nam tellus enim, sodales id est auctor, lobortis elementum sem. Curabitur pharetra convallis bibendum. Curabitur consectetur rhoncus dignissim. Sed vehicula est et lacinia dapibus. Nunc efficitur diam vel mattis posuere.
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet tincidunt turpis, in pharetra mi convallis ut. Vivamus eget sodales nibh, eu placerat erat. Vivamus massa urna, volutpat non tempus eget, placerat quis elit. Nullam pretium id arcu sed eleifend. Phasellus sollicitudin quis ante nec ornare. Maecenas nibh eros, vehicula vel eros eget, viverra semper nisi. Nulla facilisi. Praesent pretium porttitor arcu, sit amet consequat neque luctus non. Cras sodales, justo quis tempus dignissim, diam est commodo orci, eget accumsan sem ante vitae sem. Curabitur quam ipsum, porta id sapien in, consectetur auctor nibh. Vivamus egestas ante vel cursus aliquet. In non ante nec velit tempus lacinia nec sollicitudin ex. Phasellus semper lorem a diam scelerisque, sed accumsan erat molestie. Mauris vulputate lacinia erat. Nunc urna risus, facilisis at posuere in, pulvinar quis odio. Maecenas et sollicitudin arcu.
Proin maximus dui ac felis blandit luctus. Fusce consectetur, nisl vitae blandit viverra, mi nisl posuere lorem, a interdum nisl leo quis massa. Donec et pretium mi. Quisque bibendum urna quis eleifend blandit. Donec pulvinar est eu diam tempus bibendum. Aenean iaculis mi vel magna viverra, ut facilisis velit luctus. Aenean blandit, erat a cursus dignissim, lectus lacus vehicula orci, ut vestibulum risus purus quis libero. Fusce vestibulum risus a erat varius facilisis. Donec tincidunt interdum mattis. Nam mi sapien, dictum a egestas in, efficitur sed sem. Cras dignissim neque dignissim arcu suscipit pellentesque. Praesent euismod vel dui at imperdiet. Vestibulum rhoncus dolor sed bibendum hendrerit. Sed malesuada dolor sed ex porttitor euismod. In id laoreet dui.
Donec maximus ante vel erat sagittis varius. Quisque auctor varius rhoncus. Nunc efficitur, magna eu venenatis placerat, odio dui sodales nisi, sit amet ultricies sapien eros vel erat. Maecenas tincidunt dolor sit amet nibh gravida, eu iaculis enim hendrerit. Fusce porttitor arcu magna, quis convallis enim suscipit eget. Mauris id lacus pharetra, auctor leo at, pulvinar leo. Sed ex augue, tristique posuere augue sed, aliquet dictum erat.
Sed lobortis purus non eros bibendum, nec ornare erat euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Quisque ut nulla cursus, vehicula dui vitae, consectetur urna. Sed tincidunt est purus, id auctor risus fringilla in. Vivamus rutrum dictum ligula, scelerisque elementum orci fringilla eget. Suspendisse potenti.
Phasellus molestie quam a urna ultrices suscipit. Fusce eu elit rutrum dui elementum malesuada. Curabitur porta tincidunt tristique. Nam tellus enim, sodales id est auctor, lobortis elementum sem. Curabitur pharetra convallis bibendum. Curabitur consectetur rhoncus dignissim. Sed vehicula est et lacinia dapibus. Nunc efficitur diam vel mattis posuere.
            </li>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet tincidunt turpis, in pharetra mi convallis ut. Vivamus eget sodales nibh, eu placerat erat. Vivamus massa urna, volutpat non tempus eget, placerat quis elit. Nullam pretium id arcu sed eleifend. Phasellus sollicitudin quis ante nec ornare. Maecenas nibh eros, vehicula vel eros eget, viverra semper nisi. Nulla facilisi. Praesent pretium porttitor arcu, sit amet consequat neque luctus non. Cras sodales, justo quis tempus dignissim, diam est commodo orci, eget accumsan sem ante vitae sem. Curabitur quam ipsum, porta id sapien in, consectetur auctor nibh. Vivamus egestas ante vel cursus aliquet. In non ante nec velit tempus lacinia nec sollicitudin ex. Phasellus semper lorem a diam scelerisque, sed accumsan erat molestie. Mauris vulputate lacinia erat. Nunc urna risus, facilisis at posuere in, pulvinar quis odio. Maecenas et sollicitudin arcu.
Proin maximus dui ac felis blandit luctus. Fusce consectetur, nisl vitae blandit viverra, mi nisl posuere lorem, a interdum nisl leo quis massa. Donec et pretium mi. Quisque bibendum urna quis eleifend blandit. Donec pulvinar est eu diam tempus bibendum. Aenean iaculis mi vel magna viverra, ut facilisis velit luctus. Aenean blandit, erat a cursus dignissim, lectus lacus vehicula orci, ut vestibulum risus purus quis libero. Fusce vestibulum risus a erat varius facilisis. Donec tincidunt interdum mattis. Nam mi sapien, dictum a egestas in, efficitur sed sem. Cras dignissim neque dignissim arcu suscipit pellentesque. Praesent euismod vel dui at imperdiet. Vestibulum rhoncus dolor sed bibendum hendrerit. Sed malesuada dolor sed ex porttitor euismod. In id laoreet dui.
Donec maximus ante vel erat sagittis varius. Quisque auctor varius rhoncus. Nunc efficitur, magna eu venenatis placerat, odio dui sodales nisi, sit amet ultricies sapien eros vel erat. Maecenas tincidunt dolor sit amet nibh gravida, eu iaculis enim hendrerit. Fusce porttitor arcu magna, quis convallis enim suscipit eget. Mauris id lacus pharetra, auctor leo at, pulvinar leo. Sed ex augue, tristique posuere augue sed, aliquet dictum erat.
Sed lobortis purus non eros bibendum, nec ornare erat euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Quisque ut nulla cursus, vehicula dui vitae, consectetur urna. Sed tincidunt est purus, id auctor risus fringilla in. Vivamus rutrum dictum ligula, scelerisque elementum orci fringilla eget. Suspendisse potenti.
Phasellus molestie quam a urna ultrices suscipit. Fusce eu elit rutrum dui elementum malesuada. Curabitur porta tincidunt tristique. Nam tellus enim, sodales id est auctor, lobortis elementum sem. Curabitur pharetra convallis bibendum. Curabitur consectetur rhoncus dignissim. Sed vehicula est et lacinia dapibus. Nunc efficitur diam vel mattis posuere.
              </li>
            </ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet tincidunt turpis, in pharetra mi convallis ut. Vivamus eget sodales nibh, eu placerat erat. Vivamus massa urna, volutpat non tempus eget, placerat quis elit. Nullam pretium id arcu sed eleifend. Phasellus sollicitudin quis ante nec ornare. Maecenas nibh eros, vehicula vel eros eget, viverra semper nisi. Nulla facilisi. Praesent pretium porttitor arcu, sit amet consequat neque luctus non. Cras sodales, justo quis tempus dignissim, diam est commodo orci, eget accumsan sem ante vitae sem. Curabitur quam ipsum, porta id sapien in, consectetur auctor nibh. Vivamus egestas ante vel cursus aliquet. In non ante nec velit tempus lacinia nec sollicitudin ex. Phasellus semper lorem a diam scelerisque, sed accumsan erat molestie. Mauris vulputate lacinia erat. Nunc urna risus, facilisis at posuere in, pulvinar quis odio. Maecenas et sollicitudin arcu.
Proin maximus dui ac felis blandit luctus. Fusce consectetur, nisl vitae blandit viverra, mi nisl posuere lorem, a interdum nisl leo quis massa. Donec et pretium mi. Quisque bibendum urna quis eleifend blandit. Donec pulvinar est eu diam tempus bibendum. Aenean iaculis mi vel magna viverra, ut facilisis velit luctus. Aenean blandit, erat a cursus dignissim, lectus lacus vehicula orci, ut vestibulum risus purus quis libero. Fusce vestibulum risus a erat varius facilisis. Donec tincidunt interdum mattis. Nam mi sapien, dictum a egestas in, efficitur sed sem. Cras dignissim neque dignissim arcu suscipit pellentesque. Praesent euismod vel dui at imperdiet. Vestibulum rhoncus dolor sed bibendum hendrerit. Sed malesuada dolor sed ex porttitor euismod. In id laoreet dui.
Donec maximus ante vel erat sagittis varius. Quisque auctor varius rhoncus. Nunc efficitur, magna eu venenatis placerat, odio dui sodales nisi, sit amet ultricies sapien eros vel erat. Maecenas tincidunt dolor sit amet nibh gravida, eu iaculis enim hendrerit. Fusce porttitor arcu magna, quis convallis enim suscipit eget. Mauris id lacus pharetra, auctor leo at, pulvinar leo. Sed ex augue, tristique posuere augue sed, aliquet dictum erat.
Sed lobortis purus non eros bibendum, nec ornare erat euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Quisque ut nulla cursus, vehicula dui vitae, consectetur urna. Sed tincidunt est purus, id auctor risus fringilla in. Vivamus rutrum dictum ligula, scelerisque elementum orci fringilla eget. Suspendisse potenti.
Phasellus molestie quam a urna ultrices suscipit. Fusce eu elit rutrum dui elementum malesuada. Curabitur porta tincidunt tristique. Nam tellus enim, sodales id est auctor, lobortis elementum sem. Curabitur pharetra convallis bibendum. Curabitur consectetur rhoncus dignissim. Sed vehicula est et lacinia dapibus. Nunc efficitur diam vel mattis posuere.
            </li>
          </ul>
        </div>
      </div>
      <div class="infobar-wrp outlined">
        <div class="infobar-left"><i class="icon xlarge">settings</i>
        </div>
        <div class="infobar-center">
          <div class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit
          </div>
          <div class="infobar-subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit
          </div>
        </div>
        <div class="infobar-right">
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined">
              <div class="label-center"><i class="icon">more_vert</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="infobar-wrp outlined">
        <div class="infobar-left"><i class="icon xlarge">settings</i>
        </div>
        <div class="infobar-center">
          <div class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit
          </div>
          <div class="infobar-subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit
          </div>
        </div>
        <div class="infobar-right">
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined">
              <div class="label-center"><i class="icon">more_vert</i>
              </div>
            </div>
          </div>
        </div>
        <div class="infobar-bottom">
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
        </div>
      </div>
      <div class="infobar-wrp outlined">
        <div class="infobar-left"><i class="icon xlarge">settings</i>
        </div>
        <div class="infobar-center">
          <div class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit
          </div>
          <div class="infobar-subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit
          </div>
        </div>
        <div class="infobar-right">
          <div class="label-wrp button-wrp">
            <div class="label actionable outlined">
              <div class="label-center"><i class="icon">more_vert</i>
              </div>
            </div>
          </div>
        </div>
        <div class="infobar-bottom">
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable outlined">
                  <div class="label-center">Featured
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable outlined">
                  <div class="label-center">Random
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable outlined">
                  <div class="label-center">Latest
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable outlined">
                  <div class="label-center">Top views
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable outlined">
                  <div class="label-center">Top downloaded
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable outlined">
                  <div class="label-center">Top rated
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable outlined">
                  <div class="label-center">Top favourited
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Inside
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="infobar-wrp gray">
            <div class="infobar-center">
              <p class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
              <p class="infobar-subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
            </div>
          </div>
          <div class="infobar-wrp inset">
            <div class="infobar-center">
              <p class="infobar-title">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
              <p class="infobar-subtitle">Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
            </div>
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
          <div style="width:0px; height:0px;" class="placeholder">0px - 0px
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>