
extends ../layout.jade

//- Input

append main
  +divider-block Normal

  +container.outlined
    +multiple
      +input({ label: "Base" })
      +input({ label: "Compact" }).compact
      +input({ label: "Outlined" }).outlined
      +input({ label: "Rounded" }).rounded
      +input({ label: "Disabled" }).disabled

  +divider-block Colors

  +container.outlined
    +multiple
      +input({ label: "Primary" }).text-field-primary
      +input({ label: "Secondary" }).text-field-secondary
      +input({ label: "Tertiary" }).text-field-tertiary
      +input({ label: "Quaternary" }).text-field-quaternary
      +input({ label: "White" }).text-field-white
      +input({ label: "Gray" }).text-field-gray
      +input({ label: "Black" }).text-field-black
      +input({ label: "Yellow" }).text-field-yellow
      +input({ label: "Olive" }).text-field-olive
      +input({ label: "Green" }).text-field-green
      +input({ label: "Blue" }).text-field-blue
      +input({ label: "Violet" }).text-field-violet
      +input({ label: "Orange" }).text-field-orange
      +input({ label: "Purple" }).text-field-purple
      +input({ label: "Red" }).text-field-red
      +input({ label: "Pink" }).text-field-pink
      +input({ label: "Teal" }).text-field-teal
      +input({ label: "Brown" }).text-field-brown
      +input({ label: "Transparent" }).text-field-transparent
      +input({ label: "Inherit" }).text-field-inherit
      +input({ label: "Base" }).text-field-base

  +divider-block Colors advanced

  +container.outlined
    +multiple
      +input({ label: "White - Secondary" }).white.text-field-secondary
      +input({ label: "Primary - Secondary" }).primary.text-field-secondary
      +input({ label: "Red - Yellow" }).red.text-field-yellow

  +divider-block Fluid

  +container.outlined
    +input({ label: "Fluid" }).fluid

  +divider-block No floating

  +container.outlined
    +input({ label: "No floating" }).fluid.no-floating

  +divider-block No intial bar

  +container.outlined
    +input({ label: "No initial bar" }).fluid.no-initial-bar

  +divider-block No bar - No floating

  +container.outlined
    +input({ label: "No bar" }).fluid.no-bar.no-floating

  +divider-block Inside a container

  +container.outlined
    +input({ label: "Inside a container" })

  +container.yellow.outlined
    +input({ label: "Inside a yellow container" })

  +divider-block Toolbar

  +multiple
    +multiple.joined
      +input({ label: "Placeholder...", value: "Value" }).no-bar.no-floating.white
      +button-icon("search").compact
    +multiple.joined
      +input({ label: "Placeholder...", value: "Value" }).no-bar.no-floating.white
      +button-icon("search").secondary.compact
    +multiple.joined
      +input({ label: "Placeholder...", value: "No initial bar" }).no-initial-bar.no-floating.white
      +button-icon("search").secondary.compact
    +multiple.joined
      +input({ label: "Placeholder...", value: "Value" }).no-bar.no-floating.white
      +button.primary Search
    +multiple.joined
      +label.gray http://
      +input({ label: "Placeholder...", value: "Value" }).no-bar.no-floating.white
    +multiple.joined
      +label-icon("people").compact
      +input({ label: "Placeholder...", value: "Value" }).no-bar.no-floating.white
    +multiple.joined
      +input({ label: "Placeholder...", value: "Value" }).no-bar.no-floating.white
      +label.compact
        +icon('refresh').rotating
    +multiple.joined
      +button.teal
        +button-sub-left
          +icon("local_grocery_store")
        span Checkout
      +input({ label: "Placeholder...", value: "35.50€" }).no-bar.no-floating.white

  +divider-block Toolbar - Outlined

  +multiple
    +multiple.joined
      +input({ label: "Placeholder...", value: "Value" }).no-bar.no-floating.white.outlined
      +button-icon("search").outlined.compact
    +multiple.joined
      +input({ label: "Placeholder...", value: "No initial bar" }).no-initial-bar.no-floating.white.outlined
      +button-icon("search").outlined.secondary.compact
    +multiple.joined
      +input({ label: "Placeholder...", value: "Compact" }).no-bar.no-floating.white.outlined.compact
      +button-icon("search").outlined.compact
    +multiple.joined
      +label.gray.outlined http://
      +input({ label: "Placeholder...", value: "Value" }).no-bar.no-floating.white.outlined

  +divider-block Actions

  +multiple.actions
    +button("toggle_class ( 'invalid' )").outlined Toggle Invalid
    +button("toggle_class ( 'valid' )").outlined Toggle valid

append body-end
  +script.
    function toggle_class ( css_class ) {
      $('.input-wrp').toggleClass ( css_class );
    }
