
extends ../layout.jade

//- Input

append main
  +divider-block Normal

  +container.outlined
    +multiple
      +input({ placeholder: "Base" })
      +input({ placeholder: "Compact" }).compact.outlined
      +input({ placeholder: "Sharp" }).sharp.outlined
      +input({ placeholder: "Outlined" }).outlined
      +input({ placeholder: "Rounded" }).rounded.outlined
      +input({ placeholder: "Disabled" }).disabled

  +divider-block Colors

  +container.outlined
    +multiple
      +input({ placeholder: "Primary" }).primary
      +input({ placeholder: "Secondary" }).secondary
      +input({ placeholder: "Tertiary" }).tertiary
      +input({ placeholder: "Quaternary" }).quaternary
      +input({ placeholder: "White" }).white
      +input({ placeholder: "Gray" }).gray
      +input({ placeholder: "Black" }).black
      +input({ placeholder: "Yellow" }).yellow
      +input({ placeholder: "Olive" }).olive
      +input({ placeholder: "Green" }).green
      +input({ placeholder: "Blue" }).blue
      +input({ placeholder: "Violet" }).violet
      +input({ placeholder: "Orange" }).orange
      +input({ placeholder: "Purple" }).purple
      +input({ placeholder: "Red" }).red
      +input({ placeholder: "Pink" }).pink
      +input({ placeholder: "Teal" }).teal
      +input({ placeholder: "Brown" }).brown
      +input({ placeholder: "Error" }).error
      +input({ placeholder: "Warning" }).warning
      +input({ placeholder: "Success" }).success
      +input({ placeholder: "Transparent" }).transparent
      +input({ placeholder: "Inherit" }).inherit
      +input({ placeholder: "Base" }).base

  +divider-block Fluid

  +container.outlined
    +input({ placeholder: "Fluid" }).fluid

  +divider-block Toolbar

  +multiple
    +multiple.joined
      +input({ placeholder: "Placeholder...", value: "Value" })
      +button-icon("search").compact
    +multiple.joined
      +input({ placeholder: "Placeholder...", value: "Value" })
      +button-icon("search").secondary.compact
    +multiple.joined
      +input({ placeholder: "Placeholder...", value: "No initial bar" })
      +button-icon("search").secondary.compact
    +multiple.joined
      +input({ placeholder: "Placeholder...", value: "Value" })
      +button.primary Search
    +multiple.joined
      +label.gray http://
      +input({ placeholder: "Placeholder...", value: "Value" })
    +multiple.joined
      +label-icon("people").compact
      +input({ placeholder: "Placeholder...", value: "Value" })
    +multiple.joined
      +input({ placeholder: "Placeholder...", value: "Value" })
      +label.compact
        +icon('refresh').rotating
    +multiple.joined
      +button.teal
        +button-sub-left
          +icon("local_grocery_store")
        span Checkout
      +input({ placeholder: "Placeholder...", value: "35.50€" })

  +divider-block Toolbar - Outlined

  +multiple
    +multiple.joined
      +input({ placeholder: "Placeholder...", value: "Value" }).outlined
      +button-icon("search").outlined.compact
    +multiple.joined
      +input({ placeholder: "Placeholder...", value: "No initial bar" }).outlined
      +button-icon("search").outlined.secondary.compact
    +multiple.joined
      +input({ placeholder: "Placeholder...", value: "Compact" }).outlined.compact
      +button-icon("search").outlined.compact
    +multiple.joined
      +label.gray.outlined http://
      +input({ placeholder: "Placeholder...", value: "Value" }).outlined

  +divider-block Actions

  +multiple.actions
    +button("toggle_class ( 'invalid' )").outlined Toggle Invalid
    +button("toggle_class ( 'valid' )").outlined Toggle valid

append body-end
  +script.
    function toggle_class ( css_class ) {
      $('input').toggleClass ( css_class );
    }
