<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="description">
    <meta name="application-name" content="Presto">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="cleartype" content="on">
    <meta name="theme-color" content="#2967ab">
    <link rel="icon" sizes="any" href="/assets/images/icons/icon.svg" mask>
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="/assets/images/icons/touch/touch-icon-196x196.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icons/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="196x196" href="/assets/images/icons/touch/touch-icon-196x196.png">
    <link rel="apple-touch-icon" href="/assets/images/icons/touch/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="/assets/images/icons/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2967ab">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link rel="stylesheet" href="/svelto.css" media="all">
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
      
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer"></div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Normal
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="input-wrp">
                <input type="text" value="" name="" required class="text-field">
                <label>Base</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp compact">
                <input type="text" value="" name="" required class="text-field">
                <label>Compact</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp outlined">
                <input type="text" value="" name="" required class="text-field">
                <label>Outlined</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp rounded">
                <input type="text" value="" name="" required class="text-field">
                <label>Rounded</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp disabled">
                <input type="text" value="" name="" required class="text-field">
                <label>Disabled</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Colors
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="input-wrp text-field-primary">
                <input type="text" value="" name="" required class="text-field">
                <label>Primary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-secondary">
                <input type="text" value="" name="" required class="text-field">
                <label>Secondary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-tertiary">
                <input type="text" value="" name="" required class="text-field">
                <label>Tertiary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-quaternary">
                <input type="text" value="" name="" required class="text-field">
                <label>Quaternary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-white">
                <input type="text" value="" name="" required class="text-field">
                <label>White</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-gray">
                <input type="text" value="" name="" required class="text-field">
                <label>Gray</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-black">
                <input type="text" value="" name="" required class="text-field">
                <label>Black</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-yellow">
                <input type="text" value="" name="" required class="text-field">
                <label>Yellow</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-olive">
                <input type="text" value="" name="" required class="text-field">
                <label>Olive</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-green">
                <input type="text" value="" name="" required class="text-field">
                <label>Green</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-blue">
                <input type="text" value="" name="" required class="text-field">
                <label>Blue</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-violet">
                <input type="text" value="" name="" required class="text-field">
                <label>Violet</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-orange">
                <input type="text" value="" name="" required class="text-field">
                <label>Orange</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-purple">
                <input type="text" value="" name="" required class="text-field">
                <label>Purple</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-red">
                <input type="text" value="" name="" required class="text-field">
                <label>Red</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-pink">
                <input type="text" value="" name="" required class="text-field">
                <label>Pink</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-teal">
                <input type="text" value="" name="" required class="text-field">
                <label>Teal</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-brown">
                <input type="text" value="" name="" required class="text-field">
                <label>Brown</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-transparent">
                <input type="text" value="" name="" required class="text-field">
                <label>Transparent</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-inherit">
                <input type="text" value="" name="" required class="text-field">
                <label>Inherit</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-base">
                <input type="text" value="" name="" required class="text-field">
                <label>Base</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Colors advanced
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="input-wrp white text-field-secondary">
                <input type="text" value="" name="" required class="text-field">
                <label>White - Secondary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp primary text-field-secondary">
                <input type="text" value="" name="" required class="text-field">
                <label>Primary - Secondary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp red text-field-yellow">
                <input type="text" value="" name="" required class="text-field">
                <label>Red - Yellow</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Fluid
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="input-wrp fluid">
            <input type="text" value="" name="" required class="text-field">
            <label>Fluid</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">No floating
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="input-wrp fluid no-floating">
            <input type="text" value="" name="" required class="text-field">
            <label>No floating</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">No intial bar
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="input-wrp fluid no-initial-bar">
            <input type="text" value="" name="" required class="text-field">
            <label>No initial bar</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">No bar - No floating
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="input-wrp fluid no-bar no-floating">
            <input type="text" value="" name="" required class="text-field">
            <label>No bar</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Inside a container
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="input-wrp">
            <input type="text" value="" name="" required class="text-field">
            <label>Inside a container</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="container yellow">
        <div class="container-content">
          <div class="input-wrp">
            <input type="text" value="" name="" required class="text-field">
            <label>Inside a yellow container</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Toolbar
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">action-search</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact secondary">
                  <div class="label-center"><i class="icon">action-search</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-initial-bar no-floating white">
                <input type="text" value="No initial bar" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact secondary">
                  <div class="label-center"><i class="icon">action-search</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable primary">
                  <div class="label-center">Search
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="label-wrp">
                <div class="label gray">
                  <div class="label-center">http://
                  </div>
                </div>
              </div>
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="label-wrp">
                <div class="label compact">
                  <div class="label-center"><i class="icon">social-people</i>
                  </div>
                </div>
              </div>
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label-wrp">
                <div class="label compact">
                  <div class="label-center"><i class="icon rotating">refresh</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable teal">
                  <div class="label-left"><i class="icon">maps-local-grocery-store</i>
                  </div>
                  <div class="label-center">Checkout
                  </div>
                </div>
              </div>
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="35.50€" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Toolbar - Outlined
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white outlined">
                <input type="text" value="Value" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact outlined">
                  <div class="label-center"><i class="icon">action-search</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-initial-bar no-floating white outlined">
                <input type="text" value="No initial bar" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact outlined secondary">
                  <div class="label-center"><i class="icon">action-search</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white outlined compact">
                <input type="text" value="Compact" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact outlined">
                  <div class="label-center"><i class="icon">action-search</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="label-wrp">
                <div class="label gray outlined">
                  <div class="label-center">http://
                  </div>
                </div>
              </div>
              <div class="input-wrp no-bar no-floating white outlined">
                <input type="text" value="Value" name="" required class="text-field">
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
          try {
              $.noty({body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red'});
          } catch ( e ) {
              alert ( file + ':' + line + '\n\n' + message);
          }
      };
      
    </script>
  </body>
</html>