<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">menu
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">more_vert
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Normal
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="input-wrp">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Base</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp compact">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Compact</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp outlined">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Outlined</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp rounded">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Rounded</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp disabled">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Disabled</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Colors
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="input-wrp text-field-primary">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Primary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-secondary">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Secondary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-tertiary">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Tertiary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-quaternary">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Quaternary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-white">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>White</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-gray">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Gray</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-black">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Black</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-yellow">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Yellow</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-olive">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Olive</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-green">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Green</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-blue">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Blue</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-violet">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Violet</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-orange">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Orange</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-purple">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Purple</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-red">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Red</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-pink">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Pink</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-teal">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Teal</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-brown">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Brown</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-transparent">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Transparent</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-inherit">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Inherit</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp text-field-base">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Base</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Colors advanced
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="input-wrp white text-field-secondary">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>White - Secondary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp primary text-field-secondary">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Primary - Secondary</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="input-wrp red text-field-yellow">
                <input type="text" value="" name="" required="required" class="text-field"/>
                <label>Red - Yellow</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Fluid
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="input-wrp fluid">
            <input type="text" value="" name="" required="required" class="text-field"/>
            <label>Fluid</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">No floating
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="input-wrp fluid no-floating">
            <input type="text" value="" name="" required="required" class="text-field"/>
            <label>No floating</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">No intial bar
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="input-wrp fluid no-initial-bar">
            <input type="text" value="" name="" required="required" class="text-field"/>
            <label>No initial bar</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">No bar - No floating
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="input-wrp fluid no-bar no-floating">
            <input type="text" value="" name="" required="required" class="text-field"/>
            <label>No bar</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Inside a container
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="input-wrp">
            <input type="text" value="" name="" required="required" class="text-field"/>
            <label>Inside a container</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="container yellow outlined">
        <div class="container-content">
          <div class="input-wrp">
            <input type="text" value="" name="" required="required" class="text-field"/>
            <label>Inside a yellow container</label>
            <div class="text-field-bar"></div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Toolbar
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label button actionable compact">
                <div class="icon-wrp">
                  <div class="icon">search
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label button actionable secondary compact">
                <div class="icon-wrp">
                  <div class="icon">search
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-initial-bar no-floating white">
                <input type="text" value="No initial bar" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label button actionable secondary compact">
                <div class="icon-wrp">
                  <div class="icon">search
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label button actionable primary">Search
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="label gray">http://
              </div>
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="label">
                <div class="icon-wrp">
                  <div class="icon">social-people
                  </div>
                </div>
              </div>
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="Value" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label compact">
                <div class="icon-wrp rotating">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="label button actionable teal">
                <div class="label-left button-left">
                  <div class="icon-wrp">
                    <div class="icon">local_grocery_store
                    </div>
                  </div>
                </div><span>Checkout</span>
              </div>
              <div class="input-wrp no-bar no-floating white">
                <input type="text" value="35.50€" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Toolbar - Outlined
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white outlined">
                <input type="text" value="Value" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label button actionable outlined compact">
                <div class="icon-wrp">
                  <div class="icon">search
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-initial-bar no-floating white outlined">
                <input type="text" value="No initial bar" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label button actionable outlined secondary compact">
                <div class="icon-wrp">
                  <div class="icon">search
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="input-wrp no-bar no-floating white outlined compact">
                <input type="text" value="Compact" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="label button actionable outlined compact">
                <div class="icon-wrp">
                  <div class="icon">search
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="label gray outlined">http://
              </div>
              <div class="input-wrp no-bar no-floating white outlined">
                <input type="text" value="Value" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>