
extends ../layout.jade

//- Label

append main
  +divider Label
  
  +label Label
  
  +divider Fluid
  
  +label.fluid Fluid
  
  +divider Colors
  
  +multiple
    +label.primary Primary
    +label.secondary Secondary
    +label.tertiary Tertiary
    +label.quaternary Quaternary
    +label.white White
    +label.gray Gray
    +label.black Black
    +label.yellow Yellow
    +label.olive Olive
    +label.green Green
    +label.blue Blue
    +label.violet Violet
    +label.orange Orange
    +label.purple Purple
    +label.red Red
    +label.pink Pink
    +label.teal Teal
    +label.brown Brown
    +label.transparent Transparent
    +label.inherit Inherit
    +label.base Base

  +divider Advanced

  +multiple
    +label-icon('settings')
    +label-icon('settings').rounded
    +label
      +icon('settings')
      span Settings
    +label
      span Settings
      +icon('settings')
    +label
      +label-sub-left
        +icon('settings')
      span Settings
    +label
      span Settings
      +label-sub-right
        +icon('settings')

  +divider Rounded

  +multiple
    +label.rounded.primary 1
    +label.rounded.secondary 2
    +label.rounded.tertiary 3
    +label.rounded.quaternary 4
    +label.rounded.white 5
    +label.rounded.gray 6
    +label.rounded.black 7
    +label.rounded.yellow 8
    +label.rounded.olive 9
    +label.rounded.green 10
    +label.rounded.blue 11
    +label.rounded.violet 12
    +label.rounded.orange 13
    +label.rounded.purple 14
    +label.rounded.red 15
    +label.rounded.pink 16
    +label.rounded.teal 17
    +label.rounded.brown 18
    +label.rounded.transparent 19
    +label.rounded.inherit 20
    +label.rounded.base 21

  +divider Tag

  +multiple
    +label-tag Normal
    +label-tag.sharp Sharp
    +label-tag.primary.tag-circle-white Colored

  +divider Ribbon

  +container.centered.xs-10.outlined.z-depth-1
    +label-ribbon.ribbon-left.ribbon-right.primary Left & Right
    +paragraph-sample
    +label-ribbon.ribbon-left.secondary Left
    +paragraph-sample
    +label-ribbon.ribbon-right.tertiary Right
    +paragraph-sample

  +divider Corner

  +container.outlined
    +label-corner("top-left").primary S
    +label-corner("top-right").secondary
      +icon("file_download").small
    +label-corner("bottom-right").quaternary
      +icon("thumb_up").small
    +label-corner("bottom-left").tertiary
      +icon("favorite").small
    +paragraph-sample

  +divider Badge

  +multiple
    +button-icon('settings').compact
      +label.compact.rounded.badge.xxsmall.quaternary.top-left 1
      +label.compact.rounded.badge.xxsmall.primary.top-right 2
      +label.compact.rounded.badge.xxsmall.tertiary.bottom-left 3
      +label.compact.rounded.badge.xxsmall.secondary.bottom-right 4

  +divider Floating

  +label-icon('settings').floating.rounded.secondary.large

  +divider Actions

  +multiple.actions
    +button("toggle_class ( 'outlined' )").outlined Toggle outlined
    +button("toggle_class ( 'compact' )").outlined Toggle compact

append body-end
  +script.
    function toggle_class ( css_class ) {
      $('.label').not ( '.actions .button').toggleClass ( css_class );
    }
