<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Simple
        </div>
      </div>
      <div class="label-wrp">
        <div class="label">
          <div class="label-center">Simple
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Normal
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp">
            <div class="label primary">
              <div class="label-center">Primary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label secondary">
              <div class="label-center">Secondary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label tertiary">
              <div class="label-center">Tertiary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label quaternary">
              <div class="label-center">Quaternary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label white">
              <div class="label-center">White
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label gray">
              <div class="label-center">Gray
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label black">
              <div class="label-center">Black
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label yellow">
              <div class="label-center">Yellow
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label olive">
              <div class="label-center">Olive
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label green">
              <div class="label-center">Green
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label blue">
              <div class="label-center">Blue
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label violet">
              <div class="label-center">Violet
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label orange">
              <div class="label-center">Orange
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label purple">
              <div class="label-center">Purple
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label red">
              <div class="label-center">Red
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label pink">
              <div class="label-center">Pink
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label teal">
              <div class="label-center">Teal
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label brown">
              <div class="label-center">Brown
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label transparent">
              <div class="label-center">Transparent
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label inherit">
              <div class="label-center">Inherit
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label base">
              <div class="label-center">Base
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Advanced
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp">
            <div class="label compact">
              <div class="label-center"><i class="icon">settings</i>
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label compact rounded">
              <div class="label-center"><i class="icon">settings</i>
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label">
              <div class="label-center"><i class="icon left">settings</i>Settings
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label">
              <div class="label-center">Settings<i class="icon right">settings</i>
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label">
              <div class="label-left"><i class="icon">settings</i>
              </div>
              <div class="label-center">Settings
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label">
              <div class="label-center">Settings
              </div>
              <div class="label-right"><i class="icon">settings</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Rounded
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp">
            <div class="label rounded primary">
              <div class="label-center">1
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded secondary">
              <div class="label-center">2
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded tertiary">
              <div class="label-center">3
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded quaternary">
              <div class="label-center">4
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded white">
              <div class="label-center">5
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded gray">
              <div class="label-center">6
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded black">
              <div class="label-center">7
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded yellow">
              <div class="label-center">8
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded olive">
              <div class="label-center">9
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded green">
              <div class="label-center">10
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded blue">
              <div class="label-center">11
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded violet">
              <div class="label-center">12
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded orange">
              <div class="label-center">13
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded purple">
              <div class="label-center">14
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded red">
              <div class="label-center">15
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded pink">
              <div class="label-center">16
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded teal">
              <div class="label-center">17
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded brown">
              <div class="label-center">18
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded transparent">
              <div class="label-center">19
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded inherit">
              <div class="label-center">20
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label rounded base">
              <div class="label-center">21
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Compact
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp">
            <div class="label compact">
              <div class="label-center"><i class="icon left">settings</i>Settings
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label compact">
              <div class="label-center">Settings<i class="icon right">settings</i>
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label compact">
              <div class="label-left"><i class="icon">settings</i>
              </div>
              <div class="label-center">Settings
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label compact">
              <div class="label-center">Settings
              </div>
              <div class="label-right"><i class="icon">settings</i>
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label compact primary">
              <div class="label-center">Primary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label compact secondary">
              <div class="label-center">Secondary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label compact rounded primary">
              <div class="label-center">Primary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label compact rounded secondary">
              <div class="label-center">Secondary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label compact rounded primary">
              <div class="label-center">1
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label compact rounded secondary">
              <div class="label-center">12
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Pointed
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp">
            <div class="label-pointer">
            </div>
            <div class="label">
              <div class="label-center">Normal
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label-pointer sharp">
            </div>
            <div class="label sharp">
              <div class="label-center">Sharp
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label-pointer primary">
            </div>
            <div class="label primary">
              <div class="label-center">Colored
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label-pointer outlined">
            </div>
            <div class="label outlined">
              <div class="label-center">Outlined
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label-pointer compact">
            </div>
            <div class="label compact">
              <div class="label-center">Compact
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Ribbons
        </div>
      </div>
      <div class="container limited xs-10">
        <div class="container-content">
          <div class="label-wrp ribbons">
            <div class="label primary">
              <div class="label-ribbon-left"></div>
              <div class="label-ribbon-right"></div>
              <div class="label-center">Left & Right
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label invisible primary">
              <div class="label-center">
              </div>
            </div>
          </div>
          <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div class="label-wrp ribbon-left">
            <div class="label secondary">
              <div class="label-ribbon-left"></div>
              <div class="label-center">Left
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label invisible secondary">
              <div class="label-center">
              </div>
            </div>
          </div>
          <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div class="label-wrp ribbon-right">
            <div class="label tertiary">
              <div class="label-ribbon-right"></div>
              <div class="label-center">Right
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label invisible tertiary">
              <div class="label-center">
              </div>
            </div>
          </div>
          <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div class="label-wrp ribbons">
            <div class="label outlined">
              <div class="label-ribbon-left"></div>
              <div class="label-ribbon-right"></div>
              <div class="label-center">Outlined
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label invisible outlined">
              <div class="label-center">
              </div>
            </div>
          </div>
          <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Corner
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="label-wrp top-left corner">
            <div class="label compact primary">
              <div class="label-corner"></div>
              <div class="label-center">P
              </div>
            </div>
          </div>
          <div class="label-wrp top-right corner">
            <div class="label compact secondary">
              <div class="label-corner"></div>
              <div class="label-center"><i class="icon">file-file-download</i>
              </div>
            </div>
          </div>
          <div class="label-wrp bottom-right corner">
            <div class="label compact quaternary">
              <div class="label-corner"></div>
              <div class="label-center"><i class="icon">action-thumb-up</i>
              </div>
            </div>
          </div>
          <div class="label-wrp bottom-left corner">
            <div class="label compact tertiary">
              <div class="label-corner"></div>
              <div class="label-center"><i class="icon">action-favorite</i>
              </div>
            </div>
          </div>
          <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
          </div>
          <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Badge
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp button-wrp">
            <div class="label actionable compact">
              <div class="label-center"><i class="icon">settings</i>
              </div>
              <div class="label-wrp">
                <div class="label compact badge xsmall quaternary top-left">
                  <div class="label-center">1
                  </div>
                </div>
              </div>
              <div class="label-wrp">
                <div class="label compact badge xsmall primary top-right">
                  <div class="label-center">2
                  </div>
                </div>
              </div>
              <div class="label-wrp">
                <div class="label compact badge xsmall tertiary bottom-left">
                  <div class="label-center">3
                  </div>
                </div>
              </div>
              <div class="label-wrp">
                <div class="label compact badge xsmall secondary bottom-right">
                  <div class="label-center">4
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Floating
        </div>
      </div>
      <div class="label-wrp">
        <div class="label compact floating rounded secondary large">
          <div class="label-center"><i class="icon">settings</i>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>