<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple">
            <div class="label button actionable compact transparent">
              <div class="icon-wrp">
                <div class="icon">menu
                </div>
              </div>
            </div><a href="/" class="large">Svelto</a>
            <div class="spacer">
            </div>
            <div class="label button actionable compact transparent">
              <div class="icon-wrp">
                <div class="icon">refresh
                </div>
              </div>
            </div>
            <div class="label button actionable compact transparent">
              <div class="icon-wrp">
                <div class="icon">more_vert
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Normal
        </div>
      </div>
      <div class="multiple">
        <div class="label primary">Primary
        </div>
        <div class="label secondary">Secondary
        </div>
        <div class="label tertiary">Tertiary
        </div>
        <div class="label quaternary">Quaternary
        </div>
        <div class="label white">White
        </div>
        <div class="label gray">Gray
        </div>
        <div class="label black">Black
        </div>
        <div class="label yellow">Yellow
        </div>
        <div class="label olive">Olive
        </div>
        <div class="label green">Green
        </div>
        <div class="label blue">Blue
        </div>
        <div class="label violet">Violet
        </div>
        <div class="label orange">Orange
        </div>
        <div class="label purple">Purple
        </div>
        <div class="label red">Red
        </div>
        <div class="label pink">Pink
        </div>
        <div class="label teal">Teal
        </div>
        <div class="label brown">Brown
        </div>
        <div class="label transparent">Transparent
        </div>
        <div class="label inherit">Inherit
        </div>
        <div class="label base">Base
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Advanced
        </div>
      </div>
      <div class="multiple">
        <div class="label">
          <div class="icon-wrp">
            <div class="icon">settings
            </div>
          </div>
        </div>
        <div class="label rounded">
          <div class="icon-wrp">
            <div class="icon">settings
            </div>
          </div>
        </div>
        <div class="label">
          <div class="icon-wrp">
            <div class="icon">settings
            </div>
          </div><span>Settings</span>
        </div>
        <div class="label"><span>Settings</span>
          <div class="icon-wrp">
            <div class="icon">settings
            </div>
          </div>
        </div>
        <div class="label">
          <div class="label-left">
            <div class="icon-wrp">
              <div class="icon">settings
              </div>
            </div>
          </div><span>Settings</span>
        </div>
        <div class="label"><span>Settings</span>
          <div class="label-right">
            <div class="icon-wrp">
              <div class="icon">settings
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Rounded
        </div>
      </div>
      <div class="multiple">
        <div class="label rounded primary">1
        </div>
        <div class="label rounded secondary">2
        </div>
        <div class="label rounded tertiary">3
        </div>
        <div class="label rounded quaternary">4
        </div>
        <div class="label rounded white">5
        </div>
        <div class="label rounded gray">6
        </div>
        <div class="label rounded black">7
        </div>
        <div class="label rounded yellow">8
        </div>
        <div class="label rounded olive">9
        </div>
        <div class="label rounded green">10
        </div>
        <div class="label rounded blue">11
        </div>
        <div class="label rounded violet">12
        </div>
        <div class="label rounded orange">13
        </div>
        <div class="label rounded purple">14
        </div>
        <div class="label rounded red">15
        </div>
        <div class="label rounded pink">16
        </div>
        <div class="label rounded teal">17
        </div>
        <div class="label rounded brown">18
        </div>
        <div class="label rounded transparent">19
        </div>
        <div class="label rounded inherit">20
        </div>
        <div class="label rounded base">21
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Tag
        </div>
      </div>
      <div class="multiple">
        <div class="label-tag">
          <div class="label">Normal
          </div>
        </div>
        <div class="label-tag">
          <div class="label sharp">Sharp
          </div>
        </div>
        <div class="label-tag">
          <div class="label sharp outlined">Sharp
          </div>
        </div>
        <div class="label-tag">
          <div class="label sharp compact">Sharp
          </div>
        </div>
        <div class="label-tag">
          <div class="label primary">Colored
          </div>
        </div>
        <div class="label-tag">
          <div class="label outlined">Outlined
          </div>
        </div>
        <div class="label-tag">
          <div class="label compact">Compact
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Ribbon
        </div>
      </div>
      <div class="container centered xs-10 outlined z-depth-1">
        <div class="label ribbon ribbon-left ribbon-right primary">Left & Right
        </div>
        <div class="label invisible">
        </div>
        <div style="width:95%; height:10px;" class="placeholder">
        </div>
        <div style="width:92%; height:10px;" class="placeholder">
        </div>
        <div style="width:100%; height:10px;" class="placeholder">
        </div>
        <div style="width:87%; height:10px;" class="placeholder">
        </div>
        <div style="width:97%; height:10px;" class="placeholder">
        </div>
        <div style="width:93%; height:10px;" class="placeholder">
        </div>
        <div style="width:97%; height:10px;" class="placeholder">
        </div>
        <div class="label ribbon ribbon-left secondary">Left
        </div>
        <div class="label invisible">
        </div>
        <div style="width:95%; height:10px;" class="placeholder">
        </div>
        <div style="width:92%; height:10px;" class="placeholder">
        </div>
        <div style="width:100%; height:10px;" class="placeholder">
        </div>
        <div style="width:87%; height:10px;" class="placeholder">
        </div>
        <div style="width:97%; height:10px;" class="placeholder">
        </div>
        <div style="width:93%; height:10px;" class="placeholder">
        </div>
        <div style="width:97%; height:10px;" class="placeholder">
        </div>
        <div class="label ribbon ribbon-right tertiary">Right
        </div>
        <div class="label invisible">
        </div>
        <div style="width:95%; height:10px;" class="placeholder">
        </div>
        <div style="width:92%; height:10px;" class="placeholder">
        </div>
        <div style="width:100%; height:10px;" class="placeholder">
        </div>
        <div style="width:87%; height:10px;" class="placeholder">
        </div>
        <div style="width:97%; height:10px;" class="placeholder">
        </div>
        <div style="width:93%; height:10px;" class="placeholder">
        </div>
        <div style="width:97%; height:10px;" class="placeholder">
        </div>
        <div class="label ribbon ribbon-left ribbon-right outlined">Outlined
        </div>
        <div class="label invisible">
        </div>
        <div style="width:95%; height:10px;" class="placeholder">
        </div>
        <div style="width:92%; height:10px;" class="placeholder">
        </div>
        <div style="width:100%; height:10px;" class="placeholder">
        </div>
        <div style="width:87%; height:10px;" class="placeholder">
        </div>
        <div style="width:97%; height:10px;" class="placeholder">
        </div>
        <div style="width:93%; height:10px;" class="placeholder">
        </div>
        <div style="width:97%; height:10px;" class="placeholder">
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Corner
        </div>
      </div>
      <div class="container outlined">
        <div class="label-corner top-left primary">
          <div class="label compact">P
          </div>
        </div>
        <div class="label-corner top-right secondary">
          <div class="label compact">
            <div class="icon-wrp">
              <div class="icon">file_download
              </div>
            </div>
          </div>
        </div>
        <div class="label-corner bottom-right quaternary">
          <div class="label compact">
            <div class="icon-wrp">
              <div class="icon">thumb_up
              </div>
            </div>
          </div>
        </div>
        <div class="label-corner bottom-left tertiary">
          <div class="label compact">
            <div class="icon-wrp">
              <div class="icon">favorite
              </div>
            </div>
          </div>
        </div>
        <div style="width:95%; height:10px;" class="placeholder">
        </div>
        <div style="width:92%; height:10px;" class="placeholder">
        </div>
        <div style="width:100%; height:10px;" class="placeholder">
        </div>
        <div style="width:87%; height:10px;" class="placeholder">
        </div>
        <div style="width:97%; height:10px;" class="placeholder">
        </div>
        <div style="width:93%; height:10px;" class="placeholder">
        </div>
        <div style="width:97%; height:10px;" class="placeholder">
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Badge
        </div>
      </div>
      <div class="multiple">
        <div class="label button actionable compact">
          <div class="icon-wrp">
            <div class="icon">settings
            </div>
          </div>
          <div class="label compact rounded badge xxsmall quaternary top-left">1
          </div>
          <div class="label compact rounded badge xxsmall primary top-right">2
          </div>
          <div class="label compact rounded badge xxsmall tertiary bottom-left">3
          </div>
          <div class="label compact rounded badge xxsmall secondary bottom-right">4
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Floating
        </div>
      </div>
      <div class="label floating rounded secondary large">
        <div class="icon-wrp">
          <div class="icon">settings
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Actions
        </div>
      </div>
      <div class="multiple">
        <div onclick="javascript:toggle_class ( 'outlined' )" class="label button actionable outlined">Toggle outlined
        </div>
        <div onclick="javascript:toggle_class ( 'compact' )" class="label button actionable outlined">Toggle compact
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      function toggle_class ( css_class ) {
        $('.label').toggleClass ( css_class );
      }
    </script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>