
extends ../layout.jade

//- Loading

append main
  +divider Paragraph

  +container-simple.outlined
    +paragraph-sample

  +divider Action

  +multiple
    +button("loading_test ()").outlined Toggle loading
    +button("loading_test_black ()").outlined Toggle black
    +button("loading_test_brand ()").outlined Toggle brand


append body-end
  +script.
    function loading_test () {
      $('.container' ).loading ();
    }

    function loading_test_black () {
      $('.container' ).loading ({ colors: { wrapper: 'black', spinner: 'white' } });
    }

    function loading_test_brand () {
      $('.container' ).loading ({ colors: { wrapper: 'primary', spinner: 'white' } });
    }
