
extends ../layout.jade

//- Modal

append main
  +divider-block Modals

  +multiple
    +modal-btn({ id: "1", title: "Normal" }).outlined 
    +modal-btn({ id: "2", title: "Closable" }).outlined 
    +modal-btn({ id: "3", title: "No footer" }).outlined 
    +modal-btn({ id: "4", title: "No header" }).outlined 
    +modal-btn({ id: "5", title: "Only content" }).outlined 
    +modal-btn({ id: "6", title: "With buttons" }).outlined 
    +modal-btn({ id: "7", title: "Long content" }).outlined 
    +modal-btn({ id: "8", title: "Fullscreen" }).outlined 

append body
  +card(id="modal-1").modal.xs-8
    +card-header Header
    +card-block
      +paragraph-sample
    +card-footer Footer
  
  +card(id="modal-2").modal.xs-8
    +card-header 
      +multiple
        .spacer Closable
        +button-icon("close").small.modal-closer.compact
    +card-block
      +paragraph-sample
    +card-footer Footer

  +card(id="modal-3").modal.xs-8
    +card-header No footer
    +card-block
      +paragraph-sample

  +card(id="modal-4").modal.xs-8
    +card-block
      +paragraph-sample
    +card-footer No header

  +card(id="modal-5").modal.xs-8
    +card-header Header
    +card-block
      +paragraph-sample

  +card(id="modal-6").modal.xs-8
    +card-header Header
    +card-block
      +paragraph-sample
    +card-footer 
      +multiple
        +button.outlined.modal-closer Closer
        +button.primary No Closer
        +button.secondary.modal-closer Closer

  +card(id="modal-7").modal.xs-8
    +card-header Long content
    +card-block
        +paragraph-sample
        +paragraph-sample
        +paragraph-sample
        +paragraph-sample
        +paragraph-sample
        +paragraph-sample
    +card-footer Footer

  +card(id="modal-8").modal.fullscreen
    +card-header 
      +multiple
        .spacer Fullscreen
        +button-icon("close").small.modal-closer.compact
    +card-block
        +paragraph-sample
    +card-footer Footer
