
extends ../layout.jade

//- Modal

append main
  +divider-block Modals

  +multiple
    +button(data-modal-trigger="modal-1").outlined Normal
    +button(data-modal-trigger="modal-2").outlined Closable
    +button(data-modal-trigger="modal-3").outlined No footer
    +button(data-modal-trigger="modal-4").outlined No header
    +button(data-modal-trigger="modal-5").outlined Only content
    +button(data-modal-trigger="modal-6").outlined With buttons
    +button(data-modal-trigger="modal-7").outlined Long content
    +button(data-modal-trigger="modal-8").outlined Fullscreen

append body
  +modal#modal-1
    +container("Normal").xs-8
      +card-block
        +paragraph-sample
      +card-footer The footer here

  +modal#modal-2
    +container.xs-8
      +card-header("Closable")
        +multiple-sub-right
          +button-icon("close").small.modal-closer
      +card-block
        +paragraph-sample
      +card-footer The footer here


  +modal("No footer")#modal-3
    +container("No footer").xs-8
      +card-block
        +paragraph-sample

  +modal#modal-4
    +container.xs-8
      +card-block
        +paragraph-sample
      +card-footer The footer here

  +modal#modal-5
    +container.xs-8
      +card-block
        +paragraph-sample

  +modal#modal-6
    +container("With buttons").xs-8
      +card-block
        +paragraph-sample
      +card-footer
        +multiple
          +button.outlined.modal-closer Closer
          +button.primary No Closer
          +button.secondary.modal-closer Closer

  +modal#modal-7
    +container("Long content").xs-8
      +card-block
        +paragraph-sample
        +paragraph-sample
        +paragraph-sample
        +paragraph-sample
        +paragraph-sample
        +paragraph-sample
      +card-footer The footer here

  +modal#modal-8.fullscreen
    +container
      +card-header("Fullscreen")
        +multiple-sub-right
          +button-icon("close").small.modal-closer
      +card-block
        +paragraph-sample
      +card-footer The footer here
