<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">menu
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">more_vert
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Multiple
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">1
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">2
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">3
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">4
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">5
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">6
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">7
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">8
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">9
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">10
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Centered
        </div>
      </div>
      <div class="multiple-wrp centered">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">1
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">2
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">3
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">4
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">5
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">6
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">7
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">8
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">9
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">10
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Limited
        </div>
      </div>
      <div class="multiple-wrp limited">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">1
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">2
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">3
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">4
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">5
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">6
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">7
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">8
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">9
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">10
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">No wrap
        </div>
      </div>
      <div class="multiple-wrp no-wrap">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">1
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">2
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">3
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">4
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">5
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">6
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">7
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">8
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">9
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">10
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Expanded
        </div>
      </div>
      <div class="multiple-wrp expanded">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">Left
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Center
            </div>
          </div>
          <div class="container outlined no-grow">
            <div class="container-content">Right (no-grow)
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Fluid
        </div>
      </div>
      <div class="multiple-wrp fluid">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">Left
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Center
            </div>
          </div>
          <div class="container outlined no-grow">
            <div class="container-content">Right (no-grow)
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Equal
        </div>
      </div>
      <div class="multiple-wrp equal">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">ThisIsSupposedToBeAVeryLongText
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">1
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">2
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Fluid - Joined
        </div>
      </div>
      <div class="multiple-wrp fluid joined">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">Left
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Center
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Right
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp fluid joined">
        <div class="multiple">
          <div class="label button actionable outlined">Left
          </div>
          <div class="label button actionable outlined">Center
          </div>
          <div class="label button actionable outlined">Right
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Fluid - Joined - No separators
        </div>
      </div>
      <div class="multiple-wrp fluid joined no-separators">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">Left
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Center
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Right
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp fluid joined no-separators">
        <div class="multiple">
          <div class="label button actionable outlined">Left
          </div>
          <div class="label button actionable outlined">Center
          </div>
          <div class="label button actionable outlined">Right
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Fluid - Joined - No separators - Z-Depth
        </div>
      </div>
      <div class="multiple-wrp fluid joined no-separators z-depth-2">
        <div class="multiple">
          <div class="container outlined z-depth-4">
            <div class="container-content">Left
            </div>
          </div>
          <div class="container outlined z-depth-4">
            <div class="container-content">Center
            </div>
          </div>
          <div class="container outlined z-depth-4">
            <div class="container-content">Right
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp fluid joined no-separators z-depth-2">
        <div class="multiple">
          <div class="label button actionable z-depth-4 outlined">Left
          </div>
          <div class="label button actionable z-depth-4 outlined">Center
          </div>
          <div class="label button actionable z-depth-4 outlined">Right
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Equal - Joined - Stretched
        </div>
      </div>
      <div class="multiple-wrp equal joined stretched">
        <div class="multiple">
          <div class="container outlined no-shrink">
            <div class="container-content">Left
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">
              <div style="width:95%; height:10px;" class="placeholder">
              </div>
              <div style="width:92%; height:10px;" class="placeholder">
              </div>
              <div style="width:100%; height:10px;" class="placeholder">
              </div>
              <div style="width:87%; height:10px;" class="placeholder">
              </div>
              <div style="width:97%; height:10px;" class="placeholder">
              </div>
              <div style="width:93%; height:10px;" class="placeholder">
              </div>
              <div style="width:97%; height:10px;" class="placeholder">
              </div>
            </div>
          </div>
          <div class="container outlined no-shrink">
            <div class="container-content">Right
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Vertical
        </div>
      </div>
      <div class="multiple-wrp vertical">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">Top
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Middle
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Bottom
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Vertical - Fluid
        </div>
      </div>
      <div class="multiple-wrp vertical fluid">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">Top
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Middle
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Bottom
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Vertical - Fluid - Joined
        </div>
      </div>
      <div class="multiple-wrp vertical fluid joined">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">Top
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Middle
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Bottom
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp vertical fluid joined">
        <div class="multiple">
          <div class="label button actionable outlined">Top
          </div>
          <div class="label button actionable outlined">Middle
          </div>
          <div class="label button actionable outlined">Bottom
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Vertical - Fluid - Joined - No separators
        </div>
      </div>
      <div class="multiple-wrp vertical fluid joined no-separators">
        <div class="multiple">
          <div class="container outlined">
            <div class="container-content">Top
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Middle
            </div>
          </div>
          <div class="container outlined">
            <div class="container-content">Bottom
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp vertical fluid joined no-separators">
        <div class="multiple">
          <div class="label button actionable outlined">Top
          </div>
          <div class="label button actionable outlined">Middle
          </div>
          <div class="label button actionable outlined">Bottom
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Vertical - Fluid - Joined - No separators - Z-Depth
        </div>
      </div>
      <div class="multiple-wrp vertical fluid joined no-separators z-depth-2">
        <div class="multiple">
          <div class="container outlined z-depth-4">
            <div class="container-content">Top
            </div>
          </div>
          <div class="container outlined z-depth-4">
            <div class="container-content">Middle
            </div>
          </div>
          <div class="container outlined z-depth-4">
            <div class="container-content">Bottom
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp vertical fluid joined no-separators z-depth-2">
        <div class="multiple">
          <div class="label button actionable z-depth-4 outlined">Top
          </div>
          <div class="label button actionable z-depth-4 outlined">Middle
          </div>
          <div class="label button actionable z-depth-4 outlined">Bottom
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Tricky uses
        </div>
      </div>
      <div class="container expander outlined">
        <div class="container-header outlined expander-toggler">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="multiple-sub-spacer"></div>
              <div class="multiple-sub center">
                <div class="multiple-wrp">
                  <div class="multiple">
                    <p>Concat</p>
                  </div>
                </div>
              </div>
              <div class="multiple-sub-spacer"></div>
            </div>
          </div>
        </div>
        <div class="container-content">
          <div class="divider-wrp block">
            <div class="divider">Concat no wrap
            </div>
          </div>
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="multiple-wrp no-wrap">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp no-wrap">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp no-wrap">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-wrp block">
            <div class="divider">Concat vertical
            </div>
          </div>
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="multiple-wrp vertical fluid">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp vertical fluid">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp vertical fluid">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-wrp block">
            <div class="divider">Concat joined
            </div>
          </div>
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="multiple-wrp joined">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp joined">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp joined">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container expander outlined">
        <div class="container-header outlined expander-toggler">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="multiple-sub-spacer"></div>
              <div class="multiple-sub center">
                <div class="multiple-wrp">
                  <div class="multiple">
                    <p>Concat fixed</p>
                  </div>
                </div>
              </div>
              <div class="multiple-sub-spacer"></div>
            </div>
          </div>
        </div>
        <div class="container-content">
          <div class="divider-wrp block">
            <div class="divider">Concat no wrap - FIXED
            </div>
          </div>
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="multiple-wrp no-wrap xs-4">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp no-wrap xs-4">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp no-wrap xs-4">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-wrp block">
            <div class="divider">Concat vertical - FIXED
            </div>
          </div>
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="multiple-wrp vertical fluid xs-4">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp vertical fluid xs-4">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp vertical fluid xs-4">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-wrp block">
            <div class="divider">Concat joined - FIXED
            </div>
          </div>
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="multiple-wrp joined xs-4">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">1
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp joined xs-4">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                </div>
              </div>
              <div class="multiple-wrp joined xs-4">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">3
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container expander outlined">
        <div class="container-header outlined expander-toggler">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="multiple-sub-spacer"></div>
              <div class="multiple-sub center">
                <div class="multiple-wrp">
                  <div class="multiple">
                    <p>Nested</p>
                  </div>
                </div>
              </div>
              <div class="multiple-sub-spacer"></div>
            </div>
          </div>
        </div>
        <div class="container-content">
          <div class="divider-wrp block">
            <div class="divider">Nested no wrap
            </div>
          </div>
          <div class="multiple-wrp no-wrap fluid">
            <div class="multiple">
              <div class="container outlined">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined">
                <div class="container-content">1
                </div>
              </div>
              <div class="multiple-wrp no-wrap fluid">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="multiple-wrp no-wrap fluid">
                    <div class="multiple">
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-wrp block">
            <div class="divider">Nested vertical
            </div>
          </div>
          <div class="multiple-wrp vertical fluid">
            <div class="multiple">
              <div class="container outlined">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined">
                <div class="container-content">1
                </div>
              </div>
              <div class="multiple-wrp vertical fluid">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="multiple-wrp vertical fluid">
                    <div class="multiple">
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-wrp block">
            <div class="divider">Nested joined
            </div>
          </div>
          <div class="multiple-wrp joined">
            <div class="multiple">
              <div class="container outlined">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined">
                <div class="container-content">1
                </div>
              </div>
              <div class="multiple-wrp joined">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="multiple-wrp joined">
                    <div class="multiple">
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container expander outlined">
        <div class="container-header outlined expander-toggler">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="multiple-sub-spacer"></div>
              <div class="multiple-sub center">
                <div class="multiple-wrp">
                  <div class="multiple">
                    <p>Nested fixed</p>
                  </div>
                </div>
              </div>
              <div class="multiple-sub-spacer"></div>
            </div>
          </div>
        </div>
        <div class="container-content">
          <div class="divider-wrp block">
            <div class="divider">Nested no wrap
            </div>
          </div>
          <div class="multiple-wrp no-wrap fluid">
            <div class="multiple">
              <div class="container outlined xs-1">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined xs-1">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined xs-1">
                <div class="container-content">1
                </div>
              </div>
              <div class="multiple-wrp no-wrap fluid xs-9">
                <div class="multiple">
                  <div class="container outlined xs-1">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined xs-1">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined xs-1">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="multiple-wrp no-wrap fluid xs-9">
                    <div class="multiple">
                      <div class="container outlined xs-3">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined xs-3">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined xs-3">
                        <div class="container-content">3
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-wrp block">
            <div class="divider">Nested vertical
            </div>
          </div>
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="container outlined xs-1">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined xs-1">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined xs-1">
                <div class="container-content">1
                </div>
              </div>
              <div class="multiple-wrp vertical fluid xs-9">
                <div class="multiple">
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="multiple-wrp fluid">
                    <div class="multiple">
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined">
                        <div class="container-content">3
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="multiple-wrp fluid xs-9">
                    <div class="multiple">
                      <div class="container outlined xs-1">
                        <div class="container-content">4
                        </div>
                      </div>
                      <div class="container outlined xs-1">
                        <div class="container-content">4
                        </div>
                      </div>
                      <div class="container outlined xs-1">
                        <div class="container-content">4
                        </div>
                      </div>
                      <div class="multiple-wrp vertical fluid xs-9">
                        <div class="multiple">
                          <div class="container outlined">
                            <div class="container-content">5
                            </div>
                          </div>
                          <div class="container outlined">
                            <div class="container-content">5
                            </div>
                          </div>
                          <div class="container outlined">
                            <div class="container-content">5
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-wrp block">
            <div class="divider">Nested joined
            </div>
          </div>
          <div class="multiple-wrp joined fluid">
            <div class="multiple">
              <div class="container outlined xs-3">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined xs-3">
                <div class="container-content">1
                </div>
              </div>
              <div class="container outlined xs-3">
                <div class="container-content">1
                </div>
              </div>
              <div class="multiple-wrp joined fluid xs-3">
                <div class="multiple">
                  <div class="container outlined xs-3">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined xs-3">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="container outlined xs-3">
                    <div class="container-content">2
                    </div>
                  </div>
                  <div class="multiple-wrp joined fluid xs-3">
                    <div class="multiple">
                      <div class="container outlined xs-4">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined xs-4">
                        <div class="container-content">3
                        </div>
                      </div>
                      <div class="container outlined xs-4">
                        <div class="container-content">3
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>