
extends ../layout.jade

//- Multiple subs

append main
  +divider Normal

  +container.outlined
    +multiple.fluid
      +multiple-sub-left
        p Left
      +multiple-sub-center
        p Center
      +multiple-sub-right
        p Right

  +divider No left

  +container.outlined
    +multiple.fluid
      +multiple-sub-center
        p Center
      +multiple-sub-right
        p Right

  +divider No center

  +container.outlined
    +multiple.fluid
      +multiple-sub-left
        p Left
      +multiple-sub-right
        p Right

  +divider No right

  +container.outlined
    +multiple.fluid
      +multiple-sub-left
        p Left
      +multiple-sub-center
        p Center

  +divider Only left

  +container.outlined
    +multiple.fluid
      +multiple-sub-left
        p Left

  +divider Only center

  +container.outlined
    +multiple.fluid
      +multiple-sub-center
        p Center

  +divider Only right

  +container.outlined
    +multiple.fluid
      +multiple-sub-right
        p Right

  +divider Advanced

  +container.outlined
    +multiple.fluid
      +multiple-sub-left
        +button-icon('thumb_down').xsmall
        +button-icon('thumb_up').xsmall
      +multiple-sub-center
        p.large Title
      +multiple-sub-right
        +button-icon('apps').xsmall
        +button-icon('menu').xsmall
        +button-icon('more_vert').xsmall
        +button-icon('refresh').xsmall
