
extends ../layout.jade

//- Multiple

append main
  +divider Multiple

  +multiple
    +container-simple.outlined 1
    +container-simple.outlined 2
    +container-simple.outlined 3
    +container-simple.outlined 4
    +container-simple.outlined 5
    +container-simple.outlined 6
    +container-simple.outlined 7
    +container-simple.outlined 8
    +container-simple.outlined 9
    +container-simple.outlined 10

  +divider Centered

  +multiple.centered
    +container-simple.outlined 1
    +container-simple.outlined 2
    +container-simple.outlined 3
    +container-simple.outlined 4
    +container-simple.outlined 5
    +container-simple.outlined 6
    +container-simple.outlined 7
    +container-simple.outlined 8
    +container-simple.outlined 9
    +container-simple.outlined 10

  +divider Limited

  +multiple.limited
    +container-simple.outlined 1
    +container-simple.outlined 2
    +container-simple.outlined 3
    +container-simple.outlined 4
    +container-simple.outlined 5
    +container-simple.outlined 6
    +container-simple.outlined 7
    +container-simple.outlined 8
    +container-simple.outlined 9
    +container-simple.outlined 10

  +divider No wrap

  +multiple.no-wrap
    +container-simple.outlined 1
    +container-simple.outlined 2
    +container-simple.outlined 3
    +container-simple.outlined 4
    +container-simple.outlined 5
    +container-simple.outlined 6
    +container-simple.outlined 7
    +container-simple.outlined 8
    +container-simple.outlined 9
    +container-simple.outlined 10

  +divider Expanded

  +multiple.expanded
    +container-simple.outlined Left
    +container-simple.outlined Center
    +container-simple.outlined.no-grow Right (no-grow)

  +divider Fluid

  +multiple.fluid
    +container-simple.outlined Left
    +container-simple.outlined Center
    +container-simple.outlined.no-grow Right (no-grow)

  +divider Equal

  +multiple.equal
    +container-simple.outlined ThisIsSupposedToBeAVeryLongText
    +container-simple.outlined 1
    +container-simple.outlined 2

  +divider Fluid - Joined

  +multiple.fluid.joined
    +container-simple.outlined Left
    +container-simple.outlined Center
    +container-simple.outlined Right

  +multiple.fluid.joined
    +button-simple.outlined Left
    +button-simple.outlined Center
    +button-simple.outlined Right

  +divider Fluid - Joined - No separators

  +multiple.fluid.joined.no-separators
    +container-simple.outlined Left
    +container-simple.outlined Center
    +container-simple.outlined Right

  +multiple.fluid.joined.no-separators
    +button-simple.outlined Left
    +button-simple.outlined Center
    +button-simple.outlined Right

  +divider Fluid - Joined - No separators - Z-Depth

  +multiple.fluid.joined.no-separators.z-depth-2
    +container-simple.outlined.z-depth-4 Left
    +container-simple.outlined.z-depth-4 Center
    +container-simple.outlined.z-depth-4 Right

  +multiple.fluid.joined.no-separators.z-depth-2
    +button-simple.z-depth-4.outlined Left
    +button-simple.z-depth-4.outlined Center
    +button-simple.z-depth-4.outlined Right

  +divider Equal - Joined - Stretched

  +multiple.equal.joined.stretched
    +container-simple.outlined.no-shrink Left
    +container-simple.outlined
      +paragraph-sample
    +container-simple.outlined.no-shrink Right

  +divider Vertical

  +multiple.vertical
    +container-simple.outlined Top
    +container-simple.outlined Middle
    +container-simple.outlined Bottom

  +divider Vertical - Fluid

  +multiple.vertical.fluid
    +container-simple.outlined Top
    +container-simple.outlined Middle
    +container-simple.outlined Bottom

  +divider Vertical - Fluid - Joined

  +multiple.vertical.fluid.joined
    +container-simple.outlined Top
    +container-simple.outlined Middle
    +container-simple.outlined Bottom

  +multiple.vertical.fluid.joined
    +button-simple.outlined Top
    +button-simple.outlined Middle
    +button-simple.outlined Bottom

  +divider Vertical - Fluid - Joined - No separators

  +multiple.vertical.fluid.joined.no-separators
    +container-simple.outlined Top
    +container-simple.outlined Middle
    +container-simple.outlined Bottom

  +multiple.vertical.fluid.joined.no-separators
    +button-simple.outlined Top
    +button-simple.outlined Middle
    +button-simple.outlined Bottom

  +divider Vertical - Fluid - Joined - No separators - Z-Depth

  +multiple.vertical.fluid.joined.no-separators.z-depth-2
    +container-simple.outlined.z-depth-4 Top
    +container-simple.outlined.z-depth-4 Middle
    +container-simple.outlined.z-depth-4 Bottom

  +multiple.vertical.fluid.joined.no-separators.z-depth-2
    +button-simple.z-depth-4.outlined Top
    +button-simple.z-depth-4.outlined Middle
    +button-simple.z-depth-4.outlined Bottom

  +divider Tricky uses

  //- CONCAT

  +expander("Concat", "outlined").outlined
    +container-content
      +divider Concat no wrap

      +multiple
        +multiple.no-wrap
          +container-simple.outlined 1
          +container-simple.outlined 1
          +container-simple.outlined 1
        +multiple.no-wrap
          +container-simple.outlined 2
          +container-simple.outlined 2
          +container-simple.outlined 2
        +multiple.no-wrap
          +container-simple.outlined 3
          +container-simple.outlined 3
          +container-simple.outlined 3

      +divider Concat vertical

      +multiple
        +multiple.vertical.fluid
          +container-simple.outlined 1
          +container-simple.outlined 1
          +container-simple.outlined 1
        +multiple.vertical.fluid
          +container-simple.outlined 2
          +container-simple.outlined 2
          +container-simple.outlined 2
        +multiple.vertical.fluid
          +container-simple.outlined 3
          +container-simple.outlined 3
          +container-simple.outlined 3

      +divider Concat joined

      +multiple
        +multiple.joined
          +container-simple.outlined 1
          +container-simple.outlined 1
          +container-simple.outlined 1
        +multiple.joined
          +container-simple.outlined 2
          +container-simple.outlined 2
          +container-simple.outlined 2
        +multiple.joined
          +container-simple.outlined 3
          +container-simple.outlined 3
          +container-simple.outlined 3

  +expander("Concat fixed", "outlined").outlined
    +container-content
      +divider Concat no wrap - FIXED

      +multiple.fluid
        +multiple.no-wrap.xs-4
          +container-simple.outlined 1
          +container-simple.outlined 1
          +container-simple.outlined 1
        +multiple.no-wrap.xs-4
          +container-simple.outlined 2
          +container-simple.outlined 2
          +container-simple.outlined 2
        +multiple.no-wrap.xs-4
          +container-simple.outlined 3
          +container-simple.outlined 3
          +container-simple.outlined 3

      +divider Concat vertical - FIXED

      +multiple.fluid
        +multiple.vertical.fluid.xs-4
          +container-simple.outlined 1
          +container-simple.outlined 1
          +container-simple.outlined 1
        +multiple.vertical.fluid.xs-4
          +container-simple.outlined 2
          +container-simple.outlined 2
          +container-simple.outlined 2
        +multiple.vertical.fluid.xs-4
          +container-simple.outlined 3
          +container-simple.outlined 3
          +container-simple.outlined 3

      +divider Concat joined - FIXED

      +multiple.fluid
        +multiple.joined.xs-4
          +container-simple.outlined 1
          +container-simple.outlined 1
          +container-simple.outlined 1
        +multiple.joined.xs-4
          +container-simple.outlined 2
          +container-simple.outlined 2
          +container-simple.outlined 2
        +multiple.joined.xs-4
          +container-simple.outlined 3
          +container-simple.outlined 3
          +container-simple.outlined 3

  +expander("Nested", "outlined").outlined
    +container-content
      +divider Nested no wrap

      +multiple.no-wrap.fluid
        +container-simple.outlined 1
        +container-simple.outlined 1
        +container-simple.outlined 1
        +multiple.no-wrap.fluid
          +container-simple.outlined 2
          +container-simple.outlined 2
          +container-simple.outlined 2
          +multiple.no-wrap.fluid
            +container-simple.outlined 3
            +container-simple.outlined 3
            +container-simple.outlined 3

      +divider Nested vertical

      +multiple.vertical.fluid
        +container-simple.outlined 1
        +container-simple.outlined 1
        +container-simple.outlined 1
        +multiple.vertical.fluid
          +container-simple.outlined 2
          +container-simple.outlined 2
          +container-simple.outlined 2
          +multiple.vertical.fluid
            +container-simple.outlined 3
            +container-simple.outlined 3
            +container-simple.outlined 3

      +divider Nested joined

      +multiple.joined
        +container-simple.outlined 1
        +container-simple.outlined 1
        +container-simple.outlined 1
        +multiple.joined
          +container-simple.outlined 2
          +container-simple.outlined 2
          +container-simple.outlined 2
          +multiple.joined
            +container-simple.outlined 3
            +container-simple.outlined 3
            +container-simple.outlined 3

  +expander("Nested fixed", "outlined").outlined
    +container-content
      +divider Nested no wrap

      +multiple.no-wrap.fluid
        +container-simple.outlined.xs-1 1
        +container-simple.outlined.xs-1 1
        +container-simple.outlined.xs-1 1
        +multiple.no-wrap.fluid.xs-9
          +container-simple.outlined.xs-1 2
          +container-simple.outlined.xs-1 2
          +container-simple.outlined.xs-1 2
          +multiple.no-wrap.fluid.xs-9
            +container-simple.outlined.xs-3 3
            +container-simple.outlined.xs-3 3
            +container-simple.outlined.xs-3 3

      +divider Nested vertical

      +multiple.fluid
        +container-simple.outlined.xs-1 1
        +container-simple.outlined.xs-1 1
        +container-simple.outlined.xs-1 1
        +multiple.vertical.fluid.xs-9
          +container-simple.outlined 2
          +container-simple.outlined 2
          +container-simple.outlined 2
          +multiple.fluid
            +container-simple.outlined 3
            +container-simple.outlined 3
            +container-simple.outlined 3
          +multiple.fluid.xs-9
            +container-simple.outlined.xs-1 4
            +container-simple.outlined.xs-1 4
            +container-simple.outlined.xs-1 4
            +multiple.vertical.fluid.xs-9
              +container-simple.outlined 5
              +container-simple.outlined 5
              +container-simple.outlined 5

      +divider Nested joined

      +multiple.joined.fluid
        +container-simple.outlined.xs-3 1
        +container-simple.outlined.xs-3 1
        +container-simple.outlined.xs-3 1
        +multiple.joined.fluid.xs-3
          +container-simple.outlined.xs-3 2
          +container-simple.outlined.xs-3 2
          +container-simple.outlined.xs-3 2
          +multiple.joined.fluid.xs-3
            +container-simple.outlined.xs-4 3
            +container-simple.outlined.xs-4 3
            +container-simple.outlined.xs-4 3
