
extends ../layout.jade

//- Multiple subs

append main
  +divider-block Normal

  +container.outlined
    +multiple.fluid
      +multiple-sub-left
        p Left
      +multiple-sub-center
        p Center
      +multiple-sub-right
        p Right

  +divider-block No left

  +container.outlined
    +multiple.fluid
      +multiple-sub-center
        p Center
      +multiple-sub-right
        p Right

  +divider-block No center

  +container.outlined
    +multiple.fluid
      +multiple-sub-left
        p Left
      +multiple-sub-right
        p Right

  +divider-block No right

  +container.outlined
    +multiple.fluid
      +multiple-sub-left
        p Left
      +multiple-sub-center
        p Center

  +divider-block Only left

  +container.outlined
    +multiple.fluid
      +multiple-sub-left
        p Left

  +divider-block Only center

  +container.outlined
    +multiple.fluid
      +multiple-sub-center
        p Center

  +divider-block Only right

  +container.outlined
    +multiple.fluid
      +multiple-sub-right
        p Right

  +divider-block Advanced

  +container.outlined
    +multiple.fluid
      +multiple-sub-left
        +button-icon('thumb_down').xsmall.compact
        +button-icon('thumb_up').xsmall.compact
      +multiple-sub-center
        p.large Title
      +multiple-sub-right
        +button-icon('apps').xsmall.compact
        +button-icon('menu').xsmall.compact
        +button-icon('more_vert').xsmall.compact
        +button-icon('refresh').xsmall.compact
