
extends ../layout.jade

//- Multiple

append main
  +divider-block Multiple

  +multiple
    +container.outlined 1
    +container.outlined 2
    +container.outlined 3
    +container.outlined 4
    +container.outlined 5
    +container.outlined 6
    +container.outlined 7
    +container.outlined 8
    +container.outlined 9
    +container.outlined 10

  +divider-block Centered

  +multiple.centered
    +container.outlined 1
    +container.outlined 2
    +container.outlined 3
    +container.outlined 4
    +container.outlined 5
    +container.outlined 6
    +container.outlined 7
    +container.outlined 8
    +container.outlined 9
    +container.outlined 10

  +divider-block Limited

  +multiple.limited
    +container.outlined 1
    +container.outlined 2
    +container.outlined 3
    +container.outlined 4
    +container.outlined 5
    +container.outlined 6
    +container.outlined 7
    +container.outlined 8
    +container.outlined 9
    +container.outlined 10

  +divider-block No wrap

  +multiple.no-wrap
    +container.outlined 1
    +container.outlined 2
    +container.outlined 3
    +container.outlined 4
    +container.outlined 5
    +container.outlined 6
    +container.outlined 7
    +container.outlined 8
    +container.outlined 9
    +container.outlined 10

  +divider-block Fluid

  +multiple.fluid
    +container.outlined Left
    +container.outlined Center
    +container.outlined.no-grow Right (no-grow)

  +divider-block Equal

  +multiple.equal
    +container.outlined ThisIsSupposedToBeAVeryLongText
    +container.outlined 1
    +container.outlined 2

  +divider-block Fluid - Joined

  +multiple.fluid.joined
    +container.outlined Left
    +container.outlined Center
    +container.outlined Right

  +multiple.fluid.joined
    +button.outlined Left
    +button.outlined Center
    +button.outlined Right

  +divider-block Fluid - Joined - No separators

  +multiple.fluid.joined.no-separators
    +container.outlined Left
    +container.outlined Center
    +container.outlined Right

  +multiple.fluid.joined.no-separators
    +button.outlined Left
    +button.outlined Center
    +button.outlined Right

  +divider-block Fluid - Joined - No separators - Z-Depth

  +multiple.fluid.joined.no-separators.z-depth-2
    +container.outlined.z-depth-4 Left
    +container.outlined.z-depth-4 Center
    +container.outlined.z-depth-4 Right

  +multiple.fluid.joined.no-separators.z-depth-2
    +button.z-depth-4.outlined Left
    +button.z-depth-4.outlined Center
    +button.z-depth-4.outlined Right

  +divider-block Equal - Joined - Stretched

  +multiple.equal.joined.stretched
    +container.outlined.no-shrink Left
    +container.outlined
      +paragraph-sample
    +container.outlined.no-shrink Right

  +divider-block Vertical

  +multiple.vertical
    +container.outlined Top
    +container.outlined Middle
    +container.outlined Bottom

  +divider-block Vertical - Fluid

  +multiple.vertical.fluid
    +container.outlined Top
    +container.outlined Middle
    +container.outlined Bottom

  +divider-block Vertical - Fluid - Joined

  +multiple.vertical.fluid.joined
    +container.outlined Top
    +container.outlined Middle
    +container.outlined Bottom

  +multiple.vertical.fluid.joined
    +button.outlined Top
    +button.outlined Middle
    +button.outlined Bottom

  +divider-block Vertical - Fluid - Joined - No separators

  +multiple.vertical.fluid.joined.no-separators
    +container.outlined Top
    +container.outlined Middle
    +container.outlined Bottom

  +multiple.vertical.fluid.joined.no-separators
    +button.outlined Top
    +button.outlined Middle
    +button.outlined Bottom

  +divider-block Vertical - Fluid - Joined - No separators - Z-Depth

  +multiple.vertical.fluid.joined.no-separators.z-depth-2
    +container.outlined.z-depth-4 Top
    +container.outlined.z-depth-4 Middle
    +container.outlined.z-depth-4 Bottom

  +multiple.vertical.fluid.joined.no-separators.z-depth-2
    +button.z-depth-4.outlined Top
    +button.z-depth-4.outlined Middle
    +button.z-depth-4.outlined Bottom

  +divider-block Tricky uses

  //- CONCAT

  .card.expanded Concat
    +card-block
      +divider-block Concat no wrap

      +multiple
        +multiple.no-wrap
          +container.outlined 1
          +container.outlined 1
          +container.outlined 1
        +multiple.no-wrap
          +container.outlined 2
          +container.outlined 2
          +container.outlined 2
        +multiple.no-wrap
          +container.outlined 3
          +container.outlined 3
          +container.outlined 3

      +divider-block Concat vertical

      +multiple
        +multiple.vertical.fluid
          +container.outlined 1
          +container.outlined 1
          +container.outlined 1
        +multiple.vertical.fluid
          +container.outlined 2
          +container.outlined 2
          +container.outlined 2
        +multiple.vertical.fluid
          +container.outlined 3
          +container.outlined 3
          +container.outlined 3

      +divider-block Concat joined

      +multiple
        +multiple.joined
          +container.outlined 1
          +container.outlined 1
          +container.outlined 1
        +multiple.joined
          +container.outlined 2
          +container.outlined 2
          +container.outlined 2
        +multiple.joined
          +container.outlined 3
          +container.outlined 3
          +container.outlined 3

  .card.expanded Concat fixed
    +card-block
      +divider-block Concat no wrap - FIXED

      +multiple.fluid
        +multiple.no-wrap.xs-4
          +container.outlined 1
          +container.outlined 1
          +container.outlined 1
        +multiple.no-wrap.xs-4
          +container.outlined 2
          +container.outlined 2
          +container.outlined 2
        +multiple.no-wrap.xs-4
          +container.outlined 3
          +container.outlined 3
          +container.outlined 3

      +divider-block Concat vertical - FIXED

      +multiple.fluid
        +multiple.vertical.fluid.xs-4
          +container.outlined 1
          +container.outlined 1
          +container.outlined 1
        +multiple.vertical.fluid.xs-4
          +container.outlined 2
          +container.outlined 2
          +container.outlined 2
        +multiple.vertical.fluid.xs-4
          +container.outlined 3
          +container.outlined 3
          +container.outlined 3

      +divider-block Concat joined - FIXED

      +multiple.fluid
        +multiple.joined.xs-4
          +container.outlined 1
          +container.outlined 1
          +container.outlined 1
        +multiple.joined.xs-4
          +container.outlined 2
          +container.outlined 2
          +container.outlined 2
        +multiple.joined.xs-4
          +container.outlined 3
          +container.outlined 3
          +container.outlined 3

  .card.expanded Nested
    +card-block
      +divider-block Nested no wrap

      +multiple.no-wrap.fluid
        +container.outlined 1
        +container.outlined 1
        +container.outlined 1
        +multiple.no-wrap.fluid
          +container.outlined 2
          +container.outlined 2
          +container.outlined 2
          +multiple.no-wrap.fluid
            +container.outlined 3
            +container.outlined 3
            +container.outlined 3

      +divider-block Nested vertical

      +multiple.vertical.fluid
        +container.outlined 1
        +container.outlined 1
        +container.outlined 1
        +multiple.vertical.fluid
          +container.outlined 2
          +container.outlined 2
          +container.outlined 2
          +multiple.vertical.fluid
            +container.outlined 3
            +container.outlined 3
            +container.outlined 3

      +divider-block Nested joined

      +multiple.joined
        +container.outlined 1
        +container.outlined 1
        +container.outlined 1
        +multiple.joined
          +container.outlined 2
          +container.outlined 2
          +container.outlined 2
          +multiple.joined
            +container.outlined 3
            +container.outlined 3
            +container.outlined 3

  .card.expanded Nested fixed
    +card-block
      +divider-block Nested no wrap

      +multiple.no-wrap.fluid
        +container.outlined.xs-1 1
        +container.outlined.xs-1 1
        +container.outlined.xs-1 1
        +multiple.no-wrap.fluid.xs-9
          +container.outlined.xs-1 2
          +container.outlined.xs-1 2
          +container.outlined.xs-1 2
          +multiple.no-wrap.fluid.xs-9
            +container.outlined.xs-3 3
            +container.outlined.xs-3 3
            +container.outlined.xs-3 3

      +divider-block Nested vertical

      +multiple.fluid
        +container.outlined.xs-1 1
        +container.outlined.xs-1 1
        +container.outlined.xs-1 1
        +multiple.vertical.fluid.xs-9
          +container.outlined 2
          +container.outlined 2
          +container.outlined 2
          +multiple.fluid
            +container.outlined 3
            +container.outlined 3
            +container.outlined 3
          +multiple.fluid.xs-9
            +container.outlined.xs-1 4
            +container.outlined.xs-1 4
            +container.outlined.xs-1 4
            +multiple.vertical.fluid.xs-9
              +container.outlined 5
              +container.outlined 5
              +container.outlined 5

      +divider-block Nested joined

      +multiple.joined.fluid
        +container.outlined.xs-3 1
        +container.outlined.xs-3 1
        +container.outlined.xs-3 1
        +multiple.joined.fluid.xs-3
          +container.outlined.xs-3 2
          +container.outlined.xs-3 2
          +container.outlined.xs-3 2
          +multiple.joined.fluid.xs-3
            +container.outlined.xs-4 3
            +container.outlined.xs-4 3
            +container.outlined.xs-4 3
