
extends ../layout.jade

//- Navbar

append main
  +divider Normal

  +multiple
    +navbar-btn({ title: "Left", icon: "chevron_left", id: "left" })
    +navbar-btn({ title: "Top", icon: "expand_less", id: "top" })
    +navbar-btn({ title: "Bottom", icon: "expand_more", id: "bottom" })
    +navbar-btn({ title: "Right",icon: "chevron_right", id: "right" })

  +divider Slim

  +multiple
    +navbar-btn({ icon: "chevron_left", id: "left-slim" }).compact
    +navbar-btn({ icon: "expand_less", id: "top-slim" }).compact
    +navbar-btn({ icon: "expand_more", id: "bottom-slim" }).compact
    +navbar-btn({ icon: "chevron_right", id: "right-slim" }).compact

  +divider Attached

  +multiple
    +navbar-btn({ title: "Left", icon: "chevron_left", id: "left-attached" })
    +navbar-btn({ icon: "expand_less", id: "top-attached" }).compact
    +navbar-btn({ icon: "expand_more", id: "bottom-attached" }).compact
    +navbar-btn({ title: "Right", icon: "chevron_right", id: "right-attached" })

  +divider Actions

  +multiple
    +button-simple("navbar_toggle_fixed_header ()") Toggle fixed header
    +button-simple("navbar_remove_header ()") Remove header
    +button-simple("navbar_remove_footer ()") Remove footer

append body-start
  +navbar({ id: "left-attached", direction: "left", slim: false, attached: "attached-lg" }) Left Attached
  +navbar({ id: "top-attached", direction: "top", slim: true, attached: "attached-lg" }) Top Attached
  +navbar({ id: "bottom-attached", direction: "bottom", slim: true, attached: "attached-lg" }) Bottom attached
  +navbar({ id: "right-attached", direction: "right", slim: false, attached: "attached-lg" }) Right Attached

append body
  +navbar({ id: "left", direction: "left" }) Left
  +navbar({ id: "top", direction: "top" }) Top
  +navbar({ id: "bottom", direction: "bottom" }) Bottom
  +navbar({ id: "right", direction: "right" }) Right

  +navbar({ id: "left-slim", direction: "left", slim: true }) Left slim
  +navbar({ id: "top-slim", direction: "top", slim: true }) Top slim
  +navbar({ id: "bottom-slim", direction: "bottom", slim: true }) Bottom slim
  +navbar({ id: "right-slim", direction: "right", slim: true }) Right slim

append body-end
  +script.
    function navbar_toggle_fixed_header () {
      $('body').toggleClass ( 'fixed-header' );
    }

    function navbar_remove_header () {
      $('header').remove ();
    }

    function navbar_remove_footer () {
      $('footer').remove ();
    }
