
extends ../layout.jade

//- Navbar

append main
  +divider Normal

  +multiple
    +navbar-btn({ title: "Left", icon: "chevron_left", id: "left" }).outlined
    +navbar-btn({ title: "Top", icon: "expand_less", id: "top" }).outlined
    +navbar-btn({ title: "Bottom", icon: "expand_more", id: "bottom" }).outlined
    +navbar-btn({ title: "Right",icon: "chevron_right", id: "right" }).outlined

  +divider Slim

  +multiple
    +navbar-btn({ icon: "chevron_left", id: "left-slim" }).compact.outlined
    +navbar-btn({ icon: "expand_less", id: "top-slim" }).compact.outlined
    +navbar-btn({ icon: "expand_more", id: "bottom-slim" }).compact.outlined
    +navbar-btn({ icon: "chevron_right", id: "right-slim" }).compact.outlined

  +divider Attached

  +multiple
    +navbar-btn({ title: "Left", icon: "chevron_left", id: "left-attached" }).outlined
    +navbar-btn({ icon: "expand_less", id: "top-attached" }).compact.outlined
    +navbar-btn({ icon: "expand_more", id: "bottom-attached" }).compact.outlined
    +navbar-btn({ title: "Right", icon: "chevron_right", id: "right-attached" }).outlined

  +divider Actions

  +multiple
    +button("toggle_fixed_header ()").outlined Toggle fixed header
    +button("remove_element ( 'header' )").outlined Remove header
    +button("remove_element ( 'footer' )").outlined Remove footer

append body-start
  +navbar({ id: "left-attached", direction: "left", slim: false, attached: "attached-lg", flickable: true }) Left Attached
  +navbar({ id: "top-attached", direction: "top", slim: true, attached: "attached-lg" }) Top Attached
  +navbar({ id: "bottom-attached", direction: "bottom", slim: true, attached: "attached-lg" }) Bottom attached
  +navbar({ id: "right-attached", direction: "right", slim: false, attached: "attached-lg", flickable: true }) Right Attached

append body
  +navbar({ id: "left", direction: "left" }) Left
  +navbar({ id: "top", direction: "top" }) Top
  +navbar({ id: "bottom", direction: "bottom" }) Bottom
  +navbar({ id: "right", direction: "right" }) Right

  +navbar({ id: "left-slim", direction: "left", slim: true }) Left slim
  +navbar({ id: "top-slim", direction: "top", slim: true }) Top slim
  +navbar({ id: "bottom-slim", direction: "bottom", slim: true }) Bottom slim
  +navbar({ id: "right-slim", direction: "right", slim: true }) Right slim

append body-end
  +script.
    function toggle_fixed_header () {
      $('header').toggleClass ( 'fixed' );
    }
    function remove_element ( selector ) {
      $(selector).remove ();
    }
