//- bootstrap/navbar.jade

extends ../../layout.jade

append main
    +divider Normal

    +multiple
        +navbar-btn("Left", "navigation-chevron-left", "left")
        +navbar-btn("Top", "navigation-expand-less", "top")
        +navbar-btn("Bottom", "navigation-expand-more", "bottom")
        +navbar-btn("Right", "navigation-chevron-right", "right")

    +divider Slim

    +multiple
        +navbar-btn(false, "navigation-chevron-left", "left-slim")
        +navbar-btn(false, "navigation-expand-less", "top-slim")
        +navbar-btn(false, "navigation-expand-more", "bottom-slim")
        +navbar-btn(false, "navigation-chevron-right", "right-slim")

    +divider Attached

    +multiple
        +navbar-btn("Left", "navigation-chevron-left", "left-attached")
        +navbar-btn(false, "navigation-expand-less", "top-attached")
        +navbar-btn(false, "navigation-expand-more", "bottom-attached")
        +navbar-btn("Right", "navigation-chevron-right", "right-attached")

    +divider Actions

    +multiple
        +button-simple("navbar_toggle_fixed_header()") Toggle fixed header
        +button-simple("navbar_remove_header()") Remove header
        +button-simple("navbar_remove_footer()") Remove footer

append body-start
    +navbar("left-attached", "left", false, "lg" ) Left Attached
    +navbar("top-attached", "top", true, "lg" ) Top Attached
    +navbar("bottom-attached", "bottom", true, "lg" ) Bottom attached
    +navbar("right-attached", "right", false, "lg" ) Right Attached

append body
    +navbar("left", "left") Left
    +navbar("top", "top") Top
    +navbar("bottom", "bottom") Bottom
    +navbar("right", "right") Right

    +navbar("left-slim", "left", true) Left slim
    +navbar("top-slim", "top", true) Top slim
    +navbar("bottom-slim", "bottom", true) Bottom slim
    +navbar("right-slim", "right", true) Right slim

append body-end
    +script.
        function navbar_toggle_fixed_header () {
            $('body').toggleClass ( 'fixed-header' );
        }

        function navbar_remove_header () {
            $('header').remove ();
        }

        function navbar_remove_footer () {
            $('footer').remove ();
        }
