
extends ../layout.jade

//- Navigation

append main
  +divider-block Notifications

  +multiple.actions
    +button("notification_trigger ()").outlined Trigger
    +button("notification_trigger_delayed ( 2000 )").outlined Trigger delayed (2s)

append body-end
  +script.
    function notification_trigger () {
      $.notification ({ title: "Test title", body: "Test description", img: "/sample.png" });
    }
    function notification_trigger_delayed ( delay ) {
      setTimeout ( function () {
        notification_trigger ();
      }, delay );
    }
