
extends ../layout.jade

//- Navigation

append main
  +divider-block Notifications

  +multiple
    +button("notification_test ()").outlined Test
    +button("notification_test_delayed ()").outlined Test delayed (2s)

append body-end
  +script.
    function notification_test () {
      $.notification ({ title: "Test title", body: "Test description", img: "/sample.png" });
    }
    function notification_test_delayed () {
      setTimeout ( function () {
        $.notification ({ title: "Test title", body: "Test description", img: "/sample.png" });
      }, 2000 );
    }
