
extends ../layout.jade

//- Outline

append main
  +divider-block Outlined

  +container.outlined
    +multiple
      +label.outlined Label
      +button.outlined Button
      +button.outlined
        +icon('settings')
        span Button
      +label-icon('settings').outlined.compact
      +input({ label: "Placeholder...", value: "Input" }).outlined.white
      +textarea({ label: "Placeholder..." }).outlined.white Textarea
      +multiple.joined
        +input({ label: "Placeholder...", value: "Input" }).outlined.no-floating.white
        +button-icon('settings').outlined.compact

  +divider-block Styles

  +multiple
    +label.outlined.outlined-solid Solid
    +label.outlined.outlined-dotted Dotted
    +label.outlined.outlined-dashed Dashed

  +divider-block Colors

  +multiple
    +label.outlined.outlined-primary Primary
    +label.outlined.outlined-secondary Secondary
    +label.outlined.outlined-tertiary Tertiary
    +label.outlined.outlined-quaternary Quaternary
    +label.outlined.outlined-white White
    +label.outlined.outlined-gray Gray
    +label.outlined.outlined-black Black
    +label.outlined.outlined-yellow Yellow
    +label.outlined.outlined-olive Olive
    +label.outlined.outlined-green Green
    +label.outlined.outlined-blue Blue
    +label.outlined.outlined-violet Violet
    +label.outlined.outlined-orange Orange
    +label.outlined.outlined-purple Purple
    +label.outlined.outlined-red Red
    +label.outlined.outlined-pink Pink
    +label.outlined.outlined-teal Teal
    +label.outlined.outlined-brown Brown
    +label.outlined.outlined-error Error
    +label.outlined.outlined-warning Warning
    +label.outlined.outlined-success Success
    +label.outlined.outlined-transparent Transparent
    +label.outlined.outlined-inherit Inherit
    +label.outlined.outlined-base Base
