<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Outlined
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <div class="multiple-wrp">
            <div class="multiple">
              <div class="label-wrp">
                <div class="label outlined">
                  <div class="label-center">Label
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable outlined">
                  <div class="label-center">Button
                  </div>
                </div>
              </div>
              <div class="label-wrp">
                <div class="label outlined compact">
                  <div class="label-center"><i class="icon">settings</i>
                  </div>
                </div>
              </div>
              <div class="input-wrp outlined white">
                <input type="text" value="Input" name="" required="required" class="text-field"/>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="textarea-wrp outlined white">
                <textarea name="" required="required" class="text-field">Textarea
                </textarea>
                <label>Placeholder...</label>
                <div class="text-field-bar"></div>
              </div>
              <div class="multiple-wrp joined">
                <div class="multiple">
                  <div class="input-wrp outlined no-floating white">
                    <input type="text" value="Input" name="" required="required" class="text-field"/>
                    <label>Placeholder...</label>
                    <div class="text-field-bar"></div>
                  </div>
                  <div class="label-wrp button-wrp">
                    <div class="label actionable outlined compact">
                      <div class="label-center"><i class="icon">settings</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Styles
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp">
            <div class="label outlined outlined-solid">
              <div class="label-center">Solid
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-dotted">
              <div class="label-center">Dotted
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-dashed">
              <div class="label-center">Dashed
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Colors
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp">
            <div class="label outlined outlined-primary">
              <div class="label-center">Primary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-secondary">
              <div class="label-center">Secondary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-tertiary">
              <div class="label-center">Tertiary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-quaternary">
              <div class="label-center">Quaternary
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-white">
              <div class="label-center">White
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-gray">
              <div class="label-center">Gray
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-black">
              <div class="label-center">Black
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-yellow">
              <div class="label-center">Yellow
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-olive">
              <div class="label-center">Olive
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-green">
              <div class="label-center">Green
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-blue">
              <div class="label-center">Blue
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-violet">
              <div class="label-center">Violet
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-orange">
              <div class="label-center">Orange
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-purple">
              <div class="label-center">Purple
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-red">
              <div class="label-center">Red
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-pink">
              <div class="label-center">Pink
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-teal">
              <div class="label-center">Teal
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-brown">
              <div class="label-center">Brown
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-transparent">
              <div class="label-center">Transparent
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-inherit">
              <div class="label-center">Inherit
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label outlined outlined-base">
              <div class="label-center">Base
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>