
extends ../layout.jade

//- Overlay

append main
  +divider-block Overlay

  +container.outlined
    +overlay.container
      p
        +lorem-ipsum
    +paragraph-sample

  //- INFO: Card taken from `card.jade`#advanced
  
  +card.advanced.outlined
    +overlay.centerer
      .xxlarge
        +icon("thumb_up").xxxxlarge
    +card-header.outlined.teal
      +sections
        +section-left
          +multiple
            +button-icon('thumb_down').compact.xsmall
            +button-icon("thumb_up").compact.xsmall
        +section-center.forced 
          p Header
        +section-right
          +multiple
            +button-icon('apps').compact.xsmall
            +button-icon('menu').compact.xsmall
            +button-icon('more_vert').compact.xsmall
            +button-icon('refresh').compact.xsmall
    +card-block
      +paragraph-sample
    +card-footer.outlined.pink Footer

  //- INFO: Card taken from `card.jade`#advanced

  +container.outlined
    +overlay.card.advanced
      +card-header.outlined.teal
        +sections
          +section-left
            +multiple
              +button-icon('thumb_down').compact.xsmall
              +button-icon("thumb_up").compact.xsmall
          +section-center.forced 
            p Header
          +section-right
            +multiple
              +button-icon('apps').compact.xsmall
              +button-icon('menu').compact.xsmall
              +button-icon('more_vert').compact.xsmall
              +button-icon('refresh').compact.xsmall
      +card-block
        +paragraph-sample
      +card-footer.outlined.pink Footer
    +paragraph-sample
    
  +divider-block Advanced
  
  +card.outlined
    +overlay.centerer
      +button.secondary.overlay-closer Closer
    +card-block
      +paragraph-sample
    +card-footer.outlined.centerer
      +button.primary.overlay-trigger Trigger
    
  +divider-block Actions

  +multiple.actions
    +button("overlays_get_all ()").outlined Get all
    +button("overlay_api ( 'toggle' )").outlined Toggle all
    +button("overlay_api ( 'open' )").outlined Open all
    +button("overlay_api ( 'close' )").outlined Close all
    +button("toggle_class ( 'dimmer' )").outlined Toggle dimmer
    +button("toggle_class ( 'blurrer' )").outlined Toggle blurrer

append body-end
  +script.
    function overlays_get_all () {
      var gets = _.map ( $('.overlay'), function ( overlay ) {
        return $(overlay).overlay ( 'isOpen' );
      });
      $.noty ( gets.join ( ' - ' ) );
    }
    function overlay_api ( action ) {
      $('.overlay').overlay ( action );
    }  
    function toggle_class ( css_class ) {
      $('.overlay').toggleClass ( css_class );
    }
