
extends ../layout.jade

//- Pagination

append main
  +divider-block Normal

  +pagination({ url: "#", total: 100, current: 4, blocks: 11 })

  +divider-block Additional classes

  +pagination({ url: "#", total: 100, current: 4, blocks: 11, classes: 'primary outlined compact' }).joined

  +divider-block Joined
  
  +pagination({ url: "#", total: 100, current: 4, blocks: 11 }).joined

  +divider-block Joined - Few blocks

  +pagination({ url: "#", total: 100, current: 4, blocks: 2 }).joined
  +pagination({ url: "#", total: 100, current: 4, blocks: 3 }).joined

  +divider-block Joined - Infinite

  +pagination({ url: "#", total: 'infinite', current: 4, blocks: 2 }).joined

  +divider-block Joined - Left

  +pagination({ url: "#<page-nr>_page", total: 100, current: 3, blocks: 11 }).joined
  +pagination({ url: "#<page-nr>_page", total: 100, current: 1, blocks: 11 }).joined

  +divider-block Joined - Right

  +pagination({ url: "#<page-nr>_page", total: 100, current: 100, blocks: 11 }).joined
  +pagination({ url: "#<page-nr>_page", total: 100, current: 98, blocks: 11 }).joined
