<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label button actionable compact">
                <div class="icon-wrp">
                  <div class="icon">menu
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label button actionable compact">
                <div class="icon-wrp">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
              <div class="label button actionable compact">
                <div class="icon-wrp">
                  <div class="icon">more_vert
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Normal
        </div>
      </div>
      <div class="multiple-wrp pagination centered">
        <div class="multiple">
          <div class="label button actionable compact prev" title="Previous page">
            <div class="icon-wrp">
              <div class="icon">chevron_left
              </div>
            </div>
          </div><a href="#1" class="label button actionable compact" title="Page 1">1</a><a href="#2" class="label button actionable compact" title="Page 2">2</a><a href="#3" class="label button actionable compact" title="Page 3">3</a>
          <div class="label compact current" title="Current page">4
          </div><a href="#5" class="label button actionable compact" title="Page 5">5</a><a href="#6" class="label button actionable compact" title="Page 6">6</a><a href="#7" class="label button actionable compact" title="Page 7">7</a><a href="#8" class="label button actionable compact" title="Page 8">8</a><a href="#9" class="label button actionable compact" title="Page 9">9</a>
          <div class="label button actionable compact next" title="Next page">
            <div class="icon-wrp">
              <div class="icon">chevron_right
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Additional classes
        </div>
      </div>
      <div class="multiple-wrp pagination centered joined">
        <div class="multiple">
          <div class="label button actionable primary outlined compact prev" title="Previous page">
            <div class="icon-wrp">
              <div class="icon">chevron_left
              </div>
            </div>
          </div><a href="#1" class="label button actionable primary outlined compact" title="Page 1">1</a><a href="#2" class="label button actionable primary outlined compact" title="Page 2">2</a><a href="#3" class="label button actionable primary outlined compact" title="Page 3">3</a>
          <div class="label primary outlined compact current" title="Current page">4
          </div><a href="#5" class="label button actionable primary outlined compact" title="Page 5">5</a><a href="#6" class="label button actionable primary outlined compact" title="Page 6">6</a><a href="#7" class="label button actionable primary outlined compact" title="Page 7">7</a><a href="#8" class="label button actionable primary outlined compact" title="Page 8">8</a><a href="#9" class="label button actionable primary outlined compact" title="Page 9">9</a>
          <div class="label button actionable primary outlined compact next" title="Next page">
            <div class="icon-wrp">
              <div class="icon">chevron_right
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Joined
        </div>
      </div>
      <div class="multiple-wrp pagination centered joined">
        <div class="multiple">
          <div class="label button actionable compact prev" title="Previous page">
            <div class="icon-wrp">
              <div class="icon">chevron_left
              </div>
            </div>
          </div><a href="#1" class="label button actionable compact" title="Page 1">1</a><a href="#2" class="label button actionable compact" title="Page 2">2</a><a href="#3" class="label button actionable compact" title="Page 3">3</a>
          <div class="label compact current" title="Current page">4
          </div><a href="#5" class="label button actionable compact" title="Page 5">5</a><a href="#6" class="label button actionable compact" title="Page 6">6</a><a href="#7" class="label button actionable compact" title="Page 7">7</a><a href="#8" class="label button actionable compact" title="Page 8">8</a><a href="#9" class="label button actionable compact" title="Page 9">9</a>
          <div class="label button actionable compact next" title="Next page">
            <div class="icon-wrp">
              <div class="icon">chevron_right
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Joined - Few blocks
        </div>
      </div>
      <div class="multiple-wrp pagination centered joined">
        <div class="multiple">
          <div class="label button actionable compact prev" title="Previous page">
            <div class="icon-wrp">
              <div class="icon">chevron_left
              </div>
            </div>
          </div>
          <div class="label button actionable compact next" title="Next page">
            <div class="icon-wrp">
              <div class="icon">chevron_right
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp pagination centered joined">
        <div class="multiple">
          <div class="label button actionable compact prev" title="Previous page">
            <div class="icon-wrp">
              <div class="icon">chevron_left
              </div>
            </div>
          </div>
          <div class="label compact current" title="Current page">4
          </div>
          <div class="label button actionable compact next" title="Next page">
            <div class="icon-wrp">
              <div class="icon">chevron_right
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Joined - Infinite
        </div>
      </div>
      <div class="multiple-wrp pagination centered joined">
        <div class="multiple"><a href="#" class="label button actionable compact">Load more</a>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Joined - Left
        </div>
      </div>
      <div class="multiple-wrp pagination centered joined">
        <div class="multiple">
          <div class="label button actionable compact prev" title="Previous page">
            <div class="icon-wrp">
              <div class="icon">chevron_left
              </div>
            </div>
          </div><a href="#1_page" class="label button actionable compact" title="Page 1">1</a><a href="#2_page" class="label button actionable compact" title="Page 2">2</a>
          <div class="label compact current" title="Current page">3
          </div><a href="#4_page" class="label button actionable compact" title="Page 4">4</a><a href="#5_page" class="label button actionable compact" title="Page 5">5</a><a href="#6_page" class="label button actionable compact" title="Page 6">6</a><a href="#7_page" class="label button actionable compact" title="Page 7">7</a><a href="#8_page" class="label button actionable compact" title="Page 8">8</a><a href="#9_page" class="label button actionable compact" title="Page 9">9</a>
          <div class="label button actionable compact next" title="Next page">
            <div class="icon-wrp">
              <div class="icon">chevron_right
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="multiple-wrp pagination centered joined">
        <div class="multiple">
          <div class="label compact current" title="Current page">1
          </div><a href="#2_page" class="label button actionable compact" title="Page 2">2</a><a href="#3_page" class="label button actionable compact" title="Page 3">3</a><a href="#4_page" class="label button actionable compact" title="Page 4">4</a><a href="#5_page" class="label button actionable compact" title="Page 5">5</a><a href="#6_page" class="label button actionable compact" title="Page 6">6</a><a href="#7_page" class="label button actionable compact" title="Page 7">7</a><a href="#8_page" class="label button actionable compact" title="Page 8">8</a><a href="#9_page" class="label button actionable compact" title="Page 9">9</a><a href="#10_page" class="label button actionable compact" title="Page 10">10</a>
          <div class="label button actionable compact next" title="Next page">
            <div class="icon-wrp">
              <div class="icon">chevron_right
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Joined - Right
        </div>
      </div>
      <div class="multiple-wrp pagination centered joined">
        <div class="multiple">
          <div class="label button actionable compact prev" title="Previous page">
            <div class="icon-wrp">
              <div class="icon">chevron_left
              </div>
            </div>
          </div><a href="#91_page" class="label button actionable compact" title="Page 91">91</a><a href="#92_page" class="label button actionable compact" title="Page 92">92</a><a href="#93_page" class="label button actionable compact" title="Page 93">93</a><a href="#94_page" class="label button actionable compact" title="Page 94">94</a><a href="#95_page" class="label button actionable compact" title="Page 95">95</a><a href="#96_page" class="label button actionable compact" title="Page 96">96</a><a href="#97_page" class="label button actionable compact" title="Page 97">97</a><a href="#98_page" class="label button actionable compact" title="Page 98">98</a><a href="#99_page" class="label button actionable compact" title="Page 99">99</a>
          <div class="label compact current" title="Current page">100
          </div>
        </div>
      </div>
      <div class="multiple-wrp pagination centered joined">
        <div class="multiple">
          <div class="label button actionable compact prev" title="Previous page">
            <div class="icon-wrp">
              <div class="icon">chevron_left
              </div>
            </div>
          </div><a href="#92_page" class="label button actionable compact" title="Page 92">92</a><a href="#93_page" class="label button actionable compact" title="Page 93">93</a><a href="#94_page" class="label button actionable compact" title="Page 94">94</a><a href="#95_page" class="label button actionable compact" title="Page 95">95</a><a href="#96_page" class="label button actionable compact" title="Page 96">96</a><a href="#97_page" class="label button actionable compact" title="Page 97">97</a>
          <div class="label compact current" title="Current page">98
          </div><a href="#99_page" class="label button actionable compact" title="Page 99">99</a><a href="#100_page" class="label button actionable compact" title="Page 100">100</a>
          <div class="label button actionable compact next" title="Next page">
            <div class="icon-wrp">
              <div class="icon">chevron_right
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>