
extends ../layout.jade

//- Placeholder

append main
  +divider Advertisements - Horizontal

  +container.outlined
    +placeholder({ width: 728, height: 90 })
    +placeholder({ width: 320, height: 100 })
    +placeholder({ width: 970, height: 250 })
    +placeholder({ width: 970, height: 90 })
    +placeholder({ width: 468, height: 60 })
    +placeholder({ width: 320, height: 50 })
    +placeholder({ width: 234, height: 60 })

  +divider Advertisements - Vertical

  +container.outlined
    +placeholder({ width: 300, height: 600 })
    +placeholder({ width: 300, height: 1050 })
    +placeholder({ width: 160, height: 600 })
    +placeholder({ width: 120, height: 600 })
    +placeholder({ width: 120, height: 240 })

  +divider Advertisements - Square-like

  +container.outlined
    +placeholder({ width: 336, height: 280 })
    +placeholder({ width: 300, height: 250 })
    +placeholder({ width: 250, height: 250 })
    +placeholder({ width: 200, height: 200 })
    +placeholder({ width: 180, height: 150 })
    +placeholder({ width: 125, height: 125 })

  +divider Advertisements - Rectangular

  +container.outlined
    +placeholder({ width: 728, height: 15 })
    +placeholder({ width: 468, height: 15 })
    +placeholder({ width: 200, height: 90 })
    +placeholder({ width: 180, height: 90 })
    +placeholder({ width: 160, height: 90 })
    +placeholder({ width: 120, height: 90 })

  +divider Custom

  +container.outlined
    +placeholder({ width: 600, height: 50 }) 600px - 50px - Custom
    +placeholder({ width: '75%', height: 50 }) 75% - 50px - Custom
    +placeholder({ width: '75%', height: 50, empty: true })
