<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple">
            <div class="button compact transparent"><i class="icon">menu</i>
            </div><a href="/" class="large">Svelto</a>
            <div class="spacer">
            </div>
            <div class="button compact transparent"><i class="icon">refresh</i>
            </div>
            <div class="button compact transparent"><i class="icon">more_vert</i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Target
        </div>
      </div>
      <div class="centerer">
        <div class="square target" style="height: 300px; width: 75%;">
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Triggered
        </div>
      </div>
      <div class="multiple">
        <div class="button checkbox tap outlined">
          <input type="radio"/><span>Tap</span><i class="icon icon-on">check_box</i><i class="icon icon-off">check_box_outline_blank</i>
        </div>
        <div class="button checkbox dbltap outlined">
          <input type="radio"/><span>Double tap</span><i class="icon icon-on">check_box</i><i class="icon icon-off">check_box_outline_blank</i>
        </div>
        <div class="button checkbox press outlined">
          <input type="radio"/><span>Press</span><i class="icon icon-on">check_box</i><i class="icon icon-off">check_box_outline_blank</i>
        </div>
        <div class="button checkbox dragstart outlined">
          <input type="radio"/><span>Drag start</span><i class="icon icon-on">check_box</i><i class="icon icon-off">check_box_outline_blank</i>
        </div>
        <div class="button checkbox dragmove outlined">
          <input type="radio"/><span>Drag move</span><i class="icon icon-on">check_box</i><i class="icon icon-off">check_box_outline_blank</i>
        </div>
        <div class="button checkbox dragend outlined">
          <input type="radio"/><span>Drag end</span><i class="icon icon-on">check_box</i><i class="icon icon-off">check_box_outline_blank</i>
        </div>
        <div class="button checkbox flick outlined">
          <input type="radio"/><span>Flick</span><i class="icon icon-on">check_box</i><i class="icon icon-off">check_box_outline_blank</i>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Actions
        </div>
      </div>
      <div onclick="javascript:pointer_uncheck_all ()" class="button outlined">Reset
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      $('.target').on ({
        'pointertap' : pointer_tap,
        'pointerdbltap' : pointer_dbltap,
        'pointerpress' : pointer_press,
        'pointerdragstart' : pointer_dragstart,
        'pointerdragmove' : pointer_dragmove,
        'pointerdragend' : pointer_dragend,
        'pointerflick'  : pointer_flick
      });
      
      function pointer_uncheck_all () {
        $('.checkbox').checkbox ( 'uncheck' );
      }
      
      function pointer_check ( name ) {
        $('.checkbox.' + name).checkbox ( 'check' );
      }
      
      function pointer_tap () {
        pointer_check ( 'tap' );
      }
      
      function pointer_dbltap () {
        pointer_check ( 'dbltap' );
      }
      
      function pointer_press () {
        pointer_check ( 'press' );
      }
      
      function pointer_dragstart () {
        pointer_uncheck_all ();
        pointer_check ( 'dragstart' );
      }
      
      function pointer_dragmove ( event ) {
        event.preventDefault ();
        pointer_check ( 'dragmove' );
      }
      
      function pointer_dragend () {
        pointer_check ( 'dragend' );
      }
      
      function pointer_flick  ( event, data ) {
        pointer_check ( 'flick ' );
        $.noty ( "Flick orientation: " + data.orientation + ", direction: " + data.direction );
      }
    </script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>