
extends ../layout.jade

//- Pointer

append main
  +divider-block Target

  +centerer
    +square(style="height: 300px; width: 75%;").outlined.target

  +divider-block Triggered

  +multiple
    +checkbox({ name: "pointer_tap", title: "Tap", value: 1 }).tap.outlined
    +checkbox({ name: "pointer_dbltap", title: "Double tap", value: 1 }).dbltap.outlined
    +checkbox({ name: "pointer_press", title: "Press", value: 1 }).press.outlined
    +checkbox({ name: "pointer_flick", title: "Flick", value: 1 }).flick.outlined
    +checkbox({ name: "pointer_down", title: "Down", value: 1 }).down.outlined
    +checkbox({ name: "pointer_move", title: "Move", value: 1 }).move.outlined
    +checkbox({ name: "pointer_up", title: "Up", value: 1 }).up.outlined
    +checkbox({ name: "pointer_cancel", title: "Cancel", value: 1 }).cancel.outlined
    +checkbox({ name: "pointer_over", title: "Over", value: 1 }).over.outlined
    +checkbox({ name: "pointer_enter", title: "Enter", value: 1 }).enter.outlined
    +checkbox({ name: "pointer_out", title: "Out", value: 1 }).out.outlined
    +checkbox({ name: "pointer_leave", title: "Leave", value: 1 }).leave.outlined

  +divider-block Actions

  +button("pointer_uncheck_all ()").outlined Reset

append body-end
  +script.
    for ( var prop in Pointer ) {
      if ( prop !== 'options' ) {
        $('.target').on ( Pointer[prop], { name: prop }, pointer_handler );  
      }
    }

    function pointer_uncheck_all () {
      $('.checkbox').checkbox ( 'uncheck' );
    }
    
    function pointer_handler ( event, data ) {
      var name = event.data.name;
      if ( name === 'down' ) {
        pointer_uncheck_all ();
      } else if ( name === 'flick' ) {
        $.noty ( "Flick orientation: " + data.orientation + ", direction: " + data.direction );
      }
      $('.checkbox.' + name).checkbox ( 'check' );
    }
