
extends ../layout.jade

//- Progressbar

append main
  +divider-block Base

  +container.outlined
    +progressbar(0)
    +progressbar(33)
    +progressbar({ value: 45.12 })
    +progressbar({ value: 45.12, decimals: 2 })

  +divider-block Colors

  +container.outlined
    +progressbar({ value: 0, colors: { on: 'green', off: 'olive' } })
    +progressbar({ value: 33, colors: { on: 'green', off: 'olive' } })
    +progressbar({ value: 45.12, colors: { on: 'green', off: 'olive' } })
    +progressbar({ value: 45.12, colors: { on: 'green', off: 'olive' }, decimals: 2 })
  
  +divider-block Created

  +container.outlined.created

  +multiple
    +button("progressbar_create( 0 )").outlined Base 0
    +button("progressbar_create( 33 )").outlined Base 33
    +button("progressbar_create({ value: 45.12 })").outlined Base 45.12
    +button("progressbar_create({ value: 45.12, decimals: 2 })").outlined Base 45.12 - 2 Decimals
    +button("progressbar_create({ value: 0, colors: { on: 'green', off: 'olive' } })").outlined Colors 0
    +button("progressbar_create({ value: 33, colors: { on: 'green', off: 'olive' } })").outlined Colors 33
    +button("progressbar_create({ value: 45.12, colors: { on: 'green', off: 'olive' } })").outlined Colors 45.12
    +button("progressbar_create({ value: 45.12, colors: { on: 'green', off: 'olive' }, decimals: 2 })").outlined Colors 45.12 - 2 Decimals

  +divider-block Actions

  +multiple.actions
    +button("toggle_class ( 'striped' )").outlined Toggle striped
    +button("toggle_class ( 'labeled' )").outlined Toggle labeled
    +button("toggle_class ( 'compact' )").outlined Toggle compact
    +button("toggle_class ( 'slim' )").outlined Toggle slim
    +button("toggle_class ( 'outlined' )").outlined Toggle outlined
    +button("progressbar_get_all ()").outlined Get all
    +multiple.joined
      +input({ name: "set_value", label: "Value..." }).outlined.no-floating
      +button("progressbar_set_all ()").outlined.secondary Set all

append body-end
  +script.
    function toggle_class ( css_class ) {
      $('.progressbar').toggleClass ( css_class );
    }
    function progressbar_get_all () {
      _.each ( $('.container'), function ( container ) {
        var gets = [];
        _.each ( $(container).find ( '.progressbar' ), function ( progressbar ) {
          gets.push ( $(progressbar).progressbar ( 'get' ) );
        });
        if ( gets.length > 0 ) {
          $.noty ( gets.join ( ' - ' ) );
        }
      });
    }
    function progressbar_set_all () {
      var value = $('input[name="set_value"]').val ();
      $(".progressbar").each ( function () {
        $(this).progressbar ( 'set', value );
      });
    }
    function progressbar_create ( options ) {
      $.progressbar ( options ).appendTo ( '.container.created' );
    }
