<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">menu
                  </div>
                </div>
              </div><a href="/" class="large">Svelto</a>
              <div class="spacer">
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">refresh
                  </div>
                </div>
              </div>
              <div class="label button actionable compact transparent">
                <div class="icon-wrp">
                  <div class="icon">more_vert
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Base
        </div>
      </div>
      <div class="container outlined">
        <div class="progressbar">
          <div class="progressbar-unhighlighted">
            <div style="width: 33%;" class="progressbar-highlighted">
            </div>
          </div>
          <div style="width: 33%;" class="progressbar-stripes"></div>
        </div>
        <div class="progressbar striped">
          <div class="progressbar-unhighlighted">
            <div style="width: 55%;" class="progressbar-highlighted">
            </div>
          </div>
          <div style="width: 55%;" class="progressbar-stripes"></div>
        </div>
        <div class="progressbar">
          <div class="progressbar-unhighlighted">
            <div style="width: 45%;" class="progressbar-highlighted">
              <div class="progressbar-label">45</div>
            </div>
          </div>
          <div style="width: 45%;" class="progressbar-stripes"></div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Colored
        </div>
      </div>
      <div class="container outlined">
        <div class="progressbar">
          <div class="progressbar-unhighlighted">
            <div style="width: 17.5%;" class="progressbar-highlighted yellow">
            </div>
            <div style="width: 17.5%;" class="progressbar-highlighted green">
            </div>
            <div style="width: 17.5%;" class="progressbar-highlighted pink">
            </div>
            <div style="width: 17.5%;" class="progressbar-highlighted teal">
            </div>
          </div>
          <div style="width: 70%;" class="progressbar-stripes"></div>
        </div>
        <div class="progressbar striped">
          <div class="progressbar-unhighlighted">
            <div style="width: 5%;" class="progressbar-highlighted yellow">
            </div>
            <div style="width: 5%;" class="progressbar-highlighted green">
            </div>
            <div style="width: 5%;" class="progressbar-highlighted pink">
            </div>
            <div style="width: 5%;" class="progressbar-highlighted teal">
            </div>
          </div>
          <div style="width: 20%;" class="progressbar-stripes"></div>
        </div>
        <div class="progressbar">
          <div class="progressbar-unhighlighted">
            <div style="width: 7%;" class="progressbar-highlighted yellow">
              <div class="progressbar-label">7</div>
            </div>
            <div style="width: 7%;" class="progressbar-highlighted green">
              <div class="progressbar-label">7</div>
            </div>
            <div style="width: 7%;" class="progressbar-highlighted pink">
              <div class="progressbar-label">7</div>
            </div>
            <div style="width: 7%;" class="progressbar-highlighted teal">
              <div class="progressbar-label">7</div>
            </div>
          </div>
          <div style="width: 28%;" class="progressbar-stripes"></div>
        </div>
        <div class="progressbar">
          <div class="progressbar-unhighlighted">
            <div style="width: 10%;" class="progressbar-highlighted yellow">
            </div>
            <div style="width: 20%;" class="progressbar-highlighted green">
            </div>
            <div style="width: 30%;" class="progressbar-highlighted pink">
            </div>
            <div style="width: 40%;" class="progressbar-highlighted teal">
            </div>
          </div>
          <div style="width: 100%;" class="progressbar-stripes"></div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Disabled
        </div>
      </div>
      <div class="container outlined">
        <div class="progressbar progressbar-disabled">
          <div class="progressbar-unhighlighted">
            <div style="width: 45%;" class="progressbar-highlighted">
            </div>
          </div>
          <div style="width: 45%;" class="progressbar-stripes"></div>
        </div>
        <div class="progressbar striped progressbar-disabled">
          <div class="progressbar-unhighlighted">
            <div style="width: 66%;" class="progressbar-highlighted">
            </div>
          </div>
          <div style="width: 66%;" class="progressbar-stripes"></div>
        </div>
        <div class="progressbar progressbar-disabled">
          <div class="progressbar-unhighlighted">
            <div style="width: 6%;" class="progressbar-highlighted yellow">
            </div>
            <div style="width: 6%;" class="progressbar-highlighted green">
            </div>
            <div style="width: 6%;" class="progressbar-highlighted pink">
            </div>
            <div style="width: 6%;" class="progressbar-highlighted teal">
            </div>
          </div>
          <div style="width: 24%;" class="progressbar-stripes"></div>
        </div>
        <div class="progressbar progressbar-disabled">
          <div class="progressbar-unhighlighted">
            <div style="width: 17.5%;" class="progressbar-highlighted yellow">
            </div>
            <div style="width: 17.5%;" class="progressbar-highlighted green">
            </div>
            <div style="width: 17.5%;" class="progressbar-highlighted pink">
            </div>
            <div style="width: 17.5%;" class="progressbar-highlighted teal">
            </div>
          </div>
          <div style="width: 70%;" class="progressbar-stripes"></div>
        </div>
        <div class="progressbar progressbar-disabled">
          <div class="progressbar-unhighlighted">
            <div style="width: 10%;" class="progressbar-highlighted yellow">
            </div>
            <div style="width: 20%;" class="progressbar-highlighted green">
            </div>
            <div style="width: 30%;" class="progressbar-highlighted pink">
            </div>
            <div style="width: 40%;" class="progressbar-highlighted teal">
            </div>
          </div>
          <div style="width: 100%;" class="progressbar-stripes"></div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Created
        </div>
      </div>
      <div class="container created outlined">
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div onclick="javascript:progressbar_create ( 22 )" class="label button actionable outlined">Basic
          </div>
          <div onclick="javascript:progressbar_create ( 0 )" class="label button actionable outlined">Basic 0
          </div>
          <div onclick="javascript:progressbar_create ({ percentages: [{ value: 43.21 }], labeled: true })" class="label button actionable outlined">Labeled
          </div>
          <div onclick="javascript:progressbar_create ({ percentages: [{ value: 3.12332 }], labeled: true })" class="label button actionable outlined">Labeled small
          </div>
          <div onclick="javascript:progressbar_create ({ percentages: [{ value: 31.12382391823 }], labeled: true })" class="label button actionable outlined">Labeled long
          </div>
          <div onclick="javascript:progressbar_create ({ percentages: [{ value: 31.12382391823 }], labeled: true, decimals: 10 })" class="label button actionable outlined">Labeled long 10 decimals
          </div>
          <div onclick="javascript:progressbar_create ({ percentages: [{ value: 10 }, { value: 55 }], labeled: true })" class="label button actionable outlined">Multiple
          </div>
          <div onclick="javascript:progressbar_create ( 10, { value: 55, color: 'pink' })" class="label button actionable outlined">Multiple colors
          </div>
          <div onclick="javascript:progressbar_create ({ percentages: [{ value: 10, color: 'yellow' }, { value: 55, color: 'green' }, { value: 12, color: 'pink' }, { value: 7, color: 'teal' }], striped: true, labeled: true })" class="label button actionable outlined">Advanced
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Set single
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div onclick="javascript:progressbar_set_single ( 0 )" class="label button actionable outlined">0%
          </div>
          <div onclick="javascript:progressbar_set_single ( 25 )" class="label button actionable outlined">25%
          </div>
          <div onclick="javascript:progressbar_set_single ( 50 )" class="label button actionable outlined">50%
          </div>
          <div onclick="javascript:progressbar_set_single ( 75 )" class="label button actionable outlined">75%
          </div>
          <div onclick="javascript:progressbar_set_single ( 100 )" class="label button actionable outlined">100%
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Set multiple
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div onclick="javascript:progressbar_set_multiple ( 0, 10, 0, 0 )" class="label button actionable outlined">0% 10% 0%
          </div>
          <div onclick="javascript:progressbar_set_multiple ( 5, 10, 0, 0 )" class="label button actionable outlined">5% 10% 0%
          </div>
          <div onclick="javascript:progressbar_set_multiple ( 20, 5, 10, 5 )" class="label button actionable outlined">20% 5% 10% 5%
          </div>
          <div onclick="javascript:progressbar_set_multiple ( 40, 10, 5, 45 )" class="label button actionable outlined">40% 10% 5% 45%
          </div>
          <div onclick="javascript:progressbar_set_multiple ( 10, 20, 30, 40 )" class="label button actionable outlined">10% 20% 30% 40%
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Enable / Disable
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div onclick="javascript:progressbar_enable ()" class="label button actionable outlined">Enable
          </div>
          <div onclick="javascript:progressbar_disable ()" class="label button actionable outlined">Disable
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      function progressbar_set_single ( percentage ) {
        $(".progressbar").each ( function () {
          $(this).progressbar ( 'instance' ).set ( percentage, 0, 0, 0 );
        });
      }
      function progressbar_set_multiple ( one, two, three, four ) {
        $(".progressbar").each ( function () {
          $(this).progressbar ( 'instance' ).set ( one, two, three, four );
        });
      }
      function progressbar_create () {
        $.progressbar.apply ( null, arguments ).appendTo ( '.container.created .container-content' );
      }
      function progressbar_enable () {
        $(".progressbar").each ( function () {
          $(this).progressbar ( 'instance' ).enable ();
        });
      }
      function progressbar_disable () {
        $(".progressbar").each ( function () {
          $(this).progressbar ( 'instance' ).disable ();
        });
      }
    </script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>