
extends ../layout.jade

//- Radio

append main
  +divider-block Radio

  +multiple
    +radio({ name: "name", title: "Base", value: 4 }).outlined
    +radio({ name: "name", title: "Checked", value: 8, checked: true }).outlined
    +radio({ name: "name", title: "Disabled", value: 8, checked: true }).radio-disabled.outlined

  +divider-block Actions

  +multiple
    +button("radios_get_all ()").outlined Get all
    +button("radios_check_all ()").outlined Check all

append body-end
  script.
    function radios_get_all () {

      var gets = _.map ( $('.radio'), function ( radio ) {

        return $(radio).radio ( 'get' );

      });

      $.noty ( gets.join ( ' - ' ) );

    }

    function radios_check_all () {
      $('.radio').radio ( 'check' );
    }
