
extends ../layout.jade

//- Rater

append main
  +divider-block Rater

  +container.outlined
    +rater
  
  +container.outlined
    +rater({ value: 3 })
  
  +container.outlined
    +rater({ value: 1.5 })
  
  +container.outlined
    +rater({ value: 2, amount: 10 })
  
  +container.outlined
    +rater({ value: 7.5, amount: 10 })
