
extends ../layout.jade

//- Ripple

append main
  +divider-block Colors

  +multiple
    +button.ripple.ripple-primary Primary
    +button.ripple.ripple-secondary Secondary
    +button.ripple.ripple-tertiary Tertiary
    +button.ripple.ripple-quaternary Quaternary
    +button.ripple.ripple-white White
    +button.ripple.ripple-gray Gray
    +button.ripple.ripple-black Black
    +button.ripple.ripple-yellow Yellow
    +button.ripple.ripple-olive Olive
    +button.ripple.ripple-green Green
    +button.ripple.ripple-blue Blue
    +button.ripple.ripple-violet Violet
    +button.ripple.ripple-orange Orange
    +button.ripple.ripple-purple Purple
    +button.ripple.ripple-red Red
    +button.ripple.ripple-pink Pink
    +button.ripple.ripple-teal Teal
    +button.ripple.ripple-brown Brown
    +button.ripple.ripple-error Error
    +button.ripple.ripple-warning Warning
    +button.ripple.ripple-success Success
    +button.ripple.ripple-transparent Transparent
    +button.ripple.ripple-inherit Inherit
    +button.ripple.ripple-base Base

  +divider-block Other shapes

  +multiple
    +button.rounded.ripple.ripple-primary Test
    +button-icon('settings').ripple.ripple-secondary
    +button-icon('settings').rounded.ripple.ripple-tertiary
    +button-icon('settings').transparent.rounded.ripple.ripple-tertiary
    +button.sharp.ripple.ripple-quaternary Test

  +divider-block Centered

  +multiple
    +button.rounded.ripple.ripple-primary.ripple-centered Test
    +button-icon('settings').ripple.ripple-secondary.ripple-centered
    +button-icon('settings').rounded.ripple.ripple-tertiary.ripple-centered
    +button-icon('settings').transparent.rounded.ripple.ripple-tertiary.ripple-centered
    +button.sharp.ripple.ripple-quaternary.ripple-centered Test

  +divider-block Images

  +multiple
    +image-sample.ripple.xs-4.rounded
    +image-sample.ripple.ripple-centered.xs-4.rounded
    +image-sample.ripple.ripple-white.xs-4

  +divider-block Paragraph

  +container.ripple.ripple-black.outlined
    +paragraph-sample
