//- ripple.jade

extends ../layout.jade

append main
    +divider Colors

    +multiple
        +button-simple.ripple.ripple-primary Primary
        +button-simple.ripple.ripple-secondary Secondary
        +button-simple.ripple.ripple-tertiary Tertiary
        +button-simple.ripple.ripple-quaternary Quaternary
        +button-simple.ripple.ripple-white White
        +button-simple.ripple.ripple-gray Gray
        +button-simple.ripple.ripple-black Black
        +button-simple.ripple.ripple-yellow Yellow
        +button-simple.ripple.ripple-olive Olive
        +button-simple.ripple.ripple-green Green
        +button-simple.ripple.ripple-blue Blue
        +button-simple.ripple.ripple-violet Violet
        +button-simple.ripple.ripple-orange Orange
        +button-simple.ripple.ripple-purple Purple
        +button-simple.ripple.ripple-red Red
        +button-simple.ripple.ripple-pink Pink
        +button-simple.ripple.ripple-teal Teal
        +button-simple.ripple.ripple-brown Brown
        +button-simple.ripple.ripple-transparent Transparent
        +button-simple.ripple.ripple-inherit Inherit
        +button-simple.ripple.ripple-base Base

    +divider Other shapes

    +multiple
        +button-simple.rounded.ripple.ripple-primary Test
        +button-icon('settings').ripple.ripple-secondary
        +button-icon('settings').rounded.ripple.ripple-tertiary
        +button-icon('settings').transparent.rounded.ripple.ripple-tertiary
        +button-simple.sharp.ripple.ripple-quaternary Test

    +divider Centered

    +multiple
        +button-simple.rounded.ripple.ripple-primary.ripple-centered Test
        +button-icon('settings').ripple.ripple-secondary.ripple-centered
        +button-icon('settings').rounded.ripple.ripple-tertiary.ripple-centered
        +button-icon('settings').transparent.rounded.ripple.ripple-tertiary.ripple-centered
        +button-simple.sharp.ripple.ripple-quaternary.ripple-centered Test

    +divider Images

    +multiple
        +image-sample.ripple.xs-4.rounded
        +image-sample.ripple.ripple-centered.xs-4.rounded
        +image-sample.ripple.ripple-white.xs-4

    +divider Paragraph

    +container-simple.ripple.ripple-black.outlined
        +paragraph-sample
