
extends ../layout.jade

//- Multiple subs

append main
  +divider-block All

  +container.outlined
    +sections
      +section-left
        p Left
      +section-center
        p Center
      +section-right
        p Right

  +divider-block No left

  +container.outlined
    +sections
      +section-center
        p Center
      +section-right
        p Right

  +divider-block No center

  +container.outlined
    +sections
      +section-left
        p Left
      +section-right
        p Right

  +divider-block No right

  +container.outlined
    +sections
      +section-left
        p Left
      +section-center
        p Center

  +divider-block Only left

  +container.outlined
    +section-left
      p Left

  +divider-block Only center

  +container.outlined
    +section-center
      p Center

  +divider-block Only right

  +container.outlined
    +section-right
      p Right

  +divider-block Advanced

  +container.outlined
    +sections
      +section-left
        +multiple
          +button-icon('thumb_down').xsmall.compact.outlined
          +button-icon('thumb_up').xsmall.compact.outlined
      +section-center
        p.large Title
      +section-right
        +multiple
          +button-icon('apps').xsmall.compact.outlined
          +button-icon('menu').xsmall.compact.outlined
          +button-icon('more_vert').xsmall.compact.outlined
          +button-icon('refresh').xsmall.compact.outlined

  +divider-block Advanced (Forced)

  +container.outlined
    +sections
      +section-left
        +multiple
          +button-icon('thumb_down').xsmall.compact.outlined
          +button-icon('thumb_up').xsmall.compact.outlined
      +section-center.forced
        p.large Title
      +section-right
        +multiple
          +button-icon('apps').xsmall.compact.outlined
          +button-icon('menu').xsmall.compact.outlined
          +button-icon('more_vert').xsmall.compact.outlined
          +button-icon('refresh').xsmall.compact.outlined
