
extends ../layout.jade

//- Select

append main
  - var elo_options = { public: "Public", private: "Private", Elo: { 1200: "1200+", 1300: "1300+", 1400: "1400+", 1500: "1500+", 1600: "1600+", 1700: "1700+", 1800: "1800+", 1900: "1900+", 2000: "2000+", 2100: "2100+", } };

  +divider-block Select
  
  +multiple
    +select-btn({ options: elo_options, selected: "public", id: "name1", title: "Select" }).outlined
    +select-btn({ options: elo_options, selected: "public", id: "name2" }).outlined.compact
      span Valueholder:
      .valueholder.right
    +select-btn({ options: elo_options, selected: "public", id: "name3", icon: "settings" }).outlined.compact
    +select-btn({ options: elo_options, selected: "public", id: "name4", icon: "settings" }).outlined.rounded.compact
