//- tools/selectable.jade

extends ../layout.jade

append main
  +divider Selectable

  +container.outlined
    table.table.bordered
      thead
        tr
          th.xs-1.text-center Int
          th String
          th Date
          th.text-center Options
      tbody
        +table-tr-empty
        - var nr = 1;
        while ( nr <= 10 )
          tr
            td.text-center= nr++
            td Foo
            td 16/11/1993
            td.text-center
              +multiple.centered
                +button("#").outlined.small Btn 1
                +button("#").outlined.small Btn 2
          tr
            td.text-center= nr++
            td Bar
            td 16 Nov 1993
            td.text-center
              +multiple.centered
                +button("#").outlined.small Btn 1
                +button("#").outlined.small Btn 2

  +divider Other elements

  +container.other-elements
    +paragraph-sample
    +paragraph-sample

append body-end
  script.
    $('.other-elements').selectable ({
      selector: '.placeholder',
      selected_class: 'green'
    });
