
extends ../layout.jade

//- Shapes

append main

  +divider-block Triangles

  +container.outlined
    +multiple
      +triangle
      +triangle-up
      +triangle-down
      +triangle-right
      +triangle-left

  +divider-block Square

  +container.outlined
    +square

  +divider-block Square sample

  +container.outlined
    +square-sample

  +divider-block Circle

  +container.outlined
    +circle

  +divider-block Window's semaphore

  +container.outlined
    +multiple
      +circle.red
      +circle.yellow
      +circle.green
