
extends ../layout.jade

//- Shapes

append main

  +divider Triangles

  +container-simple.outlined
    +multiple.expanded
      +triangle
      +triangle-up
      +triangle-down
      +triangle-right
      +triangle-left

  +divider Square

  +container-simple.outlined
    +square

  +divider Square sample

  +container-simple.outlined
    +square-sample

  +divider Circle

  +container-simple.outlined
    +circle

  +divider Window actions

  +container-simple.outlined
    +multiple.expanded
      +circle.red
      +circle.yellow
      +circle.green
