
extends ../layout.jade

//- Shapes

append main

  +divider Triangle

  +container-simple.outlined
    +triangle

  +divider Triangle up

  +container-simple.outlined
    +triangle-up

  +divider Triangle down

  +container-simple.outlined
    +triangle-down

  +divider Triangle right

  +container-simple.outlined
    +triangle-right

  +divider Triangle left

  +container-simple.outlined
    +triangle-left

  +divider Square

  +container-simple.outlined
    +square

  +divider Square sample

  +container-simple.outlined
    +square-sample

  +divider Circle

  +container-simple.outlined
    +circle

  +divider Window actions

  +container-simple.outlined
    +multiple.small
      +circle.red
      +circle.yellow
      +circle.green
