
extends ../layout.jade

//- Sizes

append main
  +divider-block Sizes

  +multiple
    +label.outlined.xxxxsmall
      +label-sub-left
        +icon('menu')
      span XXXX-Small
    +label.outlined.xxxsmall
      +label-sub-left
        +icon('menu')
      span XXX-Small
    +label.outlined.xxsmall
      +label-sub-left
        +icon('menu')
      span XX-Small
    +label.outlined.xsmall
      +label-sub-left
        +icon('menu')
      span X-Small
    +label.outlined.small
      +label-sub-left
        +icon('menu')
      span Small
    +label.outlined.medium
      +label-sub-left
        +icon('menu')
      span Medium
    +label.outlined.large
      +label-sub-left
        +icon('menu')
      span Large
    +label.outlined.xlarge
      +label-sub-left
        +icon('menu')
      span X-Large
    +label.outlined.xxlarge
      +label-sub-left
        +icon('menu')
      span XX-Large
    +label.outlined.xxxlarge
      +label-sub-left
        +icon('menu')
      span XXX-Large
    +label.outlined.xxxxlarge
      +label-sub-left
        +icon('menu')
      span XXXX-Large
