
extends ../layout.jade

//- Sizes

append main
  +divider Sizes

  +multiple
    +label.xxxxsmall.outlined
      +label-left
        +icon('menu')
      span XXXX-Small
    +label.xxxsmall.outlined
      +label-left
        +icon('menu')
      span XXX-Small
    +label.xxsmall.outlined
      +label-left
        +icon('menu')
      span XX-Small
    +label.xsmall.outlined
      +label-left
        +icon('menu')
      span X-Small
    +label.small.outlined
      +label-left
        +icon('menu')
      span Small
    +label.medium.outlined
      +label-left
        +icon('menu')
      span Medium
    +label.large.outlined
      +label-left
        +icon('menu')
      span Large
    +label.xlarge.outlined
      +label-left
        +icon('menu')
      span X-Large
    +label.xxlarge.outlined
      +label-left
        +icon('menu')
      span XX-Large
    +label.xxxlarge.outlined
      +label-left
        +icon('menu')
      span XXX-Large
    +label.xxxxlarge.outlined
      +label-left
        +icon('menu')
      span XXXX-Large
