<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Sizes
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp">
            <div class="label xxxxsmall">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">XXXX-Small
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label xxxsmall">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">XXX-Small
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label xxsmall">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">XX-Small
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label xsmall">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">X-Small
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label small">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">Small
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label medium">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">Medium
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label large">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">Large
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label xlarge">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">X-Large
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label xxlarge">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">XX-Large
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label xxxlarge">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">XXX-Large
              </div>
            </div>
          </div>
          <div class="label-wrp">
            <div class="label xxxxlarge">
              <div class="label-left"><i class="icon">menu</i>
              </div>
              <div class="label-center">XXXX-Large
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>