
extends ../layout.jade

//- Sizes

append main
  +divider Sizes

  +multiple
    +label.xxxxsmall
      +label-left
        +icon('menu')
      span XXXX-Small
    +label.xxxsmall
      +label-left
        +icon('menu')
      span XXX-Small
    +label.xxsmall
      +label-left
        +icon('menu')
      span XX-Small
    +label.xsmall
      +label-left
        +icon('menu')
      span X-Small
    +label.small
      +label-left
        +icon('menu')
      span Small
    +label.medium
      +label-left
        +icon('menu')
      span Medium
    +label.large
      +label-left
        +icon('menu')
      span Large
    +label.xlarge
      +label-left
        +icon('menu')
      span X-Large
    +label.xxlarge
      +label-left
        +icon('menu')
      span XX-Large
    +label.xxxlarge
      +label-left
        +icon('menu')
      span XXX-Large
    +label.xxxxlarge
      +label-left
        +icon('menu')
      span XXXX-Large
