
extends ../layout.jade

//- Slider

append main
  +divider-block Slider

  +container.outlined
    +slider({ name: "name1", min: 0, value: 23, max: 100 }).outl
    +slider({ name: "name2", min: -100, value: -20, max: 100 }).outl
    +slider({ name: "name3", min: 0, value: 60, max: 100, step: 5 }).outl
    +slider({ name: "name4", min: 0, value: 75, max: 100 }).slider-disabled.outl
