
extends ../layout.jade

//- Sortable

append main
  +divider-block Default

  +container.outlined
    table.table.bordered
      thead
        tr
          th(data-sort="int").xs-1.text-center Int
          th(data-sort="string") String
          th(data-sort="string") Date
          th.text-center Options
      tbody
        +table-row-empty
        - var nr = 1;
        while ( nr <= 10 )
          tr
            td.text-center= nr++
            td Foo
            td 16/11/1993
            td.text-center
              +multiple.centered
                +button("#").outlined.small Btn 1
                +button("#").outlined.small Btn 2
          tr
            td.text-center= nr++
            td Bar
            td 16 Nov 1993
            td.text-center
              +multiple.centered
                +button("#").outlined.small Btn 1
                +button("#").outlined.small Btn 2

  +divider-block Initial sort

  +container.outlined
    table.table.bordered
      thead
        tr
          th(data-sort="int").xs-1.text-center.desc Int
          th(data-sort="string") String
          th(data-sort="string") Date
          th.text-center Options
      tbody
        +table-row-empty
        - var nr = 1;
        while ( nr <= 10 )
          tr
            td.text-center= nr++
            td Foo
            td 16/11/1993
            td.text-center
              +multiple.centered
                +button("#").outlined.small Btn 1
                +button("#").outlined.small Btn 2
          tr
            td.text-center= nr++
            td Bar
            td 16 Nov 1993
            td.text-center
              +multiple.centered
                +button("#").outlined.small Btn 1
                +button("#").outlined.small Btn 2
