
extends ../layout.jade

//- Spinner Overlay

append main
  +divider-block Overlayerables

  +container.outlined.overlayerable
    +paragraph-sample

  //- INFO: Card taken from `card.jade`#advanced
  
  +card.advanced.outlined.overlayerable
    +card-header.outlined.teal
      +multiple
        +multiple-sub-left
          +button-icon('thumb_down').compact.xsmall
          +button-icon("thumb_up").compact.xsmall
        +multiple-sub-center 
          p Header
        +multiple-sub-right
          +button-icon('apps').compact.xsmall
          +button-icon('menu').compact.xsmall
          +button-icon('more_vert').compact.xsmall
          +button-icon('refresh').compact.xsmall
    +card-block
      +paragraph-sample
    +card-footer.outlined.pink Footer

  +divider-block Actions

  +multiple.actions
    +button("spinnerOverlays_get_all ()").outlined Get all
    +button("spinnerOverlay_api ( 'toggle' )").outlined Toggle all
    +button("spinnerOverlay_api ( 'open' )").outlined Open all
    +button("spinnerOverlay_api ( 'close' )").outlined Close all

append body-end
  +script.
    function spinnerOverlays_get_all () {
      var gets = _.map ( $('.overlayerable'), function ( overlayerable ) {
        return $(overlayerable).spinnerOverlay ( 'isOpen' );
      });
      $.noty ( gets.join ( ' - ' ) );
    }
    function spinnerOverlay_api ( action ) {
      $('.overlayerable').spinnerOverlay ( action );
    }  
