<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Svelto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple">
            <div class="label button actionable compact transparent">
              <div class="icon-wrp">
                <div class="icon">menu
                </div>
              </div>
            </div><a href="/" class="large">Svelto</a>
            <div class="spacer">
            </div>
            <div class="label button actionable compact transparent">
              <div class="icon-wrp">
                <div class="icon">refresh
                </div>
              </div>
            </div>
            <div class="label button actionable compact transparent">
              <div class="icon-wrp">
                <div class="icon">more_vert
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Normal
        </div>
      </div>
      <div class="container outlined">
        <div class="multiple">
          <div class="spinner-wrp primary">
            <div class="spinner primary">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp secondary">
            <div class="spinner secondary">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp tertiary">
            <div class="spinner tertiary">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp quaternary">
            <div class="spinner quaternary">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp white">
            <div class="spinner white">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp gray">
            <div class="spinner gray">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp black">
            <div class="spinner black">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp yellow">
            <div class="spinner yellow">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp olive">
            <div class="spinner olive">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp green">
            <div class="spinner green">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp blue">
            <div class="spinner blue">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp violet">
            <div class="spinner violet">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp orange">
            <div class="spinner orange">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp purple">
            <div class="spinner purple">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp red">
            <div class="spinner red">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp pink">
            <div class="spinner pink">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp teal">
            <div class="spinner teal">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp brown">
            <div class="spinner brown">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp transparent">
            <div class="spinner transparent">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp inherit">
            <div class="spinner inherit">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp base">
            <div class="spinner base">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Multiple
        </div>
      </div>
      <div class="container outlined">
        <div class="spinner-wrp multiple">
          <div class="spinner blue">
            <div class="circle-wrp left">
              <div class="circle"></div>
            </div>
            <div class="circle-wrp right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner red">
            <div class="circle-wrp left">
              <div class="circle"></div>
            </div>
            <div class="circle-wrp right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner yellow">
            <div class="circle-wrp left">
              <div class="circle"></div>
            </div>
            <div class="circle-wrp right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner green">
            <div class="circle-wrp left">
              <div class="circle"></div>
            </div>
            <div class="circle-wrp right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Custom multiple
        </div>
      </div>
      <div class="container outlined">
        <div class="multiple">
          <div class="spinner-wrp multiple">
            <div class="spinner primary">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner secondary">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner tertiary">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner quaternary">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp multiple">
            <div class="spinner blue">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner red">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner blue">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
            <div class="spinner red">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Sizes
        </div>
      </div>
      <div class="container outlined">
        <div class="multiple">
          <div class="spinner-wrp xxxxsmall">
            <div class="spinner xxxxsmall">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp xxxsmall">
            <div class="spinner xxxsmall">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp xsmall">
            <div class="spinner xsmall">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp small">
            <div class="spinner small">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp medium">
            <div class="spinner medium">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp large">
            <div class="spinner large">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp xlarge">
            <div class="spinner xlarge">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp xxlarge">
            <div class="spinner xxlarge">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp xxxlarge">
            <div class="spinner xxxlarge">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div class="spinner-wrp xxxxlarge">
            <div class="spinner xxxxlarge">
              <div class="circle-wrp left">
                <div class="circle"></div>
              </div>
              <div class="circle-wrp right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Svelto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>