
extends ../layout.jade

//- Spinner

append main
  +divider-block Normal

  +container.outlined
    +multiple
      +spinner
      +spinner.primary
      +spinner.secondary
      +spinner.tertiary
      +spinner.quaternary
      +spinner.white
      +spinner.gray
      +spinner.black
      +spinner.yellow
      +spinner.olive
      +spinner.green
      +spinner.blue
      +spinner.violet
      +spinner.orange
      +spinner.purple
      +spinner.red
      +spinner.pink
      +spinner.teal
      +spinner.brown
      +spinner.transparent
      +spinner.inherit
      +spinner.base

  +divider-block Multicolor

  +container.outlined
    +spinner-multicolor

  +divider-block Sizes

  +container.outlined
    +multiple
      +spinner.xxxxsmall
      +spinner.xxxsmall
      +spinner.xsmall
      +spinner.small
      +spinner.medium
      +spinner.large
      +spinner.xlarge
      +spinner.xxlarge
      +spinner.xxxlarge
      +spinner.xxxxlarge
