
extends ../layout.jade

//- Statistic

append main
  +divider-block Statistic
  
  +container.outlined
    +statistic
      +statistic-primary 1234
      +statistic-secondary Abcd
    
  +container.outlined
    +statistic
      +statistic-secondary Abcd
      +statistic-primary 1234

  +container.outlined
    +multiple.fluid
      +statistic
        +statistic-primary.text-primary 1234
        +statistic-secondary Abcd
      +statistic
        +statistic-primary 5678
        +statistic-secondary.text-secondary Efgh
      +statistic
        +statistic-primary.text-tertiary 9101112
        +statistic-secondary Jklm
      +statistic
        +statistic-primary 13141516
        +statistic-secondary.text-quaternary Nopq
      +statistic
        +statistic-primary.text-red 17181920
        +statistic-secondary Rstu
      +statistic
        +statistic-primary 21222324
        +statistic-secondary.text-blue Cwzyz
