
extends ../layout.jade

//- Stepper

append main
  +divider-block Stepper

  +multiple
    +stepper({ name: "name1", min: 0, value: 50, max: 100 })
    +stepper({ name: "name1", min: 0, value: 50, max: 100 }).rounded
