
extends ../layout.jade

//- Stepper

append main
  +divider-block Stepper

  +multiple
    +stepper({ name: "name", min: -100, value: 0, max: 100 })
    +stepper({ name: "name2", min: 0, value: 0, max: 100, step: 10 })

  +divider-block Actions
  
  +multiple.actions
    +button("get_all ()").outlined Get all
    +button("stepper_api ( 'increase' )").outlined Increase all
    +button("stepper_api ( 'decrease' )").outlined Decrease all
    +multiple.joined
      +input({ name: "set_value", label: "Value..." }).outlined.no-floating
      +button("set_all ()").outlined.secondary Set

append body-end
  +script.
    function get_all () {
      var gets = _.map ( $('.stepper'), function ( stepper ) {
        return $(stepper).stepper ( 'get' );
      });
      $.noty ( gets.join ( ' - ' ) );
    }
    function stepper_api ( action ) {
      $('.stepper').stepper ( action );
    }
    function set_all () {
      var value = $('input[name="set_value"]').val ();
      $('.stepper').stepper ( 'set', value );
    }      
