
extends ../layout.jade

//- Switch

append main
  +divider Switch

  +container.outlined
    +switch({ name: "name", value: "Value" })
    +switch({ name: "name2", value: "Value2", checked: true }).switch-disabled
    +switch({ name: "name3", value: "Value3", icons: { on: "add" } })
    +switch({ name: "name4", value: "Value4", icons: { on: "add" }}).switch-disabled
    +switch({ name: "name5", value: "Value5", checked: true, colors: { on: "green", off: "red" } })
    +switch({ name: "name6", value: "Value6", colors: { on: "green", off: "red" }, icons: { on: "favorite", off: "favorite_outline" } })
