<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Switch
        </div>
      </div>
      <div class="container">
        <div class="container-content">
          <div class="switch">
            <input type="checkbox" name="name" value="Value"/>
            <div class="switch-bar-wrp">
              <div class="switch-bar gray">
                <div style="transform: translate3d(0,0,0)" class="switch-handler gray">
                </div>
              </div>
            </div>
          </div>
          <div class="switch switch-disabled">
            <input type="checkbox" name="name2" value="Value2" checked="checked"/>
            <div class="switch-bar-wrp">
              <div class="switch-bar secondary">
                <div style="transform: translate3d(1.73333em,0,0)" class="switch-handler secondary">
                </div>
              </div>
            </div>
          </div>
          <div data-icon-on="content-add" class="switch">
            <input type="checkbox" name="name3" value="Value3"/>
            <div class="switch-bar-wrp">
              <div class="switch-bar gray">
                <div style="transform: translate3d(0,0,0)" class="switch-handler gray"><i class="icon on">content-add</i>
                </div>
              </div>
            </div>
          </div>
          <div data-icon-on="content-add" class="switch switch-disabled">
            <input type="checkbox" name="name4" value="Value4"/>
            <div class="switch-bar-wrp">
              <div class="switch-bar gray">
                <div style="transform: translate3d(0,0,0)" class="switch-handler gray"><i class="icon on">content-add</i>
                </div>
              </div>
            </div>
          </div>
          <div data-color-on="green" data-color-off="red" class="switch">
            <input type="checkbox" name="name5" value="Value5" checked="checked"/>
            <div class="switch-bar-wrp">
              <div class="switch-bar green">
                <div style="transform: translate3d(1.73333em,0,0)" class="switch-handler green">
                </div>
              </div>
            </div>
          </div>
          <div data-color-on="green" data-color-off="red" data-icon-on="action-favorite" data-icon-off="action-favorite-outline" class="switch">
            <input type="checkbox" name="name6" value="Value6"/>
            <div class="switch-bar-wrp">
              <div class="switch-bar red">
                <div style="transform: translate3d(0,0,0)" class="switch-handler red"><i class="icon on">action-favorite</i><i class="icon off">action-favorite-outline</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>