
extends ../layout.jade

//- Syntax

append main
  +divider-block HTML

  +container.outlined
    +syntax("markup").
      &lt;div class="divider"&gt;
        &lt;b&gt;HTML&lt;/b&gt; 
      &lt;/div&gt;
      &lt;div class="multiple"&gt;
        &lt;div class="label"&gt;Label&lt;/div&gt;
        &lt;div class="button"&gt;Button&lt;/div&gt;
        &lt;div class="container"&gt;Container&lt;/div&gt;
      &lt;/div&gt;

  +divider-block CSS

  +container.outlined
    +syntax("css").
      .widget {

        @include last-child-no-gutter ();
        position: relative;
        margin: 0 0 $gutter;

        &.disabled,
        &[class*="-disabled"] {
          cursor: default !important;
          opacity: $widget-disabled-opacity !important;
        }

      }

  +divider-block Javascript

  +container.outlined
    +syntax("javascript").
      ;(function ( $, _, window, document, undefined ) {

        'use strict';

        /* ANIMATION */

        $.ui.animation = {
          slow: 500,
          normal: 350,
          fast: 150
        };

      }( jQuery, _, window, document ));
