
extends ../layout.jade

//- Syntax

append main
  +divider HTML

  +container-simple.outlined
    +syntax("markup").
      &lt;div class="separator_wrp"&gt;
        &lt;div class="separator"&gt;HTML&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="grid"&gt;
        &lt;div class="grid_cols limited"&gt;
          &lt;div class="grid_col"&gt;
            &lt;div class="container"&gt;
              Something
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

  +divider CSS

  +container-simple.outlined
    +syntax("css").
      .sections_wrp {
        margin: 0 -5px;
        font-size: 0px;
      }

      .section {
        padding: 0 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
      }

  +divider Javascript

  +container-simple.outlined
    +syntax("javascript").
      /* Library */

      window.library = {
        user: {
          id: $.cookie.get ( 'user_id' ),
          nickname: $.cookie.get ( 'nickname' )
        }
      };
