//- tools/tableHelper.jade

extends ../layout.jade

append main
    +divider Table

    +container-simple
        table
            thead
                tr
                    th First
                    th Second
                    th Third
                    th Fourth
            tfoot

            tbody
                +table-tr-empty

    +divider Actions

    +multiple
        +button-simple("table_init()").outlined Init

        +multiple.joined
            +input({name: 'id_add', label: 'ID...'}).white.outlined.no-floating
            +input({name: 'first_add', label: 'First...'}).white.outlined.no-floating
            +input({name: 'second_add', label: 'Second...'}).white.outlined.no-floating
            +input({name: 'third_add', label: 'Third...'}).white.outlined.no-floating
            +input({name: 'fourth_add', label: 'Fourth...'}).white.outlined.no-floating
            +button-simple("table_row_add()").outlined Add

        +multiple.joined
            +input({name: 'id_update', label: 'ID...'}).white.outlined.no-floating
            +input({name: 'first_update', label: 'First...'}).white.outlined.no-floating
            +input({name: 'second_update', label: 'Second...'}).white.outlined.no-floating
            +input({name: 'third_update', label: 'Third...'}).white.outlined.no-floating
            +input({name: 'fourth_update', label: 'Fourth...'}).white.outlined.no-floating
            +button-simple("table_row_update()").outlined Update

        +multiple.joined
            +input({name: 'id_remove', label: 'ID...'}).white.outlined.no-floating
            +button-simple("table_row_remove()").outlined Remove

        +button-simple("table_clear()").outlined Clear

append body-end
    script.
        var tableHelper;

        function table_init () {

            tableHelper = $('table').tableHelper ( 'instance' );

        }

        function table_row_add () {

            if ( tableHelper ) {

                var id = $('input[name="id_add"]').val (),
                    first = $('input[name="first_add"]').val (),
                    second = $('input[name="second_add"]').val (),
                    third = $('input[name="third_add"]').val (),
                    fourth = $('input[name="fourth_add"]').val ();

                tableHelper.add ( id, first, second, third, fourth );

            } else {

                $.noty ( 'You should init the tableHelper before' );

            }

        }

        function table_row_update () {

            if ( tableHelper ) {

                var id = $('input[name="id_update"]').val (),
                    first = $('input[name="first_update"]').val (),
                    second = $('input[name="second_update"]').val (),
                    third = $('input[name="third_update"]').val (),
                    fourth = $('input[name="fourth_update"]').val ();

                tableHelper.update ( id, first, second, third, fourth );

            } else {

                $.noty ( 'You should init the tableHelper before' );

            }

        }

        function table_row_remove () {

            if ( tableHelper ) {

                var id = $('input[name="id_remove"]').val ();

                tableHelper.remove ( id );

            } else {

                $.noty ( 'You should init the tableHelper before' );

            }

        }

        function table_clear () {

            if ( tableHelper ) {

                tableHelper.clear ();

            } else {

                $.noty ( 'You should init the tableHelper before' );

            }

        }
