<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="all"/>
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp expanded">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Table
        </div>
      </div>
      <div class="container expander outlined">
        <div class="container-content">
          <table class="table bordered">
            <thead>
              <tr>
                <th class="xs-1 text-center">Int</th>
                <th>String</th>
                <th>Date</th>
                <th class="text-center">Options</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="100%">
                  <div class="multiple-wrp fluid stretched">
                    <div class="multiple">
                      <p class="centerer">20 Rows - Page 3 of 5</p>
                      <div class="spacer">
                      </div>
                      <div class="multiple-wrp pagination centered joined">
                        <div class="multiple">
                          <div class="label-wrp button-wrp"><a href="#2" class="label actionable xsmall outlined prev" title="Previous page">
                              <div class="label-center"><i class="icon">chevron_left</i>
                              </div></a>
                          </div>
                          <div class="label-wrp button-wrp"><a href="#1" class="label actionable xsmall outlined" title="Page 1">
                              <div class="label-center">1
                              </div></a>
                          </div>
                          <div class="label-wrp button-wrp"><a href="#2" class="label actionable xsmall outlined" title="Page 2">
                              <div class="label-center">2
                              </div></a>
                          </div>
                          <div class="label-wrp">
                            <div class="label xsmall outlined current" title="Current page">
                              <div class="label-center">3
                              </div>
                            </div>
                          </div>
                          <div class="label-wrp button-wrp"><a href="#4" class="label actionable xsmall outlined" title="Page 4">
                              <div class="label-center">4
                              </div></a>
                          </div>
                          <div class="label-wrp button-wrp"><a href="#5" class="label actionable xsmall outlined" title="Page 5">
                              <div class="label-center">5
                              </div></a>
                          </div>
                          <div class="label-wrp button-wrp"><a href="#4" class="label actionable xsmall outlined next" title="Next page">
                              <div class="label-center"><i class="icon">chevron_right</i>
                              </div></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr class="empty hidden">
                <td colspan="100%">
                  <tr>
                    <td class="text-center">1</td>
                    <td>Foo</td>
                    <td>753462000</td>
                    <td class="text-center">-</td>
                  </tr>
                  <tr>
                    <td class="text-center">2</td>
                    <td>Bar</td>
                    <td>16/11/1993</td>
                    <td class="text-center">
                      <div class="label-wrp button-wrp">
                        <div class="label actionable outlined small disabled">
                          <div class="label-center"><i class="icon">settings</i>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">3</td>
                    <td>Baz</td>
                    <td>16 Nov 1993</td>
                    <td class="text-center">
                      <div class="label-wrp button-wrp">
                        <div class="label actionable outlined small">
                          <div class="label-center"><i class="icon">settings</i>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">4</td>
                    <td>Qux</td>
                    <td>November 16th, 1993</td>
                    <td class="text-center">
                      <div class="multiple-wrp joined">
                        <div class="multiple">
                          <div class="label-wrp button-wrp">
                            <div class="label actionable outlined small">
                              <div class="label-center">Button
                              </div>
                            </div>
                          </div>
                          <div class="label-wrp button-wrp">
                            <div class="label actionable outlined small">
                              <div class="label-center"><i class="icon">more_vert</i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Empty
        </div>
      </div>
      <div class="container expander outlined">
        <div class="container-content">
          <table class="table bordered">
            <thead>
              <tr>
                <th>Int</th>
                <th>String</th>
                <th>Date</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr class="empty hidden">
                <td colspan="100%">Empty
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Actions
        </div>
      </div>
      <div class="multiple-wrp">
        <div class="multiple">
          <div class="label-wrp button-wrp">
            <div onclick="javascript:toggle_table_class( 'compact' )" class="label actionable outlined">
              <div class="label-center">Toggle compact
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:toggle_table_class( 'collapse' )" class="label actionable outlined">
              <div class="label-center">Toggle collapse
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:toggle_table_class( 'equal' )" class="label actionable outlined">
              <div class="label-center">Toggle equal
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:toggle_table_class( 'separated' )" class="label actionable outlined">
              <div class="label-center">Toggle separated
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:toggle_table_class( 'bordered' )" class="label actionable outlined">
              <div class="label-center">Toggle bordered
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:toggle_table_class( 'striped' )" class="label actionable outlined">
              <div class="label-center">Toggle striped
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:toggle_table_class( 'hoverable' )" class="label actionable outlined">
              <div class="label-center">Toggle hoverable
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:toggle_table_class( 'outlined' )" class="label actionable outlined">
              <div class="label-center">Toggle outlined
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:remove_thead ()" class="label actionable outlined">
              <div class="label-center">Remove header
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:remove_tbody ()" class="label actionable outlined">
              <div class="label-center">Remove body
              </div>
            </div>
          </div>
          <div class="label-wrp button-wrp">
            <div onclick="javascript:remove_tfoot ()" class="label actionable outlined">
              <div class="label-center">Remove footer
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      function toggle_table_class ( css_class ) {
        $('table.table').toggleClass ( css_class );
      }
      function remove_thead () {
        $('table.table thead').remove ();
      }
      function remove_tbody () {
        $('table.table tbody').remove ();
      }
      function remove_tfoot () {
        $('table.table tfoot').remove ();
      }
    </script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>