//- css/table.jade

extends ../layout.jade

append main
    +divider Table

    +container-simple.outlined
        table.table.bordered
            thead
                tr
                    th.xs-1.text-center Int
                    th String
                    th Date
                    th.text-center Options
            tfoot
                tr
                    td(colspan="100%")
                        +multiple.fluid.stretched
                            p.centerer 20 Rows - Page 3 of 5
                            +spacer
                            +pagination({ url: '#', total: 5, current: 3, blocks: 10, classes: 'xsmall outlined' })
            tbody
                +table-tr-empty
                    tr
                        td.text-center 1
                        td Foo
                        td 753462000
                        td.text-center -
                    tr
                        td.text-center 2
                        td Bar
                        td 16/11/1993
                        td.text-center
                            +button-icon('settings').outlined.small.disabled
                    tr
                        td.text-center 3
                        td Baz
                        td 16 Nov 1993
                        td.text-center
                            +button-icon('settings').outlined.small
                    tr
                        td.text-center 4
                        td Qux
                        td November 16th, 1993
                        td.text-center
                            +multiple.joined
                                +button-simple.outlined.small Button
                                +button-icon('more_vert').outlined.small

    +divider Empty

    +container-simple.outlined
        table.table.bordered
            thead
                tr
                    th Int
                    th String
                    th Date
                    th Options
            tbody
                +table-tr-empty

    +divider Actions

    +multiple
        +button-simple("toggle_table_class('compact')").outlined Toggle compact
        +button-simple("toggle_table_class('collapse')").outlined Toggle collapse
        +button-simple("toggle_table_class('equal')").outlined Toggle equal
        +button-simple("toggle_table_class('separated')").outlined Toggle separated
        +button-simple("toggle_table_class('bordered')").outlined Toggle bordered
        +button-simple("toggle_table_class('striped')").outlined Toggle striped
        +button-simple("toggle_table_class('hoverable')").outlined Toggle hoverable
        +button-simple("toggle_table_class('outlined')").outlined Toggle outlined
        +button-simple("remove_thead()").outlined Remove header
        +button-simple("remove_tbody()").outlined Remove body
        +button-simple("remove_tfoot()").outlined Remove footer

append body-end
    +script.
        function toggle_table_class ( css_class ) {
            $('table.table').toggleClass ( css_class );
        }
        function remove_thead () {
            $('table.table thead').remove ();
        }
        function remove_tbody () {
            $('table.table tbody').remove ();
        }
        function remove_tfoot () {
            $('table.table tfoot').remove ();
        }
