
extends ../layout.jade

//- Tabs

append main
  +divider Tabs

  +tabs
    +tabs-buttons
      +multiple.fluid.joined
        +button-icon("chat").outlined
        +button-icon("restore").outlined
        +button.outlined.active Text
        +button-icon('settings').outlined
    +tabs-containers
      +tabs-buttons-indicator
      +container
        +paragraph-sample.primary
      +container
        +paragraph-sample.secondary
      +container
        +paragraph-sample.tertiary
      +container
        +paragraph-sample.quaternary

  +divider Tabs - Vertical

  +tabs.vertical
    +tabs-buttons
      +multiple.fluid.joined.vertical
        +button-icon("chat").outlined
        +button-icon("restore").outlined
        +button.outlined Text
        +button-icon('settings').outlined
    +tabs-containers
      +tabs-buttons-indicator
      +container
        +paragraph-sample.primary
      +container
        +paragraph-sample.secondary
      +container
        +paragraph-sample.tertiary
      +container
        +paragraph-sample.quaternary
