
extends ../layout.jade

//- Tabs

append main
  +divider-block Tabs

  +tabs
    +tabs-triggers
      +button-icon("chat").outlined
      +button-icon("restore").outlined
      +button.outlined.active Text
      +button-icon('settings').outlined
    +tabs-containers
      +container.outlined
        +paragraph-sample.primary
      +container.outlined
        +paragraph-sample.secondary
      +container.outlined
        +paragraph-sample.tertiary
      +container.outlined
        +paragraph-sample.quaternary

  +divider-block Tabs - Vertical

  +tabs.vertical
    +tabs-triggers
      +button-icon("chat").outlined
      +button-icon("restore").outlined
      +button.outlined Text
      +button-icon('settings').outlined
    +tabs-containers
      +container.outlined
        +paragraph-sample.primary
      +container.outlined
        +paragraph-sample.secondary
      +container.outlined
        +paragraph-sample.tertiary
      +container.outlined
        +paragraph-sample.quaternary
