
extends ../layout.jade

//- Tagbox

append main
  +divider Tagbox

  +container-simple.outlined
    +tagbox({ name: "name", tags: "these,are,some,tags" })

  +divider Actions

  +multiple
    +button("tagbox_get ()").outlined Get
    +multiple.joined
      +input({ name: "input_add", label: "Add tags..." }).no-floating.white.text-field-primary.outlined
      +button("tagbox_add ()").primary.outlined Add
    +multiple.joined
      +input({ name: "input_remove", label: "Remove tags..." }).no-floating.white.text-field-secondary.outlined
      +button("tagbox_remove ()").secondary.outlined Remove
    +button("tagbox_clear ()").black.outlined Clear
    +button("tagbox_reset ()").outlined Reset

append body-end
  +script.
    function tagbox_get () {
      $.noty ( $('.tagbox').tagbox ( 'get' ) );
    }
    function tagbox_add () {
      $('.tagbox').tagbox ( 'add', $('input[name="input_add"]').val () );
    }
    function tagbox_remove () {
      $('.tagbox').tagbox ( 'remove', $('input[name="input_remove"]').val () );
    }
    function tagbox_clear () {
      $('.tagbox').tagbox ( 'clear' )
    }
    function tagbox_reset () {
      $('.tagbox').tagbox ( 'reset' )
    }
