
extends ../layout.jade

//- Tagbox

append main
  +divider-block Tagbox

  +tagbox({ name: "name", tags: "these,are,some,tags,cool?" }).outlined

  +divider-block Actions

  +multiple.actions
    +button("tagbox_get ()").outlined Get
    +multiple.joined
      +input({ name: "add", label: "Add tags..." }).no-floating.white.text-field-primary.outlined
      +button("tagbox_add ()").primary.outlined Add
    +multiple.joined
      +input({ name: "remove", label: "Remove tags..." }).no-floating.white.text-field-secondary.outlined
      +button("tagbox_remove ()").secondary.outlined Remove
    +button("tagbox_api ( 'clear' )").black.outlined Clear
    +button("tagbox_api ( 'reset' )").outlined Reset

append body-end
  +script.
    function tagbox_get () {
      $.noty ( $('.tagbox').tagbox ( 'get' ).join ( ' - ' ) );
    }
    function tagbox_add () {
      $('.tagbox').tagbox ( 'add', $('input[name="add"]').val () );
    }
    function tagbox_remove () {
      $('.tagbox').tagbox ( 'remove', $('input[name="remove"]').val () );
    }
    function tagbox_api ( action ) {
      $('.tagbox').tagbox ( action );
    }
