
extends ../layout.jade

//- Textarea

append main
  +divider-block Normal

  +container.outlined
    +multiple
      +textarea({ placeholder: "Base" })
      +textarea({ placeholder: "Compact" }).compact.outlined
      +textarea({ placeholder: "Sharp" }).sharp.outlined
      +textarea({ placeholder: "Outlined" }).outlined
      +textarea({ placeholder: "Rounded" }).rounded.outlined
      +textarea({ placeholder: "Disabled" }).disabled

  +divider-block Colors

  +container.outlined
    +multiple
      +textarea({ placeholder: "Primary" }).primary Primary
      +textarea({ placeholder: "Secondary" }).secondary Secondary
      +textarea({ placeholder: "Tertiary" }).tertiary Tertiary
      +textarea({ placeholder: "Quaternary" }).quaternary Quaternary
      +textarea({ placeholder: "White" }).white White
      +textarea({ placeholder: "Gray" }).gray Gray
      +textarea({ placeholder: "Black" }).black Black
      +textarea({ placeholder: "Yellow" }).yellow Yellow
      +textarea({ placeholder: "Olive" }).olive Olive
      +textarea({ placeholder: "Green" }).green Green
      +textarea({ placeholder: "Blue" }).blue Blue
      +textarea({ placeholder: "Violet" }).violet Violet
      +textarea({ placeholder: "Orange" }).orange Orange
      +textarea({ placeholder: "Purple" }).purple Purple
      +textarea({ placeholder: "Red" }).red Red
      +textarea({ placeholder: "Pink" }).pink Pink
      +textarea({ placeholder: "Teal" }).teal Teal
      +textarea({ placeholder: "Brown" }).brown Brown
      +textarea({ placeholder: "Error" }).error Error
      +textarea({ placeholder: "Warning" }).warning Warning
      +textarea({ placeholder: "Success" }).success Success
      +textarea({ placeholder: "Transparent" }).transparent Transparent
      +textarea({ placeholder: "Inherit" }).inherit Inherit
      +textarea({ placeholder: "Base" }).base Base

  +divider-block Fluid

  +container.outlined
    +textarea({ placeholder: "Fluid" }).fluid

  +divider-block Unresizable

  +container.outlined
    +textarea({ placeholder: "Unresizable" }).unresizable

  +divider-block Actions

  +multiple.actions
    +button("toggle_class ( 'invalid' )").outlined Toggle Invalid
    +button("toggle_class ( 'valid' )").outlined Toggle valid

append body-end
  +script.
    function toggle_class ( css_class ) {
      $('.textarea-wrp').toggleClass ( css_class );
    }
