
extends ../layout.jade

//- Toolbar

append main
  +divider-block Toolbar
  
  +toolbar.primary 
    span Toolbar

  +divider-block Multiple

  +toolbar.orange
    +multiple
      +button-icon('menu').compact
      .spacer.large Schedule
      +button-icon("search").compact
      +button-icon('more_vert').compact

  +toolbar.violet
    +multiple
      +button-icon('menu').compact
      +breadcrumb.spacer.large
        +a(title="Components") Components
        +breadcrumb-divider.xsmall
        +a(title="Toolbars") Toolbars
      +button-icon('more_vert').compact

  +toolbar.green
    +multiple
      .spacer.large Toolbar
      +button-icon("search").compact
      +button-icon("person").compact
      +button-icon('more_vert').compact

  +toolbar.blue
    +multiple
      +button-icon("arrow_back").compact
      .spacer.large Main page
      +button-icon('more_vert').compact

  +toolbar.red
    +multiple
      +button-icon('menu').compact
      +icon("image").xlarge
      .spacer.large Title
      +switch({ name: "name", value: "value", colors: { on: "orange", off: "blue" }, icons: { on: "favorite", off: "favorite_outline" } })
      +button-icon("search").compact

  +divider-block Multiple subs

  +toolbar.yellow
    +sections
      +section-left
        +button-icon('menu').compact
      +section-center
        span.large Application
      +section-right
        +button-icon('more_vert').compact

  +toolbar.brown
    +sections
      +section-left
        +button-icon("arrow_back").compact
      +section-center
        span.large This is a page
