<!DOCTYPE html>
<html lang="en" xml:lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Presto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/svelto.css" media="all"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      document.documentElement.className = document.documentElement.className.replace ( /\bno-js\b/, '' ) + ' js';
        
    </script>
  </head>
  <body class="fixed-header">
    <header>
      <div class="header">
        <div class="toolbar primary z-depth-4">
          <div class="multiple-wrp fluid">
            <div class="multiple">
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">menu</i>
                  </div>
                </div>
              </div><a href="/" class="large">Presto</a>
              <div class="spacer">
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">refresh</i>
                  </div>
                </div>
              </div>
              <div class="label-wrp button-wrp">
                <div class="label actionable compact">
                  <div class="label-center"><i class="icon">more_vert</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="divider-wrp block">
        <div class="divider">Link
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <p>Inside this paragraph there is a <a href="#">link</a>, not a <a href="#" class="mark">marked link</a>, does it look nice?
          </p>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Headers
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <h1>H1 - Heading title <small>Small subheader</small></h1>
          <h2>H2 - Heading title <small>Small subheader</small></h2>
          <h3>H3 - Heading title <small>Small subheader</small></h3>
          <h4>H4 - Heading title <small>Small subheader</small></h4>
          <h5>H5 - Heading title <small>Small subheader</small></h5>
          <h6>H6 - Heading title <small>Small subheader</small></h6>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Paragraph
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet tincidunt turpis, in pharetra mi convallis ut. Vivamus eget sodales nibh, eu placerat erat. Vivamus massa urna, volutpat non tempus eget, placerat quis elit. Nullam pretium id arcu sed eleifend. Phasellus sollicitudin quis ante nec ornare. Maecenas nibh eros, vehicula vel eros eget, viverra semper nisi. Nulla facilisi. Praesent pretium porttitor arcu, sit amet consequat neque luctus non. Cras sodales, justo quis tempus dignissim, diam est commodo orci, eget accumsan sem ante vitae sem. Curabitur quam ipsum, porta id sapien in, consectetur auctor nibh. Vivamus egestas ante vel cursus aliquet. In non ante nec velit tempus lacinia nec sollicitudin ex. Phasellus semper lorem a diam scelerisque, sed accumsan erat molestie. Mauris vulputate lacinia erat. Nunc urna risus, facilisis at posuere in, pulvinar quis odio. Maecenas et sollicitudin arcu.
          </p>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Formatting
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <p><span>Nothing</span> 
            <mark>marked</mark> 
            <del>deleted</del> 
            <s>striked</s> <ins>inserted</ins> 
            <u>underlined</u> <small>small</small> <strong>bold</strong> <em>em-italics</em> <i>i-italics</i>
          </p>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Abbr
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content"><abbr title="HyperText Markup Language">HTML</abbr>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Blockquote
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <blockquote>
            <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
          </blockquote>
          <blockquote>
            <div style="width:95%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:92%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:100%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:87%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:93%; height:10px; line-height: 10px;" class="placeholder">
            </div>
            <div style="width:97%; height:10px; line-height: 10px;" class="placeholder">
            </div> 
            <footer>The source is 
              <cite>Someone</cite>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">List - Unordered
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <ul>
            <li>Lorem ipsum dolor sit amet
            </li>
            <li>Lorem ipsum dolor sit amet
            </li>
            <li>Lorem ipsum dolor sit amet
              <ul>
                <li>Lorem ipsum dolor sit amet
                </li>
                <li>Lorem ipsum dolor sit amet
                </li>
              </ul>
            </li>
            <li>Lorem ipsum dolor sit amet
            </li>
          </ul>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">List - Unordered - Unstyled
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <ul class="unstyled">
            <li>Lorem ipsum dolor sit amet
            </li>
            <li>Lorem ipsum dolor sit amet
            </li>
            <li>Lorem ipsum dolor sit amet
              <ul>
                <li>Lorem ipsum dolor sit amet
                </li>
                <li>Lorem ipsum dolor sit amet
                </li>
              </ul>
            </li>
            <li>Lorem ipsum dolor sit amet
            </li>
          </ul>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">List - Ordered
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <ol>
            <li>Lorem ipsum dolor sit amet
            </li>
            <li>Lorem ipsum dolor sit amet
            </li>
            <li>Lorem ipsum dolor sit amet
              <ul>
                <li>Lorem ipsum dolor sit amet
                </li>
                <li>Lorem ipsum dolor sit amet
                </li>
              </ul>
            </li>
            <li>Lorem ipsum dolor sit amet
            </li>
          </ol>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Definition list
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <dl>
            <dt>Lorem ipsum dolor sit amet
            </dt>
            <dd>Lorem ipsum dolor sit amet
            </dd>
          </dl>
          <dl>
            <dt>Lorem ipsum dolor sit amet
            </dt>
            <dd>Lorem ipsum dolor sit amet
            </dd>
          </dl>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Code
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content"><code>print ( 'This is an example code block' )</code>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Section
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <section>print ( 'This is an example section block' )</section>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Pre
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content">
          <pre>print ( 'This is an example section block' )</pre>
        </div>
      </div>
      <div class="divider-wrp block">
        <div class="divider">Kbd
        </div>
      </div>
      <div class="container outlined">
        <div class="container-content"><kbd>ctrl</kbd> + <kbd>alt</kbd> + <kbd>canc</kbd>, <kbd>ctrl + alt + canc</kbd>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer beveled">
        <p class="text-center">Presto, a framework</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/svelto.js"></script>
    <script>
      window.onerror = function ( message, file, line ) {
        try {
          $.noty ({ body: 'File: ' + file + '<br/>Line: ' + line + '<br/>Message: ' + message, ttl: 'forever', color: 'red' });
        } catch ( e ) {
          alert ( file + ':' + line + '\n\n' + message );
        }
      };
    </script>
  </body>
</html>