//- css/typography.jade

extends ../../layout.jade

append main
    +divider Link

    +container-simple.outlined
        p Inside this paragraph there is a #[+a("#") link], not a #[+a("#").mark marked link], does it look nice?

    +divider Headers

    +container-simple.outlined
        h1 H1 - Heading title #[small Small subheader]
        h2 H2 - Heading title #[small Small subheader]
        h3 H3 - Heading title #[small Small subheader]
        h4 H4 - Heading title #[small Small subheader]
        h5 H5 - Heading title #[small Small subheader]
        h6 H6 - Heading title #[small Small subheader]

    +divider Paragraph

    +container-simple.outlined
        p
            +lorem-ipsum

    +divider Formatting

    +container-simple.outlined
        p #[span Nothing] #[mark marked] #[del deleted] #[s striked] #[ins inserted] #[u underlined] #[small small] #[strong bold] #[em em-italics] #[i i-italics]

    +divider Abbr

    +container-simple.outlined
        abbr(title="HyperText Markup Language") HTML

    +divider Blockquote

    +container-simple.outlined
        blockquote
            +paragraph-sample
        blockquote #[+paragraph-sample] #[footer The source is #[cite Someone]]

    +divider List - Unordered

    +container-simple.outlined
        ul
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
                ul
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')

    +divider List - Unordered - Unstyled

    +container-simple.outlined
        ul.unstyled
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
                ul
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')

    +divider List - Ordered

    +container-simple.outlined
        ol
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')
                ul
                    li
                        +lorem-ipsum(5, 'words')
                    li
                        +lorem-ipsum(5, 'words')
            li
                +lorem-ipsum(5, 'words')

    +divider Definition list

    +container-simple.outlined
        dl
            dt
                +lorem-ipsum(5, 'words')
            dd
                +lorem-ipsum(5, 'words')
        dl
            dt
                +lorem-ipsum(5, 'words')
            dd
                +lorem-ipsum(5, 'words')

    +divider Code

    +container-simple.outlined
        code print ( 'This is an example code block' )

    +divider Section

    +container-simple.outlined
        section print ( 'This is an example section block' )

    +divider Pre

    +container-simple.outlined
        pre print ( 'This is an example section block' )

    +divider Kbd

    +container-simple.outlined #[kbd ctrl] + #[kbd alt] + #[kbd canc], #[kbd ctrl + alt + canc]
