
<!-- BTEACH -->

<template name="bteach">

  {{{sw.divider "Squares"}}}

  <div class="container outlined squares">
    <div class="multiple">
      {{#each sw.times 64}}
        <div class="square xxxxlarge centerer">
          <div class="xxxsmall">{{this}}</div>
        </div>
      {{/each}}
    </div>
  </div>

  {{> bteach_actions}}

</template>

<!-- ACTIONS -->

<template name="bteach_actions">

  {{{sw.divider "Actions"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      <input name="search" placeholder="Search number..." class="outlined">
      <div onclick="search ()" class="button outlined primary">Search</div>
    </div>
    <div class="multiple joined">
      <input name="populate" placeholder="Square number..." class="outlined">
      <div onclick="populate ()" class="button outlined secondary">Populate</div>
    </div>
    <div onclick="reset ()" class="button outlined black">Reset</div>
  </div>

  <script>
    var searchNr,
        iterations = 0;

    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function populate () {
      var html = '';
      for (var i = 0, l = getValue ( 'populate' ); i < l; i++) {
        html += '<div class="square xxxxlarge centerer" style=""><div class="xxxsmall">' + (i + 1) + '</div></div>';
      }
      $('.squares .multiple').empty().append(html);
    }

    function search () {
      reset ();
      searchNr = Number ( getValue ( 'search' ) );
      $('.square').btEach(comparer);
    }

    function comparer () {
      var $node = $(this),
          found_nr = Number($node.children().html());
      iterations += 1;
      $node.append('<div class="label badge top-right compact xxxxsmall rounded inherit">' + iterations + '</div>');
      if (found_nr < searchNr) {
        $node.addClass('red');
        return 1;
      } else if (found_nr > searchNr) {
        $node.addClass('red');
        return -1;
      } else {
        $node.addClass('green');
        return false;
      }
    }

    function reset () {
      iterations = 0;
      $('.square').removeClass('red green').find('.label').remove();
    }
  </script>

</template>
