
<!-- DIVIDER -->

<template name="divider">

  {{{sw.divider "Horizontal"}}}

  <div class="container outlined">
    <div class="divider"></div>
    <div class="divider">Divider</div>
    <div class="divider">
      <div class="multiple">
        <i class="icon">settings</i>
        <span>With icon</span>
      </div>
    </div>
    <div class="divider">
      <div class="infobar inset">
        <div class="infobar-left">
          <i class="icon xxxlarge">settings</i>
        </div>
        <div class="infobar-center">
          <div class="infobar-title">An infobar inside</div>
          <div class="infobar-subtitle">Versatile...</div>
        </div>
      </div>
    </div>
    <div class="divider block">
      <div class="divider-content">Block</div>
    </div>
    <div class="divider text">Text</div>
  </div>

  {{{sw.divider "Vertical"}}}

  <div class="container outlined">
    <div class="multiple fluid">
      <div class="container">
        {{{sample.paragraph}}}
      </div>
      <div class="divider vertical"></div>
      <div class="container">
        {{{sample.paragraph}}}
      </div>
      <div class="divider vertical">OR</div>
      <div class="container">
        {{{sample.paragraph}}}
      </div>
      <div class="divider vertical">
        <i class="icon">add_circle</i>
      </div>
      <div class="container">
        {{{sample.paragraph}}}
      </div>
    </div>
  </div>

</template>
