
<!-- HELPERS RESPONSIVE -->

<template name="helpers-responsive">

  {{{sw.divider "Hidden-*-up"}}}

  <div class="multiple equal">
    <div>
      <div class="container outlined hidden-xs-up green">X-Small</div>
      <div class="container outlined">X-Small</div>
    </div>
    <div>
      <div class="container outlined hidden-sm-up green">Small</div>
      <div class="container outlined hidden-xs-down">Small</div>
    </div>
    <div>
      <div class="container outlined hidden-md-up green">Medium</div>
      <div class="container outlined hidden-sm-down">Medium</div>
    </div>
    <div>
      <div class="container outlined hidden-lg-up green">Large</div>
      <div class="container outlined hidden-md-down">Large</div>
    </div>
    <div>
      <div class="container outlined hidden-xl-up green">X-Large</div>
      <div class="container outlined hidden-lg-down">X-Large</div>
    </div>
  </div>

  {{{sw.divider "Hidden-*-down"}}}

  <div class="multiple equal">
    <div>
      <div class="container outlined hidden-xs-down green">X-Small</div>
      <div class="container outlined hidden-sm-up">X-Small</div>
    </div>
    <div>
      <div class="container outlined hidden-sm-down green">Small</div>
      <div class="container outlined hidden-md-up">Small</div>
    </div>
    <div>
      <div class="container outlined hidden-md-down green">Medium</div>
      <div class="container outlined hidden-lg-up">Medium</div>
    </div>
    <div>
      <div class="container outlined hidden-lg-down green">Large</div>
      <div class="container outlined hidden-xl-up">Large</div>
    </div>
    <div>
      <div class="container outlined hidden-xl-down green">X-Large</div>
      <div class="container outlined">X-Large</div>
    </div>
  </div>

  {{{sw.noty body="<span class=\"hidden-sm-up\">X-Small</span><span class=\"hidden-xs-down hidden-md-up\">Small</span><span class=\"hidden-sm-down hidden-lg-up\">Medium</span><span class=\"hidden-md-down hidden-xl-up\">Large</span><span class=\"hidden-lg-down\">X-Large</span>" ttl="forever"}}}

</template>
