
<!-- PARALLAX -->

<template name="parallax">

  {{{sw.divider "Scrollable"}}}

  <div class="parallax gray">
    <div class="parallax-layers">
      <div class="parallax-layer parallax-layer-deep">
        <div class="parallax-content-sample">Deep</div>
      </div>
      <div class="parallax-layer parallax-layer-background">
        <div class="parallax-content-sample">Background</div>
      </div>
      <div class="parallax-layer parallax-layer-base">
        <div class="parallax-content-sample">Base</div>
      </div>
      <div class="parallax-layer parallax-layer-foreground">
        <div class="parallax-content-sample">Foreground</div>
      </div>
    </div>
  </div>

</template>
