
<!-- PLACEHOLDER -->

<template name="placeholder">

  {{{sw.divider "Advertisements - Horizontal"}}}

  <div class="container outlined">
    {{{sw.placeholder 728 90}}}
    {{{sw.placeholder 320 100}}}
    {{{sw.placeholder 970 250}}}
    {{{sw.placeholder 970 90}}}
    {{{sw.placeholder 468 60}}}
    {{{sw.placeholder 320 50}}}
    {{{sw.placeholder 234 60}}}
  </div>

  {{{sw.divider "Advertisements - Vertical"}}}

  <div class="container outlined">
    {{{sw.placeholder 300 600}}}
    {{{sw.placeholder 300 1050}}}
    {{{sw.placeholder 160 600}}}
    {{{sw.placeholder 120 600}}}
    {{{sw.placeholder 120 240}}}
  </div>

  {{{sw.divider "Advertisements - Square-like"}}}

  <div class="container outlined">
    {{{sw.placeholder 336 280}}}
    {{{sw.placeholder 300 250}}}
    {{{sw.placeholder 250 250}}}
    {{{sw.placeholder 200 200}}}
    {{{sw.placeholder 180 150}}}
    {{{sw.placeholder 125 125}}}
  </div>

  {{{sw.divider "Advertisements - Rectangular"}}}

  <div class="container outlined">
    {{{sw.placeholder 728 15}}}
    {{{sw.placeholder 468 15}}}
    {{{sw.placeholder 200 90}}}
    {{{sw.placeholder 180 90}}}
    {{{sw.placeholder 160 90}}}
    {{{sw.placeholder 120 90}}}
  </div>

  {{{sw.divider "Custom"}}}

  <div class="container outlined">
    {{{sw.placeholder 600 50 "Custom content"}}}
    {{{sw.placeholder "75%" 90 "Percentage width"}}}
    {{{sw.placeholder "85%" 50 false}}}
  </div>

</template>
