
<!-- SLIDER -->

<template name="slider">

  {{{sw.divider "Slider"}}}

  <div class="container outlined">
    {{{sw.slider min=0 value=23 max=100 step=1}}}
    {{{sw.slider min=-100 value=-20 max=100 step=1}}}
    {{{sw.slider min=0 value=60 max=100 step=5}}}
  </div>

  {{> slider_actions}}

</template>

<!-- ACTIONS -->

<template name="slider_actions">

  {{{sw.divider "API"}}}

  <div class="multiple">
    <div onclick="api ()" class="button outlined">Init</div>
    <div onclick="api_get ()" class="button outlined">Get</div>
    <div class="multiple joined">
      <input name="value" placeholder="Value..." class="outlined">
      <div onclick="api_set ()" class="button secondary outlined">Set</div>
    </div>
    <div class="multiple joined">
      <div onclick="api ( 'decrease' )" class="button outlined compact">
        <i class="icon">remove</i>
      </div>
      <div onclick="api ( 'increase' )" class="button outlined compact">
        <i class="icon">add</i>
      </div>
    </div>
    <div onclick="api ( 'destroy' )" class="button outlined">Destroy</div>
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Base" "validity" "set_validity ()" true}}}
      {{{sw.radioAction "Valid" "validity" "set_validity ( 'valid' )"}}}
      {{{sw.radioAction "Invalid" "validity" "set_validity ( 'invalid' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
      {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
    </div>
  </div>

  <script>
    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function api_get() {
      var gets = _.map($('.slider'), function(slider) {
        return $(slider).slider('get');
      });
      $.noty(gets.join(' - '));
    }

    function api_set() {
      var value = $("input[name='value']").val();
      $('.slider').slider('set', value);
    }

    function api(action) {
      $('.slider').slider(action);
    }

    function set_validity ( validity ) {
      var validities = ['valid', 'invalid'];
      for ( var i = 0, l = validities.length; i < l; i++ ) {
        $('.slider').removeClass ( validities[i] ).addClass ( validity );
      }
    }
  </script>

</template>
