
<!-- STATISTIC -->

<template name="statistic">

  {{{sw.divider "Statistic"}}}

  <div class="container outlined">
    <div class="statistic">
      <div class="statistic-value">1234567</div>
      <div class="statistic-description">Description</div>
    </div>
  </div>

  {{{sw.divider "Multiple"}}}

  <div class="container outlined">
    <div class="multiple fluid">
      <div class="statistic">
        <div class="statistic-description">statistic-Description</div>
        <div class="statistic-value">12345678</div>
      </div>
      <div class="statistic">
        <div class="statistic-value text-primary">12345678</div>
        <div class="statistic-description">statistic-Description</div>
      </div>
    </div>
  </div>

</template>
