
<!-- TAGBOX -->

<template name="tagbox">

  {{{sw.divider "Tagbox"}}}

  <div class="tagbox outlined">
    <input name="name" value="these,are,some,tags,ain't,cool?" class="hidden">
    <div class="tagbox-tags">
      <input name="partial_name" placeholder="Add tag..." class="tagbox-partial autogrow compact">
    </div>
  </div>

  {{> tagbox_actions}}

</template>

<!-- ACTIONS -->

<template name="tagbox_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    <div onclick="api ()" class="button outlined">Init</div>
    <div onclick="api_get ()" class="button outlined">Get</div>
    <div class="multiple joined">
      <input placeholder="Tags..." name="add" class="outlined">
      <div onclick="api_add ()" class="button primary outlined">Add</div>
    </div>
    <div class="multiple joined">
      <input placeholder="Tags..." name="remove" class="outlined">
      <div onclick="api_remove ()" class="button secondary outlined">Remove</div>
    </div>
    <div onclick="api ( 'clear' )" class="button black outlined">Clear</div>
    <div onclick="api ( 'reset' )" class="button outlined">Reset</div>
    <div onclick="api ( 'destroy' )" class="button outlined">Destroy</div>
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function api_get() {
      $.noty($('.tagbox').tagbox('get').join(' - '));
    }

    function api_add() {
      $('.tagbox').tagbox('add', getValue ( 'add' ));
    }

    function api_remove() {
      $('.tagbox').tagbox('remove', getValue ( 'remove' ));
    }

    function api(action) {
      $('.tagbox').tagbox(action);
    }
  </script>

</template>
