
<!-- ACCORDION -->

<template name="accordion">

  {{{sw.divider "Accordion"}}}

  <div class="accordion">
    {{> expander_base}}
    {{> expander_button}}
    {{> expander_open}}
  </div>

  {{> accordion_actions}}

</template>

<!-- ACTIONS -->

<template name="accordion_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    <div class="multiple joined">
      <input placeholder="Expander index..." name="index" type="number" class="bordered">
      {{{sw.action "isOpen" "api_get ()"}}}
      {{{sw.action "Toggle" "api ( 'toggle' )"}}}
      {{{sw.action "Open" "api ( 'open' )"}}}
      {{{sw.action "Close" "api ( 'close' )"}}}
    </div>
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "Actions"}}}

  {{{sw.checkAction "Multiple" "toggle_multiple ()"}}}

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function api_get () {
      $.toast ( $('.accordion').accordion ( 'isOpen', getValue ( 'index' ) ) );
    }

    function api ( action ) {
      $('.accordion').accordion ( action, getValue ( 'index' ) );
    }

    function toggle_multiple () {
      $('.accordion').accordion ( 'option', 'multiple', !$('.accordion').accordion ( 'option', 'multiple' ) );
    }
  </script>

</template>
