
<!-- ACTIONS -->

<template name="actions">

  {{{sw.divider "Actions"}}}

  <div class="actions container bordered limited centered">
    <div class="multiple center-x">
      <div class="button bordered action" data-url="/action-action" data-type="action">Action</div>
      <div class="button bordered action" data-url="/action-modal" data-type="modal">Modal</div>
      <div class="button bordered action" data-url="/action-panel" data-type="panel">Panel</div>
      <div class="button bordered action" data-url="/action-popover" data-type="popover">Popover</div>
      <div class="button bordered action" data-url="/" data-type="page">Page</div>
      <div class="button bordered action" data-url="/">Fallback</div>
    </div>
  </div>

</template>
