
<!-- AVATAR -->

<template name="avatar">

  {{{sw.divider "Avatar"}}}

  {{{sample.avatar "centered"}}}

  {{{sw.divider "Link"}}}

  <a href="#" class="widget">
    {{{sample.avatar "centered"}}}
  </a>

  {{{sw.divider "Link - Wrapped"}}}

  <a href="#" class="avatar">
    <img src="/sample/avatar.png" />
  </a>
  
  {{{sw.divider "Sizes"}}}

  <div class="container bordered">
    <div class="multiple">
      {{{sample.avatar "xxxxsmall"}}}
      {{{sample.avatar "xxxsmall"}}}
      {{{sample.avatar "xxsmall"}}}
      {{{sample.avatar "xsmall"}}}
      {{{sample.avatar "small"}}}
      {{{sample.avatar "medium"}}}
      {{{sample.avatar "large"}}}
      {{{sample.avatar "xlarge"}}}
      {{{sample.avatar "xxlarge"}}}
      {{{sample.avatar "xxxlarge"}}}
      {{{sample.avatar "xxxxlarge"}}}
    </div>
  </div>

  {{> avatar_actions}}

</template>

<!-- ACTIONS -->

<template name="avatar_actions">

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
    {{{sw.radioAction "Disabled" "state" "disable ()"}}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('.avatar').toggleClass ( name );
    }

    function enable () {
      $('.avatar').removeClass ( 'disabled' );
    }

    function disable () {
      $('.avatar').addClass ( 'disabled' );
    }
  </script>

</template>
