
<!-- BREADCRUMB -->

<template name="breadcrumb">

  {{{sw.divider "Breadcrumb"}}}

  <div class="container bordered">
    <div class="breadcrumb">
      <a href="#" title="Link 1">Link 1</a>
      <i class="icon xsmall">chevron_right</i>
      <a href="#" title="Link 2">Link 2</a>
      <i class="icon xsmall">chevron_right</i>
      <a href="#" class="current" title="Link 3">Link 3</a>
      <i class="icon xsmall">chevron_right</i>
      <a href="#" title="Link 4">Link 4</a>
      <i class="icon xsmall">chevron_right</i>
      <a href="#" title="Link 5">Link 5</a>
    </div>
  </div>

  {{> breadcrumb_actions}}

</template>

<!-- ACTIONS -->

<template name="breadcrumb_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      <input placeholder="Current index..." name="current" class="bordered" type="number">
      {{{sw.action "Set current" "set_current ()"}}}
    </div>
  </div>

  {{{sw.divider "Divider"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      <input placeholder="Divider content..." name="divider" class="bordered">
      {{{sw.action "Set icon" "set_icon ()"}}}
      {{{sw.action "Set text" "set_text ()"}}}
    </div>
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined">
    {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
    {{{sw.radioAction "Disabled" "state" "disable ()"}}}
  </div>

  <script>
    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function set_icon () {
      var icon = getValue ( 'divider');
      $('.breadcrumb > :nth-child(even)').replaceWith ( '<i class="icon xsmall">' + icon + '</i>' );
    }

    function set_text () {
      var text = getValue ( 'divider' );
      $('.breadcrumb > :nth-child(even)').replaceWith ( '<span>' + text + '</span>' );
    }

    function set_current () {
      var index = getValue ( 'current' );
      $('.breadcrumb > :nth-child(odd)').removeClass ( 'current' ).eq ( index ).addClass ( 'current' );
    }

    function enable () {
      $('.breadcrumb').removeClass ( 'disabled' );
    }

    function disable () {
      $('.breadcrumb').addClass ( 'disabled' );
    }
  </script>

</template>
