
<!-- BUTTON -->

<template name="button">

  {{{sw.divider "Button"}}}

  <div class="button">Button</div>

  {{{sw.divider "Fluid"}}}

  <div class="button fluid">Fluid</div>

  {{{sw.divider "Colors"}}}

  <div class="multiple">
    <div class="button primary">Primary</div>
    <div class="button secondary">Secondary</div>
    <div class="button tertiary">Tertiary</div>
    <div class="button quaternary">Quaternary</div>
    <div class="button white">White</div>
    <div class="button gray">Gray</div>
    <div class="button black">Black</div>
    <div class="button yellow">Yellow</div>
    <div class="button olive">Olive</div>
    <div class="button green">Green</div>
    <div class="button blue">Blue</div>
    <div class="button violet">Violet</div>
    <div class="button orange">Orange</div>
    <div class="button purple">Purple</div>
    <div class="button red">Red</div>
    <div class="button pink">Pink</div>
    <div class="button teal">Teal</div>
    <div class="button brown">Brown</div>
    <div class="button error">Error</div>
    <div class="button warning">Warning</div>
    <div class="button success">Success</div>
    <div class="button transparent">Transparent</div>
    <div class="button inherit">Inherit</div>
    <div class="button base">Base</div>
  </div>

  {{{sw.divider "Advanced"}}}

  <div class="multiple">
    <div class="button">
      <i class="icon">settings</i>
    </div>
    <div class="button rounded">
      <i class="icon">settings</i>
    </div>
    <div class="button">
      <i class="icon">settings</i>
      <span>Settings</span>
    </div>
    <div class="button">
      <span>Settings</span>
      <i class="icon">settings</i>
    </div>
    <div class="button">
      <div class="sub left">
        <i class="icon">settings</i>
      </div>
      <span>Settings</span>
    </div>
    <div class="button">
      <span>Settings</span>
      <div class="sub right">
        <i class="icon">settings</i>
      </div>
    </div>
  </div>

  {{{sw.divider "Rounded"}}}

  <div class="multiple">
    <div class="button rounded primary">1</div>
    <div class="button rounded secondary">2</div>
    <div class="button rounded tertiary">3</div>
    <div class="button rounded quaternary">4</div>
    <div class="button rounded white">5</div>
    <div class="button rounded gray">6</div>
    <div class="button rounded black">7</div>
    <div class="button rounded yellow">8</div>
    <div class="button rounded olive">9</div>
    <div class="button rounded green">10</div>
    <div class="button rounded blue">11</div>
    <div class="button rounded violet">12</div>
    <div class="button rounded orange">13</div>
    <div class="button rounded purple">14</div>
    <div class="button rounded red">15</div>
    <div class="button rounded pink">16</div>
    <div class="button rounded teal">17</div>
    <div class="button rounded brown">18</div>
    <div class="button rounded error">19</div>
    <div class="button rounded warning">20</div>
    <div class="button rounded success">21</div>
    <div class="button rounded transparent">22</div>
    <div class="button rounded inherit">23</div>
    <div class="button rounded base">24</div>
  </div>

  {{{sw.divider "Tag"}}}

  <div class="multiple">
    <div class="button-tag">
      <div class="button">Normal</div>
    </div>
    <div class="button-tag">
      <div class="button sharp">Sharp</div>
    </div>
    <div class="button-tag">
      <div class="button primary tag-circle-white">Colored</div>
    </div>
  </div>

  {{{sw.divider "Ribbon"}}}

  <div class="container centered xs-10 outlined z-depth-1">
    <div class="button ribbon ribbon-left ribbon-right primary">Left & Right</div>
    {{{sample.paragraph}}}
    <div class="button ribbon ribbon-left secondary">Left</div>
    {{{sample.paragraph}}}
    <div class="button ribbon ribbon-right tertiary">Right</div>
    {{{sample.paragraph}}}
  </div>

  {{{sw.divider "Corner"}}}

  <div class="container outlined">
    <div class="button-corner top-left primary">
      <div class="button compact">S</div>
    </div>
    <div class="button-corner top-right secondary">
      <div class="button compact">
        <i class="icon small">file_download</i>
      </div>
    </div>
    <div class="button-corner bottom-right quaternary">
      <div class="button compact">
        <i class="icon small">thumb_up</i>
      </div>
    </div>
    <div class="button-corner bottom-left tertiary">
      <div class="button compact">
        <i class="icon small">favorite</i>
      </div>
    </div>
    {{{sample.paragraph}}}
  </div>

  {{{sw.divider "Badge"}}}

  <div class="multiple">
    <div class="label compact">
      <i class="icon">settings</i>
      <div class="button rounded badge xxsmall quaternary top-left">1</div>
      <div class="button rounded badge xxsmall primary top-right">2</div>
      <div class="button rounded badge xxsmall tertiary bottom-left">3</div>
      <div class="button rounded badge xxsmall secondary bottom-right">4</div>
    </div>
  </div>

  {{{sw.divider "Floating"}}}

  <div class="button floating rounded secondary large">
    <i class="icon">settings</i>
  </div>

  {{> button_actions}}

</template>

<!-- ACTIONS -->

<template name="button_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Outlined" "toggle_class ( 'outlined' )"}}}
    {{{sw.checkAction "Compact" "toggle_class ( 'compact' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Base" "validity" "set_validity ()" true}}}
      {{{sw.radioAction "Valid" "validity" "set_validity ( 'valid' )"}}}
      {{{sw.radioAction "Invalid" "validity" "set_validity ( 'invalid' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
      {{{sw.radioAction "Disabled" "state" "disable ()"}}}
    </div>
  </div>

  <script>
    function toggle_class ( css_class ) {
      $('.button').not ( '.actions .button' ).toggleClass(css_class);
    }

    function enable () {
      $('.button').not ( '.actions .button' ).removeClass ( 'disabled' );
    }

    function disable () {
      $('.button').not ( '.actions .button' ).addClass ( 'disabled' );
    }

    function set_validity ( validity ) {
      var validities = ['valid', 'invalid'];
      for ( var i = 0, l = validities.length; i < l; i++ ) {
        $('.button').not ( '.actions .button' ).removeClass ( validities[i] ).addClass ( validity );
      }
    }
  </script>

</template>
