
<!-- BUTTON -->

<template name="button">

  {{{sw.divider "Button"}}}

  <div class="button">Button</div>

  {{{sw.divider "Colors"}}}

  <div class="multiple">
    <div class="button primary">Primary</div>
    <div class="button secondary">Secondary</div>
    <div class="button tertiary">Tertiary</div>
    <div class="button quaternary">Quaternary</div>
    <div class="button white">White</div>
    <div class="button gray">Gray</div>
    <div class="button black">Black</div>
    <div class="button yellow">Yellow</div>
    <div class="button olive">Olive</div>
    <div class="button green">Green</div>
    <div class="button blue">Blue</div>
    <div class="button violet">Violet</div>
    <div class="button orange">Orange</div>
    <div class="button purple">Purple</div>
    <div class="button red">Red</div>
    <div class="button pink">Pink</div>
    <div class="button teal">Teal</div>
    <div class="button brown">Brown</div>
    <div class="button error">Error</div>
    <div class="button warning">Warning</div>
    <div class="button success">Success</div>
    <div class="button transparent">Transparent</div>
    <div class="button inherit">Inherit</div>
    <div class="button base">Base</div>
  </div>

  {{{sw.divider "Advanced"}}}

  <div class="multiple">
    <div class="button">Normal</div>
    <div class="button">
      <i class="icon">settings</i>
    </div>
    <div class="button sharp">
      <i class="icon">settings</i>
    </div>
    <div class="button circular">
      <i class="icon">settings</i>
    </div>
    <div class="button">
      <i class="icon">settings</i>
      <span>Settings</span>
    </div>
    <div class="button">
      <span>Settings</span>
      <i class="icon">settings</i>
    </div>
    <div class="button">
      <span>Multi</span>
      <div class="icons">
        <i class="icon">access_alarm</i>
        <i class="icon corner text-white">add_circle_outline</i>
        <i class="icon corner">add_circle</i>
      </div>
    </div>
  </div>

  {{{sw.divider "Tag"}}}

  <div class="multiple">
    <div class="button tag">Normal</div>
    <div class="button tag circle-base">Circle</div>
    <div class="button tag primary circle-secondary">Colored</div>
  </div>

  {{{sw.divider "Ribbon"}}}

  <div class="container centered xs-10 bordered z-depth-1">
    <div class="button ribbon ribbon-left ribbon-right primary">Left & Right</div>
    {{{sample.paragraph}}}
    <div class="button ribbon ribbon-left secondary">Left</div>
    {{{sample.paragraph}}}
    <div class="button ribbon ribbon-right tertiary">Right</div>
    {{{sample.paragraph}}}
  </div>

  {{{sw.divider "Corner"}}}

  <div class="container bordered">
    <div class="button corner top-left primary">
      <span>S</span>
    </div>
    <div class="button corner top-right secondary">
      <i class="icon">file_download</i>
    </div>
    <div class="button corner bottom-right tertiary">
      <i class="icon">thumb_up</i>
    </div>
    <div class="button corner bottom-left quaternary">
      <i class="icon">favorite</i>
    </div>
    {{{sample.paragraph}}}
  </div>

  {{{sw.divider "Floating"}}}

  <div class="button floating circular secondary large">
    <i class="icon">settings</i>
  </div>

  {{> button_actions}}

</template>

<!-- ACTIONS -->

<template name="button_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}
    {{{sw.checkAction "Compact" "toggle_class ( 'compact' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Base" "validity" "set_validity ()" true}}}
      {{{sw.radioAction "Valid" "validity" "set_validity ( 'valid' )"}}}
      {{{sw.radioAction "Invalid" "validity" "set_validity ( 'invalid' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
      {{{sw.radioAction "Disabled" "state" "disable ()"}}}
    </div>
  </div>

  <script>
    var $buttons = $('.layout-content .button').not ( '.actions .button' );

    function toggle_class ( name ) {
      $buttons.toggleClass ( name );
    }

    function enable () {
      $buttons.removeClass ( 'disabled' );
    }

    function disable () {
      $buttons.addClass ( 'disabled' );
    }

    function set_validity ( validity ) {
      var validities = ['valid', 'invalid'];
      for ( var i = 0, l = validities.length; i < l; i++ ) {
        $buttons.removeClass ( validities[i] ).addClass ( validity );
      }
    }
  </script>

</template>
