
<!-- CAROUSEL -->

<template name="carousel">

  {{{sw.divider "Carousel"}}}

  <div class="carousel">
    <div class="button compact circular white z-depth-2 carousel-previous">
      <i class="icon">chevron_left</i>
    </div>
    <div class="carousel-items">
      <div class="container black centerer">Hello Carousel!</div>
      <div class="container brown">{{{sample.text}}}</div>
      <div class="card black">
        <div class="card-header">Header</div>
        <div class="card-block">{{{sample.text}}}</div>
        <div class="card-footer">Footer</div>
      </div>
      {{{sample.imageWide}}}
      <figure>
        {{{sample.image}}}
        <figcaption class="attached-bottom on-hover">Figcaption</figcaption>
      </figure>
    </div>
    <div class="carousel-indicators">
      <div class="carousel-indicator"></div>
      <div class="carousel-indicator"></div>
      <div class="carousel-indicator"></div>
      <div class="carousel-indicator"></div>
      <div class="carousel-indicator"></div>
    </div>
    <div class="button compact circular white z-depth-2 carousel-next">
      <i class="icon">chevron_right</i>
    </div>
  </div>

  {{> carousel_actions}}

</template>

<!-- ACTIONS -->

<template name="carousel_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Get" "api_get ()"}}}
    <div class="multiple joined">
      {{{sw.iconAction "chevron_left" "api ( 'previous' )"}}}
      <div class="label bordered">Slide</div>
      {{{sw.iconAction "chevron_right" "api ( 'next' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.iconAction "play_arrow" "api ( 'play' )"}}}
      {{{sw.iconAction "pause" "api ( 'pause' )"}}}
      {{{sw.iconAction "stop" "api ( 'stop' )"}}}
    </div>
    <div class="multiple joined">
      <input name="index" placeholder="Page index..." class="bordered">
      {{{sw.action "Set" "api_set ()"}}}
    </div>
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Slide" "effect" "set_effect ( 'slide' )" true}}}
      {{{sw.radioAction "Slide vertical" "effect" "set_effect ( 'slide-vertical' )"}}}
      {{{sw.radioAction "Fade" "effect" "set_effect ( 'fade' )"}}}
    </div>
    {{{sw.checkAction "Inset" "toggle_inset ()"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function api_get () {
      $.toast ( $('.carousel').carousel ( 'get' ) );
    }

    function api_set () {
      $('.carousel').carousel ( 'set', getValue ( 'index' ) );
    }

    function api ( action ) {
      $('.carousel').carousel ( action );
    }

    function set_effect ( effect ) {
      var effects = ['slide', 'slide-vertical', 'fade'];
      for ( var i = 0, l = effects.length; i < l; i++ ) {
        $('.carousel').removeClass ( effects[i] );
      }
      $('.carousel').addClass ( effect );
    }

    function toggle_inset () {
      var isInset = $('.carousel').hasClass ( 'inset' );
      $('.carousel').toggleClass ( 'inset', !isInset );
      $('.carousel > .carousel-previous, .carousel > .carousel-next').toggleClass ( 'button compact circular white z-depth-2', isInset );
      $('.carousel > .carousel-previous > i.icon, .carousel > .carousel-next > i.icon').toggleClass ( 'hidden', !isInset );
    }
  </script>

</template>
