
<!-- CENTERER -->

<template name="centerer">

  {{{sw.divider "Centerer"}}}

  <div class="centerer">Sample text</div>

  <div class="centerer">{{{sample.square}}}</div>

  <div class="centerer container outlined">{{{sample.square}}}</div>

  <div class="centerer">
    <div class="multiple">
      <div class="container outlined">1</div>
      <div class="container outlined">2</div>
      <div class="container outlined">3</div>
      <div class="container outlined">4</div>
      <div class="container outlined">5</div>
      <div class="container outlined">6</div>
      <div class="container outlined">7</div>
      <div class="container outlined">8</div>
      <div class="container outlined">9</div>
      <div class="container outlined">10</div>
    </div>
  </div>

</template>
