
<!-- CHART -->

<template name="chart">

  {{{sw.divider "Chart"}}}

  <div class="container bordered">
    <canvas class="chart" width="1" height="300" data-datas='[[2,8,6,14,10,18,24]]'></canvas>
  </div>

  <div class="container bordered">
    <canvas class="chart" width="1" height="300" data-type="bar" data-labels='["Dataset #1", "Dataset #2"]' data-datas='[[2,8,6,14,10],[3,5,4,20,16]]' data-colors='["#1565c0","#ef6c00"]'></canvas>
  </div>

  {{{sw.toast body="Documentation at <a href='http://chartjs.org' title='Chart.js Documentation'>chartjs.org</a>" ttl=Infinity}}}

</template>
