
<!-- COLORPICKER -->

<template name="colorpicker">

  {{{sw.divider "Colorpicker"}}}

  <div class="container bordered">
    {{{sw.colorpicker}}}
  </div>

  {{> colorpicker_actions}}

</template>

<!-- ACTIONS -->

<template name="colorpicker_actions">

  {{{sw.divider "API"}}}

  <div class="multiple">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Get" "api_get ()"}}}
    <div class="multiple joined">
      <input name="color" placeholder="Color..." class="bordered">
      {{{sw.action "Set" "api_set ()"}}}
    </div>
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Base" "validity" "set_validity ()" true}}}
      {{{sw.radioAction "Valid" "validity" "set_validity ( 'valid' )"}}}
      {{{sw.radioAction "Invalid" "validity" "set_validity ( 'invalid' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
      {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
    </div>
  </div>

  <script>
    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function api_get () {
      var color = $('.colorpicker').colorpicker ( 'get' );
      $.toast ( '<div class="square rounded" style="background-color:' + color + '"></div>' );
      $.toast ( color );
    }

    function api_set () {
      var color = getValue ( 'color' );
      $('.colorpicker').colorpicker ( 'set', color );
    }

    function api ( action ) {
      $('.colorpicker').colorpicker(action);
    }

    function set_validity ( validity ) {
      var validities = ['valid', 'invalid'];
      for ( var i = 0, l = validities.length; i < l; i++ ) {
        $('.colorpicker').removeClass ( validities[i] ).addClass ( validity );
      }
    }
  </script>

</template>
