
<!-- CONTAINER -->

<template name="container">

  {{{sw.divider "Container"}}}

  <div class="container">
    {{{sample.paragraph}}}
  </div>

  {{> container_actions}}

</template>

<!-- ACTIONS -->

<template name="container_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple">
    {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}
    {{{sw.checkAction "Compact" "toggle_class ( 'compact' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
    {{{sw.radioAction "Disabled" "state" "disable ()"}}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('.container').toggleClass ( name );
    }

    function enable () {
      $('.container').removeClass ( 'disabled' );
    }

    function disable () {
      $('.container').addClass ( 'disabled' );
    }
  </script>

</template>
