
<!-- DATEPICKER -->

<template name="datepicker">

  {{{sw.divider "Datepicker"}}}

  <div class="container bordered">
    {{{sw.datepicker}}}
  </div>

  {{> datepicker_actions}}

</template>

<!-- ACTIONS -->

<template name="datepicker_actions">

  {{{sw.divider "API"}}}

  <div class="multiple">
    {{{sw.action "Init" "api ()"}}}
    <div class="multiple joined">
      {{{sw.checkbox "Formatted" "formatted"}}}
      {{{sw.action "Get" "api_get ()"}}}
    </div>
    <div class="multiple joined">
      <input name="set" placeholder="Set..." class="bordered">
      {{{sw.action "Set" "api_set ()"}}}
    </div>
    <div class="multiple joined">
      <input name="delta_months" placeholder="Delta months..." class="bordered">
      {{{sw.action "Navigate" "api_navigate ()"}}}
    </div>
    <div class="multiple joined">
      {{{sw.iconAction "chevron_left" "api ( 'previousMonth' )"}}}
      <div class="label bordered">Month</div>
      {{{sw.iconAction "chevron_right" "api ( 'nextMonth' )"}}}
    </div>
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}
    {{{sw.checkAction "Inset" "toggle_class ( 'inset' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Base" "validity" "set_validity ()" true}}}
      {{{sw.radioAction "Valid" "validity" "set_validity ( 'valid' )"}}}
      {{{sw.radioAction "Invalid" "validity" "set_validity ( 'invalid' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
      {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
    </div>
  </div>

  <script>
    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function api_get () {
      var formatted = $("input[name='formatted']").prop ( 'checked' );
      var date = $('.datepicker').datepicker ( 'get', formatted );
      $.toast ( date ? ( formatted ? date : date.toLocaleString () ) : date );
    }

    function api_set () {
      $('.datepicker').datepicker ( 'set', getValue ( 'set' ) );
    }

    function api_navigate () {
      var delta_months = Number ( getValue ( 'delta_months' ) );
      $('.datepicker').datepicker ( 'navigateMonth', delta_months );
    }

    function api ( action ) {
      $('.datepicker').datepicker ( action );
    }

    function set_validity ( validity ) {
      var validities = ['valid', 'invalid'];
      for ( var i = 0, l = validities.length; i < l; i++ ) {
        $('.datepicker').removeClass ( validities[i] ).addClass ( validity );
      }
    }

    function toggle_class ( name ) {
      $('.datepicker').toggleClass ( name );
    }
  </script>

</template>
