
<!-- DROPPABLE -->

<template name="droppable">

  {{{sw.divider "Draggables"}}}

  <div class="container outlined">
    <div class="multiple fluid centered inherit">
      <div class="label outlined compact drag-red red inverted">
        <div class="circle red"></div>
      </div>
      <div class="label outlined compact drag-yellow yellow inverted">
        <div class="circle yellow"></div>
      </div>
      <div class="label outlined compact drag-green green inverted">
        <div class="circle green"></div>
      </div>
      <div class="label outlined compact drag-blue blue inverted">
        <div class="circle blue"></div>
      </div>
      <div class="label outlined compact drag-violet violet inverted">
        <div class="circle violet"></div>
      </div>
      <div class="label outlined compact drag-teal teal inverted">
        <div class="circle teal"></div>
      </div>
      <div class="label outlined compact drag-orange orange inverted">
        <div class="circle orange"></div>
      </div>
    </div>
  </div>

  {{{sw.divider "Droppables"}}}

  <div class="container outlined">
    <div class="multiple fluid centered">
      <div class="container outlined compact text-center drop-red red inverted">0</div>
      <div class="container outlined compact text-center drop-yellow yellow inverted">0</div>
      <div class="container outlined compact text-center drop-green green inverted">0</div>
      <div class="container outlined compact text-center drop-blue blue inverted">0</div>
      <div class="container outlined compact text-center drop-violet violet inverted">0</div>
      <div class="container outlined compact text-center drop-teal teal inverted">0</div>
      <div class="container outlined compact text-center drop-orange orange inverted">0</div>
    </div>
  </div>

  {{> droppable_init}}

  {{> droppable_actions}}

</template>

<!-- INIT -->

<template name="droppable_init">

  {{sw.noty body="Drag the draggables to the respective droppables" ttl="forever"}}

  <script>
    $(function() {
      var colors = ['red', 'yellow', 'green', 'blue', 'violet', 'teal', 'orange'];
      for (var i = 0, l = colors.length; i < l; i++) {
        $('.drag-' + colors[i]).draggable ({
          revert: true,
          $helper: (function ( color ) {
            return function () {
              return useHelpers ? $('<div class="container ' + color + '" style="position: fixed;"><p>' + lodash.capitalize ( color ) + '</p></div>') : false;
            }
          })( colors[i] )
        });
        $('.drop-' + colors[i]).droppable ({
          selector: '.drag-' + colors[i],
          classes: {
            target: 'z-depth-1',
            hover: 'hover'
          },
          callbacks: {
            drop: function(data) {
              var $droppable = $(data.droppable);
              var nr = Number ( $droppable.html () );
              $droppable.html(nr + 1);
            }
          }
        });
      }
    });
  </script>

</template>

<!-- ACTIONS -->

<template name="droppable_actions">

  {{{sw.divider "API"}}}

  <div onclick="api ( 'destroy' )" class="button outlined">Destroy</div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  {{{sw.divider "Other"}}}

  {{{sw.checkAction "Helpers" "toggle_helpers ()"}}}

  <script>
    function api ( action ) {
      $('[class*="drop-"]').droppable ( action );
    }

    var useHelpers = false;
    function toggle_helpers () {
      useHelpers = !useHelpers;
    }
  </script>

</template>
