
<!-- EMOJIPICKER POPOVER -->

<template name="emojipicker_popover">

  {{{sw.divider "Emojipicker Popover"}}}

  <div class="multiple">
    <div class="button bordered compact emojipicker-popover-trigger">
      <i class="icon">insert_emoticon</i>
    </div>
    <div class="button bordered emojipicker-popover-trigger">Trigger</div>
  </div>

  {{{sw.divider "Helper"}}}

  <div class="helper button bordered">Helper</div>

  {{> emojipicker_popover_actions}}

</template>

<!-- ACTIONS -->

<template name="emojipicker_popover_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  <script>
    function api ( action ) {
      $('.emojipicker-popover-trigger').emojipickerPopoverTrigger ( action );
    }

    var $helper = $('.helper');

    $helper.on ( Svelto.Pointer.tap, function () {
      $.emojipickerPopover ( $helper[0] );
    });
  </script>

</template>
