
<!-- EMOJIPICKER -->

<template name="emojipicker">

  {{{sw.divider "Emojipicker"}}}

  <div class="emojipicker-placeholder widget">
    <div class="emojipicker"></div>
  </div>

  {{> emojipicker_actions}}

</template>

<!-- ACTIONS -->

<template name="emojipicker_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.action "Previewing" "toggle_class ( 'previewing' )"}}}
    {{{sw.action "Searching" "toggle_class ( 'searching' )"}}}
    {{{sw.action "Remove footer" "remove_footer ()"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function api ( action ) {
      $('.emojipicker').emojipicker ( action );
    }

    function toggle_class ( name ) {
      $('.emojipicker').toggleClass ( name );
    }

    function remove_footer () {
      $('.emojipicker-footer').remove ();
    }
  </script>

</template>
