
<!-- EMOJI -->

<template name="emoji">

  <div class="emojis-placeholder widget">Loading...</div>

  {{> emoji_actions}}

</template>

<!-- ACTIONS -->

<template name="emoji_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      <div class="label compact bordered gray pointing-right">Type</div>
      {{{sw.action "Sprite" "render ({ native: { enabled: false } })"}}}
      {{{sw.action "Native (Wrapped)" "render ({ native: { enabled: true, wrap: true } })"}}}
      {{{sw.action "Native (Unwrapped)" "render ({ native: { enabled: true, wrap: false } })"}}}
    </div>
    <div class="multiple joined">
      <div class="label compact bordered gray pointing-right">Tone</div>
      {{{sw.radioAction "1" "tone" "set_tone ( 1 )" true}}}
      {{{sw.radioAction "2" "tone" "set_tone ( 2 )"}}}
      {{{sw.radioAction "3" "tone" "set_tone ( 3 )"}}}
      {{{sw.radioAction "4" "tone" "set_tone ( 4 )"}}}
      {{{sw.radioAction "5" "tone" "set_tone ( 5 )"}}}
      {{{sw.radioAction "6" "tone" "set_tone ( 6 )"}}}
    </div>
    {{{sw.checkAction "Actionable" "toggle_class ( 'actionable' )"}}}
    {{{sw.checkAction "Disabled" "toggle_class ( 'disabled' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Base" "state" "set_state ()" true}}}
    {{{sw.radioAction "Hover" "state" "set_state ( 'hover' )"}}}
    {{{sw.radioAction "Active" "state" "set_state ( 'active' )"}}}
  </div>

  <script>
    var $placeholder = $('.emojis-placeholder'),
        tone;

    function toggle_class ( name ) {
      $('i.emoji').toggleClass ( name );
    }

    function set_state ( state ) {
      var states = ['hover', 'active'];
      for ( var i = 0, l = states.length; i < l; i++ ) {
        $('i.emoji').removeClass ( states[i] ).addClass ( state );
      }
    }

    function set_tone ( nr ) {
      tone = nr;
      render ();
    }

    function reset () {
      $placeholder.empty ();
    }

    function renderCategory ( category ) {
      return Promise.all ( category.emojis.map ( emoji => Svelto.Emoji.make ( emoji, tone, '', true ) ) ).then ( function ( emojis ) {
        emojis = emojis.join ( ' ' );
        var content = emojis.indexOf ( '<' ) === -1 ? '<p>' + emojis + '</p>' : '<div class="multiple">' + emojis + '</div>';
        $placeholder.append ( '<div class="divider block"><div class="divider-content">' + category.title + '</div></div>' );
        $placeholder.append ( '<div class="container bordered">' + content + '</div>' );
      });
    }

    function render ( options ) {
      lodash.merge ( Svelto.Emoji.options, options );
      Svelto.EmojiData.get ().then ( function ( data ) {
        reset ();
        var P = Promise.resolve ();
        data.categories.forEach ( function ( category ) {
          P = P.then ( function () {
            return renderCategory ( category );
          });
        });
      });
    }

    render ();
  </script>

</template>
