
<!-- FIGURE -->

<template name="figure">

  {{{sw.divider "Figure"}}}

  <figure class="centered xs-8 md-6">
    {{{sample.image}}}
  </figure>

  {{{sw.divider "Figcaption"}}}

  <div class="multiple">
    <div class="figure xs-6 md-3">
      <figcaption>[Auto] Top caption</figcaption>
      {{{sample.image}}}
      <div class="figcaption">[Auto] Bottom caption</div>
    </div>
    <figure class="xs-6 md-3">
      <div class="figcaption attached-top">[Attached] Top caption</div>
      {{{sample.image}}}
      <div class="figcaption attached-bottom">[Attached] Bottom caption</div>
    </figure>
    <figure class="xs-6 md-3 smooth">
      <div class="figcaption attached-top on-hover">[Hover] Top caption</div>
      {{{sample.image}}}
      <div class="figcaption attached-bottom on-hover">[Hover] Bottom caption</div>
    </figure>
    <figure class="xs-6 md-3">
      <div class="figcaption">Top caption</div>
      {{{sample.image}}}
      <div class="figcaption attached-bottom on-hover">[Hover] Bottom caption</div>
    </figure>
  </div>

  {{{sw.divider "Advanced"}}}

  <div class="centerer">
    <figure class="xs-8 md-4">
      <div class="figcaption attached-top transparent">
        <div class="section-right">
          <div class="button compact xsmall black">
            <i class="icon">more_vert</i>
          </div>
        </div>
      </div>
      {{{sample.imageWide}}}
    </figure>
  </div>

  {{{sw.divider "Spaced"}}}

  <div class="container outlined">
    <p>
      <figure class="spaced right">
        {{{sample.image "xxxxsmall"}}}
      </figure>
      {{{sample.text 35}}}
      <figure class="spaced">
        {{{sample.image "xxxxsmall"}}}
      </figure>
      {{{sample.text 35}}}
      <figure class="spaced left">
        {{{sample.image "xxxxsmall"}}}
      </figure>
    </p>
  </div>

  {{{sw.divider "Floated"}}}

  <div class="container outlined clearfix">
    <p>
      <figure class="floated">
        {{{sample.image "small"}}}
        <figcaption>Caption...</figcaption>
      </figure>
      {{{sample.text 75}}}
    </p>
    <p>
      <figure class="floated right">
        {{{sample.image "small"}}}
        <figcaption>Caption...</figcaption>
      </figure>
      {{{sample.text 75}}}
    </p>
  </div>

  {{> figure_actions}}

</template>

<!-- ACTIONS -->

<template name="figure_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Figure outlined" "toggle_class_selector ( 'figure, .figure', 'outlined' )"}}}
    {{{sw.checkAction "Figcaption outlined" "toggle_class_selector ( 'figcaption, .figcaption', 'outlined' )"}}}
    {{{sw.checkAction "Image outlined" "toggle_class_selector ( 'img', 'outlined' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
    {{{sw.radioAction "Disabled" "state" "disable ()"}}}
  </div>

  <script>
    function toggle_class_selector ( selector, name ) {
      $(selector).toggleClass ( name );
    }

    function enable () {
      $('figure, .figure').removeClass ( 'disabled' );
    }

    function disable () {
      $('figure, .figure').addClass ( 'disabled' );
    }
  </script>

</template>
