
<!-- FLICKABLE -->

<template name="flickable">

  {{{sw.divider "Target"}}}

  <div class="centerer">
    <div class="square bordered target" style="height: 300px; width: 75%;"></div>
  </div>

  {{> flickable_actions}}

</template>

<!-- ACTIONS -->

<template name="flickable_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  <script>
    function api ( action ) {
      $('.target').flickable ( action );
    }

    api ();

    $('.target').on ( 'flickable:flick', function ( event, data ) {
      $.toast ( 'Orientation: ' + data.orientation + ', direction: ' + data.direction );
    });
  </script>

</template>
