
<!-- FLIPPABLE -->

<template name="flippable">

  {{{sw.divider "Horizontal"}}}

  <div class="flippable text-center">
    <div class="flippable-front container bordered red">
      <p>Front</p>
      <div class="button flippable-flipper">Flip</div>
    </div>
    <div class="flippable-back container bordered blue">
      <p>Back</p>
      <div class="button flippable-flipper">Flip</div>
    </div>
  </div>

  {{{sw.divider "Vertical"}}}

  <div class="flippable vertical text-center">
    <div class="flippable-front container bordered red">
      <p>Front</p>
      <div class="button flippable-flipper">Flip</div>
    </div>
    <div class="flippable-back container bordered blue">
      <p>Back</p>
      <div class="button flippable-flipper">Flip</div>
    </div>
  </div>

  {{> flippable_actions}}

</template>

<!-- ACTIONS -->

<template name="flippable_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Flip" "api ( 'flip' )"}}}
    {{{sw.action "Front" "api ( 'front' )"}}}
    {{{sw.action "Back" "api ( 'back' )"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "Size"}}}

  <div class="multiple joined actions">
    <input placeholder="Width..." name="width" value="100" class="bordered">
    <div class="label compact bordered">
      <i class="icon">close</i>
    </div>
    <input placeholder="Height..." name="height" value="100" class="bordered">
    {{{sw.action "Set" "set_size ()"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function api ( action ) {
      $('.flippable').flippable ( action );
    }

    function set_size ( width, height ) {
      $(".flippable").css ({
        width: getValue ( 'width' ),
        height: getValue ( 'height' )
      });
    }

    set_size ();
  </script>

</template>
