
<!-- FORM AJAX -->

<template name="form_ajax">

  {{{sw.divider "Form Ajax"}}}

  <form action="/form-ajax-basic" class="card bordered validate ajax centered sm-12 md-10 lg-8 xl-6">
    <div class="card-header primary bordered">Form</div>
    <div class="card-block">
      {{{sample.image "centered xxxlarge"}}}
      <label>Input:</label>
      <input name="input_1" placeholder="Input..." class="fluid bordered" data-validations="required">
      <label>Textarea:</label>
      <textarea name="textarea_1" placeholder="Textarea..." class="fluid autogrow bordered"></textarea>
      <label>Checkboxes:</label>
      <div class="multiple fluid">
        {{{sw.checkbox "Checkbox 1" "checkbox_name_1"}}}
        {{{sw.checkbox "Checkbox 2" "checkbox_name_2"}}}
      </div>
      <label>Radios:</label>
      <div class="multiple fluid">
        {{{sw.radio "Radio 1" "radio_name" "true"}}}
        {{{sw.radio "Radio 2" "radio_name" "false"}}}
      </div>
    </div>
    <div class="card-footer bordered">
      <div class="section-center">
        <button type="submit" class="button secondary">Submit</button>
      </div>
    </div>
  </form>

  {{{sw.divider "With upload"}}}

  <form action="/form-ajax-file" class="card bordered validate ajax centered sm-12 md-10 lg-8 xl-6">
    <div class="card-header primary bordered">File uploading</div>
    <div class="card-block">
      <label class="multiple joined">
        <div class="button bordered fluid">
          <span class="input-file-names">Pick a file...</span>
        </div>
        <input type="file" name="file">
        <div class="button bordered compact">
          <i class="icon">file_upload</i>
        </div>
      </label>
    </div>
    <div class="card-footer bordered">
      <div class="section-center">
        <button type="submit" class="button bordered secondary">Upload</button>
      </div>
    </div>
  </form>

  {{> form_ajax_actions}}

</template>

<!-- ACTIONS -->

<template name="form_ajax_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  <script>
    function api ( action ) {
      $('form.ajax').formAjax ( action );
    }
  </script>

</template>
