
<!-- FULLSCREENABLE -->

<template name="fullscreenable">

  {{{sw.divider "Fullscreenable"}}}

  <div class="container bordered fullscreenable">
    <div class="multiple">
      <div class="button bordered fullscreenable-requester">Request</div>
      <div class="button bordered fullscreenable-exiter">Exit</div>
      <div class="button bordered fullscreenable-toggler">Toggle</div>
    </div>
  </div>

  {{{sw.divider "Default target"}}}

  <div class="multiple">
    <div class="button bordered fullscreen-requester">Request</div>
    <div class="button bordered fullscreen-exiter">Exit</div>
    <div class="button bordered fullscreen-toggler">Toggle</div>
  </div>

  {{{sw.divider "Custom target"}}}

  <div class="multiple">
    <div class="button bordered fullscreen-requester" data-target=".fullscreenable">Request</div>
    <div class="button bordered fullscreen-exiter" data-target=".fullscreenable">Exit</div>
    <div class="button bordered fullscreen-toggler" data-target=".fullscreenable">Toggle</div>
  </div>

</template>
