
<!-- HEADER -->

<template name="header">

  {{{sw.divider "Header"}}}

  <header class="yellow">
    <div class="toolbar">
      <div class="multiple centered">
        <div class="button compact">
          <i class="icon">menu</i>
        </div>
        <span class="large spacer">Title</span>
        <div class="button compact">
          <i class="icon">refresh</i>
        </div>
        <div class="button compact">
          <i class="icon">more_vert</i>
        </div>
      </div>
    </div>
  </header>

  <header class="red">
    <div class="toolbar">
      <div class="multiple centered">
        <div class="button compact">
          <i class="icon">menu</i>
        </div>
        <span class="large spacer">Title</span>
        <div class="button compact">
          <i class="icon">refresh</i>
        </div>
        <div class="button compact">
          <i class="icon">more_vert</i>
        </div>
      </div>
    </div>
  </header>

  <header class="has-background">
    <img src="/sample-wide.jpg" class="header-background">
    <div class="toolbar">
      <div class="multiple centered">
        <div class="button compact">
          <i class="icon">menu</i>
        </div>
        <span class="large spacer">Title</span>
        <div class="button compact">
          <i class="icon">refresh</i>
        </div>
        <div class="button compact">
          <i class="icon">more_vert</i>
        </div>
      </div>
    </div>
  </header>

  <header style="height: 150px;" class="has-background">
    <img src="/sample-wide.jpg" class="header-background">
    <div class="toolbar white">
      <div class="multiple centered">
        <div class="button compact">
          <i class="icon">menu</i>
        </div>
        <span class="large spacer">Title</span>
        <div class="button compact">
          <i class="icon">refresh</i>
        </div>
        <div class="button compact">
          <i class="icon">more_vert</i>
        </div>
      </div>
    </div>
  </header>

  <header style="height: 300px;" class="has-background">
    <img src="/sample-wide.jpg" class="header-background">
    <div class="toolbar">
      <div class="multiple centered">
        <div class="button compact">
          <i class="icon">menu</i>
        </div>
        <span class="large spacer">Title</span>
        <div class="button compact">
          <i class="icon">refresh</i>
        </div>
        <div class="button compact">
          <i class="icon">more_vert</i>
        </div>
      </div>
    </div>
  </header>

</template>
