
<!-- HEADER -->

<template name="header">

  {{{sw.divider "Header"}}}

  <header class="black">
    <div class="multiple center-y">
      <div class="button compact">
        <i class="icon">menu</i>
      </div>
      <span class="large">Title</span>
      <div class="spacer"></div>
      <div class="button compact">
        <i class="icon">refresh</i>
      </div>
      <div class="button compact">
        <i class="icon">more_vert</i>
      </div>
    </div>
  </header>

  {{{sw.divider "Toolbar"}}}

  <header class="toolbar yellow">
    <div class="multiple center-y">
      <div class="button compact">
        <i class="icon">menu</i>
      </div>
      <span class="large">Title</span>
      <div class="spacer"></div>
      <div class="button compact">
        <i class="icon">refresh</i>
      </div>
      <div class="button compact">
        <i class="icon">more_vert</i>
      </div>
    </div>
  </header>

  <header class="toolbar red">
    <div class="multiple center-y">
      <div class="button compact">
        <i class="icon">menu</i>
      </div>
      <span class="large">Title</span>
      <div class="spacer"></div>
      <div class="button compact">
        <i class="icon">refresh</i>
      </div>
      <div class="button compact">
        <i class="icon">more_vert</i>
      </div>
    </div>
  </header>

</template>
