
<!-- HELPERS -->

<template name="helpers">

  {{{sw.divider "Others"}}}

  <div class="container outlined">
    <div class="multiple fluid">
      <div class="centerer outlined outline-gray" style="padding: 20px;">
        {{{sample.square}}}
      </div>
      <div class="spacer outlined outline-gray">Spacer</div>
    </div>
  </div>

  {{{sw.divider "Scroll to top"}}}

  <div class="button outlined scroll-to-top">Scroll to top</div>

  {{{sw.divider "Fullscreen"}}}

  <div class="button outlined fullscreen-toggler">Toggle fullscreen</div>

</template>
