
<!-- ICONS -->

<template name="icons">

  {{{sw.divider "Icons"}}}

  <div class="container bordered">
    <div class="multiple">
      <div class="icons">
        <i class="icon">check_box_outline_blank</i>
        <i class="icon text-secondary">gif</i>
      </div>
      <div class="icons">
        <i class="icon text-primary">chevron_left</i>
        <i class="icon text-secondary">chevron_right</i>
      </div>
      <div class="icons">
        <i class="icon">mood_bad</i>
        <i class="icon text-red">not_interested</i>
      </div>
    </div>
  </div>

  {{{sw.divider "Corner"}}}

  <div class="container bordered">
    <div class="multiple">
      <div class="icons">
        <i class="icon">access_alarm</i>
        <i class="icon corner text-white">add_circle_outline</i>
        <i class="icon corner">add_circle</i>
      </div>
      <div class="icons">
        <i class="icon">access_alarm</i>
        <i class="icon corner top-left text-white">add_circle_outline</i>
        <i class="icon corner top-left text-primary">add_circle</i>
      </div>
      <div class="icons">
        <i class="icon">access_alarm</i>
        <i class="icon corner top-right text-white">add_circle_outline</i>
        <i class="icon corner top-right text-secondary">add_circle</i>
      </div>
      <div class="icons">
        <i class="icon">access_alarm</i>
        <i class="icon corner bottom-right text-white">add_circle_outline</i>
        <i class="icon corner bottom-right text-tertiary">add_circle</i>
      </div>
      <div class="icons">
        <i class="icon">access_alarm</i>
        <i class="icon corner bottom-left text-white">add_circle_outline</i>
        <i class="icon corner bottom-left text-quaternary">add_circle</i>
      </div>
    </div>
  </div>

</template>
