
<!-- IMAGE -->

<template name="image">

  {{{sw.divider "Image"}}}

  {{{sample.image "centered"}}}

  {{{sw.divider "Sizes"}}}

  <div class="container outlined">
    <div class="multiple">
      {{{sample.image "xxxxsmall"}}}
      {{{sample.image "xxxsmall"}}}
      {{{sample.image "xxsmall"}}}
      {{{sample.image "xsmall"}}}
      {{{sample.image "small"}}}
      {{{sample.image "medium"}}}
      {{{sample.image "large"}}}
      {{{sample.image "xlarge"}}}
      {{{sample.image "xxlarge"}}}
      {{{sample.image "xxxlarge"}}}
      {{{sample.image "xxxxlarge"}}}
    </div>
  </div>

  {{{sw.divider "Fluid"}}}

  {{{sample.image "fluid"}}}

  {{{sw.divider "Border radius variants"}}}

  <div class="multiple no-wrap center-x">
    {{{sample.image "xs-4 sharp"}}}
    {{{sample.image "xs-4 smooth"}}}
    {{{sample.image "xs-4 rounded"}}}
  </div>

  {{{sw.divider "Spaced"}}}

  <div class="container outlined">
    <p>
      {{{sample.image "xxxxsmall spaced right"}}}
      {{{sample.text 35}}}
      {{{sample.image "xxxxsmall spaced"}}}
      {{{sample.text 35}}}
      {{{sample.image "xxxxsmall spaced left"}}}
    </p>
  </div>

  {{{sw.divider "Floated"}}}

  <div class="container outlined clearfix">
    <p>
      {{{sample.image "small floated"}}}
      {{{sample.text 75}}}
    </p>
    <p>
      {{{sample.image "small floated right"}}}
      {{{sample.text 75}}}
    </p>
  </div>

  {{> image_actions}}

</template>

<!-- ACTIONS -->

<template name="image_actions">

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Outlined" "toggle_class ( 'outlined' )"}}}

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
    {{{sw.radioAction "Disabled" "state" "disable ()"}}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('img').toggleClass ( name );
    }

    function enable () {
      $('img').removeClass ( 'disabled' );
    }

    function disable () {
      $('img').addClass ( 'disabled' );
    }
  </script>

</template>
