
<!-- AUTOGROW -->

<template name="input_autogrow">

  {{{sw.divider "Input autogrow"}}}

  <input value="Value" placeholder="Placeholder..." class="autogrow bordered">

  {{> input_autogrow_actions}}

</template>

<!-- ACTIONS -->

<template name="input_autogrow_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Compact" "toggle_class ( 'compact' )"}}}
    {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )" true}}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('input.autogrow').toggleClass ( name );
    }

    function api ( action ) {
      $('input.autogrow').autogrowInput ( action );
    }
  </script>

</template>
