
<!-- AUTOGROW -->

<template name="input_autogrow">

  {{{sw.divider "Input autogrow"}}}

  <input value="Value" placeholder="Placeholder..." class="autogrow outlined">

  {{> input_autogrow_actions}}

</template>

<!-- ACTIONS -->

<template name="input_autogrow_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    <div onclick="api ()" class="button outlined">Init</div>
    <div onclick="api ( 'destroy' )" class="button outlined">Destroy</div>
  </div>

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Compact" "toggle_class ( 'compact' )"}}}
    {{{sw.checkAction "Outlined" "toggle_class ( 'outlined' )" true}}}
  </div>

  <script>
    function toggle_class ( css_class ) {
      $('.autogrow').toggleClass(css_class);
    }

    function api ( action ) {
      $('input.autogrow').autogrowInput ( action );
    }
  </script>

</template>
