
<!-- INPUT -->

<template name="input">

  {{{sw.divider "Base"}}}

  <input placeholder="Base">

  {{{sw.divider "Colors"}}}

  <div class="container bordered">
    <div class="multiple">
      <input placeholder="Primary" class="primary">
      <input placeholder="Secondary" class="secondary">
      <input placeholder="Tertiary" class="tertiary">
      <input placeholder="Quaternary" class="quaternary">
      <input placeholder="White" class="white">
      <input placeholder="Gray" class="gray">
      <input placeholder="Black" class="black">
      <input placeholder="Yellow" class="yellow">
      <input placeholder="Olive" class="olive">
      <input placeholder="Green" class="green">
      <input placeholder="Blue" class="blue">
      <input placeholder="Violet" class="violet">
      <input placeholder="Orange" class="orange">
      <input placeholder="Purple" class="purple">
      <input placeholder="Red" class="red">
      <input placeholder="Pink" class="pink">
      <input placeholder="Teal" class="teal">
      <input placeholder="Brown" class="brown">
      <input placeholder="Error" class="error">
      <input placeholder="Warning" class="warning">
      <input placeholder="Success" class="success">
      <input placeholder="Transparent" class="transparent">
      <input placeholder="Inherit" class="inherit">
      <input placeholder="Base" class="base">
    </div>
  </div>

  {{{sw.divider "Password"}}}

  <input type="password" placeholder="Password...">

  {{{sw.divider "File"}}}

  <div class="multiple">
    <label class="button">
      <input type="file" multiple>
      <span class="input-file-names"></span>
    </label>
    <label class="button">
      <input type="file">
      <i class="icon">file_upload</i>
    </label>
    <label class="button">
      <input type="file">
      <span class="input-file-names">Pick a file...</span>
    </label>
    <label class="button">
      <input type="file" multiple>
      <span class="input-file-names">Multiple files...</span>
    </label>
    <label class="multiple joined">
      <div class="label input-file-names">Choose a file...</div>
      <input type="file">
      <div class="button secondary">Choose</div>
    </label>
  </div>

  {{{sw.divider "Multiple"}}}

  <div class="multiple">
    <div class="multiple joined">
      <input placeholder="Search...">
      <div class="button compact">
        <i class="icon">search</i>
      </div>
    </div>
    <div class="multiple joined">
      <div class="label gray">http://</div>
      <input placeholder="www.something.com">
    </div>
    <div class="multiple joined">
      <div class="label compact">
        <i class="icon">people</i>
      </div>
      <input value="Value" placeholder="Placeholder...">
    </div>
    <div class="multiple joined">
      <input value="Value" placeholder="Placeholder...">
      <div class="label compact">
        <i class="icon rotating">refresh</i>
      </div>
    </div>
    <div class="multiple joined">
      <div class="button teal">
        <i class="icon">local_grocery_store</i>
        <span>Checkout</span>
      </div>
      <input value="35.50€" placeholder="Placeholder...">
    </div>
  </div>

  {{> input_actions}}

</template>

<!-- ACTIONS -->

<template name="input_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}
    {{{sw.checkAction "Compact" "toggle_class ( 'compact' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Base" "validity" "set_validity ()" true}}}
      {{{sw.radioAction "Valid" "validity" "set_validity ( 'valid' )"}}}
      {{{sw.radioAction "Invalid" "validity" "set_validity ( 'invalid' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
      {{{sw.radioAction "Disabled" "state" "disable ()"}}}
    </div>
    {{{sw.checkAction "Read only" "toggle_attr ( 'readonly' )"}}}
  </div>

  <script>
    var $inputs = $('input').not ( '.actions input' );

    function toggle_class ( name ) {
      $inputs.toggleClass ( name );
      $('.layout-content .label, .layout-content .button').not ( '.actions .button' ).toggleClass ( name );
    }

    function toggle_attr ( attr ) {
      if ( lodash.isUndefined ( $inputs.attr ( attr ) ) ) {
        $inputs.attr ( attr, attr );
      } else {
        $inputs.removeAttr ( attr );
      }
    }

    function enable () {
      $inputs.removeClass ( 'disabled' ).removeAttr ( 'disabled' );
    }

    function disable () {
      $inputs.addClass ( 'disabled' ).attr ( 'disabled', 'disabled' );
    }

    function set_validity ( validity ) {
      var validities = ['valid', 'invalid'];
      for ( var i = 0, l = validities.length; i < l; i++ ) {
        $inputs.removeClass ( validities[i] ).addClass ( validity );
      }
    }
  </script>

</template>
