
<!-- JUSTIFIED LAYOUT -->

<template name="justified_layout">

  {{{sw.divider "Justified Layout"}}}

  <div class="justified-layout">
    {{{sw.placeholder 167 100 "1.67" "1.67"}}}
    {{{sw.placeholder 149 100 "1.49" "1.49"}}}
    {{{sw.placeholder 200 100 "2" "2"}}}
    {{{sw.placeholder 160 100 "1.6" "1.6"}}}
    {{{sw.placeholder 160 100 "1.6" "1.6"}}}
    {{{sw.placeholder 133 100 "1.33" "1.33"}}}
    {{{sw.placeholder 355 100 "3.55" "3.55"}}}
    {{{sw.placeholder 177 100 "1.77" "1.77"}}}
    {{{sw.placeholder 137 100 "1.37" "1.37"}}}
    {{{sw.placeholder 160 100 "1.6" "1.6"}}}
    {{{sw.placeholder 177 100 "1.77" "1.77"}}}
    {{{sw.placeholder 177 100 "1.77" "1.77"}}}
  </div>

</template>
