
<!-- MODAL -->

<template name="modal">

  {{{sw.divider "Modals"}}}

  <div class="multiple">
    <div class="button modal-toggler bordered" data-target="#modal-1">
      <span>Normal</span>
    </div>
    <div class="button modal-toggler bordered" data-target="#modal-2">
      <span>Closable</span>
    </div>
    <div class="button modal-toggler bordered" data-target="#modal-3">
      <span>No footer</span>
    </div>
    <div class="button modal-toggler bordered" data-target="#modal-4">
      <span>No header</span>
    </div>
    <div class="button modal-toggler bordered" data-target="#modal-5">
      <span>Only content</span>
    </div>
    <div class="button modal-toggler bordered" data-target="#modal-6">
      <span>With buttons</span>
    </div>
    <div class="button modal-toggler bordered" data-target="#modal-7">
      <span>Long content</span>
    </div>
    <div class="button modal-toggler bordered" data-target="#modal-8">
      <span>Fullscreen</span>
    </div>
  </div>

  {{> modal_modals}}

  {{> modal_actions}}

</template>

<!-- MODALS -->

<template name="modal_modals">

  <div class="card modal xs-8" id="modal-1">
    <div class="card-header">Header</div>
    <div class="card-block">
      {{{sample.paragraph}}}
    </div>
    <div class="card-footer">Footer</div>
  </div>

  <div class="card modal xs-8" id="modal-2">
    <div class="card-header">
      <div class="multiple">
        <div class="spacer">Closable</div>
        <div class="button small modal-closer compact">
          <i class="icon">close</i>
        </div>
      </div>
    </div>
    <div class="card-block">
      {{{sample.paragraph}}}
    </div>
    <div class="card-footer">Footer</div>
  </div>

  <div class="card modal xs-8" id="modal-3">
    <div class="card-header">No footer</div>
    <div class="card-block">
      {{{sample.paragraph}}}
    </div>
  </div>

  <div class="card modal xs-8" id="modal-4">
    <div class="card-block">
      {{{sample.paragraph}}}
    </div>
    <div class="card-footer">No header</div>
  </div>

  <div class="card modal xs-8" id="modal-5">
    <div class="card-header">Header</div>
    <div class="card-block">
      {{{sample.paragraph}}}
    </div>
  </div>

  <div class="card modal xs-8" id="modal-6">
    <div class="card-header">Header</div>
    <div class="card-block">
      {{{sample.paragraph}}}
    </div>
    <div class="card-footer">
      <div class="multiple">
        <div class="button bordered modal-closer">Closer</div>
        <div class="button primary">No Closer</div>
        <div class="button secondary modal-closer">Closer</div>
      </div>
    </div>
  </div>

  <div class="card modal xs-8" id="modal-7">
    <div class="card-header">Long content</div>
    <div class="card-block">
      {{{sample.paragraph}}}
      {{{sample.paragraph}}}
      {{{sample.paragraph}}}
      {{{sample.paragraph}}}
      {{{sample.paragraph}}}
      {{{sample.paragraph}}}
    </div>
    <div class="card-footer">Footer</div>
  </div>

  <div class="card modal fullscreen" id="modal-8">
    <div class="card-header">
      <div class="multiple">
        <div class="spacer">Fullscreen</div>
        <div class="button small modal-closer compact">
          <i class="icon">close</i>
        </div>
      </div>
    </div>
    <div class="card-block">
      {{{sample.paragraph}}}
    </div>
    <div class="card-footer">Footer</div>
  </div>

</template>

<!-- ACTIONS -->

<template name="modal_actions">

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function api ( action ) {
      $('.modal-toggler').modalToggler ( action );
    }
  </script>

</template>
