
<!-- NUMBOX -->

<template name="numbox">

  {{{sw.divider "Numbox"}}}

  <div class="multiple">
    {{{sw.numbox min=-100 max=100 step=1 value=0}}}
    {{{sw.numbox min=0 max=100 step=10 value=0}}}
  </div>

  {{> numbox_actions}}

</template>

<!-- ACTIONS -->

<template name="numbox_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Get" "api_get ()"}}}
    <div class="multiple joined">
      <input name="value" placeholder="Value..." class="bordered">
      {{{sw.action "Set" "api_set ()"}}}
    </div>
    <div class="multiple joined">
      {{{sw.iconAction "remove" "api ( 'decrease' )"}}}
      {{{sw.iconAction "add" "api ( 'increase' )"}}}
    </div>
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}
    {{{sw.checkAction "Children bordered" "toggle_children_class ( 'bordered' )"}}}
    {{{sw.checkAction "Children compact" "toggle_children_class ( 'compact' )" true}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Base" "validity" "set_validity ()" true}}}
      {{{sw.radioAction "Valid" "validity" "set_validity ( 'valid' )"}}}
      {{{sw.radioAction "Invalid" "validity" "set_validity ( 'invalid' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
      {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
    </div>
  </div>

  <script>
    function toggle_class ( name ) {
      $('.numbox').toggleClass ( name );
    }

    function toggle_children_class ( name ) {
      $('.numbox > *').toggleClass ( name );
    }

    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function api_get () {
      var gets = lodash.map ( $('.numbox'), function ( numbox ) {
        return $(numbox).numbox ( 'get' );
      });
      $.toast ( gets.join ( ' - ' ) );
    }

    function api ( action ) {
      $('.numbox').numbox ( action );
    }

    function api_set () {
      var value = Number ( getValue ( 'value' ) );
      $('.numbox').numbox ( 'set', value );
    }

    function set_validity ( validity ) {
      var validities = ['valid', 'invalid'];
      for ( var i = 0, l = validities.length; i < l; i++ ) {
        $('.numbox').removeClass ( validities[i] ).addClass ( validity );
      }
    }
  </script>

</template>
