
<!-- POPOVER -->

<template name="popover">

  {{{sw.divider "Popovers"}}}

  <div class="multiple">
    <div class="button popover-toggler bordered" data-target="#base">
      <span>Base</span>
      <i class="icon">expand_more</i>
    </div>
    <div class="button popover-toggler bordered" data-target="#affixed">
      <span>Affixed</span>
      <i class="icon">expand_more</i>
    </div>
    <div class="button popover-toggler bordered" data-target="#no-tip">
      <span>No tip</span>
      <i class="icon">expand_more</i>
    </div>
    <div class="button popover-toggler bordered compact" data-target="#base">
      <i class="icon">settings</i>
    </div>
    <div class="button popover-toggler circular bordered compact" data-target="#base">
      <i class="icon">settings</i>
    </div>
    <div class="button popover-toggler bordered" data-target="#dividers">
      <span>Dividers</span>
      <i class="icon">expand_more</i>
    </div>
    <div class="button popover-toggler bordered" data-target="#advanced">
      <span>Advanced</span>
      <i class="icon">expand_more</i>
    </div>
    <div class="button popover-toggler bordered" data-target="#long_text">
      <span>Long text</span>
      <i class="icon">expand_more</i>
    </div>
  </div>

  {{> popover_popovers}}

  {{> popover_init}}
  {{> popover_actions}}

</template>

<!-- POPOVERS -->

<template name="popover_popovers">

  <div id="base" class="popover container">
    <div class="multiple vertical stretched no-wrap joined">
      <div class="button sharp">Action 1</div>
      <div class="button sharp">Action 2</div>
      <div class="button sharp">Action 3</div>
      <div class="button sharp">Action 312313</div>
    </div>
  </div>

  <div id="point" class="popover container no-tip">
    <div class="multiple vertical stretched no-wrap joined">
      <div class="button sharp">Action 1</div>
      <div class="button sharp">Action 2</div>
      <div class="button sharp">Action 3</div>
      <div class="button sharp">Action 312313</div>
    </div>
  </div>

  <div id="affixed" class="popover affixed container">
    <p>Affixed</p>
  </div>

  <div id="no-tip" class="popover no-tip container">
    <p>No tip</p>
  </div>

  <div id="dividers" class="popover container">
    <div class="multiple vertical stretched no-wrap">
      <div class="button sharp">Action 1</div>
      <div class="divider"></div>
      <div class="button sharp">Action 2</div>
      <div class="divider">Divider</div>
      <div class="button sharp">Action 3</div>
      <div class="divider block">
        <div class="divider-content">Block</div>
      </div>
      <div class="button sharp">Action 4</div>
      <div class="divider text">Text</div>
      <div class="button sharp">Action 5</div>
    </div>
  </div>

  <div id="advanced" class="popover card">
    <div class="card-header inherit">Header</div>
    <div class="card-block">Content</div>
    <div class="card-footer">Footer</div>
  </div>

  <div id="long_text" class="popover card bordered">
    <div class="card-header bordered">Lorem Ipsum</div>
    <div class="card-block">
      <p>{{sample.text}}</p>
      <p>{{sample.text}}</p>
      <p>{{sample.text}}</p>
    </div>
    <div class="card-footer bordered">Footer</div>
  </div>

</template>

<!-- INIT -->

<template name="popover_init">

  <script>
    $.toast ( 'Right click anywere to open a popover' );

    var instance = $('#point').popover ( 'instance' );
    $(window).on ( 'contextmenu', function ( event ) {
      if ( !lodash.isUndefined ( event.button ) && event.button === Svelto.Mouse.buttons.RIGHT ) {
        event.preventDefault ();
        event.stopImmediatePropagation ();
        var point = $.eventpoint ( event );
        instance.option ( 'positionate', lodash.extend ( {}, Svelto.Widgets.Popover.config.options.positionate, { constrainer: { $element: $(document.body) }, point: { x: point.X, y: point.Y }, alignment: { x: 'left' } } ) );
        instance.open ();
      }
    });
  </script>

</template>

<!-- ACTIONS -->

<template name="popover_actions">

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('.popover').toggleClass ( name );
    }

    function api ( action ) {
      $('.popover-toggler').popoverToggler ( action );
    }
  </script>

</template>
