
<!-- POPOVER -->

<template name="popover">

  {{{sw.divider "Popovers"}}}

  <div class="multiple">
    <div class="button popover-toggler bordered" data-target="#base">Base</div>
    <div class="button popover-toggler bordered" data-target="#affixed">Affixed</div>
    <div class="button popover-toggler bordered" data-target="#no-tip">No tip</div>
    <div class="button popover-toggler bordered compact" data-target="#base">
      <i class="icon">settings</i>
    </div>
    <div class="button popover-toggler circular bordered compact" data-target="#base">
      <i class="icon">settings</i>
    </div>
    <div class="button popover-toggler bordered" data-target="#dividers">Dividers</div>
    <div class="button popover-toggler bordered" data-target="#advanced">Advanced</div>
    <div class="button popover-toggler bordered" data-target="#long_text">Long text</div>
    <div class="button popover-toggler bordered" data-target="#fullscreen">Fullscreen</div>
    <div class="button popover-toggler bordered" data-target="#size_change">Size change</div>
    <div class="button modal-toggler bordered" data-target="#modal">Nested</div>
  </div>

  {{> popover_popovers}}

  {{> popover_init}}
  {{> popover_actions}}

</template>

<!-- POPOVERS -->

<template name="popover_popovers">

  <div id="base" class="popover container">
    <div class="multiple vertical stretched no-wrap joined">
      <div class="button sharp">Action 1</div>
      <div class="button sharp">Action 2</div>
      <div class="button sharp">Action 3</div>
      <div class="button sharp">Action 312313</div>
    </div>
  </div>

  <div id="point" class="popover container no-tip">
    <div class="multiple vertical stretched no-wrap joined">
      <div class="button sharp">Action 1</div>
      <div class="button sharp">Action 2</div>
      <div class="button sharp">Action 3</div>
      <div class="button sharp">Action 312313</div>
    </div>
  </div>

  <div id="affixed" class="popover affixed container">
    <p>Affixed</p>
  </div>

  <div id="no-tip" class="popover no-tip container">
    <p>No tip</p>
  </div>

  <div id="dividers" class="popover container">
    <div class="multiple vertical stretched no-wrap">
      <div class="button sharp">Action 1</div>
      <div class="divider"></div>
      <div class="button sharp">Action 2</div>
      <div class="divider">Divider</div>
      <div class="button sharp">Action 3</div>
      <div class="divider block">
        <div class="divider-content">Block</div>
      </div>
      <div class="button sharp">Action 4</div>
      <div class="divider text">Text</div>
      <div class="button sharp">Action 5</div>
    </div>
  </div>

  <div id="advanced" class="popover card">
    <div class="card-header inherit">Header</div>
    <div class="card-block">Content</div>
    <div class="card-footer">Footer</div>
  </div>

  <div id="long_text" class="popover card bordered">
    <div class="card-header bordered">Header</div>
    <div class="card-block">
      <p>{{sample.text}}</p>
      <p>{{sample.text}}</p>
      <p>{{sample.text}}</p>
    </div>
    <div class="card-footer bordered">Footer</div>
  </div>

  <div id="size_change" class="popover container bordered">
    <input value="Horizontally..." class="autogrow bordered">
    <textarea class="autogrow bordered">Vertically...</textarea>
    <div class="tagbox bordered">
      <input name="name" value="this,est,tagbox" class="hidden">
      <div class="tagbox-tags">
        <input name="partial_name" placeholder="Add tag..." class="tagbox-partial autogrow compact">
      </div>
    </div>
    <!-- datepicker:change -->
    <!-- tabs:change -->
    <!-- tablehelper:change -->
    <!-- textarea increase in size -->
  </div>

  <div id="fullscreen" class="popover fullscreen container">
    <p>Fullscreen</p>
  </div>

  <div id="modal" class="container modal xs-8 centerer">
    <div class="button popover-toggler bordered" data-target="#popover-nested">Popover</div>
  </div>

  <div id="popover-nested" class="popover container">Popover</div>

</template>

<!-- INIT -->

<template name="popover_init">

  <script>
    $.toast ( 'Right click anywere to open a popover' );

    var instance = $('#point').popover ( 'instance' );
    $(window).on ( 'contextmenu', function ( event ) {
      if ( !lodash.isUndefined ( event.button ) && event.button === Svelto.Mouse.buttons.RIGHT ) {
        event.preventDefault ();
        event.stopImmediatePropagation ();
        var point = $.eventXY ( event );
        instance.option ( 'positionate', lodash.extend ( {}, Svelto.Widgets.Popover.config.options.positionate, { constrainer: { $element: $(window) }, point: { x: point.x, y: point.y }, alignment: { x: 'left' } } ) );
        instance.open ();
      }
    });
  </script>

</template>

<!-- ACTIONS -->

<template name="popover_actions">

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('.popover').toggleClass ( name );
    }

    function api ( action ) {
      $('.popover-toggler').popoverToggler ( action );
    }
  </script>

</template>
