
<!-- RADIO -->

<template name="radio">

  {{{sw.divider "Radio"}}}

  <div class="multiple vertical radios">
    <div class="radio">
      <input type="radio" name="demo">
      <label></label>
    </div>
    <p>
      <input type="radio" name="demo" id="paragraph">
      <label for="paragraph">Paragraph</label>
    </p>
    <div class="radio">
      <input type="radio" name="demo" id="multi">
      <label for="multi">Wrapped and for</label>
    </div>
    <div class="radio">
      <input type="radio" name="demo">
      <label>Checkbox</label>
    </div>
    <div class="radio">
      <input type="radio" name="demo">
      <label data-icon-on="favorite" data-icon-off="favorite_border">Custom icons</label>
    </div>
  </div>

  {{> radio_actions}}

</template>

<!-- ACTIONS -->

<template name="radio_actions">

  {{{sw.divider "Style"}}}

  <div class="multiple actions">
    {{{sw.checkAction "Button" "toggle_class ( 'button' )"}}}
    {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}
  </div>

  {{{sw.divider "Direction"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Default" "direction" "set_direction ()" true}}}
    {{{sw.radioAction "Left" "direction" "set_direction ( 'left' )"}}}
    {{{sw.radioAction "Right" "direction" "set_direction ( 'right' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Base" "validity" "set_validity ()" true}}}
      {{{sw.radioAction "Valid" "validity" "set_validity ( 'valid' )"}}}
      {{{sw.radioAction "Invalid" "validity" "set_validity ( 'invalid' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
      {{{sw.radioAction "Disabled" "state" "disable ()"}}}
    </div>
  </div>

  <script>
    var $wrappers = $('.radios > *'),
        $labels = $('.radios label');

    function toggle_class ( name ) {
      $wrappers.toggleClass ( name );
    }

    function set_validity ( validity ) {
      var $targets = $('.radios > .radio, .radios > :not(.radio) > input');
      var validities = ['valid', 'invalid'];
      for ( var i = 0, l = validities.length; i < l; i++ ) {
        $targets.removeClass ( validities[i] ).addClass ( validity );
      }
    }

    function set_direction ( direction ) {
      var directions = ['left', 'right'];
      for ( var i = 0, l = directions.length; i < l; i++ ) {
        $labels.removeClass ( directions[i] );
      }
      if ( direction ) {
        $labels.addClass ( direction );
      }
    }

    function enable () {
      $wrappers.removeClass ( 'disabled' );
    }

    function disable () {
      $wrappers.addClass ( 'disabled' );
    }
  </script>

</template>
