
<!-- RADIO -->

<template name="radio">

  {{{sw.divider "Radio"}}}

  <div class="multiple radios">
    <input type="radio" name="name">
    <label class="radio">
      <input type="radio" name="name">
    </label>
    <label class="radio">
      <span>Base</span>
      <input type="radio" name="name">
    </label>
    <label class="radio">
      <input type="radio" name="name">
      <span>Inverse</span>
    </label>
    <label class="radio">
      <span>Custom icons</span>
      <input type="radio" name="name" data-icon-on="thumb_up" data-icon-off="thumb_down">
    </label>
  </div>

  {{> radio_actions}}

</template>

<!-- ACTIONS -->

<template name="radio_actions">

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Button" "toggle_class ( 'button' )"}}}

  {{{sw.divider "State"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Base" "validity" "set_validity ()" true}}}
      {{{sw.radioAction "Valid" "validity" "set_validity ( 'valid' )"}}}
      {{{sw.radioAction "Invalid" "validity" "set_validity ( 'invalid' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
      {{{sw.radioAction "Disabled" "state" "disable ()"}}}
    </div>
  </div>

  <script>
    var $radios = $('.radios').find ( '.radio, input[type="radio"]' ).not ( '.radio input' );

    function toggle_class ( name ) {
      $radios.toggleClass ( name );
    }

    function set_validity ( validity ) {
      var validities = ['valid', 'invalid'];
      for ( var i = 0, l = validities.length; i < l; i++ ) {
        $radios.removeClass ( validities[i] ).addClass ( validity );
      }
    }

    function enable () {
      $radios.removeClass ( 'disabled' );
    }

    function disable () {
      $radios.addClass ( 'disabled' );
    }
  </script>

</template>
