
<!-- RAILS -->

<template name="rails">

  {{{sw.divider "Rails"}}}

  <div class="rails">
    <div class="rails-content multiple joined">
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
    </div>
  </div>

  {{{sw.divider "Active"}}}

  <div class="rails">
    <div class="rails-content multiple joined">
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button highlighted rails-active">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
    </div>
  </div>

  <div class="rails">
    <div class="rails-content multiple joined">
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button highlighted rails-active">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
    </div>
  </div>

  <div class="rails">
    <div class="rails-content multiple joined">
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button highlighted rails-active">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
    </div>
  </div>

  {{{sw.divider "Multiple (Outside)"}}}

  <div class="rails">
    <div class="rails-content multiple joined">
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
    </div>
    <div class="multiple joined">
      <div class="button outlined">Multi</div>
      <div class="button outlined">Multi</div>
      <div class="button outlined">Multi</div>
    </div>
  </div>

  {{{sw.divider "Multiple (Inside)"}}}

  <div class="rails">
    <div class="rails-content multiple joined">
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="multiple joined fluid">
        <div class="button">Multi</div>
        <div class="button">Multi</div>
        <div class="button">Multi</div>
      </div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="multiple joined fluid">
        <div class="button">Multi</div>
        <div class="button">Multi</div>
        <div class="button">Multi</div>
      </div>
    </div>
  </div>

  {{{sw.divider "Navigation"}}}

  <div class="rails">
    <div class="rails-left button compact">
      <i class="icon">chevron_left</i>
    </div>
    <div class="rails-content multiple joined">
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
    </div>
    <div class="rails-right button compact">
      <i class="icon">chevron_right</i>
    </div>
  </div>

  <div class="rails">
    <div class="rails-start button compact">
      <i class="icon">first_page</i>
    </div>
    <div class="rails-content multiple joined">
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
    </div>
    <div class="rails-end button compact">
      <i class="icon">last_page</i>
    </div>
  </div>

  <div class="rails">
    <div class="rails-start button compact">
      <i class="icon">first_page</i>
    </div>
    <div class="rails-left button compact">
      <i class="icon">chevron_left</i>
    </div>
    <div class="rails-content multiple joined">
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
      <div class="button">Text</div>
    </div>
    <div class="rails-right button compact">
      <i class="icon">chevron_right</i>
    </div>
    <div class="rails-end button compact">
      <i class="icon">last_page</i>
    </div>
  </div>

  {{> rails_actions}}

</template>

<!-- ACTIONS -->

<template name="rails_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions joined">
    {{{sw.iconAction "first_page" "api ( 'start' )"}}}
    {{{sw.iconAction "chevron_left" "api ( 'left' )"}}}
    {{{sw.iconAction "chevron_right" "api ( 'right' )"}}}
    {{{sw.iconAction "last_page" "api ( 'end' )"}}}
  </div>

  {{{sw.divider "Style"}}}

  {{{sw.checkAction "Borderd" "toggle_class ( 'bordered' )"}}}

  {{{sw.divider "Size"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "X-Small" "size" "set_size ( 'xsmall' )"}}}
    {{{sw.radioAction "Medium" "size" "set_size ( 'medium' )" true}}}
    {{{sw.radioAction "X-Large" "size" "set_size ( 'xlarge' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
    {{{sw.radioAction "Disabled" "state" "disable ()"}}}
  </div>

  <script>
    function api ( action ) {
      $('.rails').rails ( action );
    }

    function toggle_class ( name ) {
      $('.rails .button').toggleClass ( name );
    }

    function set_size ( size ) {
      var sizes = ['xsmall', 'medium', 'xlarge'];
      for ( var i = 0, l = sizes.length; i < l; i++ ) {
        $('.rails').removeClass ( sizes[i] );
      }
      if ( size ) {
        $('.rails').addClass ( size );
      }
    }

    function enable () {
      $('.rails').removeClass ( 'disabled' );
    }

    function disable () {
      $('.rails').addClass ( 'disabled' );
    }
  </script>

</template>
