
<!-- REMOTE MODAL -->

<template name="remote_modal">

  {{{sw.divider "Remote Modal"}}}

  <div class="multiple">
    <div class="button bordered remote-modal-trigger" data-url="/remote-modal-1">Load remote</div>
    <div class="button bordered remote-modal-trigger" data-url="/remote-modal-2" data-data='{"color": "primary"}'>Load remote (Primary)</div>
    <div class="button bordered remote-modal-trigger" data-url="/remote-modal-2" data-data='{"color": "secondary"}'>Load remote (Secondary)</div>
    <div class="button bordered remote-modal-trigger" data-url="/remote-modal-fullscreen">Load remote (Fullscreen)</div>
    <div class="button bordered remote-modal-trigger" data-url="/remote-modal-error">Load remote (Error)</div>
  </div>

  {{{sw.divider "Helper"}}}

  <div class="helper point button bordered">Helper</div>

  {{> remote_modal_actions}}

</template>

<!-- ACTIONS -->

<template name="remote_modal_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  <script>
    function api ( action ) {
      $('.remote-modal-trigger').remoteModalTrigger ( action );
    }

    $('.helper').on ( Svelto.Pointer.tap, function () {
      $.remoteModal ({ url: '/remote-modal-1' });
    });
  </script>

</template>
