
<!-- REMOTE ACTION -->

<template name="remote_action">

  {{{sw.divider "Remote Action"}}}

  <div class="multiple">
    <div class="button bordered remote-action-trigger" data-url="/remote-action-1">Load remote</div>
    <div class="button bordered remote-action-trigger" data-url="/remote-action-2" data-data='{"color": "primary"}'>Load remote (Primary)</div>
    <div class="button bordered remote-action-trigger" data-url="/remote-action-2" data-data='{"color": "secondary"}'>Load remote (Secondary)</div>
    <div class="button bordered remote-action-trigger" data-url="/remote-action-3">Load remote (Refresh)</div>
    <div class="button bordered remote-action-trigger" data-url="/remote-action-4">Load remote (Redirect)</div>
  </div>

  {{{sw.divider "Helper"}}}

  <div class="helper point button bordered">Helper</div>

  {{> remote_action_actions}}

</template>

<!-- ACTIONS -->

<template name="remote_action_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  <script>
    function api ( action ) {
      $('.remote-action-trigger').remoteActionTrigger ( action );
    }

    $('.helper').on ( Svelto.Pointer.tap, function () {
      $.remoteAction ({ url: '/remote-action-1' });
    });
  </script>

</template>
