
<!-- REMOTE LOADER -->

<template name="remote_loader">

  <div class="widget"> <!-- Wrapping so that the loaded content gets removed on `route` -->

    {{{sw.divider "Remote Loader"}}}

    <div class="multiple equal text-center">
      <div class="remote-loader" data-url="/remote-loader-text">
        {{{sw.spinner "secondary"}}}
      </div>
      <div class="remote-loader" data-url="/remote-loader-json">
        {{{sw.spinner "secondary"}}}
      </div>
      <div class="remote-loader" data-url="/remote-loader-widget">
        {{{sw.spinner "secondary"}}}
      </div>
      <div class="remote-loader" data-url="/remote-loader-json-wrong">
        {{{sw.spinner "secondary"}}}
      </div>
      <div class="remote-loader" data-url="/remote-loader-json-message">
        {{{sw.spinner "secondary"}}}
      </div>
      <div class="remote-loader" data-cache="#local-content">
        {{{sw.spinner "secondary"}}}
      </div>
    </div>

    <script type="text/html" id="local-content">Script content</script>

    {{{sw.divider "Trigger"}}}

    <div class="remote-loader-trigger button bordered" data-url="/remote-loader-text">Remote Load</div>

    {{{sw.divider "Helper"}}}

    <div class="multiple helpers">
      <div class="helper before button bordered">Helper (Before)</div>
      <div class="helper after button bordered">Helper (After)</div>
    </div>

    {{{sw.divider "Scroll"}}}

    <div class="spacer" style="height: 300vh;"></div>
    <div class="remote-loader" data-url="/remote-loader-scroll">
      {{{sw.spinner "secondary"}}}
    </div>
    <div class="remote-loader preload" data-url="/remote-loader-preload">
      {{{sw.spinner "secondary"}}}
    </div>

  </div>

  {{> remote_loader_init}}

</template>

<!-- INIT -->

<template name="remote_loader_init">
  <script>
    var $helpers = $('.helpers');
    $('.helper.before').on ( 'click', function () {
      $.remoteLoader ({ url: '/remote-loader-text' }, $helpers, 'before' );
    });
    $('.helper.after').on ( 'click', function () {
      $.remoteLoader ({ url: '/remote-loader-text' }, $helpers, 'after' );
    });
  </script>
</template>
