
<!-- SCROLLER -->

<template name="scroller">

  {{{sw.divider "Scroller"}}}

  <div class="multiple">
    <div class="button bordered scroller me" data-target=".scroller.me">Scroll to me</div>
    <div class="button bordered scroller first" data-target=".scroller.api">Scroll to API</div>
  </div>

  <div class="spacer" style="height: 300vh;"></div>

  <div class="multiple">
    <div class="button bordered scroller api" data-target=".scroller.first">Scroll to top button</div>
    <div class="button bordered scroller" data-target="html">Scroll to very top</div>
  </div>

  {{> scroller_actions}}

</template>

<!-- ACTIONS -->

<template name="scroller_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function api ( action ) {
      $('.scroller').scroller ( action );
    }
  </script>

</template>
