
<!-- SELECTABLE ACTIONS -->

<template name="selectable_actions">

  {{{sw.divider "Selectable Actions"}}}

  {{> selectable_actions_actions}}
  {{> selectable_actions_popover}}

  <table class="table white selectable celled">
    <thead>
      <tr>
        <th class="xs-1 text-center">Int</th>
        <th>String</th>
        <th>Date</th>
        <th class="text-center">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr data-id="1">
        <td class="text-center">1</td>
        <td>Foo</td>
        <td>16/11/1993</td>
        <td class="text-center">
          <div class="multiple center-x">
            <a href="#" class="button bordered small">Btn 1</a>
            <a href="#" class="button bordered small">Btn 2</a>
          </div>
        </td>
      </tr>
      <tr data-id="2">
        <td class="text-center">2</td>
        <td>Bar</td>
        <td>16 Nov 1993</td>
        <td class="text-center">
          <div class="multiple center-x">
            <a href="#" class="button bordered small">Btn 1</a>
            <a href="#" class="button bordered small">Btn 2</a>
          </div>
        </td>
      </tr>
      <tr data-id="3">
        <td class="text-center">3</td>
        <td>Foo</td>
        <td>16/11/1993</td>
        <td class="text-center">
          <div class="multiple center-x">
            <a href="#" class="button bordered small">Btn 1</a>
            <a href="#" class="button bordered small">Btn 2</a>
          </div>
        </td>
      </tr>
      <tr data-id="4">
        <td class="text-center">4</td>
        <td>Bar</td>
        <td>16 Nov 1993</td>
        <td class="text-center">
          <div class="multiple center-x">
            <a href="#" class="button bordered small">Btn 1</a>
            <a href="#" class="button bordered small">Btn 2</a>
          </div>
        </td>
      </tr>
      <tr data-id="5">
        <td class="text-center">5</td>
        <td>Foo</td>
        <td>16/11/1993</td>
        <td class="text-center">
          <div class="multiple center-x">
            <a href="#" class="button bordered small">Btn 1</a>
            <a href="#" class="button bordered small">Btn 2</a>
          </div>
        </td>
      </tr>
      <tr data-id="6">
        <td class="text-center">6</td>
        <td>Bar</td>
        <td>16 Nov 1993</td>
        <td class="text-center">
          <div class="multiple center-x">
            <a href="#" class="button bordered small">Btn 1</a>
            <a href="#" class="button bordered small">Btn 2</a>
          </div>
        </td>
      </tr>
      <tr data-id="7">
        <td class="text-center">7</td>
        <td>Foo</td>
        <td>16/11/1993</td>
        <td class="text-center">
          <div class="multiple center-x">
            <a href="#" class="button bordered small">Btn 1</a>
            <a href="#" class="button bordered small">Btn 2</a>
          </div>
        </td>
      </tr>
      <tr data-id="8">
        <td class="text-center">8</td>
        <td>Bar</td>
        <td>16 Nov 1993</td>
        <td class="text-center">
          <div class="multiple center-x">
            <a href="#" class="button bordered small">Btn 1</a>
            <a href="#" class="button bordered small">Btn 2</a>
          </div>
        </td>
      </tr>
      <tr data-id="9">
        <td class="text-center">9</td>
        <td>Foo</td>
        <td>16/11/1993</td>
        <td class="text-center">
          <div class="multiple center-x">
            <a href="#" class="button bordered small">Btn 1</a>
            <a href="#" class="button bordered small">Btn 2</a>
          </div>
        </td>
      </tr>
      <tr data-id="10">
        <td class="text-center">10</td>
        <td>Bar</td>
        <td>16 Nov 1993</td>
        <td class="text-center">
          <div class="multiple center-x">
            <a href="#" class="button bordered small">Btn 1</a>
            <a href="#" class="button bordered small">Btn 2</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</template>

<!-- ACTIONS -->

<template name="selectable_actions_actions">

  <div class="selectable-actions container bordered limited centered" data-target=".table.selectable">
    <div class="multiple">
      <div class="button bordered action" data-url="/selectable-action/action" data-type="action">Action</div>
      <div class="button bordered action" data-url="/selectable-action/modal" data-type="modal">Modal</div>
      <div class="button bordered action" data-url="/" data-type="page">Page</div>
      <div class="button bordered action" data-url="/%ID%" data-type="page">Placeholder</div>
      <div class="button bordered action" data-url="/">Fallback</div>
    </div>
  </div>

</template>

<!-- POPOVER -->

<template name="selectable_actions_popover">

  {{{sw.toast "Right click on the table to open a popover"}}}

  <div class="selectable-actions popover container no-tip bordered" data-target=".table.selectable">
    <div class="multiple vertical stretched no-wrap joined">
      <div class="button action" data-url="/selectable-action/action" data-type="action">Action</div>
      <div class="button action" data-url="/selectable-action/modal" data-type="modal">Modal</div>
      <div class="button action" data-url="/" data-type="page">Page</div>
      <div class="button action" data-url="/%ID%" data-type="page">Placeholder</div>
      <div class="button action" data-url="/">Fallback</div>
    </div>
  </div>

</template>
