
<!-- SELECT -->

<template name="select">

  {{{sw.divider "Select"}}}

  <div class="multiple">
    <div class="button bordered select">
      {{{sample.select}}}
      <label>Value</label>
    </div>
    <div class="button bordered select">
      {{{sample.select}}}
      <label class="no-value">Select</label>
    </div>
    <div class="button bordered select">
      <select>
        <option value="one" selected="selected">One</option>
        <option value="one">One</option>
        <option value="one">One</option>
      </select>
      <label>Duplicates</label>
    </div>
    <div class="button bordered select">
      {{{sample.select}}}
      <label>Nested: "<span class="select-value">Value</span>"</label>
    </div>
    <div class="button bordered compact select">
      {{{sample.select}}}
      <label class="no-value"></label>
    </div>
    <div class="button bordered compact circular select">
      {{{sample.select}}}
      <label class="no-value" data-icon="settings"></label>
    </div>
    <div class="button bordered compact circular select">
      {{{sample.select}}}
      <label class="no-value" data-icon-closed="keyboard_arrow_down" data-icon-open="keyboard_arrow_up"></label>
    </div>
  </div>

  {{> select_actions}}

</template>

<!-- ACTIONS -->

<template name="select_actions">

  {{{sw.divider "State"}}}

  <div class="multiple actions">
    <div class="multiple joined">
      {{{sw.radioAction "Base" "validity" "set_validity ()" true}}}
      {{{sw.radioAction "Valid" "validity" "set_validity ( 'valid' )"}}}
      {{{sw.radioAction "Invalid" "validity" "set_validity ( 'invalid' )"}}}
    </div>
    <div class="multiple joined">
      {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
      {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
    </div>
  </div>

  <script>
    function api ( action ) {
      $('.select').select ( action );
    }

    function set_validity ( validity ) {
      var validities = ['valid', 'invalid'];
      for ( var i = 0, l = validities.length; i < l; i++ ) {
        $('.select').removeClass ( validities[i] ).addClass ( validity );
      }
    }
  </script>

</template>
