
<!-- SHAPE -->

<template name="shape">

  {{{sw.divider "Triangles"}}}

  <div class="container bordered">
    <div class="multiple">
      <div class="triangle"></div>
      <div class="triangle top"></div>
      <div class="triangle right"></div>
      <div class="triangle bottom"></div>
      <div class="triangle left"></div>
    </div>
  </div>

  {{{sw.divider "Square"}}}

  <div class="container bordered">
    <div class="square"></div>
  </div>

  {{{sw.divider "Square sample"}}}

  <div class="container bordered">
    {{{sample.square}}}
  </div>

  {{{sw.divider "Circle"}}}

  <div class="container bordered">
    <div class="circle"></div>
  </div>

</template>
