
<!-- SPINNER -->

<template name="spinner">

  {{{sw.divider "Spinner"}}}

  <div class="container outlined">
    {{{sw.spinner "secondary"}}}
  </div>

  {{{sw.divider "Colors"}}}

  <div class="container outlined">
    <div class="multiple">
      {{{sw.spinner "primary"}}}
      {{{sw.spinner "secondary"}}}
      {{{sw.spinner "tertiary"}}}
      {{{sw.spinner "quaternary"}}}
      {{{sw.spinner "black"}}}
      {{{sw.spinner "blue"}}}
      {{{sw.spinner "brown"}}}
      {{{sw.spinner "gray"}}}
      {{{sw.spinner "green"}}}
      {{{sw.spinner "olive"}}}
      {{{sw.spinner "orange"}}}
      {{{sw.spinner "pink"}}}
      {{{sw.spinner "purple"}}}
      {{{sw.spinner "red"}}}
      {{{sw.spinner "teal"}}}
      {{{sw.spinner "violet"}}}
      {{{sw.spinner "white"}}}
      {{{sw.spinner "yellow"}}}
      {{{sw.spinner "error"}}}
      {{{sw.spinner "success"}}}
      {{{sw.spinner "warning"}}}
      {{{sw.spinner "base"}}}
      {{{sw.spinner "inherit"}}}
      {{{sw.spinner "transparent"}}}
    </div>
  </div>

  {{{sw.divider "Multicolor"}}}

  <div class="container outlined">
    {{{sw.spinner "multicolor"}}}
  </div>

  {{{sw.divider "Sizes"}}}

  <div class="container outlined">
    <div class="multiple">
      {{{sw.spinner "xxxxsmall"}}}
      {{{sw.spinner "xxxsmall"}}}
      {{{sw.spinner "xxsmall"}}}
      {{{sw.spinner "xsmall"}}}
      {{{sw.spinner "small"}}}
      {{{sw.spinner "medium"}}}
      {{{sw.spinner "large"}}}
      {{{sw.spinner "xlarge"}}}
      {{{sw.spinner "xxlarge"}}}
      {{{sw.spinner "xxxlarge"}}}
      {{{sw.spinner "xxxxlarge"}}}
    </div>
  </div>

  {{{sw.divider "Label"}}}

  <div class="multiple">
    {{{sw.spinnerLabel}}}
    {{{sw.spinnerLabel "white"}}}
    {{{sw.spinnerLabel "white outlined"}}}
    {{{sw.spinnerLabel "primary"}}}
    {{{sw.spinnerLabel "secondary"}}}
    {{{sw.spinnerLabel "tertiary"}}}
    {{{sw.spinnerLabel "quaternary"}}}
  </div>

</template>
