
<!-- SPINNER OVERLAY -->

<template name="spinner_overlay">

  {{{sw.divider "Spinner overlay"}}}

  <div class="container bordered overlayerable">
    {{{sample.paragraph}}}
  </div>

  <div class="card advanced bordered overlayerable">
    <div class="card-header bordered teal">
      <div class="sections center-y">
        <div class="section-left">
          <div class="multiple">
            <div class="button xsmall compact">
              <i class="icon">thumb_up</i>
            </div>
            <div class="button xsmall compact">
              <i class="icon">thumb_down</i>
            </div>
          </div>
        </div>
        <div class="section-center">
          <p>Header</p>
        </div>
        <div class="section-right">
          <div class="multiple">
            <div class="button xsmall compact">
              <i class="icon">menu</i>
            </div>
            <div class="button xsmall compact">
              <i class="icon">apps</i>
            </div>
            <div class="button xsmall compact">
              <i class="icon">refresh</i>
            </div>
            <div class="button xsmall compact">
              <i class="icon">more_vert</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-block">
      {{{sample.paragraph}}}
    </div>
    <div class="card-footer bordered pink">Footer</div>
  </div>

  {{> spinner_overlay_actions}}

</template>

<!-- ACTIONS -->

<template name="spinner_overlay_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Get" "api_get ()"}}}
    {{{sw.action "Toggle" "api ( 'toggle' )"}}}
    {{{sw.action "Open" "api ( 'open' )"}}}
    {{{sw.action "Close" "api ( 'close' )"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  <script>
    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function api_get () {
      var gets = lodash.map ( $('.overlayerable'), function ( overlayerable ) {
        return $(overlayerable).spinnerOverlay ( 'isOpen' );
      });
      $.toast ( gets.join ( ' - ' ) );
    }

    function api ( action ) {
      $('.overlayerable').spinnerOverlay ( action );
    }
  </script>

</template>
