
<!-- SUBSCRIBER -->

<template name="subscriber">

  {{{sw.divider "Subscriber"}}}

  {{{sw.subscriber url="/subscriber-update"}}}
  {{{sw.subscriber counter=10 url="/subscriber-update"}}}
  {{{sw.subscriber counter=10 state-url="/subscriber-state" url="/subscriber-update"}}}
  {{{sw.subscriber counter=10 state=true url="/subscriber-update"}}}
  {{{sw.subscriber counter=10 state=false url="/subscriber-update"}}}

  <div class="multiple">
    <div class="subscriber" data-url="/subscriber-update">
      <div class="toggle" data-text-on="Custom Subscribe" data-text-off="Custom Unsubscribe"></div>
      <div class="counter" data-counter="10"></div>
    </div>
    <div class="spacer"></div>
    <div class="subscriber" data-state="true" data-url="/subscriber-update">
      <div class="toggle" data-text-on="Custom Subscribe" data-text-off="Custom Unsubscribe"></div>
      <div class="counter" data-counter="10"></div>
    </div>
    <div class="spacer"></div>
    <div class="subscriber" data-state="false" data-url="/subscriber-update">
      <div class="toggle" data-text-on="Custom Subscribe" data-text-off="Custom Unsubscribe"></div>
      <div class="counter" data-counter="10"></div>
    </div>
    <div class="spacer"></div>
  </div>

  <div class="subscriber multiple joined" data-url="/subscriber-update">
    <div class="toggle button bordered secondary"></div>
    <div class="counter label compact bordered pointing-left secondary inverted" data-counter="10"></div>
  </div>

  {{> subscriber_actions}}

</template>

<!-- ACTIONS -->

<template name="subscriber_actions">

  {{{sw.divider "API"}}}

  <div class="multiple">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Get" "api_get ()"}}}
    <div class="multiple joined">
      <div class="label bordered gray pointing-right">Set</div>
      {{{sw.action "false" "api ( 'set', false )"}}}
      {{{sw.action "true" "api ( 'set', true )"}}}
      {{{sw.action "null" "api ( 'set', null )"}}}
    </div>
    {{{sw.action "Reset" "api ( 'reset' )"}}}
    {{{sw.action "Toggle" "api ( 'toggle' )"}}}
    {{{sw.action "Subscribe" "api ( 'subscribe' )"}}}
    {{{sw.action "Unsubscribe" "api ( 'unsubscribe' )"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function api ( action, extra ) {
      $('.subscriber').subscriber ( action, extra );
    }

    function api_get () {
      let result = $('.subscriber').first ().subscriber ( 'get' );
      $.toast ( JSON.stringify ( result ) );
    }
  </script>

</template>
