
<!-- TABLE -->

<template name="table">

  {{{sw.divider "Table"}}}

  <table class="table white celled">
    <thead>
      <tr>
        <th class="text-center xs-1">Int</th>
        <th>String</th>
        <th>Date</th>
        <th class="text-center">Options</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="100%">
          <div class="multiple center-y">
            <div class="centerer">20 Rows - Page 3 of 5</div>
            <div class="spacer"></div>
            {{{sw.pagination current=2 total=5}}}
          </div>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="table-row-empty hidden">
        <td colspan="100%">Empty</td>
      </tr>
      <tr>
        <td class="text-center">1</td>
        <td>Foo</td>
        <td>753462000</td>
        <td class="text-center">-</td>
      </tr>
      <tr>
        <td class="text-center">2</td>
        <td>Bar</td>
        <td>16/11/1993</td>
        <td class="text-center">
          <div class="button bordered small disabled compact">
            <i class="icon">settings</i>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-center">3</td>
        <td>Baz</td>
        <td>16 Nov 1993</td>
        <td class="text-center">
          <div class="button bordered small compact">
            <i class="icon">settings</i>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-center">4</td>
        <td>Qux</td>
        <td>November 16th, 1993</td>
        <td class="text-center">
          <div class="multiple joined center-x">
            <div class="button bordered small">Button</div>
            <div class="button bordered small compact">
              <i class="icon">more_vert</i>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  {{> table_actions}}

</template>

<!-- ACTIONS -->

<template name="table_actions">

  {{{sw.divider "Remove"}}}

  <div class="multiple">
    {{{sw.action "Header" "remove_element ( 'table.table thead' )"}}}
    {{{sw.action "Body" "remove_element ( 'table.table tbody' )"}}}
    {{{sw.action "Footer" "remove_element ( 'table.table tfoot' )"}}}
    {{{sw.action "Rows" "clear_table ()"}}}
  </div>

  {{{sw.divider "Style"}}}

  <div class="multiple">
    {{{sw.checkAction "Bordered" "toggle_class ( 'bordered' )"}}}
    {{{sw.checkAction "Compact" "toggle_class ( 'compact' )"}}}
    {{{sw.checkAction "Collapsed" "toggle_class ( 'collapsed' )"}}}
    {{{sw.checkAction "Equal" "toggle_class ( 'equal' )"}}}
    {{{sw.checkAction "Separated" "toggle_class ( 'separated' )"}}}
    {{{sw.checkAction "Celled" "toggle_class ( 'celled' )" true}}}
    {{{sw.checkAction "Striped" "toggle_class ( 'striped' )"}}}
    {{{sw.checkAction "Hoverable" "toggle_class ( 'hoverable' )"}}}
    {{{sw.checkAction "Truncated" "toggle_class ( 'truncated' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "enable ()" true}}}
    {{{sw.radioAction "Disabled" "state" "disable ()"}}}
  </div>

  <script>
    function toggle_class ( name ) {
      $('table.table').toggleClass ( name );
    }

    function enable () {
      $('table.table').removeClass ( 'disabled' );
    }

    function disable () {
      $('table.table').addClass ( 'disabled' );
    }

    function clear_table () {
      $('table.table').tableHelper ( 'clear' );
    }

    function remove_element ( selector ) {
      $(selector).remove ();
    }
  </script>

</template>
