
<!-- TABS -->

<template name="tabs">

  {{{sw.divider "Tabs"}}}

  <div class="tabs">
    <div class="tabs-triggers">
      <div class="button bordered">
        <i class="icon">chat</i>
      </div>
      <div class="button bordered">
        <i class="icon">restore</i>
      </div>
      <div class="button bordered active">Text</div>
      <div class="button bordered">
        <i class="icon">settings</i>
      </div>
    </div>
    <div class="tabs-containers">
      <div class="container bordered">
        <div class="label corner bottom-right xsmall primary">
          <span>1</span>
        </div>
        {{{sample.paragraph}}}
      </div>
      <div class="container bordered">
        <div class="label corner bottom-right xsmall secondary">
          <span>2</span>
        </div>
        {{{sample.paragraph}}}
      </div>
      <div class="container bordered active">
        <div class="label corner bottom-right xsmall tertiary">
          <span>3</span>
        </div>
        {{{sample.paragraph}}}
      </div>
      <div class="container bordered">
        <div class="label corner bottom-right xsmall quaternary">
          <span>4</span>
        </div>
        {{{sample.paragraph}}}
      </div>
    </div>
  </div>

  {{> tabs_actions}}

</template>

<template name="tabs_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "Direction"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Top" "direction" "set_direction ( 'top' )" true}}}
    {{{sw.radioAction "Right" "direction" "set_direction ( 'right' )"}}}
    {{{sw.radioAction "Bottom" "direction" "set_direction ( 'bottom' )"}}}
    {{{sw.radioAction "Left" "direction" "set_direction ( 'left' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function set_direction ( direction ) {
      var directions = ['top', 'right', 'bottom', 'left'];
      for ( var i = 0, l = directions.length; i < l; i++ ) {
        $('.tabs').removeClass ( directions[i] ).addClass ( direction );
      }
    }

    function api ( action ) {
      $('.tabs').tabs (action);
    }
  </script>

</template>
