
<!-- TAGBOX -->

<template name="tagbox">

  {{{sw.divider "Tagbox"}}}

  <div class="tagbox bordered">
    <input name="name" value="these,are,some,tags,ain't,cool?" class="hidden">
    <div class="tagbox-tags">
      <input name="partial_name" placeholder="Add tag..." class="tagbox-partial autogrow compact">
    </div>
  </div>

  {{> tagbox_actions}}

</template>

<!-- ACTIONS -->

<template name="tagbox_actions">

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Get" "api_get ()"}}}
    <div class="multiple joined">
      <input placeholder="Tags..." name="add" class="bordered">
      {{{sw.action "Add" "api_add ()"}}}
    </div>
    <div class="multiple joined">
      <input placeholder="Tags..." name="remove" class="bordered">
      {{{sw.action "Remove" "api_remove ()"}}}
    </div>
    {{{sw.action "Clear" "api ( 'clear' )"}}}
    {{{sw.action "Reset" "api ( 'reset' )"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  {{{sw.divider "State"}}}

  <div class="multiple joined actions">
    {{{sw.radioAction "Enabled" "state" "api ( 'enable' )" true}}}
    {{{sw.radioAction "Disabled" "state" "api ( 'disable' )"}}}
  </div>

  <script>
    function getValue ( name ) {
      return $('[name="' + name + '"]').val ();
    }

    function api_get () {
      $.toast ( $('.tagbox').tagbox ( 'get' ).join ( ' - ' ) );
    }

    function api_add () {
      $('.tagbox').tagbox ( 'add', getValue ( 'add' ) );
    }

    function api_remove () {
      $('.tagbox').tagbox ( 'remove', getValue ( 'remove' ) );
    }

    function api ( action ) {
      $('.tagbox').tagbox ( action );
    }
  </script>

</template>
