
<!-- TYPOGRAPHY -->

<template name="typography">

  {{{sw.divider "Abbr"}}}

  <div class="container bordered">
    <abbr title="HyperText Markup Language">HTML</abbr>
  </div>

  {{{sw.divider "Address"}}}

  <div class="container bordered">
    <address>
      <strong>Svelto Framework</strong><br>
      If you find any bugs, please <a href="//github.com/svelto/svelto/issues">open an issue</a>.<br>
      You may also want to visit us:<br>
      Svelto Framework Inc.<br>
      1993 Somewhere street<br>
      Planet Earth, (123) 456-7890
    </address>
  </div>

  {{{sw.divider "Blockquote"}}}

  <div class="multiple equal joined">
    <div class="container bordered">
      <blockquote>
        {{{sample.paragraph}}}
      </blockquote>
    </div>
    <div class="container bordered">
      <blockquote>
        {{{sample.paragraph}}}
        <footer>The source is
          <cite>Someone</cite>
        </footer>
      </blockquote>
    </div>
  </div>

  {{{sw.divider "Code"}}}

  <div class="container bordered">
    <p>This contains some <code>code ()</code>, does it look nice?</p>
  </div>

  {{{sw.divider "Headings"}}}

  <div class="container bordered">
    <h1>H1 - Heading title <small>Small subheader</small></h1>
    <h2>H2 - Heading title <small>Small subheader</small></h2>
    <h3>H3 - Heading title <small>Small subheader</small></h3>
    <h4>H4 - Heading title <small>Small subheader</small></h4>
    <h5>H5 - Heading title <small>Small subheader</small></h5>
    <h6>H6 - Heading title <small>Small subheader</small></h6>
  </div>

  {{{sw.divider "Kbd"}}}

  <div class="container bordered">
    <kbd>ctrl</kbd> + <kbd>alt</kbd> + <kbd>canc</kbd>, <kbd>ctrl + alt + canc</kbd>
  </div>

  {{{sw.divider "Link"}}}

  <div class="container bordered">
    <p>This contains a <a href="#">link</a>, does it look nice? <span>Even <a href="#">this one</a> inside a span?</span></p>
  </div>

  <div class="container bordered">
    <p>
      <a href="#" class="link-primary">Primary</a>
      <a href="#" class="link-secondary">Secondary</a>
      <a href="#" class="link-tertiary">Tertiary</a>
      <a href="#" class="link-quaternary">Quaternary</a>
      <a href="#" class="link-black">Black</a>
      <a href="#" class="link-blue">Blue</a>
      <a href="#" class="link-brown">Brown</a>
      <a href="#" class="link-gray">Gray</a>
      <a href="#" class="link-green">Green</a>
      <a href="#" class="link-olive">Olive</a>
      <a href="#" class="link-orange">Orange</a>
      <a href="#" class="link-pink">Pink</a>
      <a href="#" class="link-purple">Purple</a>
      <a href="#" class="link-red">Red</a>
      <a href="#" class="link-teal">Teal</a>
      <a href="#" class="link-violet">Violet</a>
      <a href="#" class="link-white">White</a>
      <a href="#" class="link-yellow">Yellow</a>
      <a href="#" class="link-error">Error</a>
      <a href="#" class="link-success">Success</a>
      <a href="#" class="link-warning">Warning</a>
      <a href="#" class="link-base">Base</a>
      <a href="#" class="link-inherit">Inherit</a>
      <a href="#" class="link-transparent">Transparent</a>
    </p>
  </div>

  {{{sw.divider "Lists"}}}

  <div class="multiple equal joined">
    <div class="container bordered">
      <ul>
        <li>{{sample.text 3}}</li>
        <li>{{sample.text 3}}</li>
        <li>{{sample.text 3}}
          <ul>
            <li>{{sample.text 3}}</li>
            <li>{{sample.text 3}}</li>
          </ul>
        </li>
        <li>{{sample.text 3}}</li>
      </ul>
    </div>
    <div class="container bordered">
      <ul class="no-bullet">
        <li>{{sample.text 3}}</li>
        <li>{{sample.text 3}}</li>
        <li>{{sample.text 3}}
          <ul>
            <li>{{sample.text 3}}</li>
            <li>{{sample.text 3}}</li>
          </ul>
        </li>
        <li>{{sample.text 3}}</li>
      </ul>
    </div>
    <div class="container bordered">
      <ol>
        <li>{{sample.text 3}}</li>
        <li>{{sample.text 3}}</li>
        <li>{{sample.text 3}}
          <ul>
            <li>{{sample.text 3}}</li>
            <li>{{sample.text 3}}</li>
          </ul>
        </li>
        <li>{{sample.text 3}}</li>
      </ol>
    </div>
    <div class="container bordered">
      <dl>
        <dt>{{sample.text 3}}</dt>
        <dd>{{sample.text 3}}</dd>
      </dl>
      <dl>
        <dt>{{sample.text 3}}</dt>
        <dd>{{sample.text 3}}</dd>
      </dl>
    </div>
  </div>

  {{{sw.divider "Mark"}}}

  <div class="container bordered">This contains a <mark>mark</mark>, does it look nice?</div>

  {{{sw.divider "Paragraph"}}}

  <div class="container bordered">
    <p>{{sample.text}}</p>
  </div>

  {{{sw.divider "Pre"}}}

  <div class="container bordered">
    <pre>console.log ( 'This is an example pre block' );</pre>
  </div>

  {{{sw.divider "Samp"}}}

  <div class="container bordered">
    <p>This contains a <samp>samp</samp>, does it look nice?</p>
  </div>

  {{{sw.divider "Small"}}}

  <div class="container bordered">What's a <small>man</small> to a king? What's a <small>king</small> to a god? What's a <small>god</small> to a non believer?</div>

  {{{sw.divider "Others"}}}

  <div class="container bordered">
    <p>
      <cite>cite</cite>
      <del>deleted</del>
      <em>empathize</em>
      <ins>inserted</ins>
      <i>italics</i>
      <span>span</span>
      <s>strikethrough</s>
      <strong>strong</strong>
      <u>underlined</u>
    </p>
  </div>

</template>
