
<!-- ZOOMABLE -->

<template name="zoomable">

  {{{sw.divider "Zoomable"}}}

  <div class="container bordered clearfix">
    <p>
      <img src="{{sample.photoThumbBigUrl}}" class="large floated right zoomable"/>
      {{{sample.text 75}}}
    </p>
  </div>

  {{{sw.divider "Original"}}}

  <img src="{{sample.photoThumbBigUrl}}" data-original="{{sample.photoUrl}}" data-width="4000" data-height="2251" class="large centered zoomable"/>

  {{{sw.divider "Magnified"}}}

  <img src="{{sample.photoThumbBigUrl}}" data-original="{{sample.photoUrl}}" data-width="4000" data-height="2251" class="large centered zoomable magnified"/>

  {{{sw.divider "API"}}}

  <div class="multiple actions">
    {{{sw.action "Init" "api ()"}}}
    {{{sw.action "Toggle" "api ( 'toggle', true )"}}}
    {{{sw.action "Zoom" "api ( 'zoom', true )"}}}
    {{{sw.action "Unzoom" "api ( 'unzoom', true )"}}}
    {{{sw.action "Destroy" "api ( 'destroy' )"}}}
  </div>

  <script>
    function api ( action, first ) {
      if ( first ) {
        $('.zoomable').first ().zoomable ( action );
      } else {
        $('.zoomable').zoomable ( action );
      }
    }
  </script>

</template>
