
//- =========================================================================
//- Svelto - Datepicker v0.2.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin datepicker
  .datepicker&attributes(attributes)
    input(type=text name="datepicker")
    .datepicker-navigation
      +button-icon("chevron_left")(title="Previous month").datepicker-navigation-prev
      .datepicker-navigation-title
      +button-icon("chevron_right")(title="Next month").datepicker-navigation-next
    .datepicker-calendar
      .datepicker-days-names
        .datepicker-day-name(title="Monday") M
        .datepicker-day-name(title="Tuesday") T
        .datepicker-day-name(title="Wednesday") W
        .datepicker-day-name(title="Thursday") T
        .datepicker-day-name(title="Friday") F
        .datepicker-day-name(title="Saturday") S
        .datepicker-day-name(title="Sunday") S
      .datepicker-days
        .datepicker-day-prev 23
        .datepicker-day-prev 24
        .datepicker-day-prev 25
        .datepicker-day-prev 26
        .datepicker-day-prev 27
        .datepicker-day-prev 28
        .datepicker-day-prev 29
        .datepicker-day-prev 30
        .datepicker-day-prev 31
        .datepicker-day 1
        .datepicker-day 2
        .datepicker-day 3
        .datepicker-day 4
        .datepicker-day 5
        .datepicker-day 6
        .datepicker-day 7
        .datepicker-day 8
        .datepicker-day 9
        .datepicker-day 10
        .datepicker-day 11
        .datepicker-day 12
        .datepicker-day 13
        .datepicker-day 14
        .datepicker-day 15
        .datepicker-day 16
        .datepicker-day 17
        .datepicker-day 18
        .datepicker-day 19
        .datepicker-day 20
        .datepicker-day 21
        .datepicker-day 22
        .datepicker-day 23
        .datepicker-day 24
        .datepicker-day 25
        .datepicker-day 26
        .datepicker-day 27
        .datepicker-day 28
        .datepicker-day 29
        .datepicker-day 30
        .datepicker-day 31
        .datepicker-day-next 1
        .datepicker-day-next 2
        .datepicker-day-next 3
        .datepicker-day-next 4
        .datepicker-day-next 5
        .datepicker-day-next 6
