
/* BROWSERS */

@each $browser in $browser-support-browsers {

  /* HIDDEN */

  html:not(.no-#{$browser}) .hidden-#{$browser} {
    display: none !important;
  }

  /* ONLY */

  html:not(.#{$browser}) .only-#{$browser} {
    display: none !important;
  }

}
