
// @require ../hr.scss

/* HORIZONTAL */

%hr-horizontal-base {
  @extend %hr-base;
  height: $hr-size;
  width: 100%;
}

%hr-horizontal {
  @extend %hr-horizontal-base;
  @include last-child-no-gutter ( $gutter-half );
  margin-bottom: $gutter;
}

hr.horizontal {
  @extend %hr-horizontal;
}
