
// @require ../../shape.scss

/* SAMPLE */

.square-sample {

  @extend %shape;
  @include square ( $square-sample-size );
  @include color ( $square-sample-color, $square-sample-color-force, $square-sample-color-basic );
  min-width: $square-sample-size;
  min-height: $square-sample-size;
  border-width: $square-border-width;
  border-style: $square-border-style;
  padding: $gutter-half;

  /* PARAGRAPH */

  > p {
    @include size ( $square-sample-p-size, $square-smaple-p-size-force, $square-smaple-p-size-basic );
  }

}
