
/* MODERNIZR */

@each $feature in $hidden-modernizr-features {

  /* HIDDEN */

  html:not(.no-#{$feature}) .hidden-#{$feature} {
    display: none !important;
  }

  /* ONLY */

  html:not(.#{$feature}) .only-#{$feature} {
    display: none !important;
  }

}
