
// @require ../layout_resizable.scss

/* HORIZONTAL */

.layout.horizontal.resizable {

  &.sash-dragging {

    cursor: col-resize !important;

    & > *:not(.sash) {
      pointer-events: none !important;
    }

  }

  & > .sash {
    @include absolute ( 0 auto 0 auto );
    cursor: col-resize;
    width: $layout-resizable-sash-size;
    margin-left: - $layout-resizable-sash-size / 2;
    transform: translateX( - $layout-resizable-sash-size / 2 ); // Starting hidden
  }

}
