
// @require ../layout_resizable.scss

/* VERTICAL */

.layout.vertical.resizable {

  &.sash-dragging {
    cursor: row-resize !important;
  }

  & > .sash {
    @include absolute ( auto 0 auto 0 );
    cursor: row-resize;
    height: $layout-resizable-sash-size;
    margin-top: - $layout-resizable-sash-size / 2;
    transform: translateY( - $layout-resizable-sash-size / 2 ); // Starting hidden
  }

}
