
// @require core/colors/variables.scss
// @require core/gutter/variables.scss
// @require core/reset/variables.scss

/* HEADER */

$layout-header-bg-color: darken( if( color-exists( $body-color ), nth( map-get( $colors, $body-color ), 1 ), #eceff1 ), 70 ) !default;
$layout-header-border-color: darken( $layout-header-bg-color, $color-border-darken-amount ) !default;
$layout-header-color: $color-black-text !default; // The bg color is quite a bit darkened

/* CONTENT */

$layout-content-padding-x: $gutter !default;
$layout-content-padding-y: $layout-content-padding-x !default;

/* FOOTER */

$layout-footer-bg-color: $layout-header-bg-color !default;
$layout-footer-border-color: $layout-header-border-color !default;
$layout-footer-color: $layout-header-color !default;
