
// @require core/reset/reset.scss
// @require core/widget/widget.scss

/* NUMBOX */

.numbox {

  @extend %widget;
  @include children-no-gutter ();
  @include color ( $numbox-color, $numbox-color-force, $numbox-color-basic );
  display: flex;
  border-radius: $numbox-border-radius;

  /* SEGMENTS */

  > :not(:first-child) {
    @include border-left-radius ( 0 );
    border-left-width: 0;
  }

  > :not(:last-child) {
    @include border-right-radius ( 0 );
    border-right-width: 0;
  }

  /* INPUT */

  input {
    text-align: center;
  }

}
