
// @require widgets/label/variables.scss

/* NUMBOX */

$numbox-color: $label-color !default;
$numbox-color-force: false !default;
$numbox-color-basic: true !default;

$numbox-border-radius: $label-border-radius !default;
