
// @optional core/multiple/multiple.scss

/* FLUID */

.fluid {

  /* NOT MULTIPLE */

  &:not(.multiple) {
    width: 100%;
    max-width: 100%;
    flex: 1 1 auto;
  }

  /* MULTIPLE */

  &.multiple {

    flex-grow: 1;

    &:not(.vertical) > * {
      flex: 1 1 auto;
    }

    &.vertical > * {
      width: 100%;
      max-width: 100%;
    }

  }

}
