
// @require ../icon.scss

//FIXME: Once clicked it makes the header behave weirdly (ios safari)

/* ACTIONABLE */

i.icon.actionable {

  /* ENABLED */

  &:not(.disabled) {

    /* HOVER / ACTIVE */

    &.hover,
    &:hover,
    &.active,
    &:active {

      overflow: visible;

      &:before {
        @include center-transform ();
        @include dimension ( $icon-actionable-before-size );
        position: absolute;
        z-index: -1;
        content: '';
        background-color: $icon-actionable-before-bg-color;
        border-radius: $icon-actionable-before-border-radius;
      }

    }

    /* HOVER */

    &:not(.active) {

      &.hover:before,
      &:hover:before {
        opacity: $icon-actionable-before-hover-opacity;
      }

    }

    /* ACTIVE */

    &:not(.ripple) {

      &.active:before,
      &:active:before {
        opacity: $icon-actionable-before-active-opacity;
      }

    }

  }

}
