
/* ORDER */

@each $breakpoint, $value in $breakpoints {

  $class: breakpoint-get-class( $breakpoint );

  @include media-breakpoint-up ( $breakpoint ) {

    .#{$class}-first {
      order: -1 !important;
    }

    .#{$class}-last {
      order: 1000000 !important;
    }
  }

}
