
// @require core/reset/reset.scss

/* CODE */

code {

  font-family: $code-font-family;
  background-color: $code-bg-color;
  padding: $code-padding-y $code-padding-x;
  border-radius: $code-border-radius;

  /* INSIDE PRE */

  pre > & {
    padding: 0;
    border: 0;
    background: transparent;
  }

}
