
// @require ../variables.scss

/* COMPACT */

$label-compact-padding-x: $label-padding-y !default;
$label-compact-padding-y: $label-compact-padding-x !default;

$label-compact-inner-gutter: $label-compact-padding-x * .5 !default; // Works best without spaces in the middle
