
/* SELECTOR */

@function colors-get-undefined-selector () {

  $selector: '';

  @each $class in colors-get-classes() {

    $selector: $selector + ':not(.#{$class})';

  }

  @return $selector;

}

/* CLASSES */

@function colors-get-classes () {

  $classes: ();

  @each $name, $datas in $colors {

    $classes: append( $classes, color-get-class( $name ) );

  }

  @return $classes;

}

@function color-get-class ( $color ) {

  @return $color;

}
