
// @require _/rotation/keyframes.scss

/* KEYFRAMES */

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 0%, 240%;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 181%, 240%;
    stroke-dashoffset: - 60%;
  }
  100% {
    stroke-dasharray: 181%, 240%;
    stroke-dashoffset: - 240%;
  }
}
