
<!-- HOMEPAGE -->

<template name="homepage">

  {{{sw.divider "_"}}}

  <div class="multiple">
    <a href="/_/alignment" class="button bordered green">Alignment</a>
    <a href="/_/border" class="button bordered green">Border</a>
    <a href="/_/clearfix" class="button bordered green">Clearfix</a>
    <a href="/_/cursor" class="button bordered green">Cursor</a>
    <a href="/_/display" class="button bordered green">Display</a>
    <a href="/_/flexbox" class="button bordered green">Flexbox</a>
    <a href="/_/flip" class="button bordered green">Flip</a>
    <a href="/_/float" class="button bordered green">Float</a>
    <a href="/_/margin" class="button bordered green">Margin</a>
    <a href="/_/overflow" class="button bordered green">Overflow</a>
    <a href="/_/padding" class="button bordered green">Padding</a>
    <a href="/_/position" class="button bordered green">Position</a>
    <a href="/_/rotation" class="button bordered green">Rotation</a>
    <a href="/_/screen_reader" class="button bordered">Screen Reader</a>
    <a href="/_/text" class="button bordered green">Text</a>
    <a href="/_/visibility" class="button bordered green">Visibility</a>
  </div>

  {{{sw.divider "Core"}}}

  <div class="multiple">
    <a href="/core/browser" class="button bordered green">Browser</a>
    <a href="/core/cookie" class="button bordered green">Cookie</a>
    <a href="/core/gutter" class="button bordered green">Gutter</a>
    <a href="/core/layout" class="button bordered green">Layout</a>
    <a href="/core/multiple" class="button bordered green">Multiple</a>
    <a href="/core/pointer" class="button bordered green">Pointer</a>
  </div>

  {{{sw.divider "Decorators"}}}

  <div class="multiple">
    <a href="/decorators/actionable" class="button bordered green">Actionable</a>
    <a href="/decorators/animations" class="button bordered green">Animations</a>
    <a href="/decorators/attached" class="button bordered green">Attached</a>
    <a href="/decorators/blurred" class="button bordered green">Blurred</a>
    <a href="/decorators/border_radius" class="button bordered green">Border Radius</a>
    <a href="/decorators/bordered" class="button bordered green">Bordered</a>
    <a href="/decorators/centered" class="button bordered olive">Centered</a>
    <a href="/decorators/colors" class="button bordered green">Colors</a>
    <a href="/decorators/disabled" class="button bordered green">Disabled</a>
    <a href="/decorators/floated" class="button bordered green">Floated</a>
    <a href="/decorators/fluid" class="button bordered green">Fluid</a>
    <a href="/decorators/grid" class="button bordered green">Grid</a>
    <a href="/decorators/hidden" class="button bordered green">Hidden</a>
    <a href="/decorators/highlighted" class="button bordered green">Highlighted</a>
    <a href="/decorators/limited" class="button bordered green">Limited</a>
    <a href="/decorators/obscured" class="button bordered green">Obscured</a>
    <a href="/decorators/order" class="button bordered green">Order</a>
    <a href="/decorators/pointing" class="button bordered green">Pointing</a>
    <a href="/decorators/raisable" class="button bordered green">Raisable</a>
    <a href="/decorators/scrollable" class="button bordered olive">Scrollable</a>
    <a href="/decorators/sizes" class="button bordered green">Sizes</a>
    <a href="/decorators/spaced" class="button bordered green">Spaced</a>
    <a href="/decorators/target" class="button bordered green">Target</a>
    <a href="/decorators/z_depths" class="button bordered green">Z-Depths</a>
  </div>

  {{{sw.divider "Lib"}}}

  <div class="multiple">
    <a href="/lib/autofocus" class="button bordered green">Autofocus</a>
    <a href="/lib/color" class="button bordered green">Color</a>
    <a href="/lib/embedded_css" class="button bordered green">Embedded CSS</a>
    <a href="/lib/emojify" class="button bordered green">Emojify</a>
    <a href="/lib/fullscreen" class="button bordered green">Fullscreen</a>
    <a href="/lib/fuzzy" class="button bordered green">Fuzzy</a>
    <a href="/lib/n_times_action" class="button bordered green">N Times Action</a>
    <a href="/lib/notification" class="button bordered green">Notification</a>
    <a href="/lib/one_time_action" class="button bordered green">One Time Action</a>
    <a href="/lib/positionate" class="button bordered green">Positionate</a>
    <a href="/lib/regexes" class="button bordered green">Regexes</a>
    <a href="/lib/storage" class="button bordered green">Storage</a>
    <a href="/lib/timer" class="button bordered green">Timer</a>
    <a href="/lib/touching" class="button bordered green">Touching</a>
    <a href="/lib/transform" class="button bordered green">Transform</a>
    <a href="/lib/validator" class="button bordered green">Validator</a>
  </div>

  {{{sw.divider "Widgets"}}}

  <div class="multiple">
    <a href="/widgets/accordion" class="button bordered green">Accordion</a>
    <a href="/widgets/actions" class="button bordered green">Actions</a>
    <a href="/widgets/avatar" class="button bordered green">Avatar</a>
    <a href="/widgets/badge" class="button bordered green">Badge</a>
    <a href="/widgets/breadcrumb" class="button bordered green">Breadcrumb</a>
    <a href="/widgets/button" class="button bordered olive">Button</a>
    <a href="/widgets/card" class="button bordered green">Card</a>
    <a href="/widgets/carousel" class="button bordered olive">Carousel</a>
    <a href="/widgets/centerer" class="button bordered green">Centerer</a>
    <a href="/widgets/chart" class="button bordered green">Chart</a>
    <a href="/widgets/chat" class="button bordered green">Chat</a>
    <a href="/widgets/checkbox" class="button bordered green">Checkbox</a>
    <a href="/widgets/class_switch" class="button bordered green">Class Switch</a>
    <a href="/widgets/colorpicker" class="button bordered green">Colorpicker</a>
    <a href="/widgets/container" class="button bordered green">Container</a>
    <a href="/widgets/datatables" class="button bordered green">Datatables</a>
    <a href="/widgets/datatables-pager" class="button bordered green">Datatables Pager</a>
    <a href="/widgets/datepicker" class="button bordered green">Datepicker</a>
    <a href="/widgets/divider" class="button bordered green">Divider</a>
    <a href="/widgets/draggable" class="button bordered green">Draggable</a>
    <a href="/widgets/droppable" class="button bordered green">Droppable</a>
    <a href="/widgets/editor" class="button bordered green">Editor</a>
    <a href="/widgets/embed" class="button bordered green">Embed</a>
    <a href="/widgets/emoji" class="button bordered green">Emoji</a>
    <a href="/widgets/emojipicker" class="button bordered green">Emojipicker</a>
    <a href="/widgets/emojipicker_popover" class="button bordered green">Emojipicker Popover</a>
    <a href="/widgets/expander" class="button bordered green">Expander</a>
    <a href="/widgets/figure" class="button bordered green">Figure</a>
    <a href="/widgets/flag" class="button bordered green">Flag</a>
    <a href="/widgets/flickable" class="button bordered green">Flickable</a>
    <a href="/widgets/flippable" class="button bordered green">Flippable</a>
    <a href="/widgets/footer" class="button bordered green">Footer</a>
    <a href="/widgets/form" class="button bordered green">Form</a>
    <a href="/widgets/form_ajax" class="button bordered green">Form Ajax</a>
    <a href="/widgets/form_sync" class="button bordered green">Form Sync</a>
    <a href="/widgets/form_validate" class="button bordered green">Form Validate</a>
    <a href="/widgets/fullscreenable" class="button bordered green">Fullscreenable</a>
    <a href="/widgets/header" class="button bordered green">Header</a>
    <a href="/widgets/icon" class="button bordered green">Icon</a>
    <a href="/widgets/icons" class="button bordered green">Icons</a>
    <a href="/widgets/image" class="button bordered green">Image</a>
    <a href="/widgets/infobar" class="button bordered green">Infobar</a>
    <a href="/widgets/input" class="button bordered green">Input</a>
    <a href="/widgets/input_autogrow" class="button bordered green">Input Autogrow</a>
    <a href="/widgets/justified_layout" class="button bordered">Justified Layout</a>
    <a href="/widgets/label" class="button bordered olive">Label</a>
    <a href="/widgets/lazy" class="button bordered">Lazy</a>
    <a href="/widgets/liker" class="button bordered green">Liker</a>
    <a href="/widgets/modal" class="button bordered green">Modal</a>
    <a href="/widgets/numbox" class="button bordered green">Numbox</a>
    <a href="/widgets/overlay" class="button bordered green">Overlay</a>
    <a href="/widgets/pager" class="button bordered green">Pager</a>
    <a href="/widgets/pagination" class="button bordered green">Pagination</a>
    <a href="/widgets/panel" class="button bordered green">Panel</a>
    <a href="/widgets/parallax" class="button bordered orange">Parallax</a>
    <a href="/widgets/placeholder" class="button bordered green">Placeholder</a>
    <a href="/widgets/popover" class="button bordered green">Popover</a>
    <a href="/widgets/prism" class="button bordered orange">Prism</a>
    <a href="/widgets/progressbar" class="button bordered green">Progressbar</a>
    <a href="/widgets/radio" class="button bordered green">Radio</a>
    <a href="/widgets/rails" class="button bordered green">Rails</a>
    <a href="/widgets/rater" class="button bordered orange">Rater</a>
    <a href="/widgets/remote_action" class="button bordered green">Remote Action</a>
    <a href="/widgets/remote_loader" class="button bordered green">Remote Loader</a>
    <a href="/widgets/remote_modal" class="button bordered green">Remote Modal</a>
    <a href="/widgets/remote_panel" class="button bordered green">Remote Panel</a>
    <a href="/widgets/remote_popover" class="button bordered green">Remote Popover</a>
    <a href="/widgets/ripple" class="button bordered green">Ripple</a>
    <a href="/widgets/scroller" class="button bordered green">Scroller</a>
    <a href="/widgets/sections" class="button bordered green">Sections</a>
    <a href="/widgets/select" class="button bordered green">Select</a>
    <a href="/widgets/selectable" class="button bordered green">Selectable</a>
    <a href="/widgets/selectable_actions" class="button bordered green">Selectable Actions</a>
    <a href="/widgets/shape" class="button bordered green">Shape</a>
    <a href="/widgets/slider" class="button bordered green">Slider</a>
    <a href="/widgets/spacer" class="button bordered green">Spacer</a>
    <a href="/widgets/spinner" class="button bordered green">Spinner</a>
    <a href="/widgets/spinner_overlay" class="button bordered green">Spinner Overlay</a>
    <a href="/widgets/statistic" class="button bordered green">Statistic</a>
    <a href="/widgets/subscriber" class="button bordered green">Subscriber</a>
    <a href="/widgets/switch" class="button bordered green">Switch</a>
    <a href="/widgets/table" class="button bordered green">Table</a>
    <a href="/widgets/table_helper" class="button bordered green">Table Helper</a>
    <a href="/widgets/table_sortable" class="button bordered green">Table Sortable</a>
    <a href="/widgets/tabs" class="button bordered green">Tabs</a>
    <a href="/widgets/tagbox" class="button bordered green">Tagbox</a>
    <a href="/widgets/textarea" class="button bordered green">Textarea</a>
    <a href="/widgets/textarea_autogrow" class="button bordered green">Textarea Autogrow</a>
    <a href="/widgets/time_ago" class="button bordered green">Time ago</a>
    <a href="/widgets/toast" class="button bordered green">Toast</a>
    <a href="/widgets/toolbar" class="button bordered green">Toolbar</a>
    <a href="/widgets/tooltip" class="button bordered green">Tooltip</a>
    <a href="/widgets/typography" class="button bordered green">Typography</a>
    <a href="/widgets/zoomable" class="button bordered green">Zoomable</a>
  </div>

  {{> homepage_status}}

</template>

<!-- STATUS -->

<template name="homepage_status">
  <script>
    $(function () {

      var $buttons = $('.layout-content .button'),
          green_nr = $buttons.filter ( '.green' ).length,
          olive_nr = $buttons.filter ( '.olive' ).length,
          orange_nr = $buttons.filter ( '.orange' ).length,
          red_nr = $buttons.filter ( '.red' ).length,
          others_nr = $buttons.length - green_nr - olive_nr - orange_nr - red_nr;

      $.toast ({
        body: '<p>' +
                '<span class="text-green">Ready (' + green_nr + ')</span><br/>' +
                '<span class="text-olive">Improvable (' + olive_nr + ')</span><br/>' +
                '<span class="text-orange">To fix (' + orange_nr + ')</span><br/>' +
                '<span class="text-red">Problematic (' + red_nr + ')</span><br/>' +
                '<span class="text-white">Others (' + others_nr + ')</span>' +
              '</p>',
        ttl: Infinity
      });

    });
  </script>
</template>
