
/* COLORPICKER */

.colorpicker {

    position: relative;
    margin-bottom: $layout-gutter;

    .colorpicker-brightness, .colorpicker-saturation, .colorpicker-hue {
        @include fill ();
        position: absolute;
        top: 0;
        pointer-events: none;
    }

    .colorpicker-handler {
        @include z-depth ( 2, ',' + $colorpicker-handler-shadow );
        position: absolute;
        z-index: 2;
        box-sizing: border-box;
        border: $colorpicker-handler-border-width solid $colorpicker-handler-border-color;
        background-color: $colorpicker-handler-border-color;
    }

    & > .colorpicker-saturation-brightness-wrp, & > .colorpicker-hue-wrp {
        position: relative;
        display: inline-block;
        box-sizing: content-box;
        height: $colorpicker-height;
        cursor: pointer;
        vertical-align: top;
        border: $colorpicker-wrp-border-width solid $colorpicker-wrp-border-color;
    }

    & > .colorpicker-saturation-brightness-wrp {

        width: $colorpicker-height;
        background-color: red;

        & > .colorpicker-brightness {
            background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
        }

        & > .colorpicker-saturation {
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 100%);
            z-index: 1;
        }

        & > .colorpicker-handler {
            width: $colorpicker-handler-sb-height;
            height: $colorpicker-handler-sb-width;
            margin: - #{$colorpicker-handler-sb-height / 2} 0 0 - #{$colorpicker-handler-sb-width / 2};
            cursor: move;
            border-radius: $colorpicker-handler-sb-border-radius;
        }

    }

    & > .colorpicker-hue-wrp {

        width: $colorpicker-hue-wrp-width;
        margin-left: $layout-gutter;

        & > .colorpicker-hue {
            background: linear-gradient(to bottom, red 0%, fuchsia 17%, blue 33%, aqua 50%, lime 67%, yellow 83%, red 100%);
        }

        & > .colorpicker-handler {
            width: 100%;
            height: $colorpicker-handler-hue-height;
            margin-top: - ( $colorpicker-handler-hue-height / 2 );
            cursor: ns-resize;
            border-radius: $colorpicker-handler-hue-border-radius;
        }

    }

}
