//- colorpicker.jade

mixin colorpicker
    .colorpicker&attributes(attributes)
        .colorpicker-saturation-brightness-wrp
            .colorpicker-saturation
            .colorpicker-brightness
            .colorpicker-handler
        .colorpicker-hue-wrp
            .colorpicker-hue
            .colorpicker-handler
