
// @require core/animations/variables.scss
// @require core/colors/variables.scss
// @require widgets/icon/variables.scss
// @require widgets/label/variables.scss

/* CHECKBOX */

$checkbox-icon-on: icon( 'checkbox-on' ) !default;
$checkbox-icon-on-color: $color-secondary !default;

$checkbox-icon-off: icon( 'checkbox-off' ) !default;
$checkbox-icon-off-color: inherit !default;

/* LABEL */

$checkbox-inner-gutter: $label-inner-gutter !default;

/* ANIMATION */

$checkbox-icon-animation-duration: $animation-fast !default;
