
// @require core/reset/reset.scss

//FIXME: There's a double border on Firefox Mobile
//TODO: Add a more advanced abbr, that triggers a tooltip, maybe even a pure CSS one
// We are separating the border property since the color may be `inherit`

/* ABBR */

abbr[title] {
  cursor: help;
  text-decoration: none;
  border-width: 0 0 $abbr-border-width;
  border-style: $abbr-border-style;
  border-color: $abbr-border-color;
}
