
/* FLAG */

%flag {
  display: inline-block;
  vertical-align: middle;
  width: $flag-width;
  height: $flag-height;
  background-image: url(#{$flags-path-images}flags.png#{$revision});
}

i.flag {
  @extend %flag;
}

/* FLAGS */

@each $country, $datas in $flags {

  $background-position: nth( $datas, 2 );

  .flag.#{$country} {
    background-position: $background-position;
  }

}
