
// @require core/multiple/multiple.scss

/* PAGER */

.pager {

  @extend %multiple;
  @include last-child-no-gutter ( 0, - $gutter );
  display: flex;
  position: relative;

  /* NEXT */

  > :nth-child(2),
  > .next {
    margin-left: auto;
  }

}
