//- all.jade

//- others

include others.jade

//- base

include base.jade

//- css

include container.jade
include elements.jade
include flags.jade
include icons.jade
include grid.jade
include table.jade

//- components

include advertisement.jade
include breadcrumb.jade
include button.jade
include chat.jade
include divider.jade
include header.jade
include multiple.jade
include progressBar.jade
include shapes.jade

//- javascript

include accordion.jade
include checkbox.jade
include dropdown.jade
include expander.jade
include modal.jade
include noty.jade
include radio.jade
include select.jade
include slider.jade
include spinner.jade
include switcher.jade
include syntax.jade
include tabs.jade

//- tools

include notification.jade
include tagbox.jade
