//- all.jade

//- others

include others.jade

//- base

include base.jade

//- css

include container.jade
include embedded.jade
include flags.jade
include form.jade
include icons.jade
include image.jade
include parallax.jade
include table.jade
include typography.jade

//- components

include breadcrumb.jade
include button.jade
include chat.jade
include divider.jade
include footer.jade
include header.jade
include infobar.jade
include input.jade
include label.jade
include multiple.jade
include pagination.jade
include placeholder.jade
include progressBar.jade
include shapes.jade
include spinner.jade
include textarea.jade
include toolbar.jade

//- javascript

include accordion.jade
include checkbox.jade
include colorpicker.jade
include datepicker.jade
include dropdown.jade
include expander.jade
include flippable.jade
include modal.jade
include noty.jade
include navbar.jade
include radio.jade
include select.jade
include slider.jade
include stepper.jade
include switch.jade
include syntax.jade
include tabs.jade

//- tools

include notification.jade
include tagbox.jade
