//- colorpicker.jade

mixin colorpicker
    .colorpicker&attributes(attributes)
        .colorpicker-saturation-brightness-wrp
            img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAABCAQAAACbULj8AAAAOElEQVQoz2P8/5/hPwMDGkZnwUhMGpmFySMP/sPL/0ciixBNvMp/JLuBsG/Ig7jCHHssYYtROAYAQKjoAqr2zcwAAAAASUVORK5CYII=").colorpicker-saturation
            img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEACAQAAADYN9QTAAAAPElEQVQoz2NgYGBgYGRiYGDCTuLiIjPwsDG5eASpjphIEWeiEpcSNnW1k8olI9CojohJLQQTHv6ki0ICAHVJAvvmZUjyAAAAAElFTkSuQmCC").colorpicker-brightness
            .colorpicker-handler
        .colorpicker-hue-wrp
            img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEACAIAAAD9XIvPAAAAq0lEQVQoz3XSCw6EIAwEUFR+e//LSgGxxJLMNiX6MlWJToh+OOf5BIFFyGTIht9mRgkyyftREF+Xxx2+8zA1USHJyKkYiax7+j5tVKWB1XOcvKcXm0eAjIYEspHZuLbWLhEyQK4e6zge3uMuGqiAIFGB1LPFWkuGqmCvr+fphr/+f1gflCiSkShvZn0d1Yz0t7HX7Ok6a6JKkswkCuR0q/lW8715VhRSKvg6veONiwOlIHJVAAAAAElFTkSuQmCC").colorpicker-hue
            .colorpicker-handler
