//- container.jade

mixin container(title, header_classes)
    .container&attributes(attributes)
        if title
            +container-header(title)(class=header_classes)
        block

mixin container-header(title)
    .container-header&attributes(attributes)
        +multiple
            if title
                +multiple-center
                    p= title
            block

mixin container-content
    .container-content&attributes(attributes)
        block

mixin container-footer
    .container-footer&attributes(attributes)
        block

mixin container-simple(title, header_classes)
    .container&attributes(attributes)
        if title
            +container-header(title)(class=header_classes)
        +container-content
            block
