//- dropdown.jade

//- TODO: automatically recognize if we are passing a title or an icon (if the icon is in the allowed arrays then ok, if not print it as a title)

mixin dropdown-btn(title, id)
    +button(data-dropdown="dropdown-"+id)&attributes(attributes).dropdown-btn.dropdown-trigger
        +button-center
            = title
            +icon("navigation-expand-more").right

mixin dropdown-btn-icon(icon, id)
    +button-icon(icon)(data-dropdown="dropdown-"+id)&attributes(attributes).dropdown-btn.dropdown-trigger

mixin dropdown(id)
    .dropdown(id="dropdown-"+id)&attributes(attributes)
        .top-tip
        .left-tip
        .right-tip
        +container
            block
        .bottom-tip
