//- elements.jade

mixin image(url)
    .image-wrp&attributes(attributes)
        img(src=url)
        block

mixin image-sample(url)
    +image("/assets/images/presto/sample.png")
        block

mixin image-caption
    .image-caption&attributes(attributes)
        block

mixin spacer
    .spacer
        block
