//- elements.jade

//- TODO: add iframe, embed, video, object

mixin image(url)
    .image-wrp&attributes(attributes)
        img(src=url)
        block

mixin image-caption
    .image-caption&attributes(attributes)
        block

mixin image-sample(url)
    +image("/assets/images/presto/sample.png")&attributes(attributes)
        block
