//- elements.jade

mixin image(url)
    .image-wrp&attributes(attributes)
        img(src=url)
        block

mixin image-sample(url)
    +image("/assets/images/presto/sample.png")&attributes(attributes)
        block

mixin image-caption
    .image-caption&attributes(attributes)
        block

mixin spacer
    .spacer&attributes(attributes)
        block
