//- header.jade

//- FIXME: don't use inline style

mixin header
    .header&attributes(attributes)
        block

mixin header-bg(background_image)
    .header.has-background&attributes(attributes)
        block
        .header-background(style="background: url(\"" + background_image + "\") no-repeat center center fixed")
