//- input.jade

mixin input(options)
    .input-wrp&attributes(attributes)
        if !options
            - options = {}

        input.text-field(type=(options.type || "text"), value=(options.value || ""), name=(options.name || ""), required)
        if options.label
            label= options.label
        .text-field-bar
