//- modal.jade

mixin modal(title, header_classes)
    .modal&attributes(attributes)
        .background.modal-closer
        +container
            if title
                +container-header(title)(class=header_classes)
                    +container-header-right
                        +button-icon('navigation-close').xsmall.modal-closer
                    +container-header-left
            block
