//- radio.jade

mixin radio(name, title, value, checked)
    if checked
        +button&attributes(attributes).radio.checked
            input(type="radio", name=name, value=value, checked)
            +button-center
                = title
                +icon("toggle-radio-button-on").on.right
                +icon("toggle-radio-button-off").off.right
    else
        +button&attributes(attributes).radio
            input(type="radio", name=name, value=value)
            +button-center
                = title
                +icon("toggle-radio-button-on").on.right
                +icon("toggle-radio-button-off").off.right
