//- spinner.jade

//- TODO: add placeholders labels (like selects)

mixin spinner(name, min, value, max)
    +multiple(data-min=min, data-max=max)&attributes(attributes).spinner.joined
        +button-icon("content-remove").spinner-decreaser
        +label-simple.spinner-label= value
        input(type="number", name=name, value=value)
        +button-icon("content-add").spinner-increaser
