//- tabs.jade

mixin tabs
    .tabs_wrp&attributes(attributes)
        block

mixin tabs-buttons
    .tabs-buttons.multiple.fluid.joined&attributes(attributes)
        block

mixin tabs-indicator
    .tabs-indicator&attributes(attributes)

mixin tabs-contents
    .tabs-contents&attributes(attributes)
        block
