//- textarea.jade

mixin textarea(options)
    .textarea-wrp&attributes(attributes)
        if !options
            - options = {}

        textarea.text-field(type=(options.type || "text"), name=(options.name || ""), required)
            block
        label= (options.label || "")
        .text-field-bar
