//- toolbar.jade

mixin toolbar
    .toolbar.multiple.centered&attributes(attributes)
        block

mixin toolbar-icon(icon)
    .button.actionable.compact&attributes(attributes)
        +icon(icon)
