
//- =========================================================================
//- Svelto - Table
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin table-row-empty(empty_str)
  tr&attributes(attributes).table-row-empty.hidden
    td(colspan="100%")
      if block
        block
      else
        if empty_str
          = empty_str
        else
          = "Empty"
