
//- Table

mixin table-tr-empty ( empty_str )
  tr&attributes(attributes).empty.hidden
    td(colspan="100%")
      if block
        block
      else
        if empty_str
          = empty_str
        else
          = "Empty"
