
// @require core/reset/reset.scss
// @require core/widget/widget.scss
// @require decorators/target/target.scss

/* INPUT */

%input {
  @extend %widget;
  @extend %targetable;
  @include color ( $input-color, $input-color-force, $input-color-basic );
  display: flex;
  flex-shrink: 1;
  min-width: 0;
  border-radius: $input-border-radius;
  line-height: $line-height;
  padding: $input-padding-y $input-padding-x;
}

input {
  @extend %input;
}
