
// @require widgets/label/variables.scss

/* INPUT */

$input-color: $label-color !default;
$input-color-force: false !default;
$input-color-basic: true !default;

$input-border-radius: $label-border-radius !default;

$input-padding-x: $label-padding-x !default;
$input-padding-y: $label-padding-y !default;
