
// @require ../colors.scss

/* TEXT */

@each $name, $datas in $colors {

  @if index( $text-colors, $name ) {

    $class: color-get-class( $name );

    $bg: nth( $datas, 1 );

    .text-#{$class} {
      color: $bg !important;
    }

  }

}
