
// @require ../overlay.scss

/* CLOSE */

.spinner-overlay:not(.open) {

  /* CHILDREN */

  > * {
    opacity: 0;
    transform: scale(0);
  }

  /* SPINNER */

  .spinner {

    animation-play-state: paused;

    /* CIRCLE */

    circle {
      animation-play-state: paused;
    }

  }

}
