
// @require core/gutter/variables.scss
// @require decorators/border_radius/variables.scss

/* CONTAINER */

$container-color: 'white' !default;
$container-color-force: false !default;
$container-color-basic: true !default;

$container-border-radius: $rounded-border-radius !default;

$container-padding-x: $gutter !default;
$container-padding-y: $container-padding-x !default;
