
// @require ../message.scss
// @require decorators/pointing/directions/left.scss

/* LEFT */

.chat-message.direction-left {

  align-self: flex-start;

  /* LEVELS */

  &.level-3,
  &[class*='level-'] {
    padding-left: $chat-message-level-3-offset;
  }

  &.level-2 {
    padding-left: $chat-message-level-2-offset;
  }

  &.level-1 {
    padding-left: $chat-message-level-1-offset;
  }

  /* IMAGE */

  .chat-message-img {
    order: 1;
  }

  /* CONTENT */

  .chat-message-content {
    order: 2;
    margin-left: $gutter;
  }

}

/* CLIP-PATH SUPPORTED */

html.clip-path-polygon,
html.clip-path-url {

  /* CONTENT */

  .chat-message.direction-left .chat-message-content {

    margin-left: calc(#{$gutter-half} + #{$pointing-tip-diagonal-half});

    /* HEADER */

    > .card-header {
      @extend %pointing-left-base;
    }

  }

}
