
// @require ../message.scss
// @require decorators/pointing/directions/right.scss

/* RIGHT */

.chat-message.direction-right {

  align-self: flex-end;

  /* LEVELS */

  &.level-3,
  &[class*='level-'] {
    padding-right: $chat-message-level-3-offset;
  }

  &.level-2 {
    padding-right: $chat-message-level-2-offset;
  }

  &.level-1 {
    padding-right: $chat-message-level-1-offset;
  }

  /* IMAGE */

  .chat-message-img {
    order: 2;
  }

  /* CONTENT */

  .chat-message-content {
    order: 1;
    margin-right: $gutter;
  }

}

/* CLIP-PATH SUPPORTED */

html.clip-path-polygon,
html.clip-path-url {

  /* CONTENT */

  .chat-message.direction-right .chat-message-content {

    margin-right: calc(#{$gutter-half} + #{$pointing-tip-diagonal-half});

    /* HEADER */

    > .card-header {
      @extend %pointing-right-base;
    }

  }

}
