
// @require ../tabs.scss

/* HORIZONTAL */

.tabs.horizontal {

  flex-direction: row;

  /* TRIGGERS */

  > .tabs-triggers {

    flex-direction: column;

    /* TRIGGER */

    > :not(:first-child) {
      @include border-top-radius ( 0 );
      border-top-width: 0;
    }

    > :not(:last-child) {
      @include border-bottom-radius ( 0 );
    }

  }

  /* CONTAINERS */

  > .tabs-containers {

    display: flex;
    flex-direction: column;
    flex: 1 1 auto; // IE-10/11 sets flex-shrink to 0

    /* CONTAINER */

    > * {
      flex: 1 1 auto; // IE-10/11 sets flex-shrink to 0
    }

  }

}
