
// @require ./horizontal.scss

/* LEFT */

.tabs.left {

  @extend .tabs.horizontal;

  /* TRIGGERS */

  > .tabs-triggers {

    order: 0;

    /* TRIGGER */

    > :first-child {
      border-top-right-radius: 0;
    }

    > :last-child {
      border-bottom-right-radius: 0;
    }

  }

  /* CONTAINERS */

  .tabs-containers {

    order: 1;

    /* CONTAINER */

    > * {
      @include border-left-radius ( 0 );
      border-left-width: 0;
    }

  }

}
