
/* BORDER RADIUS */

.sharp {
  border-radius: $sharp-border-radius !important;
}

.rounded {
  border-radius: $rounded-border-radius !important;
}

.circular {
  border-radius: $circular-border-radius !important;
}
