
// @require core/reset/reset.scss
// @require decorators/actionable/actionable.scss

//TODO: Make it more visually appealing
//TODO: Add support for automatic color selection

/* LINK */

a {

  @include actionable-inline ();
  @include text-wrap ();
  color: inherit;
  text-decoration: none;

  /* STYLE */

  // Elsewhere this might be an unwanted style

  p &,
  li &,
  th &,
  td &,
  address & {

    @include color-link ( $link-color, $link-color-force, $link-color-basic );

    &:hover {
      text-decoration: underline;
    }

  }

}
