
/* TAGBOX */

$tagbox-color: 'transparent';
$tagbox-color-basic: true;

/* INPUT */

$tagbox-input-color: 'transparent';
$tagbox-input-color-basic: true;

$tagbox-input-size: 'medium';

$tagbox-input-min-width: 6.5em;
