
//- =========================================================================
//- Svelto - Tagbox
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    name: '', // Input name
    tags: '', // Comma (by default) separated list of tags
    label: '' // New tag input partial
  }

mixin tagbox(options)
  - options = options || {};
  - options.tags = options.tags || "";
  - options.label = options.label || "Add tag...";
  .tagbox&attributes(attributes)
    if options.name
      input(type="text" name=options.name value=options.tags).hidden
    else
      input(type="text" value=options.tags).hidden
    +multiple.tagbox-tags
      if options.name
        +input({ name: "partial_" + options.name, label: options.label }).tagbox-partial.autogrow.compact.no-floating.no-bar
      else
        +input({ name: "partial", label: options.label }).tagbox-partial.autogrow.compact.no-floating.no-bar
