
//- =========================================================================
//- Svelto - Tagbox v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    name: '', // Input name
    tags: '', // Comma (by default) separated list of tags
    label: '' // New tag input placeholder
  }

mixin tagbox(options)
  - options = options || {};
  - options.tags = options.tags || "";
  - options.label = options.label || "Add tag...";
  +container&attributes(attributes).tagbox
    if options.name
      input(type="text" name=options.name value=options.tags)
    else
      input(type="text" value=options.tags)
    +multiple
      if options.name
        +input({ name: "placeholder_" + options.name, label: options.label }).autogrow.compact.tagbox-partial.no-floating.no-bar
      else
        +input({ name: "placeholder", label: options.label }).autogrow.compact.tagbox-partial.no-floating.no-bar
