
/* IMAGE */

@mixin image-retina ( $image-width, $image-height, $file-1x, $file-2x, $file-3x: false ) {

    background-image: url($file-1x);

    @include hdpi ( 2 ) {
        background-image: url($file-2x);
        background-size: $image-width $image-height;
    }

    @if $file-3x != false {

        @include hdpi ( 3 ) {
            background-image: url($file-2x);
            background-size: $image-width $image-height;
        }

    }

}
