
/* TYPOGRAPHY */

@mixin ellipsis ( $width: 100% ) {
    display: inline-block;
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

@mixin word-wrap ( $wrap: break-word ) {
    word-wrap: $wrap;
    @if $wrap == break-word {
        overflow-wrap: break-word;
        word-break: break-all;
    }
}
