
//- =========================================================================
//- Svelto - Progressbar v0.2.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    value: '', // Percentage
    colors: { // Colors to use for the progressbar
      on: '', // Color of the highlight part
      off: '' // Color of the unhighlighted part
    },
    decimals: '' // Amount of decimals to round the label value to
  }

mixin progressbar(options)
  - options = typeof options === "number" ? { value: options } : ( options || {} );
  - options.colors = options.colors || {};
  - options.colors.on = options.colors.on || "";
  - options.colors.off = options.colors.off || "";
  - options.decimals = options.decimals || 0;
  .progressbar(class=options.colors.off data-value=options.value, data-decimals=options.decimals)&attributes(attributes)
    .progressbar-highlight(class=options.colors.on, style="min-width: " + options.value + "%;")
