
//- Progressbar

//- TODO: Write options docs block

mixin progressbar(options, multiple)
  if typeof multiple !== 'undefined'
    - var new_options = { percentages: Array ( arguments.length ) };
    - for ( var i = 0, l = arguments.length; i < l; i++ ) {
      - new_options.percentages[i] = ( typeof arguments[i] === 'number' ) ? { value: arguments[i] } : arguments[i];
    - }
  else
    - var new_options = ( typeof options === 'number' ) ? { percentages : [{ value: options }] } : ( options.percentages ? options : { percentages: [options] } );
  - options = new_options;
  - options.decimals = options.decimals || 0;
  - var total = 0;
  .progressbar&attributes(attributes)
    .progressbar-unhighlighted
      each percentage in options.percentages
        - total += percentage.value;
        .progressbar-highlighted(class=(percentage.color || ""), style=("width: " + percentage.value + "%;"))
          if options.labeled
            .progressbar-label= +(percentage.value).toFixed(options.decimals)
    .progressbar-stripes(style=("width: " + total + "%;"))
