
//TODO: Test a multi-level popover menu

/* POPOVER */

.popover {

  @include fixed ( 0 false false 0 );
  @include z-depth ( $popover-z-depth, $popover-z-depth-force, $popover-z-depth-basic );
  z-index: $popover-z-index;
  overflow: visible;
  max-width: $popover-max-width;
  margin: 0;
  transition: none; // Safari fix
  transition-property: opacity, margin-top;
  transition-duration: $popover-animation-duration;

  /* CARD */

  &.card {
    max-height: $popover-max-height;
  }

}

/* VERTICAL SHRINKING FIX (IE-10/11) */

html.flexbox-tweener {

  .popover.card {

    max-height: none;

    > .card-block {
      max-height: $popover-max-height * .8;
    }

  }

}
