
//- Multiple

mixin multiple
  .multiple-wrp&attributes(attributes)
    .multiple
      block

//- Subs

mixin multiple-left
  .multiple-sub-spacer
  .multiple-sub&attributes(attributes).left
    +multiple
      block
  .multiple-sub-spacer

mixin multiple-center
  .multiple-sub-spacer
  .multiple-sub&attributes(attributes).center
    +multiple
      block
  .multiple-sub-spacer

mixin multiple-right
  .multiple-sub-spacer
  .multiple-sub&attributes(attributes).right
    +multiple
      block
  .multiple-sub-spacer
