
//- Image

mixin image(url)
  +container&attributes(attributes).image-wrp
    img(src=url)
    block

mixin image-caption
  +container&attributes(attributes).image-caption
    +container-content
      block

mixin image-sample(url)
  +image("/sample.png")&attributes(attributes)
    block
