
//- =========================================================================
//- Svelto - Image v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin image(url)
  +container&attributes(attributes).image-wrp
    img(src=url)
    block

mixin image-caption
  +container&attributes(attributes).image-caption
    +container-content
      block

mixin image-sample
  +image("/sample.png")&attributes(attributes)
    block
