
//- =========================================================================
//- Svelto - Image
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin image(url)
  //- TODO: Make the markup lighter
  .image-wrp&attributes(attributes)
    img(src=url)
    block

mixin image-caption
  .image-caption&attributes(attributes)
    block

mixin image-sample
  +image("/sample.png")&attributes(attributes)
    block
