
// @require core/characters/variables.scss
// @require core/gutter/variables.scss

/* BLOCKQUOTE */

$blockquote-color: 'transparent' !default;
$blockquote-color-force: false !default;
$blockquote-color-basic: true !default;

$blockquote-padding-x: $gutter !default;
$blockquote-padding-y: $blockquote-padding-x / 2 !default;

/* LINE */

$blockquote-line-width: $gutter-half !default;

$blockquote-line-bg-color: rgba( 0, 0, 0, .15 ) !default;

$blockquote-line-border-radius: $blockquote-line-width !default;

/* FOOTER */

$blockquote-footer-size: 'small' !default;
$blockquote-footer-size-force: false !default;
$blockquote-footer-size-basic: true !default;

$blockquote-footer-opacity: .85 !default;

$blockquote-footer-padding-x: 0 !default;
$blockquote-footer-padding-y: 0 !default;

$blockquote-footer-prefix: $char-mdash + $char-nbsp !default;
