//- css/colors.jade

extends ../../layout.jade

append main
    +divider Base

    +multiple
        +button.primary Primary
        +button.secondary Secondary
        +button.tertiary Tertiary
        +button.quaternary Quaternary
        +button.white White
        +button.gray Gray
        +button.black Black
        +button.yellow Yellow
        +button.olive Olive
        +button.green Green
        +button.blue Blue
        +button.violet Violet
        +button.orange Orange
        +button.purple Purple
        +button.red Red
        +button.pink Pink
        +button.teal Teal
        +button.brown Brown
        +button.transparent Transparent

    +divider Gradient

    +multiple
        +button.primary.gradient Primary
        +button.secondary.gradient Secondary
        +button.tertiary.gradient Tertiary
        +button.quaternary.gradient Quaternary
        +button.white.gradient White
        +button.gray.gradient Gray
        +button.black.gradient Black
        +button.yellow.gradient Yellow
        +button.olive.gradient Olive
        +button.green.gradient Green
        +button.blue.gradient Blue
        +button.violet.gradient Violet
        +button.orange.gradient Orange
        +button.purple.gradient Purple
        +button.red.gradient Red
        +button.pink.gradient Pink
        +button.teal.gradient Teal
        +button.brown.gradient Brown

    +divider Text

    +simple-container
        p.text-primary [PRIMARY] #[+lorem-ipsum(10, 'words')]
        p.text-secondary [SECONDARY] #[+lorem-ipsum(10, 'words')]
        p.text-tertiary [TERTIARY] #[+lorem-ipsum(10, 'words')]
        p.text-quaternary [QUATERNARY] #[+lorem-ipsum(10, 'words')]
        p.text-white [WHITE] #[+lorem-ipsum(10, 'words')]
        p.text-gray [GRAY] #[+lorem-ipsum(10, 'words')]
        p.text-black [BLACK] #[+lorem-ipsum(10, 'words')]
        p.text-yellow [YELLOW] #[+lorem-ipsum(10, 'words')]
        p.text-olive [OLIVE] #[+lorem-ipsum(10, 'words')]
        p.text-green [GREEN] #[+lorem-ipsum(10, 'words')]
        p.text-blue [BLUE] #[+lorem-ipsum(10, 'words')]
        p.text-violet [VIOLET] #[+lorem-ipsum(10, 'words')]
        p.text-orange [ORANGE] #[+lorem-ipsum(10, 'words')]
        p.text-purple [PURPLE] #[+lorem-ipsum(10, 'words')]
        p.text-red [RED] #[+lorem-ipsum(10, 'words')]
        p.text-pink [PINK] #[+lorem-ipsum(10, 'words')]
        p.text-teal [TEAL] #[+lorem-ipsum(10, 'words')]
        p.text-brown [BROWN] #[+lorem-ipsum(10, 'words')]
        p.text-transparent [TRANSPARENT] #[+lorem-ipsum(10, 'words')]
