//- css/helpers.jade

extends ../../layout.jade

append main
    +divider Blurred

    +simple-container
        +square-sample.blurred

    +divider Border

    +simple-container
        +multiple
            +square-sample.no-border
            +square-sample.rounded
            +square-sample.smooth
            +square-sample.sharp

    +divider Display

    +simple-container
        +multiple
            +square-sample.show
            +square-sample.hidden

    +divider Visibility

    +simple-container
        +multiple
            +square-sample.visible
            +square-sample.invisible

    +divider Float

    +simple-container
        +multiple
            +square-sample.left
            +square-sample.right

    +divider Flip

    +simple-container
        +multiple
            +square-sample.flipX
            +square-sample.flipY
            +square-sample.flip

    +divider Rotate

    +simple-container
        +multiple
            +square-sample.rotate-left
            +square-sample.rotate-right
            +square-sample.rotating

    +divider Text alignment

    +simple-container
        +multiple
            +square-sample.text-left
            +square-sample.text-center
            +square-sample.text-right

    +divider Text transform

    +simple-container
        +multiple
            +square-sample.text-lowercase
            +square-sample.text-uppercase
            +square-sample.text-capitalize
