//- helpers_responsive.jade

extends ../../layout.jade

append content
    +divider Visible on...

    +multiple.fluid
        div
            +container.hidden-xs.visible-sm-block X-Small
            +container.green.hidden-sm X-Small
        div
            +container.hidden-sm.visible-md-block Small
            +container.green.hidden-xs.visible-sm-block.hidden-md Small
        div
            +container.hidden-md.visible-lg-block Medium
            +container.green.hidden-xs.visible-md-block.hidden-lg Medium
        div
            +container.hidden-lg.visible-xl-block Large
            +container.green.hidden-xs.visible-lg-block.hidden-xl Large
        div
            +container.hidden-xl X-Large
            +container.green.hidden-xs.visible-xl-block X-Large

    +divider Visible on...

    +multiple.fluid.nowrap
        +multiple.vertical.fluid
            div
                +container.hidden-xs.visible-md-block X-Small and Small
                +container.green.hidden-md X-Small and Small
            div
                +container.hidden-xs.visible-sm-block.hidden-md.visible-lg-block X-Small and Medium
                +container.green.hidden-sm.visible-md-block.hidden-lg X-Small and Medium
            div
                +container.hidden-xs.visible-sm-block.hidden-lg.visible-xl-block X-Small and Large
                +container.green.hidden-sm.visible-lg-block.hidden-xl X-Small and Large
            div
                +container.hidden-xs.visible-sm-block.hidden-xl X-Small and X-Large
                +container.green.hidden-sm.visible-xl-block X-Small and X-Large
        +multiple.vertical.fluid
            div
                +container.hidden-sm.visible-lg-block Small and Medium
                +container.green.hidden-xs.visible-sm-block.hidden-lg Small and Medium
            div
                +container.hidden-sm.visible-md-block.hidden-lg.visible-xl-block Small and Large
                +container.green.hidden-xs.visible-sm-block.hidden-md.visible-lg-block.hidden-xl Small and Large
            div
                +container.hidden-sm.visible-md-block.hidden-xl Small and X-Large
                +container.green.hidden-xs.visible-sm-block.hidden-md.visible-xl-block Small and X-Large
        +multiple.vertical.fluid
            div
                +container.hidden-md.visible-xl-block Medium and Large
                +container.green.hidden-xs.visible-md-block.hidden-xl Medium and Large
            div
                +container.hidden-md.visible-lg-block.hidden-xl Medium and X-Large
                +container.green.hidden-xs.visible-md-block.hidden-lg.visible-xl-block Medium and X-Large
        +multiple.vertical.fluid
            div
                +container.hidden-lg Large and X-Large
                +container.green.hidden-xs.visible-lg-block Large and X-Large
