//- decorators/helpers_dimensions.jade

extends ../../layout.jade

append main
    +divider Standard widths

    +container-simple.width-xs X-Small
    +container-simple.width-sm Small
    +container-simple.width-md Medium
    +container-simple.width-lg Large
    +container-simple.width-xl X-Large

    +divider Standard heights

    +multiple.fluid
        +container-simple.height-xs X-Small
        +container-simple.height-sm Small
        +container-simple.height-md Medium
        +container-simple.height-lg Large
        +container-simple.height-xl X-Large

    +divider Width N in M (Grid columns number)

    +multiple
        +container-simple.width-7-in-12 1
        +container-simple.width-7-in-12 2
        +container-simple.width-7-in-12 3
        +container-simple.width-7-in-12 4
        +container-simple.width-7-in-12 5
        +container-simple.width-7-in-12 6
        +container-simple.width-7-in-12 7

    +divider Height N in M (Grid columns number)

    +multiple.vertical.height-lg
        +container-simple.height-7-in-12 1
        +container-simple.height-7-in-12 2
        +container-simple.height-7-in-12 3
        +container-simple.height-7-in-12 4
        +container-simple.height-7-in-12 5
        +container-simple.height-7-in-12 6
        +container-simple.height-7-in-12 7

    +divider Width percentages

    +container-simple.width-23-100 23
    +container-simple.width-31-100 31
    +container-simple.width-47-100 47
    +container-simple.width-59-100 59
    +container-simple.width-100-100 100

    +divider Height percentages

    +multiple.height-md.fluid
        +container-simple.height-23-100 23
        +container-simple.height-31-100 31
        +container-simple.height-47-100 47
        +container-simple.height-59-100 59
        +container-simple.height-100-100 100

    +divider ViewportWidth

    +container-simple.vwidth-23-100 23
    +container-simple.vwidth-31-100 31
    +container-simple.vwidth-47-100 47
    +container-simple.vwidth-59-100 59
    +container-simple.vwidth-100-100 100

    +divider ViewportHeight

    +multiple.fluid
        +container-simple.vheight-23-100 23
        +container-simple.vheight-31-100 31
        +container-simple.vheight-47-100 47
        +container-simple.vheight-59-100 59
        +container-simple.vheight-100-100 100
