//- decorators/helpers_dimensions.jade

extends ../../layout.jade

append main
    +divider Standard widths

    +simple-container.width-xs X-Small
    +simple-container.width-sm Small
    +simple-container.width-md Medium
    +simple-container.width-lg Large
    +simple-container.width-xl X-Large

    +divider Standard heights

    +multiple.fluid
        +simple-container.height-xs X-Small
        +simple-container.height-sm Small
        +simple-container.height-md Medium
        +simple-container.height-lg Large
        +simple-container.height-xl X-Large

    +divider Width N in M (Grid columns number)

    +row
        +column.width-7-in-12
            +simple-container 1
        +column.width-7-in-12
            +simple-container 2
        +column.width-7-in-12
            +simple-container 3
        +column.width-7-in-12
            +simple-container 4
        +column.width-7-in-12
            +simple-container 5
        +column.width-7-in-12
            +simple-container 6
        +column.width-7-in-12
            +simple-container 7

    +divider Height N in M (Grid columns number)

    +multiple.vertical.height-lg
        +simple-container.height-7-in-12 1
        +simple-container.height-7-in-12 2
        +simple-container.height-7-in-12 3
        +simple-container.height-7-in-12 4
        +simple-container.height-7-in-12 5
        +simple-container.height-7-in-12 6
        +simple-container.height-7-in-12 7

    +divider Width percentages

    +simple-container.width-23-100 23
    +simple-container.width-31-100 31
    +simple-container.width-47-100 47
    +simple-container.width-59-100 59
    +simple-container.width-100-100 100

    +divider Height percentages

    +multiple.height-md.fluid
        +simple-container.height-23-100 23
        +simple-container.height-31-100 31
        +simple-container.height-47-100 47
        +simple-container.height-59-100 59
        +simple-container.height-100-100 100

    +divider ViewportWidth

    +simple-container.vwidth-23-100 23
    +simple-container.vwidth-31-100 31
    +simple-container.vwidth-47-100 47
    +simple-container.vwidth-59-100 59
    +simple-container.vwidth-100-100 100

    +divider ViewportHeight

    +multiple.fluid
        +simple-container.vheight-23-100 23
        +simple-container.vheight-31-100 31
        +simple-container.vheight-47-100 47
        +simple-container.vheight-59-100 59
        +simple-container.vheight-100-100 100
