//- css/colors.jade

extends ../../layout.jade

append main
    +divider Directions

    +multiple
        +label-simple.highlight Default
        +label-simple.highlight.top Top
        +label-simple.highlight.right Right
        +label-simple.highlight.bottom Bottom
        +label-simple.highlight.left Left
        +label-simple.highlight.all All

    +divider Colors

    +multiple
        +button-simple.highlight.primary Primary
        +button-simple.highlight.secondary Secondary
        +button-simple.highlight.tertiary Tertiary
        +button-simple.highlight.quaternary Quaternary
        +button-simple.highlight.white White
        +button-simple.highlight.gray Gray
        +button-simple.highlight.black Black
        +button-simple.highlight.yellow Yellow
        +button-simple.highlight.olive Olive
        +button-simple.highlight.green Green
        +button-simple.highlight.blue Blue
        +button-simple.highlight.violet Violet
        +button-simple.highlight.orange Orange
        +button-simple.highlight.purple Purple
        +button-simple.highlight.red Red
        +button-simple.highlight.pink Pink
        +button-simple.highlight.teal Teal
        +button-simple.highlight.brown Brown
        +button-simple.highlight.transparent Transparent
        +button-simple.highlight.inherit Inherit
        +button-simple.highlight.base Base

    +divider Custom highlight color

    +multiple
        +button-simple.highlight.highlight-primary Primary
        +button-simple.highlight.highlight-secondary Secondary
        +button-simple.highlight.highlight-tertiary Tertiary
        +button-simple.highlight.highlight-quaternary Quaternary
        +button-simple.highlight.highlight-white White
        +button-simple.highlight.highlight-gray Gray
        +button-simple.highlight.highlight-black Black
        +button-simple.highlight.highlight-yellow Yellow
        +button-simple.highlight.highlight-olive Olive
        +button-simple.highlight.highlight-green Green
        +button-simple.highlight.highlight-blue Blue
        +button-simple.highlight.highlight-violet Violet
        +button-simple.highlight.highlight-orange Orange
        +button-simple.highlight.highlight-purple Purple
        +button-simple.highlight.highlight-red Red
        +button-simple.highlight.highlight-pink Pink
        +button-simple.highlight.highlight-teal Teal
        +button-simple.highlight.highlight-brown Brown
        +button-simple.highlight.highlight-transparent Transparent
        +button-simple.highlight.highlight-inherit Inherit
        +button-simple.highlight.highlight-base Base
