//- decorators/outline.jade

extends ../../layout.jade

append main
    +divider Outlined

    +container-simple.outlined
        +multiple
            +label-simple.outlined Label
            +button-simple.outlined Button
            +input({label: "Placeholder...", value: "Input"}).outlined.white
            +textarea({label: "Placeholder..."}).outlined.white Textarea
            +multiple.joined
                +input({label: "Placeholder...", value: "Input"}).outlined.no-floating.white
                +button-icon("action-settings").outlined
