//- decorators/outline.jade

extends ../../layout.jade

append main
    +divider Outlined

    +multiple
        +label-simple.outlined Label
        +button-simple.outlined Button
        input(value="Input").outlined
        textarea(value="Textarea").outlined
        +multiple.joined
            input(value="Input").outlined
            +button-icon("action-settings").outlined
        +multiple.joined.outlined
            input(value="Input")
            +button-icon("action-settings")
