//- decorators/outline.jade

extends ../../layout.jade

append main
    +divider Outlined

    +container-simple.outlined
        +multiple
            +label-simple.outlined Label
            +button-simple.outlined Button
            +label-icon('action-settings').outlined
            +input({label: "Placeholder...", value: "Input"}).outlined.white
            +textarea({label: "Placeholder..."}).outlined.white Textarea
            +multiple.joined
                +input({label: "Placeholder...", value: "Input"}).outlined.no-floating.white
                +button-icon("action-settings").outlined
            +multiple.outlined.joined
                +label-icon('action-settings')
                +label-simple Label

    +divider Styles

    +multiple
        +label-simple.outlined.outlined-solid Solid
        +label-simple.outlined.outlined-dotted Dotted
        +label-simple.outlined.outlined-dashed Dashed
