//- decorators/outline.jade

extends ../../layout.jade

append main
    +divider Outlined

    +multiple
        +label-simple.outlined Outlined
        +button-simple.outlined Outlined
        input.outlined
        textarea.outlined
