//- ripple.jade

extends ../../layout.jade

append content
    +divider Ripple

    +multiple
        +button.waves-effect Test
        +image-sample.waves-effect
        +image-sample.waves-effect.waves-light
        +square-sample.waves-effect

    +button.float.waves-effect +

    +container.waves-effect
        +lorem-ipsum
