//- css/sizes.jade

extends ../../layout.jade

append main
    +divider Sizes

    +multiple
        +label-simple.xxxxxsmall XXXXX-Small
        +label-simple.xxxxsmall XXXX-Small
        +label-simple.xxxsmall XXX-Small
        +label-simple.xxsmall XX-Small
        +label-simple.xsmall X-Small
        +label-simple.small Small
        +label-simple.medium Medium
        +label-simple.large Large
        +label-simple.xlarge X-Large
        +label-simple.xxlarge XX-Large
        +label-simple.xxxlarge XXX-Large
        +label-simple.xxxxlarge XXXX-Large
        +label-simple.xxxxxlarge XXXXX-Large
