//- css/sizes.jade

extends ../../layout.jade

append content
    +divider Sizes

    +multiple
        +button.xxxxxsmall XXXXX-Small
        +button.xxxxsmall XXXX-Small
        +button.xxxsmall XXX-Small
        +button.xxsmall XX-Small
        +button.xsmall X-Small
        +button.small Small
        +button.medium Medium
        +button.large Large
        +button.xlarge X-Large
        +button.xxlarge XX-Large
        +button.xxxlarge XXX-Large
        +button.xxxxlarge XXXX-Large
        +button.xxxxxlarge XXXXX-Large
