//- css/sizes.jade

extends ../../layout.jade

append main
    +divider Sizes

    +multiple
        +label.xxxxsmall
            +label-left
                +icon('navigation-menu')
            +label-center XXXX-Small
        +label.xxxsmall
            +label-left
                +icon('navigation-menu')
            +label-center XXX-Small
        +label.xxsmall
            +label-left
                +icon('navigation-menu')
            +label-center XX-Small
        +label.xsmall
            +label-left
                +icon('navigation-menu')
            +label-center X-Small
        +label.small
            +label-left
                +icon('navigation-menu')
            +label-center Small
        +label.medium
            +label-left
                +icon('navigation-menu')
            +label-center Medium
        +label.large
            +label-left
                +icon('navigation-menu')
            +label-center Large
        +label.xlarge
            +label-left
                +icon('navigation-menu')
            +label-center X-Large
        +label.xxlarge
            +label-left
                +icon('navigation-menu')
            +label-center XX-Large
        +label.xxxlarge
            +label-left
                +icon('navigation-menu')
            +label-center XXX-Large
        +label.xxxxlarge
            +label-left
                +icon('navigation-menu')
            +label-center XXXX-Large
