
// @require core/colors/functions.scss

/* GRADIENT */

@function gradient-get-start-end-from-color ( $color ) {

  @if color-exists( $color ) {

    $datas: map-get( $colors, $color );

    $start: nth( $datas, 2 ); // Hover
    $end: nth( $datas, 3 ); // Active

    @return ( $start, $end );

  }

}
