
// @require ../embed.scss

/* RATIOS */

@each $ratio in $embed-ratios {

  $width: nth($ratio, 1);
  $height: nth($ratio, 2);

  .embed.ratio-#{$width}-#{$height} {
    padding-bottom: ( $height * 100 / $width ) * 1%;
  }

}
