
/* PATHS */

$path-root: '/' !default;
$path-static: $path-root + 'static/' !default;
$path-json: $path-static + 'json/' !default;
$path-fonts: $path-static + 'fonts/' !default;
$path-images: $path-static + 'images/' !default;
