
/* DIALOG */

.dialog {

  min-width: $dialog-min-width;

  & > .card-header {

    @include size-inline ( $dialog-title-size );
    padding: $dialog-padding-y $dialog-padding-x !important;
    font-weight: $dialog-title-font-weight;

    &:not(.bordered) {
      padding-bottom: 0 !important;
    }

  }

  & > .card-block {
    padding: $dialog-padding-y $dialog-padding-x !important;
  }

  & > .card-footer {

    .multiple.stack {
      align-items: flex-end;
    }

    .button {

      font-weight: $dialog-button-font-weight;

      &:not(:hover):not(.hover):not(:active):not(.active):focus {
        color: $dialog-button-focus-color !important;
      }

    }

    &:not(:only-child):not(.bordered) {
      padding-top: 0 !important;
    }

  }

}
