
/* ROBOTO */

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/Roboto-Thin.woff2")format("woff2"),
         url("/fonts/roboto/Roboto-Thin.woff")format("woff"),
         url("/fonts/roboto/Roboto-Thin.ttf")format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/Roboto-Light.woff2")format("woff2"),
         url("/fonts/roboto/Roboto-Light.woff")format("woff"),
         url("/fonts/roboto/Roboto-Light.ttf")format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/Roboto-Regular.woff2")format("woff2"),
         url("/fonts/roboto/Roboto-Regular.woff")format("woff"),
         url("/fonts/roboto/Roboto-Regular.ttf")format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/Roboto-Medium.woff2")format("woff2"),
         url("/fonts/roboto/Roboto-Medium.woff")format("woff"),
         url("/fonts/roboto/Roboto-Medium.ttf")format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/Roboto-Bold.woff2")format("woff2"),
         url("/fonts/roboto/Roboto-Bold.woff")format("woff"),
         url("/fonts/roboto/Roboto-Bold.ttf")format("truetype");
    font-weight: 700;
}

/* GENERAL */

*, *:before, *:after {
    box-sizing: inherit;
}

html {

    box-sizing: border-box;
    height: 100%;
    font-family: $font-family;
    font-size: $font-size-normal;
    color: $color-default-text;
    position: relative;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &.unscrollable {
        overflow: hidden;
    }

    &.dragging {
        cursor: move !important;
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        user-select: none !important;
    }

}

body {
    background-color: $color-default-bg;
    position: relative;
    height: 100%;
    height: calc(100% - ( #{$navbar-height} + #{$layout-spacing} ));
}

/* LAYOUT */

#content {
    height: calc(100% - #{$layout-spacing});
    margin: calc(#{$navbar-height} + #{$layout-spacing}) auto $layout-spacing;
    padding: 0 $layout-spacing;
}
