
/* GENERAL */

html {

    height: 100%;
    font-family: $font-family;
    font-size: $font-size-normal;
    color: $color-default-text;
    position: relative;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &.unscrollable {
        overflow: hidden;
    }

    &.dragging {
        cursor: move !important;
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        user-select: none !important;
    }

}

body {
    background-color: $color-default-bg;
    position: relative;
    height: 100%;
    height: calc(100% - ( #{$navbar-height} + #{$layout-spacing} ));
    text-align: center;
}

a {

    color: $color-default-link;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color-default-link-hover;
    }

}

p {
    margin-top: 0px;
    margin-bottom: $layout-spacing;
    text-align: justify;
}

blockquote {

    border: 1px solid $general-section-border-bg;
    border-left-width: ( $layout-spacing / 2 );
    margin: 0;
    padding: $layout-spacing;
    background-color: $general-section-color-bg;
    border-radius: $border-radius-small;
    text-align: justify;

    &:before {
        color: $general-section-border-bg;
        content: open-quote;
        float: left;
        font-family: Verdana;
        font-size: $font-size-normal * 3.5;
        line-height: 0;
        margin-right: $layout-spacing;
        margin-top: 18px;
    }

}

hr {
    @include gray ( true );
    margin-bottom: $layout-spacing;
    height: 1px;
    border: none;
}

abbr[title] {
    border-bottom: 1px dotted $color-gray-border;
    cursor: help;
}

ul, ol, dl {
    margin: 0;
    text-align: left;
    padding-left: $layout-spacing * 2;
}

dd {
    margin-left: $layout-spacing * 2;
}

code, section, pre {
    display: block;
    margin: 0;
    padding: $layout-spacing;
    background-color: $general-section-color-bg;
    border-radius: $border-radius-small;
    border: 1px solid $general-section-border-bg;
}

kbd {
    @include white ( true );
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius-normal;
    margin: 0 ( $layout-spacing / 2 );
    padding: 2px 3px;
    box-shadow: $shadow-depth-1;
    font-weight: bold;
    font-size: 14px;
}

img.smooth {
    border-radius: $border-radius-normal;
}

button {
    border: none;
}

/* GENERAL CLASSES */

.rounded {
    border-radius: 10000px 10000px !important;
}

.blur {
    filter: blur(3px);
    filter: url('/images/blur.svg');
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.no-border {
    border-width: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.flipX {
    transform: rotateY(180deg);
}

.flipY {
    transform: rotateX(180deg);
}

.flip {
    transform: rotateY(180deg) rotateX(180deg);
}

.rotate-left {
    transform: rotate(-90deg);
}

.rotate-right {
    transform: rotate(90deg);
}

.rotating {
    animation: rotate 0.9s linear infinite;
}

/* MULTIPLE */

.multiple {

    display: inline-block;
    font-size: 0;
    margin-left: - $layout-half-spacing;
    margin-right: - $layout-half-spacing;
    vertical-align: middle;

    &.fluid {

        display: flex;

        & > *:not(.no-grow) {
            flex-grow: 1;
        }

    }

    &.vertical {
        display: flex;
        flex-direction: column;
    }

    & > * {
        margin-left: $layout-half-spacing;
        margin-right: $layout-half-spacing;
    }

}

/* LAYOUT */

#content {
    height: calc(100% - #{$layout-spacing});
    margin: calc(#{$navbar-height} + #{$layout-spacing}) auto $layout-spacing;
    padding: 0 $layout-spacing;
}

/* KEYFRAMES */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
