
// @require core/reset/reset.scss
// @require core/widget/widget.scss

//TODO: Add support for horizontal lists

/* LISTS */

ul,
ol,
dl {
  @extend %widget;
  padding-left: $list-padding-left;
}

dd {
  margin: 0;
  padding-left: $list-padding-left;
}

/* NESTED OL */

ol ol {
  list-style-type: upper-roman;
}
