
//- =========================================================================
//- Svelto - Accordion
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin accordion
  .accordion&attributes(attributes)
    block
