
// @require ../card.scss

//FIXME: Doesn't work properly inside a nested layout (shouldn't influence the parent layouts)

/* FULLSCREEN */

.card:not(.modal):not(.popover):not(.panel) {

  &.fullscreen,
  &.fullscreen-request {
    @include fill-fixed ();
    border-width: 0;
    border-radius: 0;
    margin: 0;
    max-width: none;
    max-height: none;
    width: 100% !important;
    height: 100% !important;
    z-index: $card-fullscreen-z-index;
  }

}
