
/* SUPPORT */

$browser-support-browsers:  ( 'chrome', 'firefox', 'edge', 'ie', 'opera', 'safari', 'uc' ) !default;
$browser-support-devices: ( 'desktop', 'mobile', 'tablet' ) !default;
$browser-support-oss: ( 'ios', 'android', 'blackberry', 'linux', 'mac', 'windows' ) !default;
