

//SOURCE: https://github.com/danielguillan/quantity-queries

/* QUANTITY */

@function _get-last-simple-selector ( $selector ) {

  $parsed: selector-parse( $selector );

  @if length( $parsed ) > 1 {
    @error '`#{$selector}` contains #{length( $parsed )} selectors but the `_get-last-simple-selector()`function accepts only 1';
  }

  $last-simple-selector: nth( nth( $parsed, 1 ), -1 );

  @return $last-simple-selector;

}

@function _quantity-build-selector ( $selector-append, $last-selector ) {

  $quantity-selector: ();

  @each $s in & {
    $last-simple-selector: '~' + if( $last-selector, $last-selector, _get-last-simple-selector( $s ) );
    $sel: selector-append( $s, $selector-append );
    $sel2: selector-nest( $sel, $last-simple-selector );
    $quantity-selector: append( $quantity-selector, $sel, 'comma' );
    $quantity-selector: append( $quantity-selector, $sel2 , 'comma' );
  }

  @return $quantity-selector;

}
