
//FIXME: When inside a modal it doens't quite look right
//FIXME: Doesn't work properly inside a nested layout (shouldn't influence the parent layouts)

/* FULLSCREEN */

.editor.fullscreen,
.editor.fullscreen-request {
  @include fill-fixed ();
  z-index: $editor-fullscreen-z-index !important;
  border-radius: 0;
  max-width: none; // Since the editor may as well be `.limited`
  width: auto; // Since the editor may have some `size-columns` classes set
  margin-bottom: 0 !important;
}
