
// @require ../floating.scss

/* COMPACT */

.label.floating.compact {
  padding: $label-floating-compact-padding-y $label-floating-compact-padding-x;
  min-height: $line-height-em + ( $label-floating-compact-padding-y * 2 );
  min-width: $line-height-em + ( $label-floating-compact-padding-x * 2 );
}
