
/* KEYFRAMES */

@keyframes spinner-multicolor {
  0%, 24% {
    stroke: $spinner-multicolor-color-first;
  }
  25%, 49% {
    stroke: $spinner-multicolor-color-second;
  }
  50%, 74% {
    stroke: $spinner-multicolor-color-third;
  }
  75%, 99% {
    stroke: $spinner-multicolor-color-fourth;
  }
}
