
// @require core/colors/variables.scss

/* MULTICOLOR */

$spinner-multicolor-color-first: $color-blue !default;
$spinner-multicolor-color-second: $color-red !default;
$spinner-multicolor-color-third: $color-yellow !default;
$spinner-multicolor-color-fourth: $color-green !default;
